<%@ Control Language="c#" AutoEventWireup="false" Codebehind="TemplatedUserControl.ascx.cs" Inherits="LendersOffice.QueryProcessor.TemplatedUserControl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
