﻿<style type="text/css">
    .AuditTable {
        width: 100%;
        text-align: left;
    }

    .FieldCell {
        width: 20%;
    }

    .ValueCell {
        width: 20%;
    }

    .MessageCell {
        width: 60%;
    }

    .Success {
        color: green;
    }
</style>
<div id="AuditPage" class="VoxAuditPage">
    <div class="modal-header">
        <h4 class="modal-title">${AuditPageTitle}</h4>
    </div>
    <div class="modal-body">
        {{if AuditPassed}}
        <div>
            <p>Data audit successful. Proceed to submit verification order.</p>
        </div>
        {{/if}}
        <div class="scrollable">
            {{each AuditResults}}
            <table class="primary-table AuditTable">
                <thead class="header">
                    <tr>
                        <td colspan="3">${Key}</td>
                    </tr>
                </thead>
                <tbody>
                    {{if Value.length == 0}}
                    <tr>
                        <td>
                            <span class="fa fa-check-circle fa-lg Success"></span>
                            <span> No errors detected</span>
                        </td>
                    </tr>
                    {{else}}
                    {{each Value}}
                    <tr>
                        <td class="FieldCell">
                            {{if FieldName == ''}}
                            <span>${FieldName}</span>
                            {{else}}
                            <a class="FieldUrl" data-url="${FieldUrl}">${FieldName}</a>
                            {{/if}}
                        </td>
                        <td class="ValueCell">
                            <span>${Value}</span>
                        </td>
                        <td class="MessageCell">
                            <span>${ErrorMessage}</span>
                        </td>
                    </tr>
                    {{/each}}
                    {{/if}}
                </tbody>
            </table>
            <br />
            {{/each}}
        </div>
    </div>
    <div class="modal-footer">
        <div>
            <input type="button" class="btn btn-flat" value="Cancel" id="AuditCancelBtn" />
            {{if AuditPassed == true}}
            <input type="button" class="btn btn-flat" value="Next" id="AuditNextBtn" />
            {{/if}}
        </div>
    </div>
</div>