﻿<tr class="DocPickerRow">
    <td class="FieldLabel"><span class="Name">${BorrowerName}</span></td>
    <td>
        <input type="hidden" class="DocId" />
        <input type="hidden" class="AppId" value="${AppId}" />
        <input type="hidden" class="BorrowerType" value="${BorrowerType}" />
        <input type="hidden" class="Key" value="${Key}" />
        <div class="NoDoc">
            <a class="UploadDocLink">upload doc</a>&nbsp;
            <a class="SelectDocLink">select doc</a>
            <span class="RequiredSpan">*</span>
            <a class="tooltips" data-html="true" data-toggle="tooltip" data-placement="bottom" title="${BorrowerName}'s authorization is required in order to place this order. Please upload or select the appropriate documentation.">
                <i class="material-icons">&#xE887;</i>
            </a>
        </div>
        <div class="DocUploaded NoShow">
            <div class="DocDescription"></div>
            <a class="ViewDocLink">view doc</a>&nbsp;
            <a class="ClearDocLink">clear doc</a>
        </div>
    </td>
</tr>