﻿<div class="SelfEmploymentRow">
    <input type="hidden" class="AppId" value="${AppId}" />
    <input type="hidden" class="BorrowerType" value="${BorrowerType}" />
    <input type="hidden" class="Key" value="${Key}" />
    <div>
        <div>Notes</div>
        <textarea class="Notes" style="width: 400px; height: 230px;"></textarea>
    </div>
    <div>
        <div class="padding-bottom-5px">Tax Preparer Information</div>
        <div class="vertical-align-bottom padding-bottom-5px">
            <span>${BorrowerName}</span>
            <label>
                <input type="checkbox" class="TaxesSelfPrepared" />Taxes are self-prepared
            </label>
        </div>
        <div class="table">
            <div>
                <div>
                    <label>Company</label>
                    <input type="text" class="RequiredInput CompanyName" />
                    <span class="RequiredSpan">*</span>
                    <a class="tooltips TaxPreparerPickerTooltip" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Choose from contacts">
                        <i class="material-icons ContactPicker TaxPreparerPicker">assignment_ind</i>
                    </a>
                    
                </div>
            </div>
            <div>
                <div>
                    <label>Street Address</label>
                    <input type="text" class="RequiredInput StreetAddress" autocomplete="new-password" />
                    <span class="RequiredSpan">*</span>
                </div>
            </div>
            <div>
                <div class="table">
                    <div>
                        <div>
                            <label>City</label>
                            <input type="text" class="RequiredInput City" autocomplete="new-password" />
                            <span class="RequiredSpan">*</span>
                        </div>
                        <div>
                            <label>State</label>
                            <select class="RequiredInput State">
                                {{each States}}
                                <option value="${this}">${this}</option>
                                {{/each}}
                            </select>
                            <span class="RequiredSpan">*</span>
                        </div>
                        <div>
                            <label>Zip</label>
                            <input type="text" class="RequiredInput RequiredInputSpecial Zipcode " autocomplete="new-password" preset="zipcode" />
                            <span class="RequiredSpan">*</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table">
                    <div>
                        <div>
                            <label>Phone Number</label>
                            <input type="text" class="RequiredInput PhoneNumber" preset="phone" />
                            <span class="RequiredSpan">*</span>
                        </div>
                        <div>
                            <label>Fax Number</label>
                            <input type="text" class="FaxNumber" preset="phone" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>