﻿<tr class="OrderRow">
    <td><span>${BorrowerName}</span></td>
    <td>
        <ul>
            {{each Employers}}
            <li class="padding-bottom-5px">${this}</li>
            {{/each}}
        </ul>
    </td>
    <td><span>${LenderServiceName}</span></td>
    <td><span>${OrderNumber}</span></td>
    <td><span>${StatusString}</span></td>
    <td>
        {{if Status == 1 || Status == 5}}
        <ul>
            {{each AssociatedEdocs}}
            <li class="padding-bottom-5px">
                {{if IsAvailable}}
                <a data-docid="${EDocId}" class="EDocLink Results">${DocumentName}</a>
                {{else}}
                <a class="DisabledLink">${DocumentName}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{else (Status == 0 || Status == 3) || !Error}}
        <a class="DisabledLink Results">results</a>
        {{else}}
        <a data-error="${Error}" class="ErrorLink Results">results</a>
        {{/if}}
    </td>
    <td>
        <input type="hidden" class="ServiceType" value="${ServiceType}" />
        <input type="hidden" class="OrderId" value="${OrderId}" />
        <input type="hidden" class="RequiresAccountId Hidden" value="${RequiresAccountId}" />
        <input type="hidden" class="UsesAccountId Hidden" value="${UsesAccountId}" />
        <input type="hidden" class="ServiceCredentialHasAccountId" value="${ServiceCredentialHasAccountId}" />
        <input type="hidden" class="ServiceCredentialId" value="${ServiceCredentialId}" />
        {{if Status == 0}}
        <a class="PollLink Action">get results</a>
        {{else Status == 1}}
        <a class="{{if ML.CanOrderVoe}}RefreshLink{{else}}DisabledLink{{/if}} Action" {{if !ML.CanOrderVoe}} title="${ML.OrderVoeDenialReason}" {{/if}}>re-verify</a>
        {{/if}}
    </td>
    <td><span>${DateOrdered}</span></td>
</tr>