<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div class="table">
                        <div>
                            <div><label>Lending Staff Notes  </label></div>
                            <div>
                                <button type="button" class="btn btn-default" ng-click="vm.PrependTimestamp(vm.loan.fields.sLendingStaffNotes)">Date &amp; Time Stamp</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLendingStaffNotes" rows="10"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>
<div lqb-load-fields="BrokerUser"></div>