<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-hide="vm.hideHeader">
                <a class="close" aria-label="Close"
                    ng-click="vm.askClose()">
                    <span aria-hidden="true">&times;</span></a>
                <h4 class="modal-title" ng-transclude="heading"></h4>
            </div>
            <div class="modal-body" ng-transclude="body"></div>
            <div class="modal-footer" ng-hide="vm.hideFooter" ng-transclude="footer">
            </div>
        </div>
    </div>
</div>
