<div class="table tb-general">
    <div>
        <div></div>
        <div><label>Event Description</label></div>
        <div><label>Date</label></div>
        <div><label>Comments</label></div>
    </div>
    <div>
        <div><label>Custom Event 1</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU1LStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU1LStatD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU1LStatN"></lqb-input></div>
    </div>
    <div>
        <div><label>Custom Event 2</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU2LStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU2LStatD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU2LStatN"></lqb-input></div>
    </div>
    <div>
        <div><label>Custom Event 3</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU3LStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU3LStatD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU3LStatN"></lqb-input></div>
    </div>
    <div>
        <div><label>Custom Event 4</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU4LStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU4LStatD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.fields.sU4LStatN"></lqb-input></div>
    </div>
</div>
