<div>
    <div><label>Application Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicApplicationD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicApplicationDLckd"></lqb-input></div>
</div>
<div>
    <div><label>GFE Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicGFED"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicGFEDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Est. Available Through</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicEstAvailableThroughD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicEstAvailableThroughDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Document Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicDocumentDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Closing Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicClosingD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicClosingDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Signing Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicSigningD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicSigningDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Cancel Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicCancelD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicCancelDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Disbursement Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicDisbursementD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicDisbursementDLckd"></lqb-input></div>
</div>
