<div>
    <div><label>Homeowner Counsel Disc Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHomeownerCounselingOrganizationDisclosureD"></lqb-input></div>
</div>
<div>
    <div><label>Disclosures Mailed Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDisclosuresMailedD"></lqb-input></div>
</div>
<div>
    <div><label>E-Sign Documents on File</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHasESignedDocumentsT"></lqb-input></div>
</div>
