<div>
    <div><label>Rate Lock Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicRateLockD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicRateLockDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Pre-Z Send Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicPreZSentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicPreZSentDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Re-Disc Send Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicReDiscSendD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicReDiscSendDLckd"></lqb-input></div>
</div>
<div>
    <div><label>Re-Disc Method</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicRedisclosureMethodT"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicRedisclosureMethodTLckd"></lqb-input></div>
</div>
<div>
    <div><label>Re-Disc Received Date</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicReDiscReceivedD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocMagicReDiscReceivedDLckd"></lqb-input></div>
</div>
