<div class="table tb-general">
    <div>
        <div></div>
        <div><label>Ordered</label></div>
        <div><label>Due</label></div>
        <div><label>Received</label></div>
        <div><label>Comments</label></div>
    </div>
    <div>
        <div>Credit Report</div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCrOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCrDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCrRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCrN"></lqb-input></div>
    </div>
    <div>
        <div>LQI Credit Report</div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aLqiCrOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aLqiCrDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aLqiCrRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aLqiCrN" maxlength="36"></lqb-input></div>
    </div>
    <div>
        <div>Business Credit Report</div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBusCrOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBusCrDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBusCrRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBusCrN"></lqb-input></div>
    </div>
    <div>
        <div><label>Pre-Funding VOE</label><lqb-input lqb-model="vm.loan.app.fields.aBPreFundVoeTypeT"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBPreFundVoeOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBPreFundVoeDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBPreFundVoeRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aBPreFundVoeN"></lqb-input></div>
    </div>
    <div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU1DocStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU1DocStatOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU1DocStatDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU1DocStatRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU1DocStatN"></lqb-input></div>
    </div>
    <div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU2DocStatDesc"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU2DocStatOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU2DocStatDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU2DocStatRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aU2DocStatN"></lqb-input></div>
    </div>
</div>

<div lqb-load-fields="aBNm"></div>
