<div class="table tb-general">
    <div>
        <div></div>
        <div><label>Ordered</label></div>
        <div><label>Due</label></div>
        <div><label>Received</label></div>
        <div><label>Comments</label></div>
    </div>
    <div>
        <div><label>Pre-Funding VOE </label> <lqb-input lqb-model="vm.loan.app.fields.aCPreFundVoeTypeT"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCPreFundVoeOd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCPreFundVoeDueD"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCPreFundVoeRd"></lqb-input></div>
        <div><lqb-input lqb-model="vm.loan.app.fields.aCPreFundVoeN"></lqb-input></div>
    </div>
</div>

<div lqb-load-fields="aCNm" hidden></div>



<div class="table">
    <div>
        <div>Notes <a class="btn btn-default" ng-click="vm.onDateStampClick()">Date &amp; time stamp</a></div>
    </div>
    <div>
        <div class="form-control-notes"><lqb-input lqb-model="vm.loan.fields.sTrNotes"></lqb-input></div>
    </div>
</div>

<div lqb-load-fields="BrokerUser" hidden></div>

<br/>
<p>WARNING: Modifying the closed date could remove your permission to edit this loan.</p>
