<div>
    <div></div>
    <div><label>Ordered</label></div>
    <div><label>Due</label></div>
    <div><label>Document Date</label></div>
    <div><label>Received</label></div>
    <div><label>Comments</label></div>
</div>
<div>
    <div><label>Preliminary Report</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPrelimRprtOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPrelimRprtDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPrelimRprtDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPrelimRprtRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPrelimRprtN"></lqb-input></div>
</div>
<div>
    <div><label>Closing Services</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sClosingServOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sClosingServDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sClosingServDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sClosingServRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sClosingServN"></lqb-input></div>
</div>
<div>
    <div><label>Appraisal Report</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sApprRprtOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sApprRprtDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sSpValuationEffectiveD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sApprRprtRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sApprRprtN"></lqb-input></div>
</div>
