<div>
    <div><label>Flood Certificate</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFloodCertOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFloodCertDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFloodCertificationDeterminationD" data-note="sFloodCertDocumentD" readonly></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFloodCertRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFloodCertN"></lqb-input></div>
</div>
<div>
    <div><label>USPS Check</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sUSPSCheckOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sUSPSCheckDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sUSPSCheckDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sUSPSCheckRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sUSPSCheckN"></lqb-input></div>
</div>
<div>
    <div><label>Payoff/Demand Statement</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPayDemStmntOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPayDemStmntDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPayDemStmntDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPayDemStmntRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sPayDemStmntN"></lqb-input></div>
</div>
<div>
    <div><label>CAIVRS</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCAIVRSOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCAIVRSDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCAIVRSDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCAIVRSRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCAIVRSN"></lqb-input></div>
</div>
<div>
    <div><label>Fraud Services</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFraudServOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFraudServDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFraudServDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFraudServRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sFraudServN"></lqb-input></div>
</div>
<div>
    <div><label>AVM</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sAVMOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sAVMDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sAVMDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sAVMRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sAVMN"></lqb-input></div>
</div>
<div>
    <div><label>HOA Certification</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHOACertOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHOACertDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHOACertDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHOACertRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sHOACertN"></lqb-input></div>
</div>
<div>
    <div><label>Estimated HUD</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sEstHUDOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sEstHUDDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sEstHUDDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sEstHUDRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sEstHUDN"></lqb-input></div>
</div>
<div>
    <div><label>CPL/ICL</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCPLAndICLOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCPLAndICLDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCPLAndICLDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCPLAndICLRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sCPLAndICLN"></lqb-input></div>
</div>
<div>
    <div><label>Wire Instructions</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sWireInstructOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sWireInstructDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sWireInstructDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sWireInstructRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sWireInstructN"></lqb-input></div>
</div>
<div>
    <div><label>Insurance(s)</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sInsurancesOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sInsurancesDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sInsurancesDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sInsurancesRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sInsurancesN"></lqb-input></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocStatDesc"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocStatOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocStatDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocStatRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU1DocStatN"></lqb-input></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocStatDesc"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocStatOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocStatDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocStatRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU2DocStatN"></lqb-input></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocStatDesc"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocStatOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocStatDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocStatRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU3DocStatN"></lqb-input></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocStatDesc"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocStatOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocStatDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocStatRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU4DocStatN"></lqb-input></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocStatDesc"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocStatOd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocStatDueD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocStatRd"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sU5DocStatN"></lqb-input></div>
</div>
<div>
    <div><label>Loan Package</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLoanPackageOrderedD"></lqb-input></div>
    <div></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLoanPackageDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLoanPackageReceivedD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLoanPackageN"></lqb-input></div>
</div>
<div>
    <div><label>Mortgage / Deed of Trust</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sMortgageDOTOrderedD"></lqb-input></div>
    <div></div>
    <div><lqb-input lqb-model="vm.loan.fields.sMortgageDOTDocumentD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sMortgageDOTReceivedD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sMortgageDOTN"></lqb-input></div>
</div>
<div>
    <div><label>Note</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sNoteOrderedD"></lqb-input></div>
    <div></div>
    <div><lqb-input lqb-model="vm.loan.fields.sDocumentNoteD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sNoteReceivedD"></lqb-input></div>
    <div><lqb-input lqb-model="vm.loan.fields.sNoteN"></lqb-input></div>
</div>
