<div class="table tb-general">
    <div>
        <div><label>Purchase Contract Date</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sPurchaseContractDate"></lqb-input></div>
    </div>
    <div>
        <div><label>Financing Contingency Exp. Date</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sFinancingContingencyExpD"></lqb-input></div>
        <div><label>Extension Date</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sFinancingContingencyExtensionExpD"></lqb-input></div>
    </div>
</div>
