﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DocMagicLoanOptionsSafeHarborDisclosureService.aspx.cs" Inherits="LendersOfficeApp.newlos.Disclosure.DocMagicLoanOptionsSafeHarborDisclosureService" %>