<div class="container-disclosures">
    <order-initial-disclosures-header step="1"></order-initial-disclosures-header>

    <div class="section">
        <div class="row wizard-inset-cell wizard-section">
            <div class="col-xs-2 nowrap none-paddingLeft">
                <button type="button" class="btn btn-default" ng-click="returnToMainPage();">Cancel Order</button>
            </div>
            <div class="col-xs-10 text-right none-paddingRight">
                <button id="GoToDocVendorAuditButton" type="button" class="btn btn-default none-margin-right"
                        ng-click="goToRequestReview();"
                        ng-if="!hasError">
                    Next - REQUEST REVIEW
                </button>
                <img id="WorkflowWarningImage"
                     class="workflow-warning"
                     ng-src="{{warningImageUrl}}"
                     ng-hide="true"
                     alt="Warning"
                     title="All of the requirements must be met to proceed with this order. If you are unable to complete the requirements yourself, please request the lender to complete on your behalf."
                     data-placement="bottom"
                     data-toggle="tooltip">
            </div>
        </div>
        <div class="row">
            <div class="padding-right-none">
                <div class="box-section-border">
                    <header class="header header-border">Loan Comparison</header>
                    <span class="none-border">Risky Features</span> include Negative amortization, Prepayment penalty, Interest-only payments,
                    Balloon payment within 7 years, Demand feature, Shared equity, and Shared appreciation.
                    <table class="primary-table none-hover-table wide">
                        <thead>
                            <tr class="header">
                                <td></td>
                                <td class="white-space-pre-wrap">Loan with the lowest rate with <span class="none-border">risky features</span></td>
                                <td class="white-space-pre-wrap">Loan with the lowest rate without <span class="none-border">risky features</span></td>
                                <td class="white-space-pre-wrap">Loan with the lowest total discount points, origination points, or origination fees</td>
                                <td>Current Loan</td>
                            </tr>
                        </thead>
                        <tr>
                            <td>Interest Rate</td>
                            <td>
                                <input type="text" preset="percent" id="sNoteIRSafeHarborWithRiskyFeatures" name="sNoteIRSafeHarborWithRiskyFeatures" ng-model="vm.antiSteeringData.sNoteIRSafeHarborWithRiskyFeatures" class=""/>
                            </td>
                            <td>
                                <input type="text" preset="percent" id="sNoteIRSafeHarborWithoutRiskyFeatures" name="sNoteIRSafeHarborWithoutRiskyFeatures" ng-model="vm.antiSteeringData.sNoteIRSafeHarborWithoutRiskyFeatures" />
                            </td>
                            <td>
                                <input type="text" preset="percent" id="sNoteIRSafeHarborLowestCost" name="sNoteIRSafeHarborLowestCost" ng-model="vm.antiSteeringData.sNoteIRSafeHarborLowestCost" />
                            </td>
                            <td>
                                {{vm.antiSteeringData.sNoteIR}}
                            </td>
                        </tr>
                        <tr>
                            <td>Total Discount points, Loan Origination Fees or Points</td>
                            <td>
                                <input type="text" preset="money" id="sTotalDiscountPointOriginationFeeSafeHarborWithRiskyFeatures" name="sTotalDiscountPointOriginationFeeSafeHarborWithRiskyFeatures" ng-model="vm.antiSteeringData.sTotalDiscountPointOriginationFeeSafeHarborWithRiskyFeatures" />
                            </td>
                            <td>
                                <input type="text" preset="money" id="sTotalDiscountPointOriginationFeeSafeHarborWithoutRiskyFeatures" name="sTotalDiscountPointOriginationFeeSafeHarborWithoutRiskyFeatures" ng-model="vm.antiSteeringData.sTotalDiscountPointOriginationFeeSafeHarborWithoutRiskyFeatures" />
                            </td>
                            <td>
                                <input type="text" preset="money" id="sTotalDiscountPointOriginationFeeSafeHarborLowestCost" name="sTotalDiscountPointOriginationFeeSafeHarborLowestCost" ng-model="vm.antiSteeringData.sTotalDiscountPointOriginationFeeSafeHarborLowestCost" />
                            </td>
                            <td>
                                {{vm.antiSteeringData.sSumOfFees}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="button" class="btn btn-default white-space-pre-wrap width-180" ng-click="copyFromCurrentLoan(0);">COPY FROM CURRENT LOAN</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default white-space-pre-wrap width-180" ng-click="copyFromCurrentLoan(1);">COPY FROM CURRENT LOAN</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-default white-space-pre-wrap width-180" ng-click="copyFromCurrentLoan(2);">COPY FROM CURRENT LOAN</button>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>                
            </div>
        </div>
    </div>
</div>
