﻿<div class="container-disclosures">
    <order-initial-disclosures-header step="isAntiSteeringEnabled ? 3 : 2"></order-initial-disclosures-header>

    <div class="section">
        <div class="row wizard-inset-cell wizard-section">
            <div class="col-xs-12">
                Please review the results of the audit from our document vendor below.
                If there are any fatal audit results, you will need to submit to the lender for disclosure.
            </div>
        </div>
        <div class="row wizard-inset-cell wizard-section">
            <div class="col-xs-2 nowrap none-paddingLeft">
                <button type="button" class="btn btn-default" ng-click="returnToMainPage();">Cancel Order</button>
            </div>
            <div class="col-xs-10 text-right none-paddingRight">
                <button type="button" class="btn btn-default" ng-click="requestLenderToCompleteOrder();" ng-show="hasError || hasFatal">Request Lender to Complete Order</button>
                <button type="button" class="btn btn-default" ng-click="retryAudit();" ng-show="hasError">Retry Audit</button>
                <button type="button" class="btn btn-default none-margin-right" ng-click="goToReviewDocumentPreview();" ng-disabled="hasFatal" ng-hide="hasError">Next - Order Document Preview</button>
                <img id="WorkflowWarningImage"
                     class="workflow-warning"
                     ng-src="{{warningImageUrl}}"
                     ng-show="hasFatal"
                     alt="Warning"
                     title="You cannot proceed with this order if there are 'Fatal' audit findings from our document vendor. If you cannot correct the error yourself, please request the lender to complete the order on your behalf."
                     data-placement="bottom"
                     data-toggle="tooltip" />
            </div>
        </div>
        <div>
            <div class="row wizard-inset-cell wizard-section audit-findings">
                <div class="box-section-border">
                    <header class="header header-border" ng-if="auditResults.length > 0">
                        Document Vendor Audit Findings
                    </header>
                    <table class="DataGrid primary-table none-hover-table wide">
                        <thead ng-if="auditResults.length > 0">
                            <tr class="header">
                                <td>Type</td>
                                <td>Message</td>
                            </tr>
                        </thead>
                        <tr class="none-border" ng-if="auditResults.length == 0">
                            <td colspan="2" class="text-center text-success"><i class="material-icons">&#xE86C;</i> Audit passed!</td>
                        </tr>
                        <tr ng-repeat="auditLine in auditResults">
                            <td>
                                <span class="audit-image" ng-if="getAuditIcon(auditLine.Severity) != ''"><img ng-src="{{getAuditIcon(auditLine.Severity);}}" /></span>
                                {{::auditLine.Severity}}
                            </td>
                            <td ng-bind-html="auditLine.Message"></td>
                        </tr>
                    </table>
                 </div>
            </div>
        </div>
    </div>
</div>
