﻿<div class="">
    <div id="{{::id}}" class="box-section-border">
        <header class="header header-border">{{::section}}</header>
        <div class="no-dates-row" ng-if="source.length == 0">
            <span class="text-danger">No {{::section}} currently on file.</span>
        </div>
        <table ng-if="source.length > 0"
            class="primary-table none-hover-table wide table-loan-estimation">
            <thead><tr class="header">
                <td>Issued Date</td>
                <td>Delivery Method</td>
                <td>Received Date</td>
                <td>Type</td>
            </tr></thead>
            <tbody><tr ng-repeat="dateInfo in source">
                <td>{{::dateInfo.IssuedDate}}</td>
                <td>{{::dateInfo.DeliveryMethod}}</td>
                <td>{{::dateInfo.ReceivedDate}}</td>
                <td>{{::getTypeDescription(dateInfo)}}</td>
            </tr></tbody>
        </table>
    </div>
</div>
