﻿<div id="DisclosuresController" ng-model-options="{ updateOn: 'change' }">
    <header class="page-header">Disclosures</header>

    <div generic-framework-vendor-links></div>

    <div ng-if="vm.sDisclosureRegulationT != vm.constants.TRID2015"
        class="section text-danger">
        This file requires non-TRID disclosures.
        Information pertaining to disclosures for this file is not available.
        Please contact your
        <a ng-if="vm.accountExecutiveData != null && vm.accountExecutiveData.IsValid"
            class="ae-link" ng-click="vm.displayAccountExecutivePopup();">account executive</a>
        <span ng-if="!vm.accountExecutiveData.IsValid">account executive</span>
        for more information.
    </div>

    <div id="TridDisclosureSection" ng-if="vm.sDisclosureRegulationT == vm.constants.TRID2015">
        <div id="ImportantLoanDatesSection" class="important-loan-dates none-margin">
            <div class="box-section-border">
                <header class="header header-border">Important Loan Dates</header>
                <div class="flex-alignment">
                    <div class="col-xs-6">
                        <div class="flex-alignment-sub">
                            <div class="col-xs-6">
                                <div>
                                    <div>
                                        <label>Application Date</label>
                                        <input type="text" id="sAppSubmittedD" name="sAppSubmittedD" ng-model="vm.importantDateSection.sAppSubmittedD" ng-change="vm.refreshCalculation();" preset="date" />
                                        <label class="lock-checkbox"><input type="checkbox" id="sAppSubmittedDLckd" name="sAppSubmittedDLckd" ng-checked="vm.importantDateSection.sAppSubmittedDLckd" ng-click="vm.refreshCalculation();" /></label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div>
                                    <div>
                                        <label>Registration Date</label>
                                        <input type="text" id="sSubmitD" readonly="readonly" ng-value="::vm.importantDateSection.sSubmitD" preset="date" />
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="flex-alignment-sub padding-left-p16">
                            <div class="col-xs-6">
                                <div>
                                    <div>
                                        <label>Intent to Proceed</label>
                            <input type="text" id="sIntentToProceedD" name="sIntentToProceedD" ng-model="vm.importantDateSection.sIntentToProceedD" ng-readonly="vm.importantDateSection.sUseInitialLeSignedDateAsIntentToProceedDate" ng-change="vm.refreshCalculation();" preset="date" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div>
                                    <div>
                                        <label>Estimated Closing</label>
                                        <input type="text" id="sEstCloseD" name="sEstCloseD" ng-model="vm.importantDateSection.sEstCloseD" ng-change="vm.refreshCalculation();" preset="date" />
                                        <label class="lock-checkbox"><input type="checkbox" id="sEstCloseDLckd" name="sEstCloseDLckd" ng-checked="vm.importantDateSection.sEstCloseDLckd" ng-click="vm.refreshCalculation();" /></label>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="DeadlinesSection" class="padding-top-h1em padding-bottom-1em">
            <div class="box-section-border">
                <header class="header header-border">Deadlines</header>
                <div class="box-section-deadlines">
                    <table class="table-service reduce-margin-deadlines">
                        <tr>
                            <td class="border-right col-xs-6 none-padding-bottom">
                                <div class="increase-margin-deadlines">
                                    <header class="text-grey-p70"><b>Loan Estimate</b></header>
                                    <div class="d-flex d-flex-direction-disclosures">
                                        <div>
                                            <div>
                                                <label>Deadline to Mail or Deliver Initial LE</label>
                                                <input type="text" id="sIntialLoanEstimateMailedOrReceivedDeadlineForCurrentAppD" readonly="readonly" ng-model="vm.deadlineSection.sIntialLoanEstimateMailedOrReceivedDeadlineForCurrentAppD" preset="date" />
                                                <a class="tooltips"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="If the loan estimate is not delivered by this deadline then the file may not be eligible for funding.">
                                                    <i class="material-icons">&#xE887;</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <label>Deadline for Borrower to Receive Revised LE</label>
                                                <input type="text" id="sRevisedLoanEstimateReceivedDeadlineForCurrentClosingD" readonly="readonly" ng-model="vm.deadlineSection.sRevisedLoanEstimateReceivedDeadlineForCurrentClosingD" preset="date" />
                                                <a class="tooltips"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="If a revised loan estimate is received after this deadline then the estimated closing date will need to be pushed back.">
                                                    <i class="material-icons">&#xE887;</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="padding-left-1em col-xs-6 none-padding-bottom">
                                <div class="increase-margin-deadlines">
                                    <header class="text-grey-p70"><b>Closing Disclosure</b></header>
                                    <div class="d-flex d-flex-direction-disclosures">
                                        <div>
                                            <div>
                                                <label>Deadline to Mail Initial CD</label>
                                                <input type="text" id="sInitialClosingDisclosureMailedDeadlineD" readonly="readonly" ng-model="vm.deadlineSection.sInitialClosingDisclosureMailedDeadlineD" preset="date" />
                                                <a class="tooltips"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="If the initial closing disclosure has not been mailed by this day then either another delivery method will need to be used, or else the estimated closing date will need to be pushed back.">
                                                    <i class="material-icons">&#xE887;</i>
                                                </a>
                                            </div>
                                        </div>
                                        <div>
                                            <div>
                                                <label>Deadline for Borrower to Receive Initial CD</label>
                                                <input type="text" id="sInitialClosingDisclosureReceivedDeadlineD" readonly="readonly" ng-model="vm.deadlineSection.sInitialClosingDisclosureReceivedDeadlineD" preset="date" />
                                                <a class="tooltips"
                                                   data-html="true"
                                                   data-toggle="tooltip"
                                                   data-placement="bottom"
                                                   title="If the initial closing disclosure is not received by this date then the estimated closing date will need to be pushed back.">
                                                    <i class="material-icons">&#xE887;</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="padding-bottom-p16 display-inline-flex"><button
                ng-if="!vm.orderInitialDisclosuresButtonModel.Hidden"
                ng-disabled="!vm.orderInitialDisclosuresButtonModel.Enabled"
                ng-click="vm.orderInitialLoanEstimate();"
                type="button" class="btn btn-default none-margin-right">
                Order Initial Loan Estimate
            </button></div>

            <div ng-if="!vm.requestRedisclosureButtonModel.Hidden"
                class="padding-bottom-p16 order-button-div"
                data-title="{{vm.requestRedisclosureButtonModel.Tooltip}}" data-toggle="tooltip" data-placement="bottom">
                <button

                    ng-disabled="!vm.requestRedisclosureButtonModel.Enabled"
                    ng-click="vm.requestRedisclosure();"
                    type="button" class="btn btn-default none-margin-right">
                    Request CoC / Redisclosure
                </button>
            </div>

            <div ng-if="!vm.requestInitialClosingDisclosureButtonModel.Hidden"
                class="padding-bottom-p16 order-button-div"
                data-title="{{vm.requestInitialClosingDisclosureButtonModel.Tooltip}}" data-toggle="tooltip" data-placement="bottom">
                <button
                    ng-disabled="!vm.requestInitialClosingDisclosureButtonModel.Enabled"
                    ng-click="vm.requestInitialClosingDisclosure();"
                    type="button" class="btn btn-default">
                    Request Initial Closing Disclosure
                </button>
            </div>
        </div>

        <div class="dr-al-le-cd-wrap" ng-class="{'hide-dr':vm.lenderCompletionRequests.length < 1, 'al-no-data':vm.activityLogSection.length < 1}">
            <div class="dr-le-cd-wrap">
                <div class="dr box-section-border" ng-if="vm.lenderCompletionRequests.length > 0">
                    <header class="header header-border">Disclosure Requests</header>
                    <table class="primary-table none-hover-table wide table-disclosure-request">
                        <thead>
                            <tr class="header">
                                <td>Type</td>
                                <td>Status</td>
                                <td>Action</td>
                                <td>Timestamp</td>
                                <td>Comments</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="disclosureRequest in vm.lenderCompletionRequests">
                            <td>{{::disclosureRequest.Type}}</td>
                            <td>{{::disclosureRequest.Status}}</td>
                            <td class="text-center w-174">
                                <button type="button" class="ui-button disclosure-request-button btn btn-default"
                                    ng-disabled="!disclosureRequest.EnableActionButton"
                                    ng-click="vm.displayCancelRequestDialog(disclosureRequest)"
                                    >Cancel Request</button></td>
                            <td>{{::disclosureRequest.Timestamp}}</td>
                            <td>{{::disclosureRequest.Notes}}</td>
                        </tr>
                    </table>
                </div>
                <div id="ActivityLogSection" class="al-sm none-margin activity-log">
                    <div class="box-section-border">
                        <header class="header header-border">Activity Log</header>
                        <div ng-if="vm.activityLogSection.length < 1">
                            There is not yet any logged activity on this file.
                        </div>
                        <table ng-if="vm.activityLogSection.length > 0" class="primary-table none-hover-table wide">
                            <thead>
                                <tr class="header">
                                    <td id="ActivityLogTimeHeader"><a ng-click="vm.changeActivitySectionReverse();"><b>Time <i sort-icon="vm.activityLogSectionReverse"></i></b><a></td>
                                    <td>User</td>
                                    <td>Description</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="log in vm.activityLogSection | orderBy:'Time':vm.activityLogSectionReverse track by log.Id">
                                <td>{{::log.TimestampDescription}}</td>
                                <td>{{::log.User}}</td>
                                <td>{{::log.Description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="le-cd-wrap">
                    <div lecd-dates-section id="LoanEstimatesSection"      section="Loan Estimates"      source="vm.loanEstimateSection"      get-type-description="vm.getLeTypeDescription"></div>
                    <div lecd-dates-section id="ClosingDisclosuresSection" section="Closing Disclosures" source="vm.closingDisclosureSection" get-type-description="vm.getCdTypeDescription"></div>
                </div>
            </div>
            <div id="ActivityLogSection" class="al-lg none-margin activity-log">
                <div class="box-section-border">
                    <header class="header header-border">Activity Log</header>
                    <div ng-if="vm.activityLogSection.length < 1">
                        There is not yet any logged activity on this file.
                    </div>
                    <table ng-if="vm.activityLogSection.length > 0" class="primary-table none-hover-table wide">
                        <thead>
                            <tr class="header">
                                <td id="ActivityLogTimeHeader"><a ng-click="vm.changeActivitySectionReverse();"><b>Time <i sort-icon="vm.activityLogSectionReverse"></i></b><a></td>
                                <td>User</td>
                                <td>Description</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="log in vm.activityLogSection | orderBy:'Time':vm.activityLogSectionReverse track by log.Id">
                            <td>{{::log.TimestampDescription}}</td>
                            <td>{{::log.User}}</td>
                            <td>{{::log.Description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
