﻿<div class="container-disclosures">
    <order-initial-disclosures-header step="isAntiSteeringEnabled ? 5 : 4"></order-initial-disclosures-header>

    <div id="RequestCompleteSection" class="section">
        <div class="row wizard-inset-cell wizard-section">
            <div class="col-xs-2 nowrap">
            </div>
            <div class="col-xs-10 text-right none-paddingRight">
                <button type="button" class="btn btn-default" ng-click="requestLenderToCompleteOrder();" ng-show="hasError">Request Lender to Complete Order</button>
                <button class="btn btn-default" type="button" ng-click="retryDocumentOrder();" ng-show="hasError">Retry Document Order</button>
                <button type="button" class="btn btn-default" ng-click="returnToMainPage();">Return to Disclosures Page</button>
            </div>
        </div>
        <div class="row grey-box-border">
            <div class="row text-success" ng-hide="pdfLocation == null || hasError">
                <i class="material-icons">&#xE86C;</i> Congratulations, your order has been completed!
            </div>
            <div class="row wizard-inset-cell wizard-section" ng-if="hasError">
                <div class="col-xs-12 text-center">
                    Could not load document order.
                </div>
            </div>
            <div class="row wizard-inset-cell wizard-section" ng-if="pdfLocation != null">
                <div class="col-xs-12">
                    <iframe id="RequestCompleteFrame" class="embedded" frameborder="0" ng-src="{{pdfLocation}}" ng-style="{ height: '{{frameHeight}}px' }"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
