﻿<div class="container-disclosures">
    <order-initial-disclosures-header step="isAntiSteeringEnabled ? 2 : 1"></order-initial-disclosures-header>

    <div class="section">
        <div class="row wizard-inset-cell wizard-section">
            <div>
                Please review the information below. All requirements must pass to proceed with the order.
            </div>
        </div>
        <div class="row wizard-inset-cell wizard-section">
            <div class="col-xs-2 nowrap none-paddingLeft">
                <button type="button" class="btn btn-default" ng-click="returnToMainPage();">Cancel Order</button>
            </div>
            <div class="col-xs-10 text-right none-paddingRight">
                <button type="button" class="btn btn-default" ng-click="requestLenderToCompleteOrder();" ng-if="hasError || vm != null && !vm.checklist.CanPerformOrder">Request Lender to Complete Order</button>
                <button type="button" class="btn btn-default" ng-click="retryPreviewGeneration();" ng-if="hasError">Retry Preview Generation</button>
                <button id="GoToDocVendorAuditButton" type="button" class="btn btn-default none-margin-right" \
                    ng-click="goToDocumentVendorAudit();"
                    ng-if="!hasError"
                    ng-disabled="vm != null && !vm.checklist.CanPerformOrder">Next - Document Vendor Audit</button>
                <img id="WorkflowWarningImage"
                     class="workflow-warning"
                     ng-src="{{warningImageUrl}}"
                     ng-if="vm != null && !vm.checklist.CanPerformOrder"
                     alt="Warning"
                     title="All of the requirements must be met to proceed with this order. If you are unable to complete the requirements yourself, please request the lender to complete on your behalf."
                     data-placement="bottom"
                     data-toggle="tooltip">
            </div>
        </div>
        <div class="row">
            <div class="row wizard-inset-cell wizard-section">
                <div class="col-xs-6 grey-box-border grey-box-border-disclosure-review">
                    <div>
                        <header class="header header-border">Requirements Checklist</header>
                        <table class="DataGrid primary-table none-hover-table" id="checkListTable">
                            <tr ng-repeat="lineItem in vm.checklist.LineItems" class="none-border">
                                <td class="image-cell extra-right-padding">
                                    <a data-placement="bottom" data-toggle="tooltip" title="{{lineItem.Pass ? 'Pass' : 'Fail'}}">
                                    <i ng-class="['material-icons', {'green pass': lineItem.Pass, 'red fail': !lineItem.Pass}]">{{lineItem.Pass ? '&#xE876;' : '&#xE147;'}}</i></a>
                                </td>
                                <td>{{::lineItem.Description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 request-review-data-column padding-right-none">
                    <div class="box-section-border">
                        <header class="header header-border">Borrower Information</header>
                        <table class="primary-table none-hover-table wide">
                            <thead>
                                <tr class="header">
                                    <td>Name</td>
                                    <td>Email</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="borrower in vm.borrowers">
                                <td  ng-class="{'td-empty': !borrower.Name.length}">{{::borrower.Name}}</td>
                                <td  ng-class="{'td-empty': !borrower.Email.length}">{{::borrower.Email}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="box-section-border">
                        <header class="header header-border">Loan Officer Information</header>
                        <table class="primary-table none-hover-table wide table-disclosure-loan-officer-info">
                            <tr class="none-border"><td>Name        </td><td>{{::vm.loanOfficer.Name     }}</td></tr>
                            <tr class="none-border"><td>NMLS#       </td><td>{{::vm.loanOfficer.Nmls     }}</td></tr>
                            <tr class="none-border"><td>License ID  </td><td>{{::vm.loanOfficer.LicenseId}}</td></tr>
                            <tr class="none-border"><td>Email       </td><td>{{::vm.loanOfficer.Email    }}</td></tr>
                            <tr class="none-border"><td>Phone Number</td><td>{{::vm.loanOfficer.Phone    }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
