﻿<div class="container-disclosures">
    <order-initial-disclosures-header step="isAntiSteeringEnabled ? 4 : 3"></order-initial-disclosures-header>

    <div id="DocumentPreviewSection" class="section">
        <div class="row wizard-inset-cell wizard-section">
                <div class="col-xs-2 nowrap none-paddingLeft">
                    <button type="button" class="btn btn-default" ng-click="returnToMainPage();">Cancel Order</button>
                </div>
                <div class="col-xs-6" ng-show="pdfLocation != null">
                </div>
                <div ng-class="['text-right', {'col-xs-10': pdfLocation == null, 'col-xs-4': pdfLocation != null}, 'none-paddingRight']">
                    <button type="button" class="btn btn-default" ng-click="requestLenderToCompleteOrder()" ng-if=" hasError">Request Lender to Complete Order</button>
                    <button type="button" class="btn btn-default" ng-click="retryPreviewOrder()"            ng-if=" hasError">Retry Preview Order</button>
                    <button type="button" class="btn btn-default" ng-click="goToRequestComplete()"          ng-if="!hasError" ng-disabled="!vm.hasAcceptedPreview">Next - Complete Request</button>
                </div>
        </div>
        <div class="row grey-box-border">
            <div class="row required-image-column" ng-if="pdfLocation != null">
                <img id="ReviewRequiredImage" alt="Required" ng-hide="true"/>
                <input id="AcceptPreviewCheckbox" type="checkbox" ng-model="vm.hasAcceptedPreview" />
                <label for="AcceptPreviewCheckbox">I have reviewed and accept the previewed Initial Disclosure PDF. <span class="text-danger">*</span></label>
            </div>
            <div class="row wizard-inset-cell wizard-section" ng-if="hasError">
                <div class="col-xs-12 text-center">
                    Could not load document preview.
                </div>
            </div>
            <div class="row wizard-inset-cell wizard-section">
                <div class="col-xs-12">
                    <iframe id="DocumentPreviewFrame" class="embedded" frameborder="0" ng-src="{{pdfLocation}}" ng-if="pdfLocation != null" ng-style="{ height: '{{frameHeight}}px' }"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
