aggregate-escrow-disclosure {

    .panel {
        min-width: 72em;
    }
    .btn-setup-initial-escrow-account {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .table-agg-escrow-account > div > div:first-child {
        width: 16.2em;
    }
    .table.table-months-agg-escrow-account > div > div {
        vertical-align: top;
    }
}