amortization-table-modal {

    .modal-dialog {
        width: 710px;

        .amortization-table {
            width: 650px;
            table-layout: fixed;
            border-collapse: collapse;

            td:nth-child(1), th:nth-child(1) { min-width: 40px; }
            td:nth-child(2), th:nth-child(2) { min-width: 85px; }
            td:nth-child(3), th:nth-child(3) { min-width: 80px; }
            td:nth-child(4), th:nth-child(4) { min-width: 100px; }
            td:nth-child(5), th:nth-child(5) { min-width: 80px; }
            td:nth-child(6), th:nth-child(6) { min-width: 80px; }
            td:nth-child(7), th:nth-child(7) { min-width: 80px; }
            td:nth-child(8), th:nth-child(8) { width:     95px; }

            thead {
                tr {
                  display: block;
                  position: relative;
                }
              }
            tbody {
                display: block;
                overflow: auto;
                width: 100%;
                height:500px;
            }
        }
    }
}