change-of-circumstances-new-directive {

    .panel-change-of-circumstances-new {

        min-width: 60em;

        .title {
            margin-top: 1.5em;
            margin-bottom: .5em;
        }
        .explanation-change {
            min-height: 20em;
        }
        .secondary-table {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}
