credit-denial {

    .flex section {
        flex: 1;
    }
    .title-sub {
        margin-bottom: 1em;
    }
    .list {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .list li{
        padding-bottom: .75em;
    }
    .list-margin-left {
        margin-left: 2.5em;
    }
    .text-center-checkbox {
        display: inline;
    }
    .additional-statement textarea {
        min-height: 16em;
        width: 60em;
    }
    .form-control-key-factors {
        width: 54.6em;
    }
}