escrow-impounds-setup-directive {

    .panel {
        min-width: 89em;

        .table-description > div > div:first-child {
            min-width: 19em;
        }
        .description lqb-input {
            margin-right: .25em;
        }
        .space {
            width: 30.35em;
        }
    }
}
