goodbye-letter {

    .panel {
        min-width: 48em;

        .table-servicer-information div > div:first-child {
            width: 10em;
        }
        .business-hours lqb-input {
            margin-right: 0.25em;
        }
    }
}
