initial-escrow-acc-setup-modal {
    .modal-dialog {

    	width: 840px;

    	.table-calculated-reserves {
    		margin-top: 1.5em;
    	}
    	.table-calculated-reserves > div > div {
    		width: 8em;
    		text-align: center;
    	}
    	.table-calculated-reserves > div > div:first-child {
    		width: 7em;
    	}
    	.header > div{
    		vertical-align: top;
    	}
    	.space {
    		width: 7em;
    	}
    }
}