lender-credits {

    .wide-fix {
        width: 68em;
        border-bottom: grey 1px solid;
    }
    .wide-fix:last-child {
        border-bottom: 0;
    }
    .col-credit-charge {
        width: 15.8em;
    }
    .table-final-price > div > div:first-child {
        width: 18em;
    }
    .table-disclose-credit-on> div > div:first-child {
        width: 7em;
    }
    .table-disclose-credit-on-sub {
        width: 35em;
    }
    .table-disclose-credit-on-sub-calculate {
        width: 31.5em;
    }
    .table.table-target-discount-points > div > div {
        padding-right: 0;
    }
    .total-loan-amount lqb-input{
        margin-right: .25em;
    }
    .col-final-price {
        width: 24.65em;
    }
    .col-originator-price {
        width: 22.85em;
    }
    .col-initial-gfe {
        width: 36.8em;
    }
    .title-sub {
        margin-bottom: 1em;
    }
    .discount-points {
        width: 23.5em;
    }
    .form-control-closing-hud {
        width: 15em;
    }
    .text-right lqb-input[typeof="dropdown"] {
        text-align: left;
    }
}