loan-submission {
    .panel {
        min-width: 92em;
    }
    .title {
        margin-bottom: 1.5em;
    }
    .space-bottom {
        margin-bottom: 1.5em;
    }
    .table-loan-summary-terms > div > div:first-child {
        width: 9em;
    }
    .term-due lqb-input {
        margin-right: .25em;
    }
    .space-plus lqb-input{
        margin-right: .25em;
    }
    .comment {
        width: 60em;
    }
    .comment textarea {
        min-height: 8em;
    }
}
