loan1003page1 {

    .title-1003 {
        margin-bottom: 1.5em;
        font-size: 18px;
    }
    .title-sub-1003 {
        margin-bottom: 1em;
        font-size: 14px;
    }
    .col-1003 {
        width: 61em;
    }
    .amort-type {
        width: 13.5em;
    }
    .table-property-information-1 >div > div:first-child {
        width: 5em;
    }
    .table-property-information-2 >div > div:first-child {
        width: 10em;
    }
    .mailing-address {
        width: 23.2em;
    }
}
