loan1003page3 {

    .title-1003 {
        margin-bottom: 1.5em;
        font-size: 18px;
    }
    .title-sub-1003 {
        margin-bottom: 1em;
        font-size: 14px;
    }
    .col-empty-1003 {
        height: 9.1em;
    }
    .flex section {
        margin-right: 1.5em;
    }
    .table-information-goverment {
        margin-right: 10em;
    } 
    .table.declaration-table > div > div {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        vertical-align: middle;
    }
    .table.declaration-table > div > div:first-child {
        vertical-align: top;
    }
    .checkbox-table > div > div {
        width: 5em;
    }
    .white-spacing-table > div > div:first-child {
        width: 28px;
    }
}
