loan-terms-directive, truth-in-lending-directive {

    .wrap-panel {

        min-width: 78em;

        .table-populate > div > div:first-child {
            width: 10em;
        }
        .table-pmt-schedule > div > div:first-child {
            width: 3.7em;
        }
        .table-insurance > div > div:first-child {
            width: 8em;
        }
        .table-insurance .table {
            padding-bottom: 0;
        }
        .btn-populate {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
        .left {
            margin-right: 1.5em;
            flex: 1;
        }
        .col-empty {
            width: 12em;
        }
        .col-pmt-schedule {
            width: 10.65em;
        }
        .col-total {
            width: 12.25em;
        }
        .col-amount-finance {
            width: 12.5em;
        }
        .col-cancel {
            width: 11.2em;
        }
        .term-due lqb-input {
            margin-right: .35em;
        }
        .prepayment lqb-input {
            margin-right: .25em;
        }
        .medium-text {
            width: 42em;
        }
    }
}
