loan1003page2 {

    .title-1003 {
        margin-bottom: 1.5em;
        font-size: 18px;
    }
    .title-sub-1003 {
        margin-bottom: 1em;
        font-size: 14px;
    }
    .flex section {
        margin-right: 1.5em;
        padding: 15px;
    }
   .table-assets-liabilities > div > div:first-child {
        width: 12em;
   }
}
