loan-commitment-directive {

    .panel {
        min-width: 60em;

        .loan-amount-term-fee {
            margin-bottom: 1.5em;
            font-weight: bold;
        }
        .term-due lqb-input:first-child {
            margin-right: 0.25em;
        }
        .repayment-terms {
            min-height: 8em;
        }
        .evidence-of-title {
            width: 10em;
        }
    }
}
