mortgage-brokerage-business-contract-directive {

    .panel {
        min-width: 43em;
        .mortgage-broker lqb-input{
            margin-right: .25em;
        }
        .form-control-prepare-by {
            width: 15em;
        }
    }
}
