rate-floor-calculator {

    .modal-dialog {
        width: 750px;

        .col-max lqb-input {
            margin-right: .25em; 
        }
        .label-max {
            width: 30px;
        }
    }
}