tax-form {

	.panel {
		min-width: 92em;
	}
    .table-form-details > div > div:first-child {
    	width: 12em;
    }
    .space {
    	margin-right: 1.5em;
    }
    .form-control-property-address {
    	width: 10em;
    }
    .flex-list {
    	counter-reset: section;
    }
    .flex-list .counter-form-details::before {
    	counter-increment: section;
    	content: counter(section) ". ";
    }
    .counter-form-details label {
        display: inline;
    }
}
