tax-return {

    .panel.panel-tax-return {
        min-width: 62em;
        padding-right: 1.5em;

        .table-tax-information > div > div:first-child {
            width: 10.8em;
        }
        .ul-checkbox {
            list-style: none;
            li {
                margin-left: 1em;
                margin-bottom: .5em;
            }
        }
    }
}
