transmittal, transmittal-combined {

	.panel-1008 {

		min-width: 84em;

        .table-borrower > div > div:first-child {
            width: 7.7em;
        }
        .table-loan-type > div > div:first-child{
            width: 8.7em;
        }
        .space {
            width: 19.2em;
        }
        .borrower-lock {
            width: 13.5em;
        }
        .project-name {
            width: 38em;
        }
        .mortgage-originator {
            width: 15.5em;
        }
        .no-of-months-reserves {
            width: 21em;
        }
	}

    .underwriting-information {
        display: flex;

        .left {
            margin-right: 1.5em;
            .wrap-qualifying {
                display: flex;
                .qualifying-rate {
                    margin-right: 1.5em;
                    flex: 1;
                }
            }
        }
    }
    
}
