truth-in-lending32 {

    .panel {
        min-width: 45em;

        .table > div > div:last-child {
        	padding-left: 1em;
        }
        .highest-amount {
            padding-left: 2.65em;
        }
    }
}
