tx-mortgage-broker-disclosure-directive {

    .panel {
        min-width: 60em;

        .contact-link {
            padding-right: 1.5em;
        }
        .title {
        	margin-bottom: 1.5em;
        }
    }
}
