usda-loan-conditional-commitment {

    .panel {
        min-width: 84em;
    }
    .table-usda {
        margin-bottom: 1.5em;
    }
    .table-usda-fee {
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .table-usda-fee > div > div:first-child {
        width: 15.2em;
    }
    .table-usda-borrower-id > div > div:first-child {
        width: 11em;
    }
    .country {
        width: 8em;
    }
    .lender-name {
        width: 7em;
    }
}