usda-loan-guarantee {

    .panel {
        min-width: 84em;
    }
    .title {
        margin-bottom: 1.5em;
    }
    .space-bottom {
        margin-bottom: 1.5em;
    }
    .lender-loan-reference-number lqb-input[typeof='textbox'] {
        line-height: 0;
    }
    .table-approved-lender > div > div:first-child {
        width: 50%;
    }
    .table-applicant-information > div > div:first-child {
        width: 50%;
    }
    .medium-text-loan-funds {
        width: 50em;
    }
    .form-control-name {
        width: 15em;
    }
    .form-control-middle-name {
        width: 10em;
    }
}