.force-wrap {
    white-space: pre-wrap;
    white-space: pre-line;
    word-break : break-all;
    word-wrap  : break-word;
}

textarea.no-resize {
    resize: none;
}
body {
    min-width: 1280px;
}
table tbody {
    display:block;
    overflow-y:scroll;
}
table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.col1 {
    width: 20px;
}
.col-edit {
    width: 35px;
}
.col-del {
    width: 48px;
}
.col-subject ul {
    padding: 0;
    padding-left: 1.5em;
    margin: 0;
}
.col-bot-type {
    width: 60px;
}
.empty-header {
    width: 17px;
}
.editor-table-height {
    height: 620px;
}
