<div class="panel">
    <div class="panel-body">
        <div class="clearfix">
            <span class="clipper">
                <a class="btn btn-primary" ng-click="vm.edit(null)">Add new</a></span>
            <span class="clipper" ng-hide="vm.selectedPercent <= 0">
                <button type="button" ng-click="vm.batchEdit()"
                    class="btn btn-default">Batch Edit</button></span>
            <span class="clipper" ng-hide="vm.selectedPercent <= 0">
                <button type="button" ng-click="vm.batchDelete()"
                    class="btn btn-danger">Batch Delete</button></span>
        </div>
        <p></p>
        <form ng-submit="vm.reload()" class="form-label-noerror form-group-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label>Status:</label>
                        <select ng-model="vm.searchForm.active"
                                ng-options="o.v as o.t for o in vm.activeOptions"
                                 class="form-control"></select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label>Sender:</label>
                        <input ng-model="vm.searchForm.sender"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label>Target File Name:</label>
                        <input ng-model="vm.searchForm.targetFileName"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label>Bot Type:</label>
                        <input ng-model="vm.searchForm.botType"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group form-group-sm">
                        <label>Subject:</label>
                        <input ng-model="vm.searchForm.subject"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="form-group form-group-sm">
                        <label>&nbsp;</label>
                        <span class="clipper"><button type="submit" class="btn btn-primary btn-block">Search</button></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-condensed table-layout-fix">
            <thead>
                <tr>
                    <th class="col1"              ><input ng-click="vm.onSelectAll($event)" type="checkbox" checkbox-indeterminate="vm.selectedPercent"/></th>
                    <th class="col-edit"          ></th>
                    <th class="col-del"           ></th>
                    <th class="col-id"            ><a sort-handle="vm.entrySort" key="ID"            >ID              </a></th>
                    <th class="col-status"        ><a sort-handle="vm.entrySort" key="Active"        >Status          </a></th>
                    <th class="col-file-name"     ><a sort-handle="vm.entrySort" key="TargetFileName">Target File Name</a></th>
                    <th class="col-last-updated"  ><a sort-handle="vm.entrySort" key="dLastUpdated"  >Last Updated    </a></th>
                    <th class="col-sender"        ><a sort-handle="vm.entrySort" key="Sender"        >Sender          </a></th>
                    <th class="col-subject"       ><a sort-handle="vm.entrySort" key="Subject"       >Subject         </a></th>
                    <th class="col-mail-file-name"><a sort-handle="vm.entrySort" key="MailFileName"  >Mail File Name  </a></th>
                    <th class="col-body"          ><a sort-handle="vm.entrySort" key="Body"          >Body            </a></th>
                    <th class="col-bot-type"      ><a sort-handle="vm.entrySort" key="BotType"       >Bot Type        </a></th>
                    <th class="col-description"   ><a sort-handle="vm.entrySort" key="Description"   >Description     </a></th>
                    <th class="empty-header"      ></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in vm.entries | orderBy:vm.entrySort.by:vm.entrySort.desc track by e.ID" ng-class="{info: e.isSelected}">
                    <td class="col1"              ><input type="checkbox" ng-model="e.isSelected" ng-change="vm.onEntrySelect()"/></td>
                    <td class="col-edit"          ><a ng-click="vm.edit(e)">edit</a></td>
                    <td class="col-del"           ><a ng-click="vm.delete(e)">delete</a></td>
                    <td class="col-id"             ng-bind="e.ID"></td>
                    <td class="col-status"        ><span ng-bind="e.Active ? 'T' : 'F'" select-when-clicked class="force-wrap" title="Status"></span></td>
                    <td class="col-file-name"     ><span ng-bind="e.TargetFileName"     select-when-clicked class="force-wrap" title="Target File Name"></span></td>
                    <td class="col-last-updated"  ><span ng-bind="e.dLastUpdated | date:'MM/dd/yyyy'"            class="force-wrap" title="Last Updatede"></span></td>
                    <td class="col-sender"        ><span ng-bind="e.Sender"             select-when-clicked class="force-wrap" title="Sender"></span></td>
                    <td class="col-subject"       ><ul><li ng-repeat="s in e.subjects()" ng-bind="s"></li></ul></td>
                    <td class="col-mail-file-name"><span ng-bind="e.MailFileName"       select-when-clicked class="force-wrap" title="Mail File Name"></span></td>
                    <td class="col-body"          ><span ng-bind="e.Body"               select-when-clicked class="force-wrap" title="Body"></span></td>
                    <td class="col-bot-type"      ><span ng-bind="e.BotType"            select-when-clicked class="force-wrap" title="Bot Type"></span></td>
                    <td class="col-description"   ><span ng-bind="e.Description"        select-when-clicked class="force-wrap" title="Description"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<edl-editor ng2-var="vm.edlEditor" on-saved="vm.reload()"></edl-editor>
