<div class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-show="!vm.isBatchEdit">
                <span ng-hide="!vm.eEntry.ID">Modify</span>
                <span ng-show="!vm.eEntry.ID">Create</span>
                Email List Entry
            </span>
            <span ng-hide="!vm.isBatchEdit">
                Batch Edit Email Download List
            </span>
        </h4>
    </div>
    <form name="editEntryForm" id="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event)" novalidate>
        <div class="modal-body">
            <div class="row">
                <div ng-class="vm.isBatchEdit ? 'col-sm-4' : 'col-sm-6'">
                    <div class="form-group" ng-hide="!vm.eEntry.ID">
                        <label>ID:</label>
                        <input readonly
                            type="text"
                            title="(auto generated)"
                            class="form-control"
                            value="{{vm.eEntry.ID}} (auto generated)"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Sender"/>
                            Sender:</label></div>
                        <input ng-model="vm.eEntry.Sender"
                            type="text" autocomplete="on" maxlength="100"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Sender"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Body"/>
                            Body:</label></div>
                        <input ng-model="vm.eEntry.Body"
                            type="text" autocomplete="on" maxlength="100"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Body"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.MailFileName"/>
                            Mail File Name:</label></div>
                        <input ng-model="vm.eEntry.MailFileName"
                            type="text" autocomplete="on" maxlength="50"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.MailFileName"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.TargetFileName"/>
                            Target File Name:</label></div>
                        <input ng-model="vm.eEntry.TargetFileName"
                            type="text" autocomplete="on"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.TargetFileName"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Active"/>
                            Active:</label></div>
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.eEntry.Active" ng-value="true"
                                ng-disabled="vm.isBatchEdit && !vm.batToggle.Active"
                            /> Yes
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="vm.eEntry.Active" ng-value="false"
                                ng-disabled="vm.isBatchEdit && !vm.batToggle.Active"
                            /> No
                        </label>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.BotType"/>
                            Bot Type:</label></div>
                        <input ng-model="vm.eEntry.BotType"
                            type="text" maxlength="50"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.BotType"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Description"/>
                            Description:</label></div>
                        <input ng-model="vm.eEntry.Description"
                            type="text" autocomplete="on" maxlength="250"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Description"
                            class="form-control"/>
                    </div>
                </div>
                <div ng-class="vm.isBatchEdit ? 'col-sm-4' : 'col-sm-6'">
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Subject"/>
                            Subject:</label></div>
                        <input ng-model="vm.eEntry.Subject"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject1"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject2"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject3"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject4"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject5"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject6"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject7"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject8"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="vm.eEntry.Subject9"
                            type="text" autocomplete="on" maxlength="200"
                            ng-disabled="vm.isBatchEdit && !vm.batToggle.Subject"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}">
                            <label>
                                <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Note" /> Note:
                            </label>
                        </div>
                        <textarea ng-model="vm.eEntry.Note" ng-disabled="vm.isBatchEdit && !vm.batToggle.Note"
                            class="form-control no-resize" rows="10" maxlength="1000"></textarea>
                    </div>
                </div>
                <div class="col-sm-4" ng-hide="!vm.isBatchEdit">
                    <table class="table table-condense">
                        <thead>
                            <tr>
                                <th class="col-sm-4">ID</th>
                                <th class="col-sm-8">Sender</th>
                            </tr>
                        </thead>
                        <tbody class="editor-table-height">
                            <tr ng-repeat="e in vm.entries | filter:{isSelected:true} track by e.ID">
                                <td class="col-sm-4" ng-bind="e.ID"></td>
                                <td class="col-sm-8" ng-bind="e.Sender"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
