<div class="panel"><div class="panel-body">
    {{#if queues == null}}
    <div class="text-danger">
        <p>
            An error has occurred, as the queue collection returned from QueueMonitorThreshold.ListAll()
            is null. Please check with PB to determine the cause of this issue.
        </p>
    </div>
    {{else}}
    <table class="table table-striped table-condensed">
        <thead><tr>
            <th class="text-center" style="width:6em;" colspan="2"><a class="btn btn-primary" on-click="addNew">Add New</a></th>
            <th class="text-left"><a on-click="['sort','Name'                                ]">Name                                    {{>sortIcon {key:"Name" }}}</th>
            <th class="text-left"><a on-click="['sort','Description'                         ]">Description                             {{>sortIcon {key:"Description" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold1QueueLength'               ]">Threshold 1 Queue Length                {{>sortIcon {key:"Threshold1QueueLength" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold1QueueLengthDurationMinutes']">Threshold 1 Queue Length Duration (min) {{>sortIcon {key:"Threshold1QueueLengthDurationMinutes" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold1OldestItemMinutes'         ]">Threshold 1 Oldest Item (min)           {{>sortIcon {key:"Threshold1OldestItemMinutes" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold2QueueLength'               ]">Threshold 2 Queue Length                {{>sortIcon {key:"Threshold2QueueLength" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold2QueueLengthDurationMinutes']">Threshold 2 Queue Length Duration (min) {{>sortIcon {key:"Threshold2QueueLengthDurationMinutes" }}}</th>
            <th class="text-left"><a on-click="['sort','Threshold2OldestItemMinutes'         ]">Threshold 2 Oldest Item (min)           {{>sortIcon {key:"Threshold2OldestItemMinutes" }}}</th>
        </tr></thead>
        <tbody>
            {{#each queues}}
            <tr>
                <td class="text-center" style="width:6em"><a class="btn btn-link" on-click="['edit'  ,this]">edit</a></td>
                <td class="text-center" style="width:6em"><a class="btn btn-link" on-click="['remove',this]">delete</a></td>
                <td class="text-left">{{Name}}</td>
                <td class="text-left">{{Description}}</td>
                <td class="text-left">{{Threshold1QueueLength}}</td>
                <td class="text-left">{{Threshold1QueueLengthDurationMinutes}}</td>
                <td class="text-left">{{Threshold1OldestItemMinutes}}</td>
                <td class="text-left">{{Threshold2QueueLength}}</td>
                <td class="text-left">{{Threshold2QueueLengthDurationMinutes}}</td>
                <td class="text-left">{{Threshold2OldestItemMinutes}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</div></div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <!-- This heading will be modified by QueueBacklogAutoEscalation.js
                     based on if we are adding new queue monitoring or editing existing
                     queue monitoring. -->
                <h4 id="queue-title" class="modal-title">&nbsp;</h4>
            </div>
            <form class="form-group-sm form-adjust-mb" on-submit="save">
            <div class="modal-body">
                <!-- Queue name -->
                <div class="row">
                    <div class="col-sm-12 form-group {{#if !!(formError.Name)}}has-error{{/if}}">
                        <label>Queue Name:<span class="text-danger">*</span></label>
                        <input value="{{currentQueue.Name}}" type="text" required data-required="true" class="form-control">
                        <div class="text-danger pull-right {{#if (!(formError.Name))}}hidden{{/if}}">{{formError.Name}}</div>
                    </div>
                </div>

                <!-- Queue description -->
                <div class="row">
                    <div class="col-sm-12 form-group {{#if !!(formError.Description)}}has-error{{/if}}">
                        <label>Queue Description:<span class="text-danger">*</span></label>
                        <input value="{{currentQueue.Description}}" type="text" required data-required="true" class="form-control">
                        <div class="text-danger {{#if (!(formError.Description))}}hidden{{/if}}">{{formError.Description}}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">&nbsp;</div>
                </div>

                <!-- Threshold 1 section -->
                <div class="row">
                    <div class="col-sm-12">
                        <label>1. Send to support@lendingqb.com (Threshold 1)</label>
                    </div>

                    <div class="col-sm-12">&nbsp;</div>

                    <!-- Oldest item -->
                    <div class="col-sm-1">&nbsp;</div>

                    <div class="form-group {{#if !!(formError.Threshold1OldestItemMinutes)}}has-error{{/if}}">
                        <div class="col-sm-4 pull-left">
                            <label>a. Oldest item in queue for over (minutes):<span class="text-danger">*</span></label>
                        </div>

                        <div class="col-sm-2">&nbsp;</div>

                        <div class="col-sm-2 pull-left">
                            <input value="{{currentQueue.Threshold1OldestItemMinutes}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold1OldestItemMinutes))}}hidden{{/if}}">{{formError.Threshold1QueueLength}}</div>
                        </div>
                    </div>

                    <div class="col-sm-3">&nbsp;</div>

                    <div class="col-sm-12">&nbsp;</div>

                    <!-- Queue length -->
                    <div class="col-sm-1">&nbsp;</div>

                    <div class="form-group {{#if !!(formError.Threshold1QueueLength)}}has-error{{/if}}">
                        <div class="col-sm-3">
                            <label>b. Threshold Queue Length:<span class="text-danger">*</span></label>
                         </div>

                        <div class="col-sm-2">
                            <input value="{{currentQueue.Threshold1QueueLength}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold1QueueLength))}}hidden{{/if}}">{{formError.Threshold1QueueLength}}</div>
                        </div>
                    </div>

                    <div class="col-sm-1">&nbsp;</div>

                    <!-- Duration for specified length -->
                    <div class="form-group {{#if !!(formError.Threshold1QueueLengthDurationMinutes)}}has-error{{/if}}">
                        <div class="col-sm-2">
                            <label>Duration (minutes):<span class="text-danger">*</span></label>
                        </div>

                        <div class="col-sm-2">
                            <input value="{{currentQueue.Threshold1QueueLengthDurationMinutes}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold1QueueLengthDurationMinutes))}}hidden{{/if}}">{{formError.Threshold1QueueLengthDurationMinutes}}</div>
                        </div>
                    </div>

                    <div class="col-sm-1">&nbsp;</div>
                </div>

                <div class="row">&nbsp;</div>

                <!-- Threshold 2 section -->
                <div class="row">
                    <div class="col-sm-12">
                        <label>1. Escalate to Critical Issue (Threshold 2)</label>
                    </div>

                    <div class="col-sm-12">&nbsp;</div>

                    <!-- Oldest item -->
                    <div class="col-sm-1">&nbsp;</div>

                    <div class="form-group {{#if !!(formError.Threshold2OldestItemMinutes)}}has-error{{/if}}">
                        <div class="col-sm-4 pull-left">
                            <label>a. Oldest item in queue for over (minutes):<span class="text-danger">*</span></label>
                        </div>

                        <div class="col-sm-2">&nbsp;</div>

                        <div class="col-sm-2 pull-left">
                            <input value="{{currentQueue.Threshold2OldestItemMinutes}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold2OldestItemMinutes))}}hidden{{/if}}">{{formError.Threshold2QueueLength}}</div>
                        </div>
                    </div>

                    <div class="col-sm-3">&nbsp;</div>

                    <div class="col-sm-12">&nbsp;</div>

                    <!-- Queue length -->
                    <div class="col-sm-1">&nbsp;</div>

                    <div class="form-group {{#if !!(formError.Threshold2QueueLength)}}has-error{{/if}}">
                        <div class="col-sm-3">
                            <label>b. Threshold Queue Length:<span class="text-danger">*</span></label>
                         </div>

                        <div class="col-sm-2">
                            <input value="{{currentQueue.Threshold2QueueLength}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold2QueueLength))}}hidden{{/if}}">{{formError.Threshold2QueueLength}}</div>
                        </div>
                    </div>

                    <div class="col-sm-1">&nbsp;</div>

                    <!-- Duration for specified length -->
                    <div class="form-group {{#if !!(formError.Threshold2QueueLengthDurationMinutes)}}has-error{{/if}}">
                        <div class="col-sm-2">
                            <label>Duration (minutes):<span class="text-danger">*</span></label>
                        </div>

                        <div class="col-sm-2">
                            <input value="{{currentQueue.Threshold2QueueLengthDurationMinutes}}" type="text" required data-required="true" class="form-control text-center">
                            <div class="text-danger {{#if (!(formError.Threshold2QueueLengthDurationMinutes))}}hidden{{/if}}">{{formError.Threshold2QueueLengthDurationMinutes}}</div>
                        </div>
                    </div>

                    <div class="col-sm-1">&nbsp;</div>
                </div>

                <div class="row">&nbsp;</div>
            </div>

            <div class="modal-footer">
                <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Cancel</a></span>
                <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
            </div>
            </form>
        </div>
    </div>
</div>

{{#partial sortIcon}}
    <span class="glyphicon
        {{#if (sort.by != key)}}invisible{{/if}}
        {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}
