broker-info {
    .nav-pills-router {
        margin-left: 10px;
        min-width: 1080px;
    }
    company-info, options, credit-report, loan-naming, password-options, legal-address, company-licenses, lock-policies, ip-restrictions {
        .panel{
            flex: 0 0 1060px;
        }
    }

}
