credit-report {

    .left-credit-reports-table {
    	min-width: 45em;
    }

    .table .table {
    	&.right-credit-reports-table {
    		vertical-align: top;
	    }
    }

	.credit-report-popup {
		@include setInputColors($section-background);
        $background-color: -input-background($section-background);
		.text-listCRA {
			margin-top: 1.5em;
			margin-bottom: .5em;
		}
		ul.wrap-list {
			border: 1px solid -input-border($section-background);
			padding: 1em;
			padding-left: 3em;
			max-height: 500px;
			overflow: auto;
			li {
				margin-bottom: .75em;
			}
		}
	}

}
