loan-naming {

    .naming-scheme {
        margin-bottom: 1em;
        h5 {
            margin-top: .5em;
            margin-bottom: 1em;
            padding: .5em;
            background-color: $fallback-low;
            color: white;
            font-size: 1em;
        }
        .panel {

            flex: 1;

            .starting-counter {
                padding-left: 2.5em;
            }
            .include-prefix {
                padding-left: 1em;
            }
        }
    }

    .secondary-table {
        width: 100%;
    }

    .modal-content {
    	min-width: 800px;
    }
}
