password-options {

    .table{

    	&.table-pass-options {

    		margin-top: 1em;
    		margin-bottom: 1em;

	    	> div > div {

	    		padding-bottom: 0;

	    		&.form-control-expires {

		    		padding-left: 34px;
		    		padding-bottom: .75em;
		    	}
	    	}
	    }
    }

    .text-center-checkbox {
    	margin-left: -7px;
    }
}
