<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
            <div class="table">
                <div>
                    <div></div>
                    <div>Description</div>
                    <div>Monthly Amt</div>
                    <div>Escrowed</div>
                    <div>Mths</div>
                    <div>Rsv</div>
                    <div>Total</div>
                </div>                           
                <div>
                    <div>1002</div>
                    <div class="table table-description">
                        <div>
                            <div>Hazard insurance</div>
                            <div class="description">
                                <lqb-input lqb-model="vm.loan.fields.sProHazInsR"></lqb-input>of
                                <lqb-input lqb-model="vm.loan.fields.sProHazInsT"></lqb-input>+
                                <lqb-input lqb-model="vm.loan.fields.sProHazInsMb"></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProHazIns"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sHazInsRsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sHazInsRsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sHazInsRsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sHazInsRsrv"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>1003</div>
                    <div class="table table-description">
                        <div>
                            <div><a ng-click="vm.goTo('upfrontMipff')">Mortgage Insurance</a></div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProMIns" readonly></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrv"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>1004</div>
                    <div class="table table-description">
                        <div>
                            <div>Real Estate Taxes</div>
                            <div class="description">
                                <lqb-input lqb-model="vm.loan.fields.sProRealETxR"></lqb-input>of
                                <lqb-input lqb-model="vm.loan.fields.sProRealETxT"></lqb-input>+
                                <lqb-input lqb-model="vm.loan.fields.sProRealETxMb"></lqb-input>            
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProRealETx"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sRealETxRsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sRealETxRsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sRealETxRsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sRealETxRsrv"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>1005</div>
                    <div class="table table-description">
                        <div>
                            <div>School taxes</div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProSchoolTx"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sSchoolTxRsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2" ></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSchoolTxRsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSchoolTxRsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSchoolTxRsrv"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>1006</div>
                    <div class="table table-description">
                        <div>
                            <div>Flood Insurance</div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProFloodIns"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sFloodInsRsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodInsRsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodInsRsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodInsRsrv"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        1008 
                    </div>
                    <div class="table table-description">
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.s1006ProHExpDesc"></lqb-input>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1006ProHExp"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.s1006RsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1006RsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1006RsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1006Rsrv"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1006RsrvProps_ctrl"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        1009 
                    </div>
                    <div class="table table-description">
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.s1007ProHExpDesc"></lqb-input>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1007ProHExp"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.s1007RsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1007RsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1007RsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1007Rsrv"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1007RsrvProps_ctrl"></lqb-input>
                    </div>
                </div>
                <div ng-show = "vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v">
                    <div>
                        10010
                    </div>
                    <div class="table table-description">
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sU3RsrvDesc"></lqb-input>
                            </div>
                            <div></div>
                        </div>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProU3Rsrv"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sU3RsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU3RsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU3RsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU3Rsrv"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU3RsrvProps_ctrl"></lqb-input>
                    </div>
                </div>
                <div ng-show = "vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v">
                    <div>
                        10011
                    </div>
                    <div class="table table-description">
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sU4RsrvDesc"></lqb-input>
                            </div>
                            <div></div>
                        </div>
                    </div>  
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProU4Rsrv"></lqb-input>
                    </div>
                    <div class="text-center">
                        <lqb-input lqb-model="vm.loan.fields.sU4RsrvEscrowedTri" li-type=checkbox ng-true-value="1" ng-false-value="2"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU4RsrvMonLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU4RsrvMon"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU4Rsrv"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sU4RsrvProps_ctrl"></lqb-input>
                    </div>
                </div>
	        </div>
        </div>
	</div>
    <div class="col-xs-6"></div>
</div>
<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
            <div class="table">
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div><label>1st Payment date</label></div>
                                <div><lqb-input lqb-model="vm.loan.fields.sSchedDueD1Lckd"></lqb-input></div>
                                <div><lqb-input lqb-model="vm.loan.fields.sSchedDueD1"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="space"></div>
                    <div><label>Aggregate Adjustment</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAggregateAdjRsrvLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAggregateAdjRsrv"></lqb-input></div>
                </div>
                <div>
                    <div><button ng-click="vm.feePicker.show(vm.loan.sLId)">Setup Initial Escrow Account...</button></div>
                    <div></div>
                    <div class="space"></div>
                    <div><label>Total Escrow Collected at Closing</label></div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGfeInitialImpoundDeposit"></lqb-input>
                    </div>
                </div>
            </div>   
            <div class="table">
                <div ng-hide="vm.loan.fields.sAggEscrowCalcModeT.h">
                    <div><label>Aggregate Escrow/Impounds Calculation Mode</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sAggEscrowCalcModeT"></lqb-input>
                    </div>
                </div>
                <div ng-hide="vm.loan.fields.sCustomaryEscrowImpoundsCalcMinT.h">
                    <div><label>Customary Escrow Impounds Calculation Minimum</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomaryEscrowImpoundsCalcMinT"></lqb-input>
                    </div>
                </div>
            </div> 
        </div>
	</div>
    <div class="col-xs-6"></div>
</div>
<initial-escrow-acc-setup-modal ref="vm.feePicker = $ref"/>