<div class="container">
    <div class="alert alert-danger {{#if !errorMessage}}hidden{{/if}}">{{errorMessage}}</div>

    <div class="alert alert-warning {{#if !overflow}}hidden{{/if}}">
        <strong>Warning:</strong>
        Search returns over 100 records.
        Please refine your search criteria.

        <button on-click="set('overflow', false)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="panel panel-default"><div class="panel-body">
        <form on-submit="search" class="form-label-noerror form-group-sm">
            <div class="row">
                <div class="col-sm-3"><div class="form-group form-group-sm">
                    <label>Login:</label>
                    <input class="form-control" type="text" value="{{sForm.login}}"
                           autofocus decorator="autofocus"
                           autocomplete="username">
                </div></div>

                <div class="col-sm-4"><div class="form-group form-group-sm">
                    <label>Full Name:</label>
                    <input class="form-control" type="text" value="{{sForm.employeeName}}"
                           autocomplete="name">
                </div></div>

                <div class="col-sm-3"><div class="form-group form-group-sm">
                    <label>Email:</label>
                    <input value="{{sForm.email}}"
                           type="email"
                           autocomplete="email"
                           class="form-control">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Broker:</label>
                    <input value="{{sForm.broker}}"
                           type="text"
                           autocomplete="name"
                           class="form-control">
                </div></div>
            </div>

            <div class="row">
                <div class="col-sm-3"><div class="form-group form-group-sm {{#if sForm.error.userId}}has-error{{/if}}">
                    <label>UserID:</label>
                    <div class="text-danger text-right-noerror {{#if (!(sForm.error.userId))}}hidden{{/if}}">Invalid UserID</div>
                    <input value="{{sForm.userId}}"
                           type="text"
                           autocomplete="on"
                           class="form-control">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>User Status:</label>
                    <select class="form-control" value="{{sForm.status}}">
                        <option value="any">Any</option>
                        <option value="active" selected>Active</option>
                        <option value="inactive">Inactive</option>
                        <option value="disabled">Disabled</option>
                    </select>
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>User Type:</label>
                    <select class="form-control" value="{{sForm.type}}">
                        <option value="any">All</option>
                        <option value="B" selected>B</option>
                        <option value="P">P</option>
                    </select>
                </div></div>

                <div class="col-sm-3"><div class="form-group form-group-sm {{#if sForm.error.employeeId}}has-error{{/if}}">
                    <label>EmployeeID:</label>
                    <div class="text-danger text-right-noerror {{#if (!(sForm.error.employeeId))}}hidden{{/if}}">Invalid EmployeeID</div>
                    <input class="form-control" type="text" value="{{sForm.employeeId}}">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Broker Status:</label>
                    <select class="form-control" value="{{sForm.brokerStatus}}">
                        <option value="{{null}}">Any</option>
                        <option value="{{true}}" selected>Active</option>
                        <option value="{{false}}">Inactive</option>
                    </select>
                </div></div>
            </div>

            <div class="form-group text-right">
                <span class="clipper"><a href="../Main.aspx" class="btn btn-default">Cancel</a></span>
                <span class="clipper"><button type="reset" class="btn btn-default" on-click="resetForm">Reset</button></span>
                <span class="clipper"><button type="submit" class="btn btn-primary">Search</button></span>
            </div>
        </form>

        <div class="{{#if users == null}}hidden{{/if}}">
            <div class="table-responsive"><table class="table table-striped table-layout-fix">
                <thead><tr>
                    [[#if (permission.EditEmployee)]]
                    <th style="width: 5%"><!-- edit(e)--></th>
                    <th style="width: 5%"><!-- edit(u)--></th>
                    [[/if]]

                    <th style="width:12%"><a on-click="['sort','LoginNm'     ]">Login         {{>sortIcon {key:"LoginNm"     }}}</a></th>
                    <th style="width:10%"><a on-click="['sort','FullName'    ]">Full Name     {{>sortIcon {key:"FullName"    }}}</a></th>
                    <th style="width:15%"><a on-click="['sort','Email'       ]">Email Address {{>sortIcon {key:"Email"       }}}</a></th>
                    <th style="width:15%"><a on-click="['sort','BrokerNm'    ]">Broker        {{>sortIcon {key:"BrokerNm"    }}}</a></th>
                    <th style="width: 8%"><a on-click="['sort','BranchNm'    ]">Branch        {{>sortIcon {key:"BranchNm"    }}}</a></th>
                    <th style="width:10%"><a on-click="['sort','RecentLoginD']">Last Login    {{>sortIcon {key:"RecentLoginD"}}}</a></th>
                    <th style="width: 2%">T     </th>
                    <th style="width: 5%">Status</th>

                    [[#if (permission.BecomeUser)]]
                    <th style="width: 7%"><!-- become --></th>
                    [[/if]]
                </tr></thead>
                <tbody>
                    {{#each users}}<tr>
                        [[#if (permission.EditEmployee)]]
                        <td><a href="EditEmployee.aspx?employeeid={{EmployeeId}}&brokerid={{BrokerId}}" target="_blank">edit(e)</a></td>
                        <td><a href="EditUser.aspx?userid={{UserId}}&brokerid={{BrokerId}}" target="_blank">edit(u)</a></td>
                        [[/if]]

                        <td>{{LoginNm}}</td>
                        <td>{{FullName}}</td>
                        <td><a href="mailto:{{Email}}">{{Email}}</a></td>
                        <td><a href="BrokerEdit.aspx?cmd=edit&brokerid={{BrokerId}}" target="_blank">{{BrokerNm}}</a></td>
                        <td>{{BranchNm}}</td>
                        <td><time datetime="{{RecentLoginD.toISOString()}}" title="{{mRecentLoginD.fromNow()}}">{{mRecentLoginD.format("M/D/YYYY h:mm:ss A")}}</time></td>
                        <td>{{Type}}</td>
                        <td>{{#if (IsActive && CanLogin) }} Active {{else}} Disabled {{/if}}</td>

                        [[#if (permission.BecomeUser)]]
                        <td>{{#if (CanLogin) }}
                            {{#if (Type == "B") }}
                                <div><a title="Become broker only"        on-click="['becomeUser', this]">become</a></div>
								{{#if (EnableRetailTpoPortalMode) }}
								<div><a title="Become retail broker only" on-click="['becomeRetail', this]">become (R)</a></div>
								{{/if}}
                            {{elseif (Type == "P")}}
                                <a title="Become broker only" on-click="['becomePmlUser', this]">become</a>
                            {{/if}}
                            {{/if}}
						</td>
                        [[/if]]
                    </tr>{{/each}}
                </tbody>
            </table></div>
            <div>{{users.length}} rows returned.</div>
        </div>
    </div></div>
</div>

{{#partial sortIcon}}
    <span class="glyphicon
        {{#if (sort.by != key)}}invisible{{/if}}
        {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}
