<div class="form form-inline">
    <button class="btn btn-default" ng-click="vm.runAll()" ng-disabled="vm.isRunning">Run All</button>
    <button class="btn btn-default" ng-click="vm.rerun()" ng-disabled="vm.isRunning">Re-run Fail</button>
    <button class="btn btn-default" ng-click="vm.export()">Export Fails</button>

    <div class="checkbox"><label><input type="checkbox" ng-model="vm.isHidePassed"> Hide passed</label></div>
</div>
<p></p>

<p class="summary">
    <p ng-show="((vm.summary.failFixureIds.length + vm.summary.passFixtureIds.length) < 1)
        && vm.isRunning">Running&hellip;</p>

    <div ng-show="(vm.summary.failFixureIds.length + vm.summary.passFixtureIds.length) > 0">
        <table class="table table-striped table-condensed">
            <thead><tr ng-class="(vm.summary.failFixureIds.length > 0) ? 'danger' : 'success'"><td>
                <strong>
                    <span ng-show="vm.isRunning">Running:</span>
                    <span ng-hide="vm.isRunning">Test Classes:</span>
                </strong>
                <mark ng-bind="vm.summary.passFixtureIds.length"></mark> right test classes,
                <mark ng-bind="vm.summary.failFixureIds .length"></mark> wrong test classes.
                <span ng-show="vm.summary.failFixureIds.length > 0">The list of fail test classes:</span>
            </td></tr></thead>
            <tr ng-repeat="id in vm.summary.failFixureIds track by id">
                <td><a ng-href="#Fix_{{id}}" ng-bind="vm.fixtures[id].FullName"></a></td>
            </tr>
        </table>
    </div>
</p>

<div ng-repeat="fixture in vm.fixtures track by $index" ng-init="fixtureId = $index"
     ng-show="(!vm.isHidePassed || fixture.isRunning || fixture.ResultStatus != 2)">
    <table class="table table-bordered table-hover table-condensed">
        <col width="50%">
        <col width="45%">
        <thead><tr>
            <th><span ng-bind="fixture.FullName" select-when-clicked></span></th>
            <th ng-attr-id="Fix_{{fixtureId}}"
                ng-class="vm.resultStatusToCssClass(fixture)">
                <div ng-show="fixture.isRunning">running&hellip;</div>
                <test-message message="fixture.Message" ng-hide="fixture.isRunning"></test-message>
            </th>
            <th class="Run">
                <a ng-class="{disabled: vm.isRunning}"
                    ng-click="vm.runFixture(fixtureId)">Run</a></th>
        </tr></thead>
        <tbody><tr ng-repeat="testMethod in fixture.TestMethods track by $index"
            ng-show="(!vm.isHidePassed || testMethod.isRunning || testMethod.ResultStatus != 2)"
            class="test-method">
            <td><span ng-bind="testMethod.FriendlyName" select-when-clicked></span></td>
            <td ng-attr-id="Fix_{{fixtureId}}_{{$index}}"
                ng-class="vm.resultStatusToCssClass(testMethod)">
                <div ng-show="testMethod.isRunning">running&hellip;</div>
                <test-message message="testMethod.Message" ng-hide="testMethod.isRunning"></test-message>
            </td>
            <td><a ng-click="vm.runMethod(fixtureId, $index)"
                   ng-class="{disabled: vm.isRunning}"
                   class="clickable">run</a></td>
        </tr></tbody>
    </table>
</div>
