<div ng-hide="ctrl.isMultiline" ng-bind="ctrl.message"></div>
<div ng-show="ctrl.isMultiline">
    <div>
        <span ng-bind="ctrl.summary"></span>
        <bs-popover content="ctrl.message" wrapper="pre"
            show-text="Show All" hide-text="Hide"></bs-popover>
    </div>
</div>
