<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>I. REQUEST</h5>
        </div>
        <div class="panel-body">
            <section class="flex">
                <section><header class="title">Title Company</header>
                    <div class="table">
                        <!-- <uc:CFM name=CFM1 runat="server" Type="4" AgentNameField="TitleName" PhoneField="TitlePhone" FaxField="TitleFax" CellPhoneField="TitleCell" EmailField="TitleEmail" CompanyNameField="TitleCompany" StreetAddressField="TitleAddress" CityField="TitleCity" StateField="TitleState" ZipField="TitleZip"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Contact</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].Phone"      ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Title[0].FaxNum"     ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Title[0].EmailAddr"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>       
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Title[0].City" placeholder="City"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].Zip" placeholder="ZIPCode"       ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>

                <section><header class="title">From</header>
                    <div class="table table-request">
                        <!-- <uc:CFM name=CFM2 runat="server" Type="22" AgentNameField="RequestOfTitlePreparerName" AgentTitleField="RequestOfTitleTitle" PhoneField="RequestOfTitlePhone" FaxField="RequestOfTitleFaxNum" EmailField="RequestOfTitleEmailAddr" CompanyNameField="RequestOfTitleCompanyName" StreetAddressField="RequestOfTitleStreetAddr" CityField="RequestOfTitleCity" StateField="RequestOfTitleState" ZipField="RequestOfTitleZip"></uc:CFM> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Attn </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.PreparerName" ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Title</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.Title"        ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.Phone"        ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.RequestOfInsurance.FaxNum"       ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.EmailAddr"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.CompanyName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.StreetAddr" placeholder="Street"   ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.City" placeholder="City"         ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.State" placeholder="State"        ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.Zip" placeholder="ZIPCode"          ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Date        </label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.PrepareDate"  ></lqb-input></div>
                        </div>
                    </div>
                    <div class="table">
                        <div>
                            <div><label>Hint: Type 't' for today's date.</label></div>
                        </div>
                        <div>
                            <div><label>Type 'o' for loan opened date.</label></div>
                        </div>
                    </div>
                    <div class="table table-request">
                        <div>
                            <div><label>Borr DOB      </label> </div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBDOB"         ></lqb-input></div>
                            <div></div>
                        </div>
                        <div>
                            <div><label>Coborr DOB     </label></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCDOB"         ></lqb-input></div>
                            <div></div>
                        </div>
                        <div>
                            <div><label>Lender's Number</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCaseNum"    ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCaseNumLckd"></lqb-input></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>II. PROPERTY AND MORTGAGE INFORMATION</h5>
        </div>
        <div class="panel-body">
            <section class="property-mortgage-information">
                <div class="table">
                    <div>
                        <div><label>Property Type    </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpT"                              ></lqb-input></div>
                        <div><label>Loan Purpose     </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"                        ></lqb-input></div>
                        <div><label>Occupancy Status </label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aOccT"                         ></lqb-input></div>
                    </div>
                </div>

                <div><p><label>Property Address</label></p></div>
                <div class="table">
                    <div>
                        <div><label>Street      </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"             maxlength="60"></lqb-input></div>
                        <div><label>Sales Price </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"                       ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>City</label></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"                          ></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"                            ></lqb-input>
                        </div>
                        <div><label>Total Loan Amount</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"          readonly      ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>County</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpCounty"                         ></lqb-input></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="table wide">
                    <div>
                        <div><label>Legal Description</label></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"                      ></lqb-input></div>
                    </div>
                </div>

                <div class="table">
                    <div>
                        <div><label>Owner Name  </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqOwnerNm"                  ></lqb-input></div>
                        <div><label>Owner Phone </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqOwnerPhone"               ></lqb-input></div>
                    </div>
                </div>
            </section>
            <section class="flex">
                <section><header class="title">Seller</header>
                    <!-- <uc:CFM name=CFM3 runat="server" Type="17" AgentNameField="SellerName" StreetAddressField="SellerAddress" CityField="SellerCity" StateField="SellerState" ZipField="SellerZip"></uc:CFM> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>        
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Seller[0].AgentName" ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>     
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Seller[0].StreetAddr" placeholder="Street"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Seller[0].City" placeholder="City"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Seller[0].State" placeholder="State"     ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Seller[0].Zip" placeholder="ZIPCode"       ></lqb-input>
                            </div>   
                        </div>
                    </div>     
                </section>

                <section><header class="title">Mortgagee</header>
                    <!-- <uc:CFM name=CFM4 runat="server" Type="30" AgentNameField="MortgageeName" CompanyNameField="MortgageeCompany" StreetAddressField="MortgageeAddress" CityField="MortgageeCity" StateField="MortgageeState" ZipField="MortgageeZip"></uc:CFM> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name        </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company Name</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address     </label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].City" placeholder="City"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>III. REQUEST FOR TITLE COMMITMENT</h5>
        </div>
        <div class="panel-body">
            <section>
                <div class="table">
                    <div>
                        <div><label>Attachment</label></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqPriorPolicy"     label="Prior Title Policy     "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqWarrantyDeed"    label="Warranty Deed          "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqInsRequirements" label="Title Ins. Requirements"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqSurvey"          label="Survey                 "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqContract"        label="Contract               "></lqb-input></div>
                    </div>
                </div>
                <div class="table table-title-commitment">
                    <div>
                        <div><label>Type of Policy</label></div>
                        <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sTitleReqPolicyTypeDesc"></lqb-input></div>
                    </div>
                </div>
                <div class="table table-title-commitment">
                    <div>
                        <div><label>Est. Closing Date       </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sEstCloseD"             ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sEstCloseDLckd"         ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqMailAway"      label="Mail Away"></lqb-input></div>
                    </div>
                </div>   
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>IV. SPECIAL INSTRUCTION</h5>
        </div>
        <div class="panel-body">
            <section>
                <div class="table wide">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.fields.sTitleReqInstruction" li-type="textarea"></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
