<!-- Internal Support Page -->
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label class="control-label">sIsAllowExcludeToleranceCure</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsAllowExcludeToleranceCure"></lqb-input></div>
                </div>

                <div>
                    <div><label class="control-label">sIsManuallySetThirdPartyAffiliateProps</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsManuallySetThirdPartyAffiliateProps"></lqb-input></div>
                </div>

                <div>
                    <div><label class="control-label">sClosingCostFeeVersionT</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClosingCostFeeVersionT"></lqb-input></div>
                </div>

                <div>
                    <div><label class="control-label">Closing Cost Fee AND Housing Expense Migration</label></div>
                    <div><a ng-click="vm.migrate()">Migrate to LegacyButMigrated</a></div>
                </div>

                <div>
                    <div><label class="control-label">sIsHousingExpenseMigrated</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsHousingExpenseMigrated"></lqb-input></div>
                </div>

                <div>
                    <div><label class="control-label">Create Closing Cost Disclosure</label></div>
                    <div><a ng-click="vm.createClosingCostDisclosure()">Create Closing Disclosure Archive</a>
                        <div>This will create a CD Archive and mark it as disclosed. Please ask the Lender to review.</div>
                    </div>
                </div>

                <div>
                    <div><label class="control-label">Populate Line L of 1003 from Adjustments?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLoads1003LineLFromAdjustments"
                        ng-disabled="vm.loan.fields.sDisclosureRegulationT.v === vm.E_sDisclosureRegulationT.TRID2015"></lqb-input></div>
                </div>

                <div>
                    <div><label class="control-label">sLoanFileT</label></div>
                    <div>
                        <pre>sLoanFileT</pre>
                        <!--
                        <lqb-input lqb-model="vm.loan.fields.sLoanFileT" readonly></lqb-input>
                        -->
                    </div>
                </div>
                <div>
                    <div>Add IDs to Loan Estimate and Closing Disclosure Dates</div>
                    <div><a ng-click="vm.FixLEAndCDDates()">Add Ids to LE and CD Dates.</a></div>
                </div>

                <div>
                    <div><label class="control-label">Cash to Close Calculation Method</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTRIDLoanEstimateCashToCloseCalcMethodT"></lqb-input></div>
                </div>

                <div ng-show="vm.loan.fields.sHasLastDisclosedLoanEstimateArchive.v">
                    <div><label class="control-label">Rollback sLoanVersionT</label></div>
                    <div>
                        <input type="text" id="rollbackTarget">
                        <a ng-click="vm.PerformRollback()">Rollback</a>
                    </div>
                </div>

                <div>
                    <div><label class="control-label">Use 2016 Combo and Proration Updates to 1003 Details</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUse2016ComboAndProrationUpdatesTo1003Details"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
