.background {
    fill: #FFFFFF;
    fill-opacity: 0.01;
}

.component {
    fill: #E5E7EA;
}

.component .label {
    font-family: Myriad, "Helvetic Neue", Helvetica, Arial;
    text-anchor: middle;
    fill: #0000FF;
}

.arc2 {
    stroke-weight:0.1;
    fill: #006693;
    z-index: 1;
}


.arc {
    stroke-weight:0.1;
    fill: #25BBEF;
    z-index: -1;
}


.label {
    fill:#25BBEF;
    text-anchor: middle;
}

.radial-svg {
    display: block;
    margin: 0 auto;
}