/*col-6 height*/
.col-6-height {
	height:100px;
}
/*Word Wrap*/
.break-word { word-break: break-all 

} 
/*Custom Colors N/A font*/
.na-gray {
	color:#AAB7C2;
}
/*Fixed Top Header*/
.subhead-lockup {
	
	color: #ffffff !important;
	
}
/*Floating Headers*/
.floating-header {
	margin-top: 25px;
	margin-bottom: 30px;
	width: 100%;
	background-color: #e5e7ea;
	z-index: 100;
}
/* Body Styling*/
.body-stylesheet {
	margin-top:50px;
}

/*row remove negative margin*/
.row{
	margin-left:0px;
	margin-right:0px;
}
.pointer{
	pointer-events: none;
}


/*Styling of the Panel*/
.panel-padding {
	padding-left:25px;
	padding-right:25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.panel-header-stripe {
	padding:5px 0 0 0 !important; 
	border-radius:0px;
}
.panel-default > .panel-heading {
	background-color:#00435B;
}
.panel-heading {
	background-color:#00435B;
}
/*Styling of the Side Bar*/
.sidebar-list {
	font-size: 10px;
	color: #ABCDEF;
	background-color: #E7E8EA !important;
	padding-left: 0px !important;
}
.sidebar {
	background-color: #e5e7ea !important;
	list-style-type: none;
	border-bottom: 1px solid #AAB7C2;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
}

/*Custom Count Badge*/
.badge-custom {
	background-color: #009CE0;
	border-radius: 14px;
	padding: 6px 6px;
}
/*Remove bottom margin from Row*/
.no-margin-row {
	margin-bottom: 0px !important;
}
/*Styling for the N/A within the Calculated Values Section*/
.na-style {
	position: relative;
	top: 70px;
}

.na-style-evalSummary {
	position: relative;
	top: 10px;
	left: 20px;
}

/*No Margin*/
.no-margin {
	margin:0px;
}
/*Table Row Header Styling*/
.table-row-header {
	margin-top: 20px;
	margin-bottom: 20px;
	

}
/*Table Custom Header for Evaluation Summary*/
.table-row-header-padding {
	padding-bottom:12px !important;
	padding-top:8px !important;
}
/*Custom Anchor jump */
.anchor {
    display: block;
    position: relative;
    
    top:-100px;
	visibility:hidden;
    
}
/*Pull Utility List to the right*/
.utility-list-custom-right {
	top: 90px;
	right:0px;
}

.nav li.active a{
    color: #f55;
    text-decoration: underline;
}

.affix {
	position:fixed!important;
}

.col-4:nth-child(4) {
	margin-left:0px;
}
.col-6:nth-child(odd) {
	margin-left:0px
}

/*img Bracket Position*/
.img-bracket {
position: relative;
right: 17px;
height:22px;
}
/*Fill Gauge Position*/
.fill-gauge-position {
position: relative;
top: 31px;
left: 15px;
}

.hide {
	display:none;
	
}

/*Override Bootstrap Container*/
@media (min-width: 768px) {
  .container {
    width:auto;
  }
}
@media (min-width: 992px) {
  .container {
    width:auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width:auto;
  }
}

@media print {

	
  .utility-list {
	display:none !important;
  }
  pre {
	
	page-break-inside:auto !important;
	
  }



  .no-print {
	display:none;
  }
 .footer{
	display:none;

 }
 nav {
	position:absolute !important;
	top:0px;
 }

 
}	


@media screen and (max-width:1180px) {
	.sidebar-list {
		position:relative !important;
	}
}

.minwidth {
	min-width:1180px !important;
}

/*Override the Left Navigation Arrow */
.sidebar-list > li .sidebar-sublist > li > a.active::after {
    content:none !important;
}


/* Robert's Code */
.background {
	fill: #FFFFFF;
	fill-opacity: 0.01;
}

.component {
	fill: #E5E7EA;
}

.component .label {
	font-family: "helvetica neue", helvetica, arial;
	text-anchor: middle;
	fill: #0000FF;
	text-size: 30px;
	text-weight: 600;
	text-color: #25BBEF;
}

.arc2 {
	stroke-weight: 0.1;
	fill: #006693;
	z-index: 1;
}

.arc {
	stroke-weight: 0.1;
	fill: #25BBEF;
	z-index: -1;
}

.label {
	font-family: "helvetica neue", helvetica, arial;
	text-anchor: middle;
	text-size: 30px !important;
	text-weight: 600;
	fill: #25BBEF;
}

.label1 {
	font-family: "helvetica neue", helvetica, arial;
	text-anchor: middle;
	text-size: 30px !important;
	text-weight: 600;
	fill: #006693;
}

.radial-svg {
	display: block;
	margin: 0 auto;
}

.main-nav {
	top:0px;
} 

.v-align {
	vertical-align: middle;
}
 
footer {  	overflow:auto; }



/* Uma Changes */
.header-contained{
padding-bottom: 15px;
padding-top: 15px;
}
.top-header{
padding-top: 5px !important;
padding-bottom: 15px;
}
.form-label{
padding-bottom: 6px !important;
}
.form-field{
height: 37px !important;
}
.right{
text-align: right !important;
margin: auto !important;
}
#previous, #next1, #next{
font-size: 13px;
}
#previous{
padding-left:3px;
}
#next1{
padding-right: 3px;
padding-left:3px;
}
#next{
padding-right: 3px;
padding-left:3px;

}
hr{
margin-bottom: 20px;
margin-top: 15px;
}
.sixteenFont{
font-size: 16px;
}
.row{
margin-bottom: 15px;
padding-bottom: 15px;
}
.floating-header{
font-size: 28px !important;
margin-bottom: 0px;
}
.alert{
margin-bottom: 0px;
}
.tabs-container > .tabs-list > li > a {
font-size: 18px;
padding: 10px 15px;
}
.tabs-container .content{
padding: 20px 25px;
}
.tabs-container{
margin: -15px 0px 25px;
}
.tabs-container .content .row:not(:last-child){
margin-bottom: 15px;
padding-bottom: 15px;
}
.LD{
margin-top: 15px;
}
.feedbackNav{
top: 144px !important;
}

