/
@media print {
	
.floating-header {
		font-size:16px !important; 
	}

	.header-contained {
		font-size:14px !important; 
	}
	.body-navy {
		font-size:12px !important; 
	}
	.call-to-act {
		font-size:12px !important; 
	}
	.h4-label {
		font-size:11px !important; 
	}
	td {
		font-size:12px !important;
	}
		.print-selected {
		font-size: 14px !important;
} 
	.print-selected1 {
		font-size: 10px !important;
} 
	.print-arm {
		font-size: 18px !important;
} 
 .main-nav  a{
	position:relative !important;

 }
	
}	