<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
            <div class="hidden" lqb-load-fields="applicants" hidden></div>
			<p>
                <button type="button" class="btn btn-default"  ng-click="vm.createApplicant()"">Add new borrower</button>
            </p>
            <table class="primary-table">
                <thead class="header">
                    <tr>
                        <th>Is Primary?</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="applicant in vm.loan.applicants">
                        <td><input type="radio" data-ng-model="applicant.aIsPrimary" ng-change="vm.radioChanged($index)" ng-value="true"/></td>
                        <td>{{vm.getAppName($index)}}</td>
                        <td><button type="button" class="btn btn-link" ng-click="vm.swapBorrower($index)">Swap borr &amp; spouse</button></td>
                        <td><button class="btn btn-link" ng-click="vm.deleteSpouse($index)">Delete spouse</button></td>
                        <td><button class="btn btn-link" ng-click="vm.deleteApp($index)">Delete this borr &amp; spouse</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
