<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>
            REQUEST FOR SINGLE FAMILY HOUSING LOAN GUARANTEE
        </h5></div>
        <div class="panel-body">
            <div class="table table-approved-lender wide space-bottom">
                <div>
                    <div><label>Approved Lender:           </label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.CompanyName"      ></lqb-input></div>
                    <div><label>Approved Lender Tax ID No.:</label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.TaxId"            ></lqb-input></div>
                </div>
                <div>
                    <div><label>Contact/Authorized Representative: </label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.PreparerName"     ></lqb-input></div>
                    <div><label>Approved Lender E-mail:            </label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.EmailAddr"        ></lqb-input></div>
                </div>
                <div>
                    <div><label>Phone Number:</label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.PhoneOfCompany"   ></lqb-input></div>
                    <div><label>Fax Number:  </label>
                        <lqb-input class="form-control" lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.FaxOfCompany"     ></lqb-input></div>
                </div>
                <div>
                    <div><label>Third Party Originator (TPO):</label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeThirdPartyOriginator.CompanyName"></lqb-input></div>
                    <div><label>TPO Tax ID No:               </label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeThirdPartyOriginator.TaxId"      ></lqb-input></div>
                </div>
                <div>
                    <div><label>USDA Application Number: </label>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeNum"                                    ></lqb-input></div>
                    <div class="lender-loan-reference-number"><label>Lender Loan Reference Number:</label>
                        <lqb-input lqb-model="vm.loan.fields.sLNm"                                                 ></lqb-input></div>
                </div>
                <div>
                    <div><label>Title/Company</label>
                        <lqb-input lqb-model="vm.loan.preparerFields.UsdaGuaranteeApprovedLender.Title"            ></lqb-input></div>
                    <div></div>
                </div>
            </div>
            <hr/>

            <div class="table table-applicant-information wide">
                <div>
                    <div><label>Applicant Information</label></div>
                    <div><label>Co-Applicant Information</label></div>
                </div><br/>

                <div>
                    <div>
                        <div class="table wide table-applicant-information">
                            <div>
                                <div><label>First Name:</label></div>
                                <div><lqb-input class="form-control form-control-name" lqb-model="vm.loan.app.fields.aBFirstNm"      maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Middle Name:  </label></div>
                                <div><lqb-input class="form-control form-control-middle-name" lqb-model="vm.loan.app.fields.aBMidNm"        maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Last Name:</label></div>
                                <div><lqb-input class="form-control form-control-name" lqb-model="vm.loan.app.fields.aBLastNm"       maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Suffix:</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBSuffix"                     ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>SSN: </label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBSsn"                        ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Date of Birth:</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBDob"                        ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>U.S. Citizen: (Y/N)</label></div>
                                <div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aBDecCitizen"                 ></lqb-input></div>
                            </div>
                            <div>
                            <div><label>Permanent Resident/Qualified Alien: (Y/N)</label></div>
                            <div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aBDecResidency"               ></lqb-input></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table wide table-applicant-information">
                            <div>
                                <div><label>First Name:</label></div>
                                <div> <lqb-input class="form-control form-control-name" lqb-model="vm.loan.app.fields.aCFirstNm"      maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Middle Name:</label></div>
                                <div> <lqb-input class="form-control form-control-middle-name" lqb-model="vm.loan.app.fields.aCMidNm"        maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Last Name:</label></div>
                                <div> <lqb-input class="form-control form-control-name" lqb-model="vm.loan.app.fields.aCLastNm"       maxlength="21"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Suffix:</label></div>
                                <div> <lqb-input lqb-model="vm.loan.app.fields.aCSuffix"                     ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>SSN:</label></div>
                                <div> <lqb-input lqb-model="vm.loan.app.fields.aCSsn"                        ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Date of Birth:</label></div>
                                <div> <lqb-input lqb-model="vm.loan.app.fields.aCDob"                        ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>U.S. Citizen: (Y/N)</label></div>
                                <div> <lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aCDecCitizen"                 ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Permanent Resident/Qualified Alien: (Y/N)</label></div>
                                <div> <lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aCDecResidency"               ></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div><br/>

                <div>
                    <div>
                        <div class="table wide table-applicant-information">
                            <div>
                                <div><label>Veteran:             </label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeVeteranTri"            ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeVeteranTri"            ng-value="false" li-type="radio2" label="No"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Disabled:            </label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeDisabledTri"           ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeDisabledTri"           ng-value="false" li-type="radio2" label="No" ></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Gender:              </label></div>
                                <div> <lqb-input lqb-model="vm.loan.app.fields.aBGender"                                                              ></lqb-input>    </div>
                            </div>
                            <div>
                                <div><label>First Time Homebuyer:</label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeFirstTimeHomeBuyerTri" ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeFirstTimeHomeBuyerTri" ng-value="false" li-type="radio2" label="No" ></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table wide table-applicant-information">
                            <div>
                                <div><label>Veteran:             </label></div>
                                <div>
                                <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeVeteranTri"            ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                   <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeVeteranTri"         ng-value="false" li-type="radio2" label="No" ></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Disabled:            </label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeDisabledTri"           ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeDisabledTri"           ng-value="false" li-type="radio2" label="No"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Gender:              </label></div>
                                <div> <lqb-input lqb-model="vm.loan.app.fields.aCGender"                                                              ></lqb-input>    </div>
                            </div>
                            <div>
                                <div><label>First Time Homebuyer:</label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeFirstTimeHomeBuyerTri" ng-value="true"  li-type="radio2" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeFirstTimeHomeBuyerTri" ng-value="false" li-type="radio2" label="No" ></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br/>

                <div>
                    <div><label>Ethnicity:</label> <lqb-input lqb-model="vm.loan.app.fields.aBHispanicT"></lqb-input></div>
                    <div><label>Ethnicity:</label> <lqb-input lqb-model="vm.loan.app.fields.aCHispanicT"></lqb-input></div>
                </div><br/>

                <div>
                    <div><label>Race: (check all that apply)</label>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAmericanIndian"  label="American Indian or Alaska Native         "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAsian"           label="Asian                                    "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBIsBlack"           label="Black or African American                "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBIsWhite"           label="White                                    "></lqb-input></div>
                    </div>
                    <div><label>Race: (check all that apply)</label>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAmericanIndian"  label="American Indian or Alaska Native        "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAsian"           label="Asian                                   "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCIsBlack"           label="Black or African American               "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCIsPacificIslander" label="Native Hawaiian or Other Pacific Islande"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCIsWhite"           label="White                                   "></lqb-input></div>
                    </div>
                </div><br/>

                <div>
                    <div><label>Marital Status: </label><lqb-input lqb-model="vm.loan.app.fields.aBMaritalStatT"></lqb-input></div>
                    <div><label>Marital Status: </label><lqb-input lqb-model="vm.loan.app.fields.aCMaritalStatT"></lqb-input></div>
                </div><br/>

                <div>
                    <div>
                        <label>The applicant has a relationship with any<br />
                        current Rural Development employee.</label>
                        <div>
                            <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeEmployeeRelationshipT" ng-value="true"  li-type="radio2" label="has          "></lqb-input>
                            <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeEmployeeRelationshipT" ng-value="false" li-type="radio2" label="does not have"></lqb-input>
                        </div><br/>

                        <label>Explain.</label>
                        <lqb-input lqb-model="vm.loan.app.fields.aBUsdaGuaranteeEmployeeRelationshipDesc"></lqb-input>
                    </div>
                    <div>
                        <label>The co-applicant has a relationship with any<br />
                        current Rural Development employee.</label>
                        <div>
                            <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeEmployeeRelationshipT" ng-value="true"  li-type="radio2" label="has          "></lqb-input>
                            <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeEmployeeRelationshipT" ng-value="false" li-type="radio2" label="does not have"></lqb-input>
                        </div><br/>

                        <label>Explain.</label>
                        <lqb-input lqb-model="vm.loan.app.fields.aCUsdaGuaranteeEmployeeRelationshipDesc"></lqb-input>
                    </div>
                </div><br/>

                <div>
                    <div><label>Applicant's Credit Score:    </label><lqb-input lqb-model="vm.loan.app.fields.aBDecisionCreditScore" readonly></lqb-input> <lqb-input lqb-model="vm.loan.app.fields.aBHasHighestScore" readonly label="No Score"></lqb-input></div>
                    <div><label>Co-Applicant's Credit Score: </label><lqb-input lqb-model="vm.loan.app.fields.aCDecisionCreditScore" readonly></lqb-input> <lqb-input lqb-model="vm.loan.app.fields.aCHasHighestScore" readonly label="No Score"></lqb-input></div>
                </div>
            </div>
            <hr/>

            <div class="table">
                <div>
                    <div><label>Property Address:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"   maxlength="60"></lqb-input></div>
                </div>
                <div>
                    <div><label>City/State/Zip:  </label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"   maxlength="36"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"                ></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"                  ></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>County:          </label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpCounty"               ></lqb-input></div>
                </div>
            </div>
            <hr/>

            <div class="table">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeIsRefinanceLoan" readonly label="Is a refinance loan"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>If Yes, refinanced loan is an RD Single Family Housing</label></div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeRefinancedLoanT" ng-value="true"  li-type="radio2" label="Guaranteed Loan"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeRefinancedLoanT" ng-value="false" li-type="radio2" label="Direct Loan    "></lqb-input>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="table">
                <div>
                    <div><label>1. Number of persons in the household:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeNumOfPersonInHousehold"></lqb-input></div>
                </div>
                <div>
                    <div><label>Number of dependants under Age 18 or Full-time Students:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeNumOfDependents"></lqb-input></div>
                </div>
            </div><hr/>

            <div class="table">
                <div>
                    <div><label>2a. The current annual income for the household is:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLTotAnnualI" readonly></lqb-input></div>
                </div>
                <div>
                    <div><label>2b. The current adjusted income for the household is:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeAdjustedAnnualIncome"></lqb-input></div>
                </div>
            </div><hr/>

            <div class="table">
                <div>
                    <div><label>3. PITI ratio:   </label></div><div><lqb-input lqb-model="vm.loan.fields.sQualTopR"    readonly></lqb-input></div>
                    <div><label>TOTAL DEBT ratio:</label></div><div><lqb-input lqb-model="vm.loan.fields.sQualBottomR" readonly></lqb-input></div>
                </div>
            </div><hr/>

            <div class="table">
                <div>
                    <div><label>4. We propose to loan                </label></div><div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"   readonly></lqb-input></div>
                    <div><label>for 30 years at                      </label></div><div><lqb-input lqb-model="vm.loan.fields.sNoteIR"     readonly></lqb-input></div>
                    <div><label>per annum with payments (P&amp;I) of </label></div><div><lqb-input lqb-model="vm.loan.fields.sMonthlyPmt" readonly></lqb-input></div>
                    <div><label>per month.</label></div>
                </div>
            </div><hr/>

            <div class="table">
                <div>
                    <div><label>5. The interest rate is based on the </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeIsNoteRateBasedOnFnma" label="Fannie Mae on"></lqb-input>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeNoteRateBasedOnFnmaD"></lqb-input>
                    (required).</div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeIsNoteRateLocked" label="The interest rate is locked in until"></lqb-input>
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeNoteRateLockedD"></lqb-input></div>
                </div>
            </div>
            <div class="table">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeIsNoteRateFloat" label="The interest rate will float until loan closing (documentation of lock date will be required w/ loan closing report)." ></lqb-input>
                    </div>
                </div>
            </div><hr/>

            <div><p><label>6. The applicant understands that Rural Development approval of guarantee is
                    required and is subject to the availability of funds.</label></p></div><hr/>

            <div><p><label>7. The applicant is unable to secure the necessary conventional credit without a
                    Rural Development guarantee upon reasonable rates, terms and conditions in
                    which the applicant could reasonably be expected to fulfill.</label></p></div><hr/>

            <div><p><label>8. Loan funds will be used for the following purpose(s):</label></p></div>
            <div class="table">
                <div>
                    <div><label>Purchase / Refinance Amt:</label></div>
                    <div><lqb-input class="form-control medium-text-loan-funds" lqb-model="vm.loan.fields.sUsdaGuaranteePurchaseAmtDesc" ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteePurchaseAmt"             ></lqb-input></div>
                </div>
                <div>
                    <div><label>Financed Loan Closing Costs:</label></div>
                    <div><lqb-input class="form-control medium-text-loan-funds" lqb-model="vm.loan.fields.sUsdaGuaranteeClosingCostsDesc"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeClosingCosts"            ></lqb-input></div>
                </div>
                <div>
                    <div><label>Repairs / Other:</label></div>
                    <div><lqb-input class="form-control medium-text-loan-funds" lqb-model="vm.loan.fields.sUsdaGuaranteeRepairFeeDesc"   ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeRepairFee"               ></lqb-input></div>
                </div>
                <div>
                    <div><label>Guarantee Fee:</label></div>
                    <div><lqb-input class="form-control medium-text-loan-funds" lqb-model="vm.loan.fields.sUsdaGuaranteeGuaranteeFeeDesc"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeGuaranteeFee"            ></lqb-input></div>
                </div>
                <div>
                    <div><label>Total Request:</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUsdaGuaranteeTotalRequestFee" readonly></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>
