﻿#ActionContainer
{
    min-height: 120px;
}

#ActionContainer input
{
    font-size: small;
}

div#AllActions, div#ComparePinnedContainer
{
    width: 100%;
}

.Hidden
{
    display: none;
}

div#AllActions
{
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

div#AllActions > .Action
{
    width: 50%;
    height: 2em;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

#ActionContainer .Action
{
    white-space: normal;
}

#ComparePinned
{
    height: 4em;
    white-space: normal;
}

div#ComparePinnedContainer.FullHeight
{
    height: 100%;
}

#ComparePinnedContainer
{
    height: 60px;
}

#ActionContainer .Action.Total_1, #ConvertLeadToLoan
{
    width: 100%;
    height: 100%;
}

#ConvertLeadToLoan.Total_2
{
    width: 50%;
    height: 100%;
    float: left;
}

#ComparePinned, .EditClosingCostsBtn
{
    height: 100%;
    white-space: normal;
}

.HalfWidth input
{
    float:left;
    width:50%;
}

.FullWidth input
{
    width:100%;
}

#ComparePinned.Total_2
{
    width: 50%;
    height: 100%;
}