﻿.nowrap {
    white-space: nowrap;
    padding-right: 5px;
}

img, #ActivityLogTimeHeader { 
    cursor: pointer;
}

td.image-cell {
    text-align: center;
    padding-left: 8px;
}

img.pass, img.fail {
    cursor: default;
}

img.pass {
    width: 24px;
}

div.required-image-column {
    padding-top: 6px;
}

.order-button-div {
    display: inline;
}

@media all and (-ms-high-contrast: none) {
    /*
        IE will not correctly fire the tooltip events when
        divs are displayed inline, and instead requires inline-block.
    */
    .order-button-div {
        display: inline-block;
    }
}

.order-button-div button[disabled] {
    pointer-events: none;
}

#ReviewRequiredImage {
    vertical-align: auto;
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

span.audit-image {
    margin-right: 8px;
}

table.grey-box-border {
    width: 100%;
}

table.grey-box-border td:not(.spacer) {
    color: #000;
}

table.grey-box-border td:not(.spacer):not(.text-center):not(.image-cell) {
    padding-left: 5px;
}

div.wizard-inset-cell {
    padding-left: 15px;
}

div.wizard-inset-cell:last-child div.col-xs-12 {
    padding-right: 0;
}

div.wizard-inset-cell {
    padding-right: 15px;
}

div.wizard-section {
    padding-top: 15px;
}

div.wizard-section:last-child {
    padding-bottom: 15px;
}

table.fixed-layout {
    table-layout: fixed;
}

table.grey-box-border td.order-initial-left-button {
    padding-left: 15px;
}

table.grey-box-border td.order-initial-right-button {
    padding-right: 15px;
}

table.grey-box-border td.order-initial-left-button, table.grey-box-border td.order-initial-right-button {
    padding-bottom: 15px;
}

table.grey-box-border td.spacer {
    border-left: 1px solid #000;
}

td.extra-right-padding {
    padding-right: 8px;
}

.subsection-header {
    background-color: #BBBDBA;
    border: 1px solid #000;
    white-space: nowrap;
    padding-bottom: 8px;
}

div.wizard-inset-cell div.subsection-header:last-child {
    border-left: 0;
}

table.grey-box-border td.warning, div.warning {    
	color: #F00;
}

.grey-box-border {
    border: 1px solid #000;
}

tr.subsection-header td, div.subsection-header {
    padding-top: 10px;
    padding-bottom: 10px;
}

#DisclosuresPopup, #DisclosureRequestPopup {
    display: none;
    margin: auto;
    min-height: 1px !important;
}

#DisclosuresPopup div.ae-data div:not(:first-child) {
    padding-left: 10px;
    padding-right: 20px;
    word-break: break-all;
    white-space: pre-wrap;
}

#DisclosuresPopup div.loading-image {
    text-align: center;
}



#DisclosureFormFile {
    display: inline;
}

p.title {
    margin: 0px;
}

#TridDisclosureSection > div, div.dates-section {
    margin-bottom: -14px;
}

div.dates-section {
    padding: 0;
}

div.row {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
}

div.grey-box-border div.row:not(.wizard-inset-cell), 
div.dates-section tr:not(.subsection-header) td, 
table.with-striping tr:not(.subsection-header) td, table.with-even-striping tr:not(.subsection-header) td, div.audit-results div.audit-results-row div, div.audit-findings tr:not(.subsection-header) td, div.request-review-data-column tr:not(.subsection-header) td {
    
}
div.section-header {
    color: #000;
    background-color: #9FC5F8;
    padding: 8px;
    border: 1px solid #000;
}

#ImportantLoanDatesSection div.row {
    margin-bottom: 10px;
}

#ImportantLoanDatesSection td, #DeadlinesSection tr:not(:first-child) td {
    padding-bottom: 20px;
}

#ImportantLoanDatesSection tr:first-child td, #DeadlinesSection tr:nth-child(2) td {
    padding-top: 20px;
}

div.dates-section tr:not(.no-dates-row) td:not(:last-child) {
    width: 19%;
}

div.audit-results div.audit-results-row div:first-child {
    border-left: 1px solid #000;
}

#ActivityLogSection tr td:not(:last-child) {
    border-right: 0;
}

div.audit-results div.audit-results-row:last-child div {
    border-bottom: 1px solid #000;
}

div.audit-findings tr td:first-child {
    width: 10%;
}

div#statusDiv {
    margin: 0;
    display: inline;
    margin-left: 15px;
}

div#statusDiv ul {
    padding: 0;
}

div#statusDiv ul li {
    height: 30px;
}

div#statusDiv ul li a {
    width: 212px !important;
    cursor: default;
}

.embedded {
    width: 100%;
}

.container-disclosures .row .white-space-pre-wrap {
    white-space: pre-wrap;
}

.container-disclosures .row .width-180 {
    width: 180px;
}

.container-disclosures .row .width-150 {
    width: 150px;
}

.container-disclosures .row .text-right {
    text-align: right;
}

/*Begin Huyn*/
.ae-data div {
    line-height: 1.7em;
    padding-left: 1.5em;
}
/*End Huyn*/
