﻿/* CSS Resets */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,q,small,strong,sub,sup,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;margin:0;padding:0}article,aside,figure,figure img,figcaption,hgroup,footer,header,nav,section,video,object{display:block}a img{border:0}figure{position:relative}figure img{width:100%}
        
/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
.gridcontainer
{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}
.dynamicrow
{
    width: 100%;
    max-width: 1230px;
    min-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}
.row
{
    width: 1220px;
    max-width: 1230px;
    min-width: 755px;
}
.row .warp-section {
    overflow: hidden;
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol
{
    float: left;
    min-height: 1px;
}
.onecol
{
    width: 8.33%;
}
.twocol
{
    width: 16.66%;
}
.threecol
{
    width: 25%;
}
.fourcol
{
    width: 33.33%;
}
.fourcol .container {
    padding-left: 0;
}
.fivecol
{
    width: 41.66%;
}
.sixcol
{
    width: 50%;
}
.sevencol
{
    width: 58.33%;
}
.eightcol
{
    width: 66.66%;
}
.ninecol
{
    width: 75%;
}
.tencol
{
    width: 83.33%;
}
.elevencol
{
    width: 91.66%;
}
.twelvecol
{
    width: 100%;
    float: left;
}
.last
{
    margin-right: 0px;
}
img, object, embed
{
    max-width: 100%;
}
img
{
    height: auto;
}