﻿.LoanFilePricer
{
	width: 100%;
	/*background: peachpuff;*/
}

.LoanFilePricer legend 
{
    font-size: 1.2em;
    font-weight: bold;
    color:#ff9933;
    margin-bottom: 5px;
    padding: 3px;
}

.LoanFilePricer div
{
    /*border: solid 1px darkGray;*/
    overflow: hidden;
}

#LoanOriginatorSection
{
    clear: left;
    margin-left: 1.25em;
}

.LoanFilePricer label
{
    font-family:verdana, arial, sans-serif;
    text-align: right;
    width: 110px;
    clear: left;
    display: inline-block;
    padding-right: 10px;
    color:#565656;
    margin-bottom: 0.5em; 
    /*border: solid 1px darkgray;*/
}

.LoanFilePricer .normal
{
	display:inline;
	float:none;
	width:auto;
	padding-right:0px;
}

.LoanFilePricer input 
{
    display: inline-block;
    clear: both;
    margin-top: 2px;
    margin-bottom: 2px;
}

.floatLeftField
{
    float: left;
}

.floatRightField
{
    float: right;
    padding-right: 30px;
}

#sProdIsCondotelLabel
{
    width: 50px;
}

#AppraisalPanel
{
    margin-left: 12px;
}

#CondotelPanel
{
    margin-left: 60px;   
}

#sSpZip
{
    width: 70px;
}

#sCreditScoreEstimatePe
{
    width: 35px;
    text-align: right;
}

#sNumFinancedProperties
{
    width: 35px;
    text-align: right;
}

#CondoStoriesPanel
{
    margin-left: 5px;
}

#sProdCondoStories
{
    width: 30px;
    text-align: right;
}

.clearLeft
{
    clear: left;
}

.singleLine
{
    margin-top: .25em !important;
}

.wide
{
    width: 200px !important;
}

.mediumSelect
{
    width: 150px;
}

.rateLockSmartText 
{
    text-align: center;
    color:#565656;
}

#sProdRLckdDays
{
    width: 50px;
    text-align: right;
}

#sOriginatorCompensationBorrPaidMb
{
    width: 70px;
    text-align: right;
}

/* Stuff for getting two fields on 1 line. */
.inline
{
    display: inline;
}

#TotalMonthlyIncomePanel
{
    display: inline;
}

#sPrimAppTotNonspIPe
{
    width: 60px;
    text-align: right;
}

#sPrimAppTotNonspIPeLabel
{
    width: 80px !important;
    padding-right: 0px !important;
}

#sProdCurrPIPmt
{
    width: 60px;
    text-align: right;
}

#OccupancyRatePanel
{
    margin-left: 10px;
}
#sOccRPe
{
    width: 55px;
    text-align: right;
}
#sOccRPeLabel
{
    width: 65px !important;
}
#sSpGrossRentPe
{
    width: 60px;
    text-align: right;
}

#StatePanel
{
    margin-left: 25px;
}


#ButtonPanel
{
    margin-top: 10px;
    text-align: center;
}

#PriceBtn
{
    width: 120px;
}

#ProcOrderCrBtn
{
    width: 180px;
}

.LoanFilePricer .alignRight
{
    text-align: right;
}

.LoanFilePricer .verticalRadioListLabel
{
    display: inline-block;
    width: 200px;
    text-align: left;
    vertical-align: middle;
    margin-bottom: 5px;
}

#BorrowerPaidCompExceedsLenderPaidCompMessage
{
    font-size: smaller;
    display: inline-block;
    padding-bottom: 5px;
    color:#565656;
}

.Hidden
{
    display: none;
}