﻿.small-bottom-spacer {
    margin-bottom: 10px;
}

.large-bottom-spacer {
    margin-bottom: 20px;
}

p.title {
    margin: 0px;
}

input[type=text] {
    padding-left: 5px;
    line-height: 16px;
}

input.small {
    max-width: 2.75em;
    width: 100%;
}

input.medium {
    max-width: 6.5em;
    width: 100%;
}

input.large, select.large {
    max-width: 8em;
    width: 100%;
}

input.xl, select.xl {
    min-width: 21em;
    width: 100%;
}

.content {
    margin: 0;
    padding: 2em 0;
    max-width: none;
    min-width: 720px;
    background: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.content .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

input[readonly], select[disabled] {
}

h4.section-header {
    background-color: #45698A;
    color: #fff;
    font-size: 14px;
    border: 1px #d8e0e6 solid;
    font-size: 14px;
    height: 32px;
    line-height: 30px;
    padding: 0 8px;
}

input#sIsConvertibleMortgage {
    cursor: default;
}

fieldset {
    border: #495b79 1px solid;
    padding: 20px;
    margin: 10px 9px 0 9px;
}

fieldset > legend {
    padding: 0 5px;
    font-size: 14px;
    color: #495b79;
    border: none;
    width: auto;
    margin: 0;
}

.tabmenu .active a, .tabmenu .active a:hover {
    color: #fff;
    background: #495b79;
}

.WarningText {
    color: #EA1C0D;
}

.row {
    margin-top: 5px;
}

.row:first-child {
    margin-top: 0;
}

.tooltip {
    text-decoration: none;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    opacity: inherit;
    filter: none;
}

.tooltip .tooltiptext {
    width: 500px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    color: black;
    padding: 2px;

    position: absolute;
    z-index: 1;
    top: -3px;
    left: 105%;
}

input.ng-invalid, select.ng-invalid {
    background-color: pink;
}

table td {
    padding: 3px;
    vertical-align: top;
    white-space: nowrap;
}

table {
    width: 100%;
}

table td > input[type="text"], table td > select {
    display: block;
    width: 100% !important; /*Override "money" preset inline style from mask.js.*/
}

/* For (Source of Down Payment) comboboxes*/
#sDUDownPmtSrcs td > div > input {
    width: 95%;
}

#sDuThirdPartyProviders td:nth-child(1) {
    width: 15%;
    vertical-align: top;
}

#sDuThirdPartyProviders td:nth-child(2) {
    width: 80%;
}

#sFannieArmPlanNum {
    width: 90%;
}

.originator-id-label {
    display: inline-block;
    width: 200px;
}

input[type="button"] {
    padding: 3px 5px;
}

.tabbable {
    
}

.margin-top-5 {
    margin-top: 5px;
}

input[type=text]:not([readonly]), select:not(.readonly):not([disabled]) {
    background-color: white !important; 
}

/* Chrome and Firefox style rule to unify appearance of convertible loan checkbox
    with the appearance in IE. */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm), screen and (-moz-images-in-menus:0) {
    input#sIsConvertibleMortgage {
        width: 18px;
        height: 15px;
    }
}
