/* CSS Document */
body {
	background: #fff;
	color: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	margin: 0;
	padding: 20px 0;
}

* {
	margin: 0;
	padding: 0;
}

.backLink
{
    margin-left:5px; 
    height:20px; 
    vertical-align:middle; 
    font: 14px Verdana, arial, sans-serif;
}

#topMenu, #bottomMenu
{
    text-align:right;
}

#appTabs, #appTabs2
{
}

#ErrorMessageDiv
{
    display:none;
     text-align:center
}

#runPricingBtn1, #runPricingBtn2, #editClosingCostsBtn1, #editClosingCostsBtn2
{
    
}

#runPricingBtn1:hover, #runPricingBtn2:hover, #editClosingCostsBtn1:hover, #editClosingCostsBtn2:hover
{
    cursor:pointer;
}

#runPricingBtn2, #editClosingCostsBtn2
{
    margin-top:10px;
}

.bottomTabs
{
    border-bottom: none !important;
    border-top: #495b79 1px solid;
    margin-bottom:0px !important;
    margin-top: 10px;
}

.padding-content { padding: 0 2em; }

.none-mbt { margin-bottom: 0 !important; }

.none-mr { margin-right: 0 !important; }

.mr-w2 {
	float: left;
	margin-right: 2px !important;
}

font {
	color: #757575;
	padding-left: 10px;
}

.color-grey { color: #757575; }

.icondate {
	margin-left: 5px;
	vertical-align: middle;
}

a {
	outline: none;
}

.input-textleft { text-align: left; }

.input-textright { text-align: right; }

textarea {
	resize: vertical;
}

.warp-content {
	background: #495b79;
}

.warp-content .content {
	background: #fff;
	width: 100%;
}

.warp-content .content .content-detail { 
	padding: 0;
}
.warp-content .content .content-detail form {
	width: 100%;
}

.content-detail .warp-section-first { margin-top: 20px; }

.content-detail .warp-section h3:not(.text-loading) {
	border: 1px #c5c5c5 solid;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	margin: 0;
	color: #000;
	background: #ebeff2;
}

.content-detail .warp-section .box-section-border-red legend {
	color: #495b79;
	font-size: 14px;
	padding: 0 5px;
}

.content-detail .warp-section .top-section1 {
	overflow: hidden;
	padding-top: 15px;
}

.content-detail .warp-section .top-section1 .col-top-section1 {
	float: left;
	margin-right: 30px;
	width: 280px;
}

.content-detail .warp-section .top-section1 .col-top-section1 p { margin: 0 0 5px 0; }

.content-detail .warp-section .top-section1 .col-top-section1 p label {
	font-size: 12px;
	font-weight: bold;
}

#box-section1 { }

#box-section1 .col1-box-section1 {
	margin-right: 30px;
	width: 260px;
}

#box-section1 .col2-box-section1 {
	margin-right: 30px;
	padding-right: 20px;
	width: 260px;
}

.OtherIncomeHeader TR TD
{
    color:#000;
    font-family:Tahoma, Geneva, Sans-Serif;
    font-size:12px;
    line-height:22px;
}

.smallSpan{width:210px !important;}
.smallLabel{width:80px !important;}
.costLabel{width:50px !important;}

#LegalDescription{clear:both;}

#rentalOccupancySpan
{
    width:313px !important;
}

#box2-section2 .col-box2-section2 label.label-w180 { width: 220px; }

#box3-section2 { }

#box3-section2 .warp-col-box3-section2 { overflow: hidden; }

#box3-section2 .warp-col-box3-section2 p { margin-bottom: .25em; }

#box4-section2 { }

#box4-section2 .warp-col-box4-section2 {
	margin-bottom: 15px;
	overflow: hidden;
}

#box4-section2 .warp-col-box4-section2 .col-box4-section2 {
	float: left;
	margin-right: 20px;
}

#box4-section2 .warp-col-box4-section2 p { margin-bottom: .25em; }

#box4-section2 p { overflow: hidden; }

#box4-section2 p label {
	float: left;
	margin-right: 2px;
	width: 150px;
}

#box4-section2 p span.col1-row2-box4-section2 {
	float: left;
	margin-right: 20px;
}

#box5-section2 .col-row1-box5-section2 {
	float: left;
	margin-right: 30px;
	width: 272px;
}

#box5-section2 .col-row1-box5-section2 label {
	margin-right: 20px;
	width: auto;
}

#box5-section2 .table > div > div:first-child {
}

#box-section3 { }

#box-section3 p { overflow: hidden; }
#box-section3 span{margin-right:50px; display:inline-block;}

#box-section3 p.first-box-section3 { margin-bottom: 20px; }

#box-section3 .mr-box-section3 {
	color: #757575;
	float: left;
	margin-right: 10px;
}

#box-section3 .col-row1-box-section3 {
	color: #757575;
	float: left;
	margin-right: 20px;
}

#box-section3 .col-row8-box-section3 {
	float: left;
}

#box-section3 .col-row8-box-section3-last-span{margin-right:0px;}

#box-section3 p.checkbox-sameaddress { padding-left: 445px; }

.present-address {
	margin-top: 1em;
	margin-bottom: 1em;
}
.present-address label {
	margin-right: 3em;
}

#box-section4 { }

#box-section4 p { text-align: center; }

#box-section4 p a { /*color: #e27a1a;*/ }

#box2-section5 { }

#box2-section5 p { overflow: hidden; }

#box2-section5 span { float: left; }

#box2-section5 .col1-box2-section5 {
	float: left;
	margin-right: 2px;
	width: 40px;
}

#box2-section5 .col2-box2-section5 {
	float: left;
	margin-right: 2px;
	width: 660px;
}

#box2-section5 .col3-box2-section5 {
	float: left;
	margin-right: 0px;
	overflow: hidden;
	width: 154px;
}

.top-box-section6 { padding-top: 15px; }

.top-box-section6 span { margin-right: 20px; }

#box-section6 { overflow: hidden; }

#box-section6 .main-box-section6 {
	float: left;
	margin-right: 28px;
	min-height: 168px;
	width: 395px !important;
}

#box-section6 .main-box-section6 p { overflow: hidden; }

#box-section6 .main-box-section6 label {
	float: left;
	margin-right: 2px;
	width: 130px;
}

#box2-section6 { }

#box2-section6 .title-box2-section6 {
	margin-bottom: 5px;
	padding-left: 65px;
}

#box3-section6 .title-box3-section6 {
	color: #495b79;
	font-size: 14px;
}

#box3-section6 p { overflow: hidden; }

#box3-section6 p.label-box3-section6 { margin-bottom: 5px; }

#box3-section6 span {
	float: left;
	margin-right: 36px;
	width: 250px;
}

#box-section8 { }

#box-section10 { overflow: hidden; }

#box-section10 .main-box-section10 {
	float: left;
	margin-right: 20px;
	width: 420px;
}

/*----------------------------------------div pop up-----------------------------------*/

.warp-popup {
	margin: 0 auto;
	max-width: 960px;
}

.warp-popup .box-section-border-red {
	border: #9a2620 1px solid;
	margin: 10px 9px 0 9px;
	padding: 20px;
}

.warp-popup .box-section-border-red p {
	line-height: 22px;
	margin-bottom: 8px;
}

.warp-popup .box-section-border-red legend {
	color: #9a2620;
	font-size: 14px;
	padding: 0 5px;
}

.warp-popup .box-section-border-red a.mr-link { margin-right: 10px; }

.btn-iframe {
	background: #495b79;
	border: none;
	color: #fff;
	font-size: 11px;
	line-height: 18px;
	margin-right: 2px;
	padding: 2px 5px;
}

iframe { border: #6c7367 1px solid; }

.non-rs-asset { }

.non-rs-asset .label-fields { width: 120px; }

.reo { }

.reo .mr-cols-reo { width: 120px; }

.ListIFrame td { padding-left: 2px; }

.ListIFrame .GridHeader { line-height: 24px; }

.ListIFrame .GridItem { background: #fff; }


.ui-dialog { position: fixed; }


/*by Long Nguyen: Employment Dialog and Assets Dialog*/

#EmploymentDialog, #AssetDialog
{
    display: none;
    overflow-y: auto;
}

.intermediateTD
{
    padding-right: 4px;
     text-align: right;
}

.employment .intro{
	font-weight: bold;
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 5px;
	margin-bottom: 20px;
}
.employment .form-horizontal .form-group{ overflow:hidden; margin-bottom:8px;}
.employment .form-horizontal .form-group font{ padding-left:0; font-size:10px;}
.employment .form-horizontal .form-group .control-label{ text-align:right; width:20%; margin-right:10px; float:left; }
.employment .form-horizontal .form-group .warp-input{ width:25%; float:left; }
.employment .form-horizontal .form-group .warp-input input{ width:80% !important;}
.employment .form-horizontal .form-group .warp-input select{ width:auto !important;}
.employment .form-horizontal p.text-right{ margin-top:10px; margin-bottom:10px;}
.employment .form-horizontal hr{ margin-bottom:10px;}

.form-control {
	background: #fff;
}

#prev_template{ max-width:99.8%; margin-top:30px; display:none;}

.intro-asset{ 
	font-weight: bold;
	border-bottom: 1px solid #eeeeee;
	margin:0px 16px 20px 16px;
	padding-top:20px;
	padding-bottom: 5px;
}

.tb-asset{ border-collapse:collapse; text-align:center; width:100%; margin-bottom:20px;}
.tb-asset thead{}
.tb-asset thead th{ border:1px #ddd solid; text-align:left; padding:2px 5px;}
.tb-asset td{ border:1px #ddd solid; padding:2px 5px;}
.tb-asset>tbody>tr:nth-child(odd)>td{
	background-color: #f9f9f9;
}
td.currency, td.date, td.number {
	text-align: right;
}
.tb-asset td > a{ background:none !important; border:none !important; color:#00f !important;}
.tb-asset td > a:hover{ background:none !important; border:none !important; }

#assetForm{}
#assetForm .form-group .control-label{ text-align:right; width:38%; margin-right:10px; float:left; }
#assetForm .form-group .warp-input{ width:59%; float:left; }
#assetForm .form-group .warp-input-short{ width:38%; float:left; }
#assetForm .form-group .checkbox-asset{ overflow:hidden;}
#assetForm .form-group .checkbox-asset .checkbox{padding-left:38%; float:left;}
#assetForm .row{ font-weight:bold; margin:10px 0;}
#assetForm .warp-btn-asset{padding-left:39.2%;}
#assetForm p.total-asset{ padding:15px 0;}


/*Remove red border html5 in Firefox
http://stackoverflow.com/questions/5939341/firefox-4-is-there-a-way-to-remove-the-red-border-in-a-required-form-input
*/
input:required {
    box-shadow:none;
}
input:invalid {
    box-shadow:0 0 3px none !important;
}

/*Background div popup*/
.ui-widget-overlay 
{
	background: #000;
	opacity: .40;
	filter: Alpha(Opacity=40);
}

/*CSS for the Dialogs*/


div.Header
{
    border: 1px #d8e0e6 solid;
	font-size: 14px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	color: #495b79;
	background: #ebeff2;
	margin-top:auto;
	margin-bottom:auto;
	vertical-align:middle;
    
}

.AddBody
{
    padding:0px;
}

#TotalLiquidAssetValue
{
    margin-right:4px;
}

.bottomButtons
{
    float:right;
}

.addEmployment
{
    float:left;
}

td.indented 
{
    padding-left: 15px;
}
