﻿/* CSS styles to be shared throughout the webapp */
body
{
    font: 11px Verdana, arial, sans-serif;
}

.results-btn-container {
    text-align: center;
}

#ResultsFilterTable {
    padding-left: 6px;
    padding-right: 6px;
}

/* .container
 * Container class for region content
 */
.container
{
    padding: 0 0.5em 0 0.5em;
    margin: 0 0 0.5em 0;
}

.Tab
{
    display: none;
    padding: 5px;
    margin: 0;
    background-color: White;
    border: 1px solid gainsboro;
    border-top: 0;
}
ul.tabnav
{
    margin: 0.5em 0 0 0;
    font: bold 10px verdana, arial, sans-serif;
}

ul.tabnav li
{
    display: inline;
}

.visible { display: block; }

#header
{
    
}
a[disabled] {
    color: gray !important; 
    cursor: default !important;
}
.agentsContainer *
{
    text-align: left;
    font-weight: bold;
    margin-top: 5px;
}
.backBtnContainer
{
    text-align: right;
    display: inline;
}

.encompass .backBtnContainer{
    display: none;
}
.backBtnImg
{
    width: 16px;
    height: 16px;
    vertical-align:middle;
}
.backBtn
{
    height: 20px;
    vertical-align: middle;
    font: 14px Verdana, arial, sans-serif;
}
.messageBtnContainer *
{
    vertical-align: middle;
    font: 14px Verdana, arial, sans-serif;
}
#PMLLoadingScreen
{
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 30%;
    height: 100%;
    z-index: 1;
    background-color: white;
    width: 100%;
    text-align: center;
}
#dataInputAndResultsContainer
{
    overflow: visible;
}

#LQBPopupDiv.ClosingCostBreakdown {
    max-height: 100%;
    overflow-y: auto;
}

#ClosingCostBreakdownContainer {
    text-align: left;
    padding: 1em;
}
#ClosingCostBreakdownHeader {
    text-decoration: underline;
    text-align: center;
}
#ClosingCostBreakdownContainer .FieldLabel {
    font-weight: bold;
}
#ClosingCostBreakdownContainer .SourceColumn {
    width: 100px;
}

#breakdownTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse
}
#breakdownTable td {
    border: solid 1px #AAA;
}
#breakdownTable .first {
    width: 3.5em;
}
#breakdownTable .closingCostFee {
    text-align: right;
}
#chargeSum {
    float: left;
    border-spacing: 0;
    border-collapse: collapse
}
#chargeSum .closingCostFee {
    text-align: right;
}
#breakdownFooter .closeBtn {
    position: absolute;
    margin-left: 1em;
    margin-top: 1em;
}
#chargeSum .closingCostLabel {
    text-align: right;
}
#ClosingCostRow td {
    font-weight: bold;
    text-align: right;
    border-top: 1px solid black;
}
#breakdownFooter {
    position: relative;
}
#CashToCloseContainer {
    text-align: left;
    padding: 1em;
}
#CashToCloseHeader {
    text-decoration: underline;
    text-align: center;
}
#cashToCloseTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;

}
#cashToCloseTable .cashLabel {
    text-align: left;
    padding: 2px 6px 2px 6px;
}
#cashToCloseTable .cashValue {
    text-align: right;
    padding: 2px 6px 2px 6px;
}

#cashToCloseTable .indented {
    padding: 2px 6px 2px 10px;
}

#ReservesContainer {
    text-align: left;
    padding: 1em;
}
#ReservesHeader {
    text-decoration: underline;
    text-align: center;
}
#reservesTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
#reservesTable td {
    text-align:center; 
    vertical-align:middle;
}
#reservesTable hr {
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray
}

#UiTypeSwitchEmbeddedPml {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#UiTypeSwitchRetailPortal {
    margin-left: 15px;
}