﻿ table {
    width: 100%;
}

div.clear {
    clear: both;
    height: 16px;
    font-size: 0;
}

input.mini-input {
    width: 20%;
}

.third-width-input {
    width: 32.5%;
}

input.half-width-input {
    width: 10em;
}

input.full-width-input {
    width: 100%;
}

div.ui-dialog {
    z-index: 1000;
}

div#lenderCompDiv, div#RateLockPopup {
    display: none;
}

input#sRLckdD {
    margin-right: 25%;
}

div#origCompDiv {
    margin-top: 20px;
}
