﻿.content-detail .warp-section a.view-link {
    margin-right: 15px;
}

.content-detail .warp-section .clear {
    clear: both;
}

.content-detail .warp-section .section-status {
    overflow: hidden;
    margin-bottom: 1em;
}
.content-detail .warp-section .section-status .col {
    float: left;
    margin-right: 70px;
    height: 24px;
    line-height: 24px;
}
.content-detail .warp-section .section-status .col-right {
    float: right;
}

.content-detail .warp-section .col-nomargin {
    float: left;
}

/* Status section */
.ui-tooltip {
    text-align: center;
}

input.larger-font-size {
    font-size: 13px;
}

span.loan-status-date {
    color: #000;
    display: block;
    padding-top: 10px;
}

img#statusWarningImage {
    margin-left: 5px;
    vertical-align: text-top;
}

/* Agents section */
.content-detail .warp-section .break-word {
    margin: 15px;
}

.content-detail .warp-section .subsection-header {
    font-size: 14px;
}

.content-detail .warp-section .underline-link {
}
.content-detail .warp-section .underline-link:hover {
    cursor: pointer;
}
.content-detail .warp-section .agent-data {
    padding-left: 1em;
    word-break: break-all;
    white-space: pre-wrap;
}