/* Stylesheet for calendar widget. */
@import url("calendar-win2k-cold-2.css");

/* Stylesheet for combobox widget. */

@import url("combobox.css");

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.GridFooter {
	background-color: dimgray;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.GridItem {
	background-color: white;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.GridAlternatingItem {
	background-color: #CCCCCC;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.GridSelectedItem {
	background-color: yellow;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.FormTableHeader {
	background-color: #003366;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

#MainTable, #PipelineTable {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-indent: 0px;
}

#PipelineTable {
	border-left-color: Black;
	border-left-style: solid;
	border-left-width: 1px;
} 

.SubHeader, .Subheader {
	color: #ff9933;
	font-size: 14px;
	font-weight: bold;
}

.FieldLabel {
       color: #565656;
       font-weight: bold;
}

.FieldValue {
	font-family: Courier;
	font-weight: bolder;
}

.EligibleProgramHeader {
	background-color: #C7D2EF;
	color: #565656;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 5px;
}

.EligibleLeftPanel {
	background-color: #E4ECF8;
	padding-left: 10px;
	padding-top: 5px;
}

.EligibleTable {
	background-color: #003399;
	border-bottom: #003399 1px solid;
	border-left: #003399 1px solid;
	border-right: #003399 1px solid;
	border-top: #003399 1px solid;
}

.EligibleMainHeader {
	background-color: #003399;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.EligibleRateGridHeader {
	background-color: #EEF3FB;
	color: #565656;
	font-weight: bold;
}

.EligibleRateGridItem {
	background-color: White;
	font-weight: bold;
}

.EligibleRateGridAlternatingItem {
	background-color: #e2e2e2;
	font-weight: bold;
}

.EligibleItemBackground, .ElBg { background-color: #DDEEFF; }

.EligibleAlternatingItemBackground, .ElAltBg { }

.IneligibleProgramHeader {
	background-color: #FFB7B7;
	color: #565656;
	font-weight: bold;
	padding-left: 10px;
}

.IneligibleLeftPanel {
	background-color: #FFD2D2;
	padding-left: 10px;
	padding-top: 5px;
}

.IneligibleMainHeader {
	background-color: #FF0000;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.IneligibleTable {
	background-color: #FF0000;
	border: #FF0000 1px solid;
}

.IneligibleRateGridHeader {
	background-color: #FFECEC;
	color: #565656;
	font-weight: bold;
}

.IneligibleRateGridItem {
	background-color: White;
	font-weight: bold;
}

.IneligibleRateGridAlternatingItem {
	background-color: #e2e2e2;
	font-weight: bold;
}

.IneligibleItemBackground, .IneBg { background-color: #FFD7D7; }

.IneligibleAlternatingItemBackground, .IneAltBg { }

.IneligibleReason {
	background-color: #FFECEC;
	border: 1px #FF0000 solid;
	font-family: Courier;
	font-weight: bolder;
	padding: 5px;
}

.InsufficientTable {
	background-color: #FF9900;
	border: 1px #FF9900 solid;
}

.InsufficientProgramHeader {
	background-color: #FFD79B;
	color: #565656;
	font-weight: bold;
	padding-left: 10px;
}

.InsufficientLeftPanel {
	background-color: #FFE7C1;
	padding-top: 5px;
}

.InsufficientMainHeader {
	background-color: #FF9900;
	color: white;
	font-weight: bold;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.InsufficientItemBackground { background-color: #FFE2C6; }

.InsufficientAlternatingItemBackground { background-color: White; }

.InsufficientReason {
	background-color: #FFF2DD;
	border: 1px #FF9900 solid;
	font-family: courier;
	font-weight: bold;
	padding: 5px;
}

.LoanResultGroup { }

.ReviewInfoTable {
	border-bottom: black 1px solid;
	border-left: black 1px solid;
	border-right: black 1px solid;
	border-top: black 1px solid;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
}

.ClickableImage { cursor: pointer; }

.ErrorMessage {
	color: #EA1C0D;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.GridItem { font-weight: bold; }

.GridAlternatingItem { font-weight: bold; }

.RequireValidatorMessage {
	color: #EA1C0D;
	font-size: 11px;
	font-weight: bold;
}

.LeftBorder {
	border-left-color: #999999;
	border-left-style: solid;
	border-left-width: 1px;
}

.ResultProductName, .PrdNm {
	border: 0px none;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 2px;
}

.ResultProductType {
	border: none;
	color: #FF9933;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	word-spacing: -0.1em;
}

.ResultHeader {
	color: #FF9933;
	font-size: 16px;
	font-weight: bolder;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.SectionHeader {
	color: #FF9933;
	font-size: 18px;
	font-weight: bolder;
	padding-bottom: 2px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.RateItem, .Ritm, .ri {
	border-bottom: 0px none;
	border-left: 1px solid #999999;
	border-right: 0px none;
	border-top: 0px none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	letter-spacing: -0.1em;
	line-height: normal;
	margin: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 1px;
	text-align: right;
	text-indent: 0pt;
}

.ri1 {
	border-bottom: 0px none;
	border-left: 1px solid #999999;
	border-right: 0px none;
	border-top: 0px none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	letter-spacing: -0.1em;
	line-height: normal;
	margin: 0px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 1px;
	text-align: left;
	text-indent: 0pt;
}

.rie {
	border-bottom: 0px none;
	border-left: 1px solid #999999;
	border-right: 0px none;
	border-top: 0px none;
	color: #EA1C0D;
	/* Expired Rate. Copy style from .ri and only modify color to red. */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	letter-spacing: -0.1em;
	line-height: normal;
	margin: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 1px;
	text-align: right;
	text-indent: 0pt;
}

.RateItemHeader {
	background-color: #e2e2e2;
	border-bottom: 0px none;
	border-left: 1px solid #999999;
	border-right: 0px none;
	border-top: 0px none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-weight: bold;
	letter-spacing: -0.1em;
	line-height: normal;
	margin: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 1px;
	text-align: center;
	text-indent: 0pt;
}

.qri {
	border-bottom: 0px none;
	border-right: 0px none;
	border-top: 0px none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	letter-spacing: -0.1em;
	line-height: normal;
	margin: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
	padding-right: 3px;
	padding-top: 1px;
	text-align: right;
	text-indent: 0pt;
}

.LoanSummaryItem {
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-indent: 2px;
}

.LoanSummaryBackgroundColor { background-color: #6699cc; }

.TopHeaderBackgroundColor { background-color: #006699; }

.WaitMessageLabel {
	color: Black;
	cursor: wait;
	font-size: 18pt;
	font-weight: bold;
}

.RateItem_Col0, .c2 { /* "Go to 2nd"/"submit" link */width: 250px; }

.RateItem_Col1 { /* Rate */width: 65px; }

.RateItem_Col2 { /* Point */width: 60px; }

.RateItem_Col3 { /* APR */width: 45px; }

.RateItem_Col4 { /* Margin */width: 80px; }

.RateItem_Col5 { /* Payment */width: 85px; }

.RateItem_Col6 { /* Term */width: 45px; }

.RateItem_Col7 { /* Due */width: 45px; }

.RateItem_Col8 { /* Top */width: 55px; }

.RateItem_Col9 { /* Bottom */width: 55px; }

.RateItem_Col10 { /* Teaser Rate */width: 60px; }

.RateItem_ColA0, .c0 {
	padding-top: 5px;
	/* Preview Link */
	width: 110px;
}

.RateItem_ColA1, .c1 {
	padding-top: 0px;
	/* "View More" box */
	width: 100px;
}

.RateItem_ColA { width: 120px; }

.RateItem_TableWidth { /* ColA0 + ColA1 + Col0 + Col1 + Col2 + Col5 */width: 770px; }

.MergeGroupName {
	border: 0px none;
	color: Black;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 2px;
}

.ViolateDti { font-weight: bold; }

ul#MainTable, ul#PipelineTable {
	display: block;
	float: left;
	margin: 0;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 8px;
	padding-top: 0;
}

ul#MainTable { width: 200px; }

ul#MainTable li {
	list-style-type: none;
	margin: 25px 0px;
}

.PropertyInfoPanel {
	border: 1px solid #fff;
	font-family: verdana, georgia, sans-serif;
	margin: 0;
	padding: 10px;
	width: 420px;
}

.PropertyInfoPanel fieldset {
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: solid 1px #ff9933;
	color: #565656;
	display: block;
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	padding: 5px;
	width: 600px;
}

.PropertyInfoPanel legend {
	color: #ff9933;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 3px;
}

.PropertyInfoPanel fieldset p {
	color: #565656;
	font-family: verdana, georgia, sans-serif;
	font-size: 12px;
}

.PropertyInfoPanel label {
	clear: left;
	color: #565656;
	display: inline-block;
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0.5em;
	padding-right: 10px;
	text-align: right;
	width: 215px;
}

.PropertyInfoPanel p {
	color: #565656;
	display: block;
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	margin-bottom: 0.5em;
	padding: 5px;
	width: 600px;
}


.PropertyInfoPanel input {
	margin-left: 0;
	padding-left: 0;
}

.PropertyInfoPanel input text {
	border: 1px solid #6699cc;
	font-size: 11px;
	padding-left: 0.5em;
	text-align: right;
}

.PropertyInfoPanel select {
	font-size: 11px;
	margin-left: 0em;
}

.PropertyInfoPanel textarea {
	border: 1px solid #6699cc;
	height: 15em;
	overflow: auto;
	padding: 0.5em;
	width: 410px;
}

.PropertyInfoPanel .normal label {
	clear: both;
	display: inline;
	float: none;
	padding-right: 0px;
	width: auto;
}

.PropertyInfoPanel .nomargin label { margin-bottom: 0px !important; }

.PropertyInfoPanel .nomargin input {
	line-height: 1.5em;
	vertical-align: middle;
}

.PropertyInfoPanel input.thirdPartyBtn {
	color: #000;
	cursor: pointer;
	font-weight: bold;
	padding-right: 0.5em;
}

.LoanListOptions a {
	clear: both;
	display: block;
	margin-bottom: 3px;
}

.LoanListOptions {
	display: none;
	font-size: 88%;
	padding-left: 20px;
}

a.HelpLink {
	color: #ff9933 !important;
	font-weight: bold;
	text-decoration: none;
}

a[disabled] {
    color: gray !important; 
    cursor: not-allowed !important;
}

.InvalidTextareaLength {
	color: #EA1C0D;
	font-weight: bold;
}

/* 
    Heavily modified css from http://unraveled.com/publications/assets/css_tabs/
    Original Author: Joshua Kaufman
*/

.Tabs {
	margin: 0;
	overflow: auto;
	padding: 0;
}

ul#MainTable, ul#PipelineTable { list-style-type: none; }

ul.tabnav {
	border-bottom: 1px solid #aaaaaa; /* set border COLOR as desired */
	font: bold 11px verdana, arial, sans-serif; /* set font as desired */
	list-style-type: none;
	list-style-type: none;
	margin: 1em 0 0 0; /* set margins as desired */
	padding: 3px 10px 3px 0px; /* THIRD number must change with respect to padding-top (X) below */
	text-align: left; /* set to left, right or center */
}

ul.tabnav li { /* do not change */display: inline; }

ul.tabnav li a {
	background-color: #EEEEEE;
	border: 1px solid #AAAAAA; /* set border COLOR as desired; usually matches border color specified in #tabnav */
	border-bottom: none;
	color: #000000; /* set unselected tab link color as desired */
	margin-right: 0px; /* set additional spacing between tabs as desired */
	/* settings for all tab links */
	padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
	text-decoration: none;
}

ul.tabnav a:hover {
	/* settings for hover effect */
	color: #fff;
	text-decoration: none;
}

ul.tabnav .selected a:hover { color: #000; }

ul.tabnav li.selected {
	background-color: #fff; /* set background color to match above border color */
	/* settings for selected tab */
	border-bottom: 1px solid #FFFFFF; /* set border color to page background color */
}


ul.tabnav li.selected a {
	/* settings for selected tab link */
	background-color: #fff; /* set selected tab background color as desired */
	color: #000; /* set selected tab link color as desired */
	padding-top: 4px; /* must change with respect to padding (X) above and below */
	position: relative;
	top: 1px;
}
