 /*past css*/
 
        .BarcodeDDL, .DocTypeName
        {
            display:block;
        }
        
        .DocMagicBar {  display:none;  background-color: #FFFFCC; padding: 5px; }
        .DocMagicBar ul { list-style: none; margin: 0 auto; display: block; width: 250px;}
        
	    .DocMagicTable { padding: 5px; overflow:auto; width:500px;  height: 180px; border:3px inset black; top: 200px;  margin-left: 32px; left: 0; right: 0;  display: none; position: absolute; background-color : white;

	    }
        .DocMagicTable table  { width: 97%; }
        .DocMagicTable a { text-align: center;  display: block; margin: 0 auto; }
        #blackbg { background-color: Black; overflow: auto; }
        
        .FileUpload:hover{cursor:pointer;}
        .FileUpload[disabled]:hover{cursor:default;}

/* CSS Document */

.warp .header .td1-header { background:url(../../images/line-horizontial-header.gif) no-repeat top right;}
.warp .header .span1-header{ float:left; padding-left:20px; margin-right:20px; line-height:50px; padding-top:0;}
.warp .header .span1-header a{ color:#85c7ff; }
.warp .header .span1-header a:hover{ text-decoration: underline;}

.warp .header .span2-header{ float:left; margin-right:0.4%; padding-left:20px;}
.warp .header .span2-header span{ color:#c0c0c0;}
.warp .header .span2-header span.title{ color:#fff;}

.warp .header .span3-header{ float:left;width:30%; margin-right:0;}
.warp .header .span3-header span{ color:#c0c0c0;}
.warp .header .span3-header span.title{ color:#fff;}

/* Style for tabs */

  
.tabs > .content-tabs{ padding:30px 20px;}
.tabs > #tab1{ }
.tabs > #tab1 .note-tab1{ margin-bottom:10px; white-space:nowrap;}
.tabs{}
.tabs .notif {
	text-align: right;
	color: #EA1C0D;
	padding-top: 5px;
	padding-right: 0;
}
.bsp_notif{
    padding-left: 2em;
}
.tb-tabs{ border-collapse:collapse; margin-bottom:15px; width:100%;margin-top: 15px;max-width:2000px;}
.tb-tabs .head-checkbox { min-width: 68px; }
.tb-tabs .head-paidto { min-width: 320px; }
.tb-tabs td input[type=text]{}
.input-textleft { text-align: left; }
.input-textright { text-align: right; }
.input-redtext{ color: #EA1C0D;}

.tb-tabs td select{ min-width: 7em;}
.tb-tabs td textarea{ width:100%; background-color: rgb(211, 211, 211); min-height:57px;}


/**********TITLE*************/
.warp .title {
}
.warp .title td .t_fee label{
	width: 50%;
}
.warp .title td .t_runPricing{
	width: 50%;
}
/*************TABLE CONTENT*************************/
.tb-tabs .dialog-description {
	text-align: left;
}
.tb-tabs .table-inside-description {
	text-align: left;
	vertical-align:middle;
	width: auto;
}
.tb-tabs .table-inside-description .c-left 
{
	padding-top: 4px;
	float: left;
	text-align: left;
}
.tb-tabs .table-inside-description .c-right 
{
	display: inline;
	float: right;
}
.tb-tabs .table-inside-description-stretch {
}
.tb-tabs .table-inside-description-stretch *
{
	/*width: 100%;*/
}



.tb-tabs .table-style table {
	width: 100%;
}
.tb-tabs .table-style table tr td{
    border-bottom: none!important;
}
td.table-style table tr{
	border-bottom: none;
}
td.table-style table tr:hover {
	background: none;
}
.Combobox
{
    width:85%;
    
    background-color:White !important;
}



.tb-tabs .table-inside-amount 
{
	text-align: right;
}

/**********************************************************************/
.ui-dialog-titlebar {
  background-color: #495b79;
  background-image: none;
  color: #fff;
}
.dialog_title 
{
	display: inline-block;
	width: 100%;
}
.dialog_title .d-left {
	display: inline;
	float: left;
}
.btnright {
	display: inline-block;
	float: right;
	margin-bottom: 32px;
}

.tb-order-service {
	width: 100%;
    margin-bottom: 1em;
}


.ui-icon-closethick {
    background-image: url(../../images/button_normal.png) !important;
    

    margin: 0 !important;
    
}

.ui-dialog .ui-dialog-titlebar-close, .ui-icon-closethick {
	width: 20px;
	height: 20px;
	
}

.ui-dialog .ui-dialog-titlebar-close 
{

    background-image: url(../../images/button_normal.png) !important;
}

.ui-dialog .ui-dialog .ui-dialog-titlebar-close:hover 
{
	background-image: url(../../images/button_hover.png);
}

/**********************************************************************/

.counter{ color:#808080; margin-top:5px;}
/*input[type=button]{ padding:5px 10px; }
.btn{ background:#418bca; border:#418bca 1px solid; color:#fff; border-radius:1px; width:auto !important;}
.btn:hover{cursor:pointer;}
.btn:active{background:yellow;}
.uploadBtn:hover{cursor:pointer;}*/

/************************************ORDER SERVICES ASPX**********************************/
.div-4506{
}
.section-order-services {
	padding-top: 2em;
}
.table-vendor{ width: 96%}
.table-vendor td{ padding: 5px 0 5px 0;}

.table-signed{ width: 100%}
.table-signed td{ padding: 5px 0 5px 5px}
.table-signed td:first-child{ width: 145px;}
.table-signed td:nth-child(3){ padding-left: 4%;min-width: 160px;}


.notif{ color: #EA1C0D;padding: 5px}
.transcript-3{ display: block;padding-left: 10%;line-height: 200%;}
.div-height{}

.fix-box{ min-width: 70px;max-width: 160px}

.auto-box *{ width: 100%}
.box-80 *{width: 80%}
.box-30 { width: 30%}
.box-30 *{ width: 100%}
.box-20 { width: 19%}
.box-20 *{ }
.box-20-App { width: 20%}
.box-20-App *{ width: 60%;}
.box-40 { width: 38%}
.box-40 *{ width: 95%;}
.box-40-inline { width: 38%}
.box-50 { width: 50%}
.box-50 *{ width: 100%;}
.box-70 { width: 70%}
.box-70 *{ width: 100%;}
.extra-header{vertical-align:top;}

.table-client{ width: 96%}
.table-client td{ padding: 5px 0 5px 5px}
.table-client td:first-child{ width: 140px;min-width: 140px;max-width: 140px;}
.table-client td:nth-child(3){ padding-left: 7%;width: 130px;}
.table-client td:nth-child(5){ width: 30%}


.table-billing {width: 96%}
.table-billing td{ padding: 5px 0 5px 5px}
.table-billing td:first-child{ width: 110px}
.table-billing td:nth-child(3){ padding-left: 4%;width: 140px;}


.table-info { width: 80%}
.table-cell-center{text-align: center}
.table-info td{ padding: 5px}

.appraisal-header{background: #e5e5e5;padding: 5px 5px 5px 5px}



.button_inside_service{
border:1px solid #CCCCCC;
-webkit-border-radius: 8px; 
-moz-border-radius: 8px;
border-radius: 8px;
font-size:14px;
font-family:arial, helvetica, sans-serif; 
padding: 3px 9px 3px 9px; 
text-decoration:none; 
display:inline-block; 
color: #4A4A4A;
background-color: #F7F5F6; 
background-image: -webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
background-image: -moz-webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
background-image: -ms-webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));
background-image: -o-webkit-gradient(linear, left top, left bottom, from(#F7F5F6), to(#DDDDDD));

}
.button_inside_service:hover:enabled{
 border:1px solid #ADADAD;
 background-color: #E0E0E0; 
 background-image: -webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 background-image: -moz-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 background-image: -ms-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 background-image: -o-webkit-gradient(linear, left top, left bottom, from(#E0E0E0), to(#BDBBBC));
 cursor: pointer;
}

.button_inside_service:active{
    background:yellow;
}

.button_inside_service[disabled],.button_inside_service:disabled,.button_inside_service[disabled=disabled]{
 border:1px solid #ADADAD;
 background-color: #BDBBBC;
 background: #BDBBBC;
}
input:invalid 
{
	-moz-box-shadow: none;
	box-shadow: none;
}
.document-list {
	height: 96px;
	margin-top: 0px;
	border: 1px solid lightgray;
	overflow:hidden; 
	overflow-y:auto;
	width: 100%;
}
.document-list li a{padding-left: 30px}
.hidden-item {
	display: none!important;
}

/**Additional CSS**/

.GenericHeader
{
    font-size: 13px;
    color: #fff;
    background: #495b79;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bold;
}

#LQBPopupDiv {
	background-color: White;
	border: 4px solid black;
	display: none;
	height: 350px;
	overflow: hidden;
	text-align: center;
}
#LQBPopupDiv.ChildVisible { overflow: hidden; }

#LQBPopupDiv.ChildVisible input { display: none; }

#LQBPopupDiv iframe {
	border: 0;
	height: 100%;
	margin: 0;
	position: relative;
	width: 100%;
}

#LQBPopupDiv input {
	bottom: 3px;
	margin: 0 auto;
	margin-top: 5px;
	position: relative;
	z-index: 199;
}

#ReceivedDocsTable a{color:Blue;}
.DescriptionCol{white-space:normal;}
.DocTypeCol{white-space:normal;}

.Hidden
{
    display:none!important;
}

.HiddenDiv
{
    display:none;
}

#InitEscrow
{
    
}

.table-style .tb-right
{
    text-align:right;
}

#ErrorMessageDiv
{
    display:none;
    text-align:center;
}

.ComboBoxDescDDL
{
    width:100%;
}

.combobox_unselect, .combobox_select
{
    font-size:13px !important;
}

.EstimatedClosing
{
    margin-right:50px;
}

.btnDiv
{
   
}

.clearBoth
{
    clear:both;
}

#SearchDiv
{
    margin-top:10px;
}

div.scrollable {
   height: 370px;
   overflow-y: auto;
   width:100%;
}
        
div.buttonPanel  {
   text-align: center;
   margin-top: 10px;
}

.RequiredSpan
{
    width:auto !important;
    color:#EA1C0D;
    padding-left: 3px;
}

.FloatLeft
{
    float:left;
}
.FloatRight
{
    float: right;
}
/***********End of Additional CSS****************/

/*****Design for TPO Portal Closing Costs *******/
.div-left {
	float: left;
	width: 50%;
	min-width: 300px;
}
.div-right 
{
	padding-top: 3px;
	float: right;
	width: 40%;
	margin-left: 10%
}

.table-calculation-1 {
	width: 100%;
}

.table-calculation-1 td:nth-child(4) {
	width: 5%;
}
.table-calculation-1 td:nth-child(6) *{
	width: 100%;
	min-width: 90px;
}
.table-calculation-1 td:nth-child(7) {
	width: 5%;
}
.table-calculation-1 td:nth-child(9) *{
	width: 100%;
	min-width: 90px;
}
.table-calculation-1 td:nth-child(11) {
	width: 10%;
}

.image-style {
	padding: 0px 4px 0px 4px;
}

.checkbox-hidden {
	display: none;
}
.date-image {
	vertical-align: middle;
}

/**TPO Portal Closing Cost Changes **/
img
{
    border-style:none;
}

/************************ Design for TPO Housing Expense Tab ***********************/
.div-title a { color: inherit; } 
.div-title-housing
{
	width:100%;
	overflow: hidden;
	height: 32px;
	line-height: 32px;
	margin-bottom: .5em;
}

.div-title-housing .housing-title-1st
{
	width:50%;
	float: left;
}
.div-title-housing .housing-title-2nd
{
	width:20%;
	float: left;
}
.div-title-housing .housing-title-3rd
{
	width:30%;
	float: left;
}
.notif-housing
{
	color: #EA1C0D;
	padding: 3px 3px 3px 3px;
	text-align:right;
}
.div-housing-sub-title
{
	padding:3px 0px 3px 3px;
	width:100%;
	/*background:#f5f5f5;*/
	background:#CCC;
}

.div-left-housing
{
	vertical-align:top;
	width:40%;
	float: left;
}
.div-right-housing
{
	vertical-align:top;
	width:60%;
	float: left;
}
.div-right-housing-sub-left
{
	vertical-align:top;
	width:53%;
	float: left;
}
.div-right-housing-sub-right
{
	vertical-align:top;
	float:right;
	width:47%;
}
.div-housing-border-disbursements
{
	margin: 0px;
	padding-right: 3px;
	border:#e5e5e5 1px solid;
}
.table-housing-scale
{
	width:40%;
}
.housing-content
{
	width:100%;
	display: none;
	overflow: hidden;
	padding-left: 1.5em;
}
.clear-content{
	width: 100%;
	overflow: hidden;
}

textarea {
	resize: vertical;
}
/* 
    Some pages add top padding to provide additional aesthetics. Since
    the header should be at the top of the page, however, we'll need to
    override that setting for any pages that use the header.
*/
body#MainBody {
    padding-top: 0;
}

div#LoanHeaderPopup {
    display: none;
}
.DisabledLink
{
    color: grey;
    pointer-events: none;
}
.DisabledLink:hover
{
    color: grey;
    pointer-events: none;
    cursor: default;
}
.padding-bottom-5px {
    padding-bottom: 5px;
}
.padding-bottom-20px {
    padding-bottom: 20px;
}