﻿.modal-background {
  position: fixed;
  top: 0; left: 0; width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  text-align: center;
  -moz-box-sizing: border-box; box-sizing: border-box;
  z-index: 99;
}
.modal-outer {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-inner {
  position: relative;
  background-color: white;
  padding: 2em;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  margin: 0 auto;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  -moz-box-sizing: border-box; box-sizing: border-box;
}

.modal-button {
  text-align: center;
  background-color: rgb(70,70,180);
  color: white;
  padding: 0.5em 1em;
  display: inline-block;
  cursor: pointer;
}

.modal-inner ul li {
    text-align: left;
}

.OptionsList
{
    list-style-type: none;
    display: none;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    z-index:1;
    max-height: 300px;
    overflow-y:auto;
    padding:0px;
    margin:0px;
    text-align:left;
    position:relative;
    margin: initial;
    position: absolute;
}
.OptionsList li {
  padding: .25em;
}
.OptionsList li:hover {
  background-color: #E4F1FE !important;
}
.DDLImg, .ComboboxImg
}
.QMDDL
{
    width:200px;
}
.RactiveDDLContainer
{
    overflow:visible;
    height:22px;
}

select[disabled=""]
{
  background-color: white;
}
.table-closingcost tfooter td
{
    text-align:left;
}
.invalid, .dupe {
    border: solid 3px red;
}
#container
{

}
.HousingHeader:hover
{
    cursor: pointer;
}
input[preset='numeric']
{
    width: 60px;
    text-align:right;
}

#SubFeeConfirmOverwriteContent ul
{
    list-style: disc outside none;
}

#SubFeeConfirmOverwriteContent li
{
    list-style: disc outside none;
    margin-bottom: 0em;
}