﻿<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="$(ProjectDir)\TextTemplates\GenerateRecordClass.ttinclude" #><#
    string xml = @"
<recordType name='ServiceCredentialContext' namespace='LendersOffice.ObjLib.ServiceCredential' doc='A context for a service credential edit or load operation.'>
    <using value='System'/>
    <property name='BrokerId' type='Guid' doc='The identifier of the lender who owns the service credential.'/>
    <property name='BranchId' type='Guid?' doc='The identifier of the branch for the current context, reading from &lt;see cref=&quot;DataAccess.CPageData.sBranchId&quot;/&gt;. If this value is null, it means the context was generated without a branch.'/>
    <property name='OriginatingCompanyId' type='Guid?' doc='The identifier of the originating company for the current context, usually read from &lt;see cref=&quot;LendersOffice.Security.AbstractUserPrincipal.PmlBrokerId&quot;/&gt;. If this value is null, it means the context was generated without an originating company, or that no suitable OC exists, as would be the case for a B-user.'/>
    <property name='User' type='UserContext' doc='The user context for this instance. If this value is null, it means the context was generated without a user.'/>
    <property name='IsLqbEditor' type='bool' doc='A value indicating whether this context originated in the LQB editor.  This allows us to override various checks on what is available for a user.'/>
</recordType>";
#>
<#= GenerateRecordClass(xml) #>