﻿<div class="section">
    <header class="page-header">Disclosures</header>
    <div id="Breadcrumb" class="row">
        <a ng-click="returnToMainPage();">Disclosures</a> &gt; Order Initial Loan Estimate
    </div>    
    <div class="row">
        <div class="col-xs-12 text-center">
            <div id="statusDiv" ng-show="isAntiSteeringEnabled">
                <ul class="nowrap disclosure-header  anti-steering-header">
                    <li ng-class="{active: step == 1, focus: step > 1, onHover: step > 1 && step != 5}" ng-click="onAntiSteeringStatusClick();">1. Anti-Steering</li>
                    <li ng-class="{active: step == 2, focus: step > 2, onHover: step > 2 && step != 5}" ng-click="onRequestReviewStatusClick();">2. Request Review</li>
                    <li ng-class="{active: step == 3, focus: step > 3, onHover: step > 3 && step != 5}" ng-click="onVendorAuditStatusClick();">3. Vendor Audit</li>
                    <li ng-class="{active: step == 4, focus: step > 4}">4. Document Preview</li>
                    <li ng-class="{active: step == 5}" , class="last">5. Request Complete</li>
                </ul>
            </div>
            <div id="statusDiv" ng-show="!isAntiSteeringEnabled">
                <ul class="nowrap disclosure-header">
                    <li ng-class="{active: step == 1, focus: step > 1, onHover: step > 1 && step != 4}" ng-click="onRequestReviewStatusClick();">1. Request Review</li>
                    <li ng-class="{active: step == 2, focus: step > 2, onHover: step > 2 && step != 4}" ng-click="onVendorAuditStatusClick();">2. Document Vendor Audit</li>
                    <li ng-class="{active: step == 3, focus: step > 3, onHover: step > 3 && step != 4}">3. Review Document Preview</li>
                    <li ng-class="{active: step == 4}" , class="last">4. Request Complete</li>
                </ul>
            </div>
        </div>
    </div>
</div>
