<%@ Page language="c#" Codebehind="HousingHistory.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.help.HousingHistory" %>
<%@ Import Namespace="LendersOffice.AntiXss" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head runat="server">
    <title>HousingHistory</title>
  </head>

  
  <body MS_POSITIONING="FlowLayout" style="OVERFLOW-Y: auto;">
    <form id="HousingHistory" method="post" runat="server">
		<table>
		  <tr><td class="SectionTitle" style="COLOR: black; FONT-WEIGHT: bold" >First Time Home Buyer / Housing History</td></tr>
		  <tr><td valign="top" style="COLOR: black">
		  <ml:EncodedLiteral ID="FthbCustomDefinitionLabel" runat="server" />
		  </td></tr>
		</table>
     </form>
  </body>
</html>
