﻿<div class="FullWidthHeight BackgroundGainsboro">
    <div class="MainRightHeader align-left">{{AuthResultDetails.RecipientName}} Authentication Details</div>
    <table class="Table horizontal-margin-auto margin-top-5px Width90Pc">
        <tr>
            <td colspan="4" class="BorderNone">
                <div class="align-left">
                    <div>
                        <span class="FieldLabel">Initial MFA option:</span>
                        <span>{{AuthResultDetails.InitialMfaOption_rep}}</span>
                    </div>
                    <div ng-if="AuthResultDetails.IsInitialMfaOptionAccessCode && AuthResultDetails.AccessCode != null && AuthResultDetails.AccessCode != ''">
                        <span class="FieldLabel">Access Code:</span>
                        <span>{{AuthResultDetails.AccessCode}}</span>
                    </div>
                    <div ng-if="AuthResultDetails.IsInitialMfaOptionPhone && AuthResultDetails.ProvidedPhoneNumber != null && AuthResultDetails.ProvidedPhoneNumber != ''">
                        <span class="FieldLabel">Phone Number</span>
                        <span>{{AuthResultDetails.ProvidedPhoneNumber}}</span>
                    </div>
                </div>
            </td>
        </tr>
        <tr class="LoanFormHeader">
            <th class="Width20Pc">Type</th>
            <th class="Width20Pc">Status</th>
            <th class="Width20Pc">Date</th>
            <th ng-if="AuthResultDetails.HasFailureNotes">Note</th>
        </tr>
        <tr class="ReverseGridAutoItem" ng-if="AuthResultDetails.AuthResults != null && AuthResultDetails.AuthResults.length > 0" ng-repeat="AuthResult in AuthResultDetails.AuthResults">
            <td>
                <span>{{AuthResult.Type}}</span>
            </td>
            <td>
                <span>{{AuthResult.Status}}</span>
            </td>
            <td>
                <span>{{AuthResult.EventTime}}</span>
            </td>
            <td ng-if="AuthResultDetails.HasFailureNotes">
                <span>{{AuthResult.FailureDescription}}</span>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <div class="align-bottom ">
        <input type="button" onclick="LQBPopup.Return(null);" value="Close" />
    </div>
</div>