﻿<div class="FullWidthHeight BackgroundGainsboro">
    <div class="align-left MainRightHeader">{{StatusDetails.ParentName}} Status Details</div>
    <table class="Table horizontal-margin-auto margin-top-5px Width90Pc">
        <thead>
            <tr class="LoanFormHeader">
                <th class="Width20Pc">Status</th>
                <th class="Width20Pc">Date</th>
                <th ng-if="StatusDetails.HasDoneBy" class="Width20Pc">Done By</th>
                <th ng-if="StatusDetails.HasNotes">Note</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ReverseGridAutoItem" ng-if="StatusDetails.StatusDates != null && StatusDetails.StatusDates.length > 0" ng-repeat="StatusDate in StatusDetails.StatusDates">
                <td>
                    <span>{{StatusDate.Status}}</span>
                </td>
                <td>
                    <span>{{StatusDate.Date}}</span>
                </td>
                <td ng-if="StatusDetails.HasDoneBy">
                    <span>{{StatusDate.DoneBy}}</span>
                </td>
                <td ng-if="StatusDetails.HasNotes">
                    <span>{{StatusDate.Note}}</span>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div class="align-bottom ">
        <input type="button" onclick="LQBPopup.Return(null);" value="Close" />
    </div>
</div>