<%@ Page language="c#" Codebehind="AuditDetail.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.AuditDetail" %>
<%-- This Page is overwritten in the code behind, so this is just a dummy placeholder --%>
<!DOCTYPE html>
<html>
  <head runat="server">
    <title>AuditDetail</title>
  </head>
  <body>
    <form id="AuditDetail" method="post" runat="server"></form>
  </body>
</html>
