<%@ Page language="c#" Codebehind="LoanCreate.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.LoanCreate" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
  <head>
    <title>LoanCreate</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="FlowLayout" bgcolor="gainsboro">
	<script language=javascript>
<!--
function _init() {
  var w = screen.availWidth; 
  var h = screen.availHeight;
  window.moveTo(0, 0);
  window.resizeTo(w, h);
  document.forms[0].submit();
}
//-->
</script>

    <form id="LoanCreate" method="post" runat="server">
      <table width="100%" height="100%" border=0>
        <tr><td align=center valign=middle style="font-weight:bold;font-size:14pt">Please wait ...</td></tr>
      </table>
     </form>
	
  </body>
</html>
