<%@ Page language="c#" Codebehind="LoanProspectorBranding.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.LoanProspectorBranding" %>
<%@ Import Namespace="LendersOffice.AntiXss" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>LoanProspectorBranding</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
    <link href=<%= AspxTools.SafeUrl(StyleSheet) %> type="text/css" rel="stylesheet">
  </HEAD>
  <body MS_POSITIONING="FlowLayout"  bgcolor="gainsboro" >
	
    <form id="LoanProspectorBranding" method="post" runat="server">
    <table><tr><td style="PADDING-LEFT:20px;PADDING-TOP:20px"><h2>LendingQB Loan Product Advisor Integration</h2></td></tr></table>
    
     </form>
	
  </body>
</HTML>
