body
{
    margin:0px;
    font-family: Verdana;
}
A
{
	color: Blue ;
}
A:hover
{
    color: orange ;
	text-decoration: underline;
}
A:link
{
	color: Blue ;
}
A:vlink
{
	color: Blue ;
}
.header 
{
    font-size:26px;
    background-color:#003366;
    color:White;
    font-weight:bold;
    font-family:Tahoma;
    width:100%;
    padding-top: 10px;
    padding-bottom: 3px; 
    padding-left: 15px;
}
.header1 
{
    font-size:14px;
    font-weight:bold;
    padding-left:15px;
}
.DescriptionPanel
{
    border-right: darkgray 1px solid;
    padding-right: 15px;
    border-top: darkgray 1px solid;
    padding-left: 15px;
    font-size: 12px;
    padding-bottom: 15px;
    margin: 15px;
    border-left: darkgray 1px solid;
    padding-top: 15px;
    border-bottom: darkgray 1px solid;
    background-color: lightgrey;
}

.codecomment 
{
    color:Green;
}
.keyword 
{
    color:Blue;
}
.xmlkeyword 
{
    color:Maroon;
}
.xmlbracket 
{
    color:Blue;
}
.xmlattr 
{
    color:Red;
}
.subHeader 
{
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
}
.content
{
    padding-left:20px;
}
.param 
{
    padding-top:3px;
    padding-bottom:3px;
}
.methodName 
{
    font-weight:bold;
    font-size:12px;
}
.breadcrumb 
{
    font-size:12px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    
}
.paragraph 
{
    padding-left:15px;
    padding-right:15px;
    font-size:12px;
}
.faqquestion
{
    font-weight: bold;
}
.faqans 
{
    padding-left:15px;
    padding-top:5px;
    padding-bottom:15px;
}
.fieldlabel 
{
    font-size:11px;
    font-weight:bold;
}
.fielddata 
{
    font-size:11px;
}