﻿<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="$(ProjectDir)\TextTemplates\GenerateRecordClass.ttinclude" #><#
    string xml = @"
<recordType name=""DocMagicCredentials"" namespace=""LendersOffice.Integration.DocMagicAppraisalDelivery"" doc=""Encapsulates the credentials to pass to DocMagic."">
    <property name=""Username"" type=""string"" doc=""The user name value of the credential."" />
    <property name=""Password"" type=""string"" doc=""The password value of the credential."" />
    <property name=""CustomerId"" type=""string"" doc=""The customer id value of the credential."" />
</recordType>";
#>
<#= GenerateRecordClass(xml) #>
