﻿<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ include file="$(ProjectDir)\TextTemplates\GenerateRecordClass.ttinclude" #><#
    string xml = @"
<recordType name='EPortalOptions' namespace='LendersOffice.Integration.DocMagicAppraisalDelivery' doc='Encapsulates the options to pass to DocMagic for their electronic disclosure portal.'>
    <property name='EnableElectronicSignature' type='bool' doc='A value indicating whether electronic signatures and initials are enabled for the disclosure event.' />
    <property name='EnableMobileApplication' type='bool' doc='A value indicating whether the DocMagic mobile application is enabled for the disclosure event.' />
    <property name='DisableSigningInvitation' type='bool' doc='A value indicating whether the signing invitation/notification should be omitted.' />
    <property name='PreviewDocumentsPriorToSigning' type='bool' doc='A value indicating whether the documents can be reviewed prior to the activation of signing.' />
    <property name='SendConfirmationEmail' type='bool' doc='A value indicating whether DocMagic should send the user a confirmation email.' />
</recordType>";
#>
<#= GenerateRecordClass(xml) #>
