<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Loan Information</h5>
        </div>
        <div class="panel-body">
            <div>
                <lqb-input lqb-model="vm.loan.fields.sHmdaExcludedFromReport" label="Exclude loan from HMDA report"></lqb-input>
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sHmdaReportAsHomeImprov" label="Report the purpose of this loan as home improvement (1-4 family)"></lqb-input>
            </div>
            <div class="table">
                <div>
                    <div><label>Preapproval (Purchase loan only)</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaPreapprovalT"></lqb-input></div>
                </div>
                <div>
                    <div><label>APR Rate Spread</label></div>
                    <div>
                      <lqb-input lqb-model="vm.loan.fields.sHmdaAprRateSpreadLckd"></lqb-input>  
                  </div>
                  <div>
                    <lqb-input lqb-model="vm.loan.fields.sHmdaAprRateSpread"></lqb-input>  
                </div>
            </div>    
        </div>
        <div><label ng-bind="vm.loan.fields.sHmdaAprRateSpreadCalcMessage.v"></label></div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sHmdaReportAsHoepaLoan" label="HOEPA loan"></lqb-input>
        </div>
    </div>
</div>
<div class="col-xs-5"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Property Information</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>MSA number</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaMsaNum"></lqb-input></div>
                    <div>
                        <button type="button" class="btn btn-default" ng-click="vm.ImportGeoCodes($event)">Import Geocodes</button>
                    </div>
                </div>
                <div>
                    <div><label>County code</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaCountyCode"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>State code</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaStateCode"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Census tract</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaCensusTract"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Lien status</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaLienTLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaLienT"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Property type</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaPropTLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaPropT"></lqb-input></div>
                    <div></div>
                </div>
            </div>
            <div ng-show="vm.issHmdaPropTWarning()" class="alert alert-warning">
                <strong>WARNING:</strong> Modular properties that meet HUD standards may fall under the Manufactured category. See the HMDA LAR guide for more info.
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div> 

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Origination Information</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Type of purchaser</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaPurchaser2004TLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaPurchaser2004T"></lqb-input></div>
                </div>
                <div>
                    <div><label>Action taken</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaActionTaken"></lqb-input></div>
                </div>
                <div>
                    <div><label>Action date</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaActionD"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div> 

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Denial Reason(s)</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Denial Reason #1</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDenialReason1"></lqb-input></div>
                </div>
                <div>
                    <div><label>Denial Reason #2</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDenialReason2"></lqb-input></div>
                </div>
                <div>
                    <div><label>Denial Reason #3</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDenialReason3"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div> 

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Denial / Counter Offer Tracking</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table hmda-table">
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaLoanDenied" label="Loan was denied"></lqb-input></div>
                    <div><label>Denied date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectD"></lqb-input></div>
                    <div><label>by</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaLoanDeniedBy"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDeniedFormDone" label="Credit denial form completed"></lqb-input></div>
                    <div><label>Mailed date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDeniedFormDoneD"></lqb-input></div>
                    <div><label>by</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDeniedFormDoneBy"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaCounterOfferMade" label="Counter offer made"></lqb-input></div>
                    <div><label>Made date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaCounterOfferMadeD"></lqb-input></div>
                    <div><label>by</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaCounterOfferMadeBy"></lqb-input></div>
                </div>
            </fieldset>
            <div ng-show="vm.isShowDeniedWarning" class="alert alert-warning">
                <strong>WARNING:</strong> Modifying the denied date could remove your permission to edit this loan. &nbsp;Please make sure you complete the Credit Denial form before you enter a denied date here.
            </div>
            <div class="table hmda-table">
                <div>
                    <div class="control-label-textarea"><label><strong>Counter offer details:</strong></label></div>
                </div>
                <div>
                    <div class="counter-offer-details"><lqb-input lqb-model="vm.loan.fields.sHmdaCounterOfferDetails"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div> 

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Information for Government Tracking</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table hmda-table">
                <div>
                    <div><strong>Borrower</strong></div>
                    <div class="empty-space"></div>
                    <div><strong>Co-borrower</strong></div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBNoFurnish" label="I do not wish to furnish this information"></lqb-input>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCNoFurnish" label="I do not wish to furnish this information"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><strong>Ethnicity:</strong> <lqb-input lqb-model="vm.loan.app.fields.aBHispanicT"></lqb-input></div>
                    <div></div>
                    <div><strong>Ethnicity:</strong> <lqb-input lqb-model="vm.loan.app.fields.aCHispanicT"></lqb-input></div>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><strong>Race: (check all that apply)</strong></div>
                    <div></div>
                    <div><strong>Race: (check all that apply)</strong></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAsian" label="Asian"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAsian" label="Asian"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsBlack" label="Black or African American"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsBlack" label="Black or African American"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsWhite" label="White"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsWhite" label="White"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <strong>Sex:</strong> <lqb-input lqb-model="vm.loan.app.fields.aBGender"></lqb-input>
                    </div>
                    <div></div>
                    <div>
                        <strong>Sex:</strong> <lqb-input lqb-model="vm.loan.app.fields.aCGender"></lqb-input>
                    </div>
                </div>
            </fieldset>
            <div class="table">
                <div>
                    <div><label>This application was taken by</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aIntrvwrMethodT"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div>

<div class="section" ng-show="vm.isNCCallReportPanel()">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>State-Specific Reporting - NC</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div><label>Date</label></div>
                </div>
                <div>
                    <div><label>App Submitted</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedDLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedD"></lqb-input></div>
                </div>
                <div>
                    <div><label>App Received by Lender</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderDLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderD"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial GFE Disclosure</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sGfeInitialDisclosureDViaHMDA"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial TIL Disclosure</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilInitialDisclosureD"></lqb-input></div>
                </div>
                <div>
                    <div><label>CHARM Booklet Provided</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCHARMBookletProvidedD"></lqb-input></div>
                </div>
                <div>
                    <div><label>HUD Special Info Booklet Provided</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHUDSpecialInfoBookletProvidedD"></lqb-input></div>
                </div>
                <div>
                    <div><label>Affiliated Business Disclosure Provided</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAffiliatedBusinessDisclosureProvidedD"></lqb-input></div>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><label>Loan Originator NMLS ID</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApp1003InterviewerLoanOriginatorIdentifier"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company NMLS ID</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApp1003InterviewerLoanOriginationCompanyIdentifier"></lqb-input></div>
                </div>
                <div>
                    <div><label>Branch Manager NMLS ID</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBranchManagerNMLSIdentifier"></lqb-input></div>
                </div>
                <div>
                    <div><label>Lender NMLS ID</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.LenderNMLSId"></lqb-input></div>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><label>Prepayment Penalty Percentage</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPpmtPenaltyPc"></lqb-input></div>
                </div>
                <div>
                    <div><label>Undiscounted Interest Rate</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUndiscountedIR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Yield Spread Premium Amount</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sYSPAmt"></lqb-input></div>
                </div>
            </div>
            <div>&nbsp;</div>

            <div class="table">
                <div>
                    <div><label>Did Borrower waive 3 day rescission disclosure rule for HOEPA Provisions?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNCBorrWaiveRescT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Did borrower receive counseling for a high cost loan?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNCBorrRecvCounselT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Were home improvement contractor payments made from loan proceeds?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNCHomeImprovPmtsMadeT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Do the note terms allow the interest rate to rise after a default?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNCAllowIRToRiseT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Is the size of the lot 25 or more acres?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNC25OrMoreAcresT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Is this loan a refinance of a previous loan with the same lender?</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNCRefiWithSameLenderT"></lqb-input></div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="table" ng-hide="vm.loan.fields.sNCRefiWithSameLenderT.r">
                <div>
                    <div><label>Purpose of Refinance</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRefPurpose"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div>
<div lqb-load-fields="sGseSpT sSpAddr sSpCity sSpCounty sSpState sSpZip IsTemplate sHmdaAprRateSpreadCalcMessage sGfeInitialDisclosureD"></div>
