﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustomReportsService.aspx.cs" Inherits="LendersOfficeApp.CustomReportsScheduler.CustomReportsService" %>
<%@ Register TagPrefix="ml" Namespace="MeridianLink.CommonControls" Assembly="MeridianLinkCommonControls" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       </div>
    </form>
   </body> 
</html>
