<%@ Import namespace="RatesheetMap"%>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>TestExcelApp</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="GridLayout">
	
    <form id="TestExcelApp" method="post" runat="server">
		<% using( new ExcelApp_RS()) { LogHelper.LogWarning("Testing -got here in using ExcelApp"); }%>
		Testing Excel App
     </form>
	
  </body>
</html>
