<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-tabs">
				<li class="active"><a>Page 1</a></li>
				<li><a ng-click="vm.goTo('loan1003page2')">Page 2</a></li>
				<li><a ng-click="vm.goTo('loan1003page3')">Page 3</a></li>
				<li><a ng-click="vm.goTo('loan1003page4')">Page 4</a></li>
			</ul>
			<div class="tab-content">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="table">
							<div>
								<div>
									<lqb-input lqb-model="vm.loan.fields.sMultiApps" label="The income or assets of a person other than the &quot;Borrower&quot; will be used &hellip; "></lqb-input>
								</div>
							</div>
							<div>
								<div>
									<lqb-input lqb-model="vm.loan.app.fields.aSpouseIExcl" label="The income or assets of the Borrower's spouse will not be used &hellip; "></lqb-input>
								</div>
							</div>
						</div>

						<section><h5 class="title-1003">I. TYPE OF MORTGAGE AND TERMS OF LOAN</h5>
							<section class="margin-bottom">
								<div class="table">
									<div>
										<div><label>Mortgage Applied for: </label></div>
										<div></div>
										<div><label>Agency Case Number Lender </label></div>
										<div><label>Case Number </label></div>
										<div></div>
									</div>
									<div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLT"></lqb-input>
										</div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLTODesc"></lqb-input>
										</div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sAgencyCaseNum"></lqb-input>
										</div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLenderCaseNum"></lqb-input>
										</div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLenderCaseNumLckd"></lqb-input>
										</div>
									</div>
								</div>
							</section>
							<section>
								<div class="table">
									<div>
										<div><label>Purchase Price</label></div>
										<div></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input>
										</div>
										<div><label><a>Upfront MIP / FF</a></label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced"></lqb-input>
										</div>
										<div><label>Term  </label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input> months
										</div>
									</div>
									<div>
										<div><label>Down Payment %</label></div>
										<div></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sDownPmtPc"></lqb-input>
										</div>
										<div><label>Total Loan Amt</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input>
										</div>
										<div><label>Due  </label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sDue"></lqb-input> months
										</div>
									</div>
									<div>
										<div>
											<label>Equity / Down Pmt</label>
										</div>
										<div></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sEquityCalc"></lqb-input>
										</div>
										<div><label>Note Rate</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input>
										</div>
										<div><label><a>Monthly Pmt</a></label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sProThisMPmt"></lqb-input>
										</div>
									</div>
									<div>
										<div>
											<label>Loan Amt</label>
										</div>
										<div><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input>
										</div>
										<div><label>Qualifying Rate</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sQualIR"></lqb-input>
										</div>
										<div></div>
										<div></div>
									</div>
								</div>
								<div class="table">
									<div>
										<div class="amort-type"><label>Amort. Type</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sFinMethT"></lqb-input>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sFinMethDesc"></lqb-input>
										</div>
									</div>
									<div>
										<div></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sFinMethodPrintAsOther" label="Other -"></lqb-input>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sFinMethPrintAsOtherDesc"></lqb-input>
										</div>
									</div>
								</div>
							</section>
						</section>

						<section><h5 class="title-1003">II. PROPERTY INFORMATION AND PURPOSE OF LOAN.</h5>
							<section class="margin-bottom">
								<div class="table table-property-information-1">
									<div>
										<div>Street</div>
										<div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"></lqb-input></div>
									</div>
									<div>
										<div>City</div>
										<div>
											<lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
											<lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input>
											<lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"></lqb-input>
										</div>
									</div>
								</div>
								<div class="table table-property-information-1">
									<div>
										<div>County</div>
										<div><lqb-input lqb-model="vm.loan.fields.sSpCounty"></lqb-input></div>
										<div>No Units </div>
										<div><lqb-input lqb-model="vm.loan.fields.sUnitsNum"></lqb-input></div>
										<div>Year built </div>
										<div><lqb-input lqb-model="vm.loan.fields.sYrBuilt"></lqb-input></div>
									</div>
								</div>
								<div class="table wide">
									<div>
										<div>Legal Description</div>
									</div>
									<div>
										<div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"></lqb-input></div>
									</div>
								</div>
							</section>
							<section class="margin-bottom">
								<div class="table table-property-information-2">
									<div>
										<div><label>Purpose of Loan</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sOLPurposeDesc"></lqb-input>
										</div>
									</div>
								</div>
								<div class="table table-property-information-2">
									<div>
										<div><label>Property will be  </label></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input></div>
										<div><label>Rental occupancy rate</label></div>
										<div><lqb-input lqb-model="vm.loan.fields.sOccRLckd"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.fields.sOccR"></lqb-input></div>
										<div><label> Gross rent </label></div>
										<div><lqb-input lqb-model="vm.loan.fields.sSpGrossRent"></lqb-input></div>
									</div>
								</div>
							</section>
							<section class="margin-bottom"><header class="title-sub-1003">Complete this line if construction or construction-permanent loan</header>
								<div class="table">
									<div>
										<div><label>Year Lot Acquired</label></div>
										<div><label>Original Cost    </label></div>
										<div><label>Existing Liens   </label></div>
										<div><label>(a) Lot Value    </label></div>
										<div><label>(b) Improvements </label></div>
										<div><label>Total (a + b)    </label></div>
									</div>
					                <div>
					                	<div><lqb-input lqb-model="vm.loan.fields.sLotAcqYr" class="form-control form-control-year"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sLotOrigC"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sLotLien"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sLotVal"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sLotImprovC"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sLotWImprovTot"></lqb-input></div>
					                </div>
					            </div>
				            </section>
				            <section class="margin-bottom"><header class="title-sub-1003">Complete this line if this is a refinance loan</header>
					            <div class="table">
					            	<div>
					            		<div><label>Year Acquired          </label></div>
					            		<div><label>Original Cost          </label></div>
					            		<div><label>Existing Liens         </label></div>
					            		<div><label>Purpose of Refinance   </label></div>
					            	</div>
					                <div>
					                	<div><lqb-input lqb-model="vm.loan.fields.sSpAcqYr" class="form-control form-control-year"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sSpOrigC"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sSpLien"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sRefPurpose"></lqb-input></div>
					                </div>
					            </div>
					            <div class="table">
					            	<div>
						            	<div><label>Describe Improvements</label></div>
						            	<div><lqb-input lqb-model="vm.loan.fields.sSpImprovDesc"></lqb-input></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sSpImprovTimeFrameT"></lqb-input></div>
						                <div><label>Cost                   </label></div>
						                <div><lqb-input lqb-model="vm.loan.fields.sSpImprovC"></lqb-input></div>
					                </div>
					            </div>
				            </section>
				            <section>
								<div class="table">
									<div>
										<div><label>Title will be held in what Name(s)</label></div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aTitleNm1"></lqb-input>
											<lqb-input lqb-model="vm.loan.app.fields.aTitleNm1Lckd"></lqb-input>
										</div>
									</div>
									<div>
										<div></div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aTitleNm2"></lqb-input>
											<lqb-input lqb-model="vm.loan.app.fields.aTitleNm2Lckd"></lqb-input>
										</div>
									</div>
									<div>
										<div><label>Manner in which Title will be held</label></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aManner"></lqb-input></div>
									</div>
									<div>
										<div><label>Estate will be held in</label></div>
										<div>
											<lqb-input lqb-model="vm.loan.fields.sEstateHeldT"></lqb-input> 
											<label>Expiration Date</label> <lqb-input lqb-model="vm.loan.fields.sLeaseHoldExpireD"></lqb-input>
										</div>
									</div>
									<div>
										<div><label>Source of Down Payment</label></div>
										<div><lqb-input lqb-model="vm.loan.fields.sDwnPmtSrc"></lqb-input></div>
									</div>
									<div>
										<div><label>(Explain on this line)</label></div>
										<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sDwnPmtSrcExplain"></lqb-input></div>
									</div>
								</div>
							</section>
						</section>
						<section><h5 class="title-1003">III. BORROWER INFORMATION</h5>
							<section class="margin-bottom">
								<section class="margin-bottom">
									<header class="title-sub-1003">Borrower</header>
									<div class="table">
										<div>
											<div>First Name</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBFirstNm" maxlength="21"></lqb-input></div>
														<div class="nowrap">Middle Name</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBMidNm" maxlength="21"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Last Name</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBLastNm" maxlength="21"></lqb-input></div>
														<div>Suffix</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBSuffix"></lqb-input></div>
														<div>SSN</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBSsn"></lqb-input></div>
														
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Home Phone</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBBusPhone"></lqb-input></div>
														<div>Work</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBHPhone"></lqb-input></div>
														<div>Cell</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBCellphone"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>DOB</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBDob"></lqb-input></div>
														<div>Age</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBAge" maxlength="3"></lqb-input></div>
														<div>Yrs. School</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBSchoolYrs" maxlength="3"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Marital Status</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBMaritalStatT"></lqb-input></div>
														<div>No. of Deps</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBDependNum" maxlength="3" title="(not listed by Co-Borrower)"></lqb-input></div>
														<div>Dependents' Ages</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBDependAges"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Email</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aBEmail"></lqb-input></div>
														<div><a ng-href="mailto:{{vm.loan.app.fields.aBEmail.v}}" target="_blank" tabindex="-1">send email</a></div>
													</div>
												</div>
											</div>
										</div>
										<div ng-show="!!vm.loan.BrokerDB.IsCreditUnion">
											<div>Member ID</div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBCoreSystemId"></lqb-input></div>
										</div>
									</div>
								</section>
								<section class="margin-bottom">
									<header class="clearfix col-1003 title-sub-1003"><h5 class="pull-left">Present Address</h5><p class="pull-right"><a class="btn btn-default" ng-click="vm.fillPresentAddress()">Copy from property address</a></p>
									</header>
									<div class="table">
										<div>
											<div>Street</div>
											<div>City</div>
											<div>ST</div>
											<div>Zip</div>
											<div>Own/Rent</div>
											<div>No. Yrs</div>
										</div>
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aBAddr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBCity" placeholder="City"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBState" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBZip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBAddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aBAddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div class="mailing-address">Mailing Address</div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBAddrMailSourceT"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aBAddrMail" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBCityMail"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBStateMail"></lqb-input></div>
											<div><lqb-input class="form-control form-control-zipcode" lqb-model="vm.loan.app.fields.aBZipMail"></lqb-input></div>
										</div>
									</div>
								</section>
								<section class="margin-bottom">
									<header class="title-sub-1003">Former Addresses</header>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aBPrev1Addr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1City" placeholder="City" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1State" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1Zip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1AddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aBPrev1AddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aBPrev2Addr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2City" placeholder="City" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2State" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2Zip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2AddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aBPrev2AddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
								</section>
							<section>
								<section class="margin-bottom">
									<header class="clearfix col-1003 title-sub-1003">
										<h5 class="pull-left">Co-borrower</h5>
										<p class="pull-right"><a class="btn btn-default" ng-click="vm.onCopyBorrowerClick()">Copy from borrower</a></p>
									</header>
									<div class="table">
										<div>
											<div>First Name</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCFirstNm" maxlength="21"></lqb-input></div>
														<div class="nowrap">Middle Name</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCMidNm" maxlength="21"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Last Name</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCLastNm" maxlength="21"></lqb-input></div>
														<div>Suffix</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCSuffix"></lqb-input></div>
														<div>SSN</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCSsn"></lqb-input></div>
														
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Home Phone</div>
											<div>
												<div class="table">
													<div>
														<div>Work Phone</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCBusPhone"></lqb-input></div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCHPhone"></lqb-input></div>
														<div>Cellphone</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCCellphone"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>DOB</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCDob"></lqb-input></div>
														<div>Age</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCAge" maxlength="3"></lqb-input></div>
														<div>Yrs. School</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCSchoolYrs" maxlength="3"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Marital Status</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCMaritalStatT"></lqb-input></div>
														<div>No. of Deps</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCDependNum" maxlength="3" title="(not listed by Co-Borrower)"></lqb-input></div>
														<div>Dependents' Ages</div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCDependAges"></lqb-input></div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div>Email</div>
											<div>
												<div class="table">
													<div>
														<div><lqb-input lqb-model="vm.loan.app.fields.aCEmail"></lqb-input></div>
														<div><a ng-href="mailto:{{vm.loan.app.fields.aCEmail.v}}" target="_blank" tabindex="-1">send email</a></div>
													</div>
												</div>
											</div>
										</div>
										<div ng-show="!!vm.loan.BrokerDB.IsCreditUnion">
											<div>Member ID</div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCCoreSystemId"></lqb-input></div>
										</div>
									</div>
								</section>
								<section class="margin-bottom">
									<header class="clearfix col-1003 title-sub-1003">
										<h5 class="pull-left">Present Address</h5>
										<p class="pull-right"><a class="btn btn-default" ng-click="vm.fillPresentAddress()">Copy from property address</a></p>
									</header>
									<div class="table">
										<div>
											<div>Street</div>
											<div>City</div>
											<div>ST</div>
											<div>Zip</div>
											<div>Own/Rent</div>
											<div>No. Yrs</div>
										</div>
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCAddr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCCity" placeholder="City"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCState" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCZip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCAddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aCAddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div class="mailing-address">Mailing Address</div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCAddrMailSourceT"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCAddrMail" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCCityMail"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCStateMail"></lqb-input></div>
											<div><lqb-input class="form-control form-control-zipcode" lqb-model="vm.loan.app.fields.aCZipMail"></lqb-input></div>
										</div>
									</div>
								</section>
								<section class="margin-bottom">
									<header class="title-sub-1003">Former Addresses</header>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCPrev1Addr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1City" placeholder="City" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1State" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1Zip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1AddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aCPrev1AddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
									<div class="table">
										<div>
											<div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCPrev2Addr" placeholder="Street" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2City" placeholder="City" maxlength="36"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2State" placeholder="State"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2Zip" placeholder="ZIPCode"></lqb-input></div>
											<div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2AddrT"></lqb-input></div>
											<div><lqb-input class="form-control form-control-number" lqb-model="vm.loan.app.fields.aCPrev2AddrYrs" maxlength="3"></lqb-input></div>
										</div>
									</div>
								</section>
							</section>
						</section>
						<h5 class="title-1003">IV. EMPLOYMENT INFORMATION</h5>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
