﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TradesService.aspx.cs" Inherits="LendersOfficeApp.los.CapitalMarkets.TradesService" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
