<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table" ng-show="vm.DisplayLosIdentifier">
                <div>
                    <div>
                        <label>Loan Origination Company Identifier   </label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.nmLsIdentifier"></lqb-input>
                    </div>
                </div>   
                <div>
                    <div>
                        <label>State Licenses</label>
                    </div>
                    <div></div>
                </div> 
            </div>
            <hr ng-show="vm.DisplayLosIdentifier"/>
            <p>
                Loan officers may lose write access to assigned files due to license expiration. To update licenses for all of your files, please have your system administrator update the license in your employee profile.
            </p>
            <p>
                <button ng-click="vm.addLicense()">Add License</button>
            </p>
            <table class="secondary-table none-hover-table"  ng-repeat="comLicenses in [vm.licenses]">
                <thead class="header">
                    <tr>
                        <th></th>
                        <th ng-show="vm.IsBranchLicense"></th>
                        <th>
                            License #
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Expiration Date
                        </th>
                        <th></th>
                        <th ng-show="vm.IsCompanyLicense">License Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="license in comLicenses track by $index" >
                        <td></td>
                        <td ng-show="vm.IsBranchLicense"></td>
                        <td ng-repeat="lic in [license]"><lqb-input lqb-model="lic.License"></lqb-input></td>
                        <td ng-repeat="lic in [license]"><lqb-input lqb-model="lic.State" placeholder="State"></lqb-input></td>
                        <td ng-repeat="lic in [license]"><lqb-input lqb-model="lic.ExpD"></lqb-input></td>
                        <td><span ng-show="vm.isExpiredLicense($index)" class="text-danger"> expired </span></td>
                        <td ng-show="vm.IsCompanyLicense" ng-bind="vm.GetLicenseAddress($index)"></td>
                        <td><a ng-click="vm.removeLicense($index)">remove</a></td>
                    </tr>
                </tbody>
            </table>
            <p class="class-center" ng-show="vm.licenses.length == 0">No licenses to display.</p>
        </div>
    </div>
</div>
