@import "./LoanEditor/AdditionalHeloc"     ;
@import "./LoanEditor/BorrowerAsset"       ;
@import "./LoanEditor/BorrowerInfo"        ;
@import "./LoanEditor/BorrowerLiability"   ;
@import "./LoanEditor/CreditScores"        ;
@import "./LoanEditor/Declarations"        ;
@import "./LoanEditor/DetailsOfTransaction";
@import "./LoanEditor/EmployeeRole"        ;
@import "./LoanEditor/LoanInfo"            ;
@import "./LoanEditor/MonthlyIncome"       ;
@import "./LoanEditor/OtherFinancing"      ;
@import "./LoanEditor/PresHouseExpense"    ;
@import "./LoanEditor/PropertyInfo"        ;
@import "./LoanEditor/RefiConstructionLoan";
@import "./LoanEditor/Reo"                 ;
@import "./LoanEditor/TeamPicker"          ;
@import "./LoanEditor/UpfrontMipFF"        ;

@import "./LoanEditor/Status/Agents"                                ;
@import "./LoanEditor/Status/AgentRecord"                           ;
@import "./LoanEditor/Status/Commission"                            ;
@import "./LoanEditor/Status/General"                               ;
@import "./LoanEditor/Status/Hmda"                                  ;
@import "./LoanEditor/Status/HomeownerCounselingOrganizationList"   ;
@import "./LoanEditor/Status/LendingStaffNotes"                     ;
@import "./LoanEditor/Status/NmlsCallReport"                        ;
@import "./LoanEditor/Status/Processing"                            ;
@import "./LoanEditor/Status/TrustAccount"                          ;
@import "./LoanEditor/Status/ViewBrokerRateLock"                    ;

@import "./LoanEditor/Forms/AggregateEscrowDisclosure"              ;
@import "./LoanEditor/Forms/ChangeOfCircumstancesNew"               ;
@import "./LoanEditor/Forms/CreditDenial"                           ;
@import "./LoanEditor/Forms/EscrowImpoundsSetup"                    ;
@import "./LoanEditor/Forms/FloodHazardNotice"                      ;
@import "./LoanEditor/Forms/GoodbyeLetter"                          ;
@import "./LoanEditor/Forms/InitialEscrowImpoundsSetup"             ;
@import "./LoanEditor/Forms/LenderCredits"                          ;
@import "./LoanEditor/Forms/Loan1003Page1"                          ;
@import "./LoanEditor/Forms/Loan1003Page2"                          ;
@import "./LoanEditor/Forms/Loan1003Page3"                          ;
@import "./LoanEditor/Forms/Loan1003Page4"                          ;
@import "./LoanEditor/Forms/LoanCommitment"                         ;
@import "./LoanEditor/Forms/LoanSubmission"                         ;
@import "./LoanEditor/Forms/LoanTerms-TIL"                          ;
@import "./LoanEditor/Forms/RateFloorCalculator"                    ;
@import "./LoanEditor/Forms/AmortizationTableModal"                 ;
@import "./LoanEditor/Forms/LoanTemplatePopulator"                  ;
@import "./LoanEditor/Forms/MortgageBrokerageBusinessContract"      ;
@import "./LoanEditor/Forms/MortgageLoanOriginationAgreement"       ;
@import "./LoanEditor/Forms/TaxForm"                                ;
@import "./LoanEditor/Forms/TaxReturn"                              ;
@import "./LoanEditor/Forms/Transmittal"                            ;
@import "./LoanEditor/Forms/TXMortgageBrokerDisclosure"             ;
@import "./LoanEditor/Forms/USDALoanConditionalCommitment"          ;
@import "./LoanEditor/Forms/USDALoanGuarantee"                      ;
@import "./LoanEditor/Forms/TruthInLending32"                       ;

@import "./LoanEditor/RequestForms/SurveyRequest"          ;
@import "./LoanEditor/RequestForms/RequestForInsurance"    ;
@import "./LoanEditor/RequestForms/RequestForTitle"        ;
@import "./LoanEditor/RequestForms/RequestForAppraisal"    ;

@import "./LoanEditor/Disclosure/BorrowerClosingCosts"     ;

@import "./LoanEditor/AlternateLenderModal"                ;
@import "./LoanEditor/LoanOfficerLicensingInfo"            ;
@import "./LoanEditor/TitleAndEstate"                      ;
@import "./LoanEditor/BrokerRateLock"                      ;

// Details of Transaction page
.input-group.col-lock{
    width:150px;
}
.col-details-of-transaction{

    overflow:hidden;

    .col-details-of-transaction-1{
        width: 15px;
        float:  left;
        display: inline-block;
    }
    .col-details-of-transaction-2{
        width:  90%;
        float:  left;
    }
    .col-details-of-transaction-2.left{
        margin-left: 15px;
    }
}
// Monthly Income page
.col-monthly-income{
    h5{
        width: 120px;
        float: left;
        margin-right: 15px;
    }
}
.input-group.col-net-rent{
    width:120px;
    float:left;
    margin-right:14px;
}
