﻿// GLOBAL

$minimum-resolution: 1000px;
$maximum-resolution: 1920px;

$navigation-width: 16.6667%;
$navigation-min-width: 245px;

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$space-font-ratio: 1;

$font-size-xs: 12px;	
$font-size-s: 13px;
$font-size-m: 17px;
$font-size-l: 20px;

// THEME

// these are in the theme because we may need to make adjustments to values depending on the background
$shadow-half: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.4);
$shadow-1: 0 3px 3px 0 hsla( 0, 0%, 0%, .24), 0 1px 3px 0 hsla( 0, 0%, 0%, .48);
$shadow-2: 0 4px 4px 0 hsla( 0, 0%, 0%, .32), 0 3px 4px 0 hsla( 0, 0%, 0%, .46);
$shadow-3: 0 6px 6px 0 hsla( 0, 0%, 0%, .38), 0 4px 6px 0 hsla( 0, 0%, 0%, .46);
$shadow-4: 0 10px 10px 0 hsla( 0, 0%, 0%, .5), 0 6px 10px 0 hsla( 0, 0%, 0%, .44);
$shadow-5: 0 19px 19px 0 hsla( 0, 0%, 0%, .6), 0 9px 12px 0 hsla( 0, 0%, 0%, .44);

$header-hover-brightness: 12%;              // Determines how bright/dark the flat buttons in the header are on hover.

$primary-high: hsl(200, 65%, 55%);
$primary-preferred: hsl(204, 80%, 40%);
$primary-low: hsl(208, 95%, 25%);

$accent-high: hsl(35, 83%, 67%);
$accent-preferred: hsl(28, 97%, 43%);
$accent-low: hsl(33, 90%, 55%);

$fallback-high: hsl(207, 5%, 60%);
$fallback-preferred: hsl(207, 5%, 40%);
$fallback-low: hsl(207, 5%, 12%);

$base-background: hsl(207, 5%, 24%);
$header-footer-background: $primary-preferred;
$logo-background: hsl(0, 0%, 0%);
$section-background: $base-background;
$content-background: hsl(207, 5%, 16%);
$navigation-background: $section-background;

$trades-primary-high: hsl(122, 39%, 49%);
$trades-primary-preferred: hsl(123, 43%, 39%);
$trades-primary-color-3: hsl(124, 55%, 24%);

$trades-accent-high: $accent-high;
$trades-accent-preferred: $accent-preferred;
$trades-accent-low: $accent-low;

$font-inverse: hsl(0, 0%, 12%);
$font-active: hsl(33, 5%, 100%);
$font-default: hsl(33, 5%, 90%);
$font-large: hsl(33, 5%, 80%);
$font-inactive: hsl(33, 5%, 70%);
$font-page-header: hsl(0, 0%, 100%);

$error-color: hsl(4, 79%, 50%);
$warning-color: hsl(50, 100%, 50%);
$success-color: hsl(120, 50%, 38%);
$link-color: hsl(205, 100%, 63%);


//Create Notification for Required Fields
$font-size-icon: 0.75em;
$has-error: hsl(0, 100%, 47%);
$has-success: hsl(120, 100%, 40%);
$white-color: hsl(0, 100%, 100%);

// The color of the checkboxes
$checkbox-color: hsl(174, 80%, 40%);
$checkbox-white-color: hsl(174, 80%, 100%);
$checkbox-black-color: hsl(174, 80%, 0);