﻿@import "BootstrapSCSS/_bootstrap";
@import "MasterFunc";

.lending-qb-logo {
    path {
        fill: white;
    }
}

button, a, p {
    text-shadow: none !important;
}

html {
    font-size: $font-size-s;
    height: 100%;
}

// header title
h1 {
}
// navigation title
h2 {
}
// page/content title
h3 {
}
// section title, navigation folder
h4 {
}
// navigation link, sub-section title
h5 {
}
// fine print
h6 {
}

ul {
}

textarea, textarea.form-control {
    resize: vertical;
    height: 4em;
    width: 100%;
    margin-top: 0;
    margin-bottom: -5px;
}

select {
    &.form-control {
        height: 30px;
        width: auto;
    }
}

// Styling for custom dropdowns
lqb-input[typeof='textbox']{
    line-height: 30px;

    input{
        vertical-align: top;
    }
}

lqb-input[typeof='dropdown'], lqb-input[typeof='combobox'] {
    display: inline-block;
}

lqb-input[typeof='textarea'] {
    display: block;
}

.input-group.dropdown, .input-group.combobox {

    @include setInputColors($section-background);

    $background-color: -input-background($section-background);
    display:block;
    height:30px;

    .gu-show {
        display: block !important;
        visibility: hidden;
    }

    &.open .gu-show.dropdown-menu {
        visibility: visible;
        height: auto;
    }

    [hidden] {
        position: absolute;
        display: block !important;
        visibility: hidden;
    }

    .form-control {
        background-color: $background-color;
        color: $font-default;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        border-color: -input-border($section-background);
        margin-right: 0;
    }

    .dropdown-toggle {
        background-color: $background-color;
        border: 1px solid -input-border($section-background);
        box-shadow: none;
        color: $font-default;
        margin: 0;
        position:absolute;
        top: 0;
        right: 0;
        z-index: 3;
        border-radius: 1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-left: .875em;
        padding-right: .875em;

        &:hover, &:active, &:focus {
            color: $font-default;
            background-color: $background-color;
            border: 1px solid -input-border($section-background);
            box-shadow: none;
        }

        &.disabled {
            background-color: -input-disabled-background();
            opacity: 1;
        }
    }

    a {
        min-height: 25px;
    }

    .dropdown-menu {
        max-height: 500px;
        overflow: auto;
        background-color: $background-color;
        border-color: -input-border($section-background);
        min-width: 0;
        display: inline-block;
        visibility: hidden;
        position: relative;
        float: none;
        top: auto;

        li.active a{
            color: white;
            background-color: #337ab7;
        }

        a {
            color: $font-default;
            font-size: $font-size-xs;
            padding-left: 1.5em;
            padding-right: 1.5em;

            &:hover, &:focus, {
                color: white;
                background-color: transparentize(#337ab7, .55);
                outline: none;
            }
        }
    }
    // Add input required for dropdown/combobox
    .has-required-field {

        .form-control-required-field {
            right: 32px;
        }

        &.has-required-field-success, &.has-required-field-error {
            .form-control {
                min-width: 6.5em;
                padding-right: 4.2;
            }
        }
    }
}

.input-group.dropdown {
    height: 30px;

    .form-control{
        @extend .gu-unselectable;
    }

    div.dropdown-input {
        height: 30px;
        border-right: none;
        &.disabled{
            background-color: -input-disabled-background();
            color : -input-disabled-text();
            cursor: not-allowed;
            + button.dropdown-toggle[disabled] {
                background-color: -input-disabled-background();
                opacity: 1;
            }
        }
    }

    .dropdown-toggle {
        border-left: none;

        &:hover, &:focus, &:active {
            border-left: none;
        }
    }
}

.input-group.combobox {

    .dropdown-toggle {
        right: -.5em;
    }

}

input:not([type='radio'], input[type='checkbox']) {
    @extend .input-sm;
}

input[type="text"], input[type="radio"], input[type="checkbox"], lqb-input {
    margin-right: .75em;
}

.placeholder-input {
    width: 15.667em;
}

.date {
    width: 11.9167em;
    vertical-align: top;
    &.input-group {

        @include setInputColors($section-background);
        $background-color: -input-background($section-background);

        .polyfill {
            border-right: 0;
        }

        .input-group-addon {
            padding-right: .5em;
            padding-left: .5em;
            border-radius: 1px;
            background-color: $background-color;
            border: 1px solid -input-border($section-background);
            border-left: 0;
            .material-icons {
                img{
                    height: .9em;
                    width: .9em;
                    background: transparent;
                    margin-top: -.5em;
                }
            }
            &.disabled {
                cursor: not-allowed;
                background-color: -input-disabled-background();
            }
        }

        input[readonly] + .input-group-addon {
            background-color: -input-disabled-background();
            cursor: not-allowed;
        }

        .has-required-field {
            &.has-required-field-success, &.has-required-field-error {
                @include setInputColors($section-background);
            }
        }
    }
}

.money, .form-control-money, .form-control-year, .form-control.form-control-year {
    width: 9.1667em;
    text-align: right;
}

.percent, .form-control-percent {
    width: 8.33em;
}

.form-control-ssn {
    width: 10em;
}

.form-control-phone {
    width: 10em;
}

.form-control-date {
    width: 10em;
}

.form-control-number {
    width: 5em;
}

.form-control-state {
    width: 7em;
}

.form-control-email {
    width: 22em;
}

.form-control-city {
    width: 22em;
}

.small-text {
    width: 9em;
}

.medium-text {
    width: 24em;
}

.time {
    width: 9em;
}

.margin-bottom {
    margin-bottom: 1.5em;
}

.col-empty {
    width: 10em;
}

.count, input[type='number'], .form-control.count {
    width: 8.33em;
}

input[type='number'], .small-count {
    width: 4.4167em;;
}

input:disabled, select:disabled, input[readonly] {
    color: $font-inactive;
}

input.form-control {
    height: 2.5em;
}

.days-counter {
    width: 5.667em;
}

.form-control-zipcode {
    width: 6em;
}

.loan-status {
    width: 15.667em;
}

.align-right {
    position: absolute;
    right: 0px;
}

//The default button styling.
button, .btn-default, .btn {
    text-transform: uppercase;
    @extend .btn;
    @extend .btn-default;
    @extend .btn-sm;
    height: 2.5em;
    margin-right: .5 * .75em;
    background-image: none;
    outline: none;
    font-weight: bold;
    background-color: hsl(0, 0%, 55%);
    border: none;
    box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .1), 0 1px 3px 0 rgba( 0, 0, 0, .2);
    color: white;
    font-size: $font-size-xs;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 3px;


    &:hover {
        background-color: -hover-color(hsl(0, 0%, 55%));
        box-shadow: $shadow-1;
    }

    &:active {
        background-color: -active-color(hsl(0, 0%, 55%));
        box-shadow: none;
    }

    &:disabled, &:disabled:hover, &:disabled:focus {
        background-color: lighten(hsl(0, 0%, 55%), 25%);
        cursor: not-allowed;
        box-shadow: none;
        color: $white-color;
    }

    &:focus, &:active:focus {
        outline: none;
    }


    &:not(button.btn-flat) {
        @extend .floating;
    }
}

.btn {
    background-image: none;

    .btn-default {
        filter: initial;
        position: relative;
        background-color: $fallback-low;
    }
}


//Floating elements.  Currently only used for buttons.
.floating {
    color: white;

    &:hover {
        box-shadow: $shadow-2;
        color: white;
        transition-property: box-shadow, background-color;
        transition-duration: 0.1s;
        transition-timing-function: ease;
    }

    &:active {
        box-shadow: none;
    }

    &:disabled {
        box-shadow: none;
        background-color: lighten(hsl(0, 0%, 55%), 25%);
    }
}


//Primary buttons.  These are used on buttons that are required to continue the loan process.
.btn-primary {
    background-image: none;
    @extend .floating;
    border: none;
    background-color: $accent-preferred;

    &:focus {
        background-color: $accent-preferred;
    }

    &:hover, &:active:hover {
        background-color: lighten($accent-preferred, 10%);
    }

    &:active, &:active:focus {
        background-color: darken($accent-preferred, 10%);
    }

    &:disabled, &:disabled:hover {
        background-color: lighten($accent-preferred, 25%);
    }
}

//Flat buttons.  These are currently only used in the header.
.btn-flat, .btn-flat:hover {
    border-radius: 0;
    box-shadow: none;
    border: none;
    width: auto;

    &.material-icons {
        height: auto;
        width: auto;
    }
}

// Link buttons. Deemphasize a button by making it look like a link while maintaining button behavior
.btn-link {
    background: transparent;
    color: $link-color !important;
    box-shadow: none;
    text-transform: none;

    &:hover {
        background: transparent;
        box-shadow: none !important;
    }

    &:active {
        background: transparent !important;
    }
}

.btn-icon {
    @extend .btn-flat;
    border-radius: 1px;
    border: 1px solid rgba(255, 255, 255, 0);
    line-height: 30px;
    cursor: pointer;
    color: $font-large;

    &:hover {
        color: -hover-color($font-large);
        background: none;
        border: 1px solid hsl(0, 0%, 80%);
        text-shadow: 0 3px 3px rgba(0, 0, 0, .23);
    }

    &:active {
        color: -active-color($font-large);
        background: darken($section-background, 12%);
        border: 1px solid hsl(0, 0%, 80%);
        text-shadow: none;
    }
}

table {
    input[type="text"], input[type="radio"], input[type="checkbox"], lqb-input {
        margin-right: 0;
    }

    label {
        padding-top: 0;
    }
}

.flex {
    display: flex;

    > .expand {
        flex: 1 1 100%;
    }
}

.inline-table {
    display: inline-table;
}

.center {
    text-align: center;
}


.table {
    display: table;
    margin-bottom: 0px;
    width: auto;
    border-collapse: collapse;

    .table {
        background: none;
    }

    .inline {
        border-spacing: 1em;
    }

    input[type="text"], input[type="radio"], input[type="checkbox"], lqb-input {
        margin-bottom: 0;
        margin-top: 0;
    }

    input:last-child, lqb-input:last-child {
        margin-right: 0;
    }
    //Adds spacing between rows and columns, but not the outside.
    > div {
        display: table-row;

        &.header {
            text-align: center;
        }

        > div {
            display: table-cell;
            float: none;
            position: relative;

            &.header {
                text-align: center;
            }

            > label:first-child {
                margin-right: .75em;
                padding-top: 0;
            }
        }
    }

    &.wide {
        width: 100%;
    }

    &.fixed {
        table-layout: fixed;
    }

    &.compact-table {
        > div {


            > div {
                padding: .25em;
            }
        }
    }
}


.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;


    &:last-child div {
        padding-bottom: 0;
    }
}

.min-width {
    width: 1px;
}

.align-right {
    text-align: right;
}

//The header row for a primary table.
.primary-table {
    text-align: center;

    .header {
        background-color: $primary-preferred;
        border:$primary-preferred 1px solid;
    }

    td, th {
        padding: 2px 3px;
    }
}

//The header row for a secondary table.
.secondary-table {
    .header {
        background-color: $fallback-low;
        border:$fallback-low 1px solid;
    }
}

.primary-table, .secondary-table {
    text-align: left;
    border-collapse: separate;
    @include border-color-tables();
    border-left:0;
    border-right:0;

    .header{
        color: white;

        a{
            color: white;
            cursor: pointer;
        }
    }

    td{
        border:0;

        &:first-child {
            @include border-color-tables();
            border-bottom:0;
            border-right:0;
        }

        &:last-child {
            @include border-color-tables();
            border-bottom:0;
            border-left:0;
        }
    }

    tbody tr {
        &:nth-child(even) {
            @include color-tables();
        }

        &:hover {
            @include hover-color-tables();
        }

        &:active, &.selected {
            @include active-color-tables();
        }
    }

    &.none-hover-table{
        tbody tr {
            &:nth-child(even) {
                &:hover{
                    @include none-hover-color-tables();
                }
            }
            &:hover {
                background: none;
            }
        }
    }
}

a {
    color: $link-color;

    &:hover {
        cursor: pointer;
    }

    &.disabled {
        color: $font-inactive;
        cursor: not-allowed;
    }
}

.control-label, .form-horizontal label {
    text-align: left;
}

// Labels are the text descriptions for inputs.
label {
    @extend .control-label;
    color: $font-default;
    font-weight: normal;
}

html, body {
    height: 100%;
}

body {
    max-width: 1920px;
    color: $font-default;
    font-family: $font-stack;
    background-color: $content-background;

    &.wrap {
        height: 100%;
    }
}

.center-block{
    margin-left: auto;
    margin-right: auto;
}

// These are custom elements.  By default, custom elements display as inline.  We need to manually display as block in order for them to act correctly
// as a containing div.
le-app, pipeline-app, trades-app {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.modal-content{
    background-color: $section-background;
}

iframe {
}

.wrap {
    max-width: $maximum-resolution;
    min-width: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    overflow: hidden;
}

.hide-shadow {
    box-shadow: none !important;
}

.navbar.header {
    z-index: 4;
    width: 100%;
    border: none;
    min-width: $minimum-resolution;
    max-width: $maximum-resolution;
    min-height: auto;
    box-shadow: $shadow-3;
    color: $font-page-header;
    flex: 0 0 auto;

    button {
        color: $font-page-header;

        &.dropdown-toggle:hover, &.dropdown-toggle:focus {
            color: $font-page-header;
        }
    }

    .container-fluid {
        padding: 0;
    }

    .header-table {
        width: 100%;
        height: 1px; // Unfortunately, IE will only apply 100% heights to children if the table has an assigned height.
        //This is the left hand side of the header.
        .header-logo {
            padding: 5px 10px;
            text-align: center;
            min-width: $navigation-min-width;
            background-color: $logo-background;
            @include setBtnFlat($logo-background);


            .nav-toggle-small {
                display: none;
            }

            .logo {
                vertical-align: middle;
                display: block;

                svg {
                    width: 140px;
                    height: 24px;
                    vertical-align: middle;
                }
            }

            .logo-table {
                display: table;
                width: 100%;
            }

            button {
                height: auto;
                border: none;
            }

            .material-icons {
                vertical-align: middle;
                font-size: 24px;
            }
        }
        // The main section of the header
        .header-main {
            padding: 0px 20px;
            width: 100%;
            background-color: $header-footer-background;

            @include setBtnFlat($header-footer-background, $header-hover-brightness);

            .header-main-container {
                display: flex;
                align-items: stretch;

                > div {
                    flex: 0 0 auto;
                }

                .btn-nav:last-child {
                    flex: 1 1 auto;

                    button {
                        padding: 0;
                }
            }
            }

            #SummaryToggle[aria-expanded='true'] {
                background-color: darken($header-footer-background, 12%);
            }

            #SummaryToggle {
                padding: 0 1em;
            }

            .page-header-container {
                white-space: nowrap;
            }
            // This is the Page Title located in the header
            .page-header {
                font-size: 24px;
                margin: 0;
                border: none;
                padding: .55em;
                padding-left: 1.5rem;
                vertical-align: middle;
                display: inline-block;
            }

            .favoriteToggle {
                fill: white;

                span {
                    display: inline-block;
                }

                &.favorited {
                    fill: yellow;
                }
            }

            .btn-nav {
                white-space: nowrap;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                align-items: stretch;
                // This affects the buttons in the bottom left of the page navigation.
                button {
                    margin: 0;
                    white-space: nowrap;
                    min-width: 40px;
                    height: auto;
                    text-transform: none;
                    position: relative;
                    padding-left: 5px;
                    padding-right: 5px;
                    border: none;
                    text-shadow: none;
                    border-radius: 0;

                    .material-icons {
                        vertical-align: middle;
                        width: 2.5em;
                    }
                }

                .btn-close {

                    &:hover {
                        background-color: -hover-color($error-color);
                    }

                    &:active {
                        background-color: $error-color;
                    }
                }
            }
        }
    }
}

// This is the container located directly below the header.  It contains the sidebar and the content.
.below-header-container {
    overflow: hidden;
    position: relative;
    margin: 0;
    height: 100%;

    .row {
        height: 100%;
        position: absolute;
        width: 100%;
    }
}

.navigation {
    z-index: 3;
    position: relative;
}

.nav-pills-router {
    @extend .nav;
    @extend .nav-pills;
    margin: 10px;
    margin-left: 30px;
    margin-top: 0;

    li a {
        padding: 7px 8px;
        font-weight: 600;
    }
}

.navbar {
    margin-bottom: 0;
    background-image: none;
}

.navbar-inverse {
    background-image: none;
}

.loan-summary-container {
    position: relative;
    z-index: 3;
    box-shadow: $shadow-3;
    // The loan summary is the table displayed in the page header containing various loan info.
    .loan-summary {
        border: none;
        margin-bottom: 0;
        position: relative;
        border-top-left-radius: 0;
        width: 100%;
        box-shadow: none;
        background-color: $navigation-background;
        border-radius: 0;

        .panel-body {
            white-space: nowrap;
            padding: .75em 1em;
            padding-bottom: .35em;
        }

        .loan-summary-table {
            width: 100%;
            display: inline-table;
            white-space: normal;

            div {
                color: $accent-low;
                // These are the bound values for the Loan Summary table.
                &.ng-binding {
                    color: $font-default;
                }
            }
        }
    }
}

.content-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    z-index: initial;
    position: relative;
    padding: 0;
    padding-top: 10px;
    transition: margin-left .3s ease;
    width: 100%;
    overflow: auto;
    max-width: 100%;
    height: 100%;
    background-color: $content-background;
    box-shadow: $shadow-2;
    color: $font-default;
    flex-direction: column;
    display: flex;

    div[ui-view], .content-main {
        flex: 0 0 auto;
        min-height: calc(100% - 44px);
    }

    > div {
        min-width: $minimum-resolution;
    }

    table {
        td, th {
            padding: .5em;
        }
    }

    .table {
        > div > div {
            padding-right: 1em;
            padding-bottom: .75em;
            vertical-align: middle;

            label {
                margin-bottom: 0;
                &.control-label {
                    margin-bottom: 0;
                }
            }

            &:last-child{
                padding-right: 0;
            }

            .table:last-child{
                > div:last-child > div{
                    padding-bottom:0;
                }
            }

            &.control-label-textarea{
                vertical-align: top;

                label{
                    padding-top: 7px;
                }
            }

            &.has-required-field{
                .form-control-required-field{
                    right: 16px;
                }
            }
        }
    }
}


.input-group {
    height: 30px;
    display: inline-table;
    border-spacing: 0;
    border-radius: 1px;

    .form-control {
        border-radius: 1px;
        float: none;
    }

    > lqb-input {
        vertical-align: middle;

        > label {
            display: inline-block;
        }

        > .form-control {
            display: inline-block;
        }
    }

    .input-group-addon {
        padding: 0 12px;
        padding-top: 0;
        vertical-align: middle;
        width: auto;

        .material-icons {
            vertical-align: middle;
        }
    }
}

.input-group-btn button, .input-group-btn .btn {
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    margin: 0;
}

.unit-group {
    margin-right: .25em;
    white-space: nowrap;

    .input-group-addon {
        color: $font-inactive;
        border-radius: 1px;
        border-color: transparent;
        background-color: transparent;
        padding-left: .5em;
        padding-right: .5em;
    }
}


.section {
    $padding-between: 10px;
    display: flex;
    width: 100%;
    color: $font-default;

    > div {
        float: none;
        margin-right: $padding-between;
        margin-bottom: $padding-between;
        flex: 1 1 auto;

        &:first-child {
            margin-left: $padding-between;
        }
    }

    > .panel {
        padding-top: 0;
        font-size: $font-size-s;
        padding-bottom: 1.75em;
        padding-left: 1.5em;
        padding-right: .75em;
        //The titles for each panel.
        .panel-heading {
            background-image: none;
            background: none;
            color: $font-default;
            border: none;
            font-size: $font-size-l;
            padding: 1em 0;
            //The Header element within a panel title.
            h5 {
                font-size: inherit;
                margin: 0;
            }
        }

        > .panel-body {
            padding: 0;

            &:first-child {
                padding-top: 2em;
            }
        }
    }

    .form-group {
        border-spacing: initial;
        margin-bottom: 10px;

        :last-child {
            margin-bottom: 0px;
        }
    }
}
// This should be applied to every input control on the page.
.form-control {
    color: $font-default;
    display: inline;
    box-shadow: none;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 1px;
    font-size: $font-size-xs;
    padding-left: .5em;
    padding-right: .5em;
    // This is the border that appears around an input when focused.
    &:focus {
        box-shadow: none;
        border-color: $primary-preferred;
    }
}

.form-control:disabled, .form-control[readonly] {
    cursor: not-allowed;
}

//The bottom of the page.
.footer {
    margin: 0;
    min-width: 0px;
    padding-left: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $header-footer-background;
    border-top: none;
    color: white;
    padding: 12px 5px;
    height: auto;
    flex: 0 0 auto;

    a {
        color: white;
    }
}

.panel {
    border-radius: 0px;
    border: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .24);
    background-color: $section-background;

    @include setInputColors($section-background);

    .panel-body:after, .panel-body:before {
        display: none;
    }
}

.applicants-ddl {
    display: flex;
    height: auto;

    .applicants-ddl-btn {
        padding: 5px 10px;
        text-align: center;

        .material-icons {
            width: auto !important;
        }
    }

    span {
        display: inline-block;
        vertical-align: middle;

        &.material-icons i {
            vertical-align: middle;
        }
    }

    &.open {
        button, button:hover {
            background-color: -hover-color($header-footer-background);
        }
    }
}

//The default style for items in the applicant dropdown.
.applicants-ddl-items {
    padding: 10px 5px;
    font-size: $font-size-xs;
    border-radius: 1px;
    border: 1px solid #d4d4d4;
    box-shadow: $shadow-1;
    background-color: $section-background;
    color: $font-default;
    border-color: -input-border();

    li {
        padding: 5px 5px;
        margin-left: -5px;
        margin-right: -5px;
        border-radius: 2px;
        //The items in the applicant dropdown when hovered.
        &:hover {
            background-color: $primary-preferred;
            color: white;
            cursor: pointer;
        }
    }
}

.radio-btn {
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    position: relative;

    // IE11 does not bubble active events to an element's parent.  The before psuedoelement will prevent the span from being clickable, so only the lable can be clicked.
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    svg {
        height: 16px;
        width: 16px;
        fill: none;
        display: inline-block;
        margin-top: 7px;
        margin-left: 7px;
        rect.st0, circle.st0, path.st0{
            stroke: -input-border($section-background);
        }
    }

    path.unchecked {
        display: block;
    }

    span {
        vertical-align: middle;
        color: $font-default;
    }

    &.checked {
        svg {
            fill: $font-default;
            rect.st0 {
                stroke: -input-border($section-background);
            }
        }
            path.unchecked {
                display: none;
            }
    }

    .material-icons {
        $height-width: 30px;
        width: $height-width;
        height: $height-width;
        border-radius: 50%;
        transition-duration: .3s;
        transition-property: background-color;
        transition-timing-function: ease-out;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    &:active .material-icons {
        background-color: transparentize($checkbox-color, .8);
    }

    &.disabled {
        cursor: not-allowed;
        &:active .material-icons {
            background: transparent;
        }

        &.checked {
            svg{
                fill: #ababab;
            }
        }

        svg {
            fill: none;
            background-color: -input-disabled-background();
            border-radius: 50%;
            rect.st0{
                stroke: -input-border($section-background);
            }
        }
    }
}


.checkbox {
    @extend .radio-btn;
    margin-top: 0;
    margin-bottom: 0;
    svg{
        @include setInputColors($section-background);
        $background-color: -input-background($section-background);
        background-color: $background-color;
    }
    &.disabled {
        svg {
            border-radius: 0;
        }
    }
}

lqb-input + label.text-center-checkbox {
    margin-bottom: 1px;
    line-height: 30px;
    height: 30px;
    vertical-align: bottom;
    margin-left: -7px;
}

.lock-checkbox {
    @extend .btn-icon;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: inline;
    line-height: 30px;
    padding: 6px 5px;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0);
    position: relative;

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > span {
        font-size: 18px;
        vertical-align: middle;

        &:before {
            content: "lock";
        }
    }

    &.checked {
        color: $error-color;

        &:hover {
            color: -hover-color($error-color);
        }

        &:active {
            color: -active-color($error-color);
        }

        span::before {
            content: "lock_open";
        }
    }

    &.disabled {
        color: #ababab;
        cursor: not-allowed;
        background-color: transparent;
        cursor: not-allowed;

        &:hover, &:active {
            color: #ababab;
            text-shadow: none;
        }
    }

    input[type='checkbox'] {
        display: none;
    }

    & + lqb-input {
        input, select {
            border-left: none;
        }
    }

    .material-icons {
        display: inline;
    }
}

.glyphicon {
    top: 0;
}

// Requires the importants to override inline values (Generated by js)
.nicescroll-cursors {
    background-color: $fallback-high !important;
    border-radius: 1px !important;
}

.navbar-nav, .container-fluid .navbar-collapse {
    margin: 0;
}

// The following css is for the SideBar Navigation
// This is the div containing the sidebar.
.sidebar-navigation {
    padding: 0;
    min-width: $navigation-min-width;
    overflow-x: visible;
    max-width: 320px;
    z-index: 4;
    height: 100%;
    flex-direction: column;
    display: flex;
    box-shadow: $shadow-3;
    background-color: $navigation-background;
    color: $font-inactive;

    &.collapse.in {
        display: flex;
    }

    .search-type-dropdown {
        border: none;
        border-bottom: 1px solid -input-border();
        flex: 0 0 31px;
        cursor: pointer;

        .form-control, .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:focus {
            border: none;
            background-color: $navigation-background;
        }
    }

    .search-group-container {
        flex: 0 0 auto;

        input, button {
            margin: 0;
    }

        button {
            border-radius: 0px;
            background-color: $navigation-background;
            border-color: $navigation-background;
            box-shadow: none;
            color: $font-default;

            &:hover {
                background-color: -hover-color($navigation-background);
            }

            &:active {
                background-color: -active-color($navigation-background);
            }
        }
    }

    .search-group {
        z-index: 2;
        padding: 3px 3px;
        border-bottom: 1px solid -input-border();

        @include setInputColors($section-background);

        .ui-select-toggle {
            background-color: -input-background();
            cursor: text;

            span {
                color: $font-default;
            }
        }

        .expand {
            padding: 0;
        }

        .form-control {
            transition-property: width;
            transition-timing-function: ease;
            transition-duration: .3s;
            border: none;
            height: 2.5em;
            box-shadow: none;
        }

        .covered, .covered button {
            width: 0;
            padding: 0;
            overflow: hidden;
        }
        //All buttons grouped with the search text box.
        .input-group-btn button, .btn-group button {
            border-radius: 0px;
            box-shadow: none;
        }
        //The buttons before the text in the seach group.
        > .input-group-btn:first-child button {
            border-radius: 0px;
            background-color: $navigation-background;
            border-color: $navigation-background;
            box-shadow: none;
            color: $font-default;

            &:hover {
                background-color: -hover-color($navigation-background);
            }

            &:active {
                background-color: -active-color($navigation-background);
            }
        }

        .input-group-addon {
            width: 100%;
        }
        //The magnifying glass in the search group.
        > .input-group-btn:last-child button {
            background-color: -input-background();
            border-color: -input-background();
            color: $font-default;

            &:hover {
                background-color: -hover-color(-input-background());
            }

            &:active {
                background-color: -active-color(-input-background());
            }
        }
        //All buttons grouped with the search text box.
        .input-group-btn button, .btn-group button {
            border-radius: 0px;
            box-shadow: none;
            margin-right: 0px;
        }

        .input-group-btn:nth-child(1) button {
            transition-property: width, padding;
            transition-timing-function: ease;
            transition-duration: .3s;
        }
    }

    .drag-icon {
        position: absolute;
        right: 5px;
        fill: $font-default;
    }

    .navbar {
        background: none;
        box-shadow: none;
        border: none;
        border-radius: 0px;

        &.user-settings {
            height: auto;
            min-height: 0;
            flex: 0 0 auto;

            .lightbulb {
                span {
                    vertical-align: middle;
                    margin-right: 1rem;
                }
            }

            ul {
                background-color: $fallback-preferred;

                a {
                    .arrow {
                        transition-property: transform;
                        transition-duration: 0.15s;
                        transition-timing-function: linear;
                        position: absolute;
                        right: 5px;
                        transform: rotate(90deg);
                    }


                    &:not(.collapsed) .arrow {
                        transform: (rotate(0));
                    }

                    color: white;

                    &:hover {
                        background-color: -hover-color($fallback-preferred);
                    }
                }

                li {

                    ul {
                        background-color: darken($fallback-preferred, 3%);
                    }
                }
            }
        }

        li a {
            font-size: 14px;
            position: relative;
            padding: 1rem 13px;
            display: block;
            white-space: nowrap;
            z-index: 1;
            color: $font-inactive;
            cursor: pointer;

            &:hover {
                color: $font-active;
                background-color: -hover-color($navigation-background);
            }

            &.active {
                &:not(.folder) {
                    color: $link-color;
                }
            }

            &.folder {
                color: $font-default;
                font-size: $font-size-m;

                .arrow {
                    transition-property: transform;
                    transition-duration: 0.15s;
                    transition-timing-function: linear;
                    font-size: 25px;
                    position: absolute;
                    right: 5px;
                }

                &:not(.collapsed) .arrow {
                    transform: rotate(-90deg);
                }

                &.active.collapsed {
                    color: $primary-preferred;
                }
            }
        }

        &.navigation-list {
            flex: 1 1 100%;
        }
    }
    // The first layer of the side bar folders.
    ul {
        text-shadow: none !important;
        height: 100%;
        background-color: $navigation-background;

        a {
            padding-left: 1.5rem;
            padding-right: 1rem;
        }

        &[aria-expanded='false'] {
            height: 0px;
        }
        // The second layer of the side bar folders.
        ul {
            background-color: darken($navigation-background, 3%);

            li a {
                padding-left: 2.5rem;
            }

            ul {
                background-color: darken($navigation-background, 6%);

                li a {
                    padding-left: 3.5rem;
                }
            }
        }
    }

    .navbar-default {
        border: none;
    }

    .nav > li, .nav {
        float: none;
    }

    .navbar-collapse, .container-fluid {
        padding: 0;
    }

    a.active:not(.folder)::before, .folder.active.collapsed::before {
        content: "";
        width: 5px;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: $primary-preferred;
    }
    // Side-bar Animation CSS
    &.collapsing {
        transition-property: height, visibility, box-shadow, min-width, position;

        &[aria-expanded="true"] {
            width: $navigation-width !important;
        }
    }

    &.collapsing, &.collapse {
        &[aria-expanded='false'] {
            width: 0 !important;
            min-width: 0px;
            visibility: collapse;
        }

        &.width {
            transition-property: height, width, visibility, padding, min-width;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            white-space: nowrap;
        }
    }

    &.collapse.width.override {
        height: 100%;
        visibility: visible;
        width: $navigation-width !important;
        min-width: $navigation-min-width;
    }
}
// The following styling only occurs on resolutions below 1200px.  The Navigation's auto-collapse is handled here
@media (max-width: 1245px) {
    .loan-summary-empty {
        width: 0px;
        min-width: 0px;
    }

    .content {
        margin-left: 0px !important;
    }

    .sidebar-navigation.collapse, .collapsing {
        &.width {
            margin: 0;
            min-width: $navigation-min-width;
            width: 0px;
            display: flex;
            height: 0px;
            transition-property: height, visibility;
            visibility: collapse;
            position: absolute;
        }
    }

    .collapsing.width {
        min-width: $navigation-min-width;
    }

    .nav-toggle-small {
        display: inline !important;
    }

    .nav-toggle-normal {
        display: none;
    }

    .override .navbar-collapse.collapse {
        display: block;
}
}

.noTransition {
    transition: none !important;
}
//Material Icons code
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../../fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../../../fonts/MaterialIcons-Regular.woff') format('woff'), url('../../../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $font-size-l; /* Preferred icon size */
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}
// StyleGuide specific css
.sg-body {
    background-color: white;
    padding: 30px;
}

.sg-container {
    background-color: $section-background;
}

.sg-doc, .show-grid div {
    color: $font-default;
    background-color: -hover-color($content-background);
}
/* Vu's style */
.ui-select-container {
    &.input-group-addon {
        padding: 0 !important;
        background: none;
        border: none;
    }
}

.ui-select-match {
    outline: none !important;
    box-shadow: none !important;

    .btn-default {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
    }

    .btn {
        display: inline-block;
        padding: 5px 12px;
        height: 30px;
        margin-bottom: 0;
        font-size: $font-size-xs;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 0px solid transparent;
        border-radius: 4px;
    }

    .text-muted {
        color: #777;
        padding-top: 1px;
        display: inline-block;
    }
}

.ui-select-bootstrap {
    .ui-select-toggle > .caret {
        border-top: 0px;
        display: none;
    }

    .ui-select-toggle > a.btn {
        outline: none !important;
    }

    .ui-select-toggle > a i {
        display: none;
    }


    > .ui-select-choices {
        max-height: 550px !important;
        background: #fff;
        left: -3px;
    }

    > .ui-select-choices li.ui-select-choices-group a {
        box-shadow: none;
    }

    > .ui-select-choices.dropdown-menu {
        border-radius: 0px;
        border: none;
        box-shadow: $shadow-3;
        &:not(ng-hide){
            animation-duration: .3s;
            animation-name: expandingdown;
        }

    }
    .ui-select-choices-row.active > a {
        color: white !important;
    }

    .ui-select-match a {
        display: none;
    }
}

@keyframes expandingdown {
  from {
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
    border-radius: 0px !important;
}

.ui-select-toggle .ui-select-match-text > span {
    width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
}


.tab-content {
    box-shadow: $shadow-2;

    .panel, .panel-body {
        border-radius: 0;
    }

    .panel {
        box-shadow: none;
    }

    .primary-table {
        width: 100%;
    }
}

.nav-tabs-panels {
    margin-left: -1.5em;
    padding-left: 1.5em;
    margin-right: -1.5em;
    padding-right: 1.5em;
    > li {
        margin-bottom: 0;
        > a {
            color: #555;
            border: none;
            margin-right: 0;
            padding-top: .5em;
            padding-bottom: .5em;
            &:hover {
                background: transparent;
                border: none;
                color: #1476b8
            }
        }
        &.active > a {
            &,
            &:hover,
            &:focus {
                color: #1476b8;
                background: transparent;
                border-width: 0;
            }
        }
        a::after { 
                content: ""; 
                background: #1476b8; 
                height: 3px; 
                position: absolute; 
                width: 100%; 
                left: 0px; 
                bottom: 0px; 
                transition: all 250ms ease 0s; 
                transform: scale(0); 
            }
        &.active > a::after, &:hover > a::after {
            transform: scale(1);
        }
    }
}
.tab-content-panels {
    box-shadow: none;
}

.tab-container {
    height: auto;
    margin-bottom: 0;

    &.table {

        > div {
            > div {
                border: none;
                padding-top: 0;
                padding-right: 0;
                padding-bottom: 0;
                padding-left: 0;

                a {
                    display: inline-block;
                    position: relative;
                    color: $font-default;
                    background-color: darken($section-background, 8%);
                    text-decoration: none;
                    line-height: 2.5em;
                    padding: 0 1em;
                    vertical-align: middle;

                    &:hover {
                        color: $font-active;
                        background-color: darken($section-background, 4%);
                    }

                    &:active, &.active {
                        color: $font-active;
                        background-color: $section-background;
                    }
                }
            }
        }
    }
}

.pipeline-container {
    .tab-container {
        > div {
            > div {
                a {
                    background-color: desaturate(lighten($header-footer-background, 25%), 25%);
                    color: white;
                    border-top: 2px solid rgba(255, 255, 255, 0);
                    margin-right: 5px;

                    &.PipelinePortlet {
                        border-top-color: #3b50ce;
                    }
                    &.DisclosurePortlet {
                        border-top-color: #dd191d;
                    }
                    &.TradePoolPortlet {
                        border-top-color: #43A047;
                    }
                    &.MyTaskPortlet {
                        border-top-color: #FB8C00;
                    }
                    &.MyLeadPortlet {
                        border-top-color: #424242;
                    }
                    &.TestPortlet {
                        border-top-color: #FDD835;
                    }
                    &.NoType {
                        border-top-color: #ffffff;
                    }
                    
                    &:before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        box-shadow: $shadow-2;
                        z-index: -1;
                    }

                    &:hover {
                        background-color: $header-footer-background;
                        color: white;
                    }

                    &:active, &.active {
                        background-color: $section-background;
                        color: $font-active;
                    }

                    &.add-tab {
                        height: 20px;
                        width: 20px;
                        padding: 0;
                        line-height: 15px;
                        vertical-align: middle;
                        display: inline-block;
                        text-align: center;
                        border: none;
                    }
                }
            }
        }
    }
}

lqb-input {
    vertical-align: middle;
}

.pipeline-table {
    text-align: left;
    color: $font-default;

    .header {
        text-align: left;
        td a, th a {
            display: flex;
            line-height: 20px;
            &:hover {
                text-decoration: none;
            }
            .material-icons {
                color: #fff;
            }
        }
    }

    td {
        vertical-align: middle;
        padding-left: 1.25em;
        padding-right: 0;
    }

    tbody {
        tr {
            &.highlight {
                background-color: transparentize($accent-preferred, .76);
            }

            &.expanded td {
            }

            &:hover {
                background-color: transparentize(black, .88);
                color: $font-active;

                .value {
                    text-decoration: underline;
                }
            }
        }
    }

    .loan-links-container {
        transition-property: max-height;
        transition-duration: .3s;
        transition-timing-function: linear;
        max-height: 168px;
        overflow: hidden;

        &.hide {
            max-height: 0;
            display: block !important;
        }
    }

    .loan-links {
        padding-left: 1.2em;
        text-align: left;
        font-size: $font-size-s;
        display: inline-block;
        list-style-type: none;
    }

    .material-icons {
        text-decoration: none;
        color: $accent-preferred;
    }
}

.trashcan {
    color: $error-color;

    &:hover {
        color: -hover-color($error-color);
    }

    &:active {
        color: -active-color($error-color);
    }
}

// These gu- classes correspond to styling for when we're dragging items using Dragular.js.
.gu-transit {
    background-color: $fallback-high;
}

.gu-mirror {

    @extend .sidebar-navigation;
    position: fixed;
    margin: 0;
    z-index: 9999;
    opacity: .9;
    background-color: $section-background;
    list-style: none;
    vertical-align: middle;

    .drag-icon {
        position: absolute;
        right: 5px;
    }
}

.gu-show{
    display: block !important;
    visibility: hidden;
}

.open  .gu-show.dropdown-menu{
    visibility: visible;
}

*[hidden] {
    position:absolute;
    display: block !important;
    visibility: hidden;
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gu-transit {
    opacity: 0.2;
}

/*Fix the textbox and money textbox on IE*/
input[type=text]::-ms-clear {
    display: none;
}

// Create Notification for Required Fields
.has-required-field {

    position: relative;
    display: flex;

    .form-control-required-field {
        width: 14px;
        height: 14px;
        position: absolute;
        bottom: 8px;
        right: 3px;
        z-index: 5;
    }
    &.has-required-field-success, &.has-required-field-error {
        .form-control {
            border-color: -input-border($section-background);
            box-shadow: none;
            margin-right: 0;
            padding-right: 1.5em;

            &:focus {
                box-shadow: none;
                border-color: $primary-preferred;
            }
        }
        input[readonly] + .form-control-required-field {
            display: none;
        }
    }
    &.has-required-field-success {
        .form-control-required-field{
            background: url(../../../images/Prototype/checkmark-icon.svg);
        }
    }
    &.has-required-field-error {
        .form-control-required-field{
            background: url(../../../images/Prototype/x-icon.svg);
        }
    }
}

// Update the modal pop-up styling based on Andy's suggestion
.modal-dialog{
    margin-top: 9em;
    bottom: 4em;
    @include setInputColors($section-background);
    .modal-content{
        border-radius: 3px;
        .modal-header{
            @include color-modal-header();
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding-top: .5em;
            padding-bottom: .5em;
            a{
                &.close {
                    color: $font-default;
                    opacity: .5;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
        }
        .modal-body{
            .table{
                > div > div{
                    label{
                        white-space: nowrap;
                    }
                }
            }
        }
        .modal-footer{
            border-top:none;
        }
    }
}

// Add style for modal breadscrumbs
.modal-breadcrumb {
    padding: 8px 0;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    li {
        display: inline-block;
        + li:before {
            content: ">";
            padding: 0 2px;
            margin-right: 2px;
            color: $font-default;
        }
        &.active {
            color: $font-default;
        }
        &.deep-inside {
            &:before {
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}

a.cursor {
    cursor: pointer;
}

.wrap-spinner {
    position: fixed;
    background: #000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: .8;
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -60px;
        font-size: 20px;
        color: #aaa;
    }
    .spinner {
        margin-left: 35px;
        height: 22px;
        width: 22px;
        animation: rotate 1s infinite linear;
        border: 6px solid #1476b8;
        border-right-color: transparent;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
    }
     
    @keyframes rotate {
        0%    { transform: rotate(0deg); }
        100%  { transform: rotate(360deg); }
    }
}

.favorite-page-link{
    font-size: 14px;
    position: relative;
    padding: 1rem 13px;
    display: block;
    white-space: nowrap;
    z-index: 1;
    color: $font-inactive;
    cursor: pointer;

    &:hover {
        color: $font-inactive;
        text-decoration: none;
    }
}

.nowrap {
    white-space: nowrap;
}

.error-icons, .warning-icons {
    display: block;
    width: 14px;
    height: 14px;
}

.contact-link {
    padding-right: 1.5em;
}

.flex section {
    margin-right: 1.5em;
}
.flex section:last-child {
    margin-right: 0;
}