

@mixin fontBasis ($fontSize, $height, $marginVert, $marginHor, $paddingVert, $paddingHor)
{
	font-size: $fontSize;
	@if $fontSize == 13px
	{ $basis : 10px; }
	@else if $fontSize == 17px
	{ $basis : 12px; }
	@else if $fontSize == 20px
	{ $basis : 16px; }
	@else if $fontSize == 22px
	{ $basis : 17px; }

	@if($height != 0)
	{
		height: $height * $basis;
	}

	@if $paddingHor != 0
	{
		padding-left: $paddingHor * $basis;
		padding-right: $paddingHor * $basis;
	}
	@else if $paddingVert != 0
	{
		padding-top: $paddingVert * $basis;
		padding-bottom: $paddingVert * $basis;
	}

	@if $marginHor != 0
	{
		margin-right: $marginHor * $basis;
	}
	@else if $marginVert != 0
	{
		margin-top: $marginVert * $basis;
		margin-bottom: $marginVert * $basis;
	}
}

@mixin fontBasisHalf ($fontSize, $height, $marginVert, $marginHor, $paddingVert, $paddingHor)
{
	font-size: $fontSize;
	@if $fontSize == 13px
	{ $basis : 5px; }
	@else if $fontSize == 17px
	{ $basis : 6px; }
	@else if $fontSize == 20px
	{ $basis : 8px; }
	@else if $fontSize == 22px
	{ $basis : 8.5px; }

	@if($height != 0)
	{
		height: $height * $basis;
	}

	@if $paddingHor != 0
	{
		padding-left: $paddingHor * $basis;
		padding-right: $paddingHor * $basis;
	}
	@else if $paddingVert != 0
	{
		padding-top: $paddingVert * $basis;
		padding-bottom: $paddingVert * $basis;
	}

	@if $marginHor != 0
	{
		margin-right: $marginHor * $basis;
	}
	@else if $marginVert != 0
	{
		margin-top: $marginVert * $basis;
		margin-bottom: $marginVert * $basis;
	}
}

@mixin setBtnFlat($backgroundColor, $brightness: 12%)
{
	.btn-flat
	{
		background-color: $backgroundColor;
		
		&:hover
		{
			background-color: -hover-color($backgroundColor, $brightness);
		}

		&:active
		{
			background-color: -active-color($backgroundColor, $brightness);
		}
	}
}

@mixin set-toggle-active-background($backgroundColor)
{
	#LoanSummaryToggle[aria-expanded='true']
	{
		background-color: darken($backgroundColor, 12%);
	}
}

@function -hover-color($color, $amount: 12%)
{
	$lightness: lightness($color);

	@if $lightness > 88
	{
		@return darken($color, $amount);
	}
	@else
	{
		@return lighten($color, $amount);
	}
}

@function -active-color($color, $amount: 12%)
{
	$lightness: lightness($color);

	@if $lightness < 12
	{
		@return lighten($color, $amount * 2);
	}
	@else if $lightness < 88
	{
		@return darken($color, $amount);
	}
	@else
	{
		@return darken($color, $amount * 2);
	}
}

@function -input-background($color: $section-background)
{
	@return lighten($color, 11%);
}

@function -input-border($color: $section-background)
{
	$input-bg: -input-background($color);
	
	@if lightness($input-bg) > 60%
	{
		@return darken($input-bg, 17%);
	}
	@else
	{
		@return lighten($input-bg, 17%);
	}
}

@function -input-disabled-background($color: $section-background)
{
	@if lightness($color) < 50%
	{
		@return desaturate(darken($color, 1%), 2%);
	}
	@else
	{
		@return desaturate(darken($color, 8%), 2%);
	}
}

@function -input-disabled-text($color: $font-inactive, $base: $section-background)
{
	@if lightness($base) < 50%
	{
		 @return darken($color, 25%);
	}
	@else
	{
		 @return lighten($color, 5%);
	}
}

@mixin setInputColors($color: $section-background)
{
	input, select, textarea
	{
		background-color: -input-background($color);

		border-color: -input-border($color);
		
		&:disabled, &[readonly], &[disabled]
		{
			background-color: -input-disabled-background($color);
			color : -input-disabled-text($font-inactive);
		}
		&[readonly] + button.dropdown-toggle{
			background-color: -input-disabled-background($color);
			color : -input-disabled-text($font-inactive);
			cursor: not-allowed;
			&:hover{
				box-shadow: none;
				color : -input-disabled-text($font-inactive);
			}
			&:disabled{
				background-color: -input-disabled-background($color);
				opacity: 1;
			}
		}
	}
}

@mixin color-tables($color: $section-background)
{
	background-color: if(lightness($color) > 50, 
		darken($color, 7%), 
		lighten($color, 7%)
	);
}
@mixin border-color-tables($color: $section-background)
{
	border-bottom: 1px if(lightness($color) > 50, hsla(207, 5%, 85%, 1), hsla(200, 5%, 38%, 1)) solid;
	border-left: 1px if(lightness($color) > 50, hsla(207, 5%, 85%, 1), hsla(200, 5%, 38%, 1)) solid;
	border-right: 1px if(lightness($color) > 50, hsla(207, 5%, 85%, 1), hsla(200, 5%, 38%, 1)) solid;
}
@mixin hover-color-tables($color: $section-background)
{
	background-color: if(lightness($color) > 50, hsla(33, 91%, 63%, .45), hsla(33, 91%, 35%, .45));
	
}
@mixin active-color-tables($color: $section-background)
{
	background-color: if(lightness($color) > 50, hsla(33, 91%, 63%, 1), hsla(33, 91%, 35%, .85));
	
}
@mixin none-hover-color-tables($color: $section-background)
{
	background-color: if(lightness($color) > 50, #ededed, #4b4f53);
}

@mixin color-modal-header($color: $section-background)
{
	background-color: if(lightness($color) > 50, hsla(200, 65%, 55%, .3), hsla(200, 65%, 55%, .3));
	box-shadow: if(lightness($color) > 50, 0px 2px 3px hsla(0, 0%, 55%, 1), 0px 2px 3px hsla(0, 0%, 15%, 1));
	border-bottom: none;
}