﻿// GLOBAL

$minimum-resolution: 1000px;
$maximum-resolution: 1920px;

$navigation-width: 16.6667%;
$navigation-min-width: 245px;

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

$space-font-ratio: 1;								// this is used to determine em/rem units for padding and margins

// I will try to come up with a list of fonts that we may want control over and also may want to re-use in other places
// things like page header don't need to be controllable

$font-size-xs: 12px;									// buttons and secondary text
$font-size-s: 13px;									// default text size
$font-size-m: 17px;									// nav folder
$font-size-l: 20px;									// section title

// THEME

// these are in the theme because we may need to make adjustments to values depending on the background
$shadow-half: 0px 1px 3px 0px  hsla(0, 0%, 0%, 0.1), 0px 1px 3px 0px  hsla(0, 0%, 0%, 0.2);					// button default
$shadow-1: 0px 3px 3px 0px  hsla( 0, 0%, 0%, .12), 0px 1px 3px 0px hsla( 0, 0%, 0%, .24);			// button hover, sections, navigation layers
$shadow-2: 0px 4px 4px 0px  hsla( 0, 0%, 0%, .16), 0px 3px 4px 0px  hsla( 0, 0%, 0%, .23);			// header? navigation
$shadow-3: 0px 6px 6px 0px  hsla( 0, 0%, 0%, .19), 0px 4px 6px 0px  hsla( 0, 0%, 0%, .23);			// div? header?
$shadow-4: 0px 10px 10px 0px  hsla( 0, 0%, 0%, .25), 0px 6px 10px 0px  hsla( 0, 0%, 0%, .22);		// divs?
$shadow-5: 0px 19px 19px 0px  hsla( 0, 0%, 0%, .30), 0px 9px 12px 0px  hsla( 0, 0%, 0%, .22);		// no intended use YET

$shadow-3-inset: 0 6px 6px 0 hsla( 0, 0%, 0%, .19) inset, 0 4px 6px 0 hsla( 0, 0%, 0%, .23) inset;			// div? header?

$header-hover-brightness: 12%;              // Determines how bright/dark the flat buttons in the header are on hover.

$primary-high: hsl(200, 65%, 55%);			// 
$primary-preferred: hsl(204, 80%, 40%);		// loan editor header
$primary-low: hsl(208, 95%, 25%);				// pipeline header

$accent-high: hsl(35, 83%, 57%);				// used for inverted backgrounds
$accent-preferred: hsl(33, 90%, 50%);		// primary buttons, icon badges
$accent-low: hsl(28, 97%, 43%);				// loan summary descriptions

$fallback-high: hsl(207, 5%, 80%);				// 
$fallback-preferred: hsl(207, 5%, 55%);		// secondary buttons
$fallback-low: hsl(207, 5%, 36%);				// secondary tables, content icon default

$base-background: hsl(25, 5%, 100%);
$header-footer-background: $primary-preferred;
$logo-background: hsl(207, 30%, 18%);
$section-background: $base-background;
$content-background: hsl(25, 5%, 86%);
$navigation-background: $section-background;	// successive layers will use lighten and darken functions by 3%

// replaces loan editor color usage with these values for trades and pools editor
$trades-primary-high: hsl(122, 39%, 49%);
$trades-primary-preferred: hsl(123, 43%, 39%);
$trades-primary-color-3: hsl(124, 55%, 24%);

// for now because I don't know of any better color to use off hand
$trades-accent-high: $accent-high;
$trades-accent-preferred: $accent-preferred;
$trades-accent-low: $accent-low;

// this needs to be in the theme because we can't easily determine it based on the background
$font-inverse: hsl(207, 5%, 100%);			// for light themes, this would be white, for dark themes it might be dark
$font-active: hsl(297, 5%, 12%);				// input text, hovered text
$font-default: hsl(207, 5%, 24%);				// input descriptions
$font-large: hsl(207, 5%, 36%);					// folders, panel titles
$font-inactive: hsl(207, 5%, 46%);				// nav pages, disabled text
$font-page-header: hsl(0, 0%, 100%);

// contextual
$error-color: hsl(4, 79%, 50%);
$warning-color: hsl(50, 100%, 50%);
$success-color: hsl(120, 50%, 38%);
$link-color: hsl(205, 100%, 36%);

//Create Notification for Required Fields
$font-size-icon: 0.75em;
$has-error: hsl(0, 100%, 47%);
$has-success: hsl(120, 100%, 40%);
$white-color: hsl(0, 100%, 100%);

// The color of the checkboxes
$checkbox-color: hsl(174, 80%, 40%);
$checkbox-white-color: hsl(174, 80%, 100%);
$checkbox-black-color: hsl(174, 80%, 0);
