﻿@import "PipelineVariables";
@import "BootstrapSCSS/_bootstrap";



button, a, p {
	text-shadow: none !important;
}

@mixin setBtnFlat($backgroundColor) {
	.btn-flat {
		background-color: $backgroundColor !important;

		&:hover {
			background-color: lighten($backgroundColor, 10%) !important;
		}

		&:active {
			background-color: darken($backgroundColor, 10%) !important;
		}
	}
}

html
{
	font-size: 13px;      
}

// header title
h1 {
}
// navigation title
h2 {
}
// page/content title
h3 {
}
// section title, navigation folder
h4 {
}
// navigation link, sub-section title
h5 {
}
// fine print
h6 {
}

ul {
}

textarea {
	resize: vertical;
	height: 200px;
	width: 100%;
	margin-top: 3px;
}

select {
}

input:not([type='radio'], [type='checkbox']) {
	@extend .input-sm;
}

input[type="text"] {
	margin-right: .74em;
}

input[type="radio"] {
}

input[type="checkbox"] {
}

.placeholder-input {
	width: 200px;
}

.date {
	width: 155px;
}

.money, .form-control-money {
	width: 120px;
	text-align: right;
}

.percent, .form-control-percent {
	width: 100px;
}

.time {
	width: 120px;
}

.count, input[type='number'], .form-control.count {
	width: 100px;
}

input[type='number'].small-count {
	width: 65px;
}

input:disabled, select:disabled, input[readonly] {
	color: lighten(black, 40%);
}

input.form-control:not(.input-xs):not(.input-sm):not(.input-md):not(.input-lg) {
	height: 30px;
}

.days-counter {
	width: 80px;
}

.loan-status {
	width: 200px;
}

//The default button styling.
button {
	text-transform: uppercase;
	@extend .btn;
	@extend .btn-default;
	@extend .btn-sm;
	font-size: 13px;
	height: 2.5em;
	margin-right: .5 * .75em;
	background-image: none !important;
	border: none !important;
	color: black !important;
	background-color: rgb(150, 150, 150) !important;
	border-radius: 2px;
	outline: none !important;

	&:hover {
		background-color: rgb(160, 160, 160) !important;
	}

	&:active {
		background-color: rgb(130, 130, 130) !important;
	}

	&:not(.btn-flat) {
		@extend .floating;
	}
}

.btn {
	background-image: none;

	.btn-default {
		filter: initial;
		position: relative;
		background-color: #E0E0E0;
	}
}


//Floating elements.  Currently only used for buttons.
.floating {
	color: white !important;

	&:hover {
		box-shadow: $shadow-2;
		color: white !important;
		transition-property: box-shadow, background-color;
		transition-duration: 0.1s;
		transition-timing-function: ease;
	}

	&:active {
		box-shadow: none;
	}
}


//Primary buttons.  These are used on buttons that are required to continue the loan process.
.btn-primary {
	@extend .floating;
	background-color: #F2A900 !important;
	border: none;

	&:hover {
		background-color: rgb(252, 194, 51) !important;
	}

	&:active {
		background-color: rgb(238, 149, 0) !important;
	}
}

//Flat buttons.  These are currently only used in the header.
.btn-flat {
	border-radius: 0px;
	box-shadow: none !important;
	border: none;

	width: auto !important;
	line-height: 30px;

	&.material-icons
	{
		height: auto; 
		width: auto;
	}

	&:hover {
		background-color: darken(white, 12%);
		box-shadow: none !important;
	    
	}

	&:active {
		background-color: darken(white, 24%);
	}

	&.checked {
		color: $error-color;

		&:hover {
			background-color: darken(white, 12%);
		}

		&:active {
			background-color: darken(white, 24%);
		}

		span::before {
			content: "lock_open";
		}
	}
}

.btn-group-sm > .btn, .btn-sm, .form-control {
	border-radius: 1px;
}

table {
	thead td {
		padding: 0 .75em;
	}

	td {
		padding-right: .5em !important;
		padding-left: 0 !important;
	}

	input {
		margin-right: 0 !important;
	}

	label {
		padding-top: 0 !important;
	}
}

.inline-table
{
	display: inline-table;
}

.table {
	display: inline-table;
	margin-bottom: 0px;
	width: auto;
	border-collapse: collapse;

	.inline {
		border-spacing: 1em !important;
	}

	input {
		margin-right: 0 !important;
	}
    //Adds spacing between rows and columns, but not the outside.
	> div {
		display: table-row;

		> div {
			display: table-cell;
			float: none;
			border: .75em solid rgba(255, 255, 255, 0);

			> label:first-child {
				margin-right: .75em;
				padding-top: 0;
			}

			&:first-child {
				border-left: none !important;
			}

			&:last-child {
				border-right: none !important;
			}
		}

		&:first-child div {
			border-top: none !important;
		}

		&:last-child div {
			border-bottom: none !important;
		}
	}

	&.wide {
		width: 100%;
	}

	&.comptact-table {
		> div {


			> div {
				border: .5em solid rgba(255, 255, 255, 0);
			}
		}
	}
}


.table-row {
	display: table-row !important;
}

.table-cell {
	display: table-cell !important;
}

.min-width
{
	width: 1px;
}

.align-right
{
	text-align: right;
}

//The header row for a primary table.
.primary-table {
	text-align: center;

	.header {
		background-color: $primary-color-2;
		color: white;
		text-align: center;
	}

	td {
		padding: 2px 3px;
	}
}

//The header row for a secondary table.
.secondary-table {
	.header {
		background-color: #424242;
		color: white;
		text-align: center;
	}
}

.primary-table, .secondary-table {
	text-align: left;

	tbody tr{
		&:nth-child(even) {
			background-color: #EEE;
		}
	}
}

a {
}

.control-label, .form-horizontal label {
	text-align: left;
}

// Labels are the text descriptions for inputs.
label {
	@extend .control-label;
	color: rgba(0, 0, 0, .87);
}

body {
	max-width: 1920px;
	background-color: #E0E0E0 !important;
}

iframe {
}

.wrap {
	min-width: $minimum-resolution;
	max-width: $maximum-resolution;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.hide-shadow {
	box-shadow: none !important;
}

.navbar.header {
	z-index: 4;
	width: 100%;
	border: none;
	min-width: $minimum-resolution;
	max-width: $maximum-resolution;
	min-height: 30px;
	box-shadow: $shadow-3;

	.container-fluid {
		padding: 0;
	}

	.header-table {
		width: 100%;
		height: 1px; // Unfortunately, IE will only apply 100% heights to children if the table has an assigned height.

        //This is the left hand side of the header.
		.header-logo {
			padding: 5px 10px;
			text-align: center;
			min-width: $navigation-min-width;
			background-color: $logo-background;
			@include setBtnFlat($logo-background);


			.nav-toggle-small {
				display: none;
			}

			.logo {
				vertical-align: middle;
			}

			.logo-table {
				display: table;
				width: 100%;
			}

			button {
				height: auto;
			}

			.material-icons {
				color: white !important;
				vertical-align: middle;
			}
		}
        // The main section of the header
		.header-main {
			padding: 0px 10px;
			width: 100%;
			background-color: $header-footer-background !important;

			@include setBtnFlat($header-footer-background);

			.table {
				width: 100%;
				height: 100%;
			}

			#LoanSummaryToggle[aria-expanded='true'] {
				background-color: darken($primary-color-2, 12%) !important;
			}

			#LoanSummaryToggle {
				padding: 0 1em;
			}
            // This is the Page Title located in the header
			.page-header {
				font-size: 24px;
				color: white;
				margin: 0;
				border: none;
				padding: .55em;
				vertical-align: middle;
			}

			.btn-nav {
				white-space: nowrap;
				margin-right: 20px;
				height: 100%;
				text-align: right;
                // This affects the buttons in the bottom left of the page navigation.
				button {
					margin: 0;
					white-space: nowrap;
					min-width: 40px;
					height: 100%;
					border: none;
					text-transform: none;
					border: none;
					color: white !important;
					padding: 0;
					position: relative;

					.material-icons {
						vertical-align: middle;
						font-size: 18px;
						width: 2.5em;
					}
				}

				.btn-close {

					&:hover {
						background-color: #EB2724 !important;
					}

					&:active {
						background-color: darken(hsl(1, 83%, 63%), 10%) !important;
					}
				}
			}
		}
	}
}
// This is the container located directly below the header.  It contains the sidebar and the content.
.below-header-container {
	overflow: hidden;
	position: relative;
	background-color: #F5F5F5;

	.row {
		height: 100%;
	}
}

.navigation {
	z-index: 3;
	position: relative;
}

.navbar {
	margin-bottom: 0;
	background-image: none;
}

.navbar-inverse {
	background-image: none;
}

.loan-summary-container {
	position: relative;
	z-index: 3;
	box-shadow: $shadow-3;
    // The loan summary is the table displayed in the page header containing various loan info.
	.loan-summary {
		border: none;
		margin-bottom: 0;
		position: relative;
		border-top-left-radius: 0px !important;
		width: 100%;
		box-shadow: none !important;
		color: $font-color-1;
		background-color: $navigation-background;
		border-radius: 0px;

		.panel-body {
			white-space: nowrap;
		}

		.loan-summary-table {
			width: 100%;
			display: inline-table;
			white-space: normal;

			td {
				color: $accent-color-3;
                // These are the bound values for the Loan Summary table.
				&.ng-binding {
					color: black;
				}
			}
		}
	}
}

.content-container {
	height: 100%;
	overflow: hidden;
}

.content {
	z-index: 0;
	position: relative;
	padding: 0;
	transition: margin-left .3s ease;
	height: 100%;
	width: 100%;
	box-sizing: padding-box;
	overflow: auto;
	max-width: 100%;
	background-color: $content-background;
	box-shadow: $shadow-2;
	color: $font-color-1;

	> div {
		min-width: $minimum-resolution;
	}
    //Content buttons have their own special styling changes that should not affect the Header/Nav buttons.
	button {
		font-weight: bold;
		background-color: hsl(0, 0%, 55%) !important;
		border: none;
		box-shadow: 0 1px 3px 0 rgba( 0, 0, 0, .1), 0 1px 3px 0 rgba( 0, 0, 0, .2);
		color: white;
		font-size: 12px !important;
		padding-left: 1em;
		padding-right: 1em;
		border-radius: 3px;

		&:hover {
			background-color: lighten(hsl(0, 0%, 55%), 10%) !important;
			box-shadow: $shadow-1;
		}

		&:active {
			background-color: darken(hsl(0, 0%, 55%), 10%) !important;
			box-shadow: none;
		}
	}

	.btn-primary {
		background-color: $accent-color-2 !important;

		&:hover {
			background-color: lighten($accent-color-2, 10%) !important;
		}

		&:active {
			background-color: darken($accent-color-2, 10%) !important;
		}
	}
}



.input-group {
	height: 30px;
	display: inline-table;
	border-spacing: 0;
	border-radius: 1px !important;

	.form-control {
		border-radius: 1px;
		float: none;
	}

	> lqb-input {
		display: table-cell;
		vertical-align:middle;

		> label {
			display: inline-block;
		}

		> .form-control
		{
			display:inline-block;
		}
	}

	.input-group-addon {
		padding: 0 12px;
		padding-top: 0 !important;
		vertical-align: middle;
		width: auto;

		.material-icons {
			vertical-align: middle;
		}
	}
}

.input-group-btn button, .input-group-btn .btn {
	border-bottom-right-radius: 1px;
	border-top-right-radius: 1px;
	margin: 0;
}

.unit-group {
	.input-group-addon {
		color: lighten(black, 40%);
		background-color: rgb(238, 238, 238);
	}
}


.section {
	$padding-between: 10px;
	display: table;
	border-spacing: $padding-between;
	width: 100%;
	table-layout: fixed;
	overflow: hidden;
	color: $font-color-2;

	& + .section {
		margin-top: -$padding-between;
	}

	> div {
		display: table-cell;
		float: none !important;
	}

	> .panel {
		padding-top: 0;
		font-size: 13px;
		padding-bottom: 1.75em;
		padding-left: 1.5em;
		padding-right: 1em;
        //The titles for each panel.
		.panel-heading {
			background-image: none !important;
			background-color: white !important;
			color: $font-color-2;
			border: none;
			font-size: 20px;
			padding: 1em 0;
            //The Header element within a panel title.
			h5 {
				font-size: inherit;
				margin: 0;
			}
		}

		> .panel-body {
			color: black;
			padding: 0;

			&:first-child {
				padding-top: 2em;
			}
		}
	}

	.form-group {
		border-spacing: initial;
		margin-bottom: 10px;

		:last-child {
			margin-bottom: 0px;
		}
	}
}
// This should be applied to every input control on the page.
.form-control {
	color: black;
	display: inline;
	box-shadow: none;
	border: 1px solid rgb(212, 212, 212);
	font-size: 13px;
    // This is the border that appears around an input when focused.
	&:focus {
		box-shadow: none;
		border-color: #1E88E5;
	}
}

//The bottom of the page.
.footer {
	margin: 0;
	min-width: 0px;
	width: 100%;
	padding-left: 5px;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: $header-footer-background !important;
	border-top: none;
	color: white;
	padding: 12px 5px;

	a {
		color: white;
	}
}

.panel {
	border-radius: 3px;
	border: none;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .24);

	.panel-body:after, .panel-body:before {
		display: none;
	}
}

.applicants-ddl {
	display: inline-block;
	height: 100%;

	span {
		display: inline-block;
		vertical-align: middle;

		&.material-icons i {
			vertical-align: middle;
		}
	}

	&.open {
		button, button:hover {
			background-color: darken($primary-color-2, 12%) !important;
		}
	}
}

//The default style for items in the applicant dropdown.
.applicants-ddl-items {
	padding: 10px 5px;
	font-size: 12px;
	border-radius: 1px;
	border: 1px solid #d4d4d4;
	box-shadow: $shadow-1;

	li {
		padding: 5px 5px;
		margin-left: -5px;
		margin-right: -5px;
		border-radius: 2px;
        //The items in the applicant dropdown when hovered.
		&:hover {
			background-color: #365A92;
			color: white;
			cursor: pointer;
		}
	}
}

.lock-checkbox {
	@extend .btn-flat;
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	color: hsl(0, 0%, 36%);
	border-right: none;
	display: inline;
	height: 30px;
	line-height: 30px;
	padding: 6px 5px !important;
	border-right: none;
	background: none;
	border: none;

	> span {
		font-size: 18px;
		vertical-align: middle;

		&:before {
			content: "lock";
		}
	}

	&:hover {
		background-color: darken(white, 12%);
	}

	&:active {
		background-color: darken(white, 24%);
	}

	&.checked {
		color: $error-color;

		&:hover {
			background-color: darken(white, 12%);
		}

		&:active {
			background-color: darken(white, 24%);
		}

		span::before {
			content: "lock_open";
		}
	}

	input[type='checkbox'] {
		display: none;
	}

	& + lqb-input {
		input, select {
			border-left: none;
		}
	}

	.material-icons {
		display: inline;
	}
}

.glyphicon {
	top: 0px;
}

.nicescroll-cursors {
	background-color: rgba(224, 224, 224, .87) !important;
}

.navbar-nav, .container-fluid .navbar-collapse {
	margin: 0;
}

// The following css is for the SideBar Navigation
// This is the div containing the sidebar.
.sidebar-navigation {
	padding: 0;
	min-width: $navigation-min-width;
	padding-top: 5px;
	overflow-x: visible;
	max-width: 320px;
	z-index: 4;
	height: 100%;

	$ul-color: hsl(0, 0%, 97%);
	box-shadow: $shadow-3 !important;
	background-color: $navigation-background !important;
	color: $font-color-1 !important;

	.search-group {
		z-index: 2;

		.expand {
			padding: 0;
		}

		padding: 0 3px;

		.form-control {
			transition-property: width;
			transition-timing-function: ease;
			transition-duration: .3s;
			border: none;
			height: 34px;
			box-shadow: none !important;
		}

		.covered, .covered button {
			width: 0;
			padding: 0;
			overflow: hidden;
		}
        //All buttons grouped with the search text box.
		.input-group-btn button, .btn-group button {
			border-radius: 0px;
			box-shadow: none !important;
		}
        //The buttons before the text in the seach group.
		> .input-group-btn:first-child button {
			border-radius: 0px;
			background-color: $navigation-background !important;
			border-color: #212121 !important;
			box-shadow: none;
			color: hsl(0, 0%, 28%) !important;

			&:hover {
				background-color: lighten($navigation-background, 12%) !important;
			}

			&:active {
				background-color: darken($navigation-background, 12%) !important;
			}
		}
        //The magnifying glass in the search group.
		> .input-group-btn:last-child button {
			background-color: #fff !important;
			border-color: #fff !important;
			color: hsl(0, 0%, 28%) !important;

			&:hover {
				background-color: lighten(#fff, 12%) !important;
			}

			&:active {
				background-color: darken(#fff, 12%) !important;
			}
		}
        //All buttons grouped with the search text box.
		.input-group-btn button, .btn-group button {
			border-radius: 0px;
			box-shadow: none;
			margin-right: 0px;
		}

		.input-group-btn:nth-child(1), .input-group-btn:nth-child(1) button {
			transition-property: width, padding;
			transition-timing-function: ease;
			transition-duration: .3s;
		}
	}

	.navbar {
		height: calc(100% - 35px) !important;
		background: none !important;
		box-shadow: none;
		border: none !important;
		border-radius: 0px;
	}
    // The first layer of the side bar folders.
	ul {
		text-shadow: none !important;
		height: 100%;
		background-color: $navigation-background !important;

		a {
			padding-left: 1.5rem;
			padding-right: 1rem;
		}

		&[aria-expanded='false'] {
			height: 0px;
		}
        // The second layer of the side bar folders.
		ul {
			background-color: darken($navigation-background, 3%) !important; //#F0F0F0;
			li a {
				padding-left: 2.5rem;
			}

			ul {
				background-color: darken($navigation-background, 6%) !important; //#E5E5E5;
				li a {
					padding-left: 3.5rem;
				}
			}
		}
	}
    //Shadow settings
	li > ul > li:first-child {
		box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.16) inset;
	}

	li > ul > li:last-child {
		box-shadow: 0 -3px 3px -1px rgba(0, 0, 0, 0.1) inset;
	}

	li > ul > li:last-child:first-child {
		box-shadow: 0 3px 3px -1px rgba(0, 0, 0, 0.16) inset, 0 -3px 3px -1px rgba(0, 0, 0, 0.1) inset;
	}

	.navbar-default {
		border: none;
	}

	.nav > li, .nav {
		float: none;
	}

	.navbar-collapse, .container-fluid {
		padding: 0;
	}
    // The links in the side-bar.  They span the entire container.
	a {
		font-size: 13px;
		position: relative;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		display: inline-block;
		white-space: nowrap;
		z-index: 1;
		color: rgba(255, 255, 255, .7);
		cursor: pointer;
        // This is the same as above, but requires the important to override the default bootstrap css.
		&.folder:focus:not(.active):not(:hover) {
			color: rgba(255, 255, 255, .7) !important;
		}
        // The link highlight
		&:hover {
			color: hsl(0, 0%, 0%) !important;
			background-color: hsla(0, 0%, 0%, .15) !important;
		}
	}

	a.active:not(.folder)::before, .folder.active.collapsed::before {
		content: "";
		width: 5px;
		height: 100%;
		position: absolute;
		left: 0px;
		top: 0px;
	}

	.folder {
		color: $font-color-1 !important;
		font-size: 17px !important;

		.arrow {
			transition-property: transform;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			font-size: 25px;
			position: absolute;
			right: 5px;
		}

		&:not(.collapsed) .arrow {
			transform: rotate(-90deg);
		}

		&.active.collapsed {
			color: $primary-color-2 !important;
		}
	}

	a:not(.folder) {
		color: $font-color-1 !important;

		&.active {
			color: $primary-color-2 !important;
		}
	}
    // This is the solid line that appears on active and hovered links.
	a.active:not(.folder)::before, .folder.active.collapsed::before {
		background-color: $primary-color-2;
	}
    // Side-bar Animation CSS
	&.collapsing {
		transition-property: height, visibility, box-shadow, min-width, position;

		&[aria-expanded="true"] {
			width: $navigation-width !important;
		}
	}

	&.collapsing, &.collapse {
		&[aria-expanded='false'] {
			width: 0 !important;
			min-width: 0px;
			visibility: collapse;
		}

		&.width {
			transition-property: height, width, visibility, padding, min-width;
			transition-duration: 0.3s;
			transition-timing-function: ease;
			white-space: nowrap;
		}
	}

	&.collapse.width.override {
		height: 100%;
		visibility: visible;
		width: $navigation-width !important;
		min-width: $navigation-min-width;
	}
}
// The following styling only occurs on resolutions below 1200px.  The Navigation's auto-collapse is handled here
@media (max-width: 1245px) {
	.loan-summary-empty {
		width: 0px;
		min-width: 0px;
	}

	.content {
		margin-left: 0px !important;
	}

	.below-header-container, .below-header-container .row {
		position: relative;
	}

	.sidebar-navigation.collapse, .collapsing {
		&.width {
			padding: 4px 0 0 0;
			margin: 0;
			min-width: $navigation-min-width;
			width: 0px;
			display: block;
			height: 0px;
			transition-property: height, visibility;
			visibility: collapse;
			position: absolute;
		}
	}

	.collapsing.width {
		min-width: $navigation-min-width;
	}

	.nav-toggle-small {
		display: inline !important;
	}

	.nav-toggle-normal {
		display: none;
	}
}

.noTransition {
	transition: none !important;
}
//Material Icons code
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url('../../../fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../../fonts/MaterialIcons-Regular.woff2') format('woff2'), url('../../../fonts/MaterialIcons-Regular.woff') format('woff'), url('../../../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 20px; /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}
// StyleGuide specific css
.sg-body {
	background-color: white;
	padding: 30px;
}
/* Vu's style */
.ui-select-container {
}

.ui-select-match {

	outline:none !important;
	box-shadow: none !important;

	.btn-default {
		color: #333 !important;
		background-color: #fff !important;
		border-color: #ccc !important;
	}

	.btn {
		display: inline-block;
		padding: 5px 12px;
		height: 30px;
		margin-bottom: 0;
		font-size: 13px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 0px solid transparent;
		border-radius: 4px;
	}

	.text-muted {
		color: #777;
		padding-top: 1px;
		display: inline-block;
	}
}

.ui-select-bootstrap {
	.ui-select-toggle > .caret {
		border-top: 0px;
		display: none;
	}

	.ui-select-toggle > a.btn {
		outline: none !important;
	}

	.ui-select-toggle > a i {
		display: none;
	}


	> .ui-select-choices {
		max-height: 550px !important;
		background: #fff;
		left: -3px;
	}

	> .ui-select-choices li.ui-select-choices-group a {
		box-shadow: none;
	}

	> .ui-select-choices.dropdown-menu {
		border-radius: 0px;
		border: none;
		box-shadow: $shadow-3;
	}
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
	border-radius: 0px !important;
}

.ui-select-toggle .ui-select-match-text > span {
	width: 99%;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
}


.nav-tabs {
	border-bottom: none !important;

	li:last-child a
	{
		box-shadow: 6px 4px 4px -5px rgba(0,0,0,0.16), 6px 3px 4px -5px rgba(0,0,0,0.23); 
	}
        
	&:after, &:before
	{
		display: block;
		height: 0;   
	}

	> li {
		> a {
			border-radius: 0;
			margin: 0;
			border: none !important;
            
			background-color: darken(white, 3%);
		}

		.active a{
			background-color: white;
		}

		border: none;
	}
}

.tab-content {
    
	box-shadow:$shadow-2;
	.panel, .panel-body
	{
		border-radius: 0;   
	}

	.panel {
		box-shadow: none !important;
	}

	.primary-table {
		width: 100%;
	}

	.material-icons{
		font-size: 18px;
	}
}

.tab-container
{
	height: auto;
	> div{
		> div{
			border: none;
			a{
				background-color: darken(white, 3%);
				padding: 10px 15px;
				display:inline-block;
				position:relative;
				color: $font-color-2;
				background-color: darken($section-background, 8%);
				text-decoration: none;
				line-height: 2.5em;
				padding: 0 1em;
				vertical-align:middle;

				&:hover
				{
					color: $font-color-1;
					background-color: darken($section-background, 4%);
				}

				&:active, &.active
				{
					color: $font-color-1;
					background-color: $section-background;
				}

			}
		}
	}
}

.pipeline-container
{
	.tab-container
	{
		> div{
			> div{
				a{
					background-color: desaturate(lighten($primary-color-2, 25%), 60%);
					color: white;
					border-top: 2px solid rgba(255, 255, 255, 0);
					margin-right: 5px;

					&:before
					{
						content: "";
						position:absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						box-shadow: $shadow-2;
						z-index: -1;
					}

					&:hover
					{
						background-color: $primary-color-2;
						border-top: 2px solid rgba(255, 255, 255, 0);
					}

					&:active, &.active
					{
						background-color: $section-background;
						border-top: 3px solid $primary-color-2;
						color: $font-color-2;
					}

					&.addTab
					{
						height: 20px;
						width: 20px;
						padding: 0;
						margin-left: -7.5px;
						line-height: 15px;
						vertical-align: middle;
						display: inline-block;
						text-align: center;
						border: none !important;
						box-shadow: $shadow-1;
					}
				}
			}
		}
	}
}

lqb-input
{
	vertical-align: middle;
}

.pipeline-table{
	text-align:left;

	.header
	{
		text-align: left;
	}

	td{
		vertical-align:middle;
		padding-left: 1.25em !important;
		padding-right: 0 !important;
	}

	tr
	{
		&.highlight
		{
			background-color: transparentize($accent-color-2, .76) !important;
		}
		&.expanded td
		{
			vertical-align:top;
		}
		&:hover
		{
			background-color: transparentize(black, .88);
			color: $font-color-2;
			.value
			{
				text-decoration:underline;
			}
		}
	}

	.loan-links-container
	{
		&.hide
		{
			height: 0;
			overflow:hidden;
			display: block !important;
		}
	}

	.loan-links
	{
		padding-left:1.2em;
		text-align: left;
		font-size: 13px;
		display: inline-block;
		list-style-type:none;

	}

	.material-icons
	{
		text-decoration: none;
		color: $accent-color-2;
	}

}

.trashcan
{
	color: $error-color;
	background: none;

	&:hover
	{
		color: lighten($error-color, 12%);
		background: none;
		border: 1px solid hsl(0, 0%, 86%);
	}

	&:active
	{
		color: darken($error-color, 12%);
		background: none;
		border: 1px solid hsl(0, 0%, 86%);
	}


}