﻿<div class="Height10Px FormTableHeader PaddingTopBottom5">Errors</div>
<div class="CssTable FullWidthHeight">
    <div class="CssTableRow">
        <div class="CssTableCell align-middle Center">
            <div class="align-middle">
                <ul class="UndecoratedList">
                    <li ng-repeat="Error in ErrorListDetails.ErrorList track by $index">
                    {{Error}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="CssTableRow">
        <div class="align-bottom CssTableCell PaddingBottom">
            <input type="button" value="OK" onclick="LQBPopup.Return(null);" />
        </div>
    </div>
</div>