<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Registration</h5></div>
        <div class="panel-body">
            <p><button>Clear Registered Program</button></p>

            <div class="table">
                <div><div><label>Loan Program           </label></div><div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNm"></lqb-input></div></div>
                <div><div><label>Registered Loan Program</label></div><div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNmSubmitted"></lqb-input></div></div>
                <div><div><label>Loan Status            </label></div><div><lqb-input lqb-model="vm.loan.fields.sStatusT"></lqb-input></div></div>
                <div><div><label>Registered date        </label></div><div><lqb-input lqb-model="vm.loan.fields.sSubmitD"></lqb-input></div></div>
                <div><div><label>Comments               </label></div><div class="table-cell"><lqb-input lqb-model="vm.loan.fields.sSubmitN"></lqb-input></div></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h5>Lock confirmation</h5></div>
        <div class="panel-body">
            <p>Rate lock confirmation issued 11/24/2015 2:40:20 PM PST (<a href="#">view</a>)</p>
            <p><button class="btn-primary">Create lock confirmation</button></p>
            <p><a href="#">Internal pricing</a></p>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock information</h5></div>
        <div class="panel-body">
            <p>
                <button class="btn-primary">Lock Rate</button>
                <button>Clear lock request</button>
            </p>

            <div class="table">
                <div>
                    <div><label>Rate lock status</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRateLockStatusT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Lock period</label></div>
                    <div><lqb-input class="small-count form-control" lqb-model="vm.loan.fields.sRLckdDays"></lqb-input><span>days</span></div>
                </div>
                <div>
                    <div><label>Rate lock date</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sRLckdD"></lqb-input>
                        <lqb-input class="time form-control" lqb-model="vm.loan.fields.sRLckdDTime"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Rate lock expiration date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD"></lqb-input>
                        <input type="text" readonly class="form-control time" value="10:03 AM PST" readonly>
                    </div>
                </div>
                <div>
                    <div><label>Comments</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredN"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock modifications</h5></div>
        <div class="panel-body">
            <p>
                <button>Extend lock</button>
                <button>Break lock</button>
                <button>Suspend lock</button>
            </p>
            <div class="table">
                <div>
                    <div><label>Number of rate renegotiations</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFERateRenegotiationCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFERateRenegotiationCountLckd"></lqb-input></div>
                </div>
                <div>
                    <div><label>Number of extensions (current lock)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFECurrentLockExtensionCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFECurrentLockExtensionCountLckd"></lqb-input></div>
                </div>
                <div>
                    <div><label>Number of extensions (all locks)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFETotalLockExtensionCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFETotalLockExtensionCountLckd"></lqb-input></div>
                </div>
                <div>
                    <div><label>Number of rate re-locks</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFETotalRateReLockCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFETotalRateReLockCountLckd"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock pricing</h5></div>
        <div class="panel-body">

            <div id="RateLockPricingTable" class="table comptact-table">
                <div>
                    <div></div>
                    <div><label>Rate</label></div>
                    <div><label>Price</label></div>
                    <div><label>Fee</label></div>
                    <div><label>Margin</label></div>
                    <div><label>Teaser</label></div>
                </div>

                <div><div><label>Base Price</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBaseNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockBaseBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBaseBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBaseRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBaseOptionArmTeaserR"></lqb-input></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sBrokerLockPriceRowLockedT" ng-value="vm.E_sBrokerLockPriceRowLockedT.Base" label="Edit"></lqb-input>
                    </div>
                </div>

                <div><div><label>Total hidden adjustments</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotHiddenAdjNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockTotHiddenAdjBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotHiddenAdjBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotHiddenAdjRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotHiddenAdjOptionArmTeaserR"></div>
                </div>

                <div><div><label>Originator base price</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockBrokerBaseBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseOptionArmTeaserR"></lqb-input></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sBrokerLockPriceRowLockedT" ng-value="vm.E_sBrokerLockPriceRowLockedT.BrokerBase" label="Edit"></lqb-input>
                    </div>
                </div>

                <div><div><label>Total visible adjustments</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjOptionArmTeaserR"></lqb-input></div>
                </div>

                <div><div><label>Final Price</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokComp1Pc"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOptionArmTeaserR"></lqb-input></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sBrokerLockPriceRowLockedT" ng-value="vm.E_sBrokerLockPriceRowLockedT.OriginatorPrice" label="Edit"></lqb-input>
                    </div>
                </div>

            </div>

        </div>
        <div class="panel-heading"><h5>Adjustments</h5></div>
        <div class="panel-body">
            <table class="primary-table adjustments-primary-table">
                <thead>
                    <tr class="header center">
                        <th>Description</th>
                        <th>Rate</th>
                        <th>Price</th>
                        <th>Fee</th>
                        <th>Margin</th>
                        <th>Teaser</th>
                        <th>Hidden</th>
                        <th>Lender</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="description">
                            <input type="text" class="form-control" />
                        </td>
                        <td>
                            <input type="text" class="form-control  percent" />
                        </td>
                        <td>
                            <input type="text" class="form-control  money" />
                        </td>
                        <td>
                            <input type="text" class="form-control  money" />
                        </td>
                        <td>
                            <input type="text" class="form-control  percent" />
                        </td>
                        <td>
                            <input type="text" class="form-control  money" />
                        </td>
                        <td class="center">
                            <input type="checkbox" />
                        </td>
                        <td class="center">
                            <input type="checkbox" />
                        </td>
                        <td><span class="material-icons btn-icon trashcan">delete</span></td>
                    </tr>
                </tbody>
            </table>

            <button>Add adjustment</button>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Originator Compensation</h5></div>
        <div class="panel-body">
            <div class="table inline">
                <div>
                    <div><label>Lender paid amount</label><lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationAmount"></lqb-input></div>
                    <div><label>Net points</label><lqb-input lqb-model="vm.loan.fields.sOriginatorCompNetPoints"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsOriginatorCompensationLenderFeeInAdditionToLenderFees" label="Add lender paid originator compensation to fees."></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Notes</h5></div>
        <div class="panel-body">
            <div class="table table-notes wide">
                <div>
                    <div>
                        <div class="flex">
                            <span class="expand">Internal Notes</span>
                            <button class="pull-right">Date time stamp</button>
                        </div>
                    </div>
                    <div>
                        <div class="flex">
                            <span class="expand">Message to Lender</span>
                            <button class="pull-right">Print</button>
                        </div>
                    </div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTrNotes"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLpeNotesFromBrokerToUnderwriterHistory"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock history</h5></div>
        <div class="panel-body">
            <table class="secondary-table">
                <thead class="header"><tr>
                    <th>Date     </th>
                    <th>Action   </th>
                    <th>By       </th>
                    <th>Program  </th>
                    <th>Lock Data</th>
                    <th>Exp. Date</th>
                    <th>Reason   </th>
                    <th>         </th>
                </tr></thead>
            </table>
        </div>
    </div>
</div>

