
<lq-modal ref="vm.modal = $ref">
    <slot-heading>Hide Credit Report Agency</slot-heading>
    <slot-body>
        <div class="credit-report-popup">
            <div class="slot-content" ng-repeat="selectedRegular in [vm.selectedRegular]">
                <div>
                    <lqb-input lqb-model="vm.pipeline.CraList"></lqb-input>
                    <button ng-click="vm.addToHiddenCras()">Add to hidden list</button>
                </div>
                <div class="text-listCRA">
                    <p><strong>List of Hidden CRAs </strong>(These will be hidden from the credit agency list in PriceMyLoan.)</p>
                </div>
                <ul class="wrap-list">
                    <li ng-repeat="cra in vm.pipeline.HiddenCras track by $index">
                        {{cra.Value}} (<a href="" ng-click="vm.removeFromHiddenCras($index)">remove from hidden</a>)
                    </li>
                </ul>
            </div> 
        </div>
    </slot-body>
    <slot-footer>
    </slot-footer>
</lq-modal>