<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Loan Program</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNm"></lqb-input></div>
                    <div>
                        <a class="btn btn-default" ng-click="vm.runLPE()" ng-show="vm.isPmlEnabled">Run PML</a>
                        <a class="btn btn-default" ng-click="vm.runNonLPE()">Select Program</a>
                    </div>
                </div>
                <div>
                    <div><label>Closing Cost Template</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCcTemplateNm"></lqb-input></div>
                    <div><a class="btn btn-default" ng-click="vm.findCCTemplate()">Find Closing Cost Template…</a></div>
                </div>
                <div>
                    <div><label>Loan Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLNm"></lqb-input></div>
                    <div><button type="button" class="btn-default" ng-click="vm.generateNewLoanName()">Generate new number</button></div>
                </div>
                <div>
                    <div><label>Loan Reference Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLRefNm"></lqb-input></div>
                </div>
                <div ng-show="vm.showCRMID">
                    <div><label class="control-label">CRM ID</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCrmNowLeadId"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Loan Purpose</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                    <div><label>Lien Position</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLienPosT"></lqb-input></div>
                    <div><label>Loan Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Subject Property Occupancy</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input></div>
                    <div><label>Amortization Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinMethT"></lqb-input></div>
                    <div><label>Amortization Desc</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinMethDesc"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div class="section" ng-show="vm.loan.fields.sLPurposeT.v == '3' || vm.loan.fields.sLPurposeT.v == '4'">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Construction Period (mths)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConstructionPeriodMon"></lqb-input></div>
                    <div><label>Construction Improvements Cost</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConstructionImprovementAmt"></lqb-input></div>
                </div>
                <div>
                    <div><label>Construction Period Interest Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConstructionPeriodIR"></lqb-input></div>
                    <div><label>Land (if acquired separately)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLandCost"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table tb-loaninfo">
                <div>
                    <div><label>Purchase Price</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input></div>
                    <div><label><a ng-click="vm.goTo('upfrontMipff')" title="Go to Upfront MIP/FF screen">Upfront MIP / FF</a></label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced" readonly></lqb-input></div>
                    <div><label><a ng-click="vm.goTo('monthlyIncome')">Monthly Income</a></label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLTotI" readonly></lqb-input></div>
                </div>
                <div>
                    <div><label>Appraised Value</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprVal"></lqb-input></div>
                    <div><label>Total Loan Amount</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt" readonly></lqb-input></div>
                    <div><label><a ng-click="vm.goTo('borrowerLiability')">Liabilities</a></label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLiaMonLTot" readonly></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label title="Includes Other Financing (if any)">
                            <span ng-bind="vm.isRefinance() ? 'Equity' : 'Down Payment'"></span> (%)
                        </label>
                    </div>
                    <div></div>
                    <div title="Includes Other Financing (if any)">
                        <lqb-input lqb-model="vm.loan.fields.sDownPmtPc"></lqb-input>
                    </div>
                    <div><label>Note Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input></div>
                    <div><label><a ng-click="vm.goTo('presHouseExpense')" title="Present Housing Expense Included in Ratios">
                        Present Housing Expenses</a></label></div>
                    <div title="Amount included in ratios">
                        <lqb-input lqb-model="vm.loan.fields.sPresLTotPersistentHExp" readonly></lqb-input></div>
                </div>
                <div>
                    <div><label title="Includes Other Financing (if any)">
                        <span ng-bind="vm.isRefinance() ? 'Equity' : 'Down Payment'"></span>
                    </label></div>
                    <div></div>
                    <div title="Includes Other Financing (if any)">
                        <lqb-input lqb-model="vm.loan.fields.sEquityCalc"></lqb-input>
                    </div>
                    <div><label>Term / Due (mths)</label></div>
                    <div class="term-due">
                        <lqb-input lqb-model="vm.loan.fields.sTerm" maxlength="3"></lqb-input>/<lqb-input lqb-model="vm.loan.fields.sDue"  maxlength="3"></lqb-input>
                    </div>
                    <div class="top"><label>Top</label><lqb-input lqb-model="vm.loan.fields.sQualTopR" readonly></lqb-input></div>
                    <div class="ltv"><label>LTV</label><lqb-input lqb-model="vm.loan.fields.sLtvR"     readonly></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Amt</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input></div>
                    <div><label>Qual Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQualIR"></lqb-input></div>
                    <div class="bottom"><label>Bottom</label><lqb-input lqb-model="vm.loan.fields.sQualBottomR" readonly></lqb-input></div>
                    <div class="cltv"><label>CLTV  </label><lqb-input lqb-model="vm.loan.fields.sCltvR"       readonly></lqb-input></div>
                </div>
                <div>
                    <div><label>Is Line of Credit</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsLineOfCredit"></lqb-input></div>
                    <div><label>Qual Rate I/O</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsQRateIOnly"></lqb-input></div>
                    <div><label>Option ARM</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsOptionArm"></lqb-input></div>
                </div>
                <div ng-show="vm.loan.fields.sIsLineOfCredit.v">
                    <div><label>Line Amt</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditLineAmt"></lqb-input></div>
                </div>
                <div>
                    <div><label>Subject Property State</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div><label>Teaser Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOptionArmTeaserR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Property Type</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sGseSpT"></lqb-input></div>
                </div>
                <div ng-show="vm.loan.fields.sLT.v === vm.E_sLT.FHA">
                    <div><a href="https://entp.hud.gov/idapp/html/hicostlook.cfm" target="_blank">See FHA Mortgage Limits Page…</a></div>
                    <div><label ng-hide="vm.loan.fields.sOriginalAppraisedValue.h">
                        Original Appraised Value
                    </label></div>
                    <div></div>
                    <div><div ng-hide="vm.loan.fields.sOriginalAppraisedValue.h">
                        <lqb-input lqb-model="vm.loan.fields.sOriginalAppraisedValue"></lqb-input>
                    </div></div>
                </div>
                <div>
                    <div><label>Higher-Priced Indicator</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHighPricedMortgageTLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHighPricedMortgageT"></lqb-input></div>
                    <div><label>Employee Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIsEmployeeLoan"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table tb-loaninfo">
                <div>
                    <!-- C:\LendOSoln\LendersOfficeApp\newlos\LoanInfo.ascx.cs:130 -->
                    <div><a>This Mortgage (P &amp; I)</a></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProThisMPmt" readonly></lqb-input></div>
                </div>
                <div>
                    <div><a ng-click="vm.goTo('otherFinancing')">Other Financing (P &amp; I)</a></div>
                    <div></div>
                    <div ng-bind="vm.otherFinancingDescription()"></div>
                    <div><span ng-show="vm.loan.fields.sIsIOnlyForSubFin.v">(* Interest Only)</span></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProOFinPmt" readonly></lqb-input></div>
                </div>
                <div>
                    <div>Hazard Insurance</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProHazInsT"></lqb-input></div>
                    <div class="hazard-insurance">
                        (
                            <lqb-input lqb-model="vm.loan.fields.sProHazInsBaseAmt" readonly></lqb-input>
                            ×
                            <lqb-input lqb-model="vm.loan.fields.sProHazInsR"></lqb-input>
                        )
                        +
                        <lqb-input lqb-model="vm.loan.fields.sProHazInsMb" m-dec="4"></lqb-input>
                        =
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProHazIns" readonly></lqb-input></div>
                </div>
                <div>
                    <div>Property Taxes</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProRealETxT"></lqb-input></div>
                    <div class="hazard-insurance">
                        (
                            <lqb-input lqb-model="vm.loan.fields.sProRealETxBaseAmt" readonly></lqb-input>
                            ×
                            <lqb-input lqb-model="vm.loan.fields.sProRealETxR"></lqb-input>
                        )
                        +
                        <lqb-input lqb-model="vm.loan.fields.sProRealETxMb"></lqb-input>
                        =
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProRealETx" readonly></lqb-input></div>
                </div>
                <div>
                    <div><a ng-click="vm.goTo('upfrontMipff')">Mortgage Insurance</a></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMIns"></lqb-input></div>
                </div>
                <div>
                    <div>HOA</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProHoAssocDues"></lqb-input></div>
                </div>
                <div>
                    <div>Other Taxes and Expenses</div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProOHExpLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProOHExp"></lqb-input></div>
                </div>
                <div>
                    <div>PITI</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMonthlyPmt" readonly></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Lead Source</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeadSrcDesc"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>

<cc-template-picker
    ref="vm.ccTemplatePicker = $ref"
    open="vm.isCcTemplatePickerOpen"
    loan-id="vm.loan.sLId"
    gfe-version="null"
    on-request-close="vm.onCcTemplatePickerRequestClose()"
    on-selected="vm.onCcTemplateSelected($template)"
></cc-template-picker>

<div lqb-load-fields="sFHAPurposeIsStreamlineRefiWithoutAppr sIsIOnlyForSubFin sConcurSubFin sSubFinIR sSubFinPmtLckd BrokerDB IsTemplate" hidden></div>
