<input type="text" preset="date" readonly="{{readonly}}" id="{{id}}" initMask-in value="{{value}}">
<a on-click="['calendarClick', 'id']">
    <img src="../images/Calendar.png" class="date-image">
</a>
