<%@ Page language="c#" Codebehind="QualifiedNotAvailable.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.Template.QualifiedNotAvailable" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD runat="server">
    <title>QualifiedNotAvailable</title>
  </HEAD>
  <body MS_POSITIONING="FlowLayout" bgcolor="gainsboro">
	<script type=text/javascript>
function checkAllLoanPrograms(b) { // NO-OP
}
function getSelectedLoanProgram() {
  // NO-OP
}
function _executeLoanSearch() {
 // NO-OP
}
</script>

    <form id="QualifiedNotAvailable" method="post" runat="server">
      <table width="100%" height="100%">
        <tr><td style="FONT-WEIGHT:bold;FONT-SIZE:18px" valign=middle align=center>
        <div style='text-align:left;width:50%'>
        <ml:EncodedLiteral runat="server" ID="Info">Cannot run PriceMyLoan on this file.</ml:EncodedLiteral>
        <br>
        <ml:PassthroughLiteral id=m_mainHtml runat="server" EnableViewState="False"></ml:PassthroughLiteral>
        </div>
        </td></tr>
      </table>
     </form>
	
  </body>
</HTML>
