additional-heloc {
    .panel {
        min-width: 80em;
        .table {
            &.additional-heloc-date-table {
                > div > div {
                    &:first-child {
                        width: 12em;
                    }
                    &.draw-repay, &.term-due {
                        lqb-input {
                            margin-right: 0;
                        }
                    }
                    &.empty-checkbox {
                        width: 32px;
                    }
                    &.payment {
                        padding-right: .5em;
                        lqb-input {
                            margin-right: .25em;
                            margin-left: .25em;
                        }
                    }
                }
            }
        }
    }
}