alternate-lender-modal {

    .panel-heading {
        padding-left: 0;
        padding-bottom: 0;
        h5{
            font-size: 1.125em;
            font-weight: bold;
        }
    }
    .alternate-lender-table {
        width: 100%;
        > div > div {
            &:first-child {
                width: 81px;
            }
        }
        .form-control-city {
            width: 26em;
        }
    }
}