borrower-info {

	.panel-borrinfo-full {
		min-width: 100.8em;
	}
	.panel-borrinfo {
		min-width: 50em;
	}
    .panel {
        .panel-heading h5{
            padding-bottom: 1em;
            line-height: 30px;
        }
    }
    .control-label-surviving-sov {
    	line-height: 30px;
	    height: 30px;
	    vertical-align: bottom;
    }
}
