borrower-asset {
    .table{
        > div > div{
            &:last-child{
                padding-right: 0;
            }
        }
    }
    .primary-table, .secondary-table {
        width: 100%;
    }
    .modal-dialog {
        width: 1100px;
        .slot-content {
            padding: .75em;
            padding-top: 1.5em;
            padding-left: 1.5em;
            .table {
                width: 100%;
                .text {
                    a{
                        display: inline-block;
                        margin-right: 1.5em;
                    }
                }
                .table {
                    &.empty-space{
                        padding-right: 6em;
                    }
                    width: auto;
                    > div > div{
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .modal-footer {
            padding: .5em;
        }
    }
    .checkbox{
        margin-top: -4px;
        margin-bottom: 0;
    }
}
