borrower-liability {
    .table{
        > div > div{
            &:last-child{
                padding-right: 0;
            }
            label{
                white-space: nowrap;
                &:first-child{
                    margin-right: 0;
                }
            }
        }
        &.radio-table{
            > div > div{
                padding-bottom: 0;
            }
        }
    }
    .table + hr{
        margin-top: 0;
    }
    .primary-table, .secondary-table {
        width: 100%;
        th, td{
            padding-right:0;
            padding-left: .4em;
            &:first-child{
                padding-left: .5em;
            }
            &:last-child{
                padding-right: .5em;
            }
        }
        th{
            white-space: nowrap;
        }
        td{
            a{
                white-space: nowrap;
            }
        }
        &.debt-consolidation-table{
            td{
                &.owner{
                    @include border-color-tables();
                    border-right: none;
                    border-bottom: none;
                }
                &.used-in-ratio{
                    @include border-color-tables();
                    border-left: none;
                    border-bottom: none;
                }
            }
        }
    }
    .modal-dialog {
        width: 1100px;
        .slot-content {
            padding: .75em;
            padding-top: 1.5em;
            padding-left: 1.5em;
            .table {
                width: 100%;
                .text {
                    a{
                        display: inline-block;
                        margin-right: 1.5em;
                    }
                }
                .table {
                    &.empty-space{
                        padding-right: 6em;
                        .description{
                            .dropdown-menu{
                                width: 22.86em;
                            }
                        }
                    }
                    width: auto;
                    > div > div{
                        &:last-child {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
        .modal-footer {
            padding: .5em;
        }
    }
    .modal{
        overflow-y: auto;
    }
    .checkbox{
        margin-top: -4px;
        margin-bottom: 0;
    }
    .form-control-money{
        width: 110px;
    }
}
