broker-ratelock {

    .primary-table, .secondary-table {
    	width: 100%;
    	margin-bottom: 1em;

    	&.adjustments-primary-table {
    		.header th {
    			text-align: center;
    		} 
    		.description {
	    		width: 60%;
	    	}
    	}
    }
    .table-notes > div > div {
        width: 50%;
        &:first-child {
            padding-right: .5em;
        }
        &:last-child {
            padding-left: .5em;
        }
    }
}
