credit-scores {
    .panel {
        width: 650px;
        .table {
            > div > div{
                &:last-child {
                    padding-right: 0;
                }
            }
            &.creditScores-table {
                > div > div {
                    vertical-align: middle;
                    line-height: 16px;
                    &:first-child {
                        vertical-align: top;
                    }
                    h5{
                        white-space: nowrap;
                    }
                }
                .top-spacing {
                    padding-top:6px;
                }
            }
            &.raw-score-table {
                > div > div {
                    &.table {
                        display: block;
                        padding-bottom: 0;
                        padding-top: .75em;
                        padding-right: 0;
                        > div > div {
                            padding-right: 2.5em;
                            &:first-child {
                                width: 12em;
                            }
                            &:last-child {
                                padding-right: 0;
                            }
                        }
                        &.repeat-table {
                            border-bottom: 1px #cacdcf solid;
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                    h5 {
                        margin-top: 0;
                        margin-bottom: 0;
                        width: 60px;
                    }
                }
            }
        }
    }
}
