declarations {
    .table.declaration-table > div > div{
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        vertical-align: middle;
    }
    .table.declaration-table > div > div:first-child {
        vertical-align: top;
    }
    .checkbox-table > div > div{
        width: 5em;
    }
    .white-spacing-table > div > div:first-child {
        width: 28px;
    }
    .line {
        border-bottom: #ccc 1px solid;
    }
    .line.dotted-line {
        border-bottom: #ccc 1px dotted;
    }
    .title-instruction {
        margin-bottom: 1em;
    }
}
