details-of-transaction {
    .table .table{
    	> div > div {
    		padding-bottom: 0;

    		&.label-control-detailsoftransaction {
    			width: 25em;

    			&.white-space-left {
    				padding-left: 2em;
    			}
    		}

    		&.wrap-lock-checkbox {
    			width: 43px;
    		}

    		&.other-credits {
    			width: 478px;
    			span.other-credits-left {
    				float: left;
				    height: 30px;
				    line-height: 30px;
    			}
    			.btn.btn-default {
    				margin-right: 0;
    			}
    		}
    	}
    }
}
