employee-role {

	.secondary-table {
		width: 100%;
		margin-bottom: 1em;
		td:nth-child(3) {
			@include border-color-tables();
			border-left: 0;
			border-top: 0;
			border-bottom: 0;
		}
	}

	.wrap-button {
		margin-top: 3em;
	}

}
