loan-info {
    .panel {

        min-width: 85em;

        .table {
            &.tb-loaninfo {
                > div > div { 
                    padding-right: .5em;

                    &.hazard-insurance, &.term-due {
                        lqb-input {
                            margin-right: .25em;
                            margin-left: .25em;
                        }
                    }

                    &.term-due {
                        lqb-input:first-child {
                            margin-left: 0;
                        }
                    }

                    &.top, &.bottom {
                        label {
                            width: 3.25em;
                        }
                    }

                    &.ltv, &.cltv {
                        label {
                            width: 2.5em;
                        }
                    }
                }
            }
        }
    }
}
