property-info {
	
    .panel {
    	min-width: 56em;
    	.table-property-info > div > div:first-child {
    		width: 19.5em;
    	}
    	.form-control-year-built {
    		width: 6em;
    		margin-left: .6em;
    	}
    }
}
