reo {
    .panel {
        min-width: 108em;

        .secondary-table {
            width: 100%;
            margin-bottom: 1em;
            td {
                &:first-child {
                    width: 68%;
                }
            }
        }

        .flex section {
            border-radius: 0px;
            border: none;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
            padding: 15px;

            header {
                height: 1.5em;
                margin-bottom: 1em;
            }
            &.none-shadow {
                box-shadow: none;
            }
        }

        .text-link {
            font-size: 14px;;
        }
    }
}
