team-picker {

	.secondary-table {
		width: 100%;
		margin-bottom: 1em;

		&.team-picker-table td:last-child {
			@include border-color-tables();
			border-bottom: 0;
		}
	}

	.wrap-button {
		margin-top: 3em;
	}

	.modal-dialog {
		min-width: 620px;
	}

}
