title-and-estate {

    .panel {
        min-width: 60em;

        .table-title-estate > div > div:first-child {
            width: 16.5em;
        }
        .table-borrowers-seller-info > div > div:first-child {
            width: 12em;
        }
        .text-link-remove {
            padding-top: .5em;
            padding-bottom: .5em;
        }
        .form-control-seller-vesting textarea {
            width: 36.5em;
        }
    }
}