﻿<div ng-form="LpaSubmissionForm" class="container-fluid">
    <fieldset ng-form="LpaCredentials" ng-disabled="submitting" class="field-set" ng-if="!model.LpaCredentials.HasLpaAutoLogin">
        <legend>LPA Credentials</legend>
        <lqb-form-input-row input-id="LpaUserId" input-label="LPA User ID" type="text"
                            ng-model="model.LpaCredentials.LpaUserId" ng-disabled="submitting" ng-required="!model.LpaCredentials.HasLpaAutoLogin"
                            use-invalid="true" show-invalid="LpaCredentials.LpaUserId.$invalid"
                            ng-if="!model.LpaCredentials.HasLpaAutoLogin" ></lqb-form-input-row>
        <lqb-form-input-row input-id="LpaPassword" input-label="LPA Password" type="password"
                            ng-model="model.LpaCredentials.LpaPassword" ng-disabled="submitting" ng-required="!model.LpaCredentials.HasLpaAutoLogin"
                            use-invalid="true" show-invalid="LpaCredentials.LpaPassword.$invalid"
                            ng-if="!model.LpaCredentials.HasLpaAutoLogin" ></lqb-form-input-row>
    </fieldset>
    <fieldset ng-form="LoanInformation" ng-disabled="submitting" class="field-set">
        <legend>Loan Information</legend>
        <lqb-form-input-row input-id="lpaLoanId" input-label="LPA Loan ID" type="text"
                            ng-model="model.LoanInformation.LpaLoanId" ng-disabled="submitting"></lqb-form-input-row>
        <lqb-form-input-row input-id="lpaAusKey" input-label="LPA AUS Key" type="text"
                            ng-model="model.LoanInformation.LpaAusKey" ng-disabled="submitting"></lqb-form-input-row>
        <lqb-form-input-row input-id="caseStateType" input-label="Case State Type" type="select"
                            ng-model="model.LoanInformation.CaseStateType" ng-disabled="submitting" ng-required="true"
                            use-invalid="true" show-invalid="LpaCredentials.caseStateType.$invalid" 
                            options-collection="lpaCaseStates"></lqb-form-input-row>
    </fieldset>
    <fieldset ng-form="SellerInformation" ng-disabled="submitting" class="field-set">
        <legend>Seller Information</legend>
        <lqb-form-input-row input-id="lpaSellerNumber" input-label="LPA Seller Number" type="text"
                            ng-model="model.LpaCredentials.LpaSellerNumber" ng-disabled="submitting" ng-required="!model.LpaCredentials.HasLpaSellerAutoLogin"
                            use-invalid="true" show-invalid="SellerInformation.lpaSellerNumber.$invalid"
                            ng-if="!model.LpaCredentials.HasLpaSellerAutoLogin"></lqb-form-input-row>
        <lqb-form-input-row input-id="lpaSellerPassword" input-label="LPA Seller Password" type="password"
                            ng-model="model.LpaCredentials.LpaSellerPassword" ng-disabled="submitting" ng-required="!model.LpaCredentials.HasLpaSellerAutoLogin"
                            use-invalid="true" show-invalid="SellerInformation.lpaSellerPassword.$invalid"
                            ng-if="!model.LpaCredentials.HasLpaSellerAutoLogin"></lqb-form-input-row>
        <lqb-form-input-row input-id="lpaTpoNumber" input-label="LPA TPO Number" type="text"
                            ng-model="model.LoanInformation.LpaTpoNumber" ng-disabled="submitting"></lqb-form-input-row>
        <lqb-form-input-row input-id="lpaNotpNumber" input-label="LPA NOTP Number" type="text"
                            ng-model="model.LoanInformation.LpaNotpNumber" ng-disabled="submitting"></lqb-form-input-row>
        <lqb-form-input-row input-id="lenderBranchId" input-label="Lender Branch ID" type="text"
                            ng-model="model.LoanInformation.LenderBranchId" ng-disabled="submitting"></lqb-form-input-row>
    </fieldset>
    <lqb-aus-cra-options credit-info="model.CreditInfo" credit-report-options="creditReportOptions" credit-providers="creditProviders" ng-disabled="submitting" aus="LPA"></lqb-aus-cra-options>
    <div id="bottomButtonPlaceholder" ng-style="bottomButtonPlaceholderHeight()" ></div>
    <div id="bottomButtons" class="bottomButtons">
        <div class="row SubmissionMessage" ng-show="submitMessage">
            <div class="SubmissionStatus" ng-class="submitMessageClass">
                <span class="light-overlay">
                    <span class="fa fa-pull-left" ng-class="submitMessageSymbol"></span>
                    {{submitMessage}}
                </span>
            </div>
            <a class="light-overlay" ng-if="Errors && Errors.length > 1" ng-click="ViewErrors(Errors);">View Errors</a>
            <a class="light-overlay" ng-if="responseLogUrl" ng-click="openLpaResultsWindow(responseLogUrl);">View Response</a>
            <a class="light-overlay" ng-if="auditError" ng-click="previousPage();">View Audit</a>
        </div>
        <div class="row">
            <input type="button" ng-click="closeWindow()" value="Close" />
            <input type="submit" ng-click="submit()" value="Next" disabled="disabled" ng-disabled="LpaSubmissionForm.$invalid || submitting" />
        </div>
    </div>
    <div class="Hidden" id="ErrorListDetails" error-Details-Popup error-Details="ErrorListDetails"></div>
</div>