﻿<div class="container-fluid">
    <div class="field-set">
        <div ng-repeat="(key, value) in lpaResults" class="row" ng-class-even="'evenGridRow'">
            <div class="col-xs-6">
                {{key}}
            </div>
            <div class="col-xs-6 bold">
                {{value}}
            </div>
        </div>
        <div class="row" ng-if="responseLogUrl">
            <div class="col-xs-12">
                <a ng-if="responseLogUrl" ng-click="openLpaResultsWindow(responseLogUrl)" >View Response</a>
            </div>
        </div>
    </div>
    <div ng-if="::resultsPageModel.UnderwritingSuccess" ng-form="UpdateOptions">
        <div class="bold">Update this loan with the following information from LPA:</div>
        <div>
            <label>
                <input type="checkbox" ng-model="resultsPageModel.ImportFindings" ng-disabled="updating" />
                LPA Findings
            </label>
        </div>
        <div title="{{creditReportMessage}}">
            <label>
                <input type="checkbox" ng-model="resultsPageModel.ImportCreditReport" ng-disabled="!resultsPageModel.HasCreditReport || updating" ng-change="importCreditReport_change(resultsPageModel.ImportCreditReport)" />
                Credit Report
            </label>
        </div>
        <div class="indented">
            <input type="checkbox" id="importLiabilitiesBox" ng-model="resultsPageModel.ImportLiabilities" ng-disabled="!resultsPageModel.ImportCreditReport || updating" />
            <label for="importLiabilitiesBox">Autopopulate liabilities from the credit report to the 1003?</label>
        </div>
    </div>
    <div ng-if="errorMessage" class="Error">{{errorMessage}}</div>
</div>
<div class="bottomButtons">
    <button ng-click="closeWindow()">Cancel</button>
    <button ng-click="updateLoan()" ng-if="::resultsPageModel.UnderwritingSuccess" ng-hide="updating">Update</button>
    <span class="UpdateMessage" ng-show="updating"><span class="fa fa-spinner fa-spin"></span> Updating...</span>
</div>