<div class="{{Section.IsUsingSellerFees ? 'sellerclosingcostset' : 'borrowerclosingcostset'}}">
    <ul class="closing-cost-fee-picker {{Section.HudLineStart}} {{Section.SectionTypeRep}}">
        {{#if Section.IsUsingSellerFees}}
            {{#each Section.FeeListAsSellerFees:i}}
                <li data-id="{{typeid}}"><a on-click="['selectFee', i]" data-path-name="Add">{{desc}}</a></li>
            {{else}}
                <li>No Available Fees</li>
            {{/each}}
        {{else}}
            {{#each Section.FeeListAsBorrowerFees:i}}
                <li data-id="{{typeid}}"><a on-click="['selectFee', i]" data-path-name="Add">{{desc}}</a></li>
            {{else}}
                <li>No Available Fees</li>
            {{/each}}
        {{/if}}
    </ul>
</div>
