<div id="SubFeeConfirmOverwriteContent">
    The following {{#if SubFees.length > 1}}fees{{else}}fee{{/if}}:

    <ul>
        {{#SubFees:i}}
        <li>{{desc}}</li>
        {{/SubFees}}
    </ul>

    {{#if SubFees.length > 1}}are{{else}}is{{/if}} considered to be the same fee type as the "{{ParentDesc}}"{{#if ParentDesc.substr(ParentDesc.length-3) !== "fee" }}&nbsp;fee{{/if}}.
    Adding the "{{ParentDesc}}"{{#if ParentDesc.substr(ParentDesc.length-3) !== "fee" }}&nbsp;fee{{/if}} will cause the current {{#if SubFees.length > 1}}fees{{else}}fee{{/if}}
    to be removed. Would you like to proceed?
</div>