﻿<div ng-show="showCloseDialog" class="popup-dialog close-dialog">
    <div>
        <div class="dialog-text">
            Your envelope has been successfully submitted to DocuSign.<br />
            <input class="mdc-button" type="button" value="Close Window" ng-click="closeWindow()" />
            <input class="mdc-button" type="button" value="Continue to In-Person Signing" ng-show="continueUri" ng-click="changeLocationAbsolute(continueUri)" />
        </div>
    </div>
</div>
<div ng-show="showBorrowerSelectDialog" class="popup-dialog borrower-select-dialog">
    <div>
        <div ng-show="!borrowersLoaded" class="dialog-text">
            Loading Borrowers...
        </div>
        <div ng-show="borrowersLoaded && borrowersToAdd.length > 0" class="dialog-text align-left width-auto">
            <div class="margin-bottom-10">Please select borrower(s) to add as recipients:</div>
            <div ng-repeat="borrower in borrowersToAdd" class="mdc-form-field">
                <div class="mdc-checkbox">
                    <input type="checkbox" ng-model="borrower.shouldAdd" id="{{borrower.recipient.appId + '_' + $index}}"
                            class="mdc-checkbox__native-control" />
                    <div class="mdc-checkbox__background">
                        <svg class="mdc-checkbox__checkmark"
                                viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark__path"
                                    fill="none"
                                    stroke="white"
                                    d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                        </svg>
                        <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                </div>
                <label for="{{borrower.recipient.appId + '_' + $index}}">
                    {{borrower.recipient.name}} ({{borrower.recipient.email}})
                </label>
            </div>
        </div>
        <div ng-show="borrowersLoaded && borrowersToAdd.length <= 0" class="dialog-text">
            No borrowers were found that are not already recipients on the envelope.
        </div>
        <div class="float-bottom position-absolute">
            <button class="mdc-button" ng-click="borrowerSelectDialogCancel()">Cancel</button>
            <button class="mdc-button" ng-click="addSelectedBorrowers(borrowersToAdd)" ng-show="borrowersLoaded && borrowersToAdd.length > 0">Add Selected Borrowers</button>
        </div>
    </div>
</div>
<form name="fullPageForm" ng-submit="submitForm()">
    <div class="box">
        <div class="heading">Select Documents</div>
        <table id="EDocsList" class="FormTable">
            <thead class="GridHeader">
                <tr>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'status');">Status</a>
                        <span ng-show="edocSortOrder.indexOf('-status') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-status') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+status') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+status') + 1}}]</span>
                        </span>
                    </th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'folder');">Folder</a>
                        <span ng-show="edocSortOrder.indexOf('-folder') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-folder') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+folder') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+folder') + 1}}]</span>
                        </span>
                    </th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'docType');">Document Type</a>
                        <span ng-show="edocSortOrder.indexOf('-docType') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-docType') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+docType') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+docType') + 1}}]</span>
                        </span>
                    </th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'borrowers');">Borrower</a>
                        <span ng-show="edocSortOrder.indexOf('-borrowers') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-borrowers') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+borrowers') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+borrowers') + 1}}]</span>
                        </span>
                    </th>
                    <th>Signing Roles</th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'description');">Description</a>
                        <span ng-show="edocSortOrder.indexOf('-description') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-description') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+description') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+description') + 1}}]</span>
                        </span>
                    </th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'comments');">Comments</a>
                        <span ng-show="edocSortOrder.indexOf('-comments') !== -1">
                            <span class="fa fa-sort-alpha-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-comments') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+comments') !== -1">
                            <span class="fa fa-sort-alpha-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+comments') + 1}}]</span>
                        </span>
                    </th>
                    <th>
                        <a ng-click="cycleSort(edocSortOrder, 'lastModified');">Last Modified</a>
                        <span ng-show="edocSortOrder.indexOf('-lastModified') !== -1">
                            <span class="fa fa-sort-desc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('-lastModified') + 1}}]</span>
                        </span>
                        <span ng-show="edocSortOrder.indexOf('+lastModified') !== -1">
                            <span class="fa fa-sort-asc"></span>
                            <span ng-show="edocSortOrder.length > 1">[{{edocSortOrder.indexOf('+lastModified') + 1}}]</span>
                        </span>
                    </th>
                    <th><!-- Column for "edit" links --></th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="edocsInfo in edocsInfoList | orderBy:edocSortOrder track by edocsInfo.docId" class="ReverseGridAutoItem">
                    <td>
                        {{edocsInfo.status}}
                    </td>
                    <td>
                        {{edocsInfo.folder}}
                    </td>
                    <td>
                        {{edocsInfo.docType}}
                    </td>
                    <td>
                        {{edocsInfo.borrowers}}
                    </td>
                    <td>
                        <div ng-repeat="role in edocsInfo.signingRoles">
                            {{role}}
                        </div>
                    </td>
                    <td>
                        {{edocsInfo.description}}
                    </td>
                    <td>
                        {{edocsInfo.comments}}
                    </td>
                    <td title="{{edocsInfo.lastModified | date:'medium'}}">
                        {{edocsInfo.lastModified | date:'short'}}
                    </td>
                    <td class="edit-view-column"><input type="button" class="mdc-button mdc-button--dense" value="edit" ng-click="editDoc(edocsInfo.docId)" ng-disabled="!edocsInfo.isPreppedForEditing" /><input type="button" value="view" class="mdc-button mdc-button--dense" ng-click="viewDoc(edocsInfo.docId)" /></td>
                    <td>
                        <span title="Remove this document from the envelope." class="fa fa-lg fa-minus-square remove-button" ng-click="removeDoc($index);"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="align-left"><input class="mdc-button" type="button" value="Add EDoc" ng-click="addEDoc()" /></div>
    </div>
    <div class="recipient-role-flex">
        <div class="recipient-flex-item box">
            <div class="heading">Select Recipients</div>
            <table id="RecipientList" class="FormTable">
                <thead class="GridHeader">
                    <tr>
                        <th>
                            Signing Order
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Email Address
                        </th>
                        <th>
                            Signing Role(s)
                        </th>
                        <th>
                            Signing
                        </th>
                        <th>
                            Multi-Factor <br/>Authentication
                        </th>
                        <th>
                            Remove
                        </th>
                    </tr>
                </thead>
                <tbody ng-show="emailRecipientsStartIndex > 0">
                    <tr>
                        <th colspan="7" scope="col">In-Person Signers</th>
                    </tr>
                    <tr recipient-row ng-repeat="recipient in recipients | filter : inPersonRecipient track by recipient.id" class="GridAutoItem"></tr>
                </tbody>
                <tbody ng-show="emailRecipientsStartIndex < recipients.length">
                    <tr>
                        <th colspan="7" scope="col">Email Recipients</th>
                    </tr>
                    <tr recipient-row ng-repeat="recipient in recipients | filter : emailRecipient track by recipient.id" class="GridAutoItem"></tr>
                </tbody>
            </table>
            <div class="align-left">
                <input class="mdc-button" type="button" value="Add From Contacts" ng-click="addContactsRecipient();" />
                <input class="mdc-button" type="button" value="Add Blank" ng-click="addBlankRecipient();" />
                <input class="mdc-button" type="button" value="Add Borrower/Co-borrower" ng-click="addBorrowerRecipients();" />
            </div>
        </div>
        <div class="role-flex-item box">
            <div class="heading">Assign Roles</div>
            <table class="FormTable">
                <thead class="GridHeader">
                    <tr>
                        <th>Signing Role</th>
                        <th>Assign Recipient</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="role in activeSigningRoles" ng-controller="RoleRowController" class="ReverseGridAutoItem">
                        <td>
                            {{role.name}}
                        </td>
                        <td>
                            <select ng-model="role.recipient" ng-options="recipientNameAndEmail(recipient) for recipient in recipients track by recipient.id" ng-required="true"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="emailmsg-container box" ng-show="emailRecipientsStartIndex < recipients.length">
        <div class="heading" >Email Message</div>
        <textarea class="Width100Pc height-200px" placeholder="{{emailMessagePlaceHolder()}}" ng-model="emailMessage"></textarea>
    </div>
    <div class="float-bottom faint-shadow z1 submit-page">
        <div class="Error">
            <div ng-show="fullPageForm.$error.required.length > 0">{{fullPageForm.$error.required.length}} required input<ng-show ng-show="fullPageForm.$error.required.length > 1">s are</ng-show><ng-show ng-show="fullPageForm.$error.required.length == 1"> is</ng-show> empty.</div>
            <div ng-show="edocsInfoList.length === 0">No documents have been selected.</div>
            <div ng-show="recipients.length === 0">No recipients have been selected.</div>
            <div ng-show="unpreppedDocs().length > 0">There are documents in the envelope which are not yet prepared: {{unpreppedDocs().join(', ')}}<br />Please remove them or re-create the envelope when they have finished preparing.</div>
            <div ng-show="recipientsWithoutRoles().length > 0" class="warning">The following recipients have not been assigned roles and will not be included in the envelope: <span ng-repeat="recipient in recipientsWithoutRoles() track by recipient.id">{{recipientNameAndEmail(recipient)}}<ng-show ng-show="$index < recipientsWithoutRoles().length - 1">, </ng-show></span></div>
        </div>
        <input class="mdc-button" type="button" value="Cancel" ng-click="closeWindow()" />
        <button class="mdc-button" ng-disabled="submitDisabled()" >
            <span ng-show="submitting">
                <span class="fa fa-spinner fa-spin"></span> Submitting your envelope...
            </span>
            <span ng-show="!submitting">
                Submit Envelope to DocuSign
            </span>
        </button>
    </div>
</form>

