﻿<td>
    <input class="input-tiny"
            type="number"
            ng-model="recipient.signingOrder"
            ng-blur="signingOrderBlur(recipient, recipient.signingOrder)" /><a ng-disabled="recipient.signingOrder <= 1" ng-click="moveRecipientUp(recipient)"><span class="fa fa-arrow-up"></span></a><a ng-disabled="recipient.signingOrder >= recipients.length" ng-click="moveRecipientDown(recipient)"><span class="fa fa-arrow-down"></span></a>
</td>
<td>
    <input type="text" ng-model="recipient.name" ng-required="true" />
</td>
<td>
    <input class="Input" type="text" ng-model="recipient.email" ng-required="true" />
</td>
<td>
    <div ng-repeat="role in recipient.roles | filter : roleInActiveRoles">
        {{role}}
    </div>
</td>
<td>
    <input ng-model="recipient.signingInPerson" ng-change="moveRecipientToMiddle(recipient)" type="radio" name="{{recipient.id}}Signing" ng-value="true" ng-disabled="inPersonOnly" /> In-Person<br />
    <input ng-model="recipient.signingInPerson" ng-change="moveRecipientToMiddle(recipient)" type="radio" name="{{recipient.id}}Signing" ng-value="false" ng-disabled="inPersonOnly" /> Email<br />
</td>
<td>
    <div class="align-left">
        <div>
            <select ng-model="recipient.mfaChosen" ng-disabled="inPersonOnly" ng-options="option.value as option.description for (key, option) in getEnabledMfaOptions(recipient.signingInPerson)" ng-required="true"></select>
        </div>
        <div ng-show="mfaOptionHasAccessCode(recipient.mfaChosen)"><input type="text" ng-model="recipient.accessCode" placeholder="Enter Access Code" ng-required="mfaOptionHasAccessCode(recipient.mfaChosen)" /></div>
        <div ng-show="mfaOptionIsPhone(recipient.mfaChosen) || mfaOptionIsSms(recipient.mfaChosen)">
            Phone #: {{recipientPhone(recipient.phone, recipient.mfaChosen) | phone}}
            <a ng-click="choosePhone(recipient.phone)" ng-disabled="recipient.phone.choosing && PhoneForm.$invalid">{{chooseText(recipient.phone.choosing)}}</a>
        </div>
        <div ng-show="recipient.phone.choosing && (mfaOptionIsPhone(recipient.mfaChosen) || mfaOptionIsSms(recipient.mfaChosen))" ng-form="PhoneForm">
            <label class="phone-label" ng-if="!recipient.isAgent" ng-show="mfaOptionIsPhone(recipient.mfaChosen)" ng-disabled="!recipient.phone.homePhone">
                <input type="radio" name="{{recipient.id}}PhoneSelector" ng-model="recipient.phone.choice" value="home" />
                Home Phone: {{recipient.phone.homePhone || "None Saved"}}
            </label>
            <label class="phone-label" ng-if="!recipient.isAgent" ng-show="mfaOptionIsPhone(recipient.mfaChosen)" ng-disabled="!recipient.phone.workPhone">
                <input type="radio" name="{{recipient.id}}PhoneSelector" ng-model="recipient.phone.choice" value="work" />
                Work Phone: {{recipient.phone.workPhone || "None Saved"}}
            </label>
            <label class="phone-label" ng-if="recipient.isAgent" ng-show="mfaOptionIsPhone(recipient.mfaChosen)" ng-disabled="!recipient.phone.agentPhone">
                <input type="radio" name="{{recipient.id}}PhoneSelector" ng-model="recipient.phone.choice" value="agent" />
                Phone: {{recipient.phone.agentPhone || "None Saved"}}
            </label>
            <label class="phone-label" ng-if="recipient.isAgent" ng-show="mfaOptionIsPhone(recipient.mfaChosen)" ng-disabled="!recipient.phone.companyPhone">
                <input type="radio" name="{{recipient.id}}PhoneSelector" ng-model="recipient.phone.choice" value="company" />
                Company Phone: {{recipient.phone.companyPhone || "None Saved"}}
            </label>
            <label class="phone-label" ng-disabled="!recipient.phone.cellPhone">
                <input type="radio" name="{{recipient.id}}PhoneSelector" ng-model="recipient.phone.choice" value="cell" />
                Cell Phone: {{recipient.phone.cellPhone || "None Saved"}}
            </label>
            <div>
                <input type="radio"
                        name="{{recipient.id}}PhoneSelector"
                        ng-model="recipient.phone.choice"
                        value="chosen" />
                Enter: <input maxlength="30" placeholder="Phone Number" ng-blur="recipient.phone.choice = 'chosen'" ng-model="recipient.phone.chosenPhone" pattern-if-required="[^\d+]*(1|\+1)?[^\d]*(\d{3})[^\d]*(\d{3})[^\d]*(\d{4})([^\d]+(\d+))?([^\d].*)?" ng-required="(mfaOptionIsPhone(recipient.mfaChosen) || mfaOptionIsSms(recipient.mfaChosen)) && recipient.phone.choice === 'chosen'" />
            </div>
        </div>
    </div>
</td>
<td>
    <span title="Remove this recipient from the envelope." class="fa fa-lg fa-minus-square remove-button" ng-click="removeRecipient(recipient)"></span>
</td>
