<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table table-title-estate">
                <div>
                    <div><label>Title will be held in what Name(s)</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTitleNm1"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTitleNm1Lckd"></lqb-input></div>
                </div>
                <div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTitleNm2"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTitleNm2Lckd"></lqb-input></div>
                </div>
                <div>
                    <div><label>Manner in which Title will be held</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aManner"></lqb-input></div>
                    <div></div>
                </div>
            </div>
            <div class="table table-title-estate">
                <div>
                    <div><label>Estate will be held in</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sEstateHeldT"></lqb-input></div> 
                    <div><label>Expiration Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseHoldExpireD"></lqb-input></div>
                </div>
            </div>
            <div class="table table-title-estate">
                <div>
                    <div><label>Source of Down Payment</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDwnPmtSrc"></lqb-input></div>
                </div>
                <div>
                    <div class="text-right"><label>(Explain on this line)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDwnPmtSrcExplain"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Title Only Borrowers</h5></div>
        <div class="panel-body">
            <div class="table table-borrowers-seller-info" ng-repeat="b in vm.loan.sTitleBorrowers.data">
                <div>
                    <div><label>First Name</label></div>
                    <div><lqb-input lqb-model="b.FirstNm"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Middle Name</label></div>
                    <div><lqb-input lqb-model="b.MidNm"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Last Name</label></div>
                    <div><lqb-input lqb-model="b.LastNm"></lqb-input></div>
                    <div><a>Edit Aliases/POA</a></div>
                </div>
                <div>
                    <div><label>SSN</label></div>
                    <div><lqb-input class="form-control form-control-ssn" lqb-model="b.SSN"></lqb-input></div>
                    <div></div>
                </div>

                <div>
                    <div><label>Date of Birth</label></div>
                    <div><lqb-input lqb-model="b.Dob"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Home Phone</label></div>
                    <div><lqb-input lqb-model="b.HPhone"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Email</label></div>
                    <div><lqb-input class="form-control form-control-email" lqb-model="b.Email"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="b.Address"  placeholder="Street"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="b.City"  placeholder="City"></lqb-input>
                        <lqb-input lqb-model="b.State"  placeholder="State"></lqb-input>
                        <lqb-input lqb-model="b.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                    <div></div>
                </div>
                <div>
                    <div><label>Title Type</label></div>
                    <div><lqb-input lqb-model="b.RelationshipTitleT"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Title Other Desc</label></div>
                    <div><lqb-input lqb-model="b.RelationshipTitleTOtherDesc"></lqb-input></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Associated Application</label></div>
                    <div><lqb-input lqb-model="b.TitleAssociatedApplicationId"></lqb-input></div>
                    <div></div>
                </div>
                <p class="text-link-remove"><a ng-click="vm.removeTitleBorrower(b)">remove</a></p>
            </div>
            <p><a ng-click="vm.addTob()">add Title Only Borrower</a></p>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Seller Info</h5></div>
        <div class="panel-body">
            <div class="table table-borrowers-seller-info">
                <div>
                    <div>
                        <a ng-click="vm.addSeller()">add Seller</a>
                    </div>
                    <div>
                        <a class="btn btn-default">Populate from Agents</a>
                    </div>
                </div>
            </div>

            <div class="table table-borrowers-seller-info" ng-repeat="s in vm.loan.sSellerCollection.data">
                <div>
                    <div><label>Seller Name</label></div>
                    <div>
                        <lqb-input lqb-model="s.Name"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Seller Address</label></div>
                    <div>
                        <lqb-input lqb-model="s.Address.StreetAddress" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="s.Address.City"  placeholder="City"></lqb-input>
                        <lqb-input lqb-model="s.Address.State"  placeholder="State"></lqb-input>
                        <lqb-input lqb-model="s.Address.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="s.Type"></lqb-input>
                        <lqb-input lqb-model="s.EntityType"></lqb-input>
                    </div>
                </div>
                <p class="text-link-remove"><a ng-click="vm.removeSeller(s)">remove</a></p>
            </div>

            <div class="table table-borrowers-seller-info">
                <div>
                    <div><label>Seller Vesting</label></div>
                    <div class="form-control-seller-vesting">
                        <lqb-input lqb-model="vm.loan.fields.sSellerVesting"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
