<lq-modal ref="vm.setModal($ref)">
    <slot-heading>Change file status to</slot-heading>
    <slot-body>
        <div ng-if="!vm.leadOnly">
            <header>Loan Statuses</header>
            <ul><li ng-repeat="status in vm.loanStatuses track by status.value">
                <a ng-bind="status.label" ng-click="vm.selectStatus(status.value)"></a>
            </li></ul>
        </div>

        <div>
            <header>Lead Statuses</header>
            <ul><li ng-repeat="status in vm.leadStatuses track by status.value">
                <a ng-bind="status.label" ng-click="vm.selectStatus(status.value)"></a>
            </li></ul>
        </div>
    </slot-body>
    <slot-footer>
        <div class="text-center">
            <button ng-click="vm.close()">Close</button>
        </div>
    </slot-footer>
</lq-modal>
