﻿<tr class="ReverseGridAutoItem OrderRow">
    <td>
        <input type="hidden" class="OrderId" value="${OrderId}" />
        <span class="QuoteProvider">${QuoteProvider}</span>
    </td>
    <td>
        {{each TitleProviders}}
        <span class="TitleProvider">${Name}</span> (<a class="ViewTitleProviderLink" data-provider="${JSON.stringify(this)}">view</a>)<br/>
        {{/each}}
    </td>
    <td>
        <span class="OrderNumber">${OrderNumber}</span>
    </td>
    <td>
        <a class="CompareApplyBtn">view comparison</a>
    </td>
    <td>
        <span class="OrderedBy">${OrderedBy}</span>
    </td>
    <td>
        <span class="OrderedDate">${OrderedDate}</span>
    </td>
</tr>