<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeDialog($event)"><i class="material-icons">&#xE5CD;</i></button>
    <h4 class="modal-title">Choose from Contacts</h4>
</div>
<div class="modal-body">
    <ul class="nav nav-tabs nav-tabs-panels margin-bottom">
        <li ng-class="{active: vm.tabIndex==0}"                                    ><a ng-click="vm.changeTab(0)">Contact Entries           </a></li>
        <li ng-class="{active: vm.tabIndex==1}" ng-show="vm.ShowInternalEmployees" ><a ng-click="vm.changeTab(1)">Internal Employees        </a></li>
        <li ng-class="{active: vm.tabIndex==2}" ng-show="vm.HasFeaturesPriceMyLoan && vm.ShowPmlUsers"><a ng-click="vm.changeTab(2)">PML Users                 </a></li>
        <li ng-class="{active: vm.tabIndex==3}" ng-show="vm.ShowAssignedEmployees" ><a ng-click="vm.changeTab(3)">Assigned/Official Contacts</a></li>
    </ul>

    <div class="text-danger text-center" ng-show="!vm.AllowReadingFromRolodex">
        <strong>Access denied.</strong>
        <p>
            You do not have permission to view contact entries.
            Please consult your account administrator if you have any questions.
        </p>
    </div>

    <div ng-show="vm.tabIndex != 3">
        <div class="table table-rolodex-search">
            <div>
                <div>
                    <label class="text-right text-grey">
                        Search for:
                    </label>
                </div>
                <div>
                    <input type="text" ng-model="vm.nameFilter">
                </div>
                <div class="padding-right-p24">
                    <span><button ng-click="vm.search($event)" >Search <i class="material-icons">&#xE8B6;</i></button></span>
                </div>
                <div >
                    <label class="text-right text-grey">
                        Type:
                    </label>
                </div>
                <div ng-if="vm.tabIndex == 0" class="padding-right-p24">
                    <tpo-select ng-model="vm.typeFilter0"
                        tpo-options="o.value as o.label for o in vm.typeFilterOptions0"
                        ng-change="vm.onTypeFilter0Change()"
                        ><option value="">All</option></tpo-select>
                </div>
                <div ng-if="vm.tabIndex == 1" class="padding-right-p24">
                    <tpo-select ng-model="vm.typeFilter1"
                        tpo-options="o.value as o.label for o in vm.typeFilterOptions1"
                        ng-change="vm.onTypeFilter1Change()"
                        ><option value="">All</option></tpo-select>
                </div>
                    <div ng-if="vm.tabIndex == 2">
                    <tpo-select disabled><option value="">All</option></tpo-select>
                </div>
                <div ng-if="vm.tabIndex == 1">
                    <label class="text-right text-grey">
                        Status:
                    </label>
                </div>
                <div ng-if="vm.tabIndex == 1">
                    <tpo-select ng-model="vm.statusFilter"
                        tpo-options="o.value as o.label for o in vm.statusFilterOptions"
                        ng-change="vm.onStatusFilterChange()"
                        ></tpo-select>
                </div>
            </div>

        </div>
    </div>

    <div>
        <!-- <button ng-show="vm.AllowWritingToRolodex && vm.tabIndex==0" ng-click="vm.onAddClick();" type="button">Add new entry</button> -->
    </div>

    <!--
    <div style="display:none">
        <asp:Panel ID="m_importFrom" runat="server" Visible="False"
            ng-show="vm.tabIndex != 1 && vm.tabIndex == 1">
            Populate Address/Phone Info from
            <asp:radiobuttonlist id="m_importFromRadio" Runat="server" RepeatDirection="Horizontal">
                <asp:ListItem Value="E" Selected="True"  Text="Employee"         />
                <asp:ListItem Value="B" Selected="False" Text="Employee's Branch"/>
                <asp:ListItem Value="C" Selected="False" Text="Company"          />
            </asp:radiobuttonlist>
        </asp:Panel>
    </div>
    -->
    <p ng-show="vm.items.length < 1">No users who match the specified criteria were found.</p>

    <table class="DataGrid modal-table-scrollbar none-hover-table"  ng-if="vm.items.length > 0">
        <thead class="GridHeader"><tr>
            <th></th>
            <!-- <td ng-show="vm.AllowWritingToRolodex && vm.tabIndex==0"></td> -->
            <th ng-show="!([    2  ].includes(vm.tabIndex))"><a sort-header sort-key="AgentTypeDesc"      pvm="vm" active-class="text-bold">Type        </a></th>
            <th                                             ><a sort-header sort-key="AgentNm"            pvm="vm" active-class="text-bold">Name        </a></th>
            <th ng-show="!([  1,2  ].includes(vm.tabIndex))"><a sort-header sort-key="AgentTitle"         pvm="vm" active-class="text-bold">Title       </a></th>
            <th                                             >                                                                               Agent Phone     </th>
            <th ng-show="!([0,1    ].includes(vm.tabIndex))"><a sort-header sort-key="AgentComNm"         pvm="vm" active-class="text-bold">Company Name</a></th>
            <th ng-show="!([  1,2,3].includes(vm.tabIndex))"><a sort-header sort-key="AgentComNmBranchNm" pvm="vm" active-class="text-bold">Company Name</a></th>
            <th ng-show="!([0,  2,3].includes(vm.tabIndex))"><a sort-header sort-key="NameOfBranch"       pvm="vm" active-class="text-bold">Branch Name </a></th>
            <th ng-show="!([  1,2  ].includes(vm.tabIndex))">                                                                               Company Phone   </th>
            <th                                             >                                                                               Email           </th>
        </tr></thead>
        <tbody><tr ng-repeat="item in vm.items | orderBy:vm.sortKey:vm.sortDesc">
            <td class="td-select" ><a ng-click="vm.select(item)">select</a></td>
            <!-- <td ng-show="vm.AllowWritingToRolodex && vm.tabIndex==0"><a ng-click="vm.onEditClick(item)">edit</a></td> -->
            <td                 ng-show="!([    2  ].includes(vm.tabIndex))" ng-bind="item.AgentTypeDesc     "></td>
            <td                                                              ng-bind="item.AgentNm           "></td>
            <td class="td-wrap" ng-show="!([  1,2  ].includes(vm.tabIndex))" ng-bind="item.AgentTitle        "></td>
            <td                                                              ng-bind="item.AgentPhone        "></td>
            <td                 ng-show="!([0,1    ].includes(vm.tabIndex))"><a ng-show="!!item.AgentWebsiteUrl" ng-href="{{item.AgentWebsiteUrl || ''}}" target="_blank" ng-bind="item.AgentComNm || 'website'"></a><span ng-show="!item.AgentWebsiteUrl && !!item.AgentComNm" ng-bind="item.AgentComNm"></span></td>
            <td                 ng-show="!([  1,2,3].includes(vm.tabIndex))" ng-bind="item.AgentComNmBranchNm"></td>
            <td                 ng-show="!([0,  2,3].includes(vm.tabIndex))" ng-bind="item.NameOfBranch      "></td>
            <td                 ng-show="!([  1,2  ].includes(vm.tabIndex))" ng-bind="item.PhoneOfCompany    "></td>
            <td class="td-email"><a ng-bind="item.AgentEmail" ng-click="vm.onEmailClick(item)" ng-href="mailto:{{item.AgentEmail}}"></a></td>
        </tr></tbody>
    </table>

    <div ng-if="vm.tabIndex == 2 && vm.items == null" class="text-danger text-center">
        <p>Please choose a search term above.</p>
    </div>
</div>
