<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
            <div>
                <div class="table">
                    <div>
                        <div></div>
                        <div><label>Description</label></div>
                        <div><label>Cash or Market Value</label></div>
                    </div>
                    <div>
                        <div><label>Cash Deposit Toward Purchase</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.cashDeposit1.Desc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.cashDeposit1.Val"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Cash Deposit Toward Purchase</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.cashDeposit2.Desc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.cashDeposit2.Val"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Life Insurance Net Cash Value</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.lifeInsurance.Val"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Life Insurance Net Face Amount</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.lifeInsurance.FaceVal"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Vested Interest in Retirement Fund</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.retirement.Val"></lqb-input></div>
                    </div>
                </div>
                <div></div>
                <div class="table">
                    <div>
                        <div></div>
                        <div><label>Cash or Market Value</label></div>
                    </div>
                    <div ng-show="vm.isWideScreen()">
                        <div><label>Life Insurance Net Cash Value</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.lifeInsurance.Val"></lqb-input></div>
                    </div>
                    <div ng-show="vm.isWideScreen()">
                        <div><label>Life Insurance Net Face Amount</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.lifeInsurance.FaceVal"></lqb-input></div>
                    </div>
                    <div ng-show="vm.isWideScreen()">
                        <div><label>Vested Interest in Retirement Fund</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.retirement.Val"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Net Worth of Business(es) Owned</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.aAssetCollection.businessWorth.Val"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><a ng-click="vm.goTo('reo')">Real Estate Owned</a></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aReTotVal"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Subtotal Liquid Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstLiqTot"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Subtotal Other Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstNonReSolidTot"></lqb-input></div>
                    </div>
                    <div ng-hide="vm.isWideScreen()">
                        <div><label>Borrower Total Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstValTot"></lqb-input></div>
                    </div>
                </div>
                <div></div>
                <div class="table" ng-show="vm.isWideScreen()">
                    <div>
                        <div></div>
                        <div><label>Cash or Market Value</label></div>
                    </div>
                    <div>
                        <div><a ng-click="vm.goTo('reo')">Real Estate Owned</a></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aReTotVal"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Subtotal Liquid Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstLiqTot"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Subtotal Other Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstNonReSolidTot"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Borrower Total Assets</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aAsstValTot"></lqb-input></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div>
                        <label>
                            Assets and Liabilities Completed:
                        </label>
                    </div>
                    <div>
                        <label>
                            <lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'Yes'" label="Jointly"></lqb-input>
                        </label>
                        <label>
                            <lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'No'" label="Not Jointly"></lqb-input>
                        </label>
                    </div>
                </div>
            </div>
                <div>
                    <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.add()">Add New Asset</button></span>
                </div>
                <div><label>&nbsp;</label></div>
                <table class="secondary-table none-hover-table">
                    <thead class="header">
                        <tr>
                            <th></th>
                            <th>
                                <a ng-click="vm.sortRegulars('OwnerT')">Owner</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('AssetT')">Asset Type</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('Desc')">Description</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('Val')">Market Value</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('VerifSentD')">Verif. Sent</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('VerifReorderedD')">Re-Order</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('VerifRecvD')">Received</a>
                            </th>
                            <th>
                                <a ng-click="vm.sortRegulars('VerifExpD')">Expected</a>
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="regular in vm.loan.app.aAssetCollection.regulars track by $index">
                            <td><a href="javascript:void(0)" ng-click="vm.clickItem($index)"><span class="material-icons" title="Edit">edit</span></a></td>
                            <td ng-bind="vm.getOwnerValue(regular)"></td>
                            <td ng-bind="vm.getAssetValue(regular)"></td>
                            <td ng-bind="regular.Desc.v"></td>
                            <td ng-bind="regular.Val.v|currency"></td>
                            <td ng-bind="regular.VerifSentD.v|date:'MM/dd/yyyy'"></td>
                            <td ng-bind="regular.VerifReorderedD.v|date:'MM/dd/yyyy'"></td>
                            <td ng-bind="regular.VerifRecvD.v|date:'MM/dd/yyyy'"></td>
                            <td ng-bind="regular.VerifExpD.v|date:'MM/dd/yyyy'"></td>
                            <td><a ng-show="vm.setVODStatus(regular)" href="javascript:void(0)" >Edit VOD</a></td>
                            <td><a href="javascript:void(0)" ng-click="vm.delete($index)"><span class="material-icons" title="Close">close</span></a></td>
                        </tr>
                    </tbody>
                </table>                

            </div>
        </div>
    </div>


<lq-modal ref="vm.setModal($ref)" on-hide="vm.onModalHide($event)">
    <slot-heading>Asset Editor</slot-heading>
    <slot-body>
        <div>
            <div><a href="">Asset Editor</a>&nbsp;&gt;...</div>
            <div class="slot-content" ng-repeat="selectedRegular in [vm.selectedRegular]">
                <div class="table">
                    <div>
                        <div class="table empty-space">
                            <div>
                                <div><label>Owner</label></div>
                                <div><lqb-input lqb-model="selectedRegular.OwnerT"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Asset Type</label></div>
                                <div><lqb-input lqb-model="selectedRegular.AssetT"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.OtherTypeDesc.r">
                                <div><label>Other Asset Type</label></div>
                                <div><lqb-input lqb-model="selectedRegular.OtherTypeDesc"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.VerifSentD.r">
                                <div><label>Description</label></div>
                                <div><lqb-input lqb-model="selectedRegular.Desc"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.VerifSentD.r">
                                <div><label>Market Value</label></div>
                                <div><lqb-input lqb-model="selectedRegular.Val"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.GiftSource.h">
                                <div><label>Source</label></div>
                                <div><lqb-input lqb-model="selectedRegular.GiftSource"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.AccNm.r">
                                <div><label>Account Holder Name</label></div>
                                <div><lqb-input lqb-model="selectedRegular.AccNm"></lqb-input></div>
                            </div>
                            <div ng-hide="selectedRegular.AccNum.r">
                                <div><label>Account Number</label></div>
                                <div><lqb-input lqb-model="selectedRegular.AccNum"></lqb-input></div>
                            </div>
                        </div>
                        <div class="table" ng-hide="selectedRegular.VerifSentD.r">
                            <div>
                                <div><label>Verification Sent</label></div>
                                <div><lqb-input lqb-model="selectedRegular.VerifSentD"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Re-Order</label></div>
                                <div><lqb-input lqb-model="selectedRegular.VerifReorderedD"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Received</label></div>
                                <div><lqb-input lqb-model="selectedRegular.VerifRecvD"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Expected</label></div>
                                <div><lqb-input lqb-model="selectedRegular.VerifExpD"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>&nbsp;</label></div>
                            </div>
                            <div>
                                <div><label>Company Name</label></div>
                                <div><lqb-input lqb-model="selectedRegular.ComNm"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Department</label></div>
                                <div><lqb-input lqb-model="selectedRegular.DepartmentName"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Address</label></div>
                                            <div><lqb-input lqb-model="selectedRegular.StAddr" placeholder="Street"></lqb-input></div>
                            </div>
                            <div>
                                            <div><label>&nbsp;</label></div>
                                <div class="table">
                                    <div>
                                                    <div><lqb-input lqb-model="selectedRegular.City" placeholder="City"></lqb-input></div>
                                        <div><lqb-input lqb-model="selectedRegular.State" placeholder="State"></lqb-input></div>
                                                    <div><lqb-input lqb-model="selectedRegular.Zip" placeholder="ZIPCode"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table" ng-show="selectedRegular.VerifSentD.r">
                            <div>
                                <div><label>Description</label></div>
                                <div><lqb-input lqb-model="selectedRegular.Desc"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Market Value</label></div>
                                <div><lqb-input lqb-model="selectedRegular.Val"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                    <div ng-hide="selectedRegular.VerifSentD.r">
                        <div></div>
                        <div class="text">
                            <a>Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.done()">OK</button></span>
                <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button></span>
            </div>
        </div>
    </slot-body>
    <slot-footer></slot-footer>
</lq-modal>

</div>

<div lqb-load-fields="sLoanVersionT"></div>
