@charset "UTF-8";

body {
  min-width: 1280px; }

#dividing-line {
	color: #AAB7C2;
}

.row.results-icon {
	margin-left: 0;
}

.message-view-button {
	margin-right: 0;
}

.dropdown-arrow {
	padding-left: 0;
	padding-right: 0;
}

.row.section-sub-headerDiv {
	margin-left: 0;
	margin-right: 0;
}

#evalRsltsSec {
	margin-left: 0;
	margin-right: 0;
}

.statusColor {
	padding-left: 0;
	padding-right: 0;
}

#mainBody {
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.noPadColumn {
	padding-left: 0;
	padding-right: 0;
}

.noMarginRow {
	margin-left: 0;
	margin-right: 0;
}

.noBottomPadding {
	padding-bottom: 0 !important;
}

.results-div {
	padding-bottom: 5px !important;
}

.dq-results-div {
	padding-bottom: 5px !important;
}

.noRightPadding {
	padding-right: 0;
}

.noLeftPadding {
	padding-left: 0;
}

.msgCountHeader {
	padding-bottom: 10px;
}

.giEligTable {
	margin-left: 0;
	margin-right: 0;
}

.overallUcd {
	padding-bottom: 20px;
}

.col-padding {
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.certificate-row {
	padding-bottom: 40px !important;
}

.certificate-footer {
	margin-top: 200px;
}

.page-number {
	text-align: right;
}

#dqCount, #egCount {
	display: none;
}