/* Utility classes */
.hidden {
	display: none;
}

.green-color{
	color:#40CC5A; 
}

.red-color{
	color:#DC3232;
}

.yellow-color{
	color:#FF970F;  
}

.results-div{
  	padding: 0px 20px 5px 20px;
}

.results-hr{
	height:1px;
  	margin:20px 20px 25px 20px; 
	background-color:#AAb7c2;
	border:0px;	
	color:#AAb7c2;
}

.results-icon-spacing{
	font-size:30px; 
}

.dq-section-spacing{
	margin:0px 0px 20px 20px !important;
	padding:15px 20px 15px 20px !important;
}

.dq-results-div{
	padding: 0px 40px 5px 40px;
}

.dq-results-icon-spacing{
	font-size:30px; 
	padding-left:50px; 
	margin-right:50px;
}

.dq-results-hr{
	height:1px;
  	margin:20px 20px 18px 40px; 
	background-color:#AAb7c2;
	border:0px;
	color:#AAb7c2;
}

div.breakhere {
    page-break-before: always;
}

div.avoid-break{
	page-break-inside: avoid;
}

.word-wrap{
	word-wrap: break-word;
	word-break: break-word;
	-ms-word-break: break-word; 
	-ms-word-wrap: break-word;
}
