@charset "UTF-8";

.rslts-cnt-paddRight {
	padding-left: 5px;
	padding-right: 20px;
	font-size: 12px;
	color: #8E99A0;	
	float: left;
	margin-top: 20px;
}

.evalMsgCount {
	font-size: 22px;
	color: #009DD9;
	font-weight: 700; 
}

.evalMsgSecHeader {
	padding-right: 20px;
}

.loanSection {
	background-color: transparent;
	padding: 20px 0px 20px 0px;
	margin: 0px;
	font-size: 18px;
}

.sectionStatus {
	font-size: 17.93px;
	font-weight: 300;
	padding-right: 15px;
	color: #616d77;
}

.parentDDIcon {
	font-size: 24px;
	width: 12px;
	color: #aab7c2;
}

.childDDIcon {
	font-size: 18px;
	width: 9px;
	color: rgba(97, 109, 119, 0.5);
}

.msgIcon {
	height: 24px;
	width: 24px;
}

.showAllActive {
	background-color: #009ce0;
	Box-shadow: inset 1px 1px 5px 0px #006693;
	background-image: url("../Asset/Expand_selected.png");
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #006693;
}

.showHideBtn {
	width: 48px;
	height: 33px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
}

.leftNavCount {
	font-size: 13px;
	color: #009cE0;
	font-weight: 400;
	padding-left: 13px;
}

.msgTablePaddingBottom {
	padding-bottom: 10px; 
}

.msgToggleBtn {
	display: inline-block;
	background-position: center;
	background-size: 14px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #AAB7c2;
	text-align: center;
	color: #8e99a0;
	line-height: 17.9px;
	cursor: pointer;
	background-color: transparent;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 20px 10px 20px;
	
}

.msgToggleActive {
	background-color: #009ce0;
	border: 1px solid #006693;
	Box-shadow: inset 1px 1px 5px 0px #006693;
	color: #ffffff;
	cursor: default;
}

.showAllInActive {
	background-image: url("../Asset/Expand_not selected.png");
	border-radius: 5px 0px 0px 5px;
	background-color: transparent;
	border: 1px solid #AAB7C2;
}

.hideAllActive {
	Box-shadow: inset 1px 1px 5px 0px #006693;
	background-image: url("../Asset/contract_selected.png");
	border-radius: 0px 5px 5px 0px;
	background-color: #009ce0;
	border: 1px solid #006693;
}

.hideAllInActive {
	background-image: url("../Asset/contract_not selected.png");
	border-radius: 0px 5px 5px 0px;
	background-color: transparent;
	border: 1px solid #AAB7C2;
}

.rslts-icon-paddRight {
	padding-right: 5px;
	height: 35px;
}

.rsltsImage {
	vertical-align: middle;
}

.icon-align {
	vertical-align: middle;
}

i {
	vertical-align: middle;
}

div.rslts-section-status > span {
	float: right;
	padding-right: 11px;
}

.table th:first-child {
	width: 150px;
}

.h4-label {
	padding-bottom: 10px;
}

.tabs-container {
	margin: 0px 0px 50px; 
}

#msgsTab.tabs-container > .tabs-list > li:last-child {
	padding-right: 0px;
	border: 0px;
}

	
.messageToggleContainer {
	position: relative;
}

 
.messageToggle {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.techMessageToggle {
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.messageToggleHidden {
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .15s linear, visibility .15s linear;
	-moz-transition: opacity .15s linear, visibility .15s linear;
	-o-transition: opacity .15s linear, visibility .15s linear;
	transition: opacity .15s linear, visibility .15s linear;
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-break: break-all;
}

.messageToggleSwitch > img {
	height: 30px;
	width: 20px;
}

.messageToggleAll {
	position: relative;
	float: right;
	z-index: 99;
	top: 23px;
	border: 1px solid #AAB7C2;
	padding: 3px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-collapse: collapse;
	line-height: 34px;
	border-bottom: 0px;
}

.messageToggleAll label {
	cursor: pointer;
}

.messageToggleAll input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.messageToggleAll .slider {
	position: absolute;
	bottom: 3px;
	background: #009CE0;
	color: #fff;
	clip: rect(0, 4.4em, 1.9em, 0);
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.messageToggleAll input[type="checkbox"]:checked ~ .slider {
	clip: rect(0, 10.1em, 4.5em, 5.4em);
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.messageToggleAll .sliderBorder {
	background: #009CE0;
	z-index: -9999;
	position: absolute;
	bottom: 1px;
	left: 1px;
	box-sizing: content-box;
	width: 4.6em;
	height: 2.0em;
	border: solid 2px #009CE0;
	border-radius: 2px;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.messageToggleAll input[type="checkbox"]:checked ~ .sliderBorder {
	left: 5.0em;
	width: 4.7em;
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.messageToggleAllPadding {
	margin-right: 21px;
}

.messageToggleAllHeader {
	position: absolute;
	top: -2.2em;
	left: 13px;
	font-size: 14px;
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	verticle-align: middle;
}

	
.textRight {
	text-align: right;
}

.content >hr {
	marigin-top: 0px;
}

a i:parent {
	text-decoration: none;
}

.ellipses {
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}

.msggi17 {
	 color: #DC3232;
}

.padding10 {
	padding-top: 10px;
}

.logo {
	height: 35px;
}

.logo1 {
	 vertical-align: middle;
}

.line {
	border-bottom-color: #AAB7C2; 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
}

.logo2 {
	padding-top: 10px; 
	margin-top: 10px; 
	border-top: 4px solid #009CEO;
}

.footerLogo {
	margin-top: 500px; 
	margin-left: -140px;
}

.pageLogo {
	padding-top: 500px; 
	padding-left: 150px;
}

.word-wrap {
	word-wrap: break-word;
	word-break: break-word;
	-ms-word-break: break-word; 
	-ms-word-wrap: break-word;
}

.section-table-header {
	background-color: rgba(37, 187, 239, 0.2); 
	font-size: 12px;
	font-weight: 700;
	color: #006693;
	line-height: 16px;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase; 
}

.section-sub-header {
	padding: 10px 20px 10px 15px; 
	font-size: 18px; 
	background-color: rgba(0, 156, 224, 0.1);
	border-radius: 4px;
}

.section-sub-headerDiv {
	padding: 15px 0px 10px 20px; 
}

.msgTablepadding {
	padding-left: 40px;
}

.ic-up-arrow {
	background-image: url('../Asset/ic-up-arrow.svg');
	font-size: 24px;
	width: 12px;
	color: #006693;
}

.ic-dd-rotate-180 {
	-ms-transform: rotate(180deg);
	-ms-transform-origin: center bottom;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: center bottom;
	-moz-transform: rotate(180deg); 
	transform: rotate(180deg);
	transform-origin: center bottom;
}

.not-active {
	pointer-events: none;
	cursor: default;
}

.tabs-disabled {
	color: #ffffff;
	cursor: default; 
	background-color: #AAB7C2;
}

.results-margin {
	margin-left: 8.46% !important;
}

.leftNavInfo > div {
	margin-left: 0px;
	margin-right: 0px;
}

#msgViewLabel {
	padding-right: 150px;
	position: relative;
}

/* Added for GCSS updates */
.msgIconPadding {
	padding-left: 3.875em;
}

.accordHeader2 {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	height: 33.54px;
}

.dqSection {
	border-bottom-color: #aab7c2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.dqSectionHeader {
	font-size: 21.93px;
	font-weight: 300;
}

.dqSectionSubheader {
	padding: 0px 0px 20px 20px;
	display: block;
}

#giTable, #eligTable {
	margin-left: 0px;
	margin-right: 0px;
	border-bottom: 1px solid #AAB7C2;
	padding-bottom: 20px;
}

.messageRow {
	padding-bottom: 5px !important;
}

.col-12 > .messageRow:last-child {
	padding-bottom: 0px !important;
}

.wordWrap {
	word-wrap: break-word;
}

.loanSectionHeader {
	padding-bottom: 20px;
	margin: 0px;
}

.results-icon-spacing {
	padding-left: 0px;
}

.lesMsgIconPadding {
	padding-left: 2.875em;
}

.lesMsgCircleMargin {
	margin-left: 0.75rem;
}

.sidebar-list {
	margin-top: 3.75rem;
}

.leftNavInfo {
	padding-top: 1em;
	border-top: 1px solid rgba(170, 183, 194, 0.5);
}

.navBarUcd {
	padding-bottom: 10px;
}

.section-circle {
	margin-right: 24px;
}

.results-button-container {
	padding-bottom: 0px !important;
}

.message-summaries {
	padding-bottom: 0px !important;
}

.scrollbox {
	visibility: hidden;
	position: fixed;
	width: calc(16.7% - 45px);
	min-width: calc(1200px * 0.167 - 45px);
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	bottom: 60px;
	top: 70px;
	margin-top: 3.75rem;
	/*margin-bottom: 50px;*/
	list-style-type: none;
}

.scrollbox-content, .scrollbox:hover {
	visibility: visible;
}

.sidebar-list {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.main-nav {
	min-width: 1200px;
}

@media (max-width: 1350px) { 
	.without-pdf {
		float: left !important;
	}
}
