﻿<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".generated.cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#@ import namespace="System.Xml" #>
<#@ import namespace="System.Xml.Linq" #>
<#@ include file="..\..\..\LqbGrammar\TextTemplates\StringUtility.ttinclude" #><##>
<#@ include file="..\..\TextTemplates\EntityDataReader.ttinclude" #><##>
<#@ include file="..\..\TextTemplates\MapperDataReader.ttinclude" #><##>
<#@ include file="..\..\TextTemplates\AssociationDataReader.ttinclude" #><##>
<#@ include file="..\..\TextTemplates\AssociationMapperDataReader.ttinclude" #><##>
<#
	var entityLoanMappersAll = MapperDataReader.ReadAllMappers(this.Host).Where(x => x.FilterParameters.First().TValueKind == "Loan");
	var entityLoanMappers = entityLoanMappersAll.Select(x => x.EntityName);
	var entityLoanMappers2 = entityLoanMappersAll.Select(x => x.Name);

	var associationLoanMappersAll = AssociationMapperDataReader.ReadAllMappers(this.Host).Where(x => x.FilterParameters.First().TValueKind == "Loan");
	var associationLoanMappers = associationLoanMappersAll.Select(x => x.AssociationName);
	var associationLoanMappers2 = associationLoanMappersAll.Select(x => x.Name);

	var entityMappers = entityLoanMappersAll.Where(x => entityLoanMappers2.Contains(x.Name));
	var associationMappers = associationLoanMappersAll.Where(x => associationLoanMappers2.Contains(x.Name));

	var entities = EntityDataReader.ReadAllEntities(this.Host).Where(x => entityLoanMappers.Contains(x.Name));
	var associations = AssociationDataReader.ReadAllAssociations(this.Host).Where(x => associationLoanMappers.Contains(x.Name));

	var customMappers = EntityDataReader.ReadCustomFields(this.Host);
#>
// <auto-generated />
namespace DataAccess
{
    using System;
	using System.Collections.Generic;
    using System.Data;
	using System.Data.Common;
	using System.Data.SqlClient;
    using LendingQB.Core;
    using LendingQB.Core.Data;
    using LendingQB.Core.Mapping;
    using LqbGrammar.DataTypes;

	/// <summary>
	/// Empty interface that is exposed to client code that is just a handle to a class that
	/// also implements the ILoanLqbCollectionProviderMethods interace.
	/// </summary>
	public interface ILoanLqbCollectionProvider {}

    /// <summary>
    /// Interface defining methods that provide for the loading and saving of collection data for a loan.
    /// </summary>
    internal interface ILoanLqbCollectionProviderMethods
    {
        void SetBrokerId(DataObjectIdentifier<DataObjectKind.ClientCompany, Guid> brokerId);

		Dictionary<string, object> LoadCollections(
			IDbConnection connection,
			IDbTransaction transaction,
			IEnumerable<string> collections);

        void SaveCollections(
            IDbConnection connection,
            IDbTransaction transaction,
            IEnumerable<StoredProcedureCommandData> entityAndAssociationCommands);

        IMutableOrderedIdentifierCollection<TValueKind, Guid> RetrieveCollectionOrder<TValueKind>(
            DataObjectIdentifier<DataObjectKind.LegacyApplication, Guid>? legacyApplicationId = null,
            DataObjectIdentifier<DataObjectKind.Consumer, Guid>? consumerId = null,
			DataObjectIdentifier<DataObjectKind.UladApplication, Guid>? uladApplicationId = null)
            where TValueKind : DataObjectKind;

        void RemoveFromCollectionOrders<TValueKind>(DataObjectIdentifier<TValueKind, Guid> entityId) where TValueKind : DataObjectKind;

        void ClearLegacyApplicationOrders<TValueKind>(DataObjectIdentifier<DataObjectKind.LegacyApplication, Guid> legacyApplicationId) where TValueKind : DataObjectKind;

        void ClearConsumerOrders<TValueKind>(DataObjectIdentifier<DataObjectKind.Consumer, Guid> consumerId) where TValueKind : DataObjectKind;

		void ClearUladApplicationOrders<TValueKind>(DataObjectIdentifier<DataObjectKind.UladApplication, Guid> uladApplicationId) where TValueKind : DataObjectKind;

        void ExecuteCommandData(
            IEnumerable<StoredProcedureCommandData> commandItems,
            IDbConnection connection,
            IDbTransaction transaction);

        void AddBlankLegacyAndUladApplication(
            ILoanLqbCollectionBorrowerManagement borrMgmt,
            out DataObjectIdentifier<DataObjectKind.LegacyApplication, Guid> legacyAppId,
            out KeyValuePair<DataObjectIdentifier<DataObjectKind.UladApplication, Guid>, UladApplication> uladData);

        void AddBlankLegacyAppAndUladAppConsumerAssociation(
            ILoanLqbCollectionBorrowerManagement borrMgmt,
            DataObjectIdentifier<DataObjectKind.UladApplication, Guid> uladAppId,
            out DataObjectIdentifier<DataObjectKind.LegacyApplication, Guid> legacyAppId,
            out DataObjectIdentifier<DataObjectKind.Consumer, Guid> consumerId,
            out DataObjectIdentifier<DataObjectKind.UladApplicationConsumerAssociation, Guid> uladAppConsumerAssocId);

        void AddCoborrowerToLegacyAppAndUladApp(
            DataObjectIdentifier<DataObjectKind.LegacyApplication, Guid> legacyAppId,
            DataObjectIdentifier<DataObjectKind.UladApplication, Guid> uladAppId,
            out DataObjectIdentifier<DataObjectKind.Consumer, Guid> consumerId,
            out DataObjectIdentifier<DataObjectKind.UladApplicationConsumerAssociation, Guid> uladAppConsumerAssocId);
<#
foreach (var entity in entities)
{
#>

        SaveCommandData GenerateSaveCommandData(
            ISqlParameterConverter sqlParameterConverter,
            IMutableLqbCollection<DataObjectKind.<#= entity.Name #>, Guid, <#= entity.Name #>> collection);

        IMutable<# if (!entity.SupportsCalculatedOrder) { #>Ordered<# } #>LqbCollection<DataObjectKind.<#= entity.Name #>, Guid, <#= entity.Name #>> Load<#= entity.CollectionName #>();
<#
}
#>
<#
foreach (var association in associations)
{
#>

        SaveCommandData GenerateSaveCommandData(
            ISqlParameterConverter sqlParameterConverter,
            IMutableLqbAssociationSet<DataObjectKind.<#= association.Name #>, Guid, <#= association.Name #>> associationSet);

        IMutableLqbAssociationSet<DataObjectKind.<#= association.Name #>, Guid, <#= association.Name #>> Load<#= association.CollectionName #>();
<#
}
#>
    }
}
