<div class="panel">
    <div class="panel-body">
        <form ng-submit="vm.search()" class="form-label-noerror form-group-sm"><div class="row">
            <div class="col-sm-5">
                <div class="form-group form-group-sm">
                    <label>Broker:</label>
                    <select ng-model="vm.searchForm.sBrokerID" required
                            ng-options="o.BrokerId as o.BrokerNm for o in vm.brokerOptions"
                            class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group form-group-sm">
                    <label>Deleted in past:</label>
                    <select ng-model="vm.searchForm.daysSinceDeletion"
                            ng-options="o.v as o.t for o in vm.daysSinceDeletionOptions"
                            class="form-control"></select>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="form-group form-group-sm">
                    <label>Previous Loan Number:</label>
                    <input ng-model="vm.searchForm.sOldLNm"
                           type="text" autocomplete="on" maxlength="32"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-sm">
                    <label>Borrower Name:</label>
                    <input ng-model="vm.searchForm.borrowerName"
                           type="text" autocomplete="name" maxlength="32"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group form-group-sm">
                    <label>Borrower SSN:</label>
                    <input ng-model="vm.searchForm.aBSsn"
                           type="text" autocomplete="on"
                           class="form-control">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group form-group-sm">
                    <label>LoanID:</label>
                    <input ng-model="vm.searchForm.sLId"
                           type="text" autocomplete="on"
                           class="form-control">
                </div>
            </div>

            <div class="col-sm-1">
                <div class="form-group form-group-sm">
                    <label>&nbsp;</label>
                    <span class="clipper"><button type="submit" class="btn btn-primary btn-block">Search</button></span>
                </div>
            </div>
        </div></form>
    </div>

    <div ng-show="vm.entries != null">
        <div class="panel-body" ng-show="vm.entries.length < 1"><p>Found no loans.</p></div>
        <div ng-show="vm.entries.length > 0">
            <div class="panel-body">
                <div class="form form-sm form-inline">
                    <label>Requested By User Name:</label>
                    <label>First:</label>
                    <input ng-model="vm.restoreUserFirstName" type="text" class="form-control"/>
                    <label>Last:</label>
                    <input ng-model="vm.restoreUserLastName"  type="text" class="form-control"/>
                </div>

                <p>Found <span ng-bind="vm.entries.length >= 100 ? '100 or more' : vm.entries.length"></span> loan<span ng-show="vm.entries.length > 1">s</span>.</p>
            </div>

            <div class="table-responsive"><table class="table table-striped table-condensed table-layout-fix">
                <thead><tr>
                    <th><!-- undelete --></th>
                    <th><a sort-handle="vm.entrySort" key="sOldLNm"             >Previous Loan Number</a></th>
                    <th><a sort-handle="vm.entrySort" key="DeletedD"            >Deleted Date        </a></th>
                    <th><a sort-handle="vm.entrySort" key="LoanStatus"          >Status              </a></th>
                    <th><a sort-handle="vm.entrySort" key="sPrimBorrowerFullNm" >Borrower            </a></th>
                    <th><a sort-handle="vm.entrySort" key="aBSsn"               >Borrower SSN        </a></th>
                    <th><a sort-handle="vm.entrySort" key="FullAddr"            >Address             </a></th>
                    <th><a sort-handle="vm.entrySort" key="sEmployeeLoanRepName">Loan Officer        </a></th>
                    <th><a sort-handle="vm.entrySort" key="sLienPosT"           >Lien Position       </a></th>
                    <th><a sort-handle="vm.entrySort" key="IsTemplate"          >Template            </a></th>
                    <th><a sort-handle="vm.entrySort" key="sLoanFileT"          >Loan File Type      </a></th>
                    <th>                                                         Audit History           </th>
                </tr></thead>
                <tbody><tr ng-repeat="e in vm.entries | orderBy:vm.entrySort.by:vm.entrySort.desc track by e.sLId">
                    <td><a ng-click="vm.undelete(e)" ng-attr-title="{{e.sLId}}">undelete</a></td>
                    <td><span ng-bind="e.sOldLNm                       " select-when-clicked></span></td>
                    <td><span ng-bind="e.DeletedD | date:'short'       " select-when-clicked></span></td>
                    <td><span ng-bind="e.LoanStatus                    " select-when-clicked></span></td>
                    <td><span ng-bind="e.sPrimBorrowerFullNm           " select-when-clicked></span></td>
                    <td><span ng-bind="e.aBSsn                         " select-when-clicked></span></td>
                    <td><span ng-bind="e.FullAddr                      " select-when-clicked></span></td>
                    <td><span ng-bind="e.sEmployeeLoanRepName          " select-when-clicked></span></td>
                    <td><span ng-bind="e.sLienPosT | sLienPosT2string  " select-when-clicked></span></td>
                    <td><span ng-bind="e.IsTemplate | isTemplate2string" select-when-clicked></span></td>
                    <td><span ng-bind="e.sLoanFileT                    " select-when-clicked></span></td>
                    <td><a ng-click="vm.viewAuditDetail(e)">view detail</a></td>
                </tr></tbody>
            </table></div>
        </div>
    </div>
</div>
