<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>USDA RD 1980-18 - Conditional Commitment for Single Housing Guarantee</h5></div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div class="lender-name"></div>
                    <div>
                        <a class="contact-link">Pick from Contacts</a>
                        <a>Add to Contacts</a>
                    </div>
                </div>
            </div>
            <div class="flex table-usda">
                <section>
                    <div class="table">
                        <div><div><label>Lender Name</label></div><div><lqb-input lqb-model="vm.loan.preparerFields.UsdaConditionalCommitment.CompanyName"></lqb-input></div></div>
                        <div><div><label>Address    </label></div><div><lqb-input lqb-model="vm.loan.preparerFields.UsdaConditionalCommitment.StreetAddr" placeholder="Street"></lqb-input></div></div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.UsdaConditionalCommitment.City" placeholder="City" class="form-control form-control-city" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.UsdaConditionalCommitment.State" placeholder="State"></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.UsdaConditionalCommitment.Zip" placeholder="ZIPCode"></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="table table-usda-borrower-id">
                        <div><div><label>USDA Borrower ID</label></div><div><lqb-input lqb-model="vm.loan.fields.sUsdaBorrowerId"></lqb-input></div></div>
                    </div>
                    <div class="table table-usda-borrower-id">
                        <div>
                            <div                ><label>Property State </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State" ></lqb-input></div>
                            <div class="country"><label>County         </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpCounty"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>State code </label></div><div><lqb-input class="form-control form-control-zipcode" lqb-model="vm.loan.fields.sUsdaStateCode"  maxlength="2"></lqb-input></div>
                            <div><label>County code</label></div><div><lqb-input class="form-control form-control-zipcode" lqb-model="vm.loan.fields.sUsdaCountyCode" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                    <div class="table table-usda-borrower-id">
                        <div><div><label>Total loan amount</label></div><div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt" readonly ></lqb-input></div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="table">
                <div>
                    <div></div>
                    <div><label>First name </label></div>
                    <div><label>Middle name</label></div>
                    <div><label>Last name  </label></div>
                    <div><label>Suffix     </label></div>
                    <div><label>SSN        </label></div>
                </div>
                <div>
                    <div><label>Borrower</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCombinedBorFirstNm" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCombinedBorMidNm"   readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCombinedBorLastNm"  readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCombinedBorSuffix"  readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCombinedBorSsn"     readonly></lqb-input></div>
                </div>
            </div>

            <div class="table table-usda-fee">
                <div><div><label>Up-front Guarantee fee </label></div><div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003"   readonly></lqb-input></div></div>
                <div><div><label>Note rate              </label></div><div><lqb-input lqb-model="vm.loan.fields.sNoteIR"        readonly></lqb-input></div></div>
                <div><div><label>Annual Fee             </label></div><div><lqb-input lqb-model="vm.loan.fields.sUsdaAnnualFee" readonly></lqb-input></div></div>
            </div>

            <div class="table">
                <div>
                    <div><label>Date of conditional commitment</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCommitmentReceivedD"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
