<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Calculated Credit Scores Used In Pricing Engine</h5></div>
        <div class="panel-body">
            <fieldset class="table creditScores-table">
                <div>
                    <div><h5>Type #</h5></div>
                    <div><h5>Description</h5></div>
                    <div><h5>Result Score</h5></div>
                </div>
                <div>
                    <div class="top-spacing">1</div>
                    <div>Middle of 3 or lower of 2 scores for the primary wage earner.</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditScoreType1"></lqb-input></div>
                </div>
                <div>
                    <div>2</div>
                    <div>
                        Lowest borrower using middle of 3 or lower of 2 for each borrower.
                        <br />Co-borrowers with ssn are also included in this calculation.
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditScoreType2"></lqb-input></div>
                </div>
                <div>
                    <div>2 soft</div>
                    <div>
                        Similar to score type #2 but co-borrowers without credit score
                        <br />are not included in this calculation.
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditScoreType2Soft"></lqb-input></div>
                </div>
                <div>
                    <div class="top-spacing">3</div>
                    <div>Average score of the primary borrower.</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditScoreType3"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-8"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Raw Scores</h5></div>
        <div ng-hide="true">
            <lqb-input lqb-model="vm.loan.fields.sApplicantList"></lqb-input>
            <lqb-input lqb-model="vm.loan.app.fields.aCMidNm"></lqb-input>
            <lqb-input lqb-model="vm.loan.app.fields.aCSuffix"></lqb-input>
        </div>
        <div class="panel-body">
            <fieldset class="table raw-score-table">
                <div>
                    <div class="table">
                        <div>
                            <div></div>
                            <div><h5>Experian</h5></div>
                            <div><h5>TransUnion</h5></div>
                            <div><h5>Equifax</h5></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table repeat-table" ng-repeat="applicant in vm.loan.sApplicantList.data">
                        <div>
                            <div><label ng-bind="applicant.aBNm.v"></label></div>
                            <div><lqb-input lqb-model="applicant.aBExperianScore" tabindex="10"></lqb-input></div>
                            <div class="text-center"><lqb-input lqb-model="applicant.aBTransUnionScore" tabindex="10"></lqb-input></div>
                            <div><lqb-input lqb-model="applicant.aBEquifaxScore" tabindex="10"></lqb-input></div>
                        </div>
                        <div ng-show="applicant.aBHasSpouse.v">
                            <div><label ng-bind="applicant.aCNm.v"></label></div>
                            <div><lqb-input lqb-model="applicant.aCExperianScore" tabindex="20"></lqb-input></div>
                            <div class="text-center"><lqb-input lqb-model="applicant.aCTransUnionScore" tabindex="20"></lqb-input></div>
                            <div><lqb-input lqb-model="applicant.aCEquifaxScore" tabindex="20"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-8"></div>
</div>
