<!-- require('./monthlyIncome.html') -->

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Other Income</h5></div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><h5>Applicant     </h5></div>
                    <div><h5>Description   </h5></div>
                    <div><h5>Monthly Income</h5></div>
                    <div></div>
                </div>
                <div ng-repeat="otherIncome in vm.loan.app.aOtherIncomeList.data">
                    <div><lqb-input lqb-model="otherIncome.isCo"></lqb-input></div>
                    <div><lqb-input lqb-model="otherIncome.desc"></lqb-input></div>
                    <div><lqb-input lqb-model="otherIncome.val"></lqb-input></div>
                    <div><button type="button"
                        ng-click="vm.deleteOtherIncome($index)"
                        ng-if="$index > 2"
                        class="btn btn-default">delete</button></div>
                </div>
            </fieldset>
            <p><a ng-click="vm.addOtherIncome()" class="btn btn-default">Add</a></p>

            <fieldset class="table">
                <div>
                    <div><label class="control-label">Total monthly income of all borrowers</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLTotI" class="form-control"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
