<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div></div>
                    <div lqb-load-fields="aBFirstNm aBLastNm aCFirstNm aCLastNm"></div>
                    <div><h5><span ng-bind="vm.loan.app.fields.aBFirstNm.v"></span> <span ng-bind="vm.loan.app.fields.aBLastNm.v"></span></h5></div>
                    <div><h5><span ng-bind="vm.loan.app.fields.aCFirstNm.v"></span> <span ng-bind="vm.loan.app.fields.aCLastNm.v"></span></h5></div>
                    <div><h5>Total</h5></div>
                </div>
                <div>
                    <div><label class="control-label"><a>Base Income</a></label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBBaseI" autofocus></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCBaseI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotBaseI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label"><a>Overtime</a></label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBOvertimeI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCOvertimeI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotOvertimeI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label"><a>Bonuses</a></label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBBonusesI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCBonusesI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotBonusesI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label"><a>Commission</a></label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBCommisionI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCCommisionI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotCommisionI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label"><a>Dividends / Interest</a></label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBDividendI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCDividendI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotDividendI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label"><a ng-click="vm.goTo('reo')">Net Rent</a></label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aNetRentI1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBNetRentI1003"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCNetRentI1003"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotNetRentI1003"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label">Subject Net Cash</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBSpPosCf"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCSpPosCf"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotSpPosCf"></lqb-input></div>
                </div>
                <div title="(see 'Describe Other Income' below)">
                    <div><label class="control-label">Other Income</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBTotOI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCTotOI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotOI"></lqb-input></div>
                </div>
                <div>
                    <div><label class="control-label">Application Total</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBTotI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCTotI"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotI"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
