<div class="panel">
    <div class="panel-body">
        <div class="clearfix">
            <span class="clipper">
                <a class="btn btn-primary" ng-click="vm.edit(null)">Add new</a></span>
            <span class="clipper">
                <button type="button" ng-click="vm.batchEdit()"
                    ng-disabled="vm.selectedPercent <= 0"
                    class="btn btn-default">Batch Edit</button></span>
        </div>
        <p></p>
        <form ng-submit="vm.reload()" class="form-label-noerror form-group-sm"><div class="row">
            <div class="col-sm-5"><div class="form-group form-group-sm">
                <label>File Name:</label>
                <input ng-model="vm.searchForm.FileName"
                       type="text" autocomplete="on"
                       class="form-control">
            </div></div>

            <div class="col-sm-3"><div class="form-group form-group-sm">
                <label>Enabled?</label>
                <select ng-model="vm.searchForm.Enabled"
                        ng-options="o.v as o.t for o in vm.yesNoOptions"
                         class="form-control"></select>
            </div></div>

            <div class="col-sm-3"><div class="form-group form-group-sm">
                <label>Dirty?</label>
                <select ng-model="vm.searchForm.Dirty"
                        ng-options="o.v as o.t for o in vm.yesNoOptions"
                         class="form-control"></select>
            </div></div>

            <div class="col-sm-1">
                <div class="form-group form-group-sm">
                    <label>&nbsp;</label>
                    <span class="clipper"><button type="submit" class="btn btn-primary btn-block">Search</button></span>
                </div>
            </div>
        </div></form>
    </div>

    <div class="table-responsive"><table class="table table-striped table-condensed table-layout-fix">
        <thead><tr>
            <th class="col1     "><input ng-click="vm.onSelectAll($event)" type="checkbox" checkbox-indeterminate="vm.selectedPercent"/></th>
            <th class="col-edit "></th>
            <th class="col-del  "></th>
            <th class="id       "><a sort-handle="vm.entrySort" key="ID"                 >ID                           </a></th>
            <th class="file-name"><a sort-handle="vm.entrySort" key="FileName"           >File Name                    </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="ExportType"         >Export Type                  </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="Worksheet"          >Worksheet Name               </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="Enabled"            >Enabled?                     </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="Dirty"              >Dirty?                       </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="dUpdated"           >Last Updated                 </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="LastUlResult"       >Last Upload Result           </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="ErrorCount"         >Error Count                  </a></th>
            <th class="         "><a sort-handle="vm.entrySort" key="UpdateMonitorEmails">Update Monitor Emails Fwd To:</a></th>
        </tr></thead>
        <tbody><tr ng-repeat="e in vm.entries | orderBy:vm.entrySort.by:vm.entrySort.desc track by e.ID" ng-class="{info: e.isSelected}">
            <td><input type="checkbox" ng-model="e.isSelected" ng-change="vm.onEntrySelect()"/></td>
            <td><a ng-click="vm.edit(e)">edit</a></td>
            <td><a ng-click="vm.delete(e)">delete</a></td>
            <td><span ng-bind="e.ID                     " select-when-clicked></span></td>
            <td><span ng-bind="e.FileName               " select-when-clicked></span></td>
            <td><span ng-bind="e.ExportType             " select-when-clicked></span></td>
            <td><span ng-bind="e.Worksheet              " select-when-clicked></span></td>
            <td><span ng-bind="e.Enabled                " select-when-clicked></span></td>
            <td><span ng-bind="e.Dirty                  " select-when-clicked></span></td>
            <td><span ng-bind="e.dUpdated | date:'short'" select-when-clicked></span></td>
            <td><span ng-bind="e.LastUlResult           " select-when-clicked></span></td>
            <td><span ng-bind="e.ErrorCount             " select-when-clicked></span></td>
            <td><span ng-bind="e.UpdateMonitorEmails    " select-when-clicked></span></td>
        </tr></tbody>
    </table></div>
</div>

<of-editor ng2-var="vm.ofEditor" on-saved="vm.reload()"></of-editor>
