<div class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-show="!vm.isBatchEdit">
                <span ng-hide="!vm.eEntry.ID">Modify</span>
                <span ng-show="!vm.eEntry.ID">Create</span>
                Output File Entry
            </span>
            <span ng-hide="!vm.isBatchEdit">
                Batch Edit Output Files
            </span>
        </h4>
    </div>
    <form name="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event)" novalidate>
        <div class="modal-body">
            <div class="form-group" ng-hide="!vm.eEntry.ID">
                <label>ID:</label>
                <input ng-model="vm.eEntry.ID" readonly
                    type="text"
                    title="(auto generated)"
                    class="form-control"/>
            </div>
            <div ng-show="vm.isBatchEdit">
                <table class="table">
                    <thead><tr>
                        <th>ID</th>
                        <th>File Name</th></tr></thead>
                    <tbody><tr ng-repeat="e in vm.entries track by e.ID">
                        <td ng-bind="e.ID"></td>
                        <td ng-bind="e.FileName"></td>
                    </tr></tbody>
                </table>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.FileName"/>
                    File Name:<span class="text-danger">*</span></label></div>
                <input ng-model="vm.eEntry.FileName"
                    type="text" required
                    ng-disabled="vm.isBatchEdit && !vm.batToggle.FileName"
                    class="form-control"/>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.ExportType"/>
                    Export Type:<span class="text-danger">*</span></label></div>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.ExportType" ng-value="'R'" required
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.ExportType"/> Rate options
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.ExportType" ng-value="'A'"
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.ExportType"/> Adjust Table
                </label>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Worksheet"/>
                    Worksheet Name:<span class="text-danger">*</span></label></div>
                <input ng-model="vm.eEntry.Worksheet"
                    type="text" required
                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Worksheet"
                    class="form-control"/>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Enabled"/>
                    Enabled?:</label></div>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.Enabled" ng-value="true"
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Enabled"/> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.Enabled" ng-value="false"
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Enabled"/> No
                </label>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Dirty"/>
                    Dirty?:</label></div>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.Dirty" ng-value="true"
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Dirty"/> Yes
                </label>
                <label class="radio-inline">
                    <input type="radio" ng-model="vm.eEntry.Dirty" ng-value="false"
                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Dirty"/> No
                </label>
            </div>

            <div class="form-group">
                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.UpdateMonitorEmails"/>
                    Update Monitor Emails Forwarded To:</label></div>
                <input ng-model="vm.eEntry.UpdateMonitorEmails"
                    type="text"
                    ng-disabled="vm.isBatchEdit && !vm.batToggle.UpdateMonitorEmails"
                    class="form-control"/>
            </div>
        </div>
        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
