.force-wrap {
    white-space: pre-wrap;
    white-space: pre-line;
    word-break : break-all;
    word-wrap  : break-word;
}
.col1{
    width: 20px;
}
.col-edit{
    width: 35px;
}
.col-del{
    width: 48px;
}
.id{
    width: 3%;
}
.file-name{
        width: 15%;
}