<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="table header-trustaccount">
				<div>
					<div>&nbsp;</div>
					<div><label>Item Description</label></div>
					<div class="wrap-date"><label>Date</label></div>
					<div>Account Payable</label></div>
					<div><label>Account Receivable</label></div>
				</div>	
			</div>
			<div class="table">
				<div>
					<div>&nbsp;</div>
					<div>&nbsp;</div>
					<div class="table">
						<div>
							<div class="wrap-date"><label></label></div>
							<div class="wrap-form-control"><label>Chk# / Credit Card #</label></div>
							<div class="wrap-money"><label>Amount</label></div>
							<div class="wrap-form-control"><label>Chk# / Credit Card # </label></div>
							<div><label>Amount</label></div>
						</div>
					</div>
				</div>
				<div>
					<div><label>1</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust1Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust1D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust1PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust1PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust1ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust1ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust1ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>2</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust2Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust2D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust2PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust2PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust2ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust2ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust2ReceivableN"></lqb-input></div>
				</div>

				<div>
					<div><label>3</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust3Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust3D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust3PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust3PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust3ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust3ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust3ReceivableN"></lqb-input></div>
				</div>

				<div>
					<div><label>4</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust4Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust4D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust4PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust4PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust4ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust4ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust4ReceivableN"></lqb-input></div>
				</div>

				<div>
					<div><label>5</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust5Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust5D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust5PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust5PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust5ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust5ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust5ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>6</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust6Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust6D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust6PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust6PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust6ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust6ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust6ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>7</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust7Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust7D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust7PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust7PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust7ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust7ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust7ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>8</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust8Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust8D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust8PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust8PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust8ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust8ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust8ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>9</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust9Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust9D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust9PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust9PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust9ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust9ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust9ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>10</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust10Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust10D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust10PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust10PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust10ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust10ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust10ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>11</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust11Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust11D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust11PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust11PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust11ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust11ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust11ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>12</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust12Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust12D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust12PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust12PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust12ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust12ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust12ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>13</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust13Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust13D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust13PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust13PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust13ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust13ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust13ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>14</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust14Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust14D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust14PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust14PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust14ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust14ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust14ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>15</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust15Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust15D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust15PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust15PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust15ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust15ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust15ReceivableN"></lqb-input></div>
				</div>
				<div>
					<div><label>16</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust16Desc"></lqb-input></div>
					<div class="table">
						<div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust16D"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust16PayableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust16PayableAmt"></lqb-input></div>
							<div class="wrap-form-control"><lqb-input lqb-model="vm.loan.fields.sTrust16ReceivableChkNum"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrust16ReceivableAmt"></lqb-input></div>
						</div>
					</div>
				</div>
				<div>
					<div>&nbsp;</div>
					<div><label>Notes:</label></div>
					<div><lqb-input lqb-model="vm.loan.fields.sTrust16ReceivableN"></lqb-input></div>
				</div>

				<div>
					<div></div>
					<div></div>
					<div class="table">
						<div>
							<div class="wrap-date">&nbsp;</div>
							<div class="wrap-form-control"><label>Total</label></div>
							<div class="wrap-money"><lqb-input lqb-model="vm.loan.fields.sTrustPayableTotal"></lqb-input></div>
							<div class="wrap-form-control">&nbsp;</div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrustReceivableTotal"></lqb-input></div>
						</div>
					</div>
				</div>

				<div>
					<div></div>
					<div></div>
					<div class="table">
						<div>
							<div class="wrap-date">&nbsp;</div>
							<div class="wrap-form-control"><label>Balance</label></div>
							<div class="wrap-money">&nbsp;</div>
							<div class="wrap-form-control"></div>
							<div><lqb-input lqb-model="vm.loan.fields.sTrustBalance"></lqb-input></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>