﻿body {
    background-color: gainsboro;
}

.DeliveriesTable {
    border-collapse: collapse;
}

.DeliveriesTable th, .DeliveriesTable td {
    padding-left: 5px;
    text-align: left;
}

.DeliveriesTable th, .DeliveriesTable span {
    white-space: nowrap;
}

.DeliveredToColumn {
    width: 100px;
}

.UcdFileColumn {
    min-width: 150px;
}

.DateOfDeliveryColumn, .FindingsColumn {
    width: 100px;
}

.CaseFileIdColumn, .CaseFileId {
    width: 150px;
}

.NoteColumn, .Note {
    width: 200px;
}

.IncludeInUlddColumn, .RemoveColumn{
    width: 25px;
}

td.tdIncludeInUldd {
    text-align: center;
}

input.ng-invalid, select.ng-invalid, .ucdFileDiv.ng-invalid {
    border: 3px solid red;
}