﻿body {
    background-color: gainsboro;
}

.RegionList {
    margin-left: 5px;
    margin-right: 5px;
}

.RegionTableDiv {
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.RegionTable {
    width: 750px;
    border-collapse: collapse;
    border: 1px solid black;
}

.RegionTable th, .RegionTable td {
    padding-left: 5px;
    border: 1px solid black;
    text-align: left;
}

.RegionTable th:first-child, .RegionTable th:nth-child(2) {
    width: 50px;
}

.RegionTable th:nth-child(3) {
    width: 250px;
}

.RegionTable th:nth-child(4) {
    width: 400px;
}

.ManageRegionSetsTableDiv {
    height: 325px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.ManageRegionSetsTable {
    width: 450px;
    border-collapse: collapse;
    border: 1px solid black;
}

.ManageRegionSetsTable th, .ManageRegionSetsTable td {
    padding-left: 5px;
    border: 1px solid black;
    text-align: left;
}

.ManageRegionSetsTable th:first-child {
    width: 50px;
}

.ManageRegionSetsTable th:nth-child(2) {
    width: 150px;
}

.ManageRegionSetsTable th:nth-child(3) {
    width: 250px;
}

.ManageRegionSetsTable td input[type='text'] {
    width: 95%;
}

.ManageRegionSetsButtonDivLeft, .RegionListLeft {
    float: left;
}

.ManageRegionSetsButtonDivRight, .RegionListRight {
    float: right;
}


.EditRegionTable {
    width: 100%;
    height: 325px;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.EditRegionTable td {
    padding-left: 5px;
    border: 1px solid black;
    text-align: left;
}

.EditRegionTable td:first-child {
    width: 100px;
}

.EditRegionTable > tbody > tr:last-child {
    height: 200px;
}

.EditRegionInfo {
    width: 100%;
    height: 75px;
    border: none;
    margin-left: -5px;
}

.EditRegionInfo td {
    border: none;
}

.EditRegionDescription {
    width: 95%;
}

.EditRegionStateSearch {
    width: 25px;
}

.EditRegionSelectDiv {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    background: white;
    margin-left: -5px;
    padding-left: 5px;
    position: relative;
}

.EditRegionStateGroup {
    margin-left: -5px;
    padding-left: 5px;
}

.EditRegionStateGroupSelected {
    background-color: Highlight;
}

.EditRegionButtonDiv {
    text-align: center;
}

#dialog-ManageRegionSets, #dialog-EditRegion {
    display: none;
}

input.ng-invalid {
    border: 3px solid red;
}