<%@ Page language="c#" Codebehind="VAEndorsementValue.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.VA.VAEndorsementValue" %>
<%@ Import Namespace="LendersOffice.AntiXss"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>VAEndorsementValue</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
    <link href=<%= AspxTools.SafeUrl(StyleSheet) %> type="text/css" rel="stylesheet">        
  </head>
  <body MS_POSITIONING="FlowLayout" class="RightBackground">
	
    <form id="VAEndorsementValue" method="post" runat="server">

     </form>
	
  </body>
</html>
