<div class="section">
    <div class="panel panel-default col-xs-6"><div class="panel-body">
        <fieldset class="table">
            <div>
                <div><label>Subject Prop Occupancy for <span ng-bind="vm.loan.app.fields.aBNm.v"></span></label></div>
                <div></div>
                <div><lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input></div>
            </div>
            <div>
                <div><label>Gross Rent</label></div>
                <div></div>
                <div><lqb-input lqb-model="vm.loan.fields.sSpGrossRent"></lqb-input></div>
            </div>
            <div>
                <div><label>Occupancy Rate</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sOccRLckd"></lqb-input></div>
                <div><lqb-input lqb-model="vm.loan.fields.sOccR"></lqb-input></div>
            </div>
            <div>
                <label>Primary Residence Subj Prop Can Have Rental Income</label>
                <div></div>
                <div><lqb-input lqb-model="vm.loan.fields.sSpCountRentalIForPrimaryResidToo"></lqb-input></div>
            </div>
            <div >
                <label>At least one borrower or coborrower will use subject property as primary residence</label>
                <div></div>
                <div style="vertical-align:top;"><lqb-input lqb-model="vm.loan.fields.sPrimResid"></lqb-input></div>
            </div>
        </fieldset>
    </div></div>
    <div class="col-xs-6">
        <div class="hidden" lqb-load-fields="aBNm" hidden></div>
    </div>
</div>
