﻿<div class="result-row" ng-class="::{'current' : rateOption.IsCurrent, 'historical' : rateOption.IsHistorical, 'paired' : rateOption.IsPaired, 'expired' :rateOption.IsRateExpired }">
    <div class="align-right" ng-if="!pricingSettings.IsNonQm">
        <div class="toggle-container" ng-click="toggleWorseRates(rateOption, rateOptionWinner)">

            <span ng-if="::(pricingSettings.sProdFilterDisplayrateMerge && !pricingSettings.IsPml && !group.IsIneligible)">Program Details</span>
            <span class="worst-rates-toggle" ng-if="::((rateOptionWinner.WorseRates.length > 1 && rateOption.UniqueChecksum == rateOptionWinner.UniqueChecksum) && pricingSettings.sProdFilterDisplayrateMerge && !group.IsIneligible)">{{rateOption.showWorseRates || rateOptionWinner.showWorseRates ? "−" : "+"}}</span>

            <span ng-if="::(!pricingSettings.IsPml && !pricingSettings.IsNonQm)">
                <img ng-if="rateOption.showDetails" class="icon arrow-icon" src="../images/Icon-UpArrow.svg" />
                <img ng-if="!rateOption.showDetails" class="icon arrow-icon" src="../images/Icon-DownArrow.svg" />
            </span>

        </div>

        <span ng-if="::(!pricingSettings.IsPml)">
            <img class="disqualified disqual-icon icon" ng-mouseover="setSelectedRate(rateOption)" ng-if="::rateOption.DisqualReason" src="../images/x-solo-icon.svg"><a class="select-option-link" ng-mouseover="setSelectedRate(rateOption)" ng-click="selectOption(program, rateOption)" ng-class="::{'disqualified' : rateOption.DisqualReason}">{{::(rateOption.IsHistorical || pricingSettings.GetResultsUsing == 1 ? "Historical" : "Current")}}</a>
        </span>

        <a ng-if="rateOption == firstRate" ng-click="backToFirst()">back to 1st lien</a>
        <a ng-disabled="(pricingSettings.Is8020PricingScenario && !pricingSettings.IsPricing2ndLoan) || (pricingSettings.EnableRenovationLoanSupport && pricingSettings.sIsRenovationLoan)" ng-if="::(rateOption.DisqualReason == null &&  rateOption != firstRate && !group.IsIneligible)" pinId="{{::rateOption.PinId}}" ng-click="pin($event, rateOption, program)">
            {{::(determinePinText(rateOption))}}
        </a>

        <span ng-if="::pricingSettings.IsPml && firstRate == null" class="select-option">
            <span>
                <a ng-if="::(rateOption.DisqualReason != null)" ng-click="viewRatePopup(rateOption, program, group, '.disqual-reason-popup')">unavailable</a>

                <span ng-if="::(rateOption.DisqualReason == null)">
                    <a ng-if="::(!pricingSettings.show2ndLienLink)" ng-click="selectOption($event, rateOption, program, group, false, false, false)" ng-disabled="::(IsActionDisabled(rateOption, group, 'register'))"><span>register</span></a>

                    <a ng-if="::(!pricingSettings.show2ndLienLink)" ng-click="selectOption($event, rateOption, program, group, true, false, false)" ng-disabled="::(IsActionDisabled(rateOption, group, 'lock'))">
                        <span ng-if="::pricingSettings.showSelectLink">select</span>
                        <span ng-if="::pricingSettings.showLockRateLink">
                            {{::(pricingSettings.IsAutoLock ? "lock rate" : "request lock")}}
                        </span>
                        <span ng-if="::(pricingSettings.isLockUnavailable || (rateOption.DisqualReason != null && pricingSettings.showLockUnavailableExpired))">lock unavailable</span>
                    </a>

                    <a ng-if="::pricingSettings.show2ndLienLink" ng-click="selectOption($event, rateOption, program, group, true, false, false)" ><span>price 2nd lien</span></a>
                </span>
            </span>
        </span>

        <div ng-if="rateOption.showDetails && pricingSettings.sProdFilterDisplayrateMerge" class="program-details-merged">
            <div>{{::rateOption.LpInvestorNm}}</div>
            <div>{{::rateOption.ProductCode}}</div>
        </div>
    </div>

    <div class="non-qm-filler" ng-if="pricingSettings.IsNonQm">
    </div>
    <div class="rate-col">
        {{::rateOption.Rate}}
    </div>
    <div class="price-col" ng-if="::(!pricingSettings.isCheckEligibility && pricingSettings.ShowPrice)">
        <img ng-if=" rateOption.IsEqual && rateOption.IsHistorical" class="pricing-flag icon" src="../images/Flag-Equal.svg" />
        <img ng-if="::rateOption.IsWorse" class="pricing-flag icon" src="../images/Flag-WorstCase.svg" />
        {{::rateOption.Price}}
    </div>
    <div class="point-col" ng-if="::(!pricingSettings.isCheckEligibility && !pricingSettings.ShowPrice)">{{::rateOption.Point}}</div>
    <div class="payment-col" ng-if="::!pricingSettings.IsNonQm">{{::rateOption.Payment}}</div>
    <div class="qual-rate-col" ng-if="::(!pricingSettings.IsNonQm && !pricingSettings.IsPml && pricingSettings.HasArmFilter)">{{::rateOption.QualRate}}</div>
    <div class="margin-col" ng-if="::(!pricingSettings.IsNonQm && !pricingSettings.IsPml)">{{::rateOption.Margin}}</div>
    <div class="dti-col" ng-if="::!pricingSettings.IsNonQm" ng-class="{'violate-max-dti' : rateOption.IsViolateMaxDti}"><a ng-click="viewRatePopup(rateOption, program, group, '.dti')">{{::rateOption.Dti}}</a></div>
    <div class="apr-col" ng-if="::!pricingSettings.IsNonQm" >{{::rateOption.Apr}}</div>
    <div class="qm-col" ng-if="::(!pricingSettings.IsNonQm && pricingSettings.showQm)">
        <img ng-if="::(rateOption.QmMode != null)" ng-src="{{::((rateOption.QmMode == '2' || rateOption.QmMode == '3') ? (rateOption.HpmMode == '2' ? '../images/warn.png' : '../images/pass.png') : '../images/fail.png')}}" />
    </div>
    <div class="closing-costs-col" ng-if="::!pricingSettings.IsNonQm" >
        <a ng-click="viewRatePopup(rateOption, program, group, '.closing-costs-breakdown')">{{::rateOption.ClosingCosts}}</a>
    </div>
    <div ng-if="::(!pricingSettings.IsNonQm && pricingSettings.IsDebugColumns)" class="cash-to-close-col">
        <a ng-click="viewRatePopup(rateOption, program, group, '.cash-to-close')">{{:: pricingSettings.IsUlad2019 ? rateOption.sTransNetCashUlad : rateOption.sTransNetCash}}</a>
    </div>
    <div class="months-col" ng-if="::!pricingSettings.IsNonQm" >
        <a ng-disabled="::(pricingSettings.IsBreakEvenMonths  || !pricingSettings.IsDebugColumns)" ng-click="viewRatePopup(rateOption, program, group, '.reserve-months')">{{pricingSettings.IsBreakEvenMonths ? rateOption.BreakEvenMonths : rateOption.Reserves}}</a>
    </div>
    <div ng-if="::(!pricingSettings.IsNonQm && pricingSettings.IsPml)" class="preview-col">
        <a ng-click="previewCert(rateOption, program)">{{::rateOption.LpTemplateNm}}</a>
    </div>
    <div ng-if="pricingSettings.IsNonQm" class="non-qm-select">
        <a ng-click="nonQmSelect(rateOption, program, pricingSettings.IsDocTypeBankStatement, group.IsIneligible, pricingSettings.ShowPrice)">{{group.IsIneligible ? "submit scenario" : "select rate"}}</a>
    </div>
</div>
