<team-picker>
<lq-modal ref="vm.teamPicker.setTPModal($ref)"  on-hide="vm.teamPicker.onTPModalHide($event)">
<slot-heading>Teams to select for underwriting team:</slot-heading>
    <slot-body>
        <div class="table">    
            <div>
                <div>
                    <label>
                        <label ng-class="vm.teamPicker.IsAssignedTeam ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.teamPicker.IsAssignedTeam = true">
                            <span class="material-icons">
                                <!-- require('../../../../images/Prototype/radio-button.svg') -->
                            </span>
                            <span>Assigned {{vm.teamPicker.Roledesc}} Teams</span>
                        </label>
                    </label>
                    <label>
                        <label ng-class="(!vm.teamPicker.IsAssignedTeam) ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.teamPicker.IsAssignedTeam = false">
                            <span class="material-icons">
                                <!-- require('../../../../images/Prototype/radio-button.svg') -->
                            </span>
                            <span>All {{vm.teamPicker.Roledesc}} Teams</span>
                        </label>
                    </label>
                </div>
            </div>
            <div>
                <div><button type="button" class="btn btn-default" ng-click="vm.teamPicker.search()">Search</button></div>
            </div>
        </div>
        

        <table ng-show="vm.teamPicker.teamGrid != null && vm.teamPicker.teamGrid.length != 0" class="secondary-table team-picker-table">
            <thead class="header nowrap">
                <th>Team Name</th>
            </thead>
            <tbody>
                <tr ng-repeat="team in vm.teamPicker.teamGrid track by $index">
                    <td>
                        <a href="javascript:void(0);" ng-bind="team.Name" ng-click="vm.teamPicker.assignTeam($index)"></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="wrap-button text-center">
            <button type="button" class="btn btn-default" ng-click="vm.teamPicker.clear()">Clear assignment</button>
            <button type="button" class="btn btn-default" ng-click="vm.teamPicker.cancel()">Cancel</button>
        </div>

    </slot-body>
    <slot-footer></slot-footer>
</lq-modal>
</team-picker>
