/* Utility classes */
.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

/* style.css overrides */
.form-alert-hint {
  top: auto;
  z-index: 0;
  display: inline-block;
  position: relative;
}

.main-nav-list > li:not(:first-child) > a::before {
  display: block;
  content: attr(title);
  font-weight: normal;
  height: 1px;
  color: transparent;
  overflow: hidden;
  visibility: hidden;
  margin-bottom: -1px; 
}

/* Internal seller dropdown */
.editable-select {
  display: inline-block;
  position: relative;
}

.editable-select,
.editable-select * {
  box-sizing: border-box;
}

.editable-select ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  position: absolute;
  -webkit-box-shadow: 0 2px 10px rgba(97, 109, 119, 0.4);
  -moz-box-shadow: 0 2px 10px rgba(97, 109, 119, 0.4);
  box-shadow: 0 2px 10px rgba(97, 109, 119, 0.4);
  overflow-y: auto;
}

.editable-select ul > li {
  /* Need an extra 10px padding left and right to account for the 20px dropdown arrow */
  padding: 21.5px 20px;
  background-color: #fff;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  color: #00435B;
  line-height: 23px;
  cursor: default;
  
}

.editable-select ul > li.active {
  color: #FFF;
  background-color: #009CE0;
}

.editable-select ul > li:not(:last-child) {
  border-bottom: 1px solid #AAB7C2;
}

.editable-select > input[type="text"] {
/*   padding-left: 8px; */
/*   padding-right: 8px; */
}

.editable-select > .dropdown-arrow,
.editable-select > .dropdown-arrow:hover {
  z-index: 100;
  background-image: url("../../../Assets/ic-dd-arrow.svg");
  background-position: left ;
  background-repeat: no-repeat;
  width: 20px;
  height: 36px;
  position: absolute;
  right: 10px;
  top: 0;
  cursor: default;

  
}

.editable-select > .dropdown-arrow:focus {
  outline-color: #666;
}

.editable-select > .dropdown-arrow.active {
  background-image: url("../../../Assets/ic-dd-arrow-act.svg");
}

.editable-select > input[type="text"]::-ms-clear {
  display: none;
}

/* Styling for upload file control */
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  text-transform: capitalize;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

/* This style needs to be added and removed using javascript whenever the hidden 
   file input is selected.  Focus should not be removed from the hidden file input 
   as that would cause keyboard events to not work as expected (e.g. hitting the 
   spacebar should bring up the browse dialog, but won"t if the focus is changed) */
.btn-file-focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  color: #fff;
  border-color: #009CE0;
  background-color: #009CE0;
}

/* Info link form labels */
.form-label > a,
.form-label > a:hover {
  text-decoration: none;
}

.form-label > a > label,
.form-label > a:hover > label {
  cursor: pointer;
}

/* Custom dropdown styles for the select seller context global dropdown */
.seller-context-select, 
.seller-context-select:focus,
.seller-context-textbox,
.seller-context-textbox:focus {
  width:auto;
  background-color: #E5E7EA;
  border-radius: 0;
  border-bottom: 4px solid #006693;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background-position: right 0px center;
  padding-left: 0;
  padding-right: 20px;
}

.seller-context-select > option, 
.seller-context-select:focus > option,
.seller-context-select > option:not(:disabled),
.seller-context-select:focus > option:not(:disabled) {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  padding: 21.5px 10px;
}
.seller-context-select > option:not(:disabled):hover {
        color: #FFF;
        background-color: #009CE0; 
 }

.single-seller-context {
  padding-right: 0;
}

/* Page level help link styles */
.floating-header i {
  font-size: 30px;
}

.ic-info:before {
  content: "\e900";
}

/* Page title links styles */
.floating-header > a {
  font-size: 30px;
  font-weight: 400;
  color: #006693;
  margin-right: 25px;
  text-decoration:none;
  padding:0;
}

.floating-header > a:hover {
  color: #009CE0;
}

/* Page title text style */
.floating-header > .title {
  margin-right: 25px;
}

.loadingModal {
  position: fixed;
  z-index: 999;
  top: 50%;
  left:50%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  filter: alpha(opacity = 75);
  opacity: 0.75;
  transform: translate(-50%, -50%);
}

.loadingModal > span {
  position: absolute;
  left: 0;
  width: 100%;
  /* Middle of the screen - 1/2 of the icon size - font size - padding between text and icon */
  top: calc(50% - 60px - 22px - 10px);
}

/* table sorting styles */

.fixed-table-container thead th .sortable {
    cursor: pointer;
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
}	

.fixed-table-container thead th .both {
    background-image: none;
}

.fixed-table-container thead th .asc {
    background-image: url('../../../Assets/ic-up-arrow-act.svg');
    background-size: 16px 11px;

}

.fixed-table-container thead th .desc {
    background-image: url('../../../Assets/ic-dd-arrow-act.svg');
    background-size:  16px 11px;
   
}
.file-upload-results-space{
	padding-top: 10px !important; display: inline-block;
}

.text-wrap{
	word-break: "break-all";
	-ms-word-break: break-all;
}
@media screen and (min-width:1280px) and (max-width:1400px) {
.table-responsive {
	
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
  
  .reduce-padding{
  padding-left: 8px;
  padding-right: 8px;
  background-position: right 8px center;  
  }
  
  
  .cte-text{
		  -moz-border-radius-bottomright: 4px;
		-webkit-border-bottom-right-radius: 4px;
		-ms-border-bottom-right-radius: 4px;	
		border-bottom-right-radius: 4px;
		-moz-border-radius-bottomleft: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-ms-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		padding: 12px 15px;
		display: inline-block;
		font-family: Roboto, Arial;
		font-weight: 700;
		text-decoration: none !important;
		background-color: #40cc5a;
		color: #FFF;
		font-size: 14px;
		letter-spacing: 0.76px;
		line-height: 17px;

}
   .header-fixed {
    width: 100% 
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}

.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.header-fixed > tbody {
    overflow-y: auto;
    height: 150px;
}

.header-fixed > tbody > tr > td,
.header-fixed > thead > tr > th {
    width: 20%;
    float: left;
}


.green-color{
	color:#40CC5A; 
	
}

.red-color{
	color:#DC3232;
	
}

.yellow-color{
	color:#FF970F;  
	
}

.float-left{

	float:left;
}

#content {
    display: table;
}

#pageFooter {
    display: table-footer-group;
}

#pageFooter:before {
    counter-increment: page;
    content: counter(page) ;
	
}


.results-div{
	
  	padding: 0px 20px 5px 20px;
	
}
.results-hr{
	height:1px;
  	margin:20px 20px 25px 20px; 
	background-color:#AAb7c2;
	border:0px;	
	color:#AAb7c2;
}

.results-icon-spacing{
	font-size:30px; 
	padding-left:30px; 
	margin-right:50px;
}

.dq-section-spacing{

margin:0px 0px 20px 20px;

padding:15px 20px 15px 20px !important;
}

.dq-results-div{
	padding: 0px 40px 5px 40px;
}
.dq-results-icon-spacing{
	font-size:30px; 
	padding-left:50px; 
	margin-right:50px;
}

.dq-results-hr{
	height:1px;
  	margin:20px 20px 18px 40px; 
	background-color:#AAb7c2;
	border:0px;
	color:#AAb7c2;
}
div.breakhere {
    page-break-before: always;
  
}

div.avoid-break{
 page-break-inside: avoid;


}
.word-wrap{
	word-wrap: break-word;
	word-break: break-word;
	-ms-word-break: break-word; 
	-ms-word-wrap: break-word;
}
.callout-md{
  font-family: Roboto, Arial;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.3125 !important;
  text-transform: none;
 }