@charset "UTF-8";
.rslts-cnt-paddRight{
  padding-left :5px;
  padding-right :20px;
  font-size:12px;
  color:#8E99A0;  
  float:left;
  margin-top:20px;
 }
 .evalMsgCount{
  font-size:22px;
  color:#009DD9;
  font-weight:700; 
  }
  .evalMsgSecHeader, .icon-padding{
  padding-right:20px;
  }
  .loanSectionHeader{
  font-size:18px !important;
/*   color:#616D77; */
   background-color: rgba(170, 183, 194, .1) ;
   padding: 10px 20px 10px 15px !important;
  }
  .loanSection{
  background-color: rgba(0, 156, 224, .1);
  padding:15px 20px 15px 15px;
  font-size:18px;
  }
  .sectionStatus{
  font-size:16px;
  padding-right:15px;
  color:#006693;
  }
 .filledGCircle{
	width:30px;
	height:30px;
	background-color:#40cc5A;
	border-radius:50px;
	font-size:13px;
	line-height:2em;
	color:#ffffff;
  }
  .filledYCircle{
	width:30px;
	height:30px;
	background-color:#ff970f;
	border-radius:26px;
	text-align:center;
	line-height:2em;
	font-size:13px;
	color:#ffffff;
  }
  .filledRCircle{
	width:30px;
	height:30px;
	background-color:#DC3232;
	border-radius:50px;
	text-align:center;
	line-height:2em;
	font-size:13px;
	color:#ffffff;
  }
  
  .parentDDIcon{
  
  font-size:24px;
  width:12px;
  color:#8E99A0;
  }
    
  .childDDIcon{
 
  font-size:16px;
  width:9px;
  color: #006693;
  
  }
  
 .msgIcon{
  height:24px;
  width:24px;
 }

.showAllActive{
	background-color:#009ce0;
	Box-shadow: inset 1px 1px 5px 0px #006693;
	background-image: url("../Asset/Expand_selected.png");
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #006693;
}

.showHideBtn{
	width:48px;
	height:33px;
/* 	-webkit-border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	-ms-border-radius: 4px; */
	display: inline-block;
	
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: 18px 18px;
	
}
.leftNavCount{
  font-size:13px;
  color:#009cE0;
  font-weight:400;
  padding-left:13px;
}
.msgTablePaddingBottom{
	padding-bottom:10px; 
/* 	margin-bottom:px; */
}

.msgToggleBtn{
	width:115px;
	height:35px;
	display: inline-block;
	background-position: center;
	background-size: 14px;
	border-radius: 5px 0px 0px 5px;
	border: 1px solid #AAB7c2;
	text-align:center;
	color:#8e99a0;
	line-height:17px;
	cursor: pointer;
	background-color:transparent;
	letter-spacing:.76px;
	font-size:14px;
	padding : 9px 15px 10px 15px;
	
}
.msgToggleActive{
	background-color:#009ce0;
	border: 1px solid #006693;
	Box-shadow: inset 1px 1px 5px 0px #006693;
	color:#ffffff;
	 cursor: default;
}
.showAllInActive{
	background-image: url("../Asset/Expand_not selected.png");
	border-radius: 5px 0px 0px 5px;
	background-color:transparent;
	border: 1px solid #AAB7C2;
}

.hideAllActive{
	Box-shadow: inset 1px 1px 5px 0px #006693;
	background-image: url("../Asset/contract_selected.png");
	border-radius: 0px 5px 5px 0px;
	background-color:#009ce0;
	border: 1px solid #006693;
}

.hideAllInActive{
	background-image: url("../Asset/contract_not selected.png");
	border-radius: 0px 5px 5px 0px;
	background-color:transparent;
	border: 1px solid #AAB7C2;
}
.rslts-icon-paddRight{
  padding-right :5px;
  height:35px;
/*   vertical-align: middle; */
  }
  
 .rsltsImage{
 vertical-align: middle;
 }
 .icon-align{
  vertical-align: middle;
 }

i{
    vertical-align: middle;
}
 div.rslts-section-status > span{
 float:right;
 padding-right:11px;
 }

.table th:first-child{
	width:150px;
}
  
.h4-label{
 padding-bottom:10px;
 }

 .tabs-container {
  margin: 0px 0px 50px; 
  }
 #msgsTab.tabs-container > .tabs-list > li:last-child {
 padding-right:0px;
 border:0px;
}
  
  .messageToggleContainer {
  position: relative;
}
 
.messageToggle {
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-word;
-webkit-hyphens: auto;
hyphens: auto;

}
 .techMessageToggle {
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-all;
-webkit-hyphens: auto;
hyphens: auto;

}
.messageToggleHidden {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .15s linear, visibility .15s linear;
  -moz-transition: opacity .15s linear, visibility .15s linear;
  -o-transition: opacity .15s linear, visibility .15s linear;
  transition: opacity .15s linear, visibility .15s linear;
  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
}

.messageToggleSwitch > img {
/*   -webkit-transition: all .15s linear; */
/*   -moz-transition: all .15s linear; */
/*   -o-transition: all .15s linear; */
/*   transition: all .15s linear; */
  height:30px;
  width:20px;
}

.messageToggleAll {
  position: relative;
  float: right;
  z-index: 99;
  top: 23px;
  border: 1px solid #AAB7C2;
  padding: 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-collapse: collapse;
  line-height:34px;
  border-bottom: 0px;
}

.messageToggleAll label {
  cursor: pointer;
}

.messageToggleAll input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.messageToggleAll .slider {
  position: absolute;
  bottom: 3px;
  background: #009CE0;
  color: #fff;
  clip: rect(0, 4.4em, 1.9em, 0);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.messageToggleAll input[type="checkbox"]:checked ~ .slider {
  clip: rect(0, 10.1em, 4.5em, 5.4em);
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.messageToggleAll .sliderBorder {
  background: #009CE0;
  z-index: -9999;
  position:absolute;
  bottom: 1px;
  left: 1px;
  box-sizing: content-box;
  width: 4.6em;
  height: 2.0em;
  border: solid 2px #009CE0;
  border-radius: 2px;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.messageToggleAll input[type="checkbox"]:checked ~ .sliderBorder {
  left: 5.0em;
  width: 4.7em;
  -webkit-transition: all .15s ease;
  -moz-transition: all .15s ease;
  -o-transition: all .15s ease;
  transition: all .15s ease;
}

.messageToggleAllPadding {
  margin-right: 21px;
}

.messageToggleAllHeader {
  position: absolute;
  top: -2.2em;
  left: 13px;
  font-size: 14px;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  verticle-align:middle;
}
  
  .textRight {
  text-align: right;
}

.content >hr{
	marigin-top:0px;
}

a i:parent {
	text-decoration:none;
}

.ellipses{
  overflow-x: hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
  display: block;
}

.msggi17{
	 color: #DC3232;
}

.padding10 {
	padding-top: 10px;
}

.logo
{
	
	height:35px;
}

.logo1{
	 vertical-align: middle;
}

.line{
	border-bottom-color:#AAB7C2; 
	border-bottom-width: 1px; 
	border-bottom-style: solid;
}

.logo2{
	padding-top:10px; 
	margin-top:10px; 
	border-top: 4px solid #009CEO;
}

.footerLogo{
	margin-top: 500px; 
	margin-left: -140px;
}

.pageLogo{
	padding-top: 500px; 
	padding-left: 150px;
}

.word-wrap{
	word-wrap: break-word;
	word-break: break-word;
	-ms-word-break: break-word; 
	-ms-word-wrap: break-word;
}

.section-table-header {
		
      background-color: rgba(37, 187, 239, 0.2); 
      font-size: 12px;
      font-weight: 700;
      color: #006693;
      line-height: 16px;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 20px;
      text-transform: uppercase; 
	  }

 .section-sub-header{
 padding: 10px 20px 10px 15px; 
 font-size: 18px; 
 background-color: rgba(170, 183, 194, 0.1);
 border-radius: 4px;

 }  
 
.section-sub-headerDiv{
  padding: 15px 0px 10px 20px; 
 } 
 
 .msgTablepadding{
 padding-left :30px;
 padding-right:20px;
 }  
 
 .ic-up-arrow{
  background-image: url('../Asset/ic-up-arrow.svg');
  font-size:24px;
  width:12px;
  color:#006693;
 }
 
.ic-dd-rotate-180 {
 
 -ms-transform: rotate(180deg); /* IE 9 */
 -ms-transform-origin: center bottom; /* IE 9 */
 -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
 -webkit-transform-origin: center bottom; /* Chrome, Safari, Opera */
 -moz-transform:rotate(180deg); 
 transform: rotate(180deg);
 transform-origin: center bottom;

}

.not-active {
   pointer-events: none;
   cursor: default;
}
.tabs-disabled{
	color: #ffffff;
	cursor: default; 
	background-color: #AAB7C2;
	
}

.results-margin{
 margin-left:8.46% !important;
}