.tabs {
  position: relative;   
  min-height: 200px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}
.tab {
  float: left;
}
.tab label {
  /*background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; */
  
   padding: 20px 30px;

	display: block;
	color: #006693;
	font-size: 26px;
	font-weight: 300;
	line-height: 26px;
	text-decoration: none;
	 margin-left: 5px; 
		float: left;
      border-top: 1px solid #AAB7C2;
      border-left: 1px solid #AAB7C2;
      margin-top: 3px;
      margin-bottom: -1px; 
    background-color: #FFF;
}

.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
 
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
    
  
}
[type=radio]:checked ~ label {
 background: white;
  border-bottom: 1px solid white;
  z-index: 2;
  border-top: 4px solid #009CE0;
	border-left: 1px solid #AAB7C2;
	border-right: 1px solid #AAB7C2;
	margin-top: 0px;
	margin-bottom: 1xp;
	background-color: #FFF;
	
}
[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}