
<lq-modal ref="vm.modal = $ref">
    <slot-heading>Lender</slot-heading>
    <slot-body>
        <div class="panel-heading">
            <h5 ng-show="vm.isBorrower">Borrower Aliases </h5>
            <h5 ng-hide="vm.isBorrower">Coborrower Aliases </h5>
        </div>
        <div class="hidden" lqb-load-fields="aBAliases" hidden></div>
        <div class="hidden" lqb-load-fields="aCAliases" hidden></div>
        <table>
            <tr ng-repeat="alias in vm.getAliases()">
                <td><lqb-input lqb-model="alias"></lqb-input></td>
                <td><button  type="button" class="btn-sm" ng-click="vm.deleteAlias($index)">Delete</button></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" ng-model="vm.newAlias"></td>
                <td><button  type="button" class="btn-sm" ng_click="vm.addAlias()">Add</button></td>
            </tr>
        </table>
        <div class="panel-heading"><h5>Power of Attorney </h5></div>        
        <div class="table">
            <div>
                <div><label> POA Name</label></div>
                <div  ng-if="vm.isBorrower" ng-repeat="AttorneyNm in [vm.loan.app.fields.aBPowerOfAttorneyNm]">
                    <lqb-input lqb-model="AttorneyNm"></lqb-input>
                </div>
                <div  ng-if="!vm.isBorrower" ng-repeat="AttorneyNm in [vm.loan.app.fields.aCPowerOfAttorneyNm]">
                    <lqb-input lqb-model="AttorneyNm"></lqb-input>
                </div>
            </div>
        </div>
    </slot-body>
    <slot-footer>
        <div class="text-center">
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.done()" data-dismiss="modal">OK</button></span>
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.cancel()" data-dismiss="modal">Cancel</button></span>
        </div>
    </slot-footer>
</lq-modal>