A:Active {
text-decoration: underline
}

A:Hover {
	text-decoration: underline;
	color: #0066CC;
}
body {
	font-family: Verdana, Helvetica, sans-serif;
}

.fieldTable
{
	border-right: #cccccc 1px solid;
	table-layout: auto;
	border-top: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
}
.fieldLabel {
	font-family : Verdana ;
	font-weight: bold;
	font-size: 10px;
	color: #666666;
}
.hiddenadj {
    display: none;
}
.sup {
    position: relative;
    bottom: 5px;
    font-size: 9px; 
}
.fieldData 
{
	font-family : Verdana ;
	font-weight: bold;
	color: #000000;
	font-size: 10px;
}
.fieldDataNonbold
{
	font-family : Verdana ;
	color: #000000;
	font-size: 10px;
}

.disqualified {
    display: none;
}
.fieldGroup
{
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
	font-family: Arial;
}
.certTitle
{
	font-weight: bold;
	font-size: 16px;
	color: #000000;
	font-family: Arial;
}
.sectionHeader
{
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 5px;
	color: navy;
}
.disclaimer
{
	font-size: 14px;
	color: red;
	font-weight: bold;
	font-style: italic;
	font-family: 'Arial';
}
.pagebreak {
	page-break-before: always;
}
.fieldTableLabel
{
	font-family : Verdana ;
	font-weight: bold;
	font-size: 10px;
	background-color: #DDEEFF;
}
.AUMessage
{
	font-weight: bold;
	font-size: 12px;
	font-family: Verdana;
	color: Black;
}
.AUSuccess
{	
	color: green;
	text-decoration: underline;
}
.AUFailed
{
	color: red;
	text-decoration: underline;
}
.SelectedRate 
{
    text-decoration:underline;
    font-weight:bold;
    font-size:10px;
    color:black;
}

#QMDiag {
    display: none;
    background-color: White;
}
#QMDiag ul {
    list-style: none;
    margin: 0 0 0 2px; 
}

a.noo { text-decoration: none; outline: 0; }
a.noo :hover, a.noo :active, a.noo :focus { outline: none; }
a.noo img { border: 0; }