<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Contract Period</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaContractDays"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Estimate Market Value</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBorrEstimateSpVal"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Estimate Balance</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBorrEstimateExistingMBal"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Deposit</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBorrDeposit"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Mortgage Broker Fee</label></div>
                    <div class="mortgage-broker">
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBrokerFeeR"></lqb-input>+
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBrokerFeeMb"></lqb-input>=
                        <lqb-input lqb-model="vm.loan.fields.sFloridaBrokerFee"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Additional Compensation</label></div>
                    <div class="mortgage-broker">
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMinR"></lqb-input>+
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMinMb"></lqb-input>=
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMin"></lqb-input>
                    </div>
                </div>
                <div>
                    <div class="text-right"><label>To</label></div>
                    <div class="mortgage-broker">
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMaxR"></lqb-input>+
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMaxMb"></lqb-input>=
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAdditionalCompMax"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Application Fee</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaAppFee"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaIsAppFeeRefundable" ng-value="true" li-type="radio"  label="Refundable    "></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaIsAppFeeRefundable" ng-value="false" li-type="radio" label="Non refundable"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sFloridaIsAppFeeApplicableToCc" label="Applicable"></lqb-input>                             
                    </div>
                </div>
                <div>
                    <div><label>Prepare By</label></div>
                    <div>
                        <lqb-input class="form-control form-control-prepare-by" lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.PreparerName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Company Name</label></div>
                    <div>
                        <lqb-input class="form-control form-control-prepare-by" lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.CompanyName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>License Number</label></div>
                    <div>
                        <lqb-input class="form-control form-control-prepare-by" lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.LicenseNumOfCompany"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8"></div>
</div>
