﻿<style>
    .checkbox-pu{
        margin-left: 0px !important;
    }
    .label-checkbox2-pu{
        display: inline !important;
    }
    .checkbox2-pu{
        margin-left: 8px !important;
    }
</style>
<div id="editEntryModal" class="modal fade v-middle"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-show="!vm.isBatchEdit" ng-attr-title="vm.entry.PlanCodeId">
                <span ng-hide="vm.isCreating">Modify</span>
                <span ng-show="vm.isCreating">Create</span>
                Acceptable Ratesheet File
            </span>
            <span ng-hide="!vm.isBatchEdit">Batch Edit Acceptable Ratesheet Files</span>
        </h4>
    </div>
    <form name="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.saveFile($event)">
        <div class="modal-body">
            <div class="row">
                <div ng-class="vm.isBatchEdit ? 'col-sm-6' : 'col-sm-12'">
                    <div class="form-group" ng-hide="vm.isBatchEdit">
                        <label>Output Filename (unique name):<span class="text-danger" ng-show="!vm.isBatchEdit">*</span></label>
                        <input ng-model="vm.entry.LpeAcceptableRsFileId" type="text"
                            ng-required="vm.isCreating && !vm.isBatchEdit"
                            ng-disabled="!vm.isCreating || vm.isBatchEdit"
                            class="form-control"/>
                    </div>

                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.DeploymentType"/>
                            Deployment type:</label></div>
                        <select ng-model="vm.entry.DeploymentType"
                            ng-options="o as o for o in vm.deploymentTypes track by o"
                            ng-disabled="(vm.isBatchEdit && !vm.batToggle.DeploymentType)"
                            class="form-control"></select>
                    </div>

                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}">
                            <input class="checkbox-pu" type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.IsBothRsMapAndBotWorking"/>
                            <label class="label-checkbox2-pu">
                                Both Map &amp; Bot Are OK:
                                <input class="checkbox2-pu" ng-model="vm.entry.IsBothRsMapAndBotWorking"
                                        type="checkbox"
                                        ng-disabled="(vm.isBatchEdit && !vm.batToggle.IsBothRsMapAndBotWorking)" />
                            </label>
                        </div>
                    </div>

                    <div ng-if="vm.isBatchEdit" class="form-group">
                        <div class="checkbox">
                            <input class="checkbox-pu" type="checkbox" ng-model="vm.batToggle.IsExpirationIssuedByInvestor"/>
                            <label class="label-checkbox2-pu">
                                Latest Expired?
                                <input class="checkbox2-pu" ng-model="vm.entry.IsExpirationIssuedByInvestor"
                                        type="checkbox"
                                        ng-disabled="(vm.isBatchEdit && !vm.batToggle.IsExpirationIssuedByInvestor)" />
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                            <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.InvestorXlsFileId"/>
                            Investor XLS ID:</label></div>
                        <select ng-model="vm.entry.InvestorXlsFileId"
                            ng-options="o.InvestorXlsFileId as o.DisplayName for o in vm.investorXslFiles"
                            ng-disabled="(vm.isBatchEdit && !vm.batToggle.InvestorXlsFileId)"
                            class="form-control"></select>
                    </div>
                </div>

                <div ng-if="vm.isBatchEdit" class="col-sm-6">
                    <div class="form-group">
                        <label>Output Filename:</label>
                        <ul><li ng-repeat="e in vm.batchEditEntries">{{e.LpeAcceptableRsFileId}}</li></ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
