﻿<div class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-hide="vm.entry.VersionNumber == null">Modify</span>
            <span ng-show="vm.entry.VersionNumber == null">Create</span>
            Acceptable Ratesheet File Version
        </h4>
    </div>
    <form name="fvEditorForm" class="form-group-sm form-adjust-mb" ng-submit="vm.saveFv($event)">
        <div class="modal-body">
            <div class="form-group">
                <label>Output Filename:</label>
                <input ng-model="vm.entry.LpeAcceptableRsFileId"
                    type="text" disabled
                    class="form-control"/>
            </div>

            <div class="form-group" ng-hide="(vm.entry.VersionNumber == null)">
                <label>Version:</label>
                <input ng-model="vm.entry.VersionNumber"
                    type="text" disabled
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>First Effective:</label>
                <input ng-model="vm.entry.FirstEffectiveDateTime"
                    type="datetime-local" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Last Effective:</label>
                <input ng-model="vm.entry.LatestEffectiveDateTime"
                    type="datetime-local" required
                    class="form-control"/>
            </div>

            <div class="form-group" ng-hide="(vm.entry.VersionNumber == null)">
                <label>Created Date:</label>
                <input ng-model="vm.entry.EntryCreatedD"
                    type="datetime-local" disabled
                    class="form-control"/>
            </div>

            <div class="form-group" ng-hide="(vm.entry.VersionNumber == null)">
                <label>Modified Date:</label>
                <input ng-model="vm.entry.ModifiedD"
                    type="datetime-local" disabled
                    class="form-control"/>
            </div>

            <div class="checkbox"><label>
                <input type="checkbox" ng-model="vm.entry.IsExpirationIssuedByInvestor">
                Expired
            </label></div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
