﻿<div class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close hidden" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <div class="pull-right">
            <a class="btn btn-default pull-right" ng-click="vm.editFv(null)">Create</a>
        </div>
        <h4 class="modal-title">Acceptable Ratesheet File Version</h4>
    </div>
    <div class="modal-body"></div>
        <div class="table-responsive"><table class="table table-striped table-condensed">
            <thead><tr>
                <th title="edit"></th>
                <th title="delete"></th>
                <th><a sort-handle="vm.fvSort" key="LpeAcceptableRsFileId"       class="output-filename">Output Filename </a></th>
                <th><a sort-handle="vm.fvSort" key="VersionNumber"               >Version         </a></th>
                <th><a sort-handle="vm.fvSort" key="FirstEffectiveDateTime"      >First Effective </a></th>
                <th><a sort-handle="vm.fvSort" key="LatestEffectiveDateTime"     >Latest Effective</a></th>
                <th><a sort-handle="vm.fvSort" key="IsExpirationIssuedByInvestor">Expired         </a></th>
                <th><a sort-handle="vm.fvSort" key="EntryCreatedD"               >Created Date    </a></th>
                <th><a sort-handle="vm.fvSort" key="ModifiedD"                   >Modified Date   </a></th>
            </tr></thead>
            <tbody><tr ng-repeat="e in vm.entry.fileVersions | orderBy:vm.fvSort.by:vm.fvSort.desc track by $index">
                <td><a ng-click="vm.editFv  (e)">edit  </a></td>
                <td><a ng-click="vm.deleteFv(e)">delete</a></td>
                <td><span ng-bind="e.LpeAcceptableRsFileId"        select-when-clicked></span></td>
                <td><span ng-bind="e.VersionNumber"                                   ></span></td>
                <td><span ng-bind="e.FirstEffectiveDateTime  | date:'short'"          ></span></td>
                <td><span ng-bind="e.LatestEffectiveDateTime | date:'short'"          ></span></td>
                <td><input type="checkbox" ng-model="e.IsExpirationIssuedByInvestor" ng-click="vm.toggleExpiration(e, $event)"></td>
                <td><span ng-bind="e.EntryCreatedD | date:'short'"                    ></span></td>
                <td><span ng-bind="e.ModifiedD     | date:'short'"                    ></span></td>
            </tr></tbody>
        </table></div>

    <div class="modal-footer">
        <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
    </div>
</div></div></div>

<fv-editor ng2-var="vm.fvEditor" on-close="vm.onFvEditComplete();"></fv-editor>
