<div class="section">
    <div class="panel panel-default col-xs-6">
        <div class="panel-heading ">
            <h5>Borrower's Current Residence</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table table-phe">
                <div>
                    <div>
                        <label>Rent</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresRent"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>1st Mortgage (P & I)</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPres1stM"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Other Financing (P & I)</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresOFin"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Hazard Insurance Amount or Notes</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresHazIns"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Real Estate Taxes Amount or Notes</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresRealETx"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Mortgage Insurance Amount or Notes</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresMIns"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Homeowner Association Dues</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresHoAssocDues"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresOHExpDesc" placeholder="Other Housing Expense Description"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresOHExp"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Total (for this application)</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aPresTotHExp"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Subject property occupancy type</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <label>Present Housing Expense Included in Ratios</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPresLTotPersistentHExp"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
