<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Broker Name</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.CompanyName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Broker Address</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.StreetAddr" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-email" lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.State" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Broker Phone</label></div>
                    <div>
                        <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.PhoneOfCompany" li-type="phone"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Broker Fax</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.FaxOfCompany" li-type="phone"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Name of Law</label></div>
                    <div>
                        <lqb-input class="form-control form-control-email" lqb-model="vm.loan.fields.sMBrokerNmOfLaw"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Date</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanOrigAgreement.PrepareDate"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
