<div class="section">
    <div class="panel panel-default panel-borrinfo">
        <div class="panel-heading">
            <h5>Borrower Information</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>First Name</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBFirstNm" maxlength="21"></lqb-input></div>
                                <div class="nowrap">Middle Name</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBMidNm" maxlength="21"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Last Name</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBLastNm" maxlength="21"></lqb-input></div>
                                <div>Suffix</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBSuffix"></lqb-input></div>
                                <div><a class="nowrap" ng-click="vm.editAliasesPOA(true)">Edit Aliases/POA</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>SSN</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBSsn"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>DOB</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBDob"></lqb-input></div>
                                <div>Age</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBAge" maxlength="3"></lqb-input></div>
                                <div>Yrs. School</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBSchoolYrs" maxlength="3"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Citizenship</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aProdBCitizenT"></lqb-input></div>
                                <div class="nowrap">see <a ng-click="vm.goTo('declarations')">declarations</a> items j & k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Marital Status</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBMaritalStatT"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>No. of Deps</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBDependNum" maxlength="3" title="(not listed by Co-Borrower)"></lqb-input></div>
                                <div>Dependents' Ages</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBDependAges"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Home Phone</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBHPhone"></lqb-input></div>
                                <div>Cellphone</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBCellphone"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Work Phone</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBBusPhone"></lqb-input></div>
                                <div>Fax</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBFax"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Email</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBEmail"></lqb-input></div>
                                <div><a ng-href="mailto:{{vm.loan.app.fields.aBEmail.v}}" target="_blank" tabindex="-1">send email</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Type</div>
                    <div><div class="table"><div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBTypeT"></lqb-input></div>
                    </div></div></div>
                </div>
                <div ng-show="vm.loan.fields.sLPurposeT.v == vm.E_sLPurposeT.Purchase">
                    <div></div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aBTotalScoreIsFthb" label="First Time Home Buyer?"></lqb-input></div>
                            </div>
                            <div>
                                <div>see <a ng-click="vm.goTo('declarations')">declarations</a> item m</div>
                            </div>
                            <div>
                                <div ng-show="vm.loan.app.fields.aBTotalScoreIsFthb.v">
                                    <lqb-input lqb-model="vm.loan.app.fields.aBHasHousingHist" label="Has Housing History?"></lqb-input> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!!vm.loan.BrokerDB.IsCreditUnion">
                    <div>Member ID</div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBCoreSystemId"></lqb-input></div>
                </div>
                <div>
                    <div>Veteran</div>
                    <div>
                        <div class="table">
                            <div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBIsVeteran" ng-value="true"  li-type="radio" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBIsVeteran" ng-value="false" li-type="radio" label=" No"></lqb-input>
                                </div>
                                <div>
                                    <label class="control-label-surviving-sov">Surviving Spouse of Veteran</label>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBIsSurvivingSpouseOfVeteran" ng-value="true"  li-type="radio" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aBIsSurvivingSpouseOfVeteran" ng-value="false" li-type="radio" label="No"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-heading">
            <div class="clearfix">
                <h5 class="pull-left">Present Address</h5>
                <p class="pull-right"><a class="btn btn-default" ng-click="vm.fillPresentAddress()">Copy from property address</a></p>
            </div>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div class="table">
                        <div>
                            <div>Street</div>
                            <div>City</div>
                            <div>ST</div>
                            <div>Zip</div>
                            <div>Own/Rent</div>
                            <div># Yrs</div>
                        </div>
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBCity" placeholder="City"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBState" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBZip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div>Mailing Address</div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrMailSourceT"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrMail" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBCityMail"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBStateMail"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBZipMail"></lqb-input></div>
                            <div><a class="btn btn-default" ng-click="vm.EditVOR(true);" ng-class="{disabled:vm.enableEditVorB}">Edit VOR</a></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div>Former Addresses</div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1Addr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1City" placeholder="City" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1State" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1Zip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1AddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev1AddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2Addr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2City" placeholder="City" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2State" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2Zip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2AddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBPrev2AddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div>Address After Closing</div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrPostSourceTLckd"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrPostSourceT"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBAddrPost" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBCityPost" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBStatePost"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aBZipPost"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="panel panel-default panel-borrinfo">
        <div class="panel-heading">
            <div class="clearfix">
                <h5 class="pull-left">Co-borrower Information</h5>
                <p class="pull-right"><a class="btn btn-default" ng-click="vm.onCopyBorrowerClick()">Copy from borrower</a></p>
            </div>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>First Name</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCFirstNm" maxlength="21"></lqb-input></div>
                                <div class="nowrap">Middle Name</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCMidNm" maxlength="21"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Last Name</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCLastNm" maxlength="21"></lqb-input></div>
                                <div>Suffix</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCSuffix"></lqb-input></div>
                                <div><a class="nowrap" ng-click="vm.editAliasesPOA(false)">Edit Aliases/POA</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>SSN</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCSsn"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>DOB</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCDob"></lqb-input></div>
                                <div>Age</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCAge" maxlength="3"></lqb-input></div>
                                <div>Yrs. School</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCSchoolYrs" maxlength="3"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Citizenship</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aProdCCitizenT"></lqb-input></div>
                                <div class="nowrap">see <a ng-click="vm.goTo('declarations')">declarations</a> items j & k</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Marital Status</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCMaritalStatT"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>No. of Deps</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCDependNum" maxlength="3" title="(not listed by Borrower)"></lqb-input></div>
                                <div>Dependents' Ages</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCDependAges"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Home Phone</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCHPhone"></lqb-input></div>
                                <div>Cellphone</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCCellphone"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Work Phone</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCBusPhone"></lqb-input></div>
                                <div>Fax</div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCFax"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Email</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCEmail"></lqb-input></div>
                                <div><a ng-href="mailto:{{vm.loan.app.fields.aCEmail.v}}" target="_blank" tabindex="-1">send email</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>Type</div>
                    <div>
                        <div class="table">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aCTypeT"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.loan.fields.sLPurposeT.v == vm.E_sLPurposeT.Purchase">
                    <div></div>
                    <div>
                        <div class="table">
                            <div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCTotalScoreIsFthb" label="First Time Home Buyer?"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div>see <a ng-click="vm.goTo('declarations')">declarations</a> item m</div>
                            </div>
                            <div>
                                <div ng-show="vm.loan.app.fields.aCTotalScoreIsFthb.v">
                                    <lqb-input lqb-model="vm.loan.app.fields.aCHasHousingHist" label="Has Housing History?"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="!!vm.loan.BrokerDB.IsCreditUnion">
                    <div>Member ID</div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCCoreSystemId"></lqb-input></div>
                </div>
                <div>
                    <div>Veteran</div>
                    <div>
                        <div class="table">
                            <div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCIsVeteran" ng-value="true" li-type="radio"  label="Yes"></lqb-input> 
                                    <lqb-input lqb-model="vm.loan.app.fields.aCIsVeteran" ng-value="false" li-type="radio" label="No "></lqb-input>
                                </div>
                                <div>
                                    <label class="control-label-surviving-sov">Surviving Spouse of Veteran</label>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCIsSurvivingSpouseOfVeteran" ng-value="true" li-type="radio"  label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aCIsSurvivingSpouseOfVeteran" ng-value="false" li-type="radio" label="No "></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-heading">
                <h5>Present Address</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div class="table">
                        <div>
                            <div>Street</div>
                            <div>City</div>
                            <div>ST</div>
                            <div>Zip</div>
                            <div>Own/Rent</div>
                            <div># Yrs</div>
                        </div>
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCCity" placeholder="City"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCState" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCZip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div>Mailing Address</div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrMailSourceT"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrMail" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCCityMail"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCStateMail"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCZipMail"></lqb-input></div>
                            <div><a class="btn btn-default" ng-click="vm.EditVOR(false);" ng-class="{disabled:vm.enableEditVorC}">Edit VOR</a></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div><div>Former Addresses</div></div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1Addr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1City" placeholder="City" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1State" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1Zip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1AddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev1AddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2Addr" placeholder="Street" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2City" placeholder="City" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2State" placeholder="State"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2Zip" placeholder="ZIPCode"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2AddrT"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCPrev2AddrYrs" maxlength="3"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div>Address After Closing</div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrPostSourceTLckd"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrPostSourceT"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCAddrPost" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCCityPost" maxlength="36"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCStatePost"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCZipPost"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div lqb-load-fields="sLPurposeT"></div>
<borrower-aliases-modal ref="vm.aliasesModal = $ref" on-changed="vm.onAlternateLenderChanged()"></borrower-aliases-moda>