<div class="section">
    <div class="panel panel-default panel-borrinfo-full">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div class="table">
                        <div>
                            <div><strong>Subject property occupancy type</strong></div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div tooltip="The income or assets of a person other than the &quot;Borrower&quot; (including the Borrower's spouse) will be used as a basis for loan qualification.">
                        <label class="checkbox-inline">
                          <lqb-input lqb-model="vm.loan.fields.sMultiApps" label="The income or assets of a person other than the Borrower will be used…"></lqb-input>
                        </label>
                    </div>
                </div>
                <div>
                    <div tooltip="The income or assets of the Borrower's spouse will not be used as a basis for loan qualification, but his or her liabilities must be considered because the Borrower resides in a community property state, the security property is located in a community property state, or the Borrower is relying on other property located in a community property state as a basis for repayment of the loan.">
                        <label class="checkbox-inline">
                            <lqb-input lqb-model="vm.loan.app.fields.aSpouseIExcl" label="The income or assets of the Borrower's spouse will not be used…"></lqb-input>
                        </label>
                    </div>
                </div>
                <div>
                    <div><a href="#/borrowerList" title="Go to Borr/Coborr Management">Add and Swap co-borrower…</a></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<!-- require('./borrowerInfo.html') -->
