<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="table wide fixed">
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div><label>Customer Code</label></div>
                                <div><lqb-input lqb-model="vm.pipeline.broker.CustomerCode"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Company Name</label></div>
                                <div><lqb-input lqb-model="vm.pipeline.broker.Name"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Address</label></div>
                                <div><lqb-input lqb-model="vm.pipeline.brokerAddress.StreetAddress" placeholder="Street"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>City</label></div>
                                <div>
                                    <div class="flex">
                                        <lqb-input lqb-model="vm.pipeline.brokerAddress.City" placeholder="City"></lqb-input>
                                        <lqb-input lqb-model="vm.pipeline.brokerAddress.State" placeholder="State"></lqb-input>
                                        <lqb-input lqb-model="vm.pipeline.brokerAddress.Zipcode"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="table">
                            <div>
                                <div><label>Phone</label></div>
                                <div>
                                    <div class="flex">
                                        <lqb-input lqb-model="vm.pipeline.broker.Phone"></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div><label>Fax</label></div>
                                <div>
                                    <div class="flex">
                                        <lqb-input lqb-model="vm.pipeline.broker.Fax"></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div><label>Company Website</label></div>
                                <div><lqb-input lqb-model="vm.pipeline.broker.Url"></lqb-input></div>
                            </div>
                            <div>
                                <div>
                                    <label>FHA Lender ID</label>
                                    <a tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom" data-content="If entered, users will be required to use this ID when submitting to FHA TOTAL Scorecard.">?</a>
                                </div>

                                <div><lqb-input lqb-model="vm.pipeline.broker.FhaLenderId"></lqb-input></div>
                                <div class="text-danger"><span ng-show="vm.shouldShowFhaLenderIdError()">LenderID must be 10 digis or blank.</span></div>
                            </div>
                        </div>
                        <div class="table">
                            <div>
                                <div>
                                    <lqb-input lqb-model="vm.pipeline.broker.IsHideFhaLenderIdInTotalScorecard" label="Hide Lender ID and Sponsor ID in TOTAL"></lqb-input>
                                </div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
