<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>                </div>
                    <div>Item Description</div>
                    <div>Date            </div>
                    <div>Amount          </div>
                    <div>Percentage      </div>
                    <div>Checked?        </div>
                    <div>Notes           </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 21</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField21Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 22</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField22Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 23</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField23Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 24</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField24Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 25</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField25Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 26</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField26Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 27</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField27Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 28</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField28Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 29</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 30</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField30Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 31</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField31Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 32</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField32Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 33</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField33Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 34</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField34Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 35</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField35Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 36</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField36Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 37</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField37Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 38</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField38Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 39</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField39Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 40</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField40Notes" row="2"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
