<lq-modal ref="vm.modal = $ref">
    <slot-heading>Branch Prefixes</slot-heading>
    <slot-body>
        <div>
            <div class="slot-content">
                <p>By default, each branch will use your corporate prefix.</p>
                <p>Simply check a box below to override with a custom prefix.</p>
                <hr/>
                <table class="secondary-table wide" ng-init= "vm.isAsc = false;">
                    <thead class="header">
                        <tr>
                            <th><a ng-click="vm.isAsc = !vm.isAsc">Branch</th>
                            <th>Override Corporate Prefix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="prefix in vm.pipeline.BranchPrefixes | orderBy: Name.v: vm.isAsc">
                            <td>
                                {{prefix.Name.v}}
                            </td>
                            <td>
                                <lqb-input lqb-model="prefix.hasPrefix"></lqb-input>
                                <label class="text-center-checkbox">Override with:</label>
                                <lqb-input lqb-model="prefix.branchLNmPrefix"></lqb-input>
                            </td>
                        </tr>
                    </tbody>
                </table>              
            </div> 
        </div>
    </slot-body>
    <slot-footer>
        
    </slot-footer>
</lq-modal>