.pdf-page-panel
{
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  margin-bottom: 10px;

}
.pdf-page-number 
{
	font-weight:bold;
	float:left;
	padding-left:5px;
	padding-right:0px;
	margin:0px;

}

.pdf-page 
{
  border: solid 1px black;
  margin-left: 30px; /* 5/19/2010 dd - Changing this number could cause page number alignment to display incorrectly on Firefox */
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0px;
  position: relative;
  background-color:Yellow;
}
/*
.pdf-page img
{
  border: none;
  margin: 0px;
  padding: 0px;
}
*/
.pdf-page-selected 
{
  border: solid 4px blue;
}

.pdf-loading-panel
{
    border: solid 1px black;
    background-color: yellow;
    padding: 15px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    z-index:999;
    width:300px;
    height:100px;
}

.pdf-field-text 
{
  border: solid 1px black;
  background-color:Gray;
  opacity: .8;
  filter:Alpha(Opacity=80);
  z-index:600;
}
.pdf-field-checkbox
{
  border: solid 1px black;
  /*background-color:gainsboro;*/
  /*
  opacity: .6;
  filter:Alpha(Opacity=60);
  */
  z-index:600;
}
.pdf-field-signature
{
  border: solid 1px black;
  text-align:left;
  background-color: #8DAAE2;
  opacity: .5;
  filter:Alpha(Opacity=50);
  z-index:600;
}
.pdf-field-initial
{
  border: solid 1px black;
  text-align:left;
  background-color: #8DAAE2;
  opacity: .5;
  filter:Alpha(Opacity=50);
  z-index:600;
}
div.ui-selected {
  border:solid 2px blue;
}
div.pdf-page div.pdf-first-selected {
  border:solid 4px red;

}
.pdf-field-content {
  font-size:7pt;
  color:black;
  font-weight:bold;
  cursor:default;
}
#PdfEditorFullPanel.ui-selectable-disabled { opacity: 1;filter:Alpha(Opacity=100);  }
.pdf-pdf-thumb-field { overflow:hidden; }