*{ margin: 0; padding: 0; } 
body { border: 0; color: #000; background: #fff;font-family: verdana, arial, helvetica, sans-serif; z-index:0; }

#footer { font-size:11px; color:#565656; padding-top: 20px; padding-left:15px; }
#content table.frameContent { padding-top:30px; }
#copyright { font-size:11px; color:#565656; }
/* Tables */
#content { padding-top:10px; padding-left:15px; font-size:12px; }
#content tr.alternate{background-color:#CCCCCC;}
#content tr.header{background-color:#CCCCCC; font-weight:bold;}

#content table.DataGrid td { padding:6px 20px; border:solid 1px black;}
#content table.DataGrid { border:solid 1px black; border-collapse:collapse; }
#content div.DataGrid { border:solid 1px black; padding: 6px 20px;}
#content div.DataGrid div { margin-bottom: 5px;}
#content div.DataGrid label { display: inline-block; width: 80px;}
#content div.DataGrid input[type=text] { width: 446px; margin-right: 1px;}
#content div.DataGrid input[type=file] { width: 526px;}
#content table.DataGrid tr.header td { background-color:#999999; }
#content table.DataGrid tr.header th { background-color:#999999; }

/* Links */
#content a{ color: Blue; text-decoration: underline; font-weight: normal; }
#content a:hover { color: Blue; }
#content input.LoginBtn { font-size:11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 1px 10px;}
/* -- [ Pages ] --------------------------------------------*/

.ErrorLabel { color:Red; font-weight:normal; }
.SuccessLabel { color:Green; font-weight:normal; }

/* LoginPage */
 div#content table#LoginPage { margin-top: 75px; }    
 table#LoginPage table.login { font-size:12px; color:Black; font-weight:bold; }
 table#LoginPage table.login td { padding:4px 10px; }
 table#LoginPage input.Loginbtn { font-size:11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 1px 10px;}
 table#LoginPage input.login, input.pword { width:150px; }
 table#LoginPage #forgot { font-size:11px; }
 
 /* ResetPassPage */
 div#content table#ResetPass { margin-top: 175px; }    
 table#ResetPass { font-size:12px; color:Black; font-weight:bold; }
 table#ResetPass tr.ResetHeader td { font-weight:normal; font-size:14px; padding-bottom:20px; }
 tr.msg td { font-weight:normal; color:#555; }
 table#ResetPass table.reset td { padding:4px 5px; }
 table#ResetPass input.LoginBtn { font-size:11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 1px 10px;}
 
 /* UpdatePassPage (&ChangePass) */
 div#content table#UpdatePass { margin-top: 175px; }    
 table#UpdatePass { font-size:12px; color:Black; font-weight:bold; }
 table#UpdatePass tr.ResetHeader td { font-weight:normal; font-size:14px; padding-bottom:20px; }
 table#UpdatePass tr.msg td { font-weight:normal; color:#555; }
 table#UpdatePass table.reset td { padding:4px 10px; }
 table#UpdatePass input.LoginBtn { font-size:11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 1px 10px;}
 
 /* LoanDashboardPage*/
 div#leftFrame { width:100%; }
 td.lFrame { border-right:solid 1px #547BA7; padding-right:20px; padding-bottom:10px; }
 td.rFrame { width:140px; margin:15px; padding-left:20px; padding-top:20px; padding-bottom:20px; padding-right:15px; }
 div.section { width:100%; padding:5px 10px; clear:both; }
 div.section { background-color:#003366; font-weight:bold; color:#FFF;}
 div.withinSection { padding-left:20px; }
 table.loanTable { float:left; }
 table.loanTable td { padding: 4px 10px; }
 table.loanTable td.loanheader { font-weight:bold; text-decoration:underline; }
 span.spText { display:block; margin-bottom:8px;}
 .NoDoc { width:100%; height:3em; text-align:center; padding:40px 0px; }
 div.topRight { float:right; padding-top:10px; text-align:right; }
 div.topRight a { padding-right:12px; }
 td.aRight { text-align:right; }
 img.padLeft { padding-left:8px; vertical-align:middle; }
 
 /* OnlineSigningPage */
 #CurrentSignerFrame { position:relative; width:100%; height:2em; padding:5px 20px; vertical-align:middle; border-bottom:solid 2px black; background-color:#EEE; }
 #SignerLabel { position:absolute; top:50%; height:1em; margin-top:-0.7em }
 .boldText { font-weight:bold; }
 
 #ButtonFrame .ConsumerBtn, #ChangeSigner .ConsumerBtn { width:72px; font-size:11px; font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif; padding: 1px 10px; }
 
 #SigningMessage { padding-top:10px; }

 #ConfirmSigning { border: 0; color: #000; background: #fff;font-family: verdana, arial, helvetica, sans-serif; font-size:12px; z-index:0;}
 #ConfirmSigning { padding-left:25px; padding-top:15px; }
 #ConfirmSigning #ConfirmSigningLabel { font-weight:bold; }
 
 .emptysign, .sign { cursor:pointer; }
 
 .signature-signed { background-color:Green;}
 .signature-incompleted { background-color:Yellow;}
 .signature-other { background-color:#d3d3d3;}
 .pdf-field-text {  opacity: .95 !important;  filter:Alpha(Opacity=95) !important; }
 
 #ChangeSigner { padding-top:10px; padding-left:15px; font-size:12px; }
 #ChangeSigner tr.alternate{background-color:#CCCCCC;}
 #ChangeSigner tr.header{background-color:#CCCCCC; font-weight:bold;}

 #ChangeSigner table.DataGrid td { padding:4px 15px; border:solid 1px black;}
 #ChangeSigner table.DataGrid { border:solid 1px black; border-collapse:collapse; }
 #ChangeSigner table.DataGrid tr.header td { background-color:#999999; }
 #ChangeSigner table.DataGrid tr.header th { background-color:#999999; }
 
 #ConfirmChangeSignerRow td { padding-top:5px; padding-left:3px; }
 .graybk { background-color:#d3d3d3; }
 .yellowbk { background-color:yellow; }
 
 div.signaturesMsg { color:#555; font-size:11px; font-weight:bold;  }
 #sMsg { float:right; padding: 4px 8px; margin-right:15px; background-color: #ffffcc; font-weight:normal; color:Black; }
 #ErrorMsgPanel { text-align:center; display:none; position:absolute; top:0px; left:50%; width:500px; margin-left:-250px; background-color:#ffffcc; color:Red; padding:5px; border:solid 1px black; z-index:1000;  }
 
