<style>
    .workflow-operations {
        width: 100%;
        display: flex;
        flex-direction: row;
        height: 400px;
        min-width: 650px;
    }

        .workflow-operations > div {
            display: flex;
            flex-direction: column;
        }

    .operations-container {
        flex-basis: 45%;
        border: 1px solid black;
        background-color: white;
    }

    .operations{
        overflow-y: auto;
        flex-basis: 90%
    }

        .operations-container > input {
            width: 100%;
        }

    .workflow-operations .header {
        color: black;
        font-size: 15px;
        background-color: lightgray;
        font-weight: 500;
        border: none;
    }

    .buttons-container {
        flex-basis: 60px;
        align-items: center;
        justify-content: center;
    }

    .search-bar {
        height: 20px;
    }

    .workflow-operations button {
        width: 50px;
        margin-bottom: 5px;
    }

    .operation-item.focused {
        background-color: royalblue;
        color: white;
    }

    .operation-item.disabled {
        color: gray;
    }

    .operation-item {
        display: block;
        color: black;
        font-size: 13px;
        padding: 2px 5px;
        text-decoration: none;
        cursor: pointer;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .parent {
        font-weight: bold;
    }

    .parent:hover{
        color: black;
        text-decoration: none;
    }

    .child {
        padding-left: 15px;
    }
</style>

<div>
    <div class="workflow-operations" ng-app="WorkflowOperations">
        <div class="operations-container">
            <div class="header">Available Operations</div>
            <input class="search-bar" type="text" ng-model="$scope.searchText" />
            <div class="operations">
                <div ng-repeat="operation in vm.AvailableOperations | orderBy: 'Description' | filter: $scope.searchText track by operation.Id">
                    <a class="operation-item" ng-class="{focused: operation.Focused, parent: operation.IsParent}" ng-click="vm.focusOperation(operation)">{{operation.Description}}</a>
                    <div ng-repeat="childOperation in operation.Children | orderBy: 'Description' track by childOperation.Id">
                        <a class="operation-item child" ng-class="{disabled: childOperation.Disabled, focused: childOperation.Focused}" ng-click="vm.focusOperation(childOperation)">- {{childOperation.Description}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-container">
            <button type="button" ng-click="vm.selectOperations(true)" class="select-all">&gt;&gt;</button>
            <button type="button" ng-click="vm.selectOperations(false)" class="select-focus">&gt;</button>
            <button type="button" ng-click="vm.removeOperations(false)" class="remove-focus">&lt;</button>
            <button type="button" ng-click="vm.removeOperations(true)" class="remove-all">&lt;&lt;</button>
        </div>
        <div class="operations-container selected-operations">
            <div class="header">Selected Operations</div>
            <div class="operations">
                <div ng-repeat="operation in vm.SelectedOperations | orderBy: 'Description' track by operation.Id">
                    <a class="operation-item" ng-class="{focused: operation.Focused, parent: operation.IsParent}" ng-click="vm.focusOperation(operation)">{{operation.Description}}</a>
                    <div ng-repeat="childOperation in operation.Children | orderBy: 'Description' track by childOperation.Id">
                        <a class="operation-item child" ng-class="{disabled: childOperation.Disabled, focused: childOperation.Focused}" ng-click="vm.focusOperation(childOperation)">- {{childOperation.Description}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
