<div class="table">
    <div>
        <div>
            <div class="table detail-of-transaction-table">
                <div>
                    <div>a. Purchase price</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input></div>
                </div>
                <div>
                    <div>b. Alterations, improvements, repairs</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAltCost"></lqb-input></div>
                </div>
                <div>
                    <div>c. Land (if acquired separately)</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLandCost"></lqb-input></div>
                </div>
                <div>
                    <div>d. Refi (incl. debts to be paid off)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003"></lqb-input></div>
                </div>
                <div>
                    <div>e. Estimated prepaid items</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003"></lqb-input></div>
                </div>
                <div>
                    <div class="empty-column"></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div>f. Estimated closing costs</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCc1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCcNoDiscnt1003"></lqb-input></div>
                </div>
                <div>
                    <div>g. PMI,MIP, Funding Fee</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003"></lqb-input></div>
                </div>
                <div>
                    <div>h. Discount (if Borrower will pay)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003"></lqb-input></div>
                </div>
                <div>
                    <div><strong>i. Total costs (add items a to h)</strong></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotTransC"></lqb-input></div>
                </div>
            </div>
        </div>
        <div>
            <div class="table detail-of-transaction-table">
                <div>
                    <div>j. <a ng-click="vm.goTo('otherFinancing')">Subordinate financing</a></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sONewFinBal"></lqb-input></div>
                </div>
                <div>
                    <div>k. Borrower's closing costs paid by Seller</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotCcPbsLocked"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotCcPbs"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div>l. </div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sOCredit1Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit1Lckd" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit1Amt"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sOCredit2Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit2Amt"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sOCredit3Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit3Amt"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sOCredit4Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit4Amt"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div></div>
                                <div>
                                    Lender credit
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit5Amt"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <div class="table">
                            <div>
                                <div></div>
                                <div>
                                    Other financing closing costs
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>-</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sONewFinCc"></lqb-input></div>
                </div>
                <div>
                    <div>m. Loan amount (exclude PMI, MIP, FF financed)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input></div>
                </div>
                <div>
                    <div>n. PMI, MIP, Funding Fee financed</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced"></lqb-input></div>
                </div>
                <div>
                    <div>o. Loan amount (add m &amp; n)</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input></div>
                </div>
                <div>
                    <div>p. Cash from / to Borr (subtract j, k, l &amp; o from i)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTransNetCashLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTransNetCash"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>
