<div class="section" ng-show="vm.showCcAutoOptions()">
    <div class="panel panel-default"><div class="panel-body">
        <div lqb-load-fields="sIsLoanProgramRegistered BrokerDB" hidden></div>
        <div class="table">
            <div><div><label>Closing Cost Automation Options</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sClosingCostAutomationUpdateT" ng-value="vm.E_sClosingCostAutomationUpdateT.UpdateUnconditionally"></lqb-input></div>
            </div>
            <div><div><label>Use automation to update all closing costs.</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sClosingCostAutomationUpdateT" ng-value="vm.E_sClosingCostAutomationUpdateT.UpdateOnConditionChange"></lqb-input></div>
            </div>
            <div><div><label>Use automation to update the fees whose conditions no longer apply.</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sClosingCostAutomationUpdateT" ng-value="vm.E_sClosingCostAutomationUpdateT.PreserveFeesOnLoan"></lqb-input></div>
            </div>
            <div><div><label>Use closing costs currently on the loan file for similar scenarios.</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompF"></lqb-input></div>
            </div>
        </div>
    </div></div>
</div>

<div class="section">
    <div class="panel panel-default"><div class="panel-body">
        <div class="table">
            <div>
                <div><lqb-input lqb-model="vm.loan.fields.sIsRequireFeesFromDropDown" label="Protect compliance settings for fees"></lqb-input></div>
            </div>
            <div>
                <div><lqb-input lqb-model="vm.loan.fields.sGfeIsTPOTransaction" label="This transaction involves a TPO"></lqb-input></div>
            </div>
        </div>
        <h5><strong>Loan originator compensation source</strong></h5>
        <div class="table">
            <div>
                <div><label>Loan originator is paid by</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationPaymentSourceT" ng-value="vm.E_sOriginatorCompensationPaymentSourceT.BorrowerPaid" label="Borrower"></lqb-input></div>
                <div><lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationPaymentSourceT" ng-value="vm.E_sOriginatorCompensationPaymentSourceT.LenderPaid" label="Lender"></lqb-input></div>
            </div>
        </div>
    </div></div>
</div>

<div ng-show="vm.showLenderPaidOriginatorCompensation()" class="section">
    <div class="panel panel-default"><div class="panel-body">
        <h5><strong>Lender-Paid Originator Compensation</strong></h5>
        <table class="secondary-table">
            <thead class="header"><tr>
                <th>Title                     </th>
                <th>Description/Memo          </th>
                <th>Optional                  </th>
                <th>APR                       </th>
                <th>FHA                       </th>
                <th>Paid to                   </th>
                <th ng-show="vm.loan.sClosingCosts.CanReadDFLP">DFLP</th>
                <th>TP                        </th>
                <th>AFF                       </th>
                <th>Can Shop                  </th>
                <th>Did Shop                  </th>
                <th>                          </th>
                <th>Amount                    </th>
                <th>Paid by                   </th>
                <th>Payable                   </th>
                <th>Date paid                 </th>
                <th>                          </th>
            </tr></thead>
            <tbody><tr ng-repeat="fee in [vm.loan.sClosingCosts.StandaloneLenderOrigCompFee]">
                <td><lqb-input lqb-model="fee.is_title" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.desc" readonly></lqb-input> </td>
                <td><lqb-input lqb-model="fee.is_optional" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.apr" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.fha" readonly></lqb-input></td>
                <td><div class="table">
                    <div>
                        <div class="paid-to"><lqb-input lqb-model="fee.bene" readonly></lqb-input></div>
                        <div class="user"><a ng-click="vm.pickAgent()" class="icons"><span class="material-icons">person</span></a></div>
                    </div>
                    <div><div ng-show="fee.bene_desc.v || fee.bene_id.v != vm.Guid_Empty">
                        Company: <span ng-bind="fee.bene_desc.v"></span>
                    </div></div>
                </div></td>
                <td ng-show="vm.loan.sClosingCosts.CanReadDFLP">
                    <lqb-input lqb-model="fee.dflp" ng-disabled="!vm.loan.sClosingCosts.CanSetDFLP"></lqb-input></td>
                <td><lqb-input lqb-model="fee.tp" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.aff" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.can_shop" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.did_shop" readonly></lqb-input></td>
                <td><a ng-click="vm.updateCalc(fee)"
                        ng-show="([1,2,3].includes(fee.f.t.v))"
                        class="btn btn-default">C</a></td>
                <td><lqb-input lqb-model="fee.total" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.payments[0].paid_by" readonly></lqb-input></td>
                <td><lqb-input lqb-model="fee.payments[0].pmt_at"></lqb-input></td>
                <td><lqb-input lqb-model="fee.payments[0].pmt_dt"
                               ng-readonly="fee.payments[0].pmt_at.v == 1"></lqb-input></td>
                <td></td>
            </tr></tbody>
        </table>
    </div></div>
</div>

<lq-modal ref="vm.setCalculationModal($ref)" hide-header="true">
    <slot-heading></slot-heading>
    <slot-body>
        <div ng-repeat="fee in [vm.selectedFeeF]">
            <div ng-show="[0,4,5,17,18].includes(fee.t.v)">Not Supported</div>
            <div>
                <div class="text-center" ng-show="[1,2,3].includes(fee.t.v)">
                    <!-- <lqb-input lqb-model="fee.t"></lqb-input> -->
                    <select ng-model="fee.t.v" ng-options="o.v as o.l for o in vm.fee_t_options" class="form-control"></select>
                </div>
                <p></p>
                <div>
                    <div ng-show="[1,2,8].includes(fee.t.v)">
                        <div class="text-center">
                            Percent
                            <lqb-input lqb-model="fee.p"></lqb-input>
                            of
                                <!-- <lqb-input lqb-model="fee.pt"></lqb-input> -->
                                <select ng-model="fee.pt.v" ng-options="o.v as o.l for o in vm.fee_pt_options" class="form-control"></select>
                            <span ng-show="fee.t.v != 2">+</span>
                            <span ng-if="fee.t.v != 2">
                                <lqb-input lqb-model="fee.base"></lqb-input>
                            </span>
                        </div>
                    </div>

                    <div class="text-center" ng-show="fee.t.v == 3">
                        <lqb-input lqb-model="fee.base"></lqb-input>
                    </div>
                    <div ng-show="fee.t.v == 6">
                        <lqb-input lqb-model="fee.period"></lqb-input>
                        period
                    </div>
                    <div class="text-center" ng-show="fee.t.v == 7">
                        <lqb-input lqb-model="vm.loan.fields.sIPiaDyLckd"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sIPiaDy"></lqb-input> days
                        @
                        <lqb-input lqb-model="vm.loan.fields.sIPerDayLckd"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sIPerDay" decimalDigits="4"></lqb-input> per day
                    </div>
                    <div ng-show="[9, 10, 12, 13, 15, 16].includes(fee.t.v)">
                        <lqb-input lqb-model="fee.period"></lqb-input> months
                        @
                        <span ng-bind="fee.base.v | currency" class="input-readonly"></span> / month
                    </div>
                    <div ng-show="fee.t.v == 11">
                        <span ng-bind="fee.period.v" class="input-readonly"></span> periods
                    </div>
                </div>
            </div>
        </div>
    </slot-body>
    <slot-footer>
        <a ng-click="vm.onCalculationOk()"     class="btn btn-default">OK    </a>
        <a ng-click="vm.onCalculationCancel()" class="btn btn-default">Cancel</a>
    </slot-footer>
</lq-modal>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Closing Cost Details</h5></div>
        <div class="panel-body">
            <div ng-repeat="section in vm.loan.sClosingCosts.sections">
                <h5><strong>
                    <span ng-bind="section.SectionName.v"></span>
                    <div class="pull-right">Total: <span ng-bind="section.TotalAmount.v | currency"></span></div>
                </strong></h5>
                <table ng-show="section.ClosingCostFeeList.length > 0" class="secondary-table none-hover-table">
                    <thead class="header"><tr>
                        <th>Title                     </th>
                        <th>Description/Memo          </th>
                        <th>Optional                  </th>
                        <th>APR                       </th>
                        <th>FHA                       </th>
                        <th>Paid to                   </th>
                        <th ng-show="vm.loan.sClosingCosts.CanReadDFLP">DFLP</th>
                        <th>TP                        </th>
                        <th>AFF                       </th>
                        <th>Can Shop                  </th>
                        <th>Did Shop                  </th>
                        <th>                          </th>
                        <th>Amount                    </th>
                        <th>Paid by                   </th>
                        <th>Payable                   </th>
                        <th>Date paid                 </th>
                        <th>                          </th>
                    </tr></thead>
                    <tbody ng-repeat="fee in section.ClosingCostFeeList track by $index">
                        <tr>
                            <td><lqb-input lqb-model="fee.is_title" ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v"></lqb-input></td>
                            <td><lqb-input class="form-control description-memo" lqb-model="fee.desc"
                                    ng-readonly="vm.loan.fields.sIsRequireFeesFromDropDown.v ||
                                        [vm.E_ClosingCostFeeFormulaT.sOriginatorCompensationTotalAmount,
                                        vm.E_ClosingCostFeeFormulaT.PrepaidAmountForExpenses].includes(fee.f.t.v)"></lqb-input>
                                <div ng-show="fee.desc.v != fee.org_desc.v">
                                    Type: <span ng-bind="fee.org_desc.v"></span></div>
                            </td>
                            <td><lqb-input lqb-model="fee.is_optional"
                                    ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v
                                        || section.SectionType.v != vm.E_IntegratedDisclosureSectionT.SectionH"></lqb-input></td>
                            <td><lqb-input lqb-model="fee.apr"
                                   ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v"></lqb-input></td>
                            <td><lqb-input lqb-model="fee.fha"
                                    ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v"></lqb-input></td>
                            <td><div class="table">
                                <div>
                                    <div class="paid-to"><lqb-input lqb-model="fee.bene" ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v"></lqb-input></div>
                                    <div class="user"><a ng-click="vm.pickAgent()" class="icons"><span class="material-icons">person</span></a></div>
                                </div>
                                <div><div ng-show="fee.bene_desc.v || fee.bene_id.v != vm.Guid_Empty">
                                    Company: <span ng-bind="fee.bene_desc.v"></span>
                                </div></div>
                            </div></td>

                            <td ng-show="vm.loan.sClosingCosts.CanReadDFLP">
                                <lqb-input lqb-model="fee.dflp" ng-disabled="!vm.loan.sClosingCosts.CanSetDFLP"></lqb-input></td>
                            <td><lqb-input lqb-model="fee.tp"
                                    ng-disabled="!vm.loan.fields.sIsManuallySetThirdPartyAffiliateProps &&
                                        cc.DisableTPAffIfHasContact &&
                                        (fee.bene_id.v != vm.Guid_Empty)"
                                    ng-click="tpClick(i,j)"
                                    ></lqb-input></td>
                            <td><lqb-input lqb-model="fee.aff"
                                    ng-disabled="!fee.tp.v || (!vm.loan.fields.sIsManuallySetThirdPartyAffiliateProps.v &&
                                        cc.DisableTPAffIfHasContact && (fee.bene_id.v != vm.Guid_Empty))"></lqb-input></td>
                            <td><lqb-input lqb-model="fee.can_shop"
                                    ng-disabled="vm.loan.fields.sIsRequireFeesFromDropDown.v || [2,3].include(fee.disc_sect.v)"
                                    title="fee.can_shop"></lqb-input></td>
                            <td><lqb-input lqb-model="fee.did_shop" ng-disabled="!fee.can_shop.v"></lqb-input></td>
                            <td><a ng-click="vm.updateCalc(fee)"
                                    ng-show="section.SectionType.v != vm.E_IntegratedDisclosureSectionT.SectionG &&
                                        !([0,4,5,14,17,18,19,20,21].includes(fee.f.t.v))"
                                    class="btn btn-default">C</a></td>
                            <td><div ng-show="fee.f.t.v === vm.E_ClosingCostFeeFormulaT.MinBaseOnly">
                                    <lqb-input lqb-model="fee.f.base"></lqb-input>
                                </div>
                                <div ng-hide="fee.f.t.v === vm.E_ClosingCostFeeFormulaT.MinBaseOnly">
                                    <lqb-input lqb-model="fee.total" readonly></lqb-input>
                                </div></td>
                            <td><div ng-if="(fee.payments && fee.payments.length == 1)">
                                    <div ng-show="vm.isHud800OriginatorCompensationFeeTypeId(fee.typeid.v)">
                                        <select disabled><option>Borrower</option></select>
                                    </div>
                                    <div ng-hide="vm.isHud800OriginatorCompensationFeeTypeId(fee.typeid.v)">
                                        <lqb-input lqb-model="fee.payments[0].paid_by" lqb-change="vm.updatePaidBy()"></lqb-input>
                                    </div>
                                </div></td>
                            <td><div ng-show="(fee.payments && fee.payments.length == 1)">
                                    <lqb-input lqb-model="fee.payments[0].pmt_at"
                                        ng-disabled="fee.payments[0].paid_by.v == 3"></lqb-input>
                                </div></td>
                            <td><div ng-show="(fee.payments && fee.payments.length == 1)">
                                    <lqb-input lqb-model="fee.payments[0].pmt_dt"
                                           ng-readonly="fee.payments[0].pmt_at.v == 1"></lqb-input>
                                </div></td>
                            <td><a ng-click="vm.paymentDelete(section, fee)"
                                    ng-show="(
                                        (!([17,4,5,20,21].includes(fee.f.t.v))) &&
                                        (section.SectionType.v != vm.E_IntegratedDisclosureSectionT.SectionG) &&
                                        fee.typeid.v !== 'f17c6573-e1bb-447d-ba89-31183be07be8' &&
                                        (fee.typeid.v !== vm.Hud900DailyInterestFeeTypeId || fee.f.total.v == 0)
                                    )"
                                     class="btn btn-default">-</a></td>
                        </tr>
                        <tr ng-repeat="pmt in fee.payments" ng-if="fee.payments.length > 1">
                            <td colspan="11"></td>
                            <td><a ng-click="vm.AddSplitPayment(fee)"
                                    ng-show="(pmt.is_system.v && !pmt.mipFinancedPmt.v && !pmt.cashPdPmt.v)"
                                    class="btn btn-default">+</a></td>
                            <td><lqb-input class="form-control form-control-money" lqb-model="pmt.amt"
                                   ng-readonly="pmt.is_system.v || pmt.cashPdPmt.v || pmt.mipFinancedPmt.v"></lqb-input></td>
                            <td><lqb-input lqb-model="pmt.paid_by" ng-disabled="pmt.is_system.v || pmt.mipFinancedPmt.v"
                                    lqb-change="vm.updatePaidBySplit()"></lqb-input></td>
                            <td><lqb-input lqb-model="pmt.pmt_at" ng-disabled="pmt.is_system.v || pmt.paid_by.v == 3 || pmt.mipFinancedPmt.v"></lqb-input></td>
                            <td><lqb-input lqb-model="pmt.pmt_dt" ng-readonly="pmt.is_system.v || pmt.pmt_at.v == 1"></lqb-input></td>
                            <td><a ng-click="vm.removePayment(fee, pmt)"
                                    ng-show="!pmt.is_system.v && !pmt.cashPdPmt.v && !pmt.mipFinancedPmt.v"
                                    class="btn btn-default">-</a></td>
                        </tr>
                    </tbody>
                </table>
                <footer ng-hide="section.SectionType.v === vm.E_IntegratedDisclosureSectionT.SectionG || section.NewFeeTemplates.length < 1">
                    <div class="dropdown">
                        <a class="btn btn-default" data-toggle="dropdown">
                            Add
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="fee in section.NewFeeTemplates track by fee.desc.v">
                                <a ng-click="vm.addFee(section, fee)" ng-bind="fee.desc.v"></a>
                            </li>
                            <li ng-show="section.NewFeeTemplates.length < 1"><a>No Available Fees</a></li>
                        </ul>
                    </div>
                </footer>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="wrap-nav-tabs">
        <ul class="nav nav-tabs">
            <li ng-class="{active:vm.currentTab == 0}"><a ng-click="vm.currentTab = 0">Lender Credits               </a></li>
            <li ng-class="{active:vm.currentTab == 1}"><a ng-click="vm.currentTab = 1">Lender and Seller paid totals</a></li>
            <li ng-class="{active:vm.currentTab == 2}"><a ng-click="vm.currentTab = 2">Details of Transaction       </a></li>
            <li ng-class="{active:vm.currentTab == 3}"><a ng-click="vm.currentTab = 3">Minimize                     </a></li>
        </ul>
        <div class="tab-content" ng-hide="vm.currentTab == 3">
            <a ng-click="vm.currentTab = 3" class="material-icons pull-right">&times;</a>
            <div class="tab-pane fade" ng-class="{active:vm.currentTab == 0}">
                <!-- require('./lenderCredits.html') -->
            </div>
            <div class="tab-pane fade" ng-class="{active:vm.currentTab == 1}">
                <!-- require('./lenderAndSellerPaidTotals.html') -->
            </div>
            <div class="tab-pane fade" ng-class="{active:vm.currentTab == 2}">
                <!-- require('./detailsOfTransaction.html') -->
            </div>
            </div>
    </div>
</div>
<div lqb-load-fields="sDisclosureRegulationT sIsManuallySetThirdPartyAffiliateProps sClosingCosts" hidden></div>
