<div class="table">
    <div>
        <div><label>Total fees paid by lender:</label></div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sGfeTotalFundByLender" readonly></lqb-input>
        </div>
        <div>
            <label>Total fees paid by seller:</label>
        </div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sGfeTotalFundBySeller" readonly></lqb-input>
        </div>
    </div>
</div>
