<div class="table">
    <div>
        <div><label>Credit/charge calculation method</label></div>
        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditCalculationMethodT"></lqb-input></div>
    </div>
</div>
<div class="table" ng-show="vm.loan.fields.sLenderCreditCalculationMethodT.v === vm.E_sLenderCreditCalculationMethodT.SetManually">
    <!-- require('./lenderCredits-ManualCredits.html') -->
</div>
<div class="table" ng-show="vm.loan.fields.sLenderCreditCalculationMethodT.v === vm.E_sLenderCreditCalculationMethodT.CalculateFromFrontEndRateLock">
    <!-- require('./lenderCredits-CalculatedCredits.html') -->
</div>
