<div>
    <div class="table" ng-hide="vm.loan.fields.sLenderCreditCalculationMethodT.v === 0">
        <div>
            <div></div>
            <div><label>Final price</label></div>
            <div class="final-price">
                <lqb-input lqb-model="vm.loan.fields.sLDiscntBaseT"></lqb-input>
                <lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcPrice" readonly></lqb-input>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div>
            <div></div>
            <div><label>Lender credit target</label></div>
            <div></div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sLenderCreditAvailableAmt_Neg" readonly>TODO</lqb-input>
            </div>
            <div></div>
            <div></div>
        </div>

        <div>
            <div><label>Disclose credit on</label></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidFeeDiscloseLocationT"></lqb-input></div>
            <div><label>Credit for lender paid fees</label></div>
            <div></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidFeesAmt_Neg" readonly></lqb-input></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderGeneralCreditDiscloseLocationT"></lqb-input></div>
            <div><label>General lender credit</label></div>
            <div></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderGeneralCreditAmt_Neg" readonly></lqb-input></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1DiscloseLocationT"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Description"></lqb-input></div>
            <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Amount"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1AmountAsCharge" readonly></lqb-input></div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2DiscloseLocationT"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Description"></lqb-input></div>
            <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Amount"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2AmountAsCharge" readonly></lqb-input></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
