<div>
    <div><label>Final price</label></div>
    <div class="text-right">
        <lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcPrice" readonly></lqb-input>
    </div>
    <div>
        <lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcAmt" readonly></lqb-input>
    </div>

    <div><label>Initial credit (-)/charge (+)</label></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt" readonly></lqb-input></div>
</div>
<div>
    <div><label>Initial credit (-)/charge (+)</label></div>
    <div class="initial-credit">
        <lqb-input lqb-model="vm.loan.fields.sLDiscntPc"></lqb-input>of
        <lqb-input lqb-model="vm.loan.fields.sLDiscntBaseT"></lqb-input>+
        <lqb-input lqb-model="vm.loan.fields.sLDiscntFMb"></lqb-input>
    </div>
    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt"></lqb-input></div>
    <div>Total credit (-)/charge (+)</div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderActualTotalCreditAmt_Neg" readonly></lqb-input></div>
</div>
<div>
    <div>Credit for lender paid fees</div>
    <div class="text-right">
        <lqb-input lqb-model="vm.loan.fields.sGfeCreditLenderPaidItemT"></lqb-input>
    </div>
    <div><lqb-input lqb-model="vm.loan.fields.sGfeCreditLenderPaidItemF" readonly></lqb-input></div>
    <div></div>
    <div></div>
</div>
<div>
    <div>General lender credit</div>
    <div></div>
    <div><lqb-input lqb-model="vm.loan.fields.sGfeLenderCreditF" readonly></lqb-input></div>
    <div></div>
    <div></div>
</div>
<div>
    <div>Additional credits at closing</div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
    <div><label>Lender paid items not included in initial credit</label></div>
    <div></div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidItemNotIncludedInInitialDisclosureAmtAsChargeAmt" readonly></lqb-input></div>
    <div></div>
    <div></div>
</div>
<div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Description"></lqb-input></div>
    <div class="text-right">
        <lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Amount"></lqb-input>
    </div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1AmountAsCharge" readonly></lqb-input></div>
    <div></div>
    <div></div>
</div>
 <div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Description"></lqb-input></div>
    <div class="text-right">
        <lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Amount"></lqb-input>
    </div>
    <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2AmountAsCharge" readonly></lqb-input></div>
    <div></div>
    <div></div>
</div>
