<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
        <div>
            <span class="clipper"><a class="btn btn-default" ng-click="vm.goTo('orderCredit')">Order Credit...</a></span>
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.displayCreditReport()">View Credit</button></span>
        </div>
        <div>&nbsp;</div>
            <table class="secondary-table none-hover-table">
                <thead class="header">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Balance</th>
                        <th>Payment</th>
                        <th>Paid Off</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Current Application</td>
                        <td ng-bind="vm.loan.app.fields.aLiaBalTot.v|currency"><lqb-input lqb-model="vm.loan.app.fields.aLiaBalTot" ng-hide="true"></lqb-input></td>
                        <td ng-bind="vm.loan.app.fields.aLiaMonTot.v|currency"><lqb-input lqb-model="vm.loan.app.fields.aLiaMonTot" ng-hide="true"></lqb-input></td>
                        <td ng-bind="vm.loan.app.fields.aLiaPdOffTot.v|currency"><lqb-input lqb-model="vm.loan.app.fields.aLiaPdOffTot" ng-hide="true"></lqb-input></td>
                    </tr>
                    <tr>
                        <td>Loan Total</td>
                        <td ng-bind="vm.loan.fields.sLiaBalLTot.v|currency"><lqb-input lqb-model="vm.loan.fields.sLiaBalLTot" ng-hide="true"></lqb-input></td>
                        <td ng-bind="vm.loan.fields.sLiaMonLTot.v|currency"><lqb-input lqb-model="vm.loan.fields.sLiaMonLTot" ng-hide="true"></lqb-input></td>
                        <td ng-bind="vm.loan.fields.sRefPdOffAmt.v|currency"><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt" ng-hide="true"></lqb-input></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                        <div>
                            <div>&nbsp;</div>
                            <div><label>Description</label></div>
                            <div><label>Monthly Payment</label></div>
                            <div><label>Months Left</label></div>
                            <div><label>Exclude from Ratio</label></div>
                        </div>
                        <div>
                            <div><label>Alimony</label></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.Alimony.OwedTo"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.Alimony.Pmt"></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.Alimony.RemainMons_rep"></div>
                            <div class="text-center"><lqb-input lqb-model="vm.loan.app.aLiaCollection.Alimony.NotUsedInRatio"></lqb-input><label></label></div>
                        </div>
                        <div>
                            <div><label>Job Expense</label></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated1.ExpenseDesc"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated1.Pmt"></div>
                            <div>&nbsp;</div>
                            <div class="text-center"><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated1.NotUsedInRatio"></lqb-input><label></label></div>
                        </div>
                        <div>
                            <div><label>Other</label></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated2.ExpenseDesc"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated2.Pmt"></div>
                            <div>&nbsp;</div>
                            <div class="text-center"><lqb-input lqb-model="vm.loan.app.aLiaCollection.JobRelated2.NotUsedInRatio"></lqb-input><label></label></div>
                        </div>
                    </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
        <div class="table radio-table">
            <div>
                <div>
                    <label>
                        View:
                    </label>
                </div>
                <div>
                    <label>
                        <label ng-class="vm.isLia ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.changeLia(true)">
                            <span class="material-icons">
                                <!-- require('../../../../images/Prototype/radio-button.svg') -->
                            </span>
                            <span>Liability Details</span>
                        </label>
                    </label>
                    <label>
                        <label ng-class="vm.isLia ? 'radio-btn' : 'radio-btn checked'"  ng-click="vm.changeLia(false)">
                            <span class="material-icons">
                                <!-- require('../../../../images/Prototype/radio-button.svg') -->
                            </span>
                            <span>Debt Consolidation</span>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="table radio-table">
            <div>
                <div>
                    <label>
                        Assets and Liabilities Completed:
                    </label>
                </div>
                <div>
                    <label>
                        <lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'Yes'" label="Jointly"></lqb-input>
                    </label>
                    <label>
                        <lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'No'" label="Not Jointly"></lqb-input>
                    </label>
                </div>
            </div>
        </div>
        <div ng-show="vm.isLia">
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.add()">Add New Liability</button></span>
        </div>
        <div>&nbsp;</div>
        <div ng-class="{'active-table':vm.isLia}">
            <table class="secondary-table debt-consolidation-table none-hover-table">
                <thead class="header">
                    <tr>
                        <th ng-show="vm.isLia"></th>
                        <th ng-show="vm.isLia">
                            <a  ng-click="vm.sortRegulars('PmlAuditTrailXmlContent')">Altered in PML</a>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('OwnerT')">Owner</a>
                            <span ng-hide="vm.isLia">Owner</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('DebtT')">Debt Type</a>
                            <span ng-hide="vm.isLia">Debt Type</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('ComNm')">Company</a>
                            <span ng-hide="vm.isLia">Company</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('Bal')">Balance</a>
                            <span ng-hide="vm.isLia">Balance</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('Pmt')">Payment</a>
                            <span ng-hide="vm.isLia">Payment</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('WillBePdOff')">Paid Off</a>
                            <span ng-hide="vm.isLia">Paid Off</span>
                        </th>
                        <th>
                            <a ng-show="vm.isLia" ng-click="vm.sortRegulars('UsedInRatio')">Used in Ratio</a>
                            <span ng-hide="vm.isLia">Used in Ratio</span>
                        </th>
                        <th ng-show="vm.isLia">
                            <a ng-click="vm.sortRegulars('VerifSentD')">Verif. Sent</a>
                        </th>
                        <th ng-show="vm.isLia">
                            <a ng-click="vm.sortRegulars('VerifReorderedD')">Re-Order</a>
                        </th>
                        <th ng-show="vm.isLia">
                            <a ng-click="vm.sortRegulars('VerifRecvD')">Received</a>
                        </th>
                        <th ng-show="vm.isLia">
                            <a ng-click="vm.sortRegulars('VerifExpD')">Expected</a>
                        </th>
                        <th ng-show="vm.isLia"></th>
                        <th ng-show="vm.isLia"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="regular in vm.loan.app.aLiaCollection.regulars track by $index">
                        <td ng-show="vm.isLia"><a href="javascript:void(0)" ng-click="vm.clickItem($index)"><span class="material-icons" title="Edit">edit</span></a></td>
                        <td ng-bind="vm.displayIsPmlAltered(regular.PmlAuditTrail.v)" ng-show="vm.isLia"></td>
                        <td ng-bind="vm.getOwnerValue(regular)" ng-class="{'owner': !vm.isLia}"></td>
                        <td ng-bind="vm.getLiabilityValue(regular)"></td>
                        <td ng-bind="regular.ComNm.v"></td>
                        <td>
                            <span ng-hide="regular.Bal.v==0" ng-bind="regular.Bal.v|currency"></span>
                            <span ng-show="regular.Bal.v==0">&nbsp;</span>
                        </td>
                        <td>
                            <span ng-hide="regular.Pmt.v==0" ng-bind="regular.Pmt.v|currency"></span>
                            <span ng-show="regular.Pmt.v==0">&nbsp;</span>
                        </td>
                        <td ng-show="!vm.isLia" name="{{regular.id.v}}">
                                <lqb-input lqb-model="regular.WillBePdOff"></lqb-input>
                        </td>
                        <td ng-show="vm.isLia" ng-bind="vm.displayPdOff(regular.WillBePdOff.v)"></td>

                        <td ng-show="!vm.isMortgage(regular) && !vm.isLia" class="used-in-ratio">
                            <div ng-repeat="UsedInRatio in [regular.UsedInRatio]">
                                <lqb-input lqb-model="UsedInRatio"></lqb-input>
                            </div>
                        </td>
                        <td ng-show="vm.isMortgage(regular)||vm.isLia" ng-bind="vm.displayUsedInRatio(regular)"  ng-class="{'used-in-ratio': !vm.isLia}"></td>
                        <td ng-show="vm.isLia" ng-bind="regular.VerifSentD.v|date:'MM/dd/yyyy'"></td>
                        <td ng-show="vm.isLia" ng-bind="regular.VerifReorderedD.v|date:'MM/dd/yyyy'"></td>
                        <td ng-show="vm.isLia" ng-bind="regular.VerifRecvD.v|date:'MM/dd/yyyy'"></td>
                        <td ng-show="vm.isLia" ng-bind="regular.VerifExpD.v|date:'MM/dd/yyyy'"></td>
                        <td ng-show="vm.isLia">
                            <a ng-show="vm.setVOMStatus(regular)" href="javascript:void(0)">Edit VOM</a>
                            <a ng-show="vm.setVOLStatus(regular)" href="javascript:void(0)">Edit VOL</a>
                        </td>
                        <td ng-show="vm.isLia"><a href="javascript:void(0)" ng-click="vm.delete($index)"><span class="material-icons" title="Close">close</span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr ng-hide="vm.isLia"/>
        <div class="table" ng-hide="vm.isLia">
            <div>
                <div>
                    <label>
                        Perform Calculations:
                    </label>
                </div>
                <div>
                    <label>
                        <label ng-class="vm.isCalcAuto ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.changeCalculation(true)">
                            <span class="material-icons">
                                <!-- require('../../../../images/Prototype/radio-button.svg') -->
                            </span>
                            <span>Automatically</span>
                        </label>
                    </label>

                        <label>
                            <label ng-class="vm.isCalcAuto ? 'radio-btn' : 'radio-btn checked'"  ng-click="vm.changeCalculation(false)">
                                <span class="material-icons">
                                    <!-- require('../../../../images/Prototype/radio-button.svg') -->
                                </span>
                                <span>Manually</span>
                            </label>
                        </label>
                </div>
                <div>
                    <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.reCalculate()">Recalculate</button></span>
                </div>
            </div>
        </div>

        <div class="table" ng-hide="vm.isLia" name="DebtSum">
            <div>
                <div><label>Loan Purpose</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label>Interest Only (Months)</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sIOnlyMon"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label>Cash from/to Borrower</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sTransNetCash"></lqb-input></div>
                <div><lqb-input lqb-model="vm.loan.fields.sTransNetCashLckd"></lqb-input></div>
            </div>
            <div>
                <div><label>Loan Amount</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label ng-show="vm.loan.BrokerUser.HasPmlEnabled">Cashout Amount</label></div>
                <div><div ng-show="vm.loan.BrokerUser.HasPmlEnabled"><lqb-input lqb-model="vm.loan.fields.sProdCashoutAmt"></lqb-input></div></div>
                <div>&nbsp;</div>
                <div><label>Total All Monthly Payments</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sTransmTotMonPmt"></lqb-input></div>
            </div>
            <div>
                <div><label>Note Rate</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label>PITI</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sMonthlyPmt"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label>Current Total Payment</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sCurrentTotMonPmt"></lqb-input></div>
            </div>
            <div>
                <div><label>Term / Due (Months)</label></div>
                <div class="table">
                    <div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input>
                        </div>
                        <div>/</div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sDue"></lqb-input>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div><label>Bottom Ratio</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sQualBottomR"></lqb-input></div>
                <div>&nbsp;</div>
                <div><label>Monthly Savings</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sMonSavingPmt"></lqb-input></div>
            </div>
        </div>
    </div>
</div>
</div>



<lq-modal ref="vm.setModal($ref)" on-hide="vm.onModalHide($event)">
    <slot-heading>Liability Editor</slot-heading>
    <slot-body>
        <div><a href="">Liability Editor</a>&nbsp;&gt;...</div>
        <div class="slot-content" ng-repeat="selectedRegular in [vm.selectedRegular]">
            <div class="table">
            <div>
                <div class="table empty-space">
                    <div>
                        <div><label>Owner</label></div>
                        <div><lqb-input lqb-model="selectedRegular.OwnerT"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Debt Type</label></div>
                        <div><lqb-input lqb-model="selectedRegular.DebtT"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Account Holder Name</label></div>
                        <div><lqb-input lqb-model="selectedRegular.AccNm"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Account Number</label></div>
                        <div><lqb-input lqb-model="selectedRegular.AccNum"></lqb-input></div>
                    </div>
                </div>
                <div class="table empty-space">
                    <div>
                        <div><label>Balance</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Bal"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Payment</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Pmt"></lqb-input></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="selectedRegular.WillBePdOff"></lqb-input>Will be paid off</div>
                        <div>&nbsp;</div>
                    </div>
                    <div>
                        <div><label>Payoff Amount</label></div>
                        <div><lqb-input lqb-model="selectedRegular.PayoffAmt"></lqb-input></div>
                        <div><lqb-input lqb-model="selectedRegular.PayoffAmtLckd"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Payoff Timing</label></div>
                        <div><lqb-input lqb-model="selectedRegular.PayoffTiming"></lqb-input></div>
                        <div><lqb-input lqb-model="selectedRegular.PayoffTimingLckd"></lqb-input></div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div><label>Months Left</label></div>
                        <div><lqb-input lqb-model="selectedRegular.RemainMons_rep"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Rate</label></div>
                        <div><lqb-input lqb-model="selectedRegular.R"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Term</label></div>
                        <div><lqb-input lqb-model="selectedRegular.OrigTerm_rep"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Due In</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Due_rep"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Late 30</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Late30_rep"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Late 60</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Late60_rep"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Late 90+</label></div>
                        <div><lqb-input lqb-model="selectedRegular.Late90Plus_rep"></lqb-input></div>
                    </div>
                </div>
            </div>
            </div>
            <hr/>
            <div class="table">
                <div>
                    <div class="table empty-space">
                        <div ng-hide="vm.isMortgage(selectedRegular)">
                            <div>
                                <lqb-input lqb-model="selectedRegular.UsedInRatio"></lqb-input>Debt should be included in ratios
                            </div>
                        </div>
                        <div ng-show="vm.isMortgage(selectedRegular)">
                            <div>
                                <label class="checkbox disabled"><span class="material-icons"><!-- require('../../../../images/Prototype/checkbox.svg') --></span></label><label>Debt should be included in ratios</label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="selectedRegular.IsPiggyBack"></lqb-input>Debt will be resubordinated
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="selectedRegular.ExcFromUnderwriting"></lqb-input>Exclude from Underwriting
                            </div>
                        </div>
                    </div>
                    <div class="table empty-space">
                        <div>
                            <div>
                                <lqb-input lqb-model="selectedRegular.IncInReposession"></lqb-input>Include in Repossession
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="selectedRegular.IncInBankruptcy"></lqb-input>Include in Bankruptcy
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="selectedRegular.IncInForeclosure"></lqb-input>Include in Foreclosure
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div>
                            <div><label>Verification Sent</label></div>
                            <div><lqb-input lqb-model="selectedRegular.VerifSentD"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Re-Order</label></div>
                            <div><lqb-input lqb-model="selectedRegular.VerifReorderedD"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Received</label></div>
                            <div><lqb-input lqb-model="selectedRegular.VerifRecvD"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Expected</label></div>
                            <div><lqb-input lqb-model="selectedRegular.VerifExpD"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="table">
                <div>
                    <div class="table empty-space">
                        <div>
                            <div><label>Company Name</label></div>
                            <div><lqb-input lqb-model="selectedRegular.ComNm"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="selectedRegular.ComAddr" placeholder="Street" placeholder="Street"></lqb-input></div>
                        </div>
                        <div>
                            <div>&nbsp;</div>
                            <div class="table">
                                <div>
                                    <div><lqb-input lqb-model="selectedRegular.ComCity" placeholder="City"></lqb-input></div>
                                    <div><lqb-input lqb-model="selectedRegular.ComState" placeholder="State"></lqb-input></div>
                                    <div><lqb-input lqb-model="selectedRegular.ComZip" placeholder="ZIPCode"></lqb-input></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div><label>Description</label></div>
                            <div class="description"><lqb-input lqb-model="selectedRegular.Desc"></lqb-input></div>
                        </div>
                        <div>
                            <div>
                                <a>Pick from Contacts</a>
                            </div>
                            <div>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                    </div>
                    <div class="table empty-space">
                        <div>
                            <div><label>Phone</label></div>
                            <div><lqb-input lqb-model="selectedRegular.ComPhone"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Fax</label></div>
                            <div><lqb-input lqb-model="selectedRegular.ComFax"></lqb-input></div>        
                        </div>
                        <div>
                            <div><label>Property Address</label></div>
                            <div><lqb-input lqb-model="selectedRegular.MatchedReRecordId"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div class="clipper"><button type="button" class="btn btn-default" ng-click="vm.f_addToReo()" ng-disabled="vm.isDisableAddToReo()">Add Bal / Pmt Info to REO</button></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="vm.isFHA(vm.loan.fields.sLT.v)">
                <hr/>
                <h5>Additional Information required for HUD-56001 (FHA Only)</h5>
                <fieldset class="table">
                    <div>
                        <div><label>Original Debt Amount</label></div>
                        <div><lqb-input lqb-model="selectedRegular.OrigDebtAmt"></lqb-input></div>
                        <div><lqb-input lqb-model="selectedRegular.IsMortFHAInsured"></lqb-input>Mortgage is FHA insured</div>
                    </div>
                </fieldset>
                <fieldset class="table">
                    <div>
                        <div><lqb-input lqb-model="selectedRegular.IsForAuto"></lqb-input>Is Debt for Auto?</div>
                        <div><label>Auto Year Make</label></div>
                        <div><lqb-input lqb-model="selectedRegular.AutoYearMake"></lqb-input></div>
                    </div>
                </fieldset>
            </div>
            <div ng-show="vm.loan.BrokerUser.HasPmlEnabled">
                <hr />
                <h5>PML Audit History</h5>
                <label ng-show="vm.pmlAuditTrail.length==0">None</label>
                <table ng-hide="vm.pmlAuditTrail.length==0" class="secondary-table none-hover-table">
                    <thead class="header"><tr>
                        <th>Date</th>
                        <th>User Name</th>
                        <th>Login Name</th>
                        <th>Action</th>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pat in vm.pmlAuditTrail track by $index">
                        <td ng-bind="pat.EventDate"></td>
                        <td ng-bind="pat.UserName"></td>
                        <td ng-bind="pat.LoginId"></td>
                        <td ng-bind="pat.Action"></td>
                        <td ng-bind="pat.Field"></td>
                        <td ng-bind="pat.Value"></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <div class="text-center">
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.done()">OK</button></span>
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.cancel()">Cancel</button></span>
        </div>
    </slot-body>
    <slot-footer></slot-footer>
</lq-modal>




<div lqb-load-fields="sLT aAppId sFileVersion BrokerUser aBNm aCNm sIsRateLocked"></div>
