body {
	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;
}

a {
	font-style: normal;
	color: #003399;
	text-decoration: underline;
}

A:Visited {
}

A:Active {
}

A:Hover {
	text-decoration: underline;
	color: #0099FF;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


.footer {
	color: #FFFFFF;
}


.form {
	font-weight: bold;
	font-size: 12px;
}

.white {
	color: #FFFFFF;
}
.bullet {
	list-style-image: url(../images/orange_arrow.gif);
}
.text10 {
	font-size: 10px;
}
