<div class="content-main">
    <div class="section">
        <div class="pipeline-container">
            <div class="table tab-container">
                <div>
                    <div ng-repeat="tab in vm.pipeline.PipelineView.Tabs" role="presentation">
                        <a data-toggle='tab' ng-class="[{active: $index == vm.pipeline.PipelineView.Index},vm.GetTabColoring(tab.TabType)]"
                            ng-click="vm.SwitchPipeline('' + $index)"
                            ng-href="#{{tab.TabType != undefined ? 'tab' + tab.TabType : 'tab0'}}"
                            ng-bind="tab.TabName"></a>
                    </div>
                    <div role="presentation">
                        <a data-toggle='tab'>+</a>
                    </div>
                </div>
            </div>

            <div lqb-load-fields="PipelineView"></div>
            <div class="tab-content">
                <div ng-if="vm.pipeline.PipelineView.Active.TabType == 0 || vm.pipeline.PipelineView.Active.TabType == undefined"
                    class="panel panel-default tab-pane fade in active">
                    <div class="panel-body">
                        <div>
                            <p>
                                <button ng-disabled="!vm.IsEnableButtons()">BATCH ASSIGN</button>
                                <button ng-disabled="!vm.IsEnableButtons()">DUPLICATE</button>
                                <button ng-disabled="!vm.IsEnableButtons()">DELETE</button>
                                <button onclick="location.reload();">REFRESH</button>
                            </p>
                            <table class="primary-table pipeline-table">
                                <thead class="header nowrap">
                                    <tr>
                                        <td>
                                            <lqb-input lqb-model="vm.pipelineLocal.selectAll"></lqb-input>
                                        </td>
                                        <td></td>
                                        <td ng-repeat="header in vm.pipeline.TableInfo.Headers">
                                            <a ng-click="vm.sortRegulars(header)">
                                                <span ng-bind="header"></span>
                                                <span ng-show="vm.sortKey == header" class="material-icons" ng-bind="vm.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="loan in vm.pipeline.TableInfo.Rows"
                                        ng-init="hideLinks = true"
                                        ng-click="hideLinks = !hideLinks"
                                        ng-class="{highlight: highlightRow, expanded: !hideLinks}">
                                        <td>
                                            <lqb-input lqb-model="vm.pipelineLocal.checkbox{{$index}}"></lqb-input>
                                        </td>
                                        <td><a
                                            ng-href="../LoanEditor/LoanEditor.aspx?loanid={{loan['sLID']}}" target="_blank"
                                            class="material-icons btn-icon">edit</a></td>
                                        <td ng-if="key != 'sLID'" ng-repeat="(key, value) in loan">
                                            <div ng-if="key != 'sLNm'" ng-bind="value"></div>
                                            <div ng-if="key == 'sLNm'">
                                                <span class="value" ng-bind="value"></span>
                                                <div class="loan-links-container" ng-class="{hide:hideLinks}">
                                                    <ul ng-click="$event.stopPropagation();" class="loan-links">
                                                        <li><a href="">summary</a></li>
                                                        <li><a href="">new task</a></li>
                                                        <li><a href="">View Style Editor</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div ng-if="vm.pipeline.PipelineView.Active.TabType == 2"
                    class="panel panel-default tab-pane fade in active">
                    <div class="panel-body">
                        <table class="primary-table pipeline-table">
                            <thead class="header">
                                <tr>
                                    <td></td>
                                    <td ng-repeat="header in vm.pipeline.TableInfo.Headers track by header"
                                        ng-if="header != 'PoolId'"
                                        ng-bind="header == 'InternalId' ? 'Pool ID' : header"></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="pool in vm.pipeline.TableInfo.Rows track by pool.PoolId"
                                    ng-init="hideLinks = true"
                                    ng-click="hideLinks= !hideLinks"
                                    ng-class="{highlight: highlightRow, expanded: !hideLinks}">
                                    <td><a
                                        ng-href="../TradesAndPools/TradesAndPools.aspx?poolId={{pool['PoolId']}}" target="_blank"
                                        class="material-icons btn-icon">edit</a></td>
                                    <td ng-repeat="(key, value) in pool track by key"
                                        ng-if="key != 'PoolId'"
                                        ng-bind="value"></td>
                                    <td><a>delete pool</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--end load content-->
        </div>
    </div>
</div>
