<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section>
                <!-- <uc:CFM name=CFM runat="server" Type="2"
                    CompanyNameField="AggregateEscrowServicerCompanyName"
                    StreetAddressField="AggregateEscrowServicerStreetAddr"
                    CityField="AggregateEscrowServicerCity"
                    StateField="AggregateEscrowServicerState"
                    ZipField="AggregateEscrowServicerZip"
                    CompanyPhoneField="AggregateEscrowServicerPhoneOfCompany"
                /> -->
                <div class="table table-agg-escrow-account">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Servicer Name</label></div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.CompanyName"   ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.StreetAddr" placeholder="Street"    ></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.City" placeholder="City"          ></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.State" placeholder="State"         ></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.Zip" placeholder="ZIPCode"           ></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div><label>Phone</label></div>
                        <div></div>
                        <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.AggregateEscrowServicer.PhoneOfCompany"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>First Payment Date</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSchedDueD1Lckd"></lqb-input></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sSchedDueD1"></lqb-input>
                            <label class="text-center-checkbox text-muted">* Note: First Payment Date is required for the calculation.</label>
                        </div>
                    </div>
                    <div>
                        <div><label>Date Prepared</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.Gfe.PrepareDate"         ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Aggr Escrow Adjustment</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.AggregateEscrowAdjustment" readonly></lqb-input></div>
                    </div>
                </div>
            </section>

            <div class="btn-setup-initial-escrow-account"><a class="btn">Setup Initial Escrow Account...</a></div>

            <section>
                <div class="table wide table-months-agg-escrow-account">
                    <div>
                        <div class="small-text"><label>Month                       </label></div>
                        <div class="small-text"><label>Payments to Escrow Account  </label></div>
                        <div class="small-text"><label>Payments from Escrow Account</label></div>
                        <div><label>Description</label></div>
                        <div class="small-text"><label>Escrow Account Balance</label></div>
                    </div>
                    <div>
                        <div><label>Initial Deposit</label></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.InitialDeposit"  readonly></lqb-input></div>
                    </div>
                    <div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10,11] track by i">
                        <div><lqb-input class="form-control small-text" lqb-model="vm.loan.AggregateEscrowAccount.AggregateItems[i].Mon"           readonly></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.AggregateItems[i].PmtToEscrow"   readonly></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.AggregateItems[i].PmtFromEscrow" readonly></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.AggregateItems[i].Desc"          readonly li-type="textarea"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.AggregateEscrowAccount.AggregateItems[i].Bal"           readonly></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
