<%@ Page language="c#" Codebehind="LPEDistributedLock.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.test.LPEDistributedLock" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>LPEDistributedLock</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="FlowLayout">
		<form id="LPEDistributedLock" method="post" runat="server">
			<P>
				<asp:Button id="RunExampleBtn" runat="server" Text="Run Example" onclick="RunExampleBtn_Click"></asp:Button></P>
			<P>
				<asp:TextBox id="ExampleResultEd" runat="server" Width="719px" Height="109px"></asp:TextBox></P>
		</form>
	</body>
</HTML>
