﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MockupModal.aspx.cs" Inherits="LendersOfficeApp.MockupModal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Panel ID="sizePanel" runat="server">
    <!-- Other markup here like client and server controls/elements -->
</asp:Panel>
    </form>
</body>
</html>
