<%@ Page language="c#" Codebehind="TestCommonDataGrid.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.test.TestCommonDataGrid" %>
<%@ Register TagPrefix="ml" Namespace="MeridianLink.CommonControls" Assembly="MeridianLinkCommonControls" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>TestCommonDataGrid</title>
<meta content="Microsoft Visual Studio 7.0" name=GENERATOR>
<meta content=C# name=CODE_LANGUAGE>
<meta content=JavaScript name=vs_defaultClientScript>
<meta content=http://schemas.microsoft.com/intellisense/ie5 name=vs_targetSchema><LINK href="../css/stylesheet.css" type=text/css rel=stylesheet >
  </HEAD>
<body MS_POSITIONING="FlowLayout">
<script language=javascript>
<!--
var oWin = null;
function popWin() {
  oWin = window.open('TestSaveToNHC.aspx');
}
function checkStillOpen() {
  alert('here');
  if (null == oWin) {
    alert('Window is no open');
  } else {
    alert('Window.closed=' + oWin.closed);
  }
}

//-->
</script>

<form id=TestCommonDataGrid method=post runat="server">
<table width="100%" height="100%">
<tr><td><input type="button" value="Launch DO" onclick="popWin();"> <input type=button value="Check" onclick="checkStillOpen();"</td></tr>
<tr><td></td></tr>
</table>
</form>
	
  </body>
</HTML>
