<div class="panel-body">
    <a class="btn btn-default" ng-click="vm.edit(null)">Add New</a>
    <div class="pull-right">
        <input ng-model="vm.filter"
               ng-model-options="{ debounce: 500 }"
               ng-change="vm.onFilterChanged()"
               placeholder="Rate Sheet Name"
               type="search" class="form-control">
        <input type="hidden" class="investor-xsl-filter">
    </div>
</div>

<div ag-grid="vm.gridOptions"
     class="ag-fresh" style="height: calc(100vh - 100px);"></div>

<ir-file-editor ng2-var="vm.fileEditor" on-saved="vm.reload()"></ir-file-editor>
