<div id="editEntryModal" class="modal fade v-middle"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-attr-title="vm.entry.InvestorXlsFileId">
                <span ng-hide="!vm.entry.InvestorXlsFileId">Modify</span>
                <span ng-show="!vm.entry.InvestorXlsFileId">Create</span>
                Investor Rate Sheet
            </span>
        </h4>
    </div>
    <form name="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event)">
        <div class="modal-body">
            <div class="form-group" ng-hide="!vm.entry.InvestorXlsFileId">
                <label>Rate Sheet File ID:</label>
                <input ng-model="vm.entry.InvestorXlsFileId"
                    type="text" disabled
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Rate Sheet Name:<span class="text-danger">*</span></label>
                <input ng-model="vm.entry.InvestorXlsFileName"
                    type="text" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Worksheet Name:<span class="text-danger">*</span></label>
                <input ng-model="vm.entry.EffectiveDateTimeWorksheetName"
                    type="text" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Land Mark Text:<span class="text-danger">*</span></label>
                <input ng-model="vm.entry.EffectiveDateTimeLandMarkText"
                    type="text" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Row Offset:<span class="text-danger">*</span></label>
                <input ng-model="vm.entry.EffectiveDateTimeRowOffset"
                    type="number" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Column Offset:<span class="text-danger">*</span></label>
                <input ng-model="vm.entry.EffectiveDateTimeColumnOffset"
                    type="number" required
                    class="form-control"/>
            </div>
			
			<div class="form-group">
                <label>Exclude from Investor Pricing Warning?<span class="text-danger">*</span></label>
				<br/>
				<label>
					<input ng-model="vm.entry.ExcludeFromInvPricingWarnings"
						type="radio"
						class="form-control"
						ng-value="true"/>
					Yes
				</label>
				<label>				
					<input ng-model="vm.entry.ExcludeFromInvPricingWarnings"
						type="radio"
						class="form-control"
						ng-value="false"/>
					No				
				</label>
            </div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" ng-disabled="vm.isPending" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
