
    <div class="panel panel-default">
    <div class="panel-body">
        <h5 class="title">Option ARM</h5>
        <div class="table">
            <div>
                <div><label>Option ARM </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sIsOptionArm"></lqb-input>
                </div>
            </div>
            <div>
                <div><label>Minimum Paymentaa Period </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmMinPayPeriod"> mths</lqb-input>
                </div>
                <div><label>Minimum Payment Calculation Method</label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmMinPayOptionT"></lqb-input>
                </div>
            </div>
            <div>
                <div><label>Initial Fixed Rate Period </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmIntroductoryPeriod"> mths</lqb-input>
                </div>
                <div><label>Teaser Rate </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmTeaserR"></lqb-input>
                </div>
            </div>
            <div>
                <div><label>Initial Fixed Minimum Payment </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmInitialFixMinPmtPeriod"> mths</lqb-input>
                </div>
                <div><label>Discount from Note Rate </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmNoteIRDiscount"></lqb-input>
                </div>
            </div>
            <div>
                <div><label>Is Minimum Payment I/O Only?  </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmMinPayIsIOOnly"></lqb-input>
                </div>
                <div><label>Discount from Fully Amortizing Payment </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sOptionArmPmtDiscount"></lqb-input>
                </div>
            </div>  
            <div>
                <div><label>Fully Amortizing at Recast </label></div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sIsFullAmortAfterRecast"></lqb-input>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="flex">
    <div class="left">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="title">Buydown Mortgage</h5>
                <div class="table">
                    <div>
                        <div></div>
                        <div>Rate Reduction</div>
                        <div>Term ( mths) </div>
                    </div>
                    <div>
                        <div><label>1</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnR1"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnMon1"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>2</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnR2"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnMon2"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>3</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnR3"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnMon3"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>4</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnR4"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnMon4"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>5</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnR5"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sBuydwnMon5"></lqb-input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="title">Mortgage Insurance</h5>
                <div class="table">
                    <div>
                        <div><label>Base type:</label></div>
                        <div><label>Base amount:</label></div>
                        <div></div>
                        <div><label>Rate %</label></div>
                        <div><label>Amount</label></div>
                        <div><label>Term</label></div>
                    </div>
                    <div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMInsT"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMInsBaseAmt" readonly></lqb-input>
                        </div>
                        <div>1</div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMInsR"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMIns" readonly></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMInsMon"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                        <div>2</div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMInsR2"></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMIns2" readonly></lqb-input>
                        </div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sProMIns2Mon"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div><label>Cancel at LTV  </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sProMInsCancelLtv"></lqb-input></div>
                        <div class="space-cancel"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sProMInsMidptCancel" label="Cancel at midpoint"></lqb-input></div>
                    </div>
                </div>
                
                <div class="table">
                    <div>
                        <div><label>Minimum number of payments before cancellation  </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sProMInsCancelMinPmts"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5 class="title">Prepayment</h5>
                <div class="table">
                    <div>
                        <div>
                            <label>Extra Amt</label>
                            <lqb-input lqb-model="vm.loan.fields.sPpmtAmt"></lqb-input>
                        </div>
                        <div><label>every</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sPpmtMon"></lqb-input> mths
                        </div>
                        <div><label>start after</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sPpmtStartMon"></lqb-input> mths
                        </div>
                    </div>
                    <div>
                        <div><label>One Time Prepayment</label></div>
                        <div></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sPpmtOneAmt"></lqb-input>
                        </div>
                        <div><label>after</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sPpmtOneMon"></lqb-input> mths
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="table wide">
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sAprIncludesReqDeposit" label="REQUIRED DEPOSIT:  The annual percentage rate does not take into account your required deposit."></lqb-input>

        </div>
    </div>
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sHasDemandFeature" label="DEMAND FEATURE:  This obligation has a demand feature."></lqb-input>
        </div>
    </div>
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sIsPropertyBeingSoldByCreditor" label="CREDIT SALE: The property for this loan is being sold by the creditor."></lqb-input>
        </div>
    </div>
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sHasVarRFeature" label="VARIABLE RATE FEATURE:  This loan contains a variable rate feature.  A variable rate disclosure has been provided earlier."></lqb-input>
        </div>
    </div>
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sVarRNotes"></lqb-input>
        </div>
    </div>
    </div>
    <hr/>

    <div class="table table-insurance">
    <div>
        <div><label>Insurance </label></div>
        <div class="table">
            <div>
                <div>
                    <label> The following insurance is required to obtain credit:   </label>
                </div>
                <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sInsReqDesc"></lqb-input></div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div class="table">
            <div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sReqCreditLifeIns" label="Credit life insurance"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sReqCreditDisabilityIns" label="Credit disability"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sReqPropIns" label="Property insurance"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sReqFloodIns" label="Flood insurance "></lqb-input>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div class="table">   
            <div>
                <div><label> You may obtain the insurance from anyone you want that is acceptable to creditor </label></div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div class="table">  
            <div>  
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sIfPurchInsFrCreditor" label="If you purchase"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sIfPurchPropInsFrCreditor" label="property"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sIfPurchFloodInsFrCreditor" label="flood insurance from creditor you will pay"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sInsFrCreditorAmt"></lqb-input> for a one year term.
                </div>
            </div>
        </div>
    </div>

    <div>
        <div><label>Security</label></div>
        <div class="table">
            <div>
                <div><label>You are giving a security interest in:</label></div>
                <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sSpFullAddr" placeholder="Street"></lqb-input></div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div class="table">
            <div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sSecurityPurch" label="The goods or property being purchased"></lqb-input>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sSecurityCurrentOwn" label="Real property you already own."></lqb-input>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div><label>Filing Fees</label></div>
        <div class="table">   
            <div>
                <div><lqb-input lqb-model="vm.loan.fields.sFilingF"></lqb-input></div>
            </div>
        </div>
    </div>
    <div>
        <div><label>Late Charges</label></div>
        <div class="table">
            <div>   
                <div class="prepayment">
                    If your payment is more than
                    <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sLateDays"></lqb-input>
                    days late, you will be charged
                    <lqb-input class="form-control form-control-date" lqb-model="vm.loan.fields.sLateChargePc"></lqb-input>
                    of
                    <lqb-input class="form-control form-control-date" lqb-model="vm.loan.fields.sLateChargeBaseDesc"></lqb-input>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div><label>Prepayment </label></div>
        <div class="table">
            <div>
                <div>
                    If you pay off early, you 
                    <lqb-input lqb-model="vm.loan.fields.sPrepmtPenaltyT"></lqb-input>
                    be required to pay a penalty and  
                    <lqb-input lqb-model="vm.loan.fields.sPrepmtRefundT"></lqb-input>
                    will not may  be entitled to a refund of part of the finance charge. 
                </div>
            </div>
        </div>
    </div>
    <div>
        <div></div>
        <div class="table">
            <div>
                <div>
                    Prepayment Period  
                    <lqb-input lqb-model="vm.loan.fields.sPrepmtPeriodMonths"></lqb-input>
                    months Soft Prepayment Period  
                    <lqb-input lqb-model="vm.loan.fields.sSoftPrepmtPeriodMonths"></lqb-input>
                    months  
                </div>
            </div>
        </div>
    </div>
    <div>
        <div><label>Assumption </label></div>
        <div class="table">
            <div>
                <div>   
                    Someone buying your property 
                    <lqb-input lqb-model="vm.loan.fields.sAssumeLT"></lqb-input>
                    assume the remainder of your loan on the original terms. 
                </div>
            </div>
        </div>
    </div>
    </div>
    <hr/>

    <div><p><label> See your contract documents for any additional information about nonpayment, default, any required repayment in full before the scheduled date and prepayment refunds and penalties.</label></p></div>
    <div class="table">
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sAsteriskEstimate" label="* means an estimate"></lqb-input>
        </div>
    </div>
    <div>
        <div>
            <lqb-input lqb-model="vm.loan.fields.sOnlyLatePmtEstimate" label="all dates and numerical disclosures except the late payment disclosures are estimates."></lqb-input>
        </div>
    </div>
</div>