<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table"> 
                <div>
                    <div></div>
                    <div><a href="" class="contact-link"> Pick from Contacts</a><a href="">Add to Contacts</a></div>
                </div>
                <div>
                    <div><label>Mortgage Broker / Loan Officer</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.TXMortgageBrokerDisclosure.PreparerName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>License Number</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.TXMortgageBrokerDisclosure.LicenseNumOfAgent"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="title">Duties and Nature of Relationship</h5>
            <div class="table wide">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscWillSubmitToLender" label="We will submit your loan application to a participating lender"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscAsIndependentContractor" label="We are acting as an independent contractor and not as your agent."></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscWillActAsFollows" label="We will be acting as follows:"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscWillActAsFollowsDesc"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="title">How we will be compensated</h5>
            <div class="table wide">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscCompensationIncluded" label="The retail price we offer you - your interest rate, total points, and fees - will include our compensation."></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscChargeVaried" label="Our pricing for your loan is based upon:"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTexasDiscChargeVariedDesc"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>