<div class="section">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h5><a class="text-link" ui-sref="borrowerLiability">Liabilities</a></h5>
		</div>
		<div class="panel-body">
			<div class="flex">
				<section>
					<header></header>
					<div class="table">
						<div>
							<div></div>
							<div><label>Market Value</label></div>
							<div><label>Mtg Amount</label></div>
						</div>
						<div>
							<div><label>Total</label></div>
							<div><lqb-input lqb-model="vm.loan.app.fields.aReTotVal"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.fields.aReTotMAmt"></lqb-input></div>
						</div>
					</div>
				</section>
				<section>
					<header>Rental Properties</header>
					<div class="table">
						<div>
							<div><label>Gross Rent</label></div>
							<div><label>Mtg Payment</label></div>
							<div><label>Ins/Maint/Taxes</label></div>
							<div><label>Cash Flow</label></div>
						</div>
						<div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RentalProperties.GrossRentI"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RentalProperties.MPmt"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RentalProperties.HExp"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RentalProperties.NetRentI"></lqb-input></div>
						</div>
					</div>
				</section>
				<section>
					<header>Retained Properties</header>
					<div class="table">
						<div>
							<div><label>Gross Rent</label></div>
							<div><label>Mtg Payment</label></div>
							<div><label>Ins/Maint/Taxes</label></div>
							<div><label>Cash Flow</label></div>
						</div>
						<div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RetainedProperties.GrossRentI"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RetainedProperties.MPmt"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RetainedProperties.HExp"></lqb-input></div>
							<div><lqb-input lqb-model="vm.loan.app.aReCollection.RetainedProperties.NetRentI"></lqb-input></div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>

<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="secondary-table">
				<thead class="header">
					<tr>
						<th>
							<a ng-click="vm.sortRegulars('Addr')">Address</a>
						</th>
						<th>
							Is Subj Prop?
						</th>
						<th>
							<a ng-click="vm.sortRegulars('StatT')">Status</a>
						</th>
						<th>
							<a ng-click="vm.sortRegulars('NetRentI')">Cash Flow</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="regular in vm.loan.app.aReCollection.Regulars track by $index" ng-class="{'selected': $index == vm.selectedIndex}" ng-click="vm.clickItem($index)">
						<td ng-bind="vm.displayAddress(regular.Addr.v, regular.City.v, regular.State.v, regular.Zip.v)"></td>
						<td ng-bind="vm.displayIsSubjectProp(regular.IsSubjectProp.v)"></td>
						<td ng-bind="vm.displayStatus(regular.StatT.v)"></td>
						<td ng-bind="regular.NetRentI.v|currency"></td>
					</tr>
				</tbody>
			</table>
			<div>
				<button type="button" class="btn btn-default" ng-click="vm.clickPrev()" ng-disabled="vm.isFirstOrEmpty()">&lt;&lt; Prev</button>
				<button type="button" class="btn btn-default" ng-click="vm.clickNext()" ng-disabled="vm.isLastOrEmpty()">Next &gt;&gt;</button>
				<button type="button" class="btn btn-default" ng-click="vm.insert()">Insert</button>
				<button type="button" class="btn btn-default" ng-click="vm.add()">Add</button>
				<button type="button" class="btn btn-default" ng-click="vm.clickMoveUp()"  ng-disabled="vm.isFirstOrEmpty()">Move Up</button>
				<button type="button" class="btn btn-default" ng-click="vm.clickMoveDown()" ng-disabled="vm.isLastOrEmpty()">Move Down</button>
				<button type="button" class="btn btn-default" ng-click="vm.delete()" ng-disabled="vm.isEmpty()">Delete</button>
			</div>	
		</div>
	</div>
</div>

<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
			<div ng-show="!vm.isEmpty()">
				<div ng-repeat="selectedRegular in [vm.selectedRegular]">
					<div class="table">
						<div>
							<div><label>Ownership held by:</label></div>
							<div><lqb-input lqb-model="selectedRegular.ReOwnerT"></lqb-input></div>
						</div>	
					</div>
					<div class="flex">
						<section>
							<div class="table">
								<div>
									<div><button type="button" class="btn btn-default" ng-click="vm.copyFrom(true)">Copy From Borrower Present Address</button></div>
									<div><lqb-input lqb-model="selectedRegular.IsPrimaryResidence" label="Is Primary Residence"></lqb-input></div>
								</div>
								<div>
									<div><button type="button" class="btn btn-default" ng-click="vm.copyFrom(false)">Copy From Subject Property</button></div>
									<div><lqb-input lqb-model="selectedRegular.IsSubjectProp" label="Is Subject Property"></lqb-input></div>
								</div>
							</div>
							<div class="table">
								<div>
									<div><label>Property Address</label></div>
									<div><lqb-input lqb-model="selectedRegular.Addr" placeholder="Street"></lqb-input></div>
								</div>
								<div>
									<div></div>
									<div>
										<lqb-input class="form-control form-control-city" lqb-model="selectedRegular.City" placeholder="City"></lqb-input>
										<lqb-input lqb-model="selectedRegular.State" placeholder="State"></lqb-input>
										<lqb-input lqb-model="selectedRegular.Zip" placeholder="ZIPCode"></lqb-input>
									</div>
								</div>
							</div>
						</section>
						<section>
							<div class="table">
								<div>
									<div><label>Type</label></div>
									<div><lqb-input lqb-model="selectedRegular.TypeT"></lqb-input></div>
								</div>
								<div>
									<div><label>Status</label></div>
									<div><lqb-input lqb-model="selectedRegular.StatT"></lqb-input></div>
								</div>
								<div>
									<div><label>Occ. Rate</label></div>
									<div><lqb-input lqb-model="selectedRegular.OccR_rep"></lqb-input>&nbsp;%</div>
								</div>
							</div>
							<div ng-hide="selectedRegular.IsForceCalcNetRentalI.h"><lqb-input lqb-model="selectedRegular.IsForceCalcNetRentalI" label="Calculate Cash Flow"></lqb-input></div>
						</section>
						<section class="none-shadow">
							<div ng-show="selectedRegular.LinkedLia.length==0">
								<label>No Linked Liabilities</label>
							</div>
							<div ng-hide="selectedRegular.LinkedLia.length==0">
								<label>Linked Liabilities</label>
								<div class="table">
									<div>
										<div><label>&nbsp;</label></div>
										<div><label>Creditor Name</label></div>
										<div><label>Balance</label></div>
										<div><label>Payment</label></div>
									</div>
									<div ng-repeat="lia in selectedRegular.LinkedLia track by $index">
										<div><a ui-sref="borrowerLiability/params({LiaId:lia.LiabilityRecordId.v})">view</a></div>
										<div><lqb-input lqb-model="lia.ComNm"></lqb-input></div>
										<div><lqb-input lqb-model="lia.Bal"></lqb-input></div>
										<div><lqb-input lqb-model="lia.Pmt"></lqb-input></div>
									</div>
								</div>
							</div>
						</section>
					</div><br/>

					<div class="table">
						<div>
							<div><label>Market Value</label></div>
							<div><label>Mtg Amount</label></div>
							<div><label>Gross Rent</label></div>
							<div><label>Mtg Payment</label></div>
							<div><label>Ins/Maint/Taxes</label></div>
							<div><label>Cash Flow</label></div>
						</div>
						<div>
							<div><lqb-input lqb-model="selectedRegular.Val"></lqb-input></div>
							<div><lqb-input lqb-model="selectedRegular.MAmt"></lqb-input></div>
							<div><lqb-input lqb-model="selectedRegular.GrossRentI"></lqb-input></div>
							<div><lqb-input lqb-model="selectedRegular.MPmt"></lqb-input></div>
							<div><lqb-input lqb-model="selectedRegular.HExp"></lqb-input></div>
							<div>
								<lqb-input lqb-model="selectedRegular.NetRentI"></lqb-input>
								<lqb-input lqb-model="selectedRegular.NetRentILckd"></lqb-input>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div lqb-load-fields="sSpAddr sSpCity sSpState sSpZip aBAddr aBCity aBState aBZip"></div>
