body
{
	/* background-color:#3F3F3F; */
	/* color: #DCDCCC; */
    font-size: 11px;    
    margin: 10px 0px 0px 10px;
    font-family: Arial, Helvetica, sans-serif;  	
	
}
.Paragraph 
{
    font-size: 14px;    
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;  	

}
.FootNote
{
	padding-top:10px;
	margin:0px;
	padding-bottom:0px;
	font-size:10px;
	font-style:italic;
	
}