<div class="section">
    <div class="panel panel-default panel-1008">
        <div class="panel-heading">
            <h5>I. Borrower and Property Information</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div>
                        <label><strong>Borrower</strong></label>
                    </div>
                    <div>
                    </div>
                    <div>
                        <label><strong>Co-borrower</strong></label>
                    </div>
                    <div>
                    </div>
                </div>
                <div>
                    <div>
                        <label>First Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBFirstNm"></lqb-input>
                    </div>
                    <div>
                        <label>First Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCFirstNm"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Middle Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBMidNm"></lqb-input>
                    </div>
                    <div>
                        <label>Middle Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCMidNm"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Last Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBLastNm"></lqb-input>
                    </div>
                    <div>
                        <label>Last Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCLastNm"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Suffix</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBSuffix"></lqb-input>
                    </div>
                    <div>
                        <label>Suffix</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCSuffix"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>SSN</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBSsn"></lqb-input>
                    </div>
                    <div>
                        <label>SSN</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCSsn"></lqb-input>
                    </div>
                </div>
            </div>

            <hr />
            <div class="table">
                <div>
                    <div>
                        <label>Property Address</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label></label>
                    </div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
            </div>
            <hr />
            <div class="table">
                <div>
                    <div><label>Property Type</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGseSpT"></lqb-input>
                    </div>
                    <div><label>Number of Units</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sUnitsNum"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Occupancy Status</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aOccT"></lqb-input>
                    </div>
                    <div><label>Sales Price</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                    <div><label>Appraised Value</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sApprVal"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Freddie Mac Project Classification</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSpProjectClassFreddieT"></lqb-input>
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><label>Fannie Mae Project Classification</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSpProjectClassFannieT"></lqb-input>
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
                <div>
                    <div><label>Project Name</label></div>
                    <div class="project-name">
                        <lqb-input lqb-model="vm.loan.fields.sProjNm"></lqb-input>
                    </div>
                    <div><label>Property Rights</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sEstateHeldT"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>CPM Project ID# (if any)</label></div>
                    <div>
                        <lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sCpmProjectId"></lqb-input>
                    </div>
                    <div>&nbsp;</div>
                    <div>&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-1008">
        <div class="panel-heading">
            <h5>II. Mortgage Information</h5>
        </div>
        <div class="panel-body">
            <div class="table table-loan-type">
                <div>
                    <div>
                        <label>Loan Type</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLT"></lqb-input>
                    </div>
                    <div>
                        <label>Amortization Type</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethT"></lqb-input>
                    </div>
                    <div>
                        <label>Amort. Desc.</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethDesc"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethodPrintAsOther" label="Amortization Type Other -"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethPrintAsOtherDesc"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sBiweeklyPmt" label="Biweekly Payment"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sBalloonPmt" label="Balloon"></lqb-input>
                    </div>
                </div>
            </div>

            <div class="table">
                <div>
                    <div><label>Loan Purpose</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input>
                    </div>
                    <div class="space"></div>
                    <div><label>Lien Position</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLienPosT"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Purpose of Refi</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGseRefPurposeT"></lqb-input>
                    </div>
                    <div class="space"></div>
                    <div><label>Sub. Fin.</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSubFin"></lqb-input>
                    </div>
                </div>
            </div>

            <div class="table">
                <div>
                    <div>
                        <h5><strong>Note Information</strong></h5>
                    </div>
                    <div></div>
                    <div></div>
                    <div><h5><strong>If Second Mortgage</strong></h5></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Original Loan Amount</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input>
                    </div>
                    <div class="table">
                        <div>
                            <div class="mortgage-originator">
                                <label>Mortgage Originator</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sMOrigT"></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>First Mortgage Owner</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1stMOwnerT"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Initial P&I Payment</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProThisMPmt"></lqb-input>
                    </div>
                    <div class="table">
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sIsMOrigBroker" label="Broker"></lqb-input>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sIsMOrigCorrespondent" label="Correspondent"></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Loan Amount</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.s1stMtgOrigLAmt"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Initial Note Rate</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input>
                    </div>
                    <div>
                        <label>Broker/Correspondent Name and Company Name</label>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Term</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.TransmMOriginator.CompanyName"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div><label>Buydown</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sBuydown" ng-value="'Yes'"  li-type="radio" label="Yes"></lqb-input>
                                <lqb-input lqb-model="vm.loan.fields.sBuydown" ng-value="'No'"  li-type="radio" label="No"></lqb-input>
                            </div>
                            <div>
                                <label>Buydown Terms</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sTransmBuydwnTermDesc"></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-1008">
        <div class="panel-heading">
            <h5>III. Underwriting Information</h5>
        </div>
        <div class="panel-body">
            <div class="underwriting-information">
                <div class="left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div><label>Underwriter's Name</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.sAgentOfRole.Underwriter[0].AgentName"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Appraiser's Name</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].AgentName"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Appraiser's License Number</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].LicenseNumOfAgent"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Appraisal's Company Name</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].CompanyName"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div></div>
                                    <div>
                                        Borrower
                                    </div>
                                    <div>
                                        Co-borrower
                                    </div>
                                    <div>
                                        Total
                                    </div>
                                </div>
                                <div>
                                    <div><label>Base Income</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aBBaseI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aCBaseI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTotBaseI"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Other Income</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aBNonbaseI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aCNonbaseI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTotNonbaseI"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aOIFrom1008Desc"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aBOIFrom1008"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aCOIFrom1008"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTotOIFrom1008"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('propertyRentalIncome')">Positive Cash Flow (Subject Property)</a>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aBSpPosCf"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aCSpPosCf"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTotSpPosCf"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Total Income</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmBTotI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmCTotI"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmTotI"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div>
                                        Qualifying Ratios
                                    </div>
                                </div>
                                <div>
                                    <div><label>Housing Ratio</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aQualTopR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Total Debt Ratio</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aQualBottomR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Debt-to-Housing Gap Ratio (Freddie)</label></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sDebtToHousingGapRLckd"></lqb-input></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sDebtToHousingGapR"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="wrap-qualifying">
                        <div class="qualifying-rate">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table">
                                        <div>
                                            <div><label>Qualifying Rate</label></div>
                                        </div>
                                        <div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sQualIR"></lqb-input>
                                            </div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sQualIRDeriveT"></lqb-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="table">
                                    <div>
                                        <div>
                                            <label>Escrow (T&amp;I)</label>
                                        </div>
                                        <div>
                                        <lqb-input lqb-model="vm.loan.fields.sWillEscrowBeWaived" ng-value="'Yes'"  li-type="radio" label="Yes"></lqb-input>
                                        <lqb-input lqb-model="vm.loan.fields.sWillEscrowBeWaived" ng-value="'No'" li-type="radio"   label=" No"></lqb-input>  
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="loan-to-value-ratios">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <label>Loan-to-Value Ratios</label>
                                    </div>
                                    <div class="table">
                                        <div>
                                            <div><label>LTV</label></div>
                                            <div></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sLtvR"></lqb-input>
                                            </div>
                                        </div>
                                        <div>
                                            <div><label>CLTV/TLTV</label></div>
                                            <div></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sCltvR"></lqb-input>
                                            </div>
                                        </div>
                                        <div>
                                            <div><label>HCLTV/HTLTV</label></div>
                                            <div><lqb-input lqb-model="vm.loan.fields.sHcltvRLckd"></lqb-input></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sHcltvR"></lqb-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div>
                                        <label>Community Lending/Affordable Housing Initiative</label>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsCommLen" ng-value="'Yes'"  li-type="radio" label="Yes"></lqb-input>
                                        <lqb-input lqb-model="vm.loan.fields.sIsCommLen" ng-value="'No'" li-type="radio"   label="No "></lqb-input>  
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Home Buyers/Homeownership Education Certificate in file</label>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsHOwnershipEdCertInFile" ng-value="'Yes'"  li-type="radio" label="Yes" ></lqb-input>
                                        <lqb-input lqb-model="vm.loan.fields.sIsHOwnershipEdCertInFile" ng-value="'No'" li-type="radio"   label=" No" ></lqb-input>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div><label>Approved Date</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sApprovD"></lqb-input>
                                    </div>
                                    <div><label>Underwriting Date</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sUnderwritingD"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('presHouseExpense')">Present Housing Payment</a>
                                    </div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aPresTotHExp"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        Proposed Monthly Payments
                                    </div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('loanInfo')">Borrower's Primary Residence</a>
                                    </div>
                                    <div></div>
                                    <div></div>
                                </div>
                                <div>
                                    <div><label>1st&nbsp;Mortgage P&amp;I</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmPro1stMPmt"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>2nd Mortgage P&amp;I</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmPro2ndMPmt"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Hazard Insurance</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmProHazIns"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Taxes</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmProRealETx"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Mortgage Insurance</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmProMIns"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Homeowners Assoc. Fees</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmProHoAssocDues"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Other</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmOtherProHExp"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Total Primary Housing Expense</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmProTotHExp"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        Other Obligations
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        Negative Cashflow
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('propertyRentalIncome')">Subject Property</a>
                                    </div>
                                    <div><lqb-input lqb-model="vm.loan.app.fields.aSpNegCfLckd"></lqb-input></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aSpNegCf"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('reo')">Other Properties</a>
                                    </div>
                                    <div><lqb-input lqb-model="vm.loan.app.fields.aOpNegCfLckd"></lqb-input></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aOpNegCf"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <a ng-click="vm.goTo('borrowerLiability')">Non-mortgage Liabilities</a>
                                    </div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmOMonPmt"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Total All Monthly Payments</label></div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.app.fields.aTransmTotMonPmt"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>Borrower Funds to Close
                                    </div>
                                </div>
                                <div>
                                    <div><label>Required</label></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sTransmFntcLckd"></lqb-input></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sTransmFntc"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Verified Assets</label>
                                        <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.fromAsset()">From Assets</button></span>
                                    </div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sVerifAssetAmt"></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div class="table wide">
                                <div>
                                    <div>
                                        Source of Funds
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sFntcSrc"></lqb-input>
                                    </div>
                                </div>
                            </div><div class="table">
                                <div>
                                    <div class="no-of-months-reserves"><label>No. of Months Reserves</label></div>
                                    <div>
                                        <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sRsrvMonNumDesc"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Interested Party Contributions</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sInterestedPartyContribR"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table">
                        <div>
                            <div>
                                <label>Level of Property Review</label>
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sApprFull" label="Interior/Exterior (Full)"></lqb-input>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sApprDriveBy" label="Exterior Only"></lqb-input>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sIsSpReviewNoAppr" label="No Appraisal"></lqb-input>
                            </div>
                            <div>
                                Form Number
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sSpReviewFormNum"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table">
                        <div>
                            <div><label>Risk Assessment</label></div>
                            <div></div>
                            <div>
                                <label>DU Case ID</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sDuCaseId"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sIsManualUw" label="Manual Underwriting"></lqb-input>

                            </div>
                            <div></div>
                            <div>
                                <label>LP AUS Key #</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sLpAusKey"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div class="table">
                                <div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsDuUw" label="DU"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsLpUw" label="LP"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsOtherUw" label="Other"></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sOtherUwDesc"></lqb-input>
                            </div>
                            <div>
                                <label>LP Doc Class (Freddie)</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sLpDocClass"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div>
                                <label>AUS Recommendation</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sAusRecommendation"></lqb-input>
                            </div>
                            <div>
                                <label>Representative Credit/Indicator Score</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sRepCrScore"></lqb-input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table wide">
                <div>
                    <label>Underwriter Comments</label>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sTransmUwerComments"></lqb-input>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-1008">
        <div class="panel-heading">
            <h5>IV. Seller, Contract, and Contact Information</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div>
                        <label>Seller</label>
                    </div>
                    <div></div>
                    <div>
                        <a class="contact-link">Pick from Contacts</a>
                        <a>Add to Contacts</a>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Seller Name</label>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenNm"></lqb-input>
                    </div>
                    <div>
                        <label>Contact Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenContactNm"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Seller Address</label>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenAddr" placeholder="Street"></lqb-input>
                    </div>
                    <div>
                        <label>Contact Title</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenContactTitle"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sLenState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sLenZip" placeholder="ZIPCode"></lqb-input>
                    </div>
                    <div>
                        <label>Contact Phone</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenContactPhone"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Seller No.</label>
                    </div>
                    <div></div>
                    <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenNum"></lqb-input></div>
                    <div>
                        <label>Date</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenContractD"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Seller Loan No.</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLenLNumLckd"></lqb-input></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenLNum"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Investor Loan No.</label>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInvestLNumLckd"></lqb-input></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sInvestLNum"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Master Commitment No.</label>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sCommitNum"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div>
                        <label>Contract No.</label>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sContractNum"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div lqb-load-fields="sIsRateLocked"></div>
