<table class="table table-condensed">
    <thead>
        <tr>{{#each headers}}
            <th><a on-click="['sort',key]">{{value}} {{>sortIcon}}</a></th>
        {{/each}}</tr>
    </thead>
    <tbody>
        {{#each items}}<tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{count}}</td>
        </tr>{{/each}}
    </tbody>
</table>

{{#partial sortIcon}}
<span class="glyphicon
            {{#if (sort.by != key)}}invisible{{/if}}
            {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}