<div class="section">
    <div class="panel panel-default panel-survey-request">
        <div class="panel-body">
            <div class="flex">
                <section class="shadow"><header class="title">To</header>
                    <div class="table">
                        <!-- <uc:CFM name=CFM1 runat="server" Type="18" CompanyNameField="SurveyRequest_ToCompanyName" StreetAddressField="SurveyRequest_ToStreetAddr" CityField="SurveyRequest_ToCity" StateField="SurveyRequest_ToState" ZipField="SurveyRequest_ToZip"></uc:CFM> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name   </label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_To.CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_To.StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.SurveyRequest_To.City" placeholder="City"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_To.State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_To.Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="shadow"><header class="title">From</header>
                    <div class="table">
                        <!-- <uc:CFM name=CFM2 runat="server" CompanyNameField="SurveyRequest_FromCompanyName" StreetAddressField="SurveyRequest_FromStreetAddr" CityField="SurveyRequest_FromCity" StateField="SurveyRequest_FromState" ZipField="SurveyRequest_FromZip" CompanyPhoneField="SurveyRequest_FromPhoneOfCompany" CompanyFaxField="SurveyRequest_FromFaxOfCompany"></uc:CFM> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.CompanyName"   ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.StreetAddr" placeholder="Street"    ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.SurveyRequest_From.City" placeholder="City"          ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.State" placeholder="State"         ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.Zip" placeholder="ZIPCode"           ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.SurveyRequest_From.PhoneOfCompany"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Fax</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.FaxOfCompany"  ></lqb-input></div>
                        </div>
                </div>
            </section>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-survey-request">
        <div class="panel-body">
            <section>
                <div class="table table-survey-request">
                    <div>
                        <div><label>Property Address    </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"     ></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city form-control-city-surveyrequest" lqb-model="vm.loan.fields.sSpCity" placeholder="City"     ></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"    ></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"      ></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Legal Description   </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-survey-request">
        <div class="panel-body">
            <section><header class="title">Title Company</header>
                <div class="table table-survey-request">
                    <!-- <uc:CFM name=CFM3 runat="server" Type="4" CompanyNameField="TitleCompanyName" StreetAddressField="TitleStreetAddr" CityField="TitleCity" StateField="TitleState" ZipField="TitleZip" CompanyPhoneField="TitlePhoneOfCompany" CompanyFaxField="TitleFaxOfCompany"></uc:CFM> -->
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Company</label></div>
                        <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CompanyName"   ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].StreetAddr" placeholder="Street"    ></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city form-control-city-surveyrequest" lqb-model="vm.loan.sAgentOfRole.Title[0].City" placeholder="City"          ></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].State" placeholder="State"         ></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].Zip" placeholder="ZIPCode"           ></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Title[0].PhoneOfCompany"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Fax</label></div>
                        <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Title[0].FaxOfCompany"  ></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-survey-request">
        <div class="panel-body">
            <section>
                <div class="table">
                    <div>
                        <div><label>Access</label></div>
                        <div><label>Name</label></div>
                        <div class="space"></div>
                        <div>Phone</div>
                    </div>
                    <div>
                        <div><label>Seller  </label></div>
                        <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.sAgentOfRole.Seller[0].AgentName"></lqb-input></div>
                        <div class="space"></div>
                        <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Seller[0].Phone"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Borrower</label></div>
                        <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aBNm" readonly        ></lqb-input></div>
                        <div class="space"></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBHPhone"         ></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default panel-survey-request">
        <div class="panel-body">
            <section>
                <div class="table table-survey-request">
                    <div>
                        <div><label>Property Type                </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpT"      ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Loan Purpose                 </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                    </div>
                </div>
                <div class="table table-survey-request">
                    <div>
                        <div><label>Attachment</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sAttachedContractBit" label="Contract"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sAttachedSurveyBit"   label="Survey  "></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sAttachedPlansBit"    label="Plans   "></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sAttachedCostsBit"  label="Costs   " ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sAttachedSpecsBit"  label="Specs   " ></lqb-input></div>
                        <div></div>
                    </div>
                </div>
                <div class="table table-survey-request wide">
                    <div>
                        <div><label>Comments</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSurveyRequestN" li-type="textarea"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Due Date    </label></div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.SurveyRequest_From.PrepareDate"></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-xs-6"></div>
    </div>
    <div class="col-xs-6"></div>
</div>
