<div class="panel">
    <div class="panel-body">
        <div class="clearfix">
            <div class="text-center">
                <label class="checkbox-inline">
                    <input type="checkbox" id="showAll" checked="{{showAll}}" /> Show All Users (Not Just Active Users)
                </label>
            </div>
            <div class="pull-right">
                <span class="clipper"><a class="btn btn-primary {{#if selectedState == 0}}disabled{{/if}}" on-click="forceChange">Force Password Change</a></span>
            </div>
            <div class="clipper"><a class="btn btn-primary" on-click="addNew">Add New</a></div>
        </div>

        {{#if users == null}}
            <div class="text-danger">There is no admin.</div>
        {{/if}}
    </div>

    {{#if users != null}}
        <table class="table table-striped table-condensed">
            <thead><tr>
                <th class="text-center" style="width:6em;"></th>
                <th class="text-left"><a on-click="['sort','LoginNm']" >Login      {{>sortIcon {key:"LoginNm" }}}</th>
                <th class="text-left"><a on-click="['sort','AdminNm']" >Admin Name {{>sortIcon {key:"AdminNm" }}}</th>
                <th class="text-left"><a on-click="['sort','IsActive']">Active?    {{>sortIcon {key:"IsActive"}}}</th>
                <th class="text-center"><input type="checkbox" id="batchSelect" on-click="selectAllUsers" checked="{{selectedState == 2}}"></th>
            </tr></thead>
            <tbody>
                {{#each users}}
                    <tr style-display="{{(!IsActive && !showAll) ? 'none' : ''}}">
                        <td class="text-center" style="width:6em;"><a class="btn btn-link" on-click="['edit', this]">edit</a></td>
                        <td class="text-left">{{LoginNm}}</td>
                        <td class="text-left">{{AdminNm}}</td>
                        <td class="text-left">{{IsActive ? 'Yes' : 'No'}}</td>
                        <td class="text-center"><input type="checkbox" checked="{{isSelected}}"/></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div>

<div id="editModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">
                {{#if (!(edittingUser.UserID))}}
                    Add New Admin
                {{else}}
                    Edit Admin
                {{/if}}
            </h4></div>
            <form class="form-group-sm form-adjust-mb" on-submit="save">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {{#if (!!(formError.FirstName))}}has-error{{/if}}">
                            <div class="text-danger pull-right {{#if (!(formError.FirstName))}}hidden{{/if}}">{{formError.FirstName}}</div>
                            <label>First Name:<span class="text-danger">*</span></label>
                            <input value="{{edittingUser.FirstName}}"
                                   type="text"
                                   required data-required="true"
                                   class="form-control" autocomplete="given-name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group {{#if (!!(formError.LastName))}}has-error{{/if}}">
                            <div class="text-danger pull-right {{#if (!(formError.LastName))}}hidden{{/if}}">{{formError.LastName}}</div>
                            <label>Last Name:<span class="text-danger">*</span></label>
                            <input value="{{edittingUser.LastName}}"
                                   type="text"
                                   required data-required="true"
                                   class="form-control" autocomplete="family-name">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group {{#if (!!(formError.LoginNm))}}has-error{{/if}}">
                            <label>Login:<span class="text-danger">*</span></label>
                            <input value="{{edittingUser.LoginNm}}"
                                   type="text"
                                   required data-required="true"
                                   class="form-control" autocomplete="name">
                            <div class="text-danger {{#if (!(formError.LoginNm))}}hidden{{/if}}">{{formError.LoginNm}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group {{#if (!!(formError.password))}}has-error{{/if}}">
                            <div class="pull-right"><small><a data-toggle="modal" data-target="#guidelineModal">show rules</a></small></div>
                            <label>Password:{{#if (!edittingUser.UserID)}}<span class="text-danger">*</span>{{/if}}</label>
                            <input value="{{password}}"
                                   type="password"
                                   required="{{(!edittingUser.UserID)}}"
                                   data-required="{{#if (!edittingUser.UserID)}}true{{/if}}"
                                   class="form-control" autocomplete="new-password">
                            <div class="text-danger {{#if (!(formError.password))}}hidden{{/if}}">{{formError.password}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group {{#if (!!(formError.passwordRe))}}has-error{{/if}}">
                            <label>Re-enter Password:{{#if (!edittingUser.UserID)}}<span class="text-danger">*</span>{{/if}}</label>
                            <input value="{{passwordRe}}"
                                   type="password"
                                   required="{{(!edittingUser.UserID)}}"
                                   data-required="{{#if (!edittingUser.UserID)}}true{{/if}}"
                                   class="form-control" autocomplete="new-password">
                            <div class="text-danger {{#if (!(formError.passwordRe))}}hidden{{/if}}">{{formError.passwordRe}}</div>
                        </div>
                    </div>
                </div>

                <div class="checkbox"><label>
                    <input type="checkbox" checked="{{changePassNext}}">
                    Change password at next login
                </label> </div>

                <div class="form-group">
                    <label>Permissions:</label>
                    <div class="row">
                        <div class="col-xs-3 col-xs-offset-1">
                            {{#each leftPermissionFields}}
                            <div class="checkbox"><label>
                                <input type="checkbox" checked="{{ edittingUser[key] }}">
                                {{text}}
                            </label></div>
                            {{/each}}
                        </div>
                        <div class="col-xs-3">
                            {{#each centerPermissionFields}}
                            <div class="checkbox"><label>
                                <input type="checkbox" checked="{{ edittingUser[key] }}">
                                {{text}}
                            </label></div>
                            {{/each}}
                        </div>
                        <div class="col-xs-3">
                            {{#each rightPermissionFields}}
                            <div class="checkbox"><label>
                                <input type="checkbox" checked="{{ edittingUser[key] }}">
                                {{text}}
                            </label></div>
                            {{/each}}
                        </div>
                    </div>
                </div>

                <div class="form-horizontal"><div class="form-group">
                    <label class="col-xs-1 control-label">Status:</label>
                    <div class="col-xs-11">
                        <div class="checkbox-inline"><label>
                            <input type="checkbox" checked="{{edittingUser.IsActive}}">
                            Active
                        </label></div>
                    </div>
                </div></div>
            </div>
            <div class="modal-footer">
                <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Cancel</a></span>
                <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
            </div>
            </form>
        </div>
    </div>
</div>

{{#partial sortIcon}}
    <span class="glyphicon
        {{#if (sort.by != key)}}invisible{{/if}}
        {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}
