<div>
    {{$ctrl.agent.RoleName}}
    <a class="underline-link"
        ng-show="$ctrl.allowlinks && $ctrl.agent.AssignmentLink != ''"
        ng-click="$ctrl.assignClick()">
        <span ng-show="$ctrl.agent.Assigned">re-</span>assign
    </a>
</div>
<div class="agent-data">Name: {{$ctrl.agent.Name }}</div>
<div class="agent-data">Email:&nbsp; {{$ctrl.agent.Email}}</div>
<div class="agent-data">Phone: {{$ctrl.agent.Phone}}</div>
