﻿<div class="section agent-section">
    <div class="subsection-header">Assigned Agents in {{$ctrl.datasource.sectionName}}</div>
    <br>
    <div class="flex-status-agents">
        <assigned-agent
            class="agent-col"
            ng-repeat="agent in $ctrl.datasource.agents"
            agent="agent"
            allowlinks="$ctrl.allowlinks"
            on-assign="$ctrl.beginAssign(agent)"
            ></assigned-agent>
    </div>
</div>
