<header class="page-header">Status and Agents</header>

<div generic-framework-vendor-links></div>

<header class="header">Status</header>

<div class="wrap-loading wrap-loading-status-agent" id="WaitDialog">
    <div class="loading-content status-agent-loading">
        <img class="img-loading" src="../images/loading.gif">
        <h3 class="text-loading" id="WaitText">Please wait, creating loan...</h3>
    </div>
</div>

<div id="statusSection" class="flex-space-between">
    <div><div class="height-p24"><span class="text-grey-p70 text-bold">Current Status: </span><span ng-bind="$ctrl.vm.sStatusT"></span> <img id="statusWarningImage" src="../images/warn.png" ng-show="$ctrl.vm.isInactiveStatus"></div></div>
    <div><div class="height-p24"><span class="text-grey-p70 text-bold">Status Date:    </span><span ng-bind="$ctrl.vm.sStatusD"></span></div></div>
    <div><div class="height-p24">
        <span class="text-grey-p70 text-bold">Action:</span>
        <a class="underline-link view-link" ng-click="$ctrl.viewStatusCertificate()"                                            >view status certificate</a>
        <a class="underline-link view-link" ng-click="$ctrl.viewSuspenseNotice()"      ng-show="$ctrl.vm.hasSuspenseNotice"     >view suspense notice</a>
        <a class="underline-link view-link" ng-click="$ctrl.viewApprovalCertificate()" ng-show="$ctrl.vm.hasApprovalCertificate">view approval certificate</a>
        <a class="underline-link view-link" ng-click="$ctrl.viewCreditDenial()"        ng-show="$ctrl.vm.hasCreditDenial"       >view credit denial</a>
    </div></div>
    <div><div>
             <button type="button" class="btn btn-default" ng-if="!$ctrl.vm.HideStatusSubmissionButtonsInOriginatorPortal" ng-click="$ctrl.changeLoanStatus();" nohighlight="true">
                 <span ng-if="$ctrl.vm.isLead">Change Lead Status</span>
                 <span ng-if="!$ctrl.vm.isLead">Change Loan Status</span>
             </button>
    </div></div>
    <div>
        <div>
            <button type="button" class="btn btn-default" ng-if="$ctrl.vm.isLead" ng-click="$ctrl.convertToLoanFile();" ng-disabled="!$ctrl.vm.canConvertLead" nohighlight="true">Convert to loan file</button>
			<img src="../images/warning20x20.png" ng-if="$ctrl.vm.isLead && !$ctrl.vm.canConvertLead" data-toggle="tooltip" data-placement="bottom" title="{{$ctrl.vm.convertLeadBlockMessage}}" alt="Warning" />
        </div>
    </div>
</div>

<div class="section margin-bottom-2em" ng-if="!$ctrl.vm.isLead">
    <div id="statusDiv">
        <ul id="statusList">
            <li ng-repeat="loanStatus in $ctrl.vm.loanStatuses"
                ng-class="{
                    active: loanStatus.Active,
                    focus: loanStatus.Complete,
                    collapsed: loanStatus.Collapsed,
                    first: $first, last: $last
                }"
                data-html="true" data-toggle="tooltip" data-placement="bottom"
                title="{{loanStatus.Tooltip}}">
                <div>
                    <span ng-hide="loanStatus.Name == null">{{loanStatus.Name}}</span>
                    <span ng-hide="loanStatus.Date == null" class="loan-status-date">{{loanStatus.Date}}</span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="clear"></div>

<header class="header">Agents</header>

<assigned-agent-section ng-if="!$ctrl.vm.isRetailMode"
    datasource="$ctrl.vm.assignedOcAgents" allowlinks="true" on-assign="$ctrl.displayAgentAssignment($agent)"></assigned-agent-section>

<div class="clear" ng-if="!$ctrl.vm.isRetailMode"></div>

<assigned-agent-section datasource="$ctrl.vm.assignedLenderAgents" allowlinks="$ctrl.vm.isRetailMode" on-assign="$ctrl.displayAgentAssignment($agent)"></assigned-agent-section>
