<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div></div>
                    <div>
                        <a class="contact-link">Pick from Contacts</a>
                        <a>Add to Contacts</a>
                    </div>
                </div>
                <div>
                    <div><label>Lender</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.FloodHazardNotice.CompanyName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.FloodHazardNotice.StreetAddr" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.FloodHazardNotice.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.FloodHazardNotice.State" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.FloodHazardNotice.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>  
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="title">NOTICE 1:&nbsp; Notice to Borrower of Special Flood Hazard Area</h5>
            <fieldset class="table">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodHazardBuilding" label="The building securing the loan for which you have applied is or will be located in an area with special flood hazards"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodHazardMobileHome" label="The mobile home securing the loan for which you have applied is or will be located in an area with special flood hazards."></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>The area has been identified by the Director of the Federal Emergency Management Agency (FEMA) as a special flood hazard area using FEMA's Flood Insurance Rate Map or the Flood Hazard Boundary Map for the following community:</label>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input class="form-control multiple-text" lqb-model="vm.loan.fields.sFloodHazardCommunityDesc"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
        <fieldset class="table">
            <div>
                <div>
                    <label>Flood Certification #:</label>
                </div>
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sFloodCertId"></lqb-input>
                </div>        
            </div>
        </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="title">NOTICE 2:&nbsp; Notice to Borrower about Federal Disaster Relief Assistance</h5>
            <fieldset class="table">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodHazardFedInsAvail" label="The community in which the property securing the loan is located participates in the National Flood Insurance Program (NFIP)"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodHazardFedInsNotAvail" label="Flood insurance coverage under the NFIP is not available for the property securing the loan because the community in which the property is located does not participate in the NFIP"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
