<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            Global Whitelist
        </div>
        <div class="panel-body">
            <p>IP addresses on this list will not require SMS authentication for any user.</p>
            <table class="secondary-table">
                <thead class="header">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>IP Address</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        <th>Last Modified User</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.pipeline.IpWhiteList">
                        <td><a ng-click="vm.editItem($index)" data-toggle="modal" data-target="#addModal">edit</a></td>
                        <td><a ng-click="vm.deleteItem($index)">delete</a></td>
                        <td>{{item.IpAddress.v}}</td>
                        <td>{{item.Description.v}}</td>
                        <td>{{item.LastModifiedDateDisplay.v}}</td>
                        <td>{{item.LastModifiedLoginName.v}}</td>
                    </tr>
                </tbody>
            </table>

            <br/>
            <div>
                <button ng-click="vm.addItem()"  data-toggle="modal" data-target="#addModal">Add new</button>
            </div>
        </div>
    </div>
</div>
<lq-modal ref="vm.modal = $ref">
        <slot-heading>IP Restriction</slot-heading>
        <slot-body>
            <div class="table">
                <div>
                    <div><label>IP Address</label></div>
                    <div>
                        <input type="text" ng-change="vm.checkIpField()" class="form-control small-text" ng-model="vm.workingIpItem.IpAddress">
                        <label class="text-danger" ng-show="vm.shouldShowInputError">*</label>
                    </div>
                </div>
                <div>
                    <div><label>Description</label></div>
                    <div><input type="text" class="form-control small-text description-input" ng-model="vm.workingIpItem.Description"></div>
                </div>
            </div>
            <p>You can use a wildcard '*' in the IP address. Example: 128.201.200.* means to allow all users in the 128.201.200 subnet access.</p>
        </slot-body>
        <slot-footer>
        </slot-footer>
    </lq-modal>
