<div class="section">
	<div class="panel panel-default wrap-panel">
		<div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Loan Program  </label></div>
                    <div>
                        <lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sLpTemplateNm"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Registered Loan Program  </label></div>
                    <div>
                        <lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sLpTemplateNmSubmitted" readonly></lqb-input>
                    </div>
                </div>
            </div>
            <hr/>

            <div class="table">
                <div>
                    <div><label>Total Loan Amt  </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input>
                    </div>
                    <div class="col-empty"></div>
                    <div><label>Interest Rate  </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Amort Type </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethT"></lqb-input>
                    </div>
                    <div class="col-empty"></div>
                    <div><label>Term/Due   </label></div>
                    <div class="term-due">
                        <lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input>/
                        <lqb-input lqb-model="vm.loan.fields.sDue"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Amort Desc  </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethDesc"></lqb-input>
                    </div>
                    <div class="col-empty"></div>
                    <div>
                        <label>1st Payment Date    </label>
                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD1Lckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD1"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Days in Year</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sDaysInYr"></lqb-input>
                    </div>
                    <div class="col-empty"></div>
                    <div><label>Per-diem Interest</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sIPerDay"></lqb-input>
                        <label>per day  </label>
                        <lqb-input lqb-model="vm.loan.fields.sIPerDayLckd"></lqb-input>
                    </div>
                </div>
            </div>
            <div class="btn-populate">
                <button class="primary-btn">Populate from loan program template...</button>
            </div>
           
           <div class="flex">
                <div class="left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="margin-bottom">Adjustable Rate Mortgage</h5>
                            <div><p><label>Rate Adjustment</label></p></div>
                            <div class="table">
                                <div>
                                    <div><label>1st Adj Cap</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdj1stCapR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>1st Change</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdj1stCapMon"></lqb-input> mths
                                    </div>
                                </div>
                                <div>
                                    <div><label>Adj Cap</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjCapR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Adj Period</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjCapMon"></lqb-input> mths
                                    </div>
                                </div>
                                <div>
                                    <div><label>Life Adj Cap</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjLifeCapR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Margin</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjMarginR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Index</label></div>
                                    <div ng-show="vm.loan.fields.sRAdjWorstIndex.v" >
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjWorstIndex" label="Worst Case"></lqb-input>                    
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sArmIndexNameVstr"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjIndexR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Rate Floor</label><a>calculate</a></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjFloorR" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <label>Round</label>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjRoundT"></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sRAdjRoundToR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Convertible Mortgage</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sIsConvertibleMortgage"></lqb-input>
                                    </div>
                                </div>                
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h5 class="margin-bottom">ARM Potential Negative Amort.</h5>
                            <div><p><label>Payment Adjustment</label></p></div>
                            <div class="table">
                                <div>
                                    <div><label>Adj Cap</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sPmtAdjCapR"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Adj Period</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sPmtAdjCapMon"></lqb-input> mths
                                    </div>
                                </div>
                                <div>
                                    <div><label>Recast Pd</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sPmtAdjRecastPeriodMon"></lqb-input> mths
                                    </div>
                                </div>
                                <div>
                                    <div><label>Recast Stop</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sPmtAdjRecastStop"></lqb-input> mths
                                    </div>
                                </div>
                                <div>
                                    <div><label>Max Bal</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sPmtAdjMaxBalPc"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div><label>Use Max Bal for DTI</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sDtiUsingMaxBalPc"></lqb-input>
                                    </div>
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div><label>Initial APR   </label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sInitAPR" readonly></lqb-input>
                                    </div>
                                    <div><label>Last Disclosed APR</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sLastDiscAPR"></lqb-input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table">
                                <div>
                                    <div><strong>Pmt Schedule</strong></div>
                                    <div class="col-pmt-schedule"></div>
                                    <div><strong>APR-related CC : </strong></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sAprIncludedCc"></lqb-input></div>
                                    <div><strong>APR:</strong></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sApr" readonly></lqb-input></div>
                                </div>
                            </div>
                             <div class="table table-pmt-schedule">
                                <div>
                                    <div></div>
                                    <div># of Pmts</div>
                                    <div>Pmt Date</div>
                                    <div>Interest Rate</div>
                                    <div>Monthly Payment</div>
                                    <div>Balance</div>
                                </div>
                                <div>
                                    <div></div>
                                    <div> 
                                        <!--NOTE: dump data-->
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum1" readonly></lqb-input> 
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD2" readonly></lqb-input> 
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR1" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt1" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal1" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum2" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD2" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR2" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt2" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal2" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum3" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD3" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR3" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt3" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal3" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum4" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD4" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR4" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt4" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal4" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum5" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD5" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR5" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt5" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal5" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum6" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD6" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR6" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt6" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal6" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum7" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD7" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR7" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt7" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal7" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum8" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD8" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR8" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt8" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal8" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum9" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD9" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR9" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt9" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal9" readonly></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNum10" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedDueD10" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedIR10" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmt10" readonly></lqb-input>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedBal10" readonly></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div class="table table-pmt-schedule">
                                <div>
                                    <div><label>total</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtNumTot"></lqb-input>
                                    </div>
                                    <div class="col-total"></div>
                                    <div><label>Total of Payment</label></div>
                                    <div>
                                        <lqb-input lqb-model="vm.loan.fields.sSchedPmtTot"></lqb-input>
                                    </div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="table">
                                <div>
                                    <div><label>Amount Financed</label></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sFinancedAmt"></lqb-input></div>
                                    <div class="col-amount-finance"></div>
                                    <div><label>Finance Charge </label></div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sFinCharge"></lqb-input></div>
                                </div>
                            </div>
                            <button class="btn-primary">View Amortization Schedule</button>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="left">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="margin-bottom">Graduated Payment Mortgage.</h5>
                                    <div class="table">
                                        <div>
                                            <div><label>Years</label></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sGradPmtYrs"></lqb-input>
                                            </div>
                                        </div>
                                        <div>
                                            <div><label>Rate</label></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sGradPmtR"></lqb-input>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <h5 class="margin-bottom">Interest Only</h5>
                                    <div class="table">
                                        <div>
                                            <div><label>Months</label></div>
                                            <div>
                                                <lqb-input lqb-model="vm.loan.fields.sIOnlyMon"></lqb-input> mths
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--require('./../TruthInLending/truthInLending.html')-->
        </div>
	</div>
    <div class="col-xs-6"></div>
</div>
