﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LaunchDoDu.aspx.cs" Inherits="LendersOfficeApp.WebService.LaunchDoDu" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>LaunchDoDu</title>
  </head>
  <body MS_POSITIONING="FlowLayout" onload="init();" bgcolor=gainsboro>
	<script type="text/javascript">
function init() {

  document.forms[0].submit();

}
</script>

    <form id="LaunchDoDu" method="post" runat="server">
      <table width="100%" height="100%">
        <tr><td style="font-size:18px;font-weight:bold" align=center valign=center><img src="~/images/status.gif" runat="server"><br>Loading ...</td></tr>
      </table>

     </form>
	
  </body>
</html>

