<div class="section">
	<div class="panel panel-default">
			<div class="panel-body">
				<ul class="nav nav-tabs">
					<li><a ng-click="vm.goTo('loan1003page1')">Page 1</a></li>
					<li class="active"><a>Page 2</a></li>
					<li><a ng-click="vm.goTo('loan1003page3')">Page 3</a></li>
					<li><a ng-click="vm.goTo('loan1003page4')">Page 4</a></li>
				</ul>
				<div class="tab-content">
					<div class="panel panel-default">
						<div class="panel-body">
							<section><h5 class="title-1003">V. MONTHLY INCOME AND COMBINED HOUSING EXPENSE INFORMATION</h5>
								<section class="margin-bottom"><header class="title-sub-1003">Gross Monthly Income</header>
									<div class="table">
						                <div>
						                    <div></div>
						                    <div lqb-load-fields="aBFirstNm aBLastNm aCFirstNm aCLastNm"></div>
						                    <div><h5><span ng-bind="vm.loan.app.fields.aBFirstNm.v"></span> <span ng-bind="vm.loan.app.fields.aBLastNm.v"></span></h5></div>
						                    <div><h5><span ng-bind="vm.loan.app.fields.aCFirstNm.v"></span> <span ng-bind="vm.loan.app.fields.aCLastNm.v"></span></h5></div>
						                    <div><h5>Total</h5></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a>Base Income</a></label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBBaseI" autofocus></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCBaseI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotBaseI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a>Overtime</a></label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBOvertimeI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCOvertimeI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotOvertimeI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a>Bonuses</a></label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBBonusesI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCBonusesI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotBonusesI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a>Commission</a></label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBCommisionI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCCommisionI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotCommisionI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a>Dividends / Interest</a></label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBDividendI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCDividendI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotDividendI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label"><a ng-click="vm.goTo('reo')">Net Rent:</a></label></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aNetRentI1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBNetRentI1003"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCNetRentI1003"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotNetRentI1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label">Subject Net Cash</label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBSpPosCf"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCSpPosCf"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotSpPosCf"></lqb-input></div>
						                </div>
						                <div title="(see 'Describe Other Income' below)">
						                    <div><label class="control-label">Other Income</label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBTotOI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCTotOI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotOI"></lqb-input></div>
						                </div>
						                <div>
						                    <div><label class="control-label">Application Total</label></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBTotI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCTotI"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aTotI"></lqb-input></div>
						                </div>
						            </div>
								</section>
								<section class="margin-bottom"><header class="title-sub-1003">Describe Other Income</header>
									<div class="table">
										<div>
											<div><h5>Applicant </h5></div>
											<div><h5>Description </h5></div>
											<div><h5>Monthly Income</h5></div>
											<div></div>
										</div>
										<div ng-repeat="otherIncome in vm.loan.app.aOtherIncomeList.data">
											<div><lqb-input lqb-model="otherIncome.isCo"></lqb-input></div>
											<div><lqb-input lqb-model="otherIncome.desc"></lqb-input></div>
											<div><lqb-input lqb-model="otherIncome.val"></lqb-input></div>
											<div><button type="button"
												ng-click="vm.deleteOtherIncome($index)"
												ng-disabled="(
													(otherIncome.val.v > 0) ||
													(!!otherIncome.desc.v)  ||
													(vm.loan.app.aOtherIncomeList.data.length < 4)
												)"
												class="btn btn-default">delete</button></div>
										</div>
									</div>
									<p><a ng-click="vm.addOtherIncome()" class="btn btn-default">Add</a></p>
								</section>
								<section class="margin-bottom"><header class="title-sub-1003">Combined Monthly Housing Expense</header>
									<div class="table">
										<div><div></div>
											<div><label>Present</label></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div><label>Proposed</label></div>
										</div>
										<div>
											<div></div>
											<div></div>
											<div><label>Base type </label></div>
											<div><label>Base amount </label></div>
											<div><label>Rate </label></div>
											<div><label>Mon min. base</label></div>
											<div><label>Amount</label></div>
										</div>
										<div>
											<div><label>Rent </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresRent"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
										</div>
										<div>
											<div><label>1st Mort (P&amp;I)       </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPres1stM"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProFirstMPmt"></lqb-input>
											</div>
										</div>
										<div>
											<div><label>Other Fin (P&amp;I)       </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresOFin"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div><a ng-click="vm.goTo('otherFinancing')">Subfinancing</a></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProSecondMPmt"></lqb-input>
											</div>
										</div>
										<div>
											<div><label>Haz Ins / Notes </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresHazIns"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHazInsT"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHazInsBaseAmt"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHazInsR"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHazInsMb"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHazIns"></lqb-input>
											</div>
										</div>
										<div>
											<div><label>RE Tax / Notes </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresRealETx"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProRealETxT"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProRealETxBaseAmt"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProRealETxR"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProRealETxMb"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProRealETx"></lqb-input>
											</div>
										</div>
										<div>
											<div><a ng-click="vm.goTo('upfrontMipff')">Mort Ins</a><label> / Notes </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresMIns"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProMIns" readonly></lqb-input>
											</div>
										</div>
										<div>
											<div><label>HOA </label></div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresHoAssocDues"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProHoAssocDues"></lqb-input>
											</div>
										</div>
										<div>
											<div>
												<lqb-input class="form-control form-control-money" lqb-model="vm.loan.fields.sProOHExpDesc"></lqb-input>
											</div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresOHExp"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div class="text-right"><lqb-input lqb-model="vm.loan.fields.sProOHExpLckd"></lqb-input></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sProOHExp"></lqb-input>
											</div>
										</div>
										<div>
											<div>Total</div>
											<div>
												<lqb-input lqb-model="vm.loan.app.fields.aPresTotHExp"></lqb-input>
											</div>
											<div></div>
											<div></div>
											<div></div>
											<div></div>
											<div>
												<lqb-input lqb-model="vm.loan.fields.sMonthlyPmt"></lqb-input>
											</div>
										</div>
									</div>
								</section>
							</section>
							<section><h5 class="title-1003">VI. ASSETS AND LIABILITIES</h5>
							    <div class="table"> 
							    	<div>  
								    	<div><label>Completed</label></div>
								    	<div>
											<label>
												<lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'Yes'" label="Jointly"></lqb-input>
											</label>
										</div>
										<div>
											<label>
												<lqb-input lqb-model="vm.loan.app.fields.aAsstLiaCompletedNotJointly" ng-value="'No'" label="Not Jointly"></lqb-input>
											</label>
										</div>
										<div>
											<button class="btn btn-default" type="button">Order Credit...</button>
										</div>
										<div>
											<button class="btn btn-default" type="button">View Credit</button>
										</div>
							    	</div>
							    </div>
								<div class="flex">
									<section>
										<div class="table table-assets-liabilities"><header class="title-sub-1003">Assets</header>
											<div>
												<div><a ng-click="vm.goTo('borrowerAsset')">Non-Real Estate Assets  </a></div>
												<div></div>
											</div>
											<div>
												<div><label>Liquid  </label></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aAsstLiqTot"></lqb-input>
												</div>
											</div>
											<div>
												<div><label>Non-liquid  </label></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aAsstNonReSolidTot"></lqb-input>
												</div>
											</div>
											<div>
												<div><a ng-click="vm.goTo('reo')">Real Estate Owned  </a></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aReTotVal"></lqb-input>
												</div>
											</div>
											<div>
												<div><label>(a) Total Assets  </label></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aAsstValTot"></lqb-input>
												</div>
											</div>
										</div>
									</section>
									<section>
										<div class="table table-assets-liabilities margin-bottom"><header class="title-sub-1003">Liabilities</header>
											<div>
												<div><label>Monthly Payments  </label></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aLiaMonTot"></lqb-input>
												</div>
											</div>
											<div>
												<div><label>(b) Total </label><a ng-click="vm.goTo('borrowerLiability')">Liabilities  </a></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aLiaBalTot"></lqb-input>
												</div>
											</div>
										</div>	
										<div class="table table-assets-liabilities">
											<div>
												<div><label>Net Worth (a - b)  </label></div>
												<div>
													<lqb-input lqb-model="vm.loan.app.fields.aNetWorth"></lqb-input>
												</div>
											</div>
										</div>
									</section>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>      
	</div>
</div>