﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DisplayCompileEngineCode.aspx.cs" Inherits="LendersOfficeApp.LOAdmin.Broker.Workflow.DisplayCompileEngineCode" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
  <script type="text/javascript">
    function _init()
    {
      resize(3000, 3000);
    }
  </script>
    <form id="form1" runat="server">
    <pre id="m_code" runat="server" style="padding-left:10px;padding-right:10px;"></pre>
    <hr />
    <input type="button" value="Close" onclick="self.close();" />
    </form>
</body>
</html>
