﻿<%@ Page Language="C#" AutoEventWireup="false" CodeBehind="EncompassLoginFailure.aspx.cs" Inherits="PriceMyLoan.LoginFailure" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head runat="server">
    <title>Login Failed</title>
</head>
<body>
    <form id="LoginFailure" method="post" runat="server">
    <br><br><br>
    <table width="100%">
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr>
	<td align="middle">
	    <b><ml:EncodedLabel id="m_ErrMsg" runat="server" ForeColor="Red"></ml:EncodedLabel>
	    <br>
	    <ml:EncodedLabel id="m_ErrMsg2" runat="server" ForeColor="Red"></ml:EncodedLabel>
	    </b>
	</td>
    </tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">&nbsp;</td></tr>
    <tr><td align="middle">©2011 PriceMyLoan, All Rights Reserved.</td></tr>
    </table>
    </form>
</body>
</html>
