<%@ Page language="c#" Codebehind="AppDownload.aspx.cs" AutoEventWireup="false" Inherits="LendersOffice.Common.AppDownload" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>AppDownload</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="AppDownload" method="post" runat="server">
      <table width="100%" height="100%">
        <tr><td align=center valign=center style="color:red;font-weight:bold">Could not locate download file. Please try again or contact technical support.<br><br><input type=button onclick="self.close();" value="Close"></td></tr>
      </table>
     </form>
	
  </body>
</HTML>
