<%@ Control Language="c#" AutoEventWireup="false" Codebehind="CompositeUserControl.ascx.cs" Inherits="LendersOffice.Common.CompositeUserControl" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>
