﻿<table class="drag-drop-additional-info-table FormTable primary-table wide none-hover-table table-upload-docs">
    <thead class="header">
        <tr class="GridHeader">
            <th>
                File Name
            </th>
            <th>
                Doc Type
                <img ng-if="!isPml" alt="required" src="../../images/require_icon.gif" />
                <span ng-if="isPml" class="text-danger">*</span>
            </th>
            <th>
                Description
            </th>
            <th>
                Internal Comments
            </th>
            <th>
                Selected Application
            </th>
        </tr>
    </thead>
    <tr ng-if="files == null || files.length === 0" class="none-border">
        <td colspan="5" class="text-center align-center">
            <label>Waiting for files...</label>
        </td>
    </tr>
    <tr ng-form="dragDropAdditionalInfoForm_{{$index}}" ng-repeat="file in files" class="GridAutoItem">
        <td class="max-width-cell">
            {{file.name}}
        </td>
        <td class="max-width-cell">
            [ <a ng-click="selectDocType($index, file)">select Doctype</a> ]
            <a ng-click="scanBarcode($index, file)" ng-if="showBarcodes">scan barcodes</a>
            <span ng-attr-id="selectedDocType_{{$index}}"></span>
        </td>
        <td>
            <textarea rows="2" cols="20" ng-attr-id="desc_{{$index}}" type="text" ng-maxlength="200" ng-model="file.desc" maxcharactercount="200" ng-init="file.desc = ''"></textarea>
        </td>
        <td>
            <textarea rows="2" cols="20" ng-attr-id="internalComments_{{$index}}" type="text" ng-maxlength="200" ng-model="file.internalComments" maxcharactercount="200" ng-init="file.internalComments = ''"></textarea>
        </td>
        <td>
            <select ng-attr-id="selectedApp_{{$index}}" ng-model="file.appId" ng-init="file.appId = appNames[0].AppId">
                <option ng-repeat="app in appNames" value="{{app.AppId}}">{{app.Name}}</option>
            </select>
        </td>
    </tr>
</table>