<%@ Control Language="c#" AutoEventWireup="false" Codebehind="HeaderNav.ascx.cs" Inherits="LendersOfficeApp.common.HeaderNav" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" enableViewState="true"%>
<asp:Table ID="HeaderNavTable" CellSpacing="0" CellPadding="0" Width="100%" BorderWidth="0" Runat="server">
	<asp:TableRow>
		<asp:TableCell CssClass="HeaderNav"></asp:TableCell>
	</asp:TableRow>
</asp:Table>
