<%@ Page language="c#" Codebehind="RecordsLookupService.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.SupportRecordsLookup.RecordsLookupService" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>RecordsLookupService</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="RecordsLookupService" method="post" runat="server">

     </form>
	
  </body>
</html>
