<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
            <div class="table">
				<div>
					<div><label>Loan Amount</label></div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sLAmtCalc" readonly></lqb-input>
					</div>
				</div>
				<div>
					<div>
						<label>Optional credit insurance</label>
						<lqb-input lqb-model="vm.loan.fields.sCreditInsIncludedTri"></lqb-input>
						<label>included in the loan amount</label>
					</div>
					<div></div>
				</div>
				<div>
					<div><label>APR</label></div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sApr" readonly></lqb-input>
					</div>
				</div>
				<div>
					<div><label>Monthly Payment</label></div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sSchedPmt1"></lqb-input>
					</div>
				</div>
				<div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sGfeIsBalloon" label="At the end of your loan, you will still owe us:"></lqb-input>
					</div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sFinalBalloonPmt" readonly></lqb-input>
					</div>
				</div>
				<div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.sHasVarRFeature" label="Your interest may increase"></lqb-input>
					</div>
					<div></div>
				</div>
				<div>
					<div class="highest-amount"><label>The highest amount your payment could increase to is</label></div>
					<div>
						<lqb-input lqb-model="vm.loan.fields.MaxPayment"></lqb-input>
					</div>
				</div>
			</div>
			</div>
        </div>
        <div class="col-xs-8"></div>
	</div>
</div>
