.green-color{
	color:#40CB5A; 
	float:left;
}

.red-color{
	color:#DC3232;  
	float:left;
}

.yellow-color{
	color:#FF970F;
	float:left;	
}
.callout-md{
  font-family: Roboto, Arial;
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 1.3125 !important;
  text-transform: none;
 }