<div class="panel-body">
    <div class="clipper">
        <a class="btn btn-primary"
            ng-click="vm.edit(null, $event)"
            data-toggle="modal" data-target="#editVendorModal">Add Vendor</a>
    </div>
</div>

<table class="table table-striped table-condensed">
    <thead><tr>
        <th style="width: 6em;"></th>
        <th class="text-center">Vendor name</th>
        <th class="text-center">Vendor ID</th>
    </tr></thead>
    <tbody>
        <tr ng-repeat="v in vm.vendors track by v.VendorId">
            <td style="width: 6em;">
                <a ng-click="vm.edit(v, $event)"
                    data-toggle="modal" data-target="#editVendorModal"
                    class="btn btn-link">edit</a>
            </td>
            <td ng-bind="v.VendorName"></td>
            <td class="text-center"><code ng-bind="v.VendorId"></code></td>
        </tr>
    </tbody>
</table>

<div id="editVendorModal" class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <div ng-hide="!vm.eVendor.VendorId" ng-attr-title="vm.eVendor.VendorId">Edit Vendor</div>
            <div ng-show="!vm.eVendor.VendorId">Add Vendor</div>
        </h4>
    </div>
    <form name="editVendorForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event)">
        <div class="modal-body">
            <ul class="alert alert-danger" ng-hide="!vm.errors || !vm.errors.length">
                <li ng-repeat="error in vm.errors">{{error}}</li>
            </ul>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Integration Partner: <span class="text-danger">*</span></label>
                        <input type="text" ng-model="vm.eVendor.VendorName"
                               data-lqb-field="VendorName"
                               class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Primary Export Path: <span class="text-danger">*</span></label>
                        <input type="url" ng-model="vm.eVendor.PrimaryExportPath"
                               name="PrimaryExportPath"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Test Account ID: <span class="text-danger">*</span></label>
                        <input type="text" ng-model="vm.eVendor.TestAccountId"
                               data-lqb-field="TestAccountId"
                               class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Backup Export Path:</label>
                        <input type="text" ng-model="vm.eVendor.BackupExportPath"
                               name="BackupExportPath"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Live Billing ID: <span class="text-danger">*</span></label>
                        <input type="text" ng-model="vm.eVendor.LiveAccountId"
                               data-lqb-field="LiveAccountId"
                               class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Preview Export Path:</label>
                        <input type="text" ng-model="vm.eVendor.PreviewExportPath"
                               name="PreviewExportPath"
                               class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Package Information:</label>
                        <label class="alert alert-danger">
                            * Modifying package info can affect Workflow. Please check for any brokers using this vendor's package info in their Workflow configuration before making any changes.
                        </label>
                        <textarea ng-model="vm.eVendor.PackageDataListJSON"
                                  name="PackageDataListJSON"
                                  class="form-control resizable-vertical" rows="9"
                                  style='font-family: Menlo, Monaco, Consolas, "Courier New", monospace;'></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Testing Environment:</label>
                        <input type="text" ng-model="vm.eVendor.TestingExportPath"
                               name="TestingExportPath"
                               class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Credential Format:</label>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.eVendor.UsesAccountId"
                                       data-lqb-field="UsesAccountId" />
                                Account ID
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.eVendor.UsesUsername"
                                       data-lqb-field="UsesUsername" />
                                Username
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.eVendor.UsesPassword"
                                       data-lqb-field="UsesPassword" />
                                Password
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Parameter Name:</label>
                        <input type="text" ng-model="vm.eVendor.ParameterName"
                            data-lqb-field="ParameterName"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Extra Parameters:</label>
                        <input type="text" ng-model="vm.eVendor.ExtraParameters"
                            data-lqb-field="ExtraParameters"
                            class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="vendorPlatform">Document Vendor Platform:</label>
                        <select name="vendorPlatform" ng-options="platform.value as platform.name for platform in vm.platforms" ng-model="vm.eVendor.Platform"></select>
                    </div>
                    <div class="form-group">
                        <label for="isTestVendor">Is Test Vendor?</label>
                        <input name="isTestVendor" type="checkbox" ng-model="vm.eVendor.IsTestVendor" />
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label>Supported Features:</label>

                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="vm.eVendor.SupportsOnlineInterface"
                                data-lqb-field="SupportsOnlineInterface" />
                            Online Interface
                        </label></div>
                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="vm.eVendor.SupportsBarcodes"
                                data-lqb-field="SupportsBarcodes" />
                            Document Barcoding
                        </label></div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.eVendor.EnableConnectionTests"
                                       data-lqb-field="EnableConnectionTests" />
                                Enable Associated Connection Tests
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="vm.eVendor.EnableMismo34"
                                       data-lqb-field="EnableMismo34" />
                                Enable MISMO 3.4
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Custom Configuration:</label>

                        <div class="checkbox"><label>
                            <input type="checkbox" ng-model="vm.eVendor.DisableManualFulfilmentAddr"
                                data-lqb-field="DisableManualFulfilmentAddr" />
                            Disable manual fulfillment address entry
                        </label></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
