<nav class="navbar header">
    <div class="container-fluid">
        <table class="header-table">
            <tr>
                <td class="col-md-2 header-logo">
                    <div class="logo-table">
                        <div class="table-cell">
                            <a class="logo">
                                <!-- require('../../../images/Prototype/LendingQBLogo.svg') -->
                        </div>
                        <div class="table-cell">
                            <button class=" nav-toggle-normal btn-flat" id="SideBarToggle" data-toggle="collapse" href="#SideBarNavigation"><i class="material-icons">menu</i></button>
                            <button class=" nav-toggle-small btn-flat" ng-click="vm.checkToggle()"><i class="material-icons">menu</i></button>
                        </div>
                    </div>
                </td>
                <td class="col-md-10 header-main">
                    <div class="header-main-container">
                        <div class="page-header">
                            <span ng-bind="vm.selectedPage.name"></span>
                        </div>
                        <div class="btn-nav">
                            <button id="OldUiToggle" ng-click="vm.oldUiClick()" class="btn-flat"><span>Go to Old UI!</span></button>
                        </div>
                        <div class="btn-nav">
                            <button class="btn-flat" ng-show="vm.pipelineEditor.isSaveAvailable" ng-click="vm.save()"><span class="material-icons" title="Save">save</span></button>
                            <button class="btn-flat"><span class="material-icons" title="Live Help">help</span></button>
                            <button class="btn-flat"><span class="material-icons" title="Notifications">warning</span></button>
                            <button class="btn-flat btn-close"><span class="material-icons" title="Sign Out">close</span></button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</nav>

<div class="container-fluid below-header-container">
    <div class="row">
        <nav class="col-md-2 collapse in width height navigation sidebar-navigation" id="SideBarNavigation">


            <nav class="navbar navbar-inverse user-settings">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav main-list">
                            <li>
                                <a data-toggle="collapse" data-target="#User">
                                    Eduardo Michel
                                    <span class="material-icons arrow">arrow_drop_down</span>
                                </a>
                                <ul id="User" class="nav navbar-nav collapse">
                                    <li>
                                        <a class="lightbulb"><span class="material-icons" class="arrow">lightbulb_outline</span>Night Mode</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="input-group dropdown search-type-dropdown">
                <div data-toggle="dropdown" ng-bind="vm.SearchType" class="dropdown-input form-control" aria-expanded="false"></div><button  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role=button aria-expanded="false"><span class="caret"></span></button>
                <br />
                <ul ng-init="vm.SearchType='Loan Number'" class="dropdown-menu dropdown-menu-right gu-show" role="menu">
                    <li ng-click="vm.SearchType = 'Loan Number'"><a>Loan Number</a></li>
                    <li ng-click="vm.SearchType = 'First Name'"><a>First Name</a></li>
                    <li ng-click="vm.SearchType = 'Last Name'"><a>Last Name</a></li>
                    <li ng-click="vm.SearchType = 'SSN'"><a>SSN</a></li>
                    <li ng-click="vm.SearchType = 'Property Address'"><a>Property Address</a></li>
                </ul>
            </div>

            <div class="flex search-group-container search-group">
                <input type="text" placeholder="Search ..." class="form-control" />
                <button><span class="material-icons" aria-hidden="true">search</span></button>
            </div>


            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav main-list">
                            <li ng-repeat="item1 in vm.nav">
                                <a ng-click="vm.navClick([item1], $event)"
                                   ng-class="{folder:item1.route == null, active:vm.selected1 === item1,
                                    collapsed:!item1.isExpand }">
                                    {{item1.name}}
                                    <span ng-show="item1.route == null" class="arrow material-icons">keyboard_arrow_left</span>
                                </a>
                                <ul class="nav navbar-nav collapse" ng-if="item1.route == null"
                                    ng-class="{in:item1.isExpand}">
                                    <li ng-repeat="item2 in item1.children track by $index">
                                        <a ng-click="vm.navClick([item1, item2], $event)"
                                           ng-class="{folder:item2.route == null, active:vm.selected2 === item2,
                                            collapsed:!item2.isExpand }">
                                            {{item2.name}}
                                            <span ng-show="item2.route == null" class="arrow material-icons">keyboard_arrow_left</span>
                                        </a>
                                        <ul class="nav navbar-nav collapse" ng-if="item2.route == null"
                                            ng-class="{in:item2.isExpand}">
                                            <li ng-repeat="item3 in item2.children track by $index">
                                                <a ng-click="vm.navClick([item1, item2, item3], $event)"
                                                   ng-class="{active:vm.selected3 === item3}"
                                                   ng-bind="item3.name"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>

        <div class="content-container">


            <div class="content">
                <div ui-view></div>
                <div class="footer">
                    <div class="col-xs-6">Copyright &copy; 2000-<span ng-bind="vm.currentYear"></span> LendingQB. All rights reserved.</div>
                    <div class="col-xs-6 text-right"><a href="/help/faq/HowdoIcontactcustomersupp.aspx">Contact Us </a></div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
