<%@ Page language="c#" Codebehind="LaunchDODU.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.main.LaunchDODU" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>LaunchDODU</title>
  </head>
  <body MS_POSITIONING="FlowLayout" onload="init();">
	<script language=javascript>
<!--

function init() {

  document.forms[0].submit();

}

//-->
</script>	
    <form id="LaunchDODU" method="post" runat="server" enctype="multipart/form-data">
      <table width="100%" height="100%">
        <tr><td style="font-size:18px;font-weight:bold" align=center valign=center><img src="../images/status.gif"><br>Loading ...</td></tr>
      </table>
     </form>
	
  </body>
</html>
