<%@ Page language="c#" Codebehind="LoanProspectorMainFrame.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.main.LoanProspectorMainFrame" %>
<%@ Import namespace="LendersOffice.Common" %>
<%@ Import Namespace="LendersOffice.AntiXss" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<head runat="server"></head>

<frameset rows="75,*">
  <frame src="LoanProspectorBranding.aspx" id="frmBranding">
  <frame src=<%= AspxTools.SafeUrl(m_url) %> id="frmMain">
</frameset>
