<%@ Page language="c#" Codebehind="LoanProspectorBranding.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.main.LoanProspectorBranding" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head runat="server">
    <title>LoanProspectorBranding</title>
  </head>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="LoanProspectorBranding" method="post" runat="server">
    <table><tr><td style="padding-left:20px;padding-top:5px"><h2><ml:EncodedLiteral id="headerLable" runat="server">Loan Product Advisor Integration</ml:EncodedLiteral></h2></td></tr></table>
     </form>
	
  </body>
</html>
