<%@ Page language="c#" Codebehind="ViewDUFindingsMenu.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.main.ViewDUFindingsMenu" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head runat="server">
    <title>DU Findings</title>
  </head>
  <body MS_POSITIONING="FlowLayout">
	<script type="text/javascript">
<!--
function f_print() {
  parent.body.focus();
  window.print();
}
//-->
</script>

    <form id="ViewDUFindingsMenu" method="post" runat="server">
<table border=0 cellspacing=0 cellpadding=5 width="100%">
<tr>
<td align=right valign=top>
  <input type=button onclick="f_print();" value="Print">
  <input type=button onclick="top.window.close();" value="Close">
</td>
</tr>
</table>
     </form>
	
  </body>  
</html>
