<div class="section">
    <div class="panel panel-default panel-tax-return">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Spouses filed taxes:</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aIs4506TFiledTaxesSeparately" ng-value="false"  li-type="radio" label="jointly"></lqb-input>
                        <lqb-input lqb-model="vm.loan.app.fields.aIs4506TFiledTaxesSeparately" ng-value="true" li-type="radio" label="separately"></lqb-input> 
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" ng-show="vm.loan.app.fields.aIs4506TFiledTaxesSeparately.v">
                <li ng-class="{active:vm.IsBorr}"><a ng-click="vm.IsBorr = true">Borrower</a></li>
                <li ng-class="{active:(!vm.IsBorr)}"><a ng-click="vm.IsBorr = false">Co-Borrower</a></li>
            </ul>
            <div class="tab-content" ng-show="vm.IsBorr">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table">
                            <div>
                                <div>
                                    <label>1a. {{vm.loan.app.fields.aIs4506TFiledTaxesSeparately.v==false ? "Borrower " : ""}}Name</label>
                                </div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aB4506TNmLckd"></lqb-input></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aB4506TNm"></lqb-input></div>
                            </div>
                            <div>
                                <div>
                                    <label>1b. {{vm.loan.app.fields.aIs4506TFiledTaxesSeparately.v==false ? "Borrower " : ""}}SSN, TIN, or EIN</label>
                                </div>
                                <div></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aB4506TSsnTinEin"></lqb-input></div>
                            </div>
                            <div ng-hide="vm.loan.app.fields.aIs4506TFiledTaxesSeparately.v">
                                <div><label>2a. Coborrower Name</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TNmLckd"></lqb-input></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TNm"></lqb-input></div>
                            </div>
                            <div ng-hide="vm.loan.app.fields.aIs4506TFiledTaxesSeparately.v">
                                <div><label>2b. Coborrower SSN, TIN, or EIN</label></div>
                                <div></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TSsnTinEin"></lqb-input></div>
                            </div>
                        </div>


                        <hr/>
                        <div class="table">
                            <div>
                                <div><label>4. Previous Address</label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aB4506TPrevStreetAddr" placeholder="Street"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input class="form-control form-control-city" lqb-model="vm.loan.app.fields.aB4506TPrevCity" placeholder="City"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aB4506TPrevState" placeholder="State"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aB4506TPrevZip" placeholder="ZIPCode"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div></div>
                                <div><label>(as shown on the last returns filed if different)</label></div>
                            </div>
                        </div>

                        <hr/>
                        <div><p><label>5. If transcript or tax information is to be mailed to a third party, enter the third party's information:</label></p></div>
                        <div class="table table-tax-information">
                            <div>
                                <div></div>
                                <div>
                                    <a class="contact-link">Pick from Contacts</a>
                                    <a>Add to Contacts</a>
                                </div>
                            </div>
                            <div>
                                <div><label>Name</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aB4506TThirdPartyName"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Address</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aB4506TThirdPartyStreetAddr" placeholder="Street"></lqb-input></div>
                            </div>
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input class="form-control form-control-city" lqb-model="vm.loan.app.fields.aB4506TThirdPartyCity" placeholder="City"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aB4506TThirdPartyState" placeholder="State"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aB4506TThirdPartyZip" placeholder="ZIPCode"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Phone Number</label></div>
                                <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.app.fields.aB4506TThirdPartyPhone"></lqb-input></div>
                            </div>
                        </div>


                        <hr/>
                        <div class="table">
                            <div>
                                <div><label>6. <b>Transcript requested.&nbsp;</b>Tax form number (1040, 1065, 1120, etc.):</label></div>
                                <div><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aB4506TTranscript"></lqb-input></div>
                            </div>
                        </div>

                        <ul class="ul-checkbox">
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4056TIsReturnTranscript" label="a.&nbsp;&nbsp;Return Transcript, which includes most of the line items of a tax return as filed with the IRS"></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TIsAccountTranscript" label="b.&nbsp;&nbsp;Account Transcript, which contains information on the financial status of the account"></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4056TIsRecordAccountTranscript" label="c.&nbsp;&nbsp;Record of Account, which is a combination of line item information and later adjustments to the account"></lqb-input>
                            </li>
                        </ul>

                        <div class="table">
                            <div>
                                <div>
                                    7.&nbsp;&nbsp;<lqb-input lqb-model="vm.loan.app.fields.aB4506TVerificationNonfiling" label="Verification of Nonfiling, which is proof from the IRS that you did not file a return for the year"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div>
                                    8.&nbsp;&nbsp;<lqb-input lqb-model="vm.loan.app.fields.aB4506TSeriesTranscript" label="Form W-2, Form 1099 series, Form 1098 series, or Form 5498 series transcript"></lqb-input>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div><p><label>9. &nbsp;Year or period requested</label></p></div>
                        <ul class="ul-checkbox">
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TYear1"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TYear2"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TYear3"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TYear4"></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TRequestYrHadIdentityTheft" label="One of the years requested involved identity theft on the federal tax return."></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aB4506TSignatoryAttested" label="Signatory attests that he/she has read the attestation clause and declares that he/she has the authority to sign."></lqb-input>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content" ng-hide="vm.IsBorr">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table">
                            <div>
                                <div>
                                    <label>1a. Name</label>
                                </div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TNmLckd"></lqb-input></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TNm"></lqb-input></div>
                            </div>
                            <div>
                                <div>
                                    <label>1b. SSN, TIN, or EIN</label>
                                </div>
                                <div></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TSsnTinEin"></lqb-input></div>
                            </div>
                        </div>

                        <hr/>
                        <div class="table">
                            <div>
                                <div><label>4. Previous Address</label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.app.fields.aC4506TPrevStreetAddr" placeholder="Street"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input class="form-control form-control-city" lqb-model="vm.loan.app.fields.aC4506TPrevCity" placeholder="City"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aC4506TPrevState" placeholder="State"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aC4506TPrevZip" placeholder="ZIPCode"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div></div>
                                <div><label>(as shown on the last returns filed if different)</label></div>
                            </div>
                        </div>

                        <hr/>
                        <div><p><label>5. If transcript or tax information is to be mailed to a third party, enter the third party's information:</label></p></div>
                        <div class="table table-tax-information">
                            <div>
                                <div></div>
                                <div>
                                    <a class="contact-link">Pick from Contacts</a>
                                    <a>Add to Contacts</a>
                                </div>
                            </div>
                            <div>
                                <div><label>Name</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TThirdPartyName"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Address</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TThirdPartyStreetAddr" placeholder="Street"></lqb-input></div>
                            </div>
                            <div>
                                <div></div>
                                <div>
                                    <lqb-input class="form-control form-control-city" lqb-model="vm.loan.app.fields.aC4506TThirdPartyCity" placeholder="City"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aC4506TThirdPartyState" placeholder="State"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.app.fields.aC4506TThirdPartyZip" placeholder="ZIPCode"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Phone Number</label></div>
                                <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.app.fields.aC4506TThirdPartyPhone"></lqb-input></div>
                            </div>
                        </div>

                        <hr/>
                        <div class="table">
                            <div>
                                <div><label><b>6. Transcript requested.&nbsp;</b>Tax form number(1040, 1065, 1120, etc.):</label></div>
                                <div><lqb-input lqb-model="vm.loan.app.fields.aC4506TTranscript"></lqb-input></div>
                            </div>
                        </div>

                        <ul class="ul-checkbox">
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4056TIsReturnTranscript" label="a.&nbsp;&nbsp;Return Transcript, which includes most of the line items of a tax return as filed with the IRS"></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TIsAccountTranscript" label="b.&nbsp;&nbsp;Account Transcript, which contains information on the financial status of the account"></lqb-input>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4056TIsRecordAccountTranscript" label="c.&nbsp;&nbsp;Record of Account, which is a combination of line item information and later adjustments to the account"></lqb-input>
                            </li>
                        </ul>

                        <div class="table">
                            <div>
                                <div>
                                    <b>7.</b>&nbsp;&nbsp;<lqb-input lqb-model="vm.loan.app.fields.aC4506TVerificationNonfiling" label="Verification of Nonfiling, which is proof from the IRS that you did not file a return for the year"></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <b>8.</b>&nbsp;&nbsp;<lqb-input lqb-model="vm.loan.app.fields.aC4506TSeriesTranscript" label="Form W-2, Form 1099 series, Form 1098 series, or Form 5498 series transcript"></lqb-input>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div><p><label>9. &nbsp;Year or period requested</label></p></div>
                        <ul class="ul-checkbox">
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TYear1"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TYear2"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TYear3"></lqb-input>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TYear4"></lqb-input>
                            </li>
                            <li>
                                <lqb-input lqb-model="vm.loan.app.fields.aC4506TRequestYrHadIdentityTheft" label="One of the years requested involved identity theft on the federal tax return."></lqb-input>
                            </li>
                            <li>
                                 <lqb-input lqb-model="vm.loan.app.fields.aC4506TSignatoryAttested" label="Signatory attests that he/she has read the attestation clause and declares that he/she has the authority to sign."></lqb-input>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
