<div class="container">
    <div class="row"><div class="col-sm-6 col-sm-offset-3">
        <!-- alert --><div>
            {{#if (!!serverError && serverError != "Incorrect Password")}}
                <div class="alert alert-danger">{{serverError}}</div>
            {{/if}}

            {{#if !isSubmitting && submitSuccess}}
                <div class="alert alert-success">Password has been changed.</div>
            {{/if}}
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form class="form-label-noerror" on-submit="submitChange" novalidate>
                    <div class="form-group">
                        <p class="form-control-static">
                            <label class="control-label">Login Name:</label>
                            [[user.LoginName]]
                        </p>
                    </div>

                    <div class="form-group form-group-sm
                                {{#if ((!form.currentPassword.pristine) && form.currentPassword.error.has())}} has-error {{/if}}">
                        <label class="control-label">Current Password:
                            <span class="text-danger">*</span>
                        </label>
                        {{#if (serverError == "Incorrect Password")}}
                            <div class="text-danger text-right-noerror">Incorrect Password</div>
                        {{/if}}
                        <input type="password" class="form-control input-sm"
                            required tabindex="1" autocomplete="current-password"
                            value="{{form.currentPassword.value}}">
                    </div>

                    <div class="form-group form-group-sm
                                {{#if ((!form.newPassword.pristine) && form.newPassword.error.has())}} has-error {{/if}}">
                        <label class="control-label">New Password:
                            <span class="text-danger">*</span>
                        </label>

                        <div class="text-right-noerror">
                            {{#if (!form.newPassword.pristine && !form.newPassword.error.required()
                                        && (form.newPassword.error.notAlphanumeric() || form.newPassword.error.minLength()) ) }}
                                <span class="text-danger">Password does not meet requirements</span>
                            {{/if}}
                            <a data-toggle="modal" data-target="#passwordRulesModal">show rules</a>
                        </div>

                        <input type="password" class="form-control input-sm"
                            required minlength="6" tabindex="2" autocomplete="new-password"
                            value="{{form.newPassword.value}}">
                    </div>

                    <div class="form-group form-group-sm
                                {{#if ((!form.confirmPassword.pristine) && form.confirmPassword.error.has())}} has-error {{/if}}">
                        <label class="control-label">Confirm New Password:
                            <span class="text-danger">*</span>
                        </label>

                        {{#unless (form.newPassword.pristine || form.confirmPassword.pristine || form.newPassword.error.has() || form.confirmPassword.error.required())}}
                            {{#if form.confirmPassword.error.notMatched()}}
                                <div class="text-danger text-right-noerror">
                                    Password does not match.
                                </div>
                            {{/if}}
                        {{/unless}}

                        <input type="password" class="form-control input-sm"
                            required tabindex="3" autocomplete="new-password"
                            value="{{form.confirmPassword.value}}">
                    </div>

                    <div class="form-group">
                        <div class="text-right">
                            [[#unless passwordChangeRequired]]
                            <span class="clipper"><a href="../Main.aspx" class="btn btn-default" tabindex="5">Cancel</a></span>
                            [[/unless]]

                            <span class="clipper"><button type="submit" tabindex="4"
                                class="btn btn-primary {{#if isSubmitting }} disabled {{/if}}">Change Password</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div></div>
</div>
