<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>                </div>
                    <div>Item Description</div>
                    <div>Date            </div>
                    <div>Amount          </div>
                    <div>Percentage      </div>
                    <div>Checked?        </div>
                    <div>Notes           </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 41</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField41Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 42</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField42Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 43</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField43Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 44</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField44Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 45</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField45Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 46</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField46Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 47</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField47Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 48</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField48Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 49</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField49Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField49D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField49Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField49Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField49Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField29Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 50</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField50Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 51</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField51Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 52</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField52Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 53</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField53Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 54</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField54Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 55</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField55Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 56</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField56Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 57</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField57Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 58</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField58Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 59</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField59Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 60</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField60Notes" row="2"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
