﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ComplianceEaseReport.aspx.cs" Inherits="LendersOfficeApp.newlos.Services.ComplianceEaseReport" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
      <ml:EncodedLiteral id="m_literal" runat="server" />
    </div>
    </form>
</body>
</html>
