﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DocMagicDocumentGenerationDBK.aspx.cs" Inherits="LendersOfficeApp.newlos.Services.DocMagicDocumentGenerationDBK" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body class="RightBackground" style="MARGIN-LEFT:0px">
    <form id="form1" runat="server">
    <div style="margin-top:40px; margin-left:80px">
        <asp:Button ID="Button1" OnClick="DownloadFile" Text="Download File"  runat="server" OnClientClick="onClosePopup()" />
    </div>
    </form>
</body>

</html>
