<%@ Page language="c#" Codebehind="LaunchDoDu.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.Services.LaunchDoDu" %>
<%@ Import Namespace="LendersOffice.AntiXss" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
  <head>
    <title>LaunchDoDu</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="FlowLayout" onload="init();" bgcolor=gainsboro>
	<script type="text/javascript">
<!--
function init() {
  document.forms[0].submit();
}
//-->
</script>
    <form id="LaunchDoDu" method="post" action=<%=AspxTools.HtmlAttribute(m_url)%> enctype="multipart/form-data">
      <table width="100%" height="100%">
        <tr><td style="font-size:18px;font-weight:bold" align=center valign=center><img src="../../images/status.gif"><br>Loading ...</td></tr>
      </table>
      <input type="hidden" name="RI" value=<%=AspxTools.HtmlAttribute(m_ri)%>/>
      <input type="hidden" name="CI" value=<%=AspxTools.HtmlAttribute(m_ci)%>/>
     </form>
  </body>
</html>
