﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="SubmitToOSI.aspx.cs" Inherits="LendersOfficeApp.newlos.Services.SubmitToOSI" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body class="RightBackground">
    <form id="form1" runat="server">
    <div>
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
      <tr><td class="MainRightHeader">Submit to Core</td></tr>
      <tr>
        <td><asp:Button ID="m_submitBtn" Text="Submit" runat="server" /></td>
      </tr>
    </table>
    </div>
    </form>
</body>
</html>
