<%@ Page language="c#" Codebehind="ViewDUFinding.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.Services.ViewDUFinding" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>ViewDUFinding</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body class="body-viewDU-finding" MS_POSITIONING="FlowLayout">
	
    <form id="ViewDUFinding" method="post" runat="server">
<table id=Table1 cellspacing=0 cellpadding=0 width="100%" height="100%" align=center 
  border=0>
  <tr>
    <td style="FONT-WEIGHT: bold; FONT-SIZE: 14pt" valign=center 
      align=middle>There are no DO / DU Findings on this application.</td></tr></table>
     </form>
	
  </body>
</html>
