﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ViewEarlyCheckResult.aspx.cs" Inherits="LendersOfficeApp.newlos.Services.ViewEarlyCheckResult" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table id="Table1" cellspacing="0" cellpadding="0" width="100%" height="100%" align="center" border="0">
            <tr>
                <td style="font-weight: bold; font-size: 14pt; padding-top: 10px;" valign="center" align="middle">There are no EarlyCheck result on this loan.</td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
