<%@ Page language="c#" Codebehind="ViewCredit.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.newlos.Services.ViewCredit" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>ViewCredit</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="FlowLayout" class="RightBackground">

    <form id="ViewCredit" method="post" runat="server">
       <asp:PlaceHolder runat="server" ID="PdfScript" Visible ="false" >
    <script type="text/javascript" >
    function _init() {
        if (typeof(parent.menu.viewPDF) == 'function') parent.menu.viewPDF();
    }
    </script>
    </asp:PlaceHolder>

<table id=Table1 cellspacing=0 cellpadding=0 width="100%" height="100%" align=center 
  border=0>
  <tr>
    <td style="FONT-WEIGHT: bold; FONT-SIZE: 14pt" valign=center 
      align=middle><ml:EncodedLiteral runat="server" ID="NoReportLabel"></ml:EncodedLiteral></td></tr></table>
     </form>
	
  </body>
</HTML>
