<lq-modal ref="vm.setSettingsModal($ref)"
    on-hide="vm.onSettingsModalHide($event)">
    <slot-heading>User Settings</slot-heading>
    <slot-body>
        <div class="text-center" ng-if="vm.isShow">
            <label>Theme</label>
            <div><lqb-input lqb-model="vm.fields.UserTheme" label="Light" ng-value="vm.E_UserTheme.Light"></lqb-input></div>
            <div><lqb-input lqb-model="vm.fields.UserTheme" label="Dark"  ng-value="vm.E_UserTheme.Dark" ></lqb-input></div>
        </div>
        <br/>
        <div class="text-center">
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.saveSettings()">OK</button></span>
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.requestClose()">Cancel</button></span>
        </div>
    </slot-body>
    <slot-footer></slot-footer>
</lq-modal>
