﻿<lqb-audit page-title="DU Submission Data Audit" audit-result="auditResult">
    <failure>
        <div>
            The following data is preventing this loan from being submitted to DU for underwriting. Please correct this data and re-run "Submit to DU".
        </div>
        <div>
            Select a field name to view that field in the loan file.
        </div>
    </failure>
    <success>
        Data audit for DU Submission is successful. Proceed to run DU.
    </success>
</lqb-audit>
<div class="bottomButtons">
    <button ng-click="closeWindow()">Close</button>
    <button ng-click="nextPage()" ng-disabled="!auditResult.auditSuccess">Next</button>
</div>