﻿<div ng-if="!auditSuccess" class="WarningText">
    <span class="fa fa-times-circle fa-lg Error"></span>
    The data audit for DU was unsuccessful. The DU system requires that the audit conditions are met.<br />
    Please go back to the previous page to list and fix audit errors.<br />
    <button ng-click="closeWindow()">Close</button>
    <button ng-click="previousPage()">Go Back</button>
</div>
<div ng-form="DuSubmissionForm" ng-if="auditSuccess || ignoreAudit" class="container-fluid">
    <fieldset ng-form="DuCredentials" ng-disabled="submitting" class="field-set">
        <legend>DU Information</legend>
        <lqb-form-input-row input-id="duUserId" input-label="DU User ID" type="text"
                            ng-model="model.DuCredentials.DuUserId" ng-disabled="submitting" ng-required="!model.DuCredentials.HasDuAutoLogin"
                            use-invalid="true" show-invalid="DuCredentials.duUserId.$invalid"
                            ng-if="!model.DuCredentials.HasDuAutoLogin" ></lqb-form-input-row>
        <lqb-form-input-row input-id="duPassword" input-label="DU Password" type="password"
                            ng-model="model.DuCredentials.duPassword" ng-disabled="submitting" ng-required="!model.DuCredentials.HasDuAutoLogin"
                            use-invalid="true" show-invalid="DuCredentials.duPassword.$invalid"
                            ng-if="!model.DuCredentials.HasDuAutoLogin" ></lqb-form-input-row>
        <lqb-form-input-row input-id="duInstitutionId" input-label="DU Institution ID" type="text"
                            ng-model="model.DuCredentials.DuLenderInstitutionId" ng-disabled="submitting" ></lqb-form-input-row>
        <lqb-form-input-row input-id="duCasefileId" input-label="DU Casefile ID" type="text"
                            ng-model="model.DuCredentials.DuCasefileId" ng-disabled="submitting" ></lqb-form-input-row>
    </fieldset>
    <lqb-aus-cra-options credit-info="model.CreditInfo" credit-report-options="creditReportOptions" credit-providers="creditProviders" ng-disabled="submitting"></lqb-aus-cra-options>
    <fieldset class="field-set" ng-disabled="submitting" ng-show="model.CreditInfo.CreditReportOption === creditReportOptions.OrderNew.value || model.CreditInfo.CreditReportOption === creditReportOptions.Reissue.value">
        <legend>Import Options</legend>
        <div class="row">
            <div class="col-xs-12">
                <input id="autopopulateLiabilitesCheckbox" type="checkbox" ng-model="model.ImportLiabilitiesFromCreditReport"/>
                <label for="autopopulateLiabilitesCheckbox"> Autopopulate liabilities from the credit report to the 1003?</label>
            </div>
        </div>
    </fieldset>
    <div id="bottomButtonPlaceholder" ng-style="bottomButtonPlaceholderHeight()"></div>
    <div id="bottomButtons" class="bottomButtons">
        <div class="row SubmissionMessage" ng-show="submitMessage">
            <div class="SubmissionStatus" ng-class="submitMessageClass">
                <span class="light-overlay">
                    <span class="fa fa-pull-left" ng-class="submitMessageSymbol"></span>
                    {{submitMessage}}
                </span>
            </div>
            <a class="light-overlay" ng-if="responseLogUrl" ng-href="{{responseLogUrl}}" ng-click="msSaveOrOpenBlob(logContentBlob, 'DuResponseLog.txt')" download="DuResponseLog.txt">View Response</a>
        </div>
        <div class="row">
            <input type="button" ng-click="closeWindow()" value="Close" />
            <input type="submit" ng-click="submit()" value="Next" disabled="disabled" ng-disabled="DuSubmissionForm.$invalid || submitting" />
        </div>
    </div>
</div>