<div class="nmlsCallReport-table">
   <div>
      <div class="section">
         <div class="panel panel-default nmlsCallReport-panel">
            <div class="panel-heading">
               <h5>Application Data</h5>
            </div>
            <div class="panel-body">
               <fieldset class="table">
                  <div>
                     <div>
                        <label ng-bind="vm.loan.fields.sIsBranchActAsOriginatorForFileLabel.v" />
                     </div>
                     <div>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="1" li-type="radio" label="Yes"></lqb-input>
                          </label>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="2" li-type="radio" label="No"></lqb-input>
                          </label>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="0" li-type="radio" label="Not Sure"></lqb-input>
                          </label>
                     </div>
                     <div lqb-load-fields="sIsBranchActAsOriginatorForFileLabel sIsBranchActAsOriginatorForFileTri"></div>
                  </div>
                  <div>
                     <div>
                        <label ng-bind="vm.loan.fields.sIsBranchActAsLenderForFileLabel.v" />
                     </div>
                     <div>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="1" li-type="radio" label="Yes"></lqb-input>
                          </label>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="2" li-type="radio" label="No"></lqb-input>
                          </label>
                          <label>
                                  <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="0" li-type="radio" label="Not Sure"></lqb-input>
                          </label>
                     </div>
                     <div lqb-load-fields="sIsBranchActAsLenderForFileLabel sIsBranchActAsLenderForFileTri"></div>
                  </div>
               </fieldset>

               <fieldset class="table application-data-table">
                  <div>
                     <div>
                        <label>Channel</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sBranchChannelT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Loan opened date</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sOpenedD" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>NMLS Application Date</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNmlsApplicationDateLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNmlsApplicationDate" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Loan closed date</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sClosedD" />
                     </div>
                  </div>
               </fieldset>
               <fieldset class="table">
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaExcludedFromReport" label="Exclude loan from HMDA report" />
                     </div>
                  </div>
               </fieldset>
               <fieldset class="table application-data-table">
                  <div>
                     <div>
                        <label>Action taken</label>
                     </div>
                     <div class="action-fields"></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaActionTaken" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Action date</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaActionD" />
                     </div>
                  </div>
               </fieldset>
               <hr/>
               <div class="panel-heading">
                  <h5>Net Change in Application Amount Calculation</h5>
               </div>
               <fieldset class="table application-data-table">
                  <div>
                     <div>
                        <label>Total Loan Amount</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinalLAmt" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>NMLS Application Amount</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSApplicationAmountLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSApplicationAmount" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Net Change</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSNetChangeApplicationAmount" />
                     </div>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
      <div class="section">
         <div class="panel panel-default nmlsCallReport-panel">
            <div class="panel-heading">
               <h5>Closed Loan Data</h5>
            </div>
            <div class="panel-body">
               <fieldset class="table">
                  <div>
                     <div>
                        <label>Loan type</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Property type</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaPropTLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaPropT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Loan purpose</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLPurposeT" />
                     </div>
                  </div>
               </fieldset>

               <fieldset class="table">
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaReportAsHomeImprov" label="Report the purpose of this loan as home improvement (1-4 family)" />
                     </div>
                     <div></div>
                     <div></div>
                  </div>
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHmdaReportAsHoepaLoan" label="HOEPA loan" /> 
                     </div>
                     <div></div>
                     <div></div>
                  </div>
               </fieldset>

               <fieldset class="table">
                  <div>
                     <div>
                        <label>Lien position</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLienPosT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Lender fees collected</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenderFeesCollectedLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenderFeesCollected" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Broker fees collected</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sBrokerFeesCollectedLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sBrokerFeesCollected" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>QM Status</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sQMStatusT" />
                     </div>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
      <div class="section">
         <div class="panel panel-default nmlsCallReport-panel">
            <div class="panel-heading">
               <h5>Revenue</h5>
            </div>
            <div class="panel-body">
               <div>
                  <label>We intend to</label>
                  <lqb-input lqb-model="vm.loan.fields.sNMLSServicingIntentT" />
                  <label>the Mortgage Servicing Rights.</label>
                  <lqb-input lqb-model="vm.loan.fields.sNMLSServicingIntentLckd" />
               </div>
            </div>
         </div>
      </div>
   </div>
   <div>
      <div class="section">
         <div class="panel panel-default">
            <div class="panel-heading">
               <h5>Expanded Call Report Loan Data</h5>
            </div>
            <div class="panel-body">
               <fieldset class="table">
                  <div>
                     <div>
                        <label>Loan Program</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLpTemplateNm" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Amortization Type</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sFinMethT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Mortgage Loan Type</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sMortgageLoanT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Jumbo Indicator</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sJumboT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Documentation</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sDocumentationT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Interest-Only</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sIOnlyMon" /> month
                     </div>
                  </div>
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sIsOptionArm" label="Loan is an Option ARM" />
                     </div>
                     <div></div>
                     <div></div>
                  </div>
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHasPrepaymentPenalty" label="Loan has a Prepayment Penalty" />
                     </div>
                     <div></div>
                     <div></div>
                  </div>
                  <div>
                     <div>
                        <label>NMLS Loan Purpose</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSLoanPurposeT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Subj Prop Occ.</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sOccT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHasPrivateMortgageInsurance" label="Loan has Private Mortgage Insurance" /> 
                     </div>
                     <div></div>
                     <div></div>
                  </div>
                  <div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sHasPiggybackFinancing" label="Loan has Piggyback financing" /> 
                     </div>
                     <div></div>
                     <div></div>
                  </div>
                  <div>
                     <div>
                        <label>Qualifying Score</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sCreditScoreLpeQual" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>NMLS LTV / CLTV</label>
                     </div>
                     <div></div>
                     <div class="nmls-ltv-cltv">
                        <lqb-input lqb-model="vm.loan.fields.sNMLSLtvR" /> /  <lqb-input lqb-model="vm.loan.fields.sNMLSCLtvR" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Loan Sale Disposition</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sLoanSaleDispositionT" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Servicing</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sPurchaseAdviceSummaryServicingStatus" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Days of interest</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sDisbursementDaysOfInterestLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sDisbursementDaysOfInterest" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Servicing by us start date</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sServicingByUsStartDLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sServicingByUsStartD" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Servicing by us end date</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sServicingByUsEndDLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sServicingByUsEndD" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Subservicing transfer effective date</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLServTransEffD" readonly/>
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Servicing transfer in date</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSServicingTransferInDLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSServicingTransferInD" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Servicing transfer out date</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSServicingTransferOutDLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSServicingTransferOutD" />
                     </div>
                  </div>
                  <div>
                     <div>
                        <label>Days delinquent period</label>
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSPeriodForDaysDelinquentLckd" />
                     </div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSPeriodForDaysDelinquentT" />
                     </div> 
                  </div>
                  <div>
                     <div>
                        <label>Days delinquent as of period end</label>
                     </div>
                     <div></div>
                     <div>
                        <lqb-input lqb-model="vm.loan.fields.sNMLSDaysDelinquentAsOfPeriodEnd" />
                     </div>
                  </div>
               </fieldset>
            </div>
         </div>
      </div>
   </div>
</div>
