<div class="section">
	<div class="panel panel-default">
        <div class="panel-body">
        	<ul class="nav nav-tabs">
				<li><a ng-click="vm.goTo('loan1003page1')">Page 1</a></li>
				<li><a ng-click="vm.goTo('loan1003page2')">Page 2</a></li>
				<li class="active"><a>Page 3</a></li>
				<li><a ng-click="vm.goTo('loan1003page4')">Page 4</a></li>
			</ul>
			<div class="tab-content">
				<div class="panel panel-default">
       				<div class="panel-body">
       					<section><h5 class="title-1003">VI. ASSETS AND LIABILITIES (cont.)</h5>
       						<div><p><a ng-click="vm.goTo('reo')">Schedule of Real Estate Owned  </a></p></div>
       						<section class="margin-bottom">
								<div class="table">
									<div>
										<div></div>
										<div><label>Market Value </label></div>
										<div><label>Amt of Mort. </label></div>
										<div><label>Gross Rental Income </label></div>
										<div><label>Mort. Payments </label></div>
										<div><label>Ins/Tax/Misc Net </label></div>
										<div><label>Rental Income </label></div>
									</div>
									<div>
										<div><label>Totals </label></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotVal"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotMAmt"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotGrossRentI"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotMPmt"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotHExp"></lqb-input></div>
										<div><lqb-input lqb-model="vm.loan.app.fields.aReTotNetRentI"></lqb-input></div>
									</div>
								</div>
							</section>
							<section class="margin-bottom"><header class="title-sub-1003">List any additional names under which credit has previously been received and indicate appropriate creditor name(s) and account number(s):</header>
								<div class="table">
									<div>
										<div><label>Alternate name</label></div>
										<div><label>Creditor name</label></div>
										<div><label>Account number</label></div>
									</div>
									<div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm1"></lqb-input>
										</div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm1CreditorNm"></lqb-input>
										</div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm1AccNum"></lqb-input>
										</div>
									</div>
									<div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm2"></lqb-input>
										</div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm2CreditorNm"></lqb-input>
										</div>
										<div>
											<lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aAltNm2AccNum"></lqb-input>
										</div>
									</div>
								</div>
							</section>
       					</section>
						<section><h5 class="title-1003">VII. DETAILS OF TRANSACTION</h5>
							<div class="flex margin-bottom">
						        <section>
						            <div class="table">
						                <div>
						                    <div>a. Purchase price</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input></div>
						                </div>
						                <div>
						                    <div>b. Alterations, improvements, repairs</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sAltCost"></lqb-input></div>
						                </div>
						                <div>
						                    <div>c. Land (if acquired separately)</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sLandCost"></lqb-input></div>
						                </div>
						                <div>
						                    <div>d. Refi (incl. debts to be paid off)</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div>e. Estimated prepaid items</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div class="col-empty-1003"></div>
						                    <div></div>
						                    <div></div>
						                </div>
						                <div>
						                    <div>f. Estimated closing costs</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCc1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCcNoDiscnt1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div>g. PMI,MIP, Funding Fee</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div>h. Discount (if Borrower will pay)</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003Lckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003"></lqb-input></div>
						                </div>
						                <div>
						                    <div>i. Total costs (add items a to h)</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotTransC"></lqb-input></div>
						                </div>
						            </div>
						        </section>
						        <section>
						            <div class="table">
						                <div>
						                    <div>j. <a ng-click="vm.goTo('otherFinancing')">Subordinate financing</a></div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sONewFinBal"></lqb-input></div>
						                </div>
						                <div>
						                    <div>k. Borrower's closing costs paid by Seller</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotCcPbsLocked"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTotCcPbs"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div>l. </div>
						                                <div>
						                                    <lqb-input lqb-model="vm.loan.fields.sOCredit1Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit1Lckd" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit1Amt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div></div>
						                                <div>
						                                    <lqb-input lqb-model="vm.loan.fields.sOCredit2Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit2Amt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div></div>
						                                <div>
						                                    <lqb-input lqb-model="vm.loan.fields.sOCredit3Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit3Amt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div></div>
						                                <div>
						                                    <lqb-input lqb-model="vm.loan.fields.sOCredit4Desc" ng-disabled="vm.loan.fields.sLoads1003LineLFromAdjustments.v"></lqb-input>
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit4Amt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div></div>
						                                <div>
						                                    Lender credit
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sOCredit5Amt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>
						                        <div class="table">
						                            <div>
						                                <div></div>
						                                <div>
						                                    Other financing closing costs
						                                </div>
						                            </div>
						                        </div>
						                    </div>
						                    <div class="text-right">-</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sONewFinCc"></lqb-input></div>
						                </div>
						                <div>
						                    <div>m. Loan amount (exclude PMI, MIP, FF financed)</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input></div>
						                </div>
						                <div>
						                    <div>n. PMI, MIP, Funding Fee financed</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced"></lqb-input></div>
						                </div>
						                <div>
						                    <div>o. Loan amount (add m &amp; n)</div>
						                    <div></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input></div>
						                </div>
						                <div>
						                    <div>p. Cash from / to Borr (subtract j, k, l &amp; o from i)</div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTransNetCashLckd"></lqb-input></div>
						                    <div><lqb-input lqb-model="vm.loan.fields.sTransNetCash"></lqb-input></div>
						                </div>
						            </div>
						        </section>
						    </div>
						</section>
						<section><h5 class="title-1003">VIII. DECLARATIONS</h5>
							<section class="margin-bottom">
							    <div class="table declaration-table">
							        <div>
							            <div class="nowrap">If you answer "Yes" to any questions a through i, please use continuation sheet for explanation.</div>
							            <div><span ng-bind="vm.loan.app.fields.aBNm.v || 'Borrower'   "></span></div>
							            <div><span ng-bind="vm.loan.app.fields.aCNm.v || 'Co-borrower'"></span></div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div></div>
							                        <div></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div>Yes</div>
							                        <div>No</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div>Yes</div>
							                        <div>No</div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>a.</div>
							                        <div>Are there any outstanding judgments against you?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecJudgment" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecJudgment" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecJudgment" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecJudgment" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>b.</div>
							                        <div>Have you been declared bankrupt within the past 7 years?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBankrupt" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBankrupt" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBankrupt" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBankrupt" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>c.</div>
							                        <div>Have you had property foreclosed upon or given title or deed in lieu thereof in the last 7 years?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecForeclosure" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecForeclosure" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecForeclosure" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecForeclosure" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>d.</div>
							                        <div>Are you a party to a lawsuit?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecLawsuit" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecLawsuit" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecLawsuit" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecLawsuit" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>e.</div>
							                        <div>Have you directly or indirectly been obligated on any loan which resulted in foreclosure, transfer of title in lieu of foreclosure, or judgment? (This would include such loans as home mortgage loans, SBA loans, home improvement loans, educational loans, manufactured (mobile) home loans, any mortgage, financial obligation, bond, or loan guarantee.&nbsp; If "Yes", provide details, including if any, and reasons for the action.)</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecObligated" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecObligated" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecObligated" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecObligated" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>f.</div>
							                        <div>Are you presently delinquent or in default on any Federal debt or any other loan, mortgage, financial obligation bond, or loan guarantee? If "Yes", give details as described in the preceding question.</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecDelinquent" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecDelinquent" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecDelinquent" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecDelinquent" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>g.</div>
							                        <div>Are you obligated to pay alimony, child support, or separate maintenance?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecAlimony" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecAlimony" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecAlimony" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecAlimony" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>h.</div>
							                        <div>Is any part of the down payment borrowed?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBorrowing" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBorrowing" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBorrowing" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBorrowing" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>

							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>i.</div>
							                        <div>Are you a co-maker or endorser on a note?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecEndorser" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecEndorser" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecEndorser" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecEndorser" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>j.</div>
							                        <div>Are you a U.S. citizen?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecCitizen" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecCitizen" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecCitizen" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecCitizen" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>k.</div>
							                        <div>Are you a permanent resident alien?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecResidency" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecResidency" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecResidency" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecResidency" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>l.</div>
							                        <div>Do you intend to occupy the property as your primary residence? If "Yes", complete question m below</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecOcc" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecOcc" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecOcc" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecOcc" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table declaration-table">
							                    <div>
							                        <div>m.</div>
							                        <div>Have you had an ownership interest in a property in the last three years?</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnership" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnership" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <div class="table checkbox-table">
							                    <div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnership" ng-value="'Y'" li-type="radio2"></lqb-input></div>
							                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnership" ng-value="'N'" li-type="radio2"></lqb-input></div>
							                    </div>
							                </div>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table white-spacing-table">
							                    <div>
							                        <div></div>
							                        <div>(1) Type of property: (Principal Residence, Second Home, Investment Property)</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnedPropT"></lqb-input>
							            </div>
							            <div>
							                <lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnedPropT"></lqb-input>
							            </div>
							        </div>
							        <div>
							            <div>
							                <div class="table white-spacing-table">
							                    <div>
							                        <div></div>
							                        <div>(2) Title held: (Solely by Yourself, Jointly with Spouse, Jointly with Another Person)</div>
							                    </div>
							                </div>
							            </div>
							            <div>
							                <lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnedPropTitleT"></lqb-input>
							            </div>
							            <div>
							                <lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnedPropTitleT"></lqb-input>
							            </div>
							        </div>
							    </div>
						    </section>
						</section>
						<section><h5 class="title-1003">X. INFORMATION FOR GOVERNMENT MONITORING PURPOSES</h5>
							<div class="flex margin-bottom">
								<section>
									<div class="table table-information-goverment"><header class="title-sub-1003">Borrower</header>
										<div>
											<div>
						                        <lqb-input lqb-model="vm.loan.app.fields.aBNoFurnish" label="I do not wish to furnish this information"></lqb-input>
						                    </div>
										</div>
										<div>
						                    <div>Ethnicity: <lqb-input lqb-model="vm.loan.app.fields.aBHispanicT"></lqb-input></div>
						                </div>
						                <div>
						                    <div>Race: (check all that apply)</div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAsian" label="Asian"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsBlack" label="Black or African American"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsWhite" label="White"></lqb-input></div>
						                </div>
						                <div>
						                    <div>Sex: <lqb-input lqb-model="vm.loan.app.fields.aBGender"></lqb-input></div>
						                </div>
									</div>
								</section>
								<section>
									<div class="table"><header class="title-sub-1003">Co-borrower</header>
										<div>
											<div>
						                        <lqb-input lqb-model="vm.loan.app.fields.aCNoFurnish" label="I do not wish to furnish this information"></lqb-input>
						                    </div>
										</div>
										<div>
						                    <div>Ethnicity: <lqb-input lqb-model="vm.loan.app.fields.aCHispanicT"></lqb-input></div>
						                </div>
						                <div>
						                    <div>Race: (check all that apply)</div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAsian" label="Asian"></lqb-input> </div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsBlack" label="Black or African American"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
						                </div>
						                <div>
						                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsWhite" label="White"></lqb-input></div>
						                </div>
						                <div>
						                    <div>Sex: <lqb-input lqb-model="vm.loan.app.fields.aCGender"></lqb-input></div>
						                </div>
									</div>
								</section>
							</div>
							<section><header class="title-sub-1003">To be Completed by Loan Originator</header>
								<div class="table">
					                <div>
					                    <div>
					                    	<lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.IsLocked" ng-value="false" li-type="radio" label="Populate from Official Contact"></lqb-input>
					                    </div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.AgentRoleT"></lqb-input></div>
					                </div>
					                <div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.IsLocked" ng-value="true" li-type="radio" label="Set Manually"></lqb-input></div>
					                    <div><a class="contact-link">Pick from Contacts</a> <a href="m_linkAddToContact">Add to Contacts</a></div>
					                </div>
					                <div>
					                    <div><label>This application was taken by</label></div>
					                    <div><lqb-input lqb-model="vm.loan.app.fields.aIntrvwrMethodT"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Interview Date</label></div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.PrepareDate"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Originator's Name</label></div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.PreparerName"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Originator NMLS ID</label></div>
					                    <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.LoanOriginatorIdentifier"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Originator's License Number</label></div>
					                    <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.LicenseNumOfAgent"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Originator's Phone</label></div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.Phone"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Originator's Email</label></div>
					                    <div><lqb-input class="form-control form-control-email" lqb-model="vm.loan.preparerFields.App1003Interviewer.EmailAddr"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Origination Company's Name</label></div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.CompanyName"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Origination Company NMLS ID</label></div>
					                    <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.CompanyLoanOriginatorIdentifier"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Origination Company's License Number</label></div>
					                    <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.LicenseNumOfCompany"></lqb-input></div>
					                </div>
					                <div>
					                    <div><label>Loan Origination Company's Address</label></div>
					                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.StreetAddr" placeholder="Street"></lqb-input></div>
					                </div>
					                <div>
					                    <div></div>
					                    <div>
						                    <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.App1003Interviewer.City" placeholder="City"></lqb-input>
						                    <lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.State" placeholder="State"></lqb-input>
						                    <lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.Zip" placeholder="ZIPCode"></lqb-input>
					                    </div>
					                </div>
					                <div>
					                    <div><label>Loan Origination Company's Phone</label></div>
					                    <div>
					                    	<lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.PhoneOfCompany"></lqb-input>
					                    	Fax <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.App1003Interviewer.FaxOfCompany"></lqb-input>
					                    </div>
					                </div>
					            </div>
							</section>
						</section>
					</div>				
				</div>
			</div>				
		</div>
	</div>
</div>
