﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LQBPopup.ascx.cs" Inherits="PriceMyLoan.common.LQBPopup" EnableViewState="false"  %>

<div id="LQBPopupDiv">
    <iframe id="LQBPopupDivFrame" runat="server" src="about:blank" border="0" frameBorder="0"></iframe>
    <input type="button" value="Cancel" class="ButtonStyle" />
</div>

