<div ng-if="vm.genericFrameworkVendorLinks.length > 0"
    class="generic-framework generic-framework-link"
    ng-class="{'generic-framework-center': vm.alignmentModel.CenterAligned, 'generic-framework-right': vm.alignmentModel.RightAligned}">
    <div class="generic-framework-vendor"
        ng-class="{
            'vendor-left': vm.alignmentModel.LeftAligned,
            'vendor-center': vm.alignmentModel.CenterAligned,
            'vendor-right': vm.alignmentModel.RightAligned
        }"
        ng-repeat="link in vm.genericFrameworkVendorLinks | orderBy:'[]':vm.alignmentModel.RightAligned">
        <a ng-if="!link.DisplayAsButton"
            ng-click="vm.launchGenericFramework(link.ProviderID);"
            ng-bind="link.DisplayName"></a>

        <button ng-if="link.DisplayAsButton"
            type="button" class="btn btn-default"
            ng-click="vm.launchGenericFramework(link.ProviderID)"
            ng-bind="link.DisplayName"></button>
    </div>
</div>
<div class="generic-framework-clear">&nbsp;</div>
