<div ng-if="vm.navigationItems.length > 0" id="LoanNavigationHeaderLinks" class="wrap-sidebar">
    <div class="sidebar sidebar-arrow">
        <ul class="nav-bar ng-cloak">
            <li ng-repeat="navItem in vm.navigationItems">
                <a ng-click="vm.navigateTo(navItem.Url);" ng-class="{selected: navItem.Selected}">
                    <span ng-bind="navItem.Name"></span>
                    <i ng-hide="navItem.ImageClass == null"
                        class="icon material-icons"
                        ng-class="navItem.ImageClass.CssClass"
                        ng-bind="navItem.ImageClass.IconType"></i>
                    <span ng-hide="navItem.TabCount == null">(<span ng-bind="navItem.TabCount"></span>)</span>
                </a>
            </li>
        </ul>
    </div>
    <a class="collapse-arrow" ng-click="vm.toggleLeftNav($event)"><i class="material-icons collapsing">&#xE5CB;</i></a>
</div>