<ul class="loan-info-bar">
    <li class="back-btn">
        <a ng-click="vm.toPipeline();">
            <div class="no-wrap">
                <i class="material-icons pipeline-icon">&#xE879;</i>
                <span class="pipeline-text" ng-bind="vm.getToPipelineText()"></span>
            </div>
        </a>
    </li>
	<li class="vertical-line"></li>
    <li><div class="title">Loan Number:     </div><div id="sLNm"    ng-bind="vm.sLNm   ||'&nbsp;'"></div></li>
    <li><div class="title">Borrower Name:   </div><div id="aBNm"    ng-bind="vm.aBNm   ||'&nbsp;'"></div></li>
    <li><div class="title">Loan Amount:     </div><div id="sLAmt"   ng-bind="vm.sLAmt  ||'&nbsp;'"></div></li>
    <li><div class="title">Property Address:</div><div id="sSpAddr" ng-bind="vm.sSpAddr||'&nbsp;'"></div></li>
    <li><div class="title">Loan Type:       </div><div              ng-bind="vm.sLT    ||'&nbsp;'"></div></li>
    <li><div class="title">Credit Score:</div>
        <div id="CreditScoreSection" class="ng-cloak">
            <span id="sCreditScoreType2" ng-bind="vm.sCreditScoreType2"></span>
            <a class="tooltips"
                data-html="true"
                data-toggle="tooltip"
                data-placement="bottom"
                title="<strong>Lowest middle score(s)</strong> using middle of 3 or lower of 2 for each borrower">
                <i class="material-icons">&#xE887;</i>
            </a>
        </div>
    </li>
	<li class="vertical-line" ng-if="vm.isSaveButtonEnabled && !vm.isOnPricing"></li>
	<li id="save-button-list-item" ng-if="vm.isSaveButtonEnabled && !vm.isOnPricing">
		<a class="tooltips layer-mask" id="save-button-tooltip" disabled="disabled"
			data-html="true"
			data-toggle="tooltip"
			data-placement="bottom"
			data-delay='{"show":"2000"}'
			title="{{vm.disableExplicitSavingPage ? 'Explicit save functionality has been disabled for this page.' : 'There are no unsaved changes.'}}">
			<div class="layer" disabled="disabled"></div>
			<input id="save-button-with-tooltip" class="btn-default save-button" type="button" value="SAVE" disabled></input>
		</a>
		<input id="save-button-without-tooltip" class="btn-default save-button" type="button" value="SAVE" ng-click="vm.onSave();" ng-init="vm.onInit();"></input>
	</li>
</ul>