<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
        <p><strong>Equal Credit Opportunity Act Information</strong></p>
        <div class="table">
            <div>
                <div><label for="">The Federal Agency that administers compliance with this law concerning this company is</label></div>
            </div>
            <div>
                <div><lqb-input lqb-model="vm.pipeline.broker.ECOAAddressDefault" rows="4"></lqb-input></div>
            </div>
        </div>
        <p><strong>Fair Lending questions or complaints may be addressed to</strong></p>
        <div class="table" lqb-load-fields="fairLendNoticeAddress">
            <div ng-repeat="item in vm.pipeline.fairLendNoticeAddress |limitTo:9"">
                <div>
                    <lqb-input lqb-model="item"></lqb-input>
                </div>
            </div>
        </div>
    </div>
</div>