﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FileDbTest.aspx.cs" Inherits="LendersOfficeApp.FileDbTest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        OK
    </div>
    </form>
</body>
</html>
