<div class="section"><div class="panel panel-default"><div class="panel-body">
    <fieldset class="table">
        <div>
            <div><strong>Event</strong></div>
            <div><strong>Date</strong></div>
            <div><strong>Comments</strong></div>
        </div>
        <div>
            <div>Application Submitted</div>
            <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedDLckd"></lqb-input></div>
        </div>
        <div>
            <div>App Received by Lender</div>
            <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderDLckd"></lqb-input></div>
        </div>
        <div>
            <div>Estimated Closing</div>
            <div><lqb-input lqb-model="vm.loan.fields.sEstCloseD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sEstCloseDLckd"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sEstCloseN"></lqb-input></div>
        </div>
        <div>
            <div>QC Completed Date</div>
            <div class="table">
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQCCompDate"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQCCompDateTime" readonly></lqb-input></div>
                </div>
            </div>
            <div></div>
        </div>
    </fieldset>

    <!-- require('../partials/customEvents.html') -->

    <fieldset class="table">
        <!-- require('../partials/disclosureDocumentDates_1.html') -->
        <!-- require('../partials/disclosureDocumentDates_2.html') -->
    </fieldset>

    <!-- require('../partials/purchaseContractDates.html') -->

    <fieldset class="table">
        <!-- require('../partials/otherDocuments_1.html') -->
        <div>
            <div>TIL Disclosure / GFE</div>
            <div><lqb-input lqb-model="vm.loan.fields.sTilGfeOd"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sTilGfeDueD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sTilGfeDocumentD" readonly></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sTilGfeRd"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sTilGfeN"></lqb-input></div>
        </div>
        <!-- require('../partials/otherDocuments_2.html') -->
        <div>
            <div>Final HUD-1 Settlement Stmt</div>
            <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtOrderedD"></lqb-input></div>
            <div></div>
            <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtDocumentD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtReceivedD"></lqb-input></div>
            <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtN"></lqb-input></div>
        </div>
        <!-- require('../partials/otherDocuments_3.html') -->
    </fieldset>

    <!-- require('../partials/forBorrower.html') -->
    <!-- require('../partials/forCoBorrower.html') -->
</div></div></div>
