status-agents {

	.section > .panel {
		padding-right: 1.5em;
		.table {
			&.table-agents {

				> div > div {
					padding-bottom: 1.5em;
				} 
			}
		}

		.secondary-table {
			width: 100%;
			.header {
				th {
					a {
						display: flex;
						line-height: 20px;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		
	}
}
