agent-record {

	.panel {

		min-width: 80em;

		.table-agent-record-left > div > div:first-child {
			width: 18em;
		}
		.table-agent-record-right > div > div:first-child {
			width: 11em;
		}
		.table-notes {
			margin-bottom: 1em;
		}
		.form-control-empty {
			height: 3em;
		}
		.form-control-pager, .form-control-employee-id, .form-control-case-number, .form-control-chums-id {
			width: 10em;
		}
		.form-control-notes {
			width: 50em;
			min-height: 10em;
		}
		.form-control-commission lqb-input {
			margin-right: .15em;
		}
		.text-right {
			float: right;
		}
		.item-number {
			padding-left: 2.8em;
		}
	}
}
