status-commission {
    .panel{
        &.commission-panel{
            min-width: 700px;
            .primary-table{
                margin-bottom: 2.5em;
            }
        }
    }
    .commission-table{
        lqb-input{
            margin-left: .75em;
            &:first-child{
                margin-left: 0;
            }
        }
        span{
            &.border-top{
                border-top:#878d92 1px solid;
                display: inline-block;
                padding-top: 1em;
                font-weight: bold;
            }
            &.text-bold{
                font-weight: bold;
            }
            &.white-spacing{
                margin-top: 3em;
                display: inline-block;
            }
        }
    }
}