status-general {
    .panel {
        .panel-heading {
            pointer: cursor;
        }

        .table {

            .udn {
                width: 15.5em;
            }
            .form-control-notes {
                width: 66.8em;
            }
            .final-hud, .lead-source {
                width: 15em;
            }

            .primary-table, .secondary-table {
                margin-bottom: 1em;
                .header {
                    th {
                        white-space: nowrap;
                    }
                }
                td {
                    .table {
                        &.table-wrap-icon {
                            min-width: 3.8em;
                            > div > div {
                               padding-right: 0;
                               padding-bottom: 0;
                            }
                        }
                        .wrap-checkbox {
                            min-width: 30px;
                        }
                    }
                }
            }
        }
        .tb-general {
            margin-bottom: 1.5em;
        }
    }
}
