status-hmda {
    .panel {
        
        min-width: 800px;

        .hmda-table {
            .counter-offer-details {
                min-width: 51.1em;
            }
            .empty-space {
                width: 10em;
            }
        }
    }
}
