lending-staff-notes {
    .table{
        .table{
            > div > div{
                padding-bottom: 0;
            }
        }
        textarea{
            min-height: 30em;
            min-width: 55em;
        }
    }
}
