nmls-call-report {

	.nmlsCallReport-table {
		display: flex;
		.section {
			> div {
				margin-right: 0;
			}
		}
	}

	.panel {
		min-width: 55em;
		&.nmlsCallReport-panel {
			min-width: 520px;
			max-width: 520px;
		}
		.table {
			> div > div {
				vertical-align: middle;
				&:last-child {
					padding-right: 0;
					&.nmls-ltv-cltv {
						lqb-input {
							margin-right: 0;
						}
					}
				}
				label {
					&:first-child, &.radio, &.radio-inline {
						margin-right: 0;
					}
				}
			}
			&.application-data-table {
				> div > div {
					&:first-child {
						width: 170px;
					}
					&.action-fields {
						width: 43px;
					}
				}
			}
		}
	}
}
