status-trust-accounts {

    .table {

        &.header-trustaccount {
            > div > div {
                padding-right:0;

                &:nth-child(1) {
                    width: 17px;
                }
                &:nth-child(2) {
                    width: 173px;
                }
                &:nth-child(3) {
                    width: 167px;
                }
                &:nth-child(4), &:nth-child(5) {
                    width: 283px;
                    text-align: center;
                }
            }
        }

        > div > div {
            &:first-child {
                width: 1em;
                padding-right: .25em;
            }
            label:first-child {
                margin-right: 0;
            }
        }
        .table {
            > div > div {
                padding-bottom:0;

                &:first-child {
                    padding-right: 1em;
                }

                &.wrap-date {
                    width: 167px;
                }
                &.wrap-form-control {
                    width: 173px;
                }
                &.wrap-money {
                    width: 123px;
                } 
            }
        }
    }
}
