<nav class="col-md-2 collapse in width height navigation sidebar-navigation"
    re-ref="vm.set_sidebarNavigation($ref)"
    ng-nicescroll nice-option="vm.nicescrollOption" nice-scroll-object="vm.sidebarNavNicescroll">
    <nav class="navbar navbar-inverse user-settings">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav main-list">
                    <li>
                        <a>Eduardo Michel</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="search-group-container">
        <div class="input-group search-group" ng-class="{expand: vm.isSearchQueryOpened}">
            <span class="input-group-btn search-group-first" ng-class="{covered: vm.isSearchQueryOpened}">
                <button type="button" class="btn" ng-click="vm.onGoBack()"><span class="material-icons">arrow_back</span></button>
                <button type="button" class="btn" ng-click="vm.onGoForward()"><span class="material-icons">arrow_forward</span></button>
            </span>

            <ui-select ng-model="vm.searchQuery"
                       on-select="vm.goToPage($item.page)"
                       uis-open-close="vm.onSearchQueryOpenClose(isOpen)"
                       reset-search-input="true"
                       class="input-group-addon">
                <ui-select-match allow-clear="true" placeholder="Search&hellip;">
                    <span ng-bind="$select.selected.desc"></span>
                </ui-select-match>
                <ui-select-choices repeat="dp in (vm.navTree.descPages | filter: {desc:$select.search||'!'} :vm.searchFilterComparator)">
                    <div ng-bind-html="dp.desc | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>

            <span class="input-group-btn">
                <button><span class="material-icons" aria-hidden="true">search</span></button>
            </span>
        </div>
    </div>

    <nav class="navbar navbar-inverse navigation-list" style="height:100%">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav main-list">
                    <li ng-if="vm.navTree.favoriteFolder.length > 0">
                        <a ng-click="vm.navClick(vm.navTree.favoriteFolder)" class="folder"
                            ng-class="{collapsed:!vm.navTree.favoriteFolder.IsExpand}">
                            Favorites
                            <span class="arrow material-icons">keyboard_arrow_left</span>
                        </a>
                        <ul dragular="{direction: 'vertical', containersModel: 'vm.navTree.favoriteFolder.Children', scope: this }"
                            bs-collapse="!vm.navTree.favoriteFolder.IsExpand"
                            class="nav navbar-nav collapse">
                            <li ng-repeat="page in vm.navTree.favoriteFolder.Children" data-page-id="{{page.Id}}">
                                <a class="favorite-page-link" ng-click="vm.navClick(page)">
                                    <span ng-bind="page.Name"></span>
                                    <span class="drag-icon">
                                        <!-- require('../../../../../images/Prototype/drag-vertical.svg') -->
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li ng-repeat="item1 in vm.navTree.items">
                        <a ng-click="vm.navClick(item1)"
                            ng-class="{
                                folder:item1.Route == null,
                                active:vm.navTree.select1 === item1,
                                collapsed:!item1.IsExpand
                            }">
                            <span ng-bind="item1.Name"></span>
                            <span ng-show="item1.Route == null" class="arrow material-icons">keyboard_arrow_left</span>
                        </a>

                        <ul ng-if="item1.Route == null"
                            bs-collapse="!item1.IsExpand"
                            class="nav navbar-nav collapse" >
                            <li ng-repeat="item2 in item1.Children">
                                <a ng-click="vm.navClick(item2)"
                                    ng-class="{
                                        folder:item2.Route == null,
                                        active:vm.navTree.select2 === item2,
                                        collapsed:!item2.IsExpand
                                    }">
                                    <span ng-bind="item2.Name"></span>
                                    <span ng-show="item2.Route == null" class="arrow material-icons">keyboard_arrow_left</span>
                                </a>
                                <ul ng-if="item2.Route == null"
                                    bs-collapse="!item2.IsExpand"
                                    class="nav navbar-nav collapse">
                                    <li ng-repeat="item3 in item2.Children">
                                        <a ng-click="vm.navClick(item3)"
                                           ng-class="{active:vm.navTree.select3 === item3}"
                                           ng-bind="item3.Name"></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li ng-if="!vm.hideSaveMenuLayout">
                        <a ng-click="vm.navTree.saveMenuLayout()">Save Menu Layout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</nav>
