BODY {
	LINE-HEIGHT: 1.35em; BACKGROUND-COLOR: white; FONT-STYLE: normal; MARGIN: 4em 15em 4em 4em; FONT-FAMILY: Helvetica, Geneva, Arial, sans-serif; COLOR: #333333; FONT-SIZE: 1em; FONT-WEIGHT: normal
}
BODY.with_sponsor {
	MARGIN-RIGHT: 410px
}
A {
	COLOR: #5a86e4; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
A.external {
	PADDING-RIGHT: 12px; BACKGROUND: url(../images/external.png) no-repeat right 50%
}
CODE {
	FONT-FAMILY: Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}
PRE {
	FONT-FAMILY: Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}
.file-list {
	FONT-FAMILY: Consolas, Monaco, "Bitstream Vera Sans Mono", "Courier New", Courier, monospace
}
TABLE {
	BORDER-BOTTOM: #adadad 2px solid; BORDER-LEFT: #adadad 2px solid; PADDING-BOTTOM: 0.5em; PADDING-LEFT: 0.5em; WIDTH: 100%; PADDING-RIGHT: 0.5em; BORDER-TOP: #adadad 2px solid; BORDER-RIGHT: #adadad 2px solid; PADDING-TOP: 0.5em; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
TABLE TD {
	PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; VERTICAL-ALIGN: top; PADDING-TOP: 0.3em
}
TABLE TH {
	PADDING-BOTTOM: 0.3em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; VERTICAL-ALIGN: top; PADDING-TOP: 0.3em
}
TABLE TH {
	TEXT-ALIGN: left
}
TABLE TBODY > TR:hover {
	BACKGROUND: #cbe2ff; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px
}
TABLE TBODY > TR > TD:first-child {
	WHITE-SPACE: nowrap
}
#clear {
	CLEAR: both
}
#title H1 {
	LINE-HEIGHT: 100%; MARGIN: 0px; COLOR: #adadad; FONT-SIZE: 4em; FONT-WEIGHT: bold
}
#title H1 #whatsnew {
	DISPLAY: inline
}
#title H1 #whatsnew A {
	COLOR: red; FONT-SIZE: 0.5em
}
#title H2 {
	FONT-SIZE: 1.45em
}
#title #forkme {
	Z-INDEX: 5; BORDER-BOTTOM: 0px; POSITION: fixed; BORDER-LEFT: 0px; TEXT-INDENT: -1000px; WIDTH: 149px; DISPLAY: block; BACKGROUND: url(/SyntaxHighlighter/images/forkme.png) no-repeat; HEIGHT: 149px; OVERFLOW: hidden; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; LEFT: 0px
}
.badge {
	BOX-SIZING: border-box; PADDING-BOTTOM: 4px; LINE-HEIGHT: 100%; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box
}
#content .date {
	BOX-SIZING: border-box; PADDING-BOTTOM: 4px; LINE-HEIGHT: 100%; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box
}
#content .version {
	BOX-SIZING: border-box; PADDING-BOTTOM: 4px; LINE-HEIGHT: 100%; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-SIZE: 10px; FONT-WEIGHT: normal; PADDING-TOP: 3px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box
}
#content {
	MARGIN-TOP: 5em
}
#content #news UL {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#content #news UL LI {
	POSITION: relative; MIN-HEIGHT: 22px; PADDING-LEFT: 7em; DISPLAY: block
}
#content .date {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 10em; PADDING-RIGHT: 5px; BACKGROUND: #cbe2ff; HEIGHT: 20px; COLOR: #5a86e4; TOP: 0px; PADDING-TOP: 6px; LEFT: 0px
}
#content .version {
	BACKGROUND: #adadad; COLOR: white
}
#content H3 {
	MARGIN: 1.5em 0px 0.5em; FONT-SIZE: 1.45em
}
#content H2 > A[name] {
	COLOR: black; TEXT-DECORATION: none
}
#content .sponsor {
	PADDING-BOTTOM: 0.1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; MARGIN-BOTTOM: 1em; BACKGROUND: #feffcb; PADDING-TOP: 0.1em; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
.float {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.1em; PADDING-LEFT: 1em; WIDTH: 10em; PADDING-RIGHT: 1em; TOP: 10px; RIGHT: 10px; PADDING-TOP: 1em
}
#meta {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.1em; PADDING-LEFT: 1em; WIDTH: 10em; PADDING-RIGHT: 1em; TOP: 10px; RIGHT: 10px; PADDING-TOP: 1em
}
#footer {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.1em; PADDING-LEFT: 1em; WIDTH: 10em; PADDING-RIGHT: 1em; TOP: 10px; RIGHT: 10px; PADDING-TOP: 1em
}
#blurb {
	POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 1em; LINE-HEIGHT: 1.1em; PADDING-LEFT: 1em; WIDTH: 10em; PADDING-RIGHT: 1em; TOP: 10px; RIGHT: 10px; PADDING-TOP: 1em
}
.float A {
	DISPLAY: block
}
#meta A {
	DISPLAY: block
}
#footer A {
	DISPLAY: block
}
#blurb A {
	DISPLAY: block
}
.with_sponsor .float {
	RIGHT: 190px
}
.with_sponsor #meta {
	RIGHT: 190px
}
.with_sponsor #footer {
	RIGHT: 190px
}
.with_sponsor #blurb {
	RIGHT: 190px
}
#sponsor {
	POSITION: fixed; BOTTOM: 10px; BACKGROUND: #6380ea; TOP: 10px; RIGHT: 10px; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px
}
#sponsor A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#meta {
	Z-INDEX: 2; FONT-WEIGHT: bold; PADDING-TOP: 7em
}
#footer {
	Z-INDEX: 1; BACKGROUND: #cbe2ff; PADDING-TOP: 14em; -moz-border-radius: 3px 3px 3px 3px; -webkit-border-radius: 3px 3px 3px 3px
}
#footer #ad {
	MARGIN-BOTTOM: 0.5em
}
#blurb {
	Z-INDEX: 2; TEXT-ALIGN: left
}
#blurb A {
	DISPLAY: inline
}
#blurb EM {
	FONT-SIZE: 80%
}
#copyright {
	MARGIN-TOP: 3em; COLOR: #adadad; FONT-SIZE: 1.2em
}
#theme-example {
	PADDING-BOTTOM: 1em; BACKGROUND-COLOR: #adadad; PADDING-LEFT: 2em; PADDING-RIGHT: 2em; PADDING-TOP: 1em; -moz-border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px 5px 5px 5px
}
