.syntaxhighlighter {
	BACKGROUND-COLOR: white !important
}
.syntaxhighlighter .alt1.line {
	BACKGROUND-COLOR: white !important
}
.syntaxhighlighter .alt2.line {
	BACKGROUND-COLOR: white !important
}
.syntaxhighlighter .alt1.highlighted.line {
	BACKGROUND-COLOR: #e0e0e0 !important
}
.syntaxhighlighter .alt2.highlighted.line {
	BACKGROUND-COLOR: #e0e0e0 !important
}
.syntaxhighlighter .number.highlighted.line {
	COLOR: black !important
}
.syntaxhighlighter TABLE CAPTION {
	COLOR: black !important
}
.syntaxhighlighter .gutter {
	COLOR: #afafaf !important
}
.syntaxhighlighter .gutter .line {
	BORDER-RIGHT: #6ce26c 3px solid
}
.syntaxhighlighter .gutter .highlighted.line {
	BACKGROUND-COLOR: #6ce26c !important; COLOR: white !important
}
.printing.syntaxhighlighter .line .content {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.collapsed.syntaxhighlighter {
	OVERFLOW: visible !important
}
.collapsed.syntaxhighlighter .toolbar {
	BORDER-BOTTOM: #6ce26c 1px solid; BORDER-LEFT: #6ce26c 1px solid; BACKGROUND: white; COLOR: blue !important; BORDER-TOP: #6ce26c 1px solid; BORDER-RIGHT: #6ce26c 1px solid
}
.collapsed.syntaxhighlighter .toolbar A {
	COLOR: blue !important
}
.collapsed.syntaxhighlighter .toolbar A:hover {
	COLOR: red !important
}
.syntaxhighlighter .toolbar {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: #6ce26c; COLOR: white !important; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.syntaxhighlighter .toolbar A {
	COLOR: white !important
}
.syntaxhighlighter .toolbar A:hover {
	COLOR: black !important
}
.syntaxhighlighter .plain {
	COLOR: black !important
}
.syntaxhighlighter .plain A {
	COLOR: black !important
}
.syntaxhighlighter .comments {
	COLOR: #008200 !important
}
.syntaxhighlighter .comments A {
	COLOR: #008200 !important
}
.syntaxhighlighter .string {
	COLOR: blue !important
}
.syntaxhighlighter .string A {
	COLOR: blue !important
}
.syntaxhighlighter .keyword {
	COLOR: #006699 !important
}
.syntaxhighlighter .preprocessor {
	COLOR: gray !important
}
.syntaxhighlighter .variable {
	COLOR: #aa7700 !important
}
.syntaxhighlighter .value {
	COLOR: #009900 !important
}
.syntaxhighlighter .functions {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .constants {
	COLOR: #0066cc !important
}
.syntaxhighlighter .script {
	COLOR: #006699 !important; FONT-WEIGHT: bold !important
}
.syntaxhighlighter .color1 {
	COLOR: gray !important
}
.syntaxhighlighter .color1 A {
	COLOR: gray !important
}
.syntaxhighlighter .color2 {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .color2 A {
	COLOR: #ff1493 !important
}
.syntaxhighlighter .color3 {
	COLOR: red !important
}
.syntaxhighlighter .color3 A {
	COLOR: red !important
}
.syntaxhighlighter .keyword {
	FONT-WEIGHT: bold !important
}
