<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table wide">
                <div>
                    <div class="table left-credit-reports-table">
                        <div>
                            <div>
                                <strong>Preferred Credit Agencies</strong>
                            </div>
                        </div>
                        <div>
                            <div>
                                These will appear at the top of the list when users go to order credit
                            </div>
                        </div>
                        <div ng-repeat="agent in vm.pipeline.creditAgents track by $index">
                            <div>
                                <lqb-input lqb-model="agent.id"></lqb-input>
                                <lqb-input lqb-model="agent.isPdfViewNeeded" label="Order PDF"></lqb-input>
                                <button ng-click="vm.clearAgent(agent)">Clear</button>
                            </div>
                        </div>
                        <div>
                            <div>
                                <button ng-click="vm.modal.show()">Hide credit agencies in PriceMyLoan ...</button>
                            </div>
                        </div>
                        <div>
                            <div>
                                <lqb-input lqb-model="vm.pipeline.broker.AllowPmlUserOrderNewCreditReport" label="Allow users to order new credit reports in PriceMyLoan"></lqb-input>
                            </div>
                        </div>
                    </div>
                    
                    <div class="table right-credit-reports-table">
                        <div>
                            <div>
                                <strong>DU Loggin Information (for Fannie Mae credit only)</strong>
                            </div>
                        </div>
                        <div>
                            <div>
                                Please contact our support engineers to request changes to this information.
                            </div>
                        </div>
                        <div>
                            <div>
                                Don't have a DU account?&nbsp; <a href="/help/faq/HowdoIgetaDUAccounttoacce.aspx" target=_blank title="Help: How do I get a DU Account to access my credit provider?">Click here for help</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hidden-cras-modal  ref="vm.modal = $ref"></hidden-cras-modal>