<div class="clearfix">
    <div class="form-inline form-sm">
        <input ng-model="vm.searchSpec.UserLoginNm"
               placeholder="Username"
               class="form-control">
        <input ng-model="vm.searchSpec.CustomerCode"
               placeholder="Customer Code"
               class="form-control">
        <input ng-model="vm.searchSpec.PageName"
               placeholder="Page Name"
               class="form-control">
    </div>
</div>

<p></p>
<p>Select cache table update requests to retry, or click "Delete Entries" to remove them from the list:</p>

<div class="clearfix">
    <div class="wrap-btn-right">
        <div style="position:fixed">
            <div style="position:relative;">
                <a      ng-click="vm.runAll()" class="btn btn-default btn-fix-width">Run All Requests</a>
                <button ng-click="vm.run   ()" class="btn btn-default btn-fix-width" ng-disabled="vm.selectedPercent <= 0" type="button">Run Requests</button>
                <button ng-click="vm.delete()" class="btn btn-default btn-fix-width" ng-disabled="vm.selectedPercent <= 0" type="button">Delete Entries</button>
            </div>
        </div>
    </div>
    <div class="wrap-table">
        <div class="table-responsive"><table class="table table-striped table-condensed table-layout-fix">
            <thead><tr>
                <th class="col-checkbox"   ><input ng-click="vm.onSelectAll($event)" type="checkbox" checkbox-indeterminate="vm.selectedPercent"/></th>
                <th class="loan-name"      ><a sort-handle="vm.entrySort" key="sLNm"                 >Loan Name        </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="sLId"                 >LoanId           </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="UserLoginNm"          >Username         </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="CustomerCode"         >Customer Code    </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="PageName"             >Page Name        </a></th>
                <th class="affected-fields"><a sort-handle="vm.entrySort" key="AffectedCachedFields" >Affected Fields  </a></th>
                <th class="first-occ"      ><a sort-handle="vm.entrySort" key="FirstOccurD"          >First Occurrence </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="LastRetryD"           >Last Retried     </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="WhoRetriedLastLoginNm">Who Retried Last </a></th>
                <th                        ><a sort-handle="vm.entrySort" key="ErrorLink"            >Error Info       </a></th>
            </tr></thead>
            <tbody><tr ng-repeat="e in vm.entries | filter:vm.searchSpec | orderBy:vm.entrySort.by:vm.entrySort.desc track by e.RequestId">
                <td><input ng-model="e.isSelected" type="checkbox" ng-change="vm.onEntrySelect()"/></td>
                <td><span ng-bind="e.sLNm                              " select-when-clicked></span></td>
                <td><span ng-bind="e.sLId                              " select-when-clicked></span></td>
                <td><span ng-bind="e.UserLoginNm                       " select-when-clicked></span></td>
                <td><span ng-bind="e.CustomerCode                      " select-when-clicked></span></td>
                <td><span ng-bind="e.PageName                          " select-when-clicked></span></td>
                <td><span ng-bind="e.AffectedCachedFields.split(':')[1]" select-when-clicked></span></td>
                <td><span ng-bind="e.FirstOccurD | date:'short'        " select-when-clicked></span></td>
                <td><span ng-bind="e.LastRetryD                        " select-when-clicked></span></td>
                <td><span ng-bind="e.WhoRetriedLastLoginNm             " select-when-clicked></span></td>
                <td class="text-right"><a ng-click="vm.showErrorInfo(e)">Click for Error Info</a></td>
            </tr></tbody>
        </table></div>
    </div>

</div>

<error-info ng2-var="vm.errorInfoModal"></error-info>
