<div class="modal fade v-middle"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Error Information</h4>
    </div>
    <div class="modal-body">
        <pre ng-bind="vm.entry.ErrorInfo" select-when-clicked></pre>
    </div>
    <div class="modal-footer">
        <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
    </div>
</div></div></div>
