.wrap-btn-right{
    width: 135px;
    float: right;
}
.wrap-table{
    width: 87%;
    float: left;
}
.btn-fix-width{
    width: 135px;
    display:block;
    margin-bottom: 10px;
}
.col-checkbox{
    width: 20px;
}
.first-occ{
    width: 12%;
}
.loan-name{
    width: 12%;
}
.affected-fields{
    width: 18%;
}
.error-info{ text-align: right; }