<div>
    <header class="page-header">Manage Users</header>

    <div class="d-flex">
        <form ng-submit="vm.searchUser()">
            <div class="flex-search">
                <div class="search-loans-page search-user flex-manage-user">
                    <div class="search-header padding-top-p16">Search<br>User</div>
                    <div class="search-name-login">
                        <div><label>Name or Login</label></div>
                        <div><input type="text" ng-model="vm.userName" maxlength="32" title="Please use a search term." autofocus></div>
                    </div>
                    <div><button type="submit" class="btn btn-default">Search  <i class="material-icons">&#xE8B6;</i></button></div>
                    <div><button type="reset"  class="btn btn-default"
                            ng-disabled="!vm.userName"
                            ng-click="vm.resetSearch()">Clear Search</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="btn-add-new-user">
            <button type="button" ng-click="vm.addUser()" class="btn btn-default">Add New User</button>
        </div>
    </div>

    <div style="text-align: center" ng-show="vm.users != null && vm.users.length < 1">Found no results matching {{vm.userName}}</div>

    <p ng-show="vm.users.length >= 100">Found over 100 matches. &nbsp;Specify a more specific search criteria to find more users.</p>

    <p hidden>This listing may not reflect the latest changes. &nbsp;Execute a new search to update.</p>

    <table class="DataGrid primary-table wide table-user-pipeline">
        <thead><tr class="GridHeader">
            <th></th>
            <th><a sort-header sort-key="LoginNm"       pvm="vm" active-class="text-bold">Login                </a></th>
            <th><a sort-header sort-key="UserName"      pvm="vm" active-class="text-bold">User Name            </a></th>
            <th><a sort-header sort-key="EmployeeRoles" pvm="vm" active-class="text-bold">Roles                </a></th>
            <th><a sort-header sort-key="Permissions"   pvm="vm" active-class="text-bold">Can Create New Loans?</a></th>
            <th><a sort-header sort-key="IsActive"      pvm="vm" active-class="text-bold">Status               </a></th>
        </tr></thead>
        <tbody><tr ng-repeat="user in vm.users | orderBy:vm.sortKey:vm.sortDesc track by user.UserId">
            <td><a ng-click="vm.editUser(user)"><i class="material-icons">&#xE254;</i></a></td>
            <td>{{user.LoginNm}}</td>
            <td>{{user.UserName}}</td>
            <td>{{user.EmployeeRoles}}</td>
            <td>{{user.Permissions}}</td>
            <td>{{user.IsActive ? "Active" : "Inactive"}}</td>
        </tr></tbody>
    </table>
</div>
