﻿<table class="InsetSpacer">
    <tr class="LoanFormHeader" ng-hide="datasource.length == 0">
        <td class="Center Bold">{{type}}</td>
        <td class="Center SelectAllColumn">
            <input id="{{type}}AllCurrentRadioButton" type="radio" name="{{type}}SelectAllButton" doesntDirty="true"
                   ng-click="selectAll(type, datasource, false);" />
            <label for="{{type}}AllCurrentRadioButton">Use All?</label>
        </td>
        <td>&nbsp;</td>
        <td><span class="LargeSpacer">&nbsp;</span></td>
        <td class="Center SelectAllColumn">
            <input id="{{type}}AllImportRadioButton" type="radio" name="{{type}}SelectAllButton" doesntDirty="true"
                   checked="checked" ng-click="selectAll(type, datasource, true);" />
            <label for="{{type}}AllImportRadioButton">Use All?</label>
        </td>
        <td>&nbsp;</td>
    </tr>

    <tr id="{{type}}Header" class="GridHeader Center" ng-hide="datasource.length == 0">
        <td>Field Description</td>
        <td>Use</td>
        <td>Current Value</td>
        <td><span class="LargeSpacer">&nbsp;</span></td>
        <td>Use</td>
        <td>Import Value</td>
    </tr>

    <tr id="{{type}}Row{{$index}}" ng-repeat="entry in datasource"
        class="{{getRowClassName($index, entry.Include, entry.CurrentValue, entry.ImportValue)}}">
        <td>
            <p class="FieldDescriptionFullWidth Center">{{entry.FieldDescription}}</p>
        </td>
        <td class="Center">
            <input type="radio" ng-model="entry.Include" ng-value="false"
                   ng-click="onIncludeChanged(false, type, $index, entry.CurrentValue, entry.ImportValue);" />
        </td>
        <td class="ExtraPadding">
            <input type="text" value="{{entry.CurrentValue}}" class="Center" readonly="readonly" />
        </td>
        <td><span class="LargeSpacer">&nbsp;</span></td>
        <td class="Center">
            <input type="radio" ng-model="entry.Include" ng-value="true"
                   ng-click="onIncludeChanged(true, type, $index, entry.CurrentValue, entry.ImportValue);" />
        </td>
        <td class="ExtraPadding">
            <input type="text" value="{{entry.ImportValue}}" class="Center" readonly="readonly" />
        </td>
    </tr>
</table>