﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ExternalDebugTool.aspx.cs" Inherits="LendersOfficeApp.newlos.Test.ExternalDebugTool" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
  <head id="Head1" runat="server">
    <title>EXTERNAL DEBUGGING TOOLS</title>
  </head>
  <body MS_POSITIONING="FlowLayout" class="RightBackground" >
    <script type="text/javascript" src="../../inc/ModelessDlg.js"> </script>
  
	<script type="text/javascript">
<!--
function f_viewPart(sResponseType, sPartName) {
  window.open('ExternalDebugTool.aspx?loanid=' + ML.sLId +'&type=' + sResponseType + '&name=' + sPartName);
}

        function FieldFinder() {
            /*window.parent.showModelessDialog(ML.VirtualRoot + '/newlos/test/fieldfinder.aspx?loanid=' + ML.sLId + '&appid=' + ML.aAppId, window.parent,
    "dialogWidth: 400px; dialogHeight: 550px; center: yes; resizable: yes; scroll: yes; status: yes; help: no;");//*/
            window.open('fieldfinder.aspx?loanid=' + ML.sLId + '&appid=' + ML.aAppId, "test",
            "width=440, height=550, center=yes, resizable=yes, scroll=yes, status=yes, help=no");//*/

        }
//-->
</script>
    <div class="MainRightHeader">EXTERNAL DEBUGGING TOOLS</div>
    <form id="ExternalDebugTool" method="post" runat="server">

    <ul>
      <li>Field finder</li>      <ul>        <li><a href="#" onclick="FieldFinder()">Field Finder</a></li>      </ul>
    </ul>
     </form>
	
  </body>
</html>
