﻿<%@ Page Language="C#" AutoEventWireup="false" CodeBehind="LogLastDisclosedDCalculationInfo.aspx.cs" Inherits="LendersOfficeApp.newlos.Test.LogLastDisclosedDCalculationInfo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Log sLastDisclosedD CalculationInfo</title>
</head>
<body bgcolor="gainsboro">
    <form id="form1" runat="server">
    <div>
    <ml:EncodedLabel runat="server" ID="Feedback"></ml:EncodedLabel>
    </div>
    </form>
</body>
</html>
