<?xml version="1.0" encoding="utf-8"?>
<appSettings>
	<!-- USE THIS SECTION TO OVERWRITE VALUES OF appSettings SECTION IN THE WEB.CONFIG FILE
	INSTRUCTIONS:
	1) Don't use this file directly; instead use Windows Explorer to copy this file as site.config.
	2) Add entry with the same key  to overwrite the key value, for example if I want ServerName in my local host to be something else, I would add this entry:
		<add key="ServerName" value="Localhost_LO_Thinh"/>, for this particular entry I already added this entry, so just replace "YourName" with your name.
	-->
		
	<!-- 
		<add key="AllowLpeReleaseSmokeTest" value="true"/>			
	-->
		
		
</appSettings>