<lq-modal ref="vm.setModal($ref)">
    <slot-heading>Transfer To:</slot-heading>
    <slot-body>
        <div ng-show="vm.loading">loading…</div>
        <div>
            <ul><li ng-repeat="investor in vm.investors track by status.value">
                <a ng-click="vm.select(investor)">
                    <span ng-bind="investor.Description"></span> - (<span ng-bind="investor.Code"></span>)
                </a>
            </li></ul>
        </div>
    </slot-body>
    <slot-footer>
        <div class="text-center">
            <button ng-click="vm.close()">Close</button>
        </div>
    </slot-footer>
</lq-modal>
