<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Loan Information</h5></div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Origination Branch</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.BranchNm"></lqb-input></div>
                </div>
                <div>
                    <div><label>Branch Code</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.BranchCode"></lqb-input></div>
                </div>
                <div>
                    <div><label>Alternate Lender</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sDocMagicAlternateLenderId"></lqb-input>
                        <a class="btn" id="sAlternateLenderBtn" ng-click="vm.onEditAddLender()">Edit/Add New</a>
                    </div>
                </div>
                <div ng-show="vm.isDocMagicEnabled">
                    <div><label>Transfer To</label></div>
                    <div>
                        <div lqb-load-fields="sDocMagicTransferToInvestorNm sDocMagicTransferToInvestorCode sDocMagicPlanCodeNm" hidden></div>
                        <span class="input-disabled">
                            <span ng-bind="vm.loan.fields.sDocMagicTransferToInvestorNm.v"></span>
                            (<span ng-bind="vm.loan.fields.sDocMagicTransferToInvestorCode.v"></span>)
                        </span>
                        <a class="btn btn-default" ng-click="vm.openTtpModal()">Select</a>
                    </div>
                </div>
                <div ng-show="vm.loan.fields.sBranchChannelT.v === vm.E_BranchChannelT.Correspondent">
                    <div><label>Correspondent Process Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCorrespondentProcessT" lqb-change="vm.on_sBranchChannelT_changed()"></lqb-input></div>
                </div>
                <div>
                    <div><span ng-bind="vm.loan.fields.sIsBranchActAsOriginatorForFileLabel.v"></span>
                        <div lqb-load-fields="sIsBranchActAsOriginatorForFileLabel" hidden></div>
                    </div>
                    <div>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="vm.E_TriState.Yes"   li-type="radio" label="Yes"></lqb-input>
                        </label>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="vm.E_TriState.No"    li-type="radio" label="No"></lqb-input>
                        </label>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsOriginatorForFileTri" ng-value="vm.E_TriState.Blank" li-type="radio" label="Not Sure"></lqb-input>
                        </label>
                    </div>
                </div>
                <div>
                    <div><span ng-bind="vm.loan.fields.sIsBranchActAsLenderForFileLabel.v"></span>
                        <div lqb-load-fields="sIsBranchActAsLenderForFileLabel" hidden></div>
                    </div>
                    <div>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="vm.E_TriState.Yes"   li-type="radio" label="Yes"></lqb-input>
                        </label>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="vm.E_TriState.No"    li-type="radio" label="No"></lqb-input>
                        </label>
                        <label>
                            <lqb-input lqb-model="vm.loan.fields.sIsBranchActAsLenderForFileTri" ng-value="vm.E_TriState.Blank" li-type="radio" label="Not Sure"></lqb-input>
                        </label>
                    </div>
                </div>
                <div>
                    <div><label>Channel</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBranchChannelT" lqb-change="vm.on_sBranchChannelT_changed()"></lqb-input></div>
                </div>
                <div>
                    <div><label>File Status</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sStatusT"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sStatusLckd"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Loan Status Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sStatusD" readonly></lqb-input></div>
                </div>
                <div lqb-load-fields="daySinceOpened">
                    <div><label>Number of days since opened</label></div>
                    <div>
                        <input type="text" readonly ng-model="vm.loan.fields.daySinceOpened.v" class="form-control"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Status Dates</h5></div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div></div>
                    <div><label>Date    </label></div>
                    <div></div>
                    <div><label>Time    </label></div>
                    <div><label>Comments</label></div>
                </div>
                <div>
                    <div>
                        <!-- TODO -->
                        <div lqb-load-fields="BrokerDB"></div>
                        <a ng-show="vm.loan.BrokerDB.HasLenderDefaultFeatures" ng-click="vm.goTo('brokerRatelock')" title="Go to Rate Lock page" tabindex="-1">Rate Lock</a>
                        <span ng-hide="vm.loan.BrokerDB.HasLenderDefaultFeatures">Rate Lock</span>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdN"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <a ng-show="vm.loan.BrokerDB.HasLenderDefaultFeatures" ng-click="vm.goTo('brokerRatelock')" title="Go to Rate Lock page" tabindex="-1">Rate Lock Expiration</a>
                        <span ng-hide="vm.loan.BrokerDB.HasLenderDefaultFeatures">Rate Lock Expiration</span>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredN"></lqb-input></div>
                </div>
                <div>
                    <div><label>Application Submitted</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppSubmittedDLckd"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>App Received by Lender</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderD" ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppReceivedByLenderDLckd"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>App Submitted to USDA</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAppSubmitedToUsdaD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                     <div>Intent to Proceed</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIntentToProceedD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIntentToProceedN"></lqb-input></div>
                </div>
                <div>
                    <div><label>Estimated Closing</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sEstCloseD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sEstCloseDLckd"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sEstCloseN"></lqb-input></div>
                </div>
                <div>&nbsp;</div>
                <div ng-hide="vm.hideRow.sLeadD">
                    <div>Lead New</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeadD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeadDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeadN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sOpenedD">
                    <div><label>Loan Open</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOpenedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOpenedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOpenedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPreQualD">
                    <div><label>Pre-qual</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreQualD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreQualDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreQualN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sSubmitD">
                    <div><label>Registered</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmitD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmitDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmitN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPreProcessingD">
                    <div><label>Pre-Processing</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreProcessingD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreProcessingDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreProcessingN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sProcessingD">
                    <div><label>Processing</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProcessingD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProcessingDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProcessingN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocumentCheckD">
                    <div><label>Document Check</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocumentCheckFailedD">
                    <div><label>Document Check Failed</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckFailedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckFailedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocumentCheckFailedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sLoanSubmittedD">
                    <div><label>Submitted</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLoanSubmittedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLoanSubmittedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLoanSubmittedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPreUnderwritingD">
                    <div><label>Pre-Underwriting</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreUnderwritingD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreUnderwritingDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreUnderwritingN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sUnderwritingD">
                    <div><label>In Underwriting</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUnderwritingD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUnderwritingDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUnderwritingN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPreApprovD">
                    <div><label>Pre-approved</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreApprovD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreApprovDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreApprovN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sApprovD">
                    <div><label>Approved</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprovD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprovDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprovN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sConditionReviewD">
                    <div><label>Condition Review</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConditionReviewD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConditionReviewDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConditionReviewN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sFinalUnderwritingD">
                    <div><label>Final Underwriting</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalUnderwritingD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalUnderwritingDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalUnderwritingN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPreDocQCD">
                    <div><label>Pre-Doc QC</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreDocQCD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreDocQCDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPreDocQCN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sClearToCloseD">
                    <div><label>Clear to Close</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToCloseD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToCloseDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToCloseN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocsOrderedD">
                    <div><label>Docs Ordered</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsOrderedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsOrderedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsOrderedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocsDrawnD">
                    <div><label>Docs Drawn</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsDrawnD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsDrawnDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsDrawnN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocsD">
                    <div><label>Docs Out</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sDocsBackD">
                    <div><label>Docs Back</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsBackD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsBackDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocsBackN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sFundingConditionsD">
                    <div><label>Funding Conditions</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundingConditionsD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundingConditionsDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundingConditionsN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sFundD">
                    <div><label>Funded</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFundN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sRecordedD">
                    <div><label>Recorded</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRecordedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRecordedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRecordedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sFinalDocsD">
                    <div><label>Final Docs</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalDocsD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalDocsDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalDocsN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sClosedD">
                    <div><label>Loan Closed</label></div>
                    <div re-ref="vm.set_sClosedD_wrapper($ref)">
                        <lqb-input lqb-model="vm.loan.fields.sClosedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClosedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClosedN"></lqb-input></div>
                    <p ng-show="vm.isFocus_sClosedD" class="text-danger">WARNING: Modifying the closed date could remove your permission to edit this loan.</p>
                </div>
                <div ng-hide="vm.hideRow.sSubmittedForPurchaseReviewD">
                    <div><label>Submitted for Purchase Review</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForPurchaseReviewD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForPurchaseReviewDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForPurchaseReviewN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sInPurchaseReviewD">
                    <div><label>In Purchase Review</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInPurchaseReviewD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInPurchaseReviewDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInPurchaseReviewN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPrePurchaseConditionsD">
                    <div><label>Pre-Purchase Conditions</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPrePurchaseConditionsD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPrePurchaseConditionsDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPrePurchaseConditionsN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sSubmittedForFinalPurchaseD">
                    <div><label>Submitted for Final Purchase Review</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForFinalPurchaseD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForFinalPurchaseDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubmittedForFinalPurchaseN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sInFinalPurchaseReviewD">
                    <div><label>In Final Purchase Review</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInFinalPurchaseReviewD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInFinalPurchaseReviewDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInFinalPurchaseReviewN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sClearToPurchaseD">
                    <div><label>Clear to Purchase</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToPurchaseD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToPurchaseDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sClearToPurchaseN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sPurchasedD">
                    <div><label>Loan Purchased</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchasedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchasedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchasedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sReadyForSaleD">
                    <div><label>Ready for Sale</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sReadyForSaleD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sReadyForSaleDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sReadyForSaleN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sShippedToInvestorD">
                    <div><label>Loan Shipped</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sShippedToInvestorD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sShippedToInvestorDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sShippedToInvestorN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sSuspendedByInvestorD">
                    <div><label>Investor Conditions</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedByInvestorD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedByInvestorDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedByInvestorN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sCondSentToInvestorD">
                    <div><label>Investor Conditions Sent</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCondSentToInvestorD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCondSentToInvestorDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCondSentToInvestorN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sAdditionalCondSentD">
                    <div><label>Additional Conditions Sent</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAdditionalCondSentD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div ng-hide="vm.hideRow.sLPurchaseD">
                    <div><label>Loan Sold</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLPurchaseD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLPurchaseDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLPurchasedN"></lqb-input></div>
                </div>
                <div>&nbsp;</div>
                <div ng-hide="vm.hideRow.sCounterOfferD">
                    <div><label>Counter Offer Approved</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCounterOfferD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCounterOfferDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCounterOfferN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sOnHoldD">
                    <div><label>Loan On-hold</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOnHoldD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOnHoldDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOnHoldN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sCanceledD">
                    <div><label>Loan Canceled</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCanceledD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCanceledDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCanceledN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sSuspendedD">
                    <div><label>Loan Suspended</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSuspendedN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sRejectD">
                    <div><label>Loan Denied</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sWithdrawnD">
                    <div><label>Loan Withdrawn</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sWithdrawnD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sWithdrawnDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sWithdrawnN"></lqb-input></div>
                </div>
                <div ng-hide="vm.hideRow.sArchivedD">
                    <div><label>Loan Archived</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sArchivedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sArchivedDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sArchivedN"></lqb-input></div>
                </div>
                <div>&nbsp;</div>
                <div>
                    <div><label>QC Completed Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQCCompDate"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQCCompDateTime" readonly></lqb-input></div>
                    <div></div>
                </div>
                <div>&nbsp;</div>
                <div>
                    <div><label>"Good-bye" Letter Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sGoodByLetterD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Servicing Start Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sServicingStartD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>&nbsp;</div>
                <div>
                    <div><label>Scheduled Funding</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSchedFundD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSchedFundDTime" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSchedFundN"></lqb-input></div>
                </div>
                <div>
                    <div><label>Lender Case Num</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLenderCaseNum"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLenderCaseNumLckd"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Agency Case Num</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAgencyCaseNum"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Case Assignment Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCaseAssignmentD"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>MERS MIN</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMersMin" readonly></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Custom Event Dates</h5></div>
        <div class="panel-body">
            <!-- require('../partials/customEvents.html') -->
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Disclosure/Document Dates</h5></div>
        <div class="panel-body">
            <div class="table">
                <!-- require('../partials/disclosureDocumentDates_1.html') -->
                <div>
                    <div><label>Document Expiration Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocExpirationD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDocExpirationDLckd"></lqb-input></div>
                </div>
                <!-- require('../partials/disclosureDocumentDates_2.html') -->
                <!-- require('../partials/disclosureDocumentDates_3.html') -->
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Purchase Contract Dates</h5></div>
        <div class="panel-body">
            <!-- require('../partials/purchaseContractDates.html') -->
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Other Document Dates</h5></div>
        <div class="panel-body">
            <div class="table">
                <!-- require('../partials/otherDocuments_1.html') -->
                <div>
                    <div><label>TIL Disclosure / GFE</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilGfeOd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilGfeDueD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilGfeDocumentD" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilGfeRd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTilGfeN"></lqb-input></div>
                </div>
                <!-- require('../partials/otherDocuments_2.html') -->
                <div>
                    <div class="final-hud"><label>Final HUD-1 Settlement Stmt</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtOrderedD"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtDocumentD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtReceivedD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFinalHUD1SttlmtStmtN"></lqb-input></div>
                </div>
                <!-- require('../partials/otherDocuments_3.html') -->
            </div>
            <div class="table">
                <div>
                    <div class="lead-source"><label>Lead Source</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeadSrcDesc"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Dates for Borrower</h5></div>
        <div class="panel-body">
            <!-- require('../partials/forBorrower.html') -->
            <div class="table">
                <div>
                    <div></div>
                    <div><label>Ordered</label></div>
                    <div><label>Deactivated</label></div>
                </div>
                <div>
                    <div class="udn">UDN</div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aUDNOrderedD"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aUDNDeactivatedD"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Dates for Co-Borrower</h5></div>
        <div class="panel-body">
            <!-- require('../partials/forCoBorrower.html') -->
        </div>
    </div>
</div>

<alternate-lender-modal ref="vm.alternateLenderModal = $ref" on-changed="vm.onAlternateLenderChanged()"></alternate-lender-modal>
<loan-status-list-modal
    open="vm.isShowLslModal"
    channel="vm.loan.fields.sBranchChannelT.v"
    process="vm.loan.fields.sCorrespondentProcessT.v"
    on-complete="vm.setStatus($status)"
    on-cancel="vm.cancelSetStatus()"
    ></loan-status-list-modal>
<transfer-to-picker-modal
    open="vm.isShowTtpModal"
    vendor-id="vm.loan.BrokerUser.documentVendorBrokerSettings.VendorId"
    code="vm.loan.fields.sDocMagicPlanCodeNm.v"
    on-complete="vm.setTransferTo($vendor)"
    on-cancel="vm.cancelSetTransferTo()"
    ></transfer-to-picker-modal>
