<div class="section">
	<div class="panel panel-default">
        <div class="panel-heading"><h5>Construction Draw Schedule</h5></div>
		<div class="panel-body">
            <div>
                <div class="hidden" lqb-load-fields="sDrawSchedules" hidden></div>

                <table ng-show="vm.loan.sDrawSchedules.data.length > 0">
                    <thead>
                        <th><lqb-input lqb-model="vm.selectAll"></lqb-input></th>
                        <th>Condition</th>
                        <th>Timing</th>
                        <th>Percent</th>
                        <th>Base</th>
                        <th>Fixed Amount</th>
                        <th>Total</th>
                    </th>
                    <tbody>
                        <tr ng-repeat="schedule in vm.loan.sDrawSchedules.data">
                            <td><lqb-input lqb-model="schedule.isSelected"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.Condition" rows="2"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.Timing"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.Percent"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.Basis"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.FixedAmount"></lqb-input></td>
                            <td><lqb-input lqb-model="schedule.Total"></lqb-input></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </br>
            </br>
            <div>
                <div class="text-left">
                    <button  type="button" ng-click="vm.addDraw()">Add new draw</button>
                    <button  type="button" ng-click="vm.removeSelectedDraws()" ng-disabled="!vm.isDeletable()">Delete selected draws</button>
                </div>
            </div>
        </div>
    </div>
</div>
