<style>
    .too-many-message {
        padding: 50px;
        font: 11px arial;
        color: tomato;
        text-align: justify
    }
</style>

<div>
    <form ng-submit="vm.search($event)"><div class="table">
        <div><div class="text-grey align-right">Search for:</div><div>
            <div class="table table-default table-font-default table-dialogs">
                <div>
                    <div><input type="text" ng-model="vm.searchFilter" class="search-filter" autofocus></div>
                    <div class="text-caption">("s" for John Smith or Sam Cash, "b s" for Bob Smith)</div>
                </div>
            </div>
        </div></div>
        <div><div class="text-grey align-right"><span ng-bind="vm.RoleDesc"></span> status:</div><div>
            <div class="table table-default table-font-default table-dialogs">
                <div>
                    <div><div ng-mdc-radio ng-model="vm.employeeStatus" ng-value="1" label="Active"    ></div></div>
                    <div><div ng-mdc-radio ng-model="vm.employeeStatus" ng-value="2" label="Inactive"  ></div></div>
                    <div><div ng-mdc-radio ng-model="vm.employeeStatus" ng-value="0" label="Any Status"></div></div>
                </div>
            </div>
        </div></div>
        <div><div></div><div>
            <button ng-click="vm.search($event)" type="submit" class="btn btn-default">Search <i class="material-icons">&#xE8B6;</i></button>
        </div></div>
    </div></form>
    <hr>
    <div ng-if="vm.OriginatingCompanyLimitation" class="text-danger">
        Only <span ng-bind="vm.OrigRoleDesc"></span> from the same company as the
        <span ng-bind="vm.OriginationCompanyLimitingRoleDesc"></span> may be assigned.
    </div>

    <table class="DataGrid modal-table-scrollbar"
        ng-if="vm.searchResults.length > 0"
        style="border-collapse: collapse;" border="1" rules="all" cellSpacing="0" cellPadding="2" width="100%">
        <thead>
            <tr class="GridHeader">
                <th style="text-align: left" ng-bind="vm.RoleDesc"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="role in vm.searchResults | orderBy:'FullNameWithIsActiveStatus' track by role.employeeId">
                <td>
                    <a ng-bind="role.FullNameWithIsActiveStatus" ng-click="vm.selectRole(role)"></a>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="false" class="too-many-message">
        Too many employees with this role. Please refine your search using the above filters.
        <div style="margin-top: 12px; width: 100%">
            We match against employee's full name, e.g. "Jo", will find all the employees with
            a first or last name that begins with "Jo". To search for employees by first *and*
            last name, use two patterns separated by a space. For example: use "bo sm" to return
            "Bob Smith", "Boaz Smalls", etc.
        </div>
    </div>
    <div ng-if="vm.searchResults.length < 1" class="no-pml-user">
        No PML users who match the specified criteria were found.
    </div>

    <div ng-if="vm.m_noLOAssignedWarning" class="warning">
        Warning: <span ng-bind="vm.LoDesc"></span> assignment is required in order to run PML.
    </div>
</div>
