<div class="section">
	<div class="panel panel-default">
		<div class="panel-body">
			<ul class="nav nav-tabs">
					<li><a ng-click="vm.goTo('loan1003page1')">Page 1</a></li>
					<li><a ng-click="vm.goTo('loan1003page2')">Page 2</a></li>
					<li><a ng-click="vm.goTo('loan1003page3')">Page 3</a></li>
					<li class="active"><a>Page 4</a></li>
				</ul>
			<div class="tab-content">
				<div class="panel panel-default">
	            	<div class="panel-body">
	            		<section><header class="title-sub-1003">Use this continuation sheet if you need more space to complete the Residential Loan Application.</header>
	            			<div class="table">
	            				<div>
	            					<div>Mark B for Borrower or C for Co-Borrower.</div>
	            				</div>
	            				<div>
	            					<div class="mark-b"><lqb-input lqb-model="vm.loan.app.fields.a1003ContEditSheet"></lqb-input></div>
	            				</div>
	            			</div>
						</section>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>