<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section><header class="title">Lender</header>
                <div class="table">
                    <!-- <uc:cfm id=CFM1 runat="server" ZipField="sAgentLenderZip" StateField="sAgentLenderState" CityField="sAgentLenderCity" StreetAddressField="sAgentLenderAddress" AgentNameField="sAgentLenderAgentName" Type="21" FaxField="sAgentLenderAgentFax" PhoneField="sAgentLenderAgentPhone" CompanyNameField="sAgentLenderCompanyName" name="CFM1"/> -->
                    <div>
                    <div></div>
                    <div>
                        <a class="contact-link">Pick from Contacts</a>
                        <a>Add to Contacts</a>
                    </div>
                </div>
                    <div><div><label>Name   </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].CompanyName"></lqb-input></div></div>
                    <div><div><label>Contact</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].AgentName"  ></lqb-input></div></div>
                    <div><div><label>Address</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].StreetAddr" placeholder="Street" ></lqb-input></div></div>
                    <div><div>       </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].City" class="form-control form-control-city" placeholder="City"></lqb-input>
                                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].State" placeholder="State"      ></lqb-input>
                                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].Zip" placeholder="ZIPCode"        ></lqb-input></div></div>
                    <div><div><label>Phone</label>  </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].Phone"      ></lqb-input>
                              <label>Fax  </label>             <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].FaxNum" class="form-control form-control-phone"></lqb-input></div></div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="flex space-bottom">
                <section><header class="title">Submitting Broker/Lender</header>
                    <div class="table">
                        <!-- <uc:cfm id=CFM2 runat="server" ZipField="brokerZipcode" StateField="brokerState" CityField="brokerCity" StreetAddressField="brokerAddress" AgentNameField="loanOfficerName" Type="26" FaxField="sSubmitBrokerFax" PhoneField="loanOfficerPhone" CompanyNameField="brokerCompanyName" name="CFM2"/> -->
                        <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                        <div><div><label>Name   </label>     </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].CompanyName"></lqb-input></div></div>
                        <div><div><label>Address</label>     </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].StreetAddr" placeholder="Street" ></lqb-input></div></div>
                        <div><div>            </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].City"       class="form-control form-control-city" placeholder="City"></lqb-input>
                                                         <lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].State" placeholder="State"      ></lqb-input>
                                                         <lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].Zip" placeholder="ZIPCode"        ></lqb-input></div></div>
                        <div><div><label>Loan Officer</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].AgentName"  class="form-control form-control-city" placeholder="City"></lqb-input></div></div>
                        <div><div><label>Agent Phone</label> </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].Phone"      ></lqb-input></div></div>
                        <div><div><label>Agent Fax  </label> </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.LoanOfficer[0].FaxNum"     class="form-control form-control-phone" ></lqb-input></div></div>
                        <div><div><label>Processor</label>   </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Processor[0].AgentName"    class="form-control form-control-phone" ></lqb-input></div></div>
                    </div>
                </section>
                <section><header class="title">Appraisal Company</header>
                    <div class="table">
                        <!-- <uc:cfm id=CFM3 runat="server"
                        DepartmentNameField="appraisalDepartmentName"
                        ZipField="appraisalZipcode"
                        StateField="appraisalState"
                        CityField="appraisalCity"
                        StreetAddressField="appraisalAddress"
                        AgentNameField="appraisalOfficer"
                        Type="1"
                        FaxField="appraisalFax"
                        PhoneField="appraisalPhone"
                        CompanyNameField="appraisalCompanyName"
                        name="CFM3"
                        AgentLicenseField="appraisalLicense"/> -->
                        <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                        <div><div><label>Name </label>    </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].CompanyName"                                              ></lqb-input></div></div>
                        <div><div><label>Address </label> </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].StreetAddr" placeholder="Street"                                               ></lqb-input></div></div>
                        <div><div>         </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].City" placeholder="City"              class="form-control form-control-city" ></lqb-input>
                                                      <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].State" placeholder="State"                                                    ></lqb-input>
                                                      <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].Zip" placeholder="ZIPCode"                                                      ></lqb-input></div></div>
                        <div><div><label>Phone</label>    </div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].Phone"                                                    ></lqb-input>
                                  <label>Fax  </label>               <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].FaxNum"            class="form-control form-control-phone"></lqb-input></div></div>
                        <div><div><label>Appraiser</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].AgentName"         class="form-control form-control-phone"></lqb-input></div>                        </div>
                        <div><div><label>License #</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].LicenseNumOfAgent" class="form-control form-control-phone"></lqb-input></div>                        </div>
                    </div>
                </section>
            </div>
            <div class="flex">
                <section><header class="title">Escrow Company</header>
                    <div class="table">
                        <!-- <uc:cfm id=CFM4 runat="server" ZipField="escrowZipcode" StateField="escrowState" CityField="escrowCity" StreetAddressField="escrowAddress" AgentNameField="escrowOfficer" Type="2" FaxField="escrowFax" PhoneField="escrowPhone" CompanyNameField="escrowCompanyName" name="CFM4"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label>    </div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label> </div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Escrow[0].City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].Phone"      ></lqb-input>
                                <label>Fax</label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Escrow[0].FaxNum"     ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Officer</label></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Escrow[0].AgentName"      ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Escrow #</label></div>
                            <div>
                                <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Escrow[0].CaseNum"     ></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table">
                        <div><div><label>Estimated Close of Escrow </label></div><div><lqb-input lqb-model="vm.loan.fields.sEstCloseD"    ></lqb-input>
                                                                       <lqb-input lqb-model="vm.loan.fields.sEstCloseDLckd"></lqb-input></div></div>
                    </div>
                </section>
                <section><header class="title">Title Company</header>
                    <div class="table">
                        <!-- <uc:cfm id=CFM5 runat="server" ZipField="titleZip" StateField="titleState" CityField="titleCity" StreetAddressField="titleAddress" AgentNameField="titleOfficer" Type="4" FaxField="titleFax" PhoneField="titlePhone" CompanyNameField="titleCompanyName" name="CFM5"/> -->
                        <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                        <div>
                            <div><label>Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Escrow[0].City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].Phone"      ></lqb-input>
                                <label>Fax</label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Escrow[0].FaxNum"     ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Officer</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Escrow[0].AgentName"        ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Title #</label></div>
                            <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Escrow[0].CaseNum"></lqb-input></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section><header class="title">Loan Summary and Terms</header>
                <div class="table space-bottom">
                    <div>
                        <div></div>
                        <div><label>First Name </label></div>
                        <div><label>Middle Name</label></div>
                        <div><label>Last Name  </label></div>
                        <div><label>Suffix     </label></div>
                        <div><label>SSN        </label></div>
                    </div>
                    <div>
                        <div><label>Borrower</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBFirstNm" maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBMidNm"   maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBLastNm"  maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBSuffix"  maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBSSN"                   ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Co-borrower</label></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCFirstNm" maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCMidNm"   maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCLastNm"  maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCSuffix"  maxlength="21"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCSSN"                   ></lqb-input></div>
                    </div>
                </div>

                <div><p><label>Property Address</label></p></div>
                <div class="table table-loan-summary-terms">
                    <div>
                        <div><label>Address</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"  maxlength="60"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"  ></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table table-loan-summary-terms">
                    <div>
                        <div><label>County      </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpCounty"       ></lqb-input></div>
                        <div><label>Census Tract</label></div><div><lqb-input lqb-model="vm.loan.fields.sHmdaCensusTract"></lqb-input></div>
                    </div>
                </div>
                <div class="table table-loan-summary-terms">
                    <div>
                        <div><label>Loan Program </label></div><div><lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sLpTemplateNm"    ></lqb-input></div>
                        <div><label>Program Code:</label></div><div><lqb-input class="form-control small-text" lqb-model="vm.loan.fields.sSubmitProgramCode"></lqb-input></div>
                    </div>
                </div>
                <div class="table table-loan-summary-terms">
                    <div>
                        <div><label>Property Type</label></div>
                        <div><a class="btn">Copy from Loan Info</a></div><div><lqb-input lqb-model="vm.loan.fields.sSubmitPropTDesc"></lqb-input></div>
                        <div><label>Num of Units</label></div><div><lqb-input lqb-model="vm.loan.fields.sUnitsNum"       ></lqb-input></div>
                        <div><label>Doc Type:   </label></div><div><lqb-input lqb-model="vm.loan.fields.sSubmitDocFull"  label="Full Doc"></lqb-input></div>
                                               <div><lqb-input lqb-model="vm.loan.fields.sSubmitDocOther" label="Other"></lqb-input></div>
                    </div>
                </div>
                <div class="table table-loan-summary-terms">
                    <div>
                        <div><label>Impounds</label></div>
                        <div><a class="btn">Copy from GFE</a></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundTaxes"  label="Taxes"  ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundHazard" label="Hazard" ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundMI"     label="MMI/PMI"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundFlood"  label="Flood"  ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundOther"  label="Other:" ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSubmitImpoundOtherDesc" ></lqb-input></div>
                    </div>
                </div>
                <div class="table table-loan-summary-terms space-bottom">
                    <div>
                        <div><label>Lien Position</label></div><div><lqb-input lqb-model="vm.loan.fields.sLienPosT" ></lqb-input></div>
                        <div><label>Loan Purpose </label></div><div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                        <div><label>Occupancy    </label></div><div><lqb-input lqb-model="vm.loan.app.fields.aOccT" ></lqb-input></div>
                    </div>
                </div>

                <div class="flex">
                    <section>
                        <div class="table table-loan-summary-terms">
                            <div>
                                <div><label>Type of Buydown</label></div>
                                <div><lqb-input lqb-model="vm.loan.fields.sSubmitBuydownDesc"     ></lqb-input></div>
                            </div>
                        </div>
                        <div class="table table-loan-summary-terms">
                            <div>
                                <div><label>Adj Period</label></div><div><lqb-input lqb-model="vm.loan.fields.sRAdjCapMon"            ></lqb-input> mths</div>
                                <div><label>Adj Cap   </label></div><div><lqb-input lqb-model="vm.loan.fields.sRAdjCapR"              ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Index  </label>   </div><div><lqb-input lqb-model="vm.loan.fields.sRAdjIndexR"            ></lqb-input></div>
                                <div><label>Pmt Cap</label>   </div><div><lqb-input lqb-model="vm.loan.fields.sSubmitInitPmtCapR"     ></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Margin  </label>  </div><div><lqb-input lqb-model="vm.loan.fields.sRAdjMarginR"           ></lqb-input></div>
                                <div><label>Life Cap</label>  </div><div><lqb-input lqb-model="vm.loan.fields.sRAdjLifeCapR"          ></lqb-input></div>
                            </div>
                        </div>
                        <div class="table table-loan-summary-terms">
                            <div>
                                <div><label>Other Desc.</label></div>
                                <div><lqb-input lqb-model="vm.loan.fields.sSubmitRAdjustOtherDesc"></lqb-input></div>
                            </div>
                        </div>
                        <div class="table table-loan-summary-terms">
                            <div>
                                <div><lqb-input lqb-model="vm.loan.fields.sRLckdIsLocked" ng-value="true" li-type="radio" label="Float"></lqb-input></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            <div>
                                <div><lqb-input lqb-model="vm.loan.fields.sRLckdIsLocked" ng-value="false" li-type="radio"></lqb-input>
                                    <label class="text-center-checkbox">
                                        <a ng-if="vm.loan.BrokerDB.HasLenderDefaultFeatures" title="Go to Rate Lock page">Locked On:</a>
                                        <span ng-if="!vm.loan.BrokerDB.HasLenderDefaultFeatures">Locked on:</span>
                                    </label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sRLckdD"></lqb-input>
                                </div>
                                <div>MI:</div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sSubmitMIYes" ng-value="true"  li-type="radio" label="Yes"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.fields.sSubmitMIYes" ng-value="false" li-type="radio" label="No "></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <a ng-if="vm.loan.BrokerDB.HasLenderDefaultFeatures" title="Go to Rate Lock page"># of days</a>
                                    <span ng-if="!vm.loan.BrokerDB.HasLenderDefaultFeatures"># of days</span>
                                </div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sRLckdNumOfDays"  ></lqb-input>
                                </div>
                                <div><label>Type</label></div>
                                <div><lqb-input lqb-model="vm.loan.fields.sSubmitMITypeDesc"></lqb-input></div>
                            </div>
                            <div>
                                <div><a ng-if="vm.loan.BrokerDB.HasLenderDefaultFeatures" title="Go to Rate Lock page">Expires</a>
                                     <span ng-if="!vm.loan.BrokerDB.HasLenderDefaultFeatures">Expires</span>
                                </div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD"></lqb-input>
                                </div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="table">
                            <div><div><label>Loan Amount      </label></div><div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"       readonly></lqb-input></div></div>
                            <div><div><label>Note Rate        </label></div><div><lqb-input lqb-model="vm.loan.fields.sNoteIR"                  ></lqb-input></div></div>
                            <div><div><label>Qual Rate        </label></div><div><lqb-input lqb-model="vm.loan.fields.sQualIR"                  ></lqb-input></div></div>
                            <div><div><label>Term / Due (mths)</label></div><div class="term-due">
                                                                  <lqb-input lqb-model="vm.loan.fields.sTerm"                    ></lqb-input> /
                                                                  <lqb-input lqb-model="vm.loan.fields.sDue"                     ></lqb-input></div></div>
                            <div><div><label>Amort. Desc.     </label></div><div><lqb-input lqb-model="vm.loan.fields.sSubmitAmortDesc"          class="form-control form-control-money"></lqb-input></div></div>
                            <div><div><label>Sales Price      </label></div><div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"      readonly></lqb-input></div></div>
                            <div><div><label>Appraisal        </label></div><div><lqb-input lqb-model="vm.loan.fields.sApprVal"         readonly></lqb-input></div></div>
                            <div><div><label>Down Payment     </label></div><div><lqb-input lqb-model="vm.loan.fields.sEquityCalc"      readonly></lqb-input></div></div>
                            <div><div><label>LTV              </label></div><div><lqb-input lqb-model="vm.loan.fields.sLtvR"            readonly></lqb-input></div></div>
                            <div><div><label>CLTV             </label></div><div><lqb-input lqb-model="vm.loan.fields.sCltvR"           readonly></lqb-input></div></div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section>
                <div class="table">
                    <div>
                        <div><label>Demand        </label></div>
                        <div>              </div>
                        <div><label>Lender        </label></div>
                        <div><label>Paid to Broker</label></div>
                        <div><label>Due to Broker </label></div>
                        <div>              </div>
                        <div><label>Borrower      </label></div>
                    </div>
                    <div><div><label>Loan Origination</label></div>
                        <div class="space-plus">
                            <lqb-input lqb-model="vm.loan.fields.sDemandLOrigFeeLenderPc"></lqb-input>+
                            <lqb-input lqb-model="vm.loan.fields.sDemandLOrigFeeLenderMb"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLOrigFeeLenderAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLOrigFeeBrokerAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLOrigF"                  readonly></lqb-input></div>
                    </div>
                    <div><div><label>Loan Discount</label></div>
                        <div class="space-plus">
                            <lqb-input lqb-model="vm.loan.fields.sDemandLDiscountLenderPc"></lqb-input>+
                            <lqb-input lqb-model="vm.loan.fields.sDemandLDiscountLenderMb"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLDiscountLenderAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLDiscountBrokerAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt"                  readonly></lqb-input></div>
                    </div>
                    <div><div><label>Yield Spread Prem.</label></div>
                        <div class="space-plus">
                            <lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumLenderPc"></lqb-input>+
                            <lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumLenderMb"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumLenderAmt"  readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumBrokerAmt"  readonly></lqb-input></div>
                        <div class="space-plus"><lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumBorrowerPc"></lqb-input>+
                        <lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumBorrowerMb"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandYieldSpreadPremiumBorrowerAmt" readonly></lqb-input></div>
                    </div>
                    <div><div><label>Appraisal Fee</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandApprFeeLenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandApprFeeBrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandApprFeeBrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sApprF"></lqb-input></div>
                    </div>
                    <div><div><label>Credit Report Fee</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeLenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeBrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeBrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sCrF"></lqb-input></div>
                    </div>
                    <div><div><label>Credit Report Fee</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeLenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeBrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandCreditReportFeeBrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sCrF"></lqb-input></div>
                    </div>
                    <div><div><label>Processing Fee</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandProcessingFeeLenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandProcessingFeeBrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandProcessingFeeBrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sProcF"></lqb-input></div>
                    </div>
                    <div><div><label>Loan Document</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLoanDocFeeLenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLoanDocFeeBrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLoanDocFeeBrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandLoanDocFeeBorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU1LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU1LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU1BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU1BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU1BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU2LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU2LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU2BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU2BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU2BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU3LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU3LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU3BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU3BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU3BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU4LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU4LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU4BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU4BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU4BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU5LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU5LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU5BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU5BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU5BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU6LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU6LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU6BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU6BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU6BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sDemandU7LenderDesc"           ></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU7LenderAmt"            ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU7BrokerPaidAmt"        ></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU7BrokerDueAmt" readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandU7BorrowerAmt"></lqb-input></div>
                    </div>
                    <div><div><label>Total</label></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandTotalLenderAmt"     readonly></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandTotalBrokerPaidAmt" readonly></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandTotalBrokerDueAmt"  readonly></lqb-input></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sDemandTotalBorrowerAmt"   readonly></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section><header class="title">Comments / Other Instructions</header>
                <div class="comment"><lqb-input lqb-model="vm.loan.fields.sDemandNotes" li-type="textarea"></lqb-input></div>
            </section>
        </div>
    </div>
</div>
<div lqb-load-fields="BrokerDB"></div>
