<div class="section">
	<div class="panel panel-default">
        <div class="panel-heading"><h5>Additional HELOC Data</h5></div>
		<div class="panel-body">
            <fieldset class="table additional-heloc-date-table">
                <div>
                    <div><label>Line Amount</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCreditLineAmt"></lqb-input></div>
                    <div><label>DPR Days/year</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDaysInYr"></lqb-input></div>
                    <div><label>Top</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQualTopR"></lqb-input></div>
                    <div><label>LTV</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLtvR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial Draw </label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input></div>
                    <div><label>Index</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRAdjIndexR"></lqb-input></div>
                    <div><label>Bottom</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQualBottomR"></lqb-input></div>
                    <div><label>CLTV</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCltvR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Draw / Repay (mths)</label></div>
                    <div></div>
                    <div class="draw-repay"><lqb-input lqb-model="vm.loan.fields.sHelocDraw"></lqb-input> / <lqb-input lqb-model="vm.loan.fields.sHelocRepay"></lqb-input></div>
                    <div><label>Margin</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRAdjMarginR"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div><label>HCLTV</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHcltvR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Term / Due (mths)</label></div>
                    <div></div>
                    <div class="term-due"><lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input> / <lqb-input lqb-model="vm.loan.fields.sDue"></lqb-input></div>
                    <div><label>Maximum Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRLifeCapR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial Rate</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input></div>
                    <div><label>Fully Indexed Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFullyIndexedR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Daily Periodic Rate</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDailyPeriodicR"></lqb-input></div>
                    <div><label>Fully Indexed DPR</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDailyPeriodicFullyIndexR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial Rate Term</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRAdj1stCapMon"></lqb-input> mths</div>
                    <div><label>Qual Rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sQualIR"></lqb-input></div>
                </div>
                <div>
                    <div><label>Initial Rate Type</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialRateT"></lqb-input></div>
                </div>
            </fieldset>

            <fieldset class="table additional-heloc-date-table">
                <div>
                    <div><label>Qualifying payment</label></div>
                    <div class="empty-checkbox"></div>
                    <div class="payment">
                        (
                        <lqb-input lqb-model="vm.loan.fields.sHelocQualPmtBaseT"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sHelocQualPmtBaseAmt"></lqb-input>
                        x
                        <lqb-input lqb-model="vm.loan.fields.sHelocQualPmtPcBaseT"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sHelocQualPmtPcBase"></lqb-input>
                        / 12 ) + 
                        <lqb-input lqb-model="vm.loan.fields.sHelocQualPmtMb"></lqb-input>
                        =
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProThisMQual"></lqb-input></div>
                </div>
                <div>
                    <div><label>Display payment</label></div>
                    <div class="empty-checkbox"></div>
                    <div class="payment">
                        (
                        <lqb-input lqb-model="vm.loan.fields.sHelocPmtBaseT"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sHelocPmtBaseAmt"></lqb-input>
                        x
                        <lqb-input lqb-model="vm.loan.fields.sHelocPmtPcBaseT"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sHelocPmtPcBase"></lqb-input>
                        / 12 ) + 
                        <lqb-input lqb-model="vm.loan.fields.sHelocPmtMb"></lqb-input>
                        =
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProThisMPmt"></lqb-input></div>
                </div>
            </fieldset>

        </div>
    </div>
</div>
<div class="section">
	<div class="panel panel-default">
        <div class="panel-heading"><h5>HELOC Terms, Conditions, and Fees</h5></div>
		<div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>HELOC Annual Fee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocAnnualFee"></lqb-input></div>
                    <div><label>HELOC Termination Fee Period</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocTerminationFeePeriod"></lqb-input> mths</div>
                </div>
                <div>
                    <div><label>HELOC Draw Fee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocDrawFee"></lqb-input></div>
                    <div><label>HELOC Termination Fee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocTerminationFee"></lqb-input></div>
                </div>
                <div>
                    <div><label>HELOC Minimum Advance Amt</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocMinimumAdvanceAmt"></lqb-input></div>
                    <div><label>HELOC Minimum Payment</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocMinimumPayment"></lqb-input></div>
                </div>
                <div>
                    <div><label>HELOC Returned Check Fee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocReturnedCheckFee"></lqb-input></div>
                    <div><label>HELOC Minimum Payment %</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocMinimumPaymentPc"></lqb-input></div>
                </div>
                <div>
                    <div><label>HELOC Stop Payment Fee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHelocStopPaymentFee"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="section">
	<div class="panel panel-default">
        <div class="panel-heading"><h4>First Lien Recording Information</h4></div>
		<div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>First Lien Trustee</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienTrusteeNm"></lqb-input></div>
                </div>
                <div>
                    <div><label>First Lien Holder</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienHolderNm"></lqb-input></div>
                </div>
                <div>
                    <div><label>First Lien Recording Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienRecordingD"></lqb-input></div>
                </div>
                <div>
                    <div><label>First Lien Recording Book #</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienRecordingBookNum"></lqb-input></div>
                    <div><label>Page #</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienRecordingPageNum"></lqb-input></div>
                    <div><label>Instrument #</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFirstLienRecordingInstrumentNum"></lqb-input></div>
                </div>
            </fieldset>           
        </div>
    </div>
</div>
