﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="AuditHistoryDetail.aspx.cs" Inherits="LendersOfficeApp.LOAdmin.Broker.AuditHistoryDetail" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<HTML>
  <HEAD>
    <title>AuditDetail</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="AuditDetail" method="post" runat="server">

     </form>
	
  </body>
</HTML>