<%@ Page language="C#" Codebehind="BrokerEmailList.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.LOAdmin.Broker.BrokerEmailList"
         MasterPageFile="~/LOAdmin/loadmin.Master" Title="Broker Email List - LendingQB" %>

<asp:Content ContentPlaceHolderID="Main" Runat="Server">
    <div id="container">
        <div class="container"><div class="alert alert-info" role="alert">Loading&hellip;</div></div>
    </div>

    <form method="post" runat="server"></form>
</asp:Content>
