<%@ Page language="C#" Codebehind="DeletedLoans.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.LOAdmin.Broker.DeletedLoans"
    MasterPageFile="~/LOAdmin/loadmin.Master" Title="Manage Deleted Loans - LendingQB" %>
<asp:Content ContentPlaceHolderID="Main" Runat="Server">
<div class="container-fluid" ng-app="app">
    <dl-manager></dl-manager>
</div>
<form runat="server"></form>
</asp:Content>
