﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EmployeeGroups.aspx.cs" Inherits="LendersOfficeApp.LOAdmin.Broker.EmployeeGroups" %>
<%@ Register TagPrefix="uc" TagName="EmployeeGroupsControl" Src="~/common/Workflow/EmployeeGroupsControl.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Employee Groups</title>    
</head>
<body>
    <script type="text/javascript">
        function _init() {
            if (typeof (_initControl) != "undefined") {
                _initControl();
            }
        }
    </script>
    <form id="form1" runat="server">    
        <uc:EmployeeGroupsControl id="employeeGroupsControl" runat="server" />
    </form>
</body>
</html>