<div class="section">
    <div class="panel panel-default panel-upfrontMipff-full">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Loan Type     </label></div><div><lqb-input lqb-model="vm.loan.fields.sLT"       ></lqb-input></div>
                    <div><label>Loan Amount      </label></div><div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc" ></lqb-input></div>
                    <div><label>Total Loan Amount</label></div><div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input></div>
                </div>
                </div>
        </div>
    </div>
</div>

<!-- require('./upfrontMipff.html') -->

<div lqb-load-fields="sClosingCostFeeVersionT sIsHousingExpenseMigrated"></div>
<div class="section" ng-if="vm.loan.fields.sClosingCostFeeVersionT.v != vm.E_sClosingCostFeeVersionT.Legacy && vm.loan.fields.sIsHousingExpenseMigrated.v">
    <div class="panel panel-default panel-upfrontMipff-full">
        <div class="panel-heading"><h5>Escrow/Impounds</h5></div>
        <div class="panel-body">
            <div class="table">
                <div><div><label>Escrowed</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMInsRsrvEscrowedTri"
                        li-type="checkbox" ng-true-value="vm.E_TriState.Yes" ng-false-value="vm.E_TriState.No"></lqb-input></div>
                </div>

                <div><div><label>Reserves cushion</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMICushion"></lqb-input> months</div>
                </div>

                <div><div><label>Reserves amount</label></div>
                    <div>for <lqb-input lqb-model="vm.loan.fields.sMInsRsrvMonLckd"></lqb-input></div>
                    <div class="annual-rate-for">
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrvMon"></lqb-input> months
                        <lqb-input lqb-model="vm.loan.fields.sMInsRsrv"></lqb-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading"><h5>Payment Schedule</h5></div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Payment repeats</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMIPaymentRepeat"></lqb-input></div>
                </div>
            </div>

            <div class="table">
                <div>
                    <div></div>
                    <div><label>Jan</label></div>
                    <div><label>Feb</label></div>
                    <div><label>Mar</label></div>
                    <div><label>Apr</label></div>
                    <div><label>May</label></div>
                    <div><label>Jun</label></div>
                    <div><label>Jul</label></div>
                    <div><label>Aug</label></div>
                    <div><label>Sep</label></div>
                    <div><label>Oct</label></div>
                    <div><label>Nov</label></div>
                    <div><label>Dec</label></div>
                </div>
                <div>
                    <div><label>Months</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIJan"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIFeb"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIMar"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIApr"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIMay"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIJun"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIJul"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIAug"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMISep"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIOct"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMINov"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInitialEscrowAccMIDec"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div lqb-load-fields="BrokerDB"></div>
