<div class="section">
    <div class="panel panel-default panel-upfrontMipff">
        <div class="panel-heading">
            <h5>Borrower Paid Upfront MIP/FF</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Total UFMIP / FF </label><lqb-input lqb-model="vm.loan.fields.sFfUfmipR" m-dec="6"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003"></lqb-input></div>
                </div>
                <div><div>
                        <lqb-input lqb-model="vm.loan.fields.sMipFrequency" ng-value="vm.E_MipFrequency.SinglePayment" li-type="radio" label="Single payment"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div class="annual-rate-for">
                        <lqb-input lqb-model="vm.loan.fields.sMipFrequency" ng-value="vm.E_MipFrequency.AnnualRateXMonths" li-type="radio" label="Annual rate for"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sMipPiaMon"></lqb-input> months
                    </div>
                </div>

                <div>
                    <div><label>Is UFMIP/FF being financed?</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfMipIsBeingFinanced" label="Yes"></lqb-input></div>
                </div>
                <div>
                    <div><label>UFMIP/FF financed amount</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced"></lqb-input></div>
                </div>
                <div><div><label>Paid In Cash</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUfCashPdLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUfCashPd"></lqb-input></div>
                </div>
                <div ng-if="vm.loan.BrokerDB.IsDisplayChoiceUfmipInLtvCalc">
                    <div><label>Include financed UFMIP when calculating LTV</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sIncludeUfmipInLtvCalc" label="Yes"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default panel-upfrontMipff">
        <div class="panel-heading">
            <h5>Borrower Paid MIP Renewal and Cancellation</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div><div><label>Term for initial rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsMon"></lqb-input></div>
                </div>
                <div><div><label>Term for renewal annual rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMIns2Mon"></lqb-input></div>
                </div>
                <div><div><label>Renewal annual premium rate</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsR2" m-dec="6"></lqb-input></div>
                </div>
                <div><div><label>Renewal monthly amount</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMIns2"></lqb-input></div>
                </div>
                <div><div><label>Cancel at LTV </label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsCancelLtv"></lqb-input></div>
                </div>
                <div><div><label>Cancel at midpoint</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsMidptCancel" label="Yes"></lqb-input></div>
                </div>
                <div><div><label>Minimum number of payments before cancellation</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsCancelMinPmts"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default panel-upfrontMipff">
        <div class="panel-heading"><h5>Borrower Paid Monthly MIP</h5></div>
        <div class="panel-body">
            <div class="table">
                <div><div><label>Annual premium rate</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsR" m-dec="6"></lqb-input></div>
                </div>
                <div><div>of <lqb-input lqb-model="vm.loan.fields.sProMInsT"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsBaseAmt"></lqb-input></div>
                </div>
                <div><div><label>Base monthly premium</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsBaseMonthlyPremium"></lqb-input></div>
                </div>
                <div><div><label>Monthly premium adjustment</label></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsMb"></lqb-input></div>
                </div>
                <div><div><label>Monthly premium</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMInsLckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProMIns"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-upfrontMipff">
        <div class="panel-heading"><h5>MI Policy</h5></div>
        <div class="panel-body">
            <div class="table">
                <div><div><label>Mortgage insurance type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiInsuranceT"></lqb-input></div>
                </div>
                <div><div><label>MI coverage %</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiLenderPaidCoverage" m-dec="4"></lqb-input></div>
                </div>
                <div><div><label>MI provider</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCompanyNmT"></lqb-input></div>
                </div>
                <div><div><label>MI commitment requested date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCommitmentRequestedD"></lqb-input></div>
                </div>
                <div><div><label>MI commitment received date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCommitmentReceivedD"></lqb-input></div>
                </div>
                <div><div><label>MI commitment expiration date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCommitmentExpirationD"></lqb-input></div>
                </div>
                <div><div><label>MI certificate ID</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sMiCertId"></lqb-input></div>
                </div>
                <div><div><label>UFMIP is refundable on a pro-rata basis</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUfmipIsRefundableOnProRataBasis" label="Yes"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default panel-upfrontMipff-full">
        <div class="panel-heading">
            <h5>Lender Paid Single Premium</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div>Single premium rate</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLenderUfmipR" m-dec="6"></lqb-input></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenderUfmipLckd"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLenderUfmip"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
