/*-------------------------------------------------------------------------------------------
[Master Stylesheet]

Project:		LendingQB Help Center
Last change:		April 2009
-------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------
[Layout]

Project:		LendingQB Help Center
Last change:		April 2009

[Table of Contents]

1. Body, Header / body, #header, p, ul li
2. Breadcrumbs / #breadcrumbs
3. Navigation Bar / #navbar
4. Steps / .steps, ol li
5. Content / #content, #tutorial #content
6. Figure and Captions / .figcaption, .figure
7. Notes / .note
8. Lists / .listheading, .lvl1list, .lvl2list
9. Tutorial Quick Navigation / #tutorialnav
10. Footer / #footer, #tutorial #footer 
11. Buttons / .button
12. Container / #container
13. Feedback link / #feedback
14. Tables / .table
15. Headings
16. Quotes / .quote
17. Top of Page Link / .gototop
18. HR
19. Table Sorter / .tablesorter
20. Simple Find / div.find
-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------
[1. Body, Header / body, #header, p, ul li]
*/
body,
  #header,
  #header img {
	margin: 0;
	padding: 0;
}

#header img.logo {
	margin: 0 -3px -3px 0;
}

html, body {
	height: 100%;
}

p, ul li {
	line-height: 16px;
}

/*-------------------------------------------------------------------------------------------
[2. Breadcrumbs / #breadcrumbs]
*/
#breadcrumbs {
	clear: left;
	margin: 0;
	padding: 4px 5px 2px 5px;
}

#breadcrumbs .arrow {
	line-height: 0; 
}

/*-------------------------------------------------------------------------------------------
[3. Navigation Bar / #navbar]
*/
#navbar {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#navbar li {
	display: inline;
	margin: 0;
	padding: 0;
}

#navbar a:link, #navbar a:visited {
	float: left;
	padding: 8px 16px 4px 8px;
	width: auto;
}

/*-------------------------------------------------------------------------------------------
[4. Steps / .steps, ol li]
*/
.step p, ol li {
	line-height:150%;
}

ol {
	margin-top: 0;
}

p + ol > li:first-child{
	padding-top: 0;
}

ol li {	
	padding: 5px 0 5px;
}

/*-------------------------------------------------------------------------------------------
[5. Content / #content]
*/
#content {
	padding: 0 5px 25px 5px; /*padding-bottom must match corresponding #footer margin-top*/
}

#tutorial #content{
	padding: 0 5px 51px 5px; /*padding-bottom must match corresponding #footer margin-top*/
}

/*-------------------------------------------------------------------------------------------
[6.  Figure and Captions / .figcaption, .figure]
*/
div.figure {
	text-align: center;
}

div.figure p {
	margin-bottom: 0;
	margin-top: 0;
    position: relative;
    top: -10px;
}

div.figure img {
	margin: 10px 0;
	padding: 5px;
}

/*-------------------------------------------------------------------------------------------
[7. Notes / .note]
*/
.note {
	padding: 5px 20px 5px 20px;
}

/*-------------------------------------------------------------------------------------------
[8. Lists / .listheading, .lvl1list, .lvl2list]
*/
ul li {
	padding:0 0 5px 0;
}

p + ul {
	margin-top: -.8333333em;
}

.listheading {
	margin:  5px 0px 0px 20px;
	padding: 0 2px;
}

p.listheading + * {
	margin-top: 2px;
}

ul.lvl1list {
	margin: 0 0px 30px 20px;
	padding: 2px;
}

ul.lvl1list  li {
	margin-top: 2px;
}

ul.lvl2list {
	margin: 5px 0 0 40px;
	padding: 0px 2px 0px 2px;
}

ul.lvl2list  li {
	margin-top: 3px;
}

/*-------------------------------------------------------------------------------------------
[9. Tutorial Quick Navigation / #tutorialnav]
*/
ul#tutorialnav {
	margin: 0;
	padding: 0;
	position: relative;
}

ul#tutorialnav .prev {
	float: left;
	padding: 5px;
	position: relative;
	width: auto;

}

ul#tutorialnav .next {
	float: right;
	padding: 5px;
	position: relative;
	width: auto;
}

/*-------------------------------------------------------------------------------------------
[10. Footer / #footer]
*/
#footer {
	margin-top: -25px; /*Must match corresponding #content padding-bottom*/
	padding: 0;
	position: relative;
	text-align: center;
}

#tutorial #footer {
	margin-top: -51px; /*Must match corresponding #content padding-bottom*/
	padding: 0;
	position: relative;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------
[11. Buttons / .button]
*/
.button {
	padding: 0.5px 4px;
}

/*-------------------------------------------------------------------------------------------
[12. container / #container]
*/
#container {
	min-height: 100%;
	position: relative;
}

/*-------------------------------------------------------------------------------------------
[13. Feedback link / #feedback]
*/
#feedback {
	clear: both;
	margin: 0;
	padding: 5px 0;
	width: 100%;
}

/*-------------------------------------------------------------------------------------------
[14. Tables / .table]
*/
table.table {
	margin: 0 auto;
}

table.table td {
	padding: 5px;
}

table.table thead tr.title td{
	text-align: center;
}

.center {
	text-align: center; /*Only works for IE*/
}

.tablecaption {
	padding-top: 0;
	margin-top:0;
	text-align: center;
}

/*-------------------------------------------------------------------------------------------
[15. Headings]
*/
h1,h2,h3,h4,h5 {
	margin-bottom: 0;
}

h1 + p, h1 + ol, h1 + ul,
h2 + p, h2 + ol, h2 + ul,
h3 + p, h3 + ol, h3 + ul,
h4 + p, h4 + ol, h4 + ul,
h5 + p, h5 + ol, h5 + ul {
	margin-top: 0;
}

h1 + p.note,
h2 + p.note,
h3 + p.note,
h4 + p.note,
h5 + p.note{
	margin-top: 8px;
}

h1+h2 {
	margin-top: 6px;
}

h2+h3 {
	margin-top: 4px;
}

h3+h4 {
	margin-top: 2px;
}

h4+h5 {
	margin-top: 0px;
}

/*-------------------------------------------------------------------------------------------
[16. Quotes / .quote]
*/
.quote {
	margin: 10px 25px;
	padding: 5px;
}

/*-------------------------------------------------------------------------------------------
[17.  Top of Page Link / .gototop]
*/
a.gototop, a:visited.gototop {
	float: right;
	width: 45px;
}

/*-------------------------------------------------------------------------------------------
[18. HR]
*/
hr {
	padding-left: 20px;
	padding-right: 20px;
}

/*-------------------------------------------------------------------------------------------
[19. Table Sorter / .tablesorter]
*/
table.tablesorter {
	margin:10px 0pt 15px;
	text-align: left;
	width: 100%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	padding: 4px;
}

table.tablesorter thead tr .header {
	background-position: center right;
}

table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}

/*-------------------------------------------------------------------------------------------
[19. Simple Find / div.find, #find-form, .find-success, .find-fail, #tooltip]
*/
div.find {
	float: right;
	position: relative;
	top: -13px;
	z-index: 2;
}

#find-form {
	margin:0;
}

.find-success {
	margin-right: 5px;
	padding: 3px;
}

.find-fail {
	margin-right: 5px;
	padding: 3px;
}

#tooltip {
	padding: 3px;
	position: absolute;
	width: 215px;
	z-index: 3000;
}

#tooltip h3, #tooltip div { 
	margin: 0; 
}

/*-------------------------------------------------------------------------------------------
[Appearance]

Project:		LendingQB Help Center
Last change:		April 2009

[Table of Contents]

1. Body / body, a
2. Header / #header
3. Breadcrumbs / #breadcrumbs
4. Navigation Bar / #navbar
5. Steps / .steps, ol li
6. Figure and Captions / .figref, .figlink, .figcaption, .figure
7. Notes / .note
8. Lists / .listheading, .lvl1list, .lvl2list
9. Tutorial Quick Navigation / #tutorialnav
10. Footer / #footer
11. Buttons / .button
12. Special Indicator / .special
13. Footnote / .footnote
14. Tables / .table
15. Feedback link / #feedback
16. Headings
17. Quotes / .quote
18. HR / <hr>
19. Top of page link / .gototop
20. Typed Text (Indicates text a user types) / .typedtext
21. Table Sorter / .tablesorter
22. Link (span)
23. Simple Find / #find-form, .find-success, .find-fail, .stringmatch, #tooltip

[Color codes]

Navbar text, Breadcrumbs text: 				#FFF (white)
Header, Navbar hover: 						#003063 (dark blue)
Navbar background: 						#1963A8 (lighter blue)
Tablesorter Table:							#4D96DB (lighter version of #1963A8 above)
Step hover:								#F6F6FF (super light blue)
H1:									#494F63 (blue)
H2, H3, H4:								#7F94B0 (blue)
Navbar current page:						#F5AC25 (orange)
Note:									#FFF6BF (light yellow)
Note borders: 							#FFD324 (darker yellow)
Top / Bottom Borders, Tables:					#CCC (light gray)
Buttons:								#F3F3EF (super light gray)
Row Heading (First column in every row):			#EDEDED (very light gray)
String Match							#FFFF66 (google yellow)
Find Success background					#CCFFCC (light green)
Find Success text/border					#006600 (green)
Find Fail background						#FFCCCC (light red)
Find Fail text/border						#FF3333 (red)
Tooltip Text							#CC8F00 (brown orange)
-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------
[1. Body / body, a]
*/
body { font: 12px Arial, Helvetica, sans-serif; }

a { font-weight: bold; }

/*-------------------------------------------------------------------------------------------
[2. Header / #header]
*/
#header {	background: #003063; }

/*-------------------------------------------------------------------------------------------
[3. Breadcrumbs / #breadcrumbs]
*/
#breadcrumbs {
	background: black;
	color: #FFF;
}

#breadcrumbs  a { color: #FFF; }

#breadcrumbs .arrow {
	color: orange;
	font-size: 20px;
}

/*-------------------------------------------------------------------------------------------
[4. Navigation Bar / #navbar]
*/
#navbar {
	background: #1963A8;
	border: 1px solid black;
	border-width: 1px 0;
}

#navbar li:first-child a {
	border-left: 1px solid black;
}

#navbar a:link, #navbar a:visited {
	background: #1963A8;
	border-right: 1px solid black;
	color: #FFF;
	font: bold 14px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#navbar a:hover {
	background: #003063;
	color: #FFF;
}

#navbar a:active {
	background: #F5AC25;
	color: #000;
}

.Main #nav-main a,
.User #nav-userguides a,
.Update #nav-updatehistory a,
.Tutorials #nav-tutorials a,
.Quick #nav-quickreference a,
.FAQ #nav-faq a,
.Troubleshooting #nav-troubleshooting a {
	background: #F5AC25;
	color: #000;
}

.Main #nav-main a:hover,
.User #nav-userguides a:hover,
.Update #nav-updatehistory a:hover,
.Tutorials #nav-tutorials a:hover,
.Quick #nav-quickreference a:hover,
.FAQ #nav-faq a:hover,
.Troubleshooting #nav-troubleshooting a:hover {
	background: #F5AC25;
}

/*-------------------------------------------------------------------------------------------
[5. Steps / .steps, ol li]
*/
div.step { border-top: 1px dotted #CCC; }

div.step:hover, ol li:hover { 
	background: #F6F6FF; 
}

ol li { border-bottom: 1px dotted #CCC; }

/*-------------------------------------------------------------------------------------------
[6. Figure and Captions / .figref, .figlink, .figcaption, .figure]
*/
.figref { 
	color: gray;
	font-size: 10px; 
}

.figref a:link , .figref a:visited {
	color: blue;
	text-decoration: none;
}

.figref a:hover { 
	color: blue; 
	border-bottom: 1px dotted;
}

div.figure p { 
	font-size: 11px; 
	font-weight: bold;
}

div.figure img {
	background: #FFF;
	border: 1px solid #CCC;
}

/*-------------------------------------------------------------------------------------------
[7. Notes / .note]
*/

.note {
	background: #FFF6BF;	
	border-bottom: 2px solid #FFD324;
	border-top: 2px solid #FFD324;
}

/*-------------------------------------------------------------------------------------------
[8. Lists / .listheading, .lvl1list, .lvl2list]
*/
.listheading {
	border-bottom: 2px solid #CCC;
	color: #000;
	font-weight: bold;
}

ul.lvl1list {
	border-bottom: 1px dotted #CCC;
	list-style-type: none;
}

ul.lvl2list { list-style-type: none; }

li.lastitem  {	
	border-bottom: none;
}

/*-------------------------------------------------------------------------------------------
[9. Tutorial Quick Navigation / #tutorialnav]
*/
ul#tutorialnav { list-style-type: none; }

ul#tutorialnav .prev  a {
	color: blue;
}

ul#tutorialnav .next a {
	color: blue;
}

/*-------------------------------------------------------------------------------------------
[10. Footer / #footer]
*/

#footer a:link, #footer a:visited{
	color: white;
}

/*-------------------------------------------------------------------------------------------
[11. Buttons / .button]
*/
.button {
	font-size: 10px;
	border: 1px solid gray;
	background: url(images/button_bg.png) repeat-x;
}

/*-------------------------------------------------------------------------------------------
[12. Special Indicator / .special]
*/
.special {
	color: red;
	font-weight: bold;
}

/*-------------------------------------------------------------------------------------------
[13. Footnote / .footnote]
*/
.footnote {
	color: blue;
	font-size: 9px;
	text-decoration: none;
	vertical-align: super;
}

.footnote:hover {
	border-bottom: 1px dotted;
}

/*-------------------------------------------------------------------------------------------
[14. Tables / .table]
*/
table.table {
	background: #CCC;
	font: 12px Arial, Helvetica, sans-serif;
}

table.table thead tr.title td{
	background: #003063;
	color: #FFF;
	font: bold 16px Arial, Helvetica, sans-serif;
}

table.table thead tr.colhead td {
	background: #1963A8;
	border: 1px solid #FFF;
	color: #FFF;
	font: bold 14px Arial, Helvetica, sans-serif;
}

table.table tbody tr.subsection td {
	background: #003063;
	border: 1px solid #FFF;
	color: #FFF;
	font: bold 12px Arial, Helvetica, sans-serif;
}

table.table tfoot tr.colfoot td{
	background: #EDEDED;
	font-weight: bold;
}

table.table img {
	border: none;
}

.normal {
	background: #FFF;
}

.tablecaption {
	font-size: 11px;
	font-weight: bold;
}

table.table colgroup col.rowhead {
	background: #EDEDED;
}
	
/*-------------------------------------------------------------------------------------------
[15. Feedback link / #feedback]
*/
#feedback {
	background: #003063;
}

/*-------------------------------------------------------------------------------------------
[16. Headings]
*/
h1{
	color: #494F63;
}

h2, h3, h4, h5, h6 {
	color: #7F94B0;
}

h1 {	font-size: 25px; }
h2 {	font-size: 20px; }
h3 {	font-size: 17px; }
h4 {	font-size: 14px; }
h5 {	font-size: 13px; }

/*-------------------------------------------------------------------------------------------
[17. Quotes / .quote]
*/
.quote {
	background: #F6F6FF;	
	border: 1px solid #CCC;
}

/*-------------------------------------------------------------------------------------------
[18. HR]
*/
hr {
	background-color: #494F63;
	border: none;
	height: 4px;
}

/*-------------------------------------------------------------------------------------------
[19.  Top of Page Link / .gototop]
*/
a.gototop, a:visited.gototop {
	background: url(images/gototop.png) no-repeat scroll right top;
	color: #FFF;
	text-decoration: none;
}

/*-------------------------------------------------------------------------------------------
[ 20. Typed Text (Indicates text a user types) / .typedtext] 
*/
.typedtext {
	font-family: 'Lucida Console', Monaco, monospace;
}

/*-------------------------------------------------------------------------------------------
[21. Table Sorter / .tablesorter]
*/
table.tablesorter {
	background-color: #CDCDCD;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #4D96DB;
	border: 1px solid #FFF;
	color: #FFF;
}

table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	cursor: pointer;
}

table.tablesorter tbody td {
	background-color: #FFF;
	color: #3D3D3D;
}

table.tablesorter tbody tr.odd td {
	background-color:#F6F6FF;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #1963A8;
	color: #FFF;
}

/*-------------------------------------------------------------------------------------------
[22. Link (span)]
*/
.link {
	cursor: pointer;
	color: blue;
	font-weight: bold;
	text-decoration: underline;
}

/*-------------------------------------------------------------------------------------------
[23. Simple Find / .find-success, .find-fail, .stringmatch, #tooltip]
*/

.find-success {
	background: #CCFFCC;
	color: #006600;
	font-style: italic;
	font-weight: bold;
}

.find-fail {
	background: #FFCCCC;
	color: #FF3333;
	font-style: italic;
	font-weight: bold;
}

.stringmatch {
	background-color: #FFFF66;
	color: #000;
}

#tooltip {
	background-color: #FFF6BF;
	border: 1px solid #FFD324;
	color: #CC8F00;
	font-weight: bold;
}