<employee-role>
    <lq-modal ref="vm.employeeRole.setERModal($ref)" on-hide="vm.employeeRole.onERModalHide($event)">
        <slot-heading ng-bind="vm.employeeRole.DialogTitle()"></slot-heading>
        <slot-body>
            <div>
                <div class="table wide">
                    <div>
                        <div><label>Search for:</label></div>
                        <div class="table">
                            <div>
                                <div>
                                    <input type="text" class="form-control" ng-model="vm.employeeRole.SearchFilter"><br/>
                                </div>
                                <div>
                                    <span class="text-muted"><small ng-bind="vm.employeeRole.HelpText()"></small></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div><label ng-bind="vm.employeeRole.EmployeeStatusLabel()"></label></div>
                        <div>
                            <label>
                                <label ng-class="vm.employeeRole.status==1 ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.employeeRole.status = 1">
                                    <span class="material-icons">
                                        <!-- require('../../../../images/Prototype/radio-button.svg') -->
                                    </span>
                                    <span>Active</span>
                                </label>
                            </label>
                            <label><label ng-class="vm.employeeRole.status==2 ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.employeeRole.status = 2">
                                <span class="material-icons">
                                    <!-- require('../../../../images/Prototype/radio-button.svg') -->
                                </span>
                                <span>Inactive</span>
                                </label>
                            </label>
                            <label><label ng-class="vm.employeeRole.status==0 ? 'radio-btn checked' : 'radio-btn'" ng-click="vm.employeeRole.status = 0">
                                <span class="material-icons">
                                    <!-- require('../../../../images/Prototype/radio-button.svg') -->
                                </span>
                                <span>Any status</span>
                                </label>
                            </label>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div><span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.employeeRole.search()">Search</button></span></div>
                    </div>
                    <div ng-show="vm.employeeRole.IsDisplayCopyToOfficialContact()">
                        <div></div>
                        <div>
                            <label>
                                <label ng-class="(vm.employeeRole.copyToOfficialContactEnabledCheckbox && vm.employeeRole.copyToOfficialContactState) ? 'checkbox checked' : (vm.employeeRole.copyToOfficialContactEnabledCheckbox && !vm.employeeRole.copyToOfficialContactState) ? 'checkbox' : (!vm.employeeRole.copyToOfficialContactEnabledCheckbox && vm.employeeRole.copyToOfficialContactState) ? 'checkbox checked disabled' : 'checkbox disabled'" ng-click="vm.employeeRole.copyToOfficialContactClick()">
                                <span class="material-icons"><!-- require('../../../../images/Prototype/checkbox.svg') --></span>
                                <span>Copy user info to Official Contact List and appropriate forms</span>
                                </label>
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <p ng-show="vm.employeeRole.OrigRoleDesc != null && vm.employeeRole.OriginationCompanyLimitingRoleDesc != null" class="text-danger">Only 
                    <span ng-bind="vm.employeeRole.OrigRoleDesc"></span> from the same company as the <span ng-bind="vm.employeeRole.OriginationCompanyLimitingRoleDesc"></span> may be assigned.
                </p>
                <table ng-show="vm.employeeRole.employeeAssignment != null && vm.employeeRole.employeeAssignment.length != 0" class="secondary-table">
                        <thead class="header nowrap">
                            <th>
                                <a ng-click="vm.employeeRole.sortRegulars('EmployeeAssignment','FullName')">
                                    <span ng-bind="vm.employeeRole.firstHeader()"></span>
                                    <span ng-show="vm.employeeRole.sortTable == 'EmployeeAssignment' && vm.employeeRole.sortKey == 'FullName'" class="material-icons" ng-bind="vm.employeeRole.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                                </a>
                            </th>
                            <th ng-show="vm.employeeRole.isShowUserType()">User Type</th>
                            <th ng-show="vm.employeeRole.isShowBranch()">
                                <a ng-click="vm.employeeRole.sortRegulars('EmployeeAssignment','BranchNm')"><span>Branch</span>
                                    <span ng-show="vm.employeeRole.sortTable == 'EmployeeAssignment' && vm.employeeRole.sortKey == 'BranchNm'" class="material-icons" ng-bind="vm.employeeRole.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                                </a>
                            </th>
                            <th ng-show="vm.employeeRole.isShowPmlColumn()">
                                <a ng-click="vm.employeeRole.sortRegulars('EmployeeAssignment','CompanyName')">
                                    <span ng-bind="vm.employeeRole.pmlHeader()"></span>
                                    <span ng-show="vm.employeeRole.sortTable == 'EmployeeAssignment' && vm.employeeRole.sortKey == 'CompanyName'" class="material-icons" ng-bind="vm.employeeRole.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                                </a>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employeeAssignment in vm.employeeRole.employeeAssignment track by $index">
                                <td><a ng-bind="employeeAssignment.FullNameWithIsActiveStatus" ng-click="vm.employeeRole.assignEmployee($index)" class='cursor'></a></td>
                                <td ng-show="vm.employeeRole.isShowUserType()" ng-bind="vm.employeeRole.GetPmlLabel($index)"></td>
                                <td ng-show="vm.employeeRole.isShowBranch()" ng-bind="vm.employeeRole.GetBranchNm($index)"></td>
                                <td ng-show="vm.employeeRole.isShowPmlColumn()" ng-bind="employeeAssignment.CompanyName"></td>
                            </tr>
                        </tbody>
                </table>

                <table ng-show="vm.employeeRole.supervisorGrid != null && vm.employeeRole.supervisorGrid.length != 0" class="secondary-table"></table>
                <table ng-show="vm.employeeRole.companyGrid != null && vm.employeeRole.companyGrid.length != 0" class="secondary-table"></table>

                <p class="text-danger" ng-show="vm.employeeRole.HasManyUser" ng-bind-html="vm.employeeRole.ManyUserMessage()"></p>
                <p class="text-danger" ng-show="vm.employeeRole.IsEmpty" ng-bind-html="vm.employeeRole.EmptyMessage()"></p>

                
                <div class="wrap-button text-center ">
                    <span ng-hide="vm.employeeRole.ShowMode == 'Search'"><button type="button" class="btn btn-default" ng-click="vm.employeeRole.clear()">Clear assignment</button></span>
                    <span><button type="button" class="btn btn-default" ng-click="vm.employeeRole.cancel()">Cancel</button></span>
                </div>
            </div>
        </slot-body>
        <slot-footer></slot-footer>
    </lq-modal>
</employee-role>
