<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>I. Request</h5>
        </div>
        <div class="panel-body">
            <section class="flex">
                <section><header class="title">Appraiser</header>
                    <div class="table">
                        <!-- <UC:CFM Name="CFM1" runat="server" Type="1" AgentNameField="appraiserName" PhoneField="appraiserPhone"
                                FaxField="appraiserFax" CellPhoneField="appraiserCell" EmailField="appraiserEmail"
                                CompanyNameField="appraiserCompany" StreetAddressField="appraiserAddress" CityField="appraiserCity"
                                StateField="appraiserState" ZipField="appraiserZipcode" ID="CFM1"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].Phone"      ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Appraiser[0].FaxNum"     ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Appraiser[0].EmailAddr" ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Appraiser[0].City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Appraiser[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>

                <section><header class="title">From</header>
                    <div class="table">
                        <!-- <UC:CFM Name="CFM2" runat="server" Type="22" AgentNameField="RequestOfAppraisalPreparerName"
                                AgentTitleField="RequestOfAppraisalTitle" PhoneField="RequestOfAppraisalPhone"
                                FaxField="RequestOfAppraisalFaxNum" EmailField="RequestOfAppraisalEmailAddr"
                                CompanyNameField="RequestOfAppraisalCompanyName" StreetAddressField="RequestOfAppraisalStreetAddr"
                                CityField="RequestOfAppraisalCity" StateField="RequestOfAppraisalState" ZipField="RequestOfAppraisalZip"
                                ID="CFM2"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Attn </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfAppraisal.PreparerName" ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Title</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfAppraisal.Title"        ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.Phone"        ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.RequestOfAppraisal.FaxNum"       ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfAppraisal.EmailAddr"     ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.CompanyName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.StreetAddr" placeholder="Street"   ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfAppraisal.City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.State" placeholder="State"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.Zip" placeholder="ZIPCode"         ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Date        </label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfAppraisal.PrepareDate"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Lender's Number</label></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenderCaseNum"></lqb-input>
                                <lqb-input lqb-model="vm.loan.fields.sLenderCaseNumLckd"                     ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <section class="names-of-borrowers">
                <div class="table table-request">
                    <div>
                        <div><a title="Go to borrower's info">Names of Borrowers(s)</a></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBNm_aCNm" readonly             ></lqb-input></div>
                    </div>
                    <div>
                        <div><a title="Go to borrower's info">Present Address      </a></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBAddr" placeholder="Street"    readonly             ></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.app.fields.aBCity" placeholder="City"    readonly             ></lqb-input>
                           <lqb-input lqb-model="vm.loan.app.fields.aBState" placeholder="State"   readonly             ></lqb-input>
                           <lqb-input lqb-model="vm.loan.app.fields.aBZip" placeholder="ZIPCode"     readonly             ></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sIsPrintBorrPhoneOnRequestForAppraisal" label="Show borrower's phone number(s) and email on print-out"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table table-request">
                    <div>
                        <div></div>
                        <div>
                            <a title="Go to borrower's info">Home </a><lqb-input lqb-model="vm.loan.app.fields.aBHPhone"    readonly></lqb-input>
                            <a title="Go to borrower's info">Cell </a><lqb-input lqb-model="vm.loan.app.fields.aBCellPhone" readonly></lqb-input>
                            <a title="Go to borrower's info">Email</a><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.app.fields.aBEmail"     readonly></lqb-input>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>II. Property and Mortgage Information</h5>
        </div>
        <div class="panel-body">
            <section class="property-mortgage-information">
                <div class="table">
                    <div>
                        <div><label>Property Type   </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpT"      ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Occupancy Status</label></div><div><lqb-input lqb-model="vm.loan.app.fields.aOccT" ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Type of Loan    </label></div><div><lqb-input lqb-model="vm.loan.fields.sLT"       ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Lien Position   </label></div><div><lqb-input lqb-model="vm.loan.fields.sLienPosT" ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Loan Purpose    </label></div><div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Number of Units </label></div><div><lqb-input lqb-model="vm.loan.fields.sUnitsNum" ></lqb-input></div>
                    </div>
                </div>
                <div><p><label>Property Address</label></p></div>
                <div class="table">
                    <div>
                        <div class="address"><label>Address    </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"     maxlength="60"></lqb-input></div>
                        <div                ><label>Sales Price</label></div><div><lqb-input lqb-model="vm.loan.fields.sPurchPrice" ></lqb-input></div>
                        <div></div>
                    </div>
                    <div>
                        <div></div><div>               <lqb-input lqb-model="vm.loan.fields.sSpCity"  class="form-control form-control-city" placeholder="City"></lqb-input>
                                                       <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State" ></lqb-input>
                                                       <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"   ></lqb-input>                        </div>
                        <div><label>Estimated Value</label></div><div><lqb-input lqb-model="vm.loan.fields.sApprVal" ></lqb-input></div>
                        <div>                          <lqb-input lqb-model="vm.loan.fields.sIsDisplayLAmtApprValInRequestAppr" label="Display value on form"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>County     </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpCounty"          ></lqb-input></div>
                        <div><label>Loan Amount</label></div><div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt" readonly></lqb-input></div>
                        <div></div>
                    </div>
                </div>
                <div class="table wide">
                    <div>
                        <div><label>Legal Description</label></div>
                        </div><div><div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"></lqb-input></div>
                    </div>
                </div>
            </section>

            <section class="flex shadow">
                <section><header class="title">Escrow Company</header>
                    <!-- <UC:CFM Name="CFM3" runat="server" Type="2" AgentNameField="escrowName" CompanyNameField="escrowCompany"
                                PhoneField="escrowPhone" FaxField="escrowFax" CellPhoneField="escrowCell" EmailField="escrowEmail"
                                ID="CFM3"/> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Number </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].CaseNum"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Officer</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].Phone"      ></lqb-input>
                                <label> Fax               </label> <lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].FaxNum" class="form-control form-control-phone"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Escrow[0].EmailAddr"   ></lqb-input></div>
                        </div>
                    </div>
                </section>
                <section><header class="title">Title Company</header>
                    <!-- <UC:CFM Name="CFM4" runat="server" Type="4" AgentNameField="titleName" CompanyNameField="titleCompany"
                                PhoneField="titlePhone" FaxField="titleFax" CellPhoneField="titleCell" EmailField="titleEmail"
                                ID="CFM4"/> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Number </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CaseNum"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Officer</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].Phone"      ></lqb-input>
                                <label> Fax</label> <lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].FaxNum" class="form-control form-control-phone"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.Title[0].EmailAddr"   ></lqb-input></div>
                        </div>
                    </div>
                </section>
            </section>

            <section class="flex shadow">
                <section><header class="title">Listing Agent</header>
                    <!-- <UC:CFM Name="CFM5" runat="server" Type="6" AgentNameField="listingName" CompanyNameField="listingCompany"
                                    PhoneField="listingPhone" FaxField="listingFax" CellPhoneField="listingCell"
                                    EmailField="listingEmail" ID="CFM5"/> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Number </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].CaseNum"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Officer</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>  
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].Phone"      ></lqb-input>
                                <label> Fax    </label>           <lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].FaxNum" class="form-control form-control-phone"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.ListingAgent[0].EmailAddr"   ></lqb-input></div>
                        </div>
                    </div>
                </section>

                <section><header class="title">Selling Agent</header>
                    <!-- <UC:CFM Name="CFM6" runat="server" Type="7" AgentNameField="sellingName" CompanyNameField="sellingCompany"
                                    PhoneField="sellingPhone" FaxField="sellingFax" CellPhoneField="sellingCell"
                                    EmailField="sellingEmail" ID="CFM6"/> -->
                    <div class="table">
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Number </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].CaseNum"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Officer</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].Phone"      ></lqb-input>
                                 <label> Fax    </label> <lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].FaxNum" class="form-control form-control-phone"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div><div><lqb-input lqb-model="vm.loan.sAgentOfRole.SellingAgent[0].EmailAddr"   ></lqb-input></div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>III Appraisal Infomation</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div class="due-date"><label>Due Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprRprtDueD"></lqb-input></div>
                    <div><span title="(if not same as borrower)">Contact for entry: </span></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprContactForEntry" maxlength="30"></lqb-input></div>
                </div>
            </div>

            <hr/>
            <div class="table">
                <div>
                    <div><label>Type of Appraisal:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprFull"               label="Fulls"                ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprDriveBy"            label="Drive Bys"            ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprMarketRentAnalysis" label="Market Rent Analysiss"></lqb-input></div>
                </div>
            </div>

            <hr/>
            <section class="flex">
                <div class="wrap-radio-buttons"><header class="title">Fannie Mae</header>
                    <div class="flex">
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie216"   li-type="radio" label="216"  ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1004"  li-type="radio" label="1004" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1004C" li-type="radio" label="1004C"></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1004D" li-type="radio" label="1004D"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1007"  li-type="radio" label="1007" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1025"  li-type="radio" label="1025" ></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1073"  li-type="radio" label="1073" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie1075"  li-type="radio" label="1075" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2000"  li-type="radio" label="2000" ></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2000A" li-type="radio" label="2000A"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2055"  li-type="radio" label="2055" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2065"  li-type="radio" label="2065" ></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2075"  li-type="radio" label="2075" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2090"  li-type="radio" label="2090" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Fannie2095"  li-type="radio" label="2095" ></lqb-input></div>
                        </div>
                    </div>
                </div>

                <div class="wrap-radio-buttons"><header class="title">Freddie Mac</header>
                    <div class="flex">
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie70"   li-type="radio" label="70"  ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie70B"  li-type="radio" label="70B" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie72"   li-type="radio" label="72"  ></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie442"  li-type="radio" label="442" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie465"  li-type="radio" label="465" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie466"  li-type="radio" label="466" ></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie998"  li-type="radio" label="998" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie1032" li-type="radio" label="1032"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie1072" li-type="radio" label="1072"></lqb-input></div>
                        </div>
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie2055" li-type="radio" label="2055"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Freddie2070" li-type="radio" label="2070"></lqb-input></div>
                        </div>
                    </div>
                </div>

                <div class="wrap-radio-buttons"><header class="title">VA</header>
                    <div class="flex">
                        <div class="flex-vertical">
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.VA26_1805"   li-type="radio" label="26-1805"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.VA26_8712"   li-type="radio" label="26-8712"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="table">
                <div>
                    <lqb-input lqb-model="vm.loan.fields.sGseRequestAppraisalT" ng-value="vm.E_GseRequestAppraisal.Other" li-type="radio" label="Other"></lqb-input>
                    <lqb-input class="form-control medium-text" lqb-model="vm.loan.fields.sGseRequestAppraisalOther"></lqb-input>
                </div>
            </div>

            <hr/>
            <div class="table">
                <div>
                    <div><label>Payment Method</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprPmtMethodT"   ></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sApprPmtMethodDesc"></lqb-input></div>
                </div>
            </div>

            <hr/>
            <div class="table wide">
                <div>
                    <div><label>Comments</label></div></div><div><div><lqb-input lqb-model="vm.loan.fields.sApprInfo" li-type="textarea"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
