<div class="section"><div class="panel panel-default"><div class="panel-body">
    <p class="title-instruction">If you answer "Yes" to any questions a through i, please use continuation sheet for explanation.</p>
    <fieldset class="table declaration-table">
        <div>
            <div><div lqb-load-fields="aBNm aCNm" hidden></div></div>
            <div class="line"><span ng-bind="vm.loan.app.fields.aBNm.v || 'Borrower'   "></span></div>
            <div class="line"><span ng-bind="vm.loan.app.fields.aCNm.v || 'Co-borrower'"></span></div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div>Yes</div>
                        <div>No</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div>Yes</div>
                        <div>No</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>a.</div>
                        <div>Are there any outstanding judgments against you?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecJudgment" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecJudgment" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecJudgment" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecJudgment" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>b.</div>
                        <div>Have you been declared bankrupt within the past 7 years?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBankrupt" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBankrupt" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBankrupt" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBankrupt" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>c.</div>
                        <div>Have you had property foreclosed upon or given title or deed in lieu thereof in the last 7 years?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecForeclosure" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecForeclosure" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecForeclosure" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecForeclosure" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>d.</div>
                        <div>Are you a party to a lawsuit?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecLawsuit" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecLawsuit" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecLawsuit" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecLawsuit" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>e.</div>
                        <div>Have you directly or indirectly been obligated on any loan which resulted in foreclosure, transfer of title in lieu of foreclosure, or judgment? (This would include such loans as home mortgage loans, SBA loans, home improvement loans, educational loans, manufactured (mobile) home loans, any mortgage, financial obligation, bond, or loan guarantee.&nbsp; If "Yes", provide details, including if any, and reasons for the action.)</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecObligated" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecObligated" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecObligated" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecObligated" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>f.</div>
                        <div>Are you presently delinquent or in default on any Federal debt or any other loan, mortgage, financial obligation bond, or loan guarantee? If "Yes", give details as described in the preceding question.</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecDelinquent" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecDelinquent" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecDelinquent" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecDelinquent" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>g.</div>
                        <div>Are you obligated to pay alimony, child support, or separate maintenance?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecAlimony" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecAlimony" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecAlimony" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecAlimony" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line dotted-line">
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>h.</div>
                        <div>Is any part of the down payment borrowed?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBorrowing" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecBorrowing" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBorrowing" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecBorrowing" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>i.</div>
                        <div>Are you a co-maker or endorser on a note?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecEndorser" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecEndorser" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecEndorser" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecEndorser" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>j.</div>
                        <div>Are you a U.S. citizen?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecCitizen" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecCitizen" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecCitizen" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecCitizen" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>k.</div>
                        <div>Are you a permanent resident alien?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecResidency" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecResidency" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecResidency" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecResidency" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>l.</div>
                        <div>Do you intend to occupy the property as your primary residence? If "Yes", complete question m below</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecOcc" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecOcc" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecOcc" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecOcc" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table declaration-table">
                    <div>
                        <div>m.</div>
                        <div>Have you had an ownership interest in a property in the last three years?</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnership" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnership" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
            <div>
                <div class="table checkbox-table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnership" ng-value="'Y'" li-type="radio2"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnership" ng-value="'N'" li-type="radio2"></lqb-input></div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div class="table white-spacing-table">
                    <div>
                        <div></div>
                        <div>(1) Type of property: (Principal Residence, Second Home, Investment Property)</div>
                    </div>
                </div>
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnedPropT"></lqb-input>
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnedPropT"></lqb-input>
            </div>
        </div>
        <div>
            <div>
                <div class="table white-spacing-table">
                    <div>
                        <div></div>
                        <div>(2) Title held: (Solely by Yourself, Jointly with Spouse, Jointly with Another Person)</div>
                    </div>
                </div>
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.app.fields.aBDecPastOwnedPropTitleT"></lqb-input>
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.app.fields.aCDecPastOwnedPropTitleT"></lqb-input>
            </div>
        </div>
    </fieldset>
</div></div></div>
