<table class="DataGrid LoanGrid">
    <thead>
        <tr class="GridHeader SortLinks">
            <th class="edit-icon">&nbsp;</th>
            <th class="loan-number"><a sort-header sort-key="sLNm"                      pvm="vm" active-class="text-bold" class="stacked-sort-link">Loan Number</a></th>
            <th class="conditions" ><a sort-header sort-key="sNumOfActiveConditionOnly" pvm="vm" active-class="text-bold" class="stacked-sort-link">Conditions</a></th>
            <th ng-if="vm.isUseTasksInTpoPortal" class="tasks">
                                    <a sort-header sort-key="sNumOfActiveTasksOnly"     pvm="vm" active-class="text-bold" class="stacked-sort-link">Tasks</a></th>
            <th class="name stacked-sort-cell">
                <div class="max-height-container name stacked-sort-link-parent">
                    <div><a sort-header sort-key="aBLastNm"  pvm="vm" active-class="text-bold" class="stacked-sort-link">Last Name</a>,</div>
                    <div><a sort-header sort-key="aBFirstNm" pvm="vm" active-class="text-bold" class="stacked-sort-link">First Name</a></div>
                </div>
            </th>
            <th class="loan-amount"><a sort-header sort-key="sLAmtCalc" pvm="vm" active-class="text-bold" class="stacked-sort-link">Loan Amt</a></th>
            <th hidden><a>Subject Property Address</a></th>
            <th class="loan-status stacked-sort-cell">
                <div class="max-height-container stacked-sort-link-parent" style="font-weight: bold;">
                    <div>
                        <a sort-header sort-key="LoanStatus" pvm="vm" active-class="text-bold" class="stacked-sort-link">
                            <span ng-if="!vm.isLeadPipeline">Loan Status</span>
                            <span ng-if="vm.isLeadPipeline">Lead Status</span>
                        </a> /
                    </div>
                    <div><a sort-header sort-key="sStatusD" pvm="vm" active-class="text-bold" class="stacked-sort-link">Status Date</a></div>
                </div>
            </th>
            <th class="lock-status stacked-sort-cell" ng-if="!vm.isLeadPipeline">
                <div class="max-height-container stacked-sort-link-parent">
                    <div><a sort-header sort-key="sRateLockStatusT" pvm="vm" active-class="text-bold" class="stacked-sort-link">Lock Status</a> /</div>
                    <div><a sort-header sort-key="sRLckdExpiredD"   pvm="vm" active-class="text-bold" class="stacked-sort-link">Lock Exp. Date</a></div>
                </div>
            </th>
            <th class="assigned-agents stacked-sort-cell">
                <div class="max-height-container stacked-sort-link-parent" ng-if="vm.portalMode == vm.E_PortalMode.Broker">
                    <div><a sort-header sort-key="sEmployeeLoanRepName"         pvm="vm" active-class="text-bold" class="stacked-sort-link">Loan Officer</a> /</div>
                    <div><a sort-header sort-key="sEmployeeBrokerProcessorName" pvm="vm" active-class="text-bold" class="stacked-sort-link">Processor</a></div>
                </div>

                <div class="max-height-container stacked-sort-link-parent" ng-if="vm.portalMode == vm.E_PortalMode.Retail">
                    <div><a sort-header sort-key="sEmployeeLoanRepName"         pvm="vm" active-class="text-bold" class="stacked-sort-link">Loan Officer</a> /</div>
                    <div><a sort-header sort-key="sEmployeeProcessorName"       pvm="vm" active-class="text-bold" class="stacked-sort-link">Processor</a></div>
                </div>

                <div class="max-height-container stacked-sort-link-parent"
                     ng-if="vm.portalMode != vm.E_PortalMode.Broker && vm.portalMode != vm.E_PortalMode.Retail">
                    <div><a sort-header sort-key="sEmployeeExternalSecondaryName"  pvm="vm" active-class="text-bold" class="stacked-sort-link">Secondary</a> /</div>
                    <div><a sort-header sort-key="sEmployeeExternalPostCloserName" pvm="vm" active-class="text-bold" class="stacked-sort-link">Post-Closer</a></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="loan in vm.loans | orderBy:vm.sortKey:vm.sortDesc track by loan.sLId" class="GridItem HoverHighlight">
            <td class="edit-icon"><a ng-click="vm.toggleOptions(loan)"><i class="material-icons">&#xE254;</i></a></td>
            <td class="loan-number"><a ng-href="{{vm.getLoanEditorUrl(loan)}}" ng-bind="loan.sLNm"></a></td>
            <td class="conditions">
                <a ng-href="{{vm.getConditionsListUrl(loan)}}"
                    ng-class="{'text-danger': ((loan.sNumOfActiveDueTodayConditionOnly + loan.sNumOfActivePastDueConditionOnly) > 0)}">
                    <span ng-bind="loan.sNumOfActiveConditionOnly"></span>
                    Condition<span ng-show="loan.sNumOfActiveConditionOnly > 1">s</span>
                </a></td>
            <td ng-if="vm.isUseTasksInTpoPortal" class="tasks">
                <a ng-href="{{vm.getTasksListUrl(loan)}}"
                    ng-class="{'text-danger': ((loan.sNumOfActiveDueTodayTasksOnly + loan.sNumOfActivePastDueTasksOnly) > 0)}">
                    <span ng-bind="loan.sNumOfActiveTasksOnly"></span>
                    Task<span ng-show="loan.sNumOfActiveTasksOnly > 1">s</span>
                </a></td>
            <td class="name">
                <div><span ng-bind="loan.aBLastNm"></span>,</div>
                <div ng-bind="loan.aBFirstNm"></div>
            </td>
            <td class="loan-amount" ng-bind="loan.sLAmtCalc | currency:'$':0"></td>
            <td hidden ng-bind="loan.sSpAddr"></td>
            <td class="loan-status">
                <div ng-bind="loan.LoanStatus"></div>
                <div ng-bind="loan.sStatusD |date:'M/d/yyyy'"></div>
                <a ng-click="vm.viewSuspenseNotice(loan)"
                    ng-if="loan.sStatusT == vm.E_sStatusT.Loan_Suspended &&
                           loan.sSuspenseNoticePdfLastSavedD != null"
                    >view suspense notice</a>

                <a ng-click="vm.viewApprovalCert(loan)"
                    ng-if="(!(vm.m_isDuplicateResult && (loan.InScope==0))) &&
                        loan.IsStatusTApprovedNotCanceled && loan.sApprovalCertPdfLastSavedD != null">view approval cert.</a>
            </td>
            <td class="lock-status" ng-if="!vm.isLeadPipeline">
                <div ng-bind="loan.sRateLockStatusT_rep"></div>
                <div ng-bind="loan.sRLckdExpiredD |date:'M/d/yyyy'"></div>
                <a ng-click="vm.viewLockConf(loan)"
                    ng-if="loan.sRateLockStatusT == vm.E_sRateLockStatusT.Locked &&
                           loan.sRateLockConfirmationPdfLastSavedD != null"
                    >view confirmation</a>
            </td>
            <td class="assigned-agent">
                <div ng-if="vm.portalMode == vm.E_PortalMode.Retail">
                    <div class="d-flex" ng-hide="!loan.sEmployeeLoanRepName        "><div class="column-header-contains-w">LO</div><div ng-bind="loan.sEmployeeLoanRepName        "></div></div>
                    <div class="d-flex" ng-hide="!loan.sEmployeeProcessorName      "><div class="column-header-contains-w">P </div><div ng-bind="loan.sEmployeeProcessorName      "></div></div>
                </div>

                <div ng-if="vm.portalMode == vm.E_PortalMode.Broker">
                    <div class="d-flex" ng-hide="!loan.sEmployeeLoanRepName        "><div class="column-header-contains-w">LO</div><div ng-bind="loan.sEmployeeLoanRepName        "></div></div>
                    <div class="d-flex" ng-hide="!loan.sEmployeeBrokerProcessorName"><div class="column-header-contains-w">P </div><div ng-bind="loan.sEmployeeBrokerProcessorName"></div></div>
                </div>

                <div ng-if="vm.portalMode != vm.E_PortalMode.Broker && vm.portalMode != vm.E_PortalMode.Retail">
                    <div class="d-flex" ng-hide="!loan.sEmployeeExternalSecondaryName "><div class="column-header-contains-w">S </div><div ng-bind="loan.sEmployeeExternalSecondaryName "></div></div>
                    <div class="d-flex" ng-hide="!loan.sEmployeeExternalPostCloserName"><div class="column-header-contains-w">PC</div><div ng-bind="loan.sEmployeeExternalPostCloserName"></div></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
