<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table table-property-info">
                <div><div>Address</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" class="form-control form-control-sSpAddr" placeholder="Street"></lqb-input></div>
                </div>
                <div><div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>County</div>
                    <div>
                                   <lqb-input lqb-model="vm.loan.fields.sSpCounty" ></lqb-input>
                        No Units   <lqb-input lqb-model="vm.loan.fields.sUnitsNum" ></lqb-input>
                        Year built <lqb-input class="form-control form-control-year-built" lqb-model="vm.loan.fields.sYrBuilt"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Legal Description</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"></lqb-input></div>
                </div>
                <div><div><label>Mineral Rights / Short Legal Description</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubjPropertyMineralAbbrLegalDesc"></lqb-input></div>
                </div>
                <div><div><label>Project Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProjNm"></lqb-input></div>
                </div>
                <div><div><label>NFIP Flood Zone</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNfipFloodZoneId"></lqb-input></div>
                </div>
                <div><div><label>Assessors Parcel ID</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAssessorsParcelId"></lqb-input></div>
                </div>
                <div><div>Multiple Parcels</div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sHasMultipleParcels"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        Building is in Special Flood Hazard Area (Zones containing letters "A" or "V")
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sFloodCertificationIsInSpecialArea"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>