﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DumpRequest.aspx.cs" Inherits="LendersOfficeApp.LOAdmin.Test.DumpRequest" %>
<%@ Import Namespace="LendersOffice.AntiXss" %>

<%=AspxTools.HtmlString(this.DumpPath)%>
