<div class="section">
    <div class="panel panel-default">
        <div><!-- ng-show="[vm.E_sLPurposeT.Construct, vm.E_sLPurposeT.ConstructPerm].includes(vm.loan.fields.sLPurposeT.v)" -->
            <div class="panel-heading">
                <h5>Complete if Construction or Construction-Permanent Loan</h5>
            </div>
            <div class="panel-body">
                <div class="table refiConstructionLoan-table">
                    <div><div><label>Year Lot Acquired</label></div><div><lqb-input lqb-model="vm.loan.fields.sLotAcqYr" class="form-control form-control-year"></lqb-input></div></div>
                    <div><div><label>Original Cost    </label></div><div><lqb-input lqb-model="vm.loan.fields.sLotOrigC"></lqb-input></div></div>
                    <div><div><label>Existing Liens   </label></div><div><lqb-input lqb-model="vm.loan.fields.sLotLien"></lqb-input></div></div>
                    <div><div><label>(a) Lot Value    </label></div><div><lqb-input lqb-model="vm.loan.fields.sLotVal"></lqb-input></div></div>
                    <div><div><label>(b) Improvements </label></div><div><lqb-input lqb-model="vm.loan.fields.sLotImprovC"></lqb-input></div></div>
                    <div><div><label>Total (a + b)    </label></div><div><lqb-input lqb-model="vm.loan.fields.sLotWImprovTot"></lqb-input></div></div>
                </div>
            </div>
        </div>    
    </div>
    <div class="col-xs-8"></div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Complete if Refinance Loan</h5>
        </div>
        <div><!-- ng-should-show="[vm.E_sLPurposeT.Refin, vm.E_sLPurposeT.RefinCashout].includes(vm.loan.fields.sLPurposeT.v)" -->
            <div class="panel-body">
                <div class="table refiConstructionLoan-table">
                    <div><div><label>Year Acquired          </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpAcqYr" class="form-control form-control-year"></lqb-input></div></div>
                    <div><div><label>Original Cost          </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpOrigC"></lqb-input></div></div>
                    <div><div><label>Existing Liens         </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpLien"></lqb-input></div></div>
                    <div><div><label>Purpose of Refinance   </label></div><div><lqb-input lqb-model="vm.loan.fields.sRefPurpose"></lqb-input></div></div>
                    <div>
                        <div><label>Describe Improvements  </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpImprovDesc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpImprovTimeFrameT"></lqb-input></div>
                    </div>
                    <div><div><label>Cost                   </label></div><div><lqb-input lqb-model="vm.loan.fields.sSpImprovC"></lqb-input></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8"></div>
</div>