<div class="section">
    <div class="panel panel-default panel-otherfinancing">
        <div class="panel-heading">
            <h5>Linked Subfinancing Loan</h5>
        </div>
        <div class="panel-body">
            <div ng-bind="vm.showCreditLineLabel(vm.loan.fields.sIsOFinCreditLineInDrawPeriod.v)" ng-hide="true"></div>
            <fieldset class="table">
                <div>
                    <div><label>Loan Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLinkedLoanName"></lqb-input></div>
                    <div ng-hide="!vm.showLinkedButtons()">
                        <button type="button" class="btn btn-default" ng-disabled="!vm.hasLinkedLoan()" ng-click="vm.f_goToLinkLoan()">Go to</button>
                        <button type="button" class="btn btn-default" ng-disabled="!vm.hasLinkedLoan()" ng-click="vm.f_updateLinkLoan()">Update</button>
                        <button type="button" class="btn btn-default" ng-disabled="!vm.hasLinkedLoan()" ng-click="vm.f_unlinkLoan()">Permanently unlink</button>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section" ng-show="!vm.isFirstLien()">
    <div class="panel panel-default panel-otherfinancing">
        <div class="panel-heading">
            <h5>Additional 1st Lien</h5>
        </div>
        <div class="panel-body">
            <div>
                <lqb-input lqb-model="vm.loan.fields.sIsOFinNew" label="Additional financing is a new loan."></lqb-input> 
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sLpIsNegAmortOtherLien" label="Additional financing has potential negative amortization."></lqb-input> 
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sIsIOnlyForSubFin" label="Interest only loan"></lqb-input> 
            </div>
            <fieldset class="table">
                <div>
                    <div><label>Amortization Method</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOtherLFinMethT"></lqb-input></div>
                </div>
            </fieldset>
            <fieldset class="table">
                <div>
                    <div><label>Original Balance</label></div>
                    <div><label>Current Balance</label></div>
                    <div><label>Monthly Payment</label></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.s1stMtgOrigLAmt"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRemain1stMBal"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRemain1stMPmt"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section" ng-show="vm.isFirstLien()">
    <div class="panel panel-default panel-otherfinancing">
        <div class="panel-heading">
            <h5>Additional 2nd Lien</h5>
        </div>
        <div class="panel-body">
            <div>
                <lqb-input lqb-model="vm.loan.fields.sIsOFinNew" label="Additional financing is a new loan."></lqb-input> 
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sIsOFinCreditLineInDrawPeriod" onchange="vm.showCreditLineLabel(vm.loan.fields.sIsOFinCreditLineInDrawPeriod.v)" label="Additional financing is a line of credit in the draw period."></lqb-input> 
            </div>
            <div>
                <lqb-input lqb-model="vm.loan.fields.sIsIOnlyForSubFin" label="Interest only loan"></lqb-input>
            </div>

            <fieldset class="table">
                <div>
                    <div><label>Amortization Method</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOtherLFinMethT"></lqb-input></div>
                </div>
            </fieldset>
            <fieldset class="table table-otherfinancing">
                <div>
                    <div><label id="sSubFinLabel"></label></div>
                    <div><label>Current Balance</label></div>
                    <div><label>Rate</label></div>
                    <div><label>Term (months)</label></div>
                    <div></div>
                    <div><label>Payment Base</label></div>
                    <div></div>
                    <div><label>Monthly Payment</label></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubFin"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sConcurSubFin"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubFinIR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubFinTerm" class="form-control form-control-term"></lqb-input></div>
                    <div>+</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSubFinMb"></lqb-input></div>
                    <div>=</div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sSubFinPmt"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sSubFinPmtLckd"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section" ng-show="vm.isShowLayerFinancing()">
    <div class="panel panel-default panel-otherfinancing">
        <div class="panel-heading">
            <h5>Layered Financing</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Total Forgivable Balance</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLayeredTotalForgivableBalance"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div lqb-load-fields="sLinkedLoanInfo sLId sLPurposeT BrokerDB sLienPosT"></div>
