<ul class="nav-pills-router">
    <li ng-class="{active:('brokerInfo.companyInfo'     | isState)}"><a ng-click="vm.goTo('brokerInfo.companyInfo'    )">Company Info    </a></li>
    <li ng-class="{active:('brokerInfo.options'         | isState)}"><a ng-click="vm.goTo('brokerInfo.options'        )">Options         </a></li>
    <li ng-class="{active:('brokerInfo.creditReport'    | isState)}"><a ng-click="vm.goTo('brokerInfo.creditReport'   )">Credit Reports  </a></li>
    <li ng-class="{active:('brokerInfo.loanNaming'      | isState)}"><a ng-click="vm.goTo('brokerInfo.loanNaming'     )">Loan Naming     </a></li>
    <li ng-class="{active:('brokerInfo.passwordOptions' | isState)}"><a ng-click="vm.goTo('brokerInfo.passwordOptions')">Password Options</a></li>
    <li ng-class="{active:('brokerInfo.legalAddress'    | isState)}"><a ng-click="vm.goTo('brokerInfo.legalAddress'   )">Legal Addresses </a></li>
    <li ng-class="{active:('brokerInfo.companyLicenses' | isState)}"><a ng-click="vm.goTo('brokerInfo.companyLicenses')">Company Licenses</a></li>
    <li ng-class="{active:('brokerInfo.lockPolicies'    | isState)}"><a ng-click="vm.goTo('brokerInfo.lockPolicies'   )">Lock Policies   </a></li>
    <li ng-class="{active:('brokerInfo.ipRestrictions'  | isState)}"><a ng-click="vm.goTo('brokerInfo.ipRestrictions' )">IP Restriction  </a></li>
</ul>

<div ui-view></div>
