<%@ Page language="c#" Codebehind="LoanProductExport.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.los.Template.LoanProductExport" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
<HEAD>
	<TITLE>LoanProductExport
	</TITLE>
</HEAD>
<BODY MS_POSITIONING="FlowLayout" onload="onClosePopup();">
	<h4 class="page-header">Export</h4>
	<FORM id="LoanProductExport" method="post" runat="server">
		<DIV style="WIDTH: 100%; HEIGHT: 100px; COLOR: red; FONT: 12px arial; BORDER: 2px groove; BACKGROUND-COLOR: whitesmoke; PADDING: 16px; MARGIN: 4px; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center;">
			Failed to export.
		</DIV>
		<INPUT type="button" value="Close" onclick="onClosePopup();">
	</FORM>
</BODY>
</HTML>
