<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>I. Recipient/Lender</h5>
        </div>
        <div class="panel-body">
            <div><p><lqb-input lqb-model="vm.loan.fields.sTax1098IsCorrected" label="Is corrected"></lqb-input></p></div>
            <div class="table">
                <div>
                     <div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.IsLocked" ng-value="false" li-type="radio" label="Populate from Official Contact"></lqb-input></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.AgentRoleT"></lqb-input></div>
                    </div>
                </div>
                <div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.IsLocked" ng-value="true" li-type="radio" label="Set Manually"></lqb-input></div>
                    </div>
                    <div>
                        <div ng-show="vm.loan.preparerFields.Tax1098.IsLocked.v">
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                        <div ng-hide="vm.loan.preparerFields.Tax1098.IsLocked.v">
                            <label class="text-muted contact-link">Pick from Contacts</label>
                            <label class="text-muted">Add to Contacts</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table">
                <div>
                    <div><label>Prepared By</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.CompanyName"></lqb-input></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.StreetAddr" placeholder="Street"></lqb-input></div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.Tax1098.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.Tax1098.State" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.Tax1098.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Phone</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.Tax1098.Phone"></lqb-input></div>
                </div>
                <div>
                    <div><label>Federal Tax ID</label></div>
                    <div><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.Tax1098.TaxId"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>II. Payer/Borrower</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sTax1098PayerName"></lqb-input></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTax1098PayerAddr" placeholder="Street"></lqb-input></div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sTax1098PayerCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sTax1098PayerState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sTax1098PayerZip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>SSN</label></div>
                    <div><lqb-input class="form-control form-control-ssn" lqb-model="vm.loan.fields.sTax1098PayerSsn"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>III. Form Details</h5>
        </div>
        <div class="panel-body">
            <div class="table table-form-details">
                <div>
                    <div><label>Account Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTax1098AccountNum"></lqb-input></div>
                </div>
            </div>
            <div class="flex flex-list">
                <section class="space">
                    <div class="table table-form-details">
                        <div>
                            <div class="counter-form-details"><label>Interest</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098Interest"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label ng-bind="vm.OutstandingPrincipalLabel()"></label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098OutstandingPrincipal"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Origination Date</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098OriginationDate"></lqb-input><lqb-input lqb-model="vm.loan.fields.sTax1098OriginationDateLckd"></lqb-input></div>
                        </div>

                        <div ng-show="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Points Paid</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098PointPaid"></lqb-input></div>
                        </div>
                        
                        <div>
                            <div class="counter-form-details"><label>Interest Refund</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098InterestRefund"></lqb-input></div>
                        </div>
                        <div ng-show="vm.version == 2014">
                            <div class="counter-form-details"><label>Other Info</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098OtherInfo2"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version == 2012 || vm.version == 2014">
                            <div class="counter-form-details"><label ng-bind="vm.MipLabel()"></label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098MIP"></lqb-input></div>
                        </div>
                        <div ng-show="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Other Info</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098OtherInfo"></lqb-input></div>
                        </div>
                    </div>
                </section>
                <section class="space">
                    <div class="table table-form-details">
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Points Paid</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098PointPaid"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Address of property same as Payer's?</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddr" placeholder="Street"></lqb-input><lqb-input lqb-model="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddrLckd"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Property Address</label></div>
                            <div class="table" ng-hide="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddr.v">
                                <div>
                                    <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"></lqb-input></div>    
                                </div>
                                <div>
                                    <lqb-input class="form-control form-control-city form-control-property-address" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"></lqb-input>
                                    <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"></lqb-input>
                                </div>
                            </div>
                            <div ng-show="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddr.v"><label>Not applicable.</label></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Property Description</label></div>
                            <div ng-hide="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddr.v"><lqb-input lqb-model="vm.loan.fields.sAssessorsParcelId"></lqb-input></div>
                            <div ng-show="vm.loan.fields.sTax1098IsPropertyAddrBorrowerAddr.v"><label>Not applicable.</label></div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="table table-form-details">
                        <div ng-show="vm.version == 2017">
                            <div class="counter-form-details"><label>Num of Properties</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098NumberOfPropertiesSecuringThisMortgage"></lqb-input></div>
                        </div>
                        <div ng-hide="vm.version !=2016 && vm.version != 2017">
                            <div class="counter-form-details"><label>Other Info</label></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTax1098OtherInfo"></lqb-input></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

