﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MortgagePoolPopup.master.cs" Inherits="LendersOfficeApp.los.MortgagePools.MasterPages.MortgagePoolPopup" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="HtmlHead" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div id="MasterPageMain" class="popup">
        <div id="MasterPageTopHeader">
            <asp:ContentPlaceHolder ID="Header" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        
        <div id="MasterPagePopupContent">
            <asp:ContentPlaceHolder ID="Content" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </div>
    </form>
</body>
</html>
