<ui-layout options="{ flow : 'column' }">
    <div ui-layout-container size="25%">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <a class="btn btn-link pull-right">clear</a>
                <h3 class="panel-title">History</h3>
            </div>
            <div class="panel-body">
                <ul><li ng-repeat="x in vm.xs track by $index">
                    <span ng-bind="x.url"></span>
                    <a ng-click="vm.use(x)">use</a>
                </li></ul>
            </div>
        </div>
    </div>
    <div ui-layout-container="central">
        <form ng-submit="vm.submit()">

            <div class="form-group">
                <div class="col-sm-2">
                    <select ng-model="vm.method" required
                            ng-options="o for o in vm.methodOptions track by o"
                            class="form-control"></select>
                </div>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input ng-model="vm.url" type="text" required
                               class="form-control"
                               placeholder="API url: /LendersOfficeApp/LoanEditor/lqbapi/loan.ashx?op=Load&loanid=6903f95c-9dff-48e5-ae25-a3b70184e0be"
                               ng-change="vm.urlChange()"/>
                        <div class="input-group-btn">
                            <div class="btn-group" ng-show="vm.opOptions">
                                <a class="btn btn-default dropdown-toggle"
                                    data-toggle="dropdown"><span ng-bind="vm.currentOp"></span> <span class="caret"></span></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li ng-repeat="op in vm.opOptions track by op"><a ng-click="vm.changeOpTo(op)" ng-bind="op"></a></li>
                                </ul>
                            </div>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <div class="form-group"><div class="col-sm-12">
                <textarea ng-model="vm.data"
                          class="form-control" placeholder="data"
                          style="font-family:monospace;" rows="10"></textarea>
            </div></div>
        </form>
        <p>&nbsp;</p>
        <div class="panel panel-default" ng-show="vm.response != null">
            <div class="panel-body">
                <div class="pull-right">
                    Time: <strong ng-bind="vm.requestDuration | number"></strong> ms.
                    <a class="btn btn-default" ng-click="vm.copyResultToData()"
                        title="Copy response to data"><span class="glyphicon glyphicon-duplicate"></span></a>
                    <a class="btn btn-default" ng-click="vm.downloadResultToData()"
                        title="Download response"><span class="glyphicon glyphicon-download-alt"></span></a>
                </div>

                <div json-viewer="vm.response"></div>
            </div>
        </div>
    </div>
</ui-layout>

