<div class="section">
    <div class="panel panel-default col-sm-6">
        <div class="panel-body">
            <label class="control-label">Use this continuation sheet if you need more space to complete the Residential Loan Application. Mark B for Borrower or C for Co-Borrower.</label>
            <div>
                <lqb-input lqb-model="vm.loan.app.fields.a1003ContEditSheet" rows="10"></lqb-input>
            </div>
        </div>
    </div>
    <div class="col-sm-6"></div>
</div>
