<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Notice of Loan Transfer</h5>
        </div>
        <div class="panel-body">
        <fieldset class="table">
            <div>
                <div><label>Servicing Transfer Effective Date:</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sGLServTransEffD"></lqb-input></div>
            </div>
            <div>
                <div><label>Completed By</label></div>
                <div><lqb-input lqb-model="vm.loan.preparerFields.GoodbyeLetter.PreparerName"></lqb-input></div>
            </div>
        </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Previous Servicer Information</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table table-servicer-information">
                <div>
                    <div></div>
                    <div>
                        <a>Pick from Contacts</a>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLPrevServNm"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Address</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLPrevServAddr" placeholder="Street"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLPrevServCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLPrevServState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLPrevServZip" placeholder="ZIPCode"></lqb-input>
                    </div>       
                </div>
                <div>
                    <div>
                        <label>Toll-Free Phone</label>
                    </div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLPrevServTFPhone"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Contact Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLPrevServContactNm"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Contact Number</label>
                    </div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLPrevServContactNum"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Business Hours</label>
                    </div>
                    <div class="business-hours">
                        <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sGLPrevServBusHrAM"></lqb-input>AM &nbsp; To 
                        <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sGLPrevServBusHrPM"></lqb-input>PM
                    </div>        
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>New Servicer Information</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table table-servicer-information">
                <div>
                    <div></div>
                    <div>
                        <a>Pick from Contacts</a>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServNm"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Address</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServAddr" placeholder="Street"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLNewServCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServZip" placeholder="ZIPCode"></lqb-input>
                    </div>      
                </div>
                <div>
                    <div>
                        <label>Toll-Free Phone</label>
                    </div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLNewServTFPhone"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Contact Name</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServContactNm"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Contact Number</label>
                    </div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLNewServContactNum"></lqb-input>
                    </div>        
                </div>
                <div>
                    <div>
                        <label>Business Hours</label>
                    </div>
                    <div class="business-hours">
                        <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sGLNewServBusHrAM"></lqb-input>AM &nbsp; To 
                        <lqb-input class="form-control form-control-number" lqb-model="vm.loan.fields.sGLNewServBusHrPM"></lqb-input>PM
                    </div>        
                </div>
            </fieldset>

            <fieldset class="table">
                <div>
                    <div>
                        <label>New Servicer Accepting Payments Starting</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServAccPmtD">
                    </div>        
                </div>
            </fieldset>

            <fieldset class="table table-servicer-information">
                <div>
                    <div>
                        <label>Payment Address</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServPmtAddr" placeholder="Street">
                    </div>        
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sGLNewServPmtCity" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServPmtState" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServPmtZip" placeholder="ZIPCode"></lqb-input>
                    </div>      
                </div>
            </fieldset>

            <fieldset class="table">
                <div>
                    <div>
                        <label>Scheduled Date of First Payment to New Servicer</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sGLNewServFirstPmtSchedD">
                    </div>        
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
<div lqb-load-fields="BrokerUser"></div>
