<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal" aria-label="Close"
                    ng-click="vm.requestClose()">
                    <span aria-hidden="true">&times;</span></a>
                <h4 class="modal-title">Closing Cost Template List</h4>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead><tr>
                        <th>Closing Cost Template Name</th>
                        <th>Version</th>
                        <th></th>
                    </tr></thead>
                    <tbody><tr ng-repeat="template in vm.ccTemplates track by template.Id">
                        <td ng-bind="template.Name"></td>
                        <td ng-bind="template.TemplateType || template.Version"></td>
                        <td><a ng-click="vm.apply(template)">apply</a></td>
                    </tr></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" ng-click="vm.requestClose()">Close</button>
            </div>
        </div>
    </div>
</div>
