<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Credit Report Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCrRd"></lqb-input></div>
                    <div><label>Mailed On</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDeniedFormDoneD"></lqb-input></div>
                    <div><label>Date Denied</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectD"></lqb-input></div>
                </div>
            </div>
            <section class="margin-bottom"><header class="margin-bottom">1. Your application denial was based on the following reason(s)</header>
                <div class="flex">
                    <section><header class="title-sub">A - CREDIT</header>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialNoCreditFile" label="No Credit File"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientCreditRef" label="Insufficient Credit Reference"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientCreditFile" label="Insufficient Credit File"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnableVerifyCreditRef" label="Unable to Verify Credit References"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialGarnishment" label="Garnishment, Attachment, Foreclosure, Repossession or Suit"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialExcessiveObligations" label="Excessive Obligations"></lqb-input></li>
                        </ul>
                        <ul class="list list-margin-left">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientIncome" label="Insufficient Income for Total Obligations"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnacceptablePmtRecord" label="Unacceptable Payment Record on Previous Mortgage"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialLackOfCashReserves" label="Lack of Cash Reserves"></lqb-input></li>
                        </ul>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialDeliquentCreditObligations" label="Delinquent Credit Obligations"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialBankruptcy" label="Bankruptcy"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInfoFromConsumerReportAgency" label="Information From a Consumer Reporting Agency"></lqb-input></li>
                        </ul>

                        <header class="title-sub">B - EMPLOYMENT STATUS</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnableVerifyEmployment" label="Unable to Verify Employment"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialLenOfEmployment" label="Length of Employment"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialTemporaryEmployment" label="Temporary or Irregular Employment, Insufficient Stability of Income"></lqb-input></li>
                        </ul>

                        <header class="title-sub">C - INCOME</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientIncomeForMortgagePmt" label="Insufficient Income for Mortgage Payments"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnableVerifyIncome" label="Unable to Verify Income"></lqb-input></li>
                        </ul>
                    </section>
                    <section><header class="title-sub">D - RESIDENCY</header>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialTempResidence" label="Temporary Residence"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialShortResidencePeriod" label="Too Short a Period of Residence"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnableVerifyResidence" label="Unable to Verify Residence"></lqb-input></li>
                        </ul>

                        <header class="title-sub">E - INS, GUARANTY OR PURCH DENIED BY:</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialByHUD" label="Department of Housing and Urban Development"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialByVA" label="Department of Veterans Affairs"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialByFedNationalMortAssoc" label="Federal National Mortgage Association"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialByFedHomeLoanMortCorp" label="Federal Home Loan Mortgage Corporation"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialByOther" label="Other -"></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aDenialByOtherDesc"></lqb-input></li>
                        </ul>

                        <header class="title-sub">F - OTHER</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientFundsToClose" label="Insufficient Funds to Close the Loan"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditAppIncomplete" label="Credit Application Incomplete"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInadequateCollateral" label="Inadequate Collateral"></lqb-input></li>
                        </ul>
                        <ul class="list list-margin-left">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnacceptableProp" label="Unacceptable Property"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialInsufficientPropData" label="Insufficient Data - Property"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnacceptableAppraisal" label="Unacceptable Appraisal"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialUnacceptableLeasehold" label="Unacceptable Leasehold Estate"></lqb-input></li>
                        </ul>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialNotGrantCreditToAnyAppOnSuchTermsAndConds" label="We do not grant credit to any applicant on the terms and conditions you have requested"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialWithdrawnByApp" label="Withdrawn by Applicant"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialOtherReason1" label="Other - "></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aDenialOtherReason1Desc"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aDenialOtherReason2" label="Other - "></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aDenialOtherReason2Desc"></lqb-input></li>
                        </ul>
                    </section>
                </div>
            </section>
            <section class="margin-bottom"><header class="margin-bottom">2. Disclosure of use of information obtained from an outside source.</header>
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aDenialDecisionBasedOnReportAgency" label="Information obtained in a report from consumer reporting agency:"></lqb-input></div>
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.CreditReport[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aDenialWeObtainedCreditScoreFromCRA" label="We also obtained your credit score from this consumer reporting agency and used it in making our credit decision."></lqb-input></div>
                    </div>
                </div>
                <div class="list-margin-left">
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditScoreLckd"></lqb-input><label class="text-center-checkbox">Set manually</label></div>
                            <div></div>
                        </div>
                        <div><div><label>Credit Score</label>     </div><div><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditScore"></lqb-input></div></div>
                        <div><div><label>Date</label>             </div><div><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditScoreD"></lqb-input></div></div>
                        <div><div><label>Scores range from</label></div><div><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditScoreRangeFrom"></lqb-input><label>to&nbsp;</label><lqb-input lqb-model="vm.loan.app.fields.aDenialCreditScoreRangeTo"></lqb-input></div></div>
                    </div>
                    <div class="table">
                        <div>
                            <div><label>Key factors that adversely affect credit score</label></div>
                        </div>
                    </div>
                    <div class="table list-margin-left">
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aDenialCreditScoreFactor1"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aDenialCreditScoreFactor2"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aDenialCreditScoreFactor3"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aDenialCreditScoreFactor4"></lqb-input></div></div>
                        <div><div><lqb-input lqb-model="vm.loan.app.fields.aDenialIsFactorNumberOfRecentInquiries" label="Number of recent inquiries on consumer report."></lqb-input></div></div>
                    </div>
                    <div class="table margin-bottom">
                        <div>
                            <div><label>Contact information for questions regarding credit score:</label></div>
                        </div>
                    </div>
                    <div class="table margin-bottom">
                        <div>
                            <div></div>
                            <div ng-show="vm.loan.app.fields.aDenialCreditScoreLckd.v">
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                            <div ng-hide="vm.loan.app.fields.aDenialCreditScoreLckd.v">
                                <label class="text-muted contact-link">Pick from Contacts</label>
                                <label class="text-muted">Add to Contacts</label>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.CompanyName"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.StreetAddr" placeholder="Street"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.City" placeholder="City"></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.State" placeholder="State"></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.Zip" placeholder="ZIPCode"></lqb-input>
                            </div>  
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.PhoneOfCompany"></lqb-input>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aDenialDecisionBasedOnCRA" label="Information obtained from an outside source other than a consumer reporting agency. You have the right to make a written request of us for disclosure of the nature of this information."></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Additional Statement</label></div>
                    </div>
                    <div class="additional-statement">
                        <div><lqb-input lqb-model="vm.loan.app.fields.aDenialAdditionalStatement"></lqb-input></div>
                    </div>
                </div>
            </section>
            <section><header class="margin-bottom">3. The Federal Agency that administers compliance with this law is:</header>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.ECOA[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div><label>Completion of letter by</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.PreparerName"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Broker Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Broker Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.CreditDenialStatement.City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Broker Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.PhoneOfCompany"></lqb-input>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

