<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Credit Report Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCrRd"></lqb-input></div>
                    <div><label>Mailed On</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHmdaDeniedFormDoneD"></lqb-input></div>
                    <div><label>Date Denied</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRejectD"></lqb-input></div>
                </div>
            </div>
            <section class="margin-bottom"><header class="margin-bottom">1. Your application denial was based on the following reason(s)</header>
                <div><p><button type="button" class="btn btn-default" ng-click="vm.copyFromBorrower()">Copy denial reasons from borrower</button></p></div>
                <div class="flex">
                    <section><header class="title-sub">A - CREDIT</header>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialNoCreditFile" label="No Credit File"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientCreditRef" label="Insufficient Credit Reference"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientCreditFile" label="Insufficient Credit File"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnableVerifyCreditRef" label="Unable to Verify Credit References"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialGarnishment" label="Garnishment, Attachment, Foreclosure, Repossession or Suit"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialExcessiveObligations" label="Excessive Obligations"></lqb-input></li>
                        </ul>
                        <ul class="list list-margin-left">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientIncome" label="Insufficient Income for Total Obligations"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnacceptablePmtRecord" label="Unacceptable Payment Record on Previous Mortgage"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialLackOfCashReserves" label="Lack of Cash Reserves"></lqb-input></li>
                        </ul>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialDeliquentCreditObligations" label="Delinquent Credit Obligations"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialBankruptcy" label="Bankruptcy"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInfoFromConsumerReportAgency" label="Information From a Consumer Reporting Agency"></lqb-input></li>
                        </ul>

                        <header class="title-sub">B - EMPLOYMENT STATUS</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnableVerifyEmployment" label="Unable to Verify Employment"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialLenOfEmployment" label="Length of Employment"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialTemporaryEmployment" label="Temporary or Irregular Employment, Insufficient Stability of Income"></lqb-input></li>
                        </ul>

                        <header class="title-sub">C - INCOME</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientIncomeForMortgagePmt" label="Insufficient Income for Mortgage Payments"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnableVerifyIncome" label="Unable to Verify Income"></lqb-input></li>
                        </ul>
                    </section>
                    <section><header class="title-sub">D - RESIDENCY</header>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialTempResidence" label="Temporary Residence"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialShortResidencePeriod" label="Too Short a Period of Residence"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnableVerifyResidence" label="Unable to Verify Residence"></lqb-input></li>
                        </ul>

                        <header class="title-sub">E - INS, GUARANTY OR PURCH DENIED BY:</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialByHUD" label="Department of Housing and Urban Development"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialByVA" label="Department of Veterans Affairs"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialByFedNationalMortAssoc" label="Federal National Mortgage Association"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialByFedHomeLoanMortCorp" label="Federal Home Loan Mortgage Corporation"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialByOther" label="Other - "></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCDenialByOtherDesc"></lqb-input></li>
                        </ul>

                        <header class="title-sub">F - OTHER</header>
                        <ul class="list"> 
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientFundsToClose" label="Insufficient Funds to Close the Loan"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditAppIncomplete" label="Credit Application Incomplete"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInadequateCollateral" label="Inadequate Collateral"></lqb-input></li>
                        </ul>
                        <ul class="list list-margin-left">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnacceptableProp" label="Unacceptable Property"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialInsufficientPropData" label="Insufficient Data - Property"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnacceptableAppraisal" label="Unacceptable Appraisal"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialUnacceptableLeasehold" label="Unacceptable Leasehold Estate"></lqb-input></li>
                        </ul>
                        <ul class="list">
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialNotGrantCreditToAnyAppOnSuchTermsAndConds" label="We do not grant credit to any applicant on the terms and conditions you have requested"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialWithdrawnByApp" label="Withdrawn by Applicant"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialOtherReason1" label="Other - "></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCDenialOtherReason1Desc"></lqb-input></li>
                            <li><lqb-input lqb-model="vm.loan.app.fields.aCDenialOtherReason2" label="Other - "></lqb-input><lqb-input class="form-control medium-text" lqb-model="vm.loan.app.fields.aCDenialOtherReason2Desc"></lqb-input></li>
                        </ul>
                    </section>
                </div>
            </section>
            <section class="margin-bottom"><header class="margin-bottom">2. Disclosure of use of information obtained from an outside source.</header>
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDenialDecisionBasedOnReportAgency" label="Information obtained in a report from consumer reporting agency:"></lqb-input></div>
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-email" lqb-model="vm.loan.sAgentOfRole.CreditReport[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReport[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-email" lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency2[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-email" lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.CreditReportAgency3[0].Phone"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDenialWeObtainedCreditScoreFromCRA" label="We also obtained your credit score from this consumer reporting agency and used it in making our credit decision."></lqb-input></div>
                    </div>
                </div>
                <div class="list-margin-left">
                    <div class="table">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditScoreLckd"></lqb-input><label class="text-center-checkbox">Set manually</label></div>
                            <div></div>
                        </div>
                        <div><div><label>Credit Score</label>     </div><div><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditScore"></lqb-input></div></div>
                        <div><div><label>Date</label>             </div><div><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditScoreD"></lqb-input></div></div>
                        <div><div><label>Scores range from</label></div><div><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditScoreRangeFrom"></lqb-input><label>to&nbsp;</label><lqb-input lqb-model="vm.loan.app.fields.aCDenialCreditScoreRangeTo"></lqb-input></div></div>
                    </div>
                    <div class="table">
                        <div>
                            <div><label>Key factors that adversely affect credit score</label></div>
                        </div>
                    </div>
                    <div class="table list-margin-left">
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aCDenialCreditScoreFactor1"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aCDenialCreditScoreFactor2"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aCDenialCreditScoreFactor3"></lqb-input></div></div>
                        <div><div><lqb-input class="form-control form-control-key-factors" lqb-model="vm.loan.app.fields.aCDenialCreditScoreFactor4"></lqb-input></div></div>
                        <div><div><lqb-input lqb-model="vm.loan.app.fields.aCDenialIsFactorNumberOfRecentInquiries" label="Number of recent inquiries on consumer report."></lqb-input></div></div>
                    </div>
                    <div class="table margin-bottom">
                        <div>
                            <div><label>Contact information for questions regarding credit score:</label></div>
                        </div>
                    </div>
                    <div class="table margin-bottom">
                        <div>
                            <div></div>
                            <div ng-show="vm.loan.app.fields.aCDenialCreditScoreLckd.v">
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                            <div ng-hide="vm.loan.app.fields.aCDenialCreditScoreLckd.v">
                                <label class="text-muted contact-link">Pick from Contacts</label>
                                <label class="text-muted">Add to Contacts</label>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.CompanyName"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.StreetAddr" placeholder="Street"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-email" lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.City" placeholder="City"></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.State" placeholder="State"></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.Zip" placeholder="ZIPCode"></lqb-input>
                            </div>  
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialScoreContact.PhoneOfCompany"></lqb-input>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table">
                    <div>
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDenialDecisionBasedOnCRA" label="Information obtained from an outside source other than a consumer reporting agency. You have the right to make a written request of us for disclosure of the nature of this information."></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Additional Statement</label></div>
                    </div>
                    <div class="additional-statement">
                        <div><lqb-input lqb-model="vm.loan.app.fields.aCDenialAdditionalStatement"></lqb-input></div>
                    </div>
                </div>
            </section>
            <section><header class="margin-bottom">3. The Federal Agency that administers compliance with this law is:</header>
                <div class="table margin-bottom">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-email" lqb-model="vm.loan.sAgentOfRole.ECOA[0].City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.sAgentOfRole.ECOA[0].Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                </div>
                <div class="table margin-bottom">
                    <div>
                        <div><label>Completion of letter by</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.PreparerName"></lqb-input>
                        </div>
                    </div>
                </div>
                <div class="table">
                    <div>
                        <div></div>
                        <div>
                            <a class="contact-link">Pick from Contacts</a>
                            <a>Add to Contacts</a>
                        </div>
                    </div>
                    <div>
                        <div><label>Broker Name</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.CompanyName"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Broker Address</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.StreetAddr" placeholder="Street"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input class="form-control form-control-email" lqb-model="vm.loan.preparerFields.CreditDenialStatement.City" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.Zip" placeholder="ZIPCode"></lqb-input>
                        </div>  
                    </div>
                    <div>
                        <div><label>Broker Phone</label></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.preparerFields.CreditDenialStatement.PhoneOfCompany"></lqb-input>
                        </div>
                    </div>
                </div>
            </section>

            
        </div>
    </div>
</div>
