<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div ng-show="vm.isShowDeniedWarning" class="alert alert-warning">
                <strong>WARNING:</strong> Modifying the denied date could remove your permission to edit this loan. Please make sure you complete the HMDA form before you enter a denied date here.
            </div>
            <ul class="nav nav-tabs">
                <li ng-class="{active:vm.IsBorr}"><a ng-click="vm.tabClick(true)">Borrower</a></li>
                <li ng-class="{active:(!vm.IsBorr)}"><a ng-click="vm.tabClick(false)">Co-Borrower</a></li>
            </ul>  
            <div class="tab-content" ng-show="vm.IsBorr">
                <!-- require('./borrowerTab.html') -->
            </div>
            <div class="tab-content" ng-hide="vm.IsBorr">
                <!-- require('./coborrowerTab.html') -->
            </div>
        </div>
    </div>
</div>
<div lqb-load-fields="preparerFields.CreditExperian preparerFields.CreditTransUnion preparerFields.CreditEquifax aBDecisionCreditSourceT aCDecisionCreditSourceT aDenialInsufficientIncomeForMortgagePmt aDenialOtherReason1Desc aDenialOtherReason2Desc aCDenialInsufficientIncomeForMortgagePmt aCDenialOtherReason1Desc aCDenialOtherReason2Desc"></div>
