﻿body {
    background-color: gainsboro;
    margin: 5px;
}

#AuthorizedEmailDomainsDiv {
    width: 315px;
}

#domainList {
    height: 300px; 
    width: 300px;
    overflow: auto; 
    border: 1px solid black; 
    background-color: White;
    padding: 5px;
}

#AddDomainText {
    width: 200px;
}

.RemoveLink {
    float: right;
}

#CloseBtn {
    float: right;
}