<div ng-if="!vm.paswordExpired">
    <div id="CertificateContainer" class="content-container">
        <header class="header">Client Certificate</header>
        <div class="profile-padding-left">
            <table class="DataGrid none-hover-table wide none-press-table">
                <thead>
                    <tr class="GridHeader">
                        <th class="w-name-ip">        Device Name   </th>
                        <th class="w-date-registered">Created Date</th>
                        <th></th>
                        <th class="w-42"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ri in vm.clientCertificates">
                        <td class="w-name-ip">        {{ri.Description }}</td>
                        <td class="w-date-registered">{{ri.CreatedDate |date:'M/d/yyyy h:mm:ss a'}}</td>
                        <td></td>
                        <td class="w-42"><a ng-click="vm.revokeClientCertificate(ri.CertificateId)"><i class="material-icons large-material-icons">&#xE909;</i></a></td>
                    </tr>
                </tbody>
            </table>
            <div class="margin-top margin-bottom">
                <a ng-click="vm.installClientCertificate();"
                   ng-if="vm.EmployeeDB.EnabledClientDigitalCertificateInstall">install client certificate</a>
            </div>
        </div>
    </div>

    <div ng-if="vm.EmployeeDB.EnabledMultiFactorAuthentication" class="content-container">
        <header class="header">IP Access</header>
        <div class="profile-padding-left">
            <table class="DataGrid none-hover-table wide">
                <thead>
                    <tr class="GridHeader">
                        <th class="w-name-ip">        IP Address   </th>
                        <th class="w-date-registered">Registered IP</th>
                        <th>Created Date </th>
                        <th class="w-42"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ri in vm.registeredIps">
                        <td class="w-name-ip">        {{ri.IpAddress   }}</td>
                        <td class="w-date-registered">{{ri.IsRegistered}}</td>
                        <td>{{ri.CreatedDate |date:'M/d/yyyy h:mm:ss a'}}</td>
                        <td class="w-42"><a ng-click="vm.deleteRegisteredIp(ri.Id)"><i class="material-icons large-material-icons">&#xE909;</i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div ng-if="vm.EmployeeDB.EnabledMultiFactorAuthentication" class="content-container">

            <header class="header">Authenticator</header>
            <div class="profile-padding-left" ng-if="!vm.EmployeeDB.EnableAuthCodeViaAuthenticator">
                <a ng-click="vm.beginRegisterAuthenticator()">register new authenticator</a>
            </div>
            <div class="profile-padding-left" ng-if="vm.EmployeeDB.EnableAuthCodeViaAuthenticator">
                <input type="checkbox" checked="checked" disabled="disabled" /> Authenticator App Enabled
                <input type="button" value="Disable authenticator app" ng-click="vm.disableAuthenticator()" />
            </div>
        </div>

        <div ng-if="vm.BrokerDB.IsEnableMobileDeviceRegistrationTPO" class="content-container">
            <header class="header">Mobile Devices</header>
            <div class="profile-padding-left">
                <table class="DataGrid none-hover-table wide">
                    <thead>
                        <tr class="GridHeader">
                            <th class="w-name-ip">        Name           </th>
                            <th class="w-date-registered">Date Registered</th>
                            <th>Last Login     </th>
                            <th class="w-42"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="md in vm.registeredMobileDevices">
                            <td class="w-name-ip">        {{md.Name         }}</td>
                            <td class="w-date-registered">{{md.CreatedDate  }}</td>
                            <td>{{md.LastLoginDate}}</td>
                            <td class="w-42"><a ng-click="vm.removeRegisterMobileDevice(md)"><i class="material-icons large-material-icons">&#xE909;</i></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="!vm.paswordExpired" class="profile-padding-left">
                <div class="margin-top margin-bottom">
                    <a ng-click="vm.beginRegisterNewMobileDevice()">register new mobile device</a>
                </div>
            </div>
        </div>
    </div>
