<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Living Unit Details (2-4 unit and investment properties)</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Number of Units</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sUnitsNum"></lqb-input></div>
                </div>
            </fieldset>
            <fieldset class="table">
                <div>
                    <div></div>
                    <div><label>Bedrooms</label></div>
                    <div><label>Eligible Rent</label></div>
                </div>
                <div>
                    <div><label>Unit #1</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit1BedroomsCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit1EligibleRent"></lqb-input></div>
                </div>
                <div>
                    <div><label>Unit #2</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit2BedroomsCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit2EligibleRent"></lqb-input></div>
                </div>
                <div>
                    <div><label>Unit #3</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit3BedroomsCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit3EligibleRent"></lqb-input></div>
                </div>
                <div>
                    <div><label>Unit #4</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit4BedroomsCount"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpUnit4EligibleRent"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Project Details</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Project Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sProjNm"></lqb-input></div>
                    <div style="width:10em"></div>
                    <div><label>Project Status</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectStatusT"></lqb-input></div>
                </div>
                <div>
                    <div><label>CPM Project ID# (if any)</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCpmProjectId"></lqb-input></div>
                    <div></div>
                    <div><label>Project Attachment Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectAttachmentT"></lqb-input></div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div><label>Project Design Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectDesignT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Freddie Mac Project Classification</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectClassFreddieT"></lqb-input></div>
                    <div></div>
                    <div><label>Project Dwelling Unit Count</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectDwellingUnitCount"></lqb-input></div>
                </div>
                <div>
                    <div><label>Fannie Mae Project Classification</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectClassFannieT"></lqb-input></div>
                    <div></div>
                    <div><label>Project Dwelling Units Sold Count</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpProjectDwellingUnitSoldCount"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Appraisal</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Property valuation method</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpValuationMethodT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Property valuation effective date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpValuationEffectiveD"></lqb-input></div>
                </div>
                <div>
                    <div><label>UCDP Appraisal ID</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpAppraisalId"></lqb-input></div>
                </div>
                <div>
                    <div><label>Date submitted to UCDP</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpSubmittedToUcdpD"></lqb-input></div>
                </div>
                <div>
                    <div><label>Appraisal Form Type</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpAppraisalFormT"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Current Subject Property Loan</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>FHA Case Number for Current Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpFhaCaseNumCurrentLoan"></lqb-input></div>
                    <div style="width:10em"></div>
                    <div><label>FHA Endorsement Date for Current Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFhaEndorsementD"></lqb-input></div>
                </div>
                <div>
                    <div><label>FHA UFMIP Amount for Current Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFhaUfmipAmt"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Investor for Current Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpInvestorCurrentLoanT"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>FNMA/FHLMC Loan Number for Current Loan</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpGseLoanNumCurrentLoan"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>FNMA/FHLMC/FHLB Refinance Program</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sSpGseRefiProgramT"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Leasehold</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Lease Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseholdLeaseD"></lqb-input></div>
                    <div style="width:10em"></div>
                    <div><label>Lease Expiration Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseHoldExpireD"></lqb-input></div>
                </div>
                <div>
                    <div><label>Record Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseholdRecordD"></lqb-input></div>
                    <div></div>
                    <div><label>Instrument Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseHoldInstrumentNumber"></lqb-input></div>
                </div>
                <div>
                    <div><label>Holder Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLeaseholdHolderName"></lqb-input></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Purchase Contract</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Purchase Contract Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchaseContractDate"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Deed</h5>
        </div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div><label>Deed Generated</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sDeedGeneratedD"></lqb-input></div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
