<%@ Page language="c#" Codebehind="PricePolicyExport.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.los.RatePrice.PricePolicyExport" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<TITLE>PricePolicyExport </TITLE>
		<META name="GENERATOR" Content="Microsoft Visual Studio 7.0">
		<META name="CODE_LANGUAGE" Content="C#">
		<META name="vs_defaultClientScript" content="JavaScript">
		<META name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="../../css/stylesheet.css" type="text/css" rel="stylesheet">
	</HEAD>
	<BODY MS_POSITIONING="FlowLayout" style="BACKGROUND-COLOR: gainsboro; OVERFLOW-Y: hidden; TEXT-ALIGN: center;">
		<FORM id="PricePolicyExport" method="post" runat="server">
			<DIV style="WIDTH: 100%; HEIGHT: 100px; COLOR: red; FONT: 12px arial; BORDER: 2px groove; BACKGROUND-COLOR: whitesmoke; PADDING: 16px; MARGIN: 4px; MARGIN-BOTTOM: 10px; TEXT-ALIGN: center;">
				Failed to export.
			</DIV>
			<INPUT type="button" value="Close" onclick="onClosePopup();">
		</FORM>
	</BODY>
</HTML>
