﻿<style type="text/css">
    #declarationExplanationTable
    {
        margin-left: auto;
        margin-right: auto;
    }
    .left
    {
        text-align: left;
    }
    .right
    {
        text-align: right;
    }
    input[name="aBDecExplanations"], input[name="aCDecExplanations"]
    {
        width: 225px;
    }
    .modal-dialog.modal-explanations {
        width: auto;
    }
</style>
<div id="declarationExplanationTemplate">
    <table id="declarationExplanationTable" cellspacing="5">
        <tr></tr>
        <tr></tr>
        <tr>
            <td></td>
            {{if decExplnData.aBSsn != ""}}
            <td>${decExplnData.aBNm}</td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td>${decExplnData.aCNm}</td>
            {{/if}}
        </tr>
        <tr>
            <td>a.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecJudgmentExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecJudgmentExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecJudgmentExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecJudgmentExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>b.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecBankruptExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecBankruptExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecBankruptExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecBankruptExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>c.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecForeclosureExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecForeclosureExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecForeclosureExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecForeclosureExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>d.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecLawsuitExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecLawsuitExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecLawsuitExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecLawsuitExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>e.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecObligatedExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecObligatedExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecObligatedExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecObligatedExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>f.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecDelinquentExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecDelinquentExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecDelinquentExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecDelinquentExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>g.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecAlimonyExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecAlimonyExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecAlimonyExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecAlimonyExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>h.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecBorrowingExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecBorrowingExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecBorrowingExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecBorrowingExplanation}" /></td>
            {{/if}}
        </tr>
        <tr>
            <td>i.</td>
            {{if decExplnData.aBSsn != ""}}
            <td><input id="aBDecEndorserExplanation" name="aBDecExplanations" type="text" maxlength="255" value="${decExplnData.aBDecEndorserExplanation}" /></td>
            {{/if}}
            {{if decExplnData.aCSsn != ""}}
            <td><input id="aCDecEndorserExplanation" name="aCDecExplanations" type="text" maxlength="255" value="${decExplnData.aCDecEndorserExplanation}" /></td>
            {{/if}}
        </tr>
    </table>
</div>
