<lq-modal ref="vm.modal = $ref">
    <slot-heading>Rate Floor Calculation</slot-heading>
    <slot-body>
        <div class="table" ng-repeat="loan in [vm.loan]">
            <div>
                <div class="text-right"><label>Program Rate Floor Calculation </label></div>
                <div><lqb-input lqb-model="loan.fields.sRAdjFloorCalcT"></lqb-input></div>
            </div>
            <div>
                <div class="text-right"><label>Rate Floor</label></div>
                <div ng-show = "loan.fields.sRAdjFloorCalcT.v !== 0">
                    <label>= Max( {{loan.fields.sRAdjFloorCalcT.o[loan.fields.sRAdjFloorCalcT.v].Value}} , Note Rate - Life Adj Cap ) </label>
                </div>
                <div ng-hide = "loan.fields.sRAdjFloorCalcT.v !== 0">
                    <lqb-input lqb-model="loan.fields.sRAdjFloorR"></lqb-input>
                </div>
            </div>
            <div ng-show = "loan.fields.sRAdjFloorCalcT.v !== 0">
                <div></div>
                <div class="col-max">
                    <label class="label-max">= Max(</label>
                    <lqb-input lqb-model="loan.fields.sRAdjFloorBaseR" readonly></lqb-input>+
                    <lqb-input lqb-model="loan.fields.sRAdjFloorAddR"></lqb-input>,
                    <lqb-input lqb-model="loan.fields.sNoteIR" readonly></lqb-input>-
                    <lqb-input lqb-model="loan.fields.sRAdjLifeCapR" readonly></lqb-input>)                    
                </div>
            </div>
            <div class="col-max" ng-show = "loan.fields.sRAdjFloorCalcT.v !== 0">
                <div></div>
                <div>
                    <label class="label-max">= Max(</label>
                    <lqb-input lqb-model="loan.fields.sRAdjFloorTotalR" readonly></lqb-input>,
                    <lqb-input lqb-model="loan.fields.sRAdjFloorLifeCapR" readonly></lqb-input>)
                </div>
            </div>
            <div ng-show = "loan.fields.sRAdjFloorCalcT.v !== 0">
                <div></div>
                <div>
                    <label class="label-max">=</label>
                    <lqb-input lqb-model="loan.fields.sRAdjFloorR"></lqb-input>
                </div>
            </div>
        </div>
    </slot-body>
    <slot-footer>
        <p class="text-center">
            <button type="button" class="btn btn-default" ng-click="vm.saveData()">OK</button>           
            <button type="button" class="btn btn-default" ng-click="vm.close()">Close</button>
        </p>
    </slot-footer>
</lq-modal>