﻿<div id="lenderCompDiv" class="hidden">
    <div id="lenderCompTable">
        <div class="table">
            <div>
                <div class="text-grey text-right">
                    Originator compensation set
                </div>
                <div>
                    {{plan.sOriginatorCompensationPlanAppliedD}}
                </div>
            </div>
            <div>
                <div class="text-grey text-right">
                    Effective date of compensation plan
                </div>
                <div>
                    {{plan.sOriginatorCompensationEffectiveD}}
                </div>
            </div>
            <div>
                <div class="text-grey text-right">
                    {{plan.sOriginatorCompensationPercent}} of the
                    <select id="sOriginatorCompensationBaseT" disabled="disabled" ng-model="plan.sOriginatorCompensationBaseT">
                        <option ng-selected="plan.sOriginatorCompensationBaseT == 0">Loan Amount</option>
                        <option ng-selected="plan.sOriginatorCompensationBaseT == 4">Total Loan Amount</option>
                    </select>
                </div>
                <div>
                    {{plan.sOriginatorCompensationAdjBaseAmount}}
                </div>
            </div>
            <div>
                <div class="text-right">
                    <input type="checkbox" id="sOriginatorCompensationHasMinAmount" class="filled-in" ng-checked="plan.sOriginatorCompensationHasMinAmount" disabled="disabled" />
                    <label for="sOriginatorCompensationHasMinAmount"><span class="text-grey">Minimum</span></label>
                </div>
                <div>
                    {{plan.sOriginatorCompensationMinAmount}}
                </div>
            </div>
            <div>
                <div class="text-right">
                    <input type="checkbox" id="sOriginatorCompensationHasMaxAmount" class="filled-in" ng-checked="plan.sOriginatorCompensationHasMaxAmount" disabled="disabled" />
                    <label for="sOriginatorCompensationHasMaxAmount"><span class="text-grey">Maximum</span></label>
                </div>
                <div>
                    {{plan.sOriginatorCompensationMaxAmount}}
                </div>
            </div>
            <div>
                <div class="text-grey text-right">
                    <div class="text-grey">Fixed amount</div>
                </div>
                <div>
                    {{plan.sOriginatorCompensationFixedAmount}}
                </div>
            </div>
            <div>
                <hr / class="width-double">
            </div>
            
            <div>
                <div class="text-grey text-right">
                    <div class="text-grey">Total lender-paid compensation</div>
                </div>
                <div>
                    {{plan.sOriginatorCompensationTotalAmount}}
                </div>
            </div>
        </div>
    </div>
</div>
