<div class="container">
    <div class="alert alert-success {{#if !saveSuccess}}hidden{{/if}}">
        <button type="button" class="close" on-click="set('saveSuccess', false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Save settings successfully.
    </div>

    <div class="alert alert-danger {{#if !errorMessage}}hidden{{/if}}">{{errorMessage}}</div>

    <div class="panel panel-default"><div class="panel-body">
        <div class="clear-fix"><div class="text-right">
            <span class="clipper"><a href="BrokerList.aspx" class="btn btn-default">Cancel</a></span>
            <span class="clipper"><button class="btn btn-primary" on-click="save" disabled="{{isSubmitting}}">Save Settings</button></span>
            <span class="clipper"><a class="btn btn-primary" on-click="generate">Generate Email List</a></span>
        </div></div>

        <table class="table table-striped">
            <thead><tr>
                <th>Include?</th>
                <th>Broker</th>
                <th>Email List <small class="font-normal">(use semicolon <code>;</code> to separate multiple addresses)</small></th>
            </tr></thead>
            <tbody>{{#each brokers}}<tr>
                <td><input type="checkbox" class="checkbox_" checked="{{IsInclude}}" id="{{BrokerId}}"></td>
                <td><label for="{{BrokerId}}">{{BrokerNm}}</label></td>
                <td class="{{validateEmails(emails) ? '' : 'has-error'}}">
                    <input class="form-control input-sm {{#if !IsInclude}}invisible{{/if}}" value="{{emails}}"
                           type="text" autocomplete="email"></td>
            </tr>{{/each}}</tbody>
        </table>
    </div></div>
</div>
