<div class="container"><div class="panel">
    {{#if questions == null}}
        <div class="panel-body">
                <p class="text-danger">There is no Security Question.</p>
        </div>
    {{/if}}

    {{#if questions != null}}
        <table class="table table-striped table-condensed">
            <thead><tr>
                <th class="text-center">
                    <span class="clipper"><a class="btn btn-primary" on-click="addNew">Add New</a></span>
                </th>
                <th>Security Question</th>
                <th class="text-left">Is Obsolete?</th>
            </tr></thead>
            <tbody>
                {{#each questions}}
                <tr>
                    <td class="text-center"><a class="btn btn-link" on-click="['edit', this]">edit</a></td>
                    <td>{{Question}}</td>
                    <td class="text-left">{{#if IsObsolete}}Yes{{else}}No{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}
</div></div>

<div id="editModal" class="modal v-middle fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">
                {{#if editingQuestion.QuestionId == null}}
                    Add New Question
                {{else}}
                    Edit Question
                {{/if}}
            </h4></div>
            <form class="form-group-sm" on-submit="save">
            <div class="modal-body">
                <div class="form-group">
                    <label>Security Question:<span class="text-danger {{#if editingQuestion.QuestionId != null}}hidden{{/if}}">*</span></label>
                    <input type="text" class="form-control"
                           value="{{editingQuestion.Question}}"
                           disabled="{{editingQuestion.QuestionId != null}}"
                           required="{{editingQuestion.QuestionId == null}}"
                           title="Please fill out the Security Question"
                           x-moz-errormessage="Please fill out the Security Question"
                           data-required="{{#if editingQuestion.QuestionId == null}}true{{/if}}"
                           autocomplete="on">
                </div>

                <div class="form-group {{#if editingQuestion.QuestionId == null}}hidden{{/if}}">
                    <label>Is Obsolete?</label>
                    <div style="margin-left:10px;"><div>
                        <div class="radio">
                            <label><input type="radio" name="{{editingQuestion.IsObsolete}}" value="{{true}}"> Yes</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" name="{{editingQuestion.IsObsolete}}" value="{{false}}"> No</label>
                        </div>
                    </div></div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Cancel</a></span>
                <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
            </div>
            </form>
        </div>
    </div>
</div>

{{#partial sortIcon}}
    <span class="glyphicon
        {{#if (sort.by != key)}}invisible{{/if}}
        {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}
