<table id="ReceivedDocsTable" class="primary-table wide none-hover-table table-doc-list" cellpadding="1">
    <thead class="header">
        <tr>
            <th></th>
            <th class="status-column">
                <a sort-header sort-key="DocStatus"         pvm="$ctrl" active-class="text-bold">Status</a></th>
            <th><a sort-header sort-key="FolderNm"          pvm="$ctrl" active-class="text-bold">Folder</a></th>
            <th><a sort-header sort-key="DocTypeName"       pvm="$ctrl" active-class="text-bold">Doc Type</a></th>
            <th>                                                                                 Application</th>
            <th>                                                                                 Description</th>
            <th><a sort-header sort-key="LastModifiedDate"  pvm="$ctrl" active-class="text-bold">Last Modified Date</a></th>
            <th>                                                                                 Pages</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="currentDoc in $ctrl.docs | orderBy:$ctrl.sortKey:$ctrl.sortDesc track by currentDoc.DocumentId">
            <td align="center" class="view">
                <div ng-if="currentDoc.__type == 'Doc'">
                    <a ng-href="ViewEDocPdf.aspx?docid={{currentDoc.DocumentId}}" target="_parent">view PDF</a>
                </div>
                <div ng-if="currentDoc.__type == 'GenericDoc' || currentDoc.LinkedGenericDoc">
                    <a ng-href="ViewEDocPdf.aspx?docid={{currentDoc.DocumentId}}&cmd=xml" target="_parent">view XML</a>
                </div>
            </td>
            <td class="status status-column" ng-class="{obsolete:currentDoc.IsObsoleteOrRejected}"
                ng-if="!vm.HideStatusColumnInTpoEdocs"
                ng-bind="currentDoc.DocStatus"></td>
            <td class="folder" ng-bind="currentDoc.FolderNm"></td>
            <td class="type" ng-bind="currentDoc.DocTypeName"></td>
            <td class="application" ng-bind="currentDoc.AppName"></td>
            <td class="description" ng-bind="currentDoc.Description"></td>
            <td class="date" ng-bind="currentDoc.LastModifiedDate |date:'short'"></td>
            <td class="page" ng-bind="currentDoc.PageCount"></td>
        </tr>
    </tbody>
</table>
