borrower-closing-costs {
    .panel {
        min-width: 1700px;
        margin-right: 10px;
    }
    .secondary-table {
        width: 100%;
        margin-bottom: 10px;
        th, td{
            text-align: center;
        }
        td{
            vertical-align: top;
            padding-right: 0;
            .input-group {
                text-align: left;
                .dropdown-input {
                    text-align: left;
                }
            }
            .description-memo {
                width: 15em;
            }
        }
    }
    .wrap-nav-tabs {
        // min-width: 1014px;
        width: 990px;
        position: fixed;
        bottom: 17px;
        z-index: 9;
        background: #cacdcf;
        padding-top: 1em;
        padding-bottom: 1em;
        margin: 0;

        .tab-content {
            background: #fff;
            padding-left: 1.5em;
            padding-right: 1em;
            > .active {
                opacity: 1;
                padding-top: 2em;
            }
        }
    }

    .table, .secondary-table {
        .table{
            width: 100%;
            > div > div {
                &.paid-to {
                    padding-right: .5em;
                }
                &.user {
                    position: relative;
                    padding-right: 1em;
                    .icons {
                        position: absolute;
                        top: 4px;
                    }
                }
            }
        }
    }
    .tab-pane {
        .table {
            > div > div{
                &.initial-credit {
                    min-width: 480px;
                    text-align: right;
                    lqb-input {
                        margin-right: .25em;
                    }
                }
                &.final-price {
                    min-width: 330px;
                }
                label{
                    min-width: 8em;
                    &:first-child {
                        margin-right: 0;
                    }
                }
                .input-group {
                    text-align: left;
                }
            }
            .table{
                &.detail-of-transaction-table {
                    > div > div {
                        padding-bottom: .75em;
                        &.empty-column {
                            height: 9em;
                        }
                        .table {
                            > div > div {
                                &:first-child {
                                    width: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}