<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>a.</div>
                    <div>Purchase price</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>j.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction"><a ui-sref="otherFinancing">Subordinate financing</a></div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sONewFinBal"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>b.</div>
                    <div>Alterations, improvements, repairs</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sAltCost"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>k.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction">Borrower's closing costs paid by Seller</div>
                            <div class="wrap-lock-checkbox"><lqb-input lqb-model="vm.loan.fields.sTotCcPbsLocked"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTotCcPbs"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>c.</div>
                    <div>Land (if acquired separately)</div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLandCost"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>l.</div>
                    <div class="table">
                        <div>
                            <div class="other-credits" ng-show="vm.isTRID2015(vm.loan.fields.sDisclosureRegulationT.v)">
                                <span class="other-credits-left">
                                    Other credits
                                    <span ng-show="vm.loan.fields.sLoads1003LineLFromAdjustments.v">
                                        (edit in <a ui-sref="adjustmentsAndOtherCredits" >Adjustments and Other Credits</a>)
                                    </span>
                                </span>
                                <span class="pull-right" ng-hide="vm.loan.fields.sLoads1003LineLFromAdjustments.v"><button type="button" class="btn btn-default">Sync with TRID "Adjustments and Other Credits"</button></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>d.</div>
                    <div>Refi (incl. debts to be paid off)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRefPdOffAmt1003"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left"><lqb-input lqb-model="vm.loan.fields.sOCredit1Desc"></lqb-input></div>
                            <div class="wrap-lock-checkbox"><lqb-input lqb-model="vm.loan.fields.sOCredit1Lckd"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sOCredit1Amt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>e.</div>
                    <div>Estimated prepaid items</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstPp1003"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left"><lqb-input lqb-model="vm.loan.fields.sOCredit2Desc"></lqb-input></div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sOCredit2Amt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left"><lqb-input lqb-model="vm.loan.fields.sOCredit3Desc"></lqb-input></div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sOCredit3Amt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left"><lqb-input lqb-model="vm.loan.fields.sOCredit4Desc"></lqb-input></div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sOCredit4Amt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left">Lender credit</div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sOCredit5Amt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div>&nbsp;</div>
                    <div></div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction white-space-left">Other financing closing costs</div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sONewFinCc"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>f.</div>
                    <div>Estimated closing costs</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCc1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotEstCcNoDiscnt1003"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>m.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction">Loan amount (exclude PMI, MIP, FF financed)</div>
                            <div class="wrap-lock-checkbox"><lqb-input lqb-model="vm.loan.fields.sLAmtLckd"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLAmtCalc"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>g.</div>
                    <div>PMI, MIP, Funding Fee</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sFfUfmip1003"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>n.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction">PMI, MIP, Funding Fee financed</div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sFfUfmipFinanced"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>h.</div>
                    <div>Discount (if Borrower will pay)</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003Lckd"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt1003"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>o.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction">Loan amount (add m & n)</div>
                            <div class="wrap-lock-checkbox"></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div><strong>i.</strong></div>
                    <div><strong>Total costs (add items a to h)</strong></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sTotTransC"></lqb-input></div>
                    <div>&nbsp;</div>
                    <div>p.</div>
                    <div class="table">
                        <div>
                            <div class="label-control-detailsoftransaction">Cash from / to Borr (subtract j, k, l & o from i)</div>
                            <div class="wrap-lock-checkbox"><lqb-input lqb-model="vm.loan.fields.sTransNetCashLckd"></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sTransNetCash"></lqb-input></div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div lqb-load-fields="sDisclosureRegulationT sLoads1003LineLFromAdjustments"></div>
