.Title
{
    font-weight: bold;
    font-size: 14pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;

	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	
}
.FigureLabel 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
    font-weight: bold;
}

.FigureText
{
    font-size: xx-small;
    line-height: normal;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.ButtonStyle 
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
    font-weight: bold;
    color: Black;
}