<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Homeowner Counseling Organization List (10 Closest)</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><a class="btn btn-default" ng-click="vm.genCco()">Generate Closest Counseling Organizations</a></div>
                    <div><label>Last Modified Date:</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sHomeownerCounselingOrganizationLastModifiedD"></lqb-input></div>
                </div>  
            </div>
            <hr/>

            <div class="organization-section" ng-repeat="hco in vm.loan.sHomeownerCounselingOrganizationCollection.data">
                <div class="panel-heading">
                    <h5>Organization <span ng-bind="$index+1"></span> <a class="text-link" ng-click="vm.removeItem($index)">(delete)</a></h5>
                </div>
                <div class="table">
                    <div>
                        <div><label>Name</label></div>
                        <div><lqb-input lqb-model="hco.Name"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Address</label></div>
                        <div><lqb-input lqb-model="hco.Address.StreetAddress" placeholder="Street"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div><lqb-input lqb-model="hco.Address.StreetAddress2"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div>
                            <lqb-input lqb-model="hco.Address.City" placeholder="City" class="form-control form-control-email"></lqb-input>
                            <lqb-input lqb-model="hco.Address.State" placeholder="State"></lqb-input>
                            <lqb-input lqb-model="hco.Address.Zip" placeholder="ZIPCode"></lqb-input>
                        </div>
                    </div>
                    <div>
                        <div><label>Phone</label></div>
                        <div><lqb-input lqb-model="hco.Phone" ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Email</label></div>
                        <div><lqb-input lqb-model="hco.Email" class="form-control form-control-email"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Website</label></div>
                        <div><lqb-input lqb-model="hco.Website"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Services</label></div>
                        <div><lqb-input lqb-model="hco.Services" rows="3"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Languages</label></div>
                        <div><lqb-input lqb-model="hco.Languages" rows="3"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Distance</label></div>
                        <div><lqb-input lqb-model="hco.Distance" class="form-control placeholder-input"></lqb-input> miles</div>
                    </div>
                </div>
                <hr/>
            </div>
            <a class="btn btn-default" ng-click="vm.addNew()">add</a>
            <div lqb-load-fields="aBZip"></div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
