<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>                </div>
                    <div>Item Description</div>
                    <div>Date            </div>
                    <div>Amount          </div>
                    <div>Percentage      </div>
                    <div>Checked?        </div>
                    <div>Notes           </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 1</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField1Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 2</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField2Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 3</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField3Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 4</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField4Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 5</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField5Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 6</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField6Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 7</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField7Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 8</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField8Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 9</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField9Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 10</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField10Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 11</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField11Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 12</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField12Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 13</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField13Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 14</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField14Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 15</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField15Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 16</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField16Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 17</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField17Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 18</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField18Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 19</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField19Notes" row="2"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <label>Field Set 20</label>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20Desc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20D"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20Money"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20Pc"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20Bit"></lqb-input>
                    </div>
                    <div class="control-label-textarea">
                        <lqb-input lqb-model="vm.loan.fields.sCustomField20Notes" row="2"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
