<div class="section">
    <div class="panel panel-default">
        <div class="panel-body" ng-init="vm.passwordOption='NextL'">
            <div class="alert alert-success" ng-hide="!vm.applySuccess">
                Password options successfully applied.
            </div>
            <div>Branch <lqb-input lqb-model="vm.pipeline.PasswordOption.branch"></lqb-input></div>

            <div class="table table-pass-options">
                <div>
                    <div><lqb-input lqb-model="vm.pipeline.PasswordOption.option" ng-value="0"  li-type="radio" label="Must change password at next logon"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.pipeline.PasswordOption.option" ng-value="1"  li-type="radio" label="Password never expires"></lqb-input></div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.pipeline.PasswordOption.option" ng-value="2"  li-type="radio" label="Password expires on: "></lqb-input>
                        <lqb-input lqb-model="vm.pipeline.PasswordOption.expireDate"></lqb-input>
                    </div>
                </div>
            </div>

            <div class="table">
                <div>
                    <div>
                        <lqb-input lqb-model="vm.pipeline.PasswordOption.cycleExpire" label="... and continue to expire passwords every"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.pipeline.PasswordOption.expirePeriod"></lqb-input> days following update
                    </div>
                </div>
            </div>
            <p class="text-danger">Password Options will not be applied to Active Directory users.</p>
            <p> <button ng-click="vm.apply()" >Apply option to branch</button> </p>
            <p class="text-danger" ng-show="vm.errorString"><strong>* {{vm.errorString}}</strong></p>
        </div>
    </div>
</div>
