<style>
    div.search-section {
        width: 100%;
        padding: 0 0 16px 0;
        text-align: left;
    }
    div.TaskMeter.Scale {
        background-image: url(../images/scale.png);
    }
    div.TaskMeter.Gradient.Child {
        background-image: url(../images/measure_gradient.png);
    }
    tr.redFlag { font-weight: bold; }
</style>
<header class="page-header">{{vm.enableConditionMode ? 'Conditions' : 'Tasks'}}</header>

<div id="LoanListOptions" class="search-section padding-bottom-p16">
    <div>
        <span class="f-left display-tasks-page" ng-if="!vm.enableConditionMode">
            Display
            <tpo-select ng-model="vm.taskStatus"
                tpo-options="o.value as o.label for o in vm.taskStatusOptions"
                ng-change="vm.onTaskFilterChange()"></tpo-select>
        </span>
        <span class="f-left assigned-to-tasks-page">
            {{vm.enableConditionMode ? 'Conditions' : 'tasks'}} assigned to
            <tpo-select ng-model="vm.taskAssignedTo"
                tpo-options="o.value as o.label for o in vm.taskAssignedToOptions"
                ng-change="vm.onTaskFilterChange()"></tpo-select>
        </span>

        <span class="TaskMeter" style="float:left;">
            <div class="TaskMeter Gradient Parent" title="Number of items you have resolved or closed in the past week">
                <span ng-if="vm.percentResolvedTasks == null">Loading...</span>
                <div class="TaskMeter Gradient Child" ng-style="{width: vm.percentResolvedTasks+'%'}"></div>
            </div>
            <div class="TaskMeter Scale" title="Number of items you have resolved or closed in the past week"></div>
        </span>
    </div>

    <form ng-submit="vm.taskSearch()" class="text-right">
        <span class="label-pipeline">{{vm.enableConditionMode ? 'Condition' : 'Task'}} #</span>
        <input type="text" ng-model="vm.taskId" required class="input-w140" autocomplete="off">
        <span class="btn-search-tasks">
            <button type="submit" class="btn btn-default"
                ng-disabled="!vm.taskId">Search <i class="material-icons">&#xE8B6;</i></button></span>
    </form>
</div>

<table class="DataGrid TaskConditionGrid margin-bottom">
    <thead class="header"><tr>
        <th class="   checkbox-col"><div ng-mdc-checkbox ng-change="vm.selectAllTask($event)" ng-model="vm.allTasksSelected"></div></th>
        <th class="         id-col">{{vm.enableConditionMode ? 'Condition' : 'Task'}}</th>
        <th class="   category-col" ng-if="vm.enableConditionMode">
                                    <a sort-header sort-key="ConditionCategory" pvm="vm" active-class="text-bold">Category</a></th>
        <th class="    subject-col">Subject</th>
        <th class="     status-col" ng-if="!vm.enableConditionMode">Status</th>
        <th class="   loan-num-col stacked-header stacked-sort-cell">
            <div class="max-height-container task-condition-stacked-container"><div>Loan Number /</div><div>Borrower Name</div></div></th>
        <th class="   due-date-col"><a sort-header sort-key="TaskDueDate"          pvm="vm" active-class="text-bold">Due</a></th>
        <th class="  follow-up-col"><a sort-header sort-key="TaskFollowUpDate"     pvm="vm" active-class="text-bold">Follow-Up</a></th>
        <th class="   last-mod-col"><a sort-header sort-key="TaskLastModifiedDate" pvm="vm" active-class="text-bold">Last Updated</a></th>
        <th class="assigned-to-col stacked-header stacked-sort-cell">
            <div class="max-height-container task-condition-stacked-container"><div>Assigned To /</div><div>Owner</div></div></th>
    </tr></thead>
    <tbody><tr ng-repeat="task in vm.tasks | orderBy:vm.sortKey:vm.sortDesc track by task.TaskId"
               ng-class="{redFlag:(task.TaskDueDate_isPast || task.TaskFollowUpDate_isPast), selected:task.isSelected}">
        <td class="   checkbox-col"><div ng-mdc-checkbox ng-model="task.isSelected" ng-change="vm.selectTask(task, $event)"></div></td>
        <td class="         id-col"><a ng-click="vm.openTask(task)">{{task.TaskId}}</a></td>
        <td class="   category-col" ng-if="vm.enableConditionMode">{{task.ConditionCategory}}</td>
        <td class="    subject-col"><a ng-click="vm.openTask(task)" title="{{task.TaskSubject}}"><span>{{task.TaskSubject.slice(0,70)}}</span><span ng-if="task.TaskSubject.length > 70">&hellip;</span></a></td>
        <td class="     status-col" ng-if="!vm.enableConditionMode">{{task.TaskStatus_rep}}</td>
        <td class="   loan-num-col"><div><a ng-href="{{task.loanEditorUrl}}">{{task.LoanNumCached}}</a> /</div>
                                    <div>{{task.BorrowerNmCached}}</div></td>
        <td class="   due-date-col" ng-class="{'text-danger':task.TaskDueDate_isPast     }">{{task.TaskDueDate      | date:'M/d/yyyy'}}</td>
        <td class="  follow-up-col" ng-class="{'text-danger':task.TaskFollowUpDate_isPast}">{{task.TaskFollowUpDate | date:'M/d/yyyy'}}</td>
        <td class="   last-mod-col">{{task.TaskLastModifiedDate | date:'M/d/yyyy h:mm:ss a'}}</td>
        <td class="assigned-to-col"><div>{{task.AssignedUserFullName}} /</div>
                                    <div>{{task.OwnerFullName}}</div></td>
    </tr></tbody>
</table>

<div>
    <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected" ng-click="vm.assignTasks()" >Assign</button>
    <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected" ng-click="vm.setFollowupDate()" >Set Follow-up Date</button>
    <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected || vm.isExportingCsv" ng-click="vm.exportToCsv()">Export To CSV</button>
    <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected || vm.isExportingPdf" ng-click="vm.exportToPdf()">Export To PDF</button>
    <div class="d-inline" ng-if="vm.CurrentEmployee.TaskRelatedEmailOptionT == vm.E_TaskRelatedEmailOptionT.ReceiveEmail">
        <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected" ng-click="vm.subscribeTasks  ($event)">Subscribe</button>
        <button type="button" class="btn btn-default" ng-disabled="vm.noTaskSelected" ng-click="vm.unsubscribeTasks($event)">Un-subscribe</button>
    </div>
</div>

