<div class="panel">
    <div class="panel-body">
        <div class="clearfix">
            <span class="clipper">
                <a class="btn btn-primary" ng-click="vm.edit(null)">Add new</a></span>
            <span class="clipper">
                <button type="button" ng-click="vm.batchEdit()"
                    ng-disabled="vm.selectedPercent <= 0"
                    class="btn btn-default">Batch Edit</button></span>
        </div>
        <p></p>
        <form ng-submit="vm.reload()" class="form-label-noerror form-group-sm">
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group form-group-sm">
                        <label>Status:</label>
                        <select ng-model="vm.searchForm.active"
                                ng-options="o.v as o.t for o in vm.activeOptions"
                                 class="form-control"></select>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group form-group-sm">
                        <label>Description:</label>
                        <input ng-model="vm.searchForm.description"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group form-group-sm">
                        <label>Filename:</label>
                        <input ng-model="vm.searchForm.fileName"
                               type="text" autocomplete="on"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group form-group-sm">
                        <label>Login:</label>
                        <input ng-model="vm.searchForm.login"
                               type="text" autocomplete="username"
                               class="form-control">
                    </div>
                </div>

                <div class="col-sm-1">
                    <div class="form-group form-group-sm">
                        <label>&nbsp;</label>
                        <span class="clipper"><button type="submit" class="btn btn-primary btn-block">Search</button></span>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-condensed table-layout-fix">
            <thead>
                <tr>
                    <th class="col1"           ><input ng-click="vm.onSelectAll($event)" type="checkbox" checkbox-indeterminate="vm.selectedPercent"/></th>
                    <th class="col-edit"       ></th>
                    <th class="col-del"        ></th>
                    <th class="id"             ><a sort-handle="vm.entrySort" key="Id"               >ID                </a></th>
                    <th class="active-col"     ><a sort-handle="vm.entrySort" key="Active"           >Status            </a></th>
                    <th class="description"    ><a sort-handle="vm.entrySort" key="Description"      >Description       </a></th>
                    <th class="url"            ><a sort-handle="vm.entrySort" key="Url"              >URL               </a></th>
                    <th class="file-name"      ><a sort-handle="vm.entrySort" key="FileName"         >Filename          </a></th>
                    <th class="last-updated"   ><a sort-handle="vm.entrySort" key="dLastUpdated"     >Last Updated      </a></th>
                    <th class="last-successful"><a sort-handle="vm.entrySort" key="dLastSuccessfulDL">Last Successful DL</a></th>
                    <th class="last-result"    ><a sort-handle="vm.entrySort" key="LastDlResult"     >Last DL Result    </a></th>
                    <th class="error-count"    ><a sort-handle="vm.entrySort" key="ErrorCount"       >Error Count       </a></th>
                    <th class="conversion"     ><a sort-handle="vm.entrySort" key="Conversion"       >Conversion        </a></th>
                    <th class="bot-type"       ><a sort-handle="vm.entrySort" key="BotType"          >Bot Type          </a></th>
                    <th class="login"          ><a sort-handle="vm.entrySort" key="Login"            >Login             </a></th>
                    <th class="pass"           ><a sort-handle="vm.entrySort" key="Password"         >Password          </a></th>
                    <th class="empty-header"   ></th>
                    <!-- <th><a sort-handle="vm.entrySort" key="LastRatesheetTimestamp" >Last Ratesheet Timestamp </a></th> -->
                    <!-- <th><a sort-handle="vm.entrySort" key="Token"                  >Token                    </a></th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="e in vm.entries | orderBy:vm.entrySort.by:vm.entrySort.desc track by e.Id" ng-class="{info: e.isSelected}">
                    <td class="col1"           ><input type="checkbox" ng-model="e.isSelected" ng-change="vm.onEntrySelect()"/></td>
                    <td class="col-edit"       ><a ng-click="vm.edit(e)">edit</a></td>
                    <td class="col-del"        ><a ng-click="vm.delete(e)">delete</a></td>
                    <td class="id"              ng-bind="e.Id"></td>
                    <td class="active-col"     ><span ng-bind="e.Active ? 'T' : 'F'"></span></td>
                    <td class="description"    ><span ng-bind="e.Description" select-when-clicked         class="force-wrap"></span></td>
                    <td class="url"            ><a    ng-bind="e.Url" ng-href="{{e.Url}}" target="_blank" class="force-wrap"></a></td>
                    <td class="file-name"      ><span ng-bind="e.FileName"    select-when-clicked         class="force-wrap"></span></td>
                    <td class="last-updated"   ><span ng-bind="e.dLastUpdated      | date:'short'"        class="force-wrap" title="Last Updated"></span></td>
                    <td class="last-successful"><span ng-bind="e.dLastSuccessfulDL | date:'short'"        class="force-wrap" title="Last Successful DL"></span></td>
                    <td class="last-result"    ><span ng-bind="e.LastDlResult"                            class="force-wrap" title="Last DL Result"></span></td>
                    <td class="error-count"    ><span ng-bind="e.ErrorCount"                                                 title="Error Count"></span></td>
                    <td class="conversion"     ><span ng-bind="e.Conversion"   select-when-clicked        class="force-wrap" title="Conversion"></span></td>
                    <td class="bot-type"       ><span ng-bind="e.BotType"      select-when-clicked        class="force-wrap" title="Bot Type"></span></td>
                    <td class="login"          ><span ng-bind="e.Login"        select-when-clicked        class="force-wrap" title="Login"></span></td>
                    <td class="pass"           ><span ng-bind="e.Password"     select-when-clicked        class="force-wrap" title="Password"></span></td>
                    <!-- <td><span ng-bind="e.LastRatesheetTimestamp | date:'short'" class="force-wrap" title="Last Successful DL"></span></td> -->
                    <!-- <td><span ng-bind="e.Token"        select-when-clicked      class="force-wrap"></span></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>

<dl-editor ng2-var="vm.dlEditor" on-saved="vm.reload()"></dl-editor>
