<div class="modal fade"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-show="!vm.isBatchEdit">
                <span ng-hide="!vm.eEntry.Id">Modify</span>
                <span ng-show="!vm.eEntry.Id">Create</span>
                Download List Entry
            </span>
            <span ng-hide="!vm.isBatchEdit">
                Batch Edit Download List Entries
            </span>
        </h4>
    </div>
    <div class="modal-body">
        <form class="form-inline" ng-submit="vm.populateFields()">
            <div class="checkbox"><label>
                <input type="checkbox" ng-model="vm.isSetupChaseClient"/>
                Set Up Chase Client
            </label></div>
            <div class="form-group" ng-show="vm.isSetupChaseClient">
                <label class="sr-only">Client Code:</label>
                <input ng-model="vm.clientCode"
                       ng-required="vm.isSetupChaseClient" title="Please fill in a client code"
                       placeholder="Client Code"
                       type="text"
                       class="form-control input-sm"/>
            </div>
            <button type="submit" class="btn btn-default" ng-show="vm.isSetupChaseClient">Populate Fields</button>
        </form>
    </div>
    <form name="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event)" novalidate>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-hide="!vm.eEntry.Id">
                                <label>ID:</label>
                                <input ng-model="vm.eEntry.Id" readonly
                                    type="text"
                                    title="(auto generated)"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Description"/>
                                    Description:<span class="text-danger">*</span></label></div>
                                <input ng-model="vm.eEntry.Description"
                                    type="text" required autocomplete="on" maxlength="250"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Description"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Url"/>
                                    URL:<span class="text-danger">*</span></label></div>
                                <input ng-model="vm.eEntry.Url" name="Url"
                                    type="url" required autocomplete="url" maxlength="250"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Url"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.FileName"/>
                                    File Name:<span class="text-danger">*</span></label></div>
                                <input ng-model="vm.eEntry.FileName"
                                    type="text" required autocomplete="on" maxlength="500"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.FileName"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Active"/>
                                    Status:</label></div>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="vm.eEntry.Active" ng-value="true"
                                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Active"
                                    /> Active
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" ng-model="vm.eEntry.Active" ng-value="false"
                                        ng-disabled="vm.isBatchEdit && !vm.batToggle.Active"
                                    /> Inactive
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-condense" ng-show="vm.isBatchEdit">
                                <thead>
                                    <tr>
                                        <th class="col-sm-4">Id</th>
                                        <th class="col-sm-8">Description</th>
                                    </tr>
                                </thead>
                                <tbody class="editor-table-height">
                                    <tr ng-repeat="e in vm.entries | filter:{isSelected:true} track by e.Id">
                                        <td class="col-sm-4" ng-bind="e.Id"></td>
                                        <td class="col-sm-8 force-wrap" ng-bind="e.Description"></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group" ng-hide="!vm.eEntry.Id">
                                <label>Last Updated:</label>
                                <input ng-model="vm.eEntry.dLastUpdated" readonly
                                    type="date"
                                    class="form-control"/>
                            </div>
                            <div class="form-group" ng-hide="!vm.eEntry.Id">
                                <label>Last Successful Download:</label>
                                <input ng-model="vm.eEntry.dLastSuccessfulDL" readonly
                                    type="date"
                                    class="form-control"/>
                            </div>
                            <div class="form-group" ng-hide="!vm.eEntry.Id">
                                <label>Last Download Result:</label>
                                <input ng-model="vm.eEntry.LastDlResult" readonly
                                    type="text"
                                    class="form-control"/>
                            </div>
                            <div class="form-group" ng-hide="!vm.eEntry.Id">
                                <label>Error Count:</label>
                                <input ng-model="vm.eEntry.ErrorCount" readonly
                                    type="number"
                                    class="form-control"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Conversion"/>
                                    Conversion:</label></div>
                                <input ng-model="vm.eEntry.Conversion"
                                    type="text" maxlength="50"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Conversion"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.BotType"/>
                                    Bot Type:</label></div>
                                <input ng-model="vm.eEntry.BotType"
                                    type="text" maxlength="50"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.BotType"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.LastRatesheetTimestamp"/>
                                    Last Ratesheet Timestamp:</label></div>
                                <input ng-model="vm.eEntry.LastRatesheetTimestamp"
                                    type="date"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.LastRatesheetTimestamp"
                                    class="form-control"/>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Login"/>
                                    Login:</label></div>
                                <input ng-model="vm.eEntry.Login"
                                    type="text" maxlength="50"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Login"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Password"/>
                                    Password:</label></div>
                                <input ng-model="vm.eEntry.Password"
                                    type="text" maxlength="50"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Password"
                                    class="form-control"/>
                            </div>
                            <div class="form-group">
                                <div ng-class="{checkbox:vm.isBatchEdit}"><label>
                                    <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Token"/>
                                    Token:</label></div>
                                <input ng-model="vm.eEntry.Token"
                                    type="text" maxlength="200"
                                    ng-disabled="vm.isBatchEdit && !vm.batToggle.Token"
                                    class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div ng-class="{checkbox:vm.isBatchEdit}">
                            <label>
                                <input type="checkbox" ng-show="vm.isBatchEdit" ng-model="vm.batToggle.Note" /> Note:
                            </label>
                        </div>
                        <textarea ng-model="vm.eEntry.Note" ng-disabled="vm.isBatchEdit && !vm.batToggle.Note"
                            class="form-control no-resize" rows="25" maxlength="1000"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>
