<loading-icon ng-show="vm.showLoading">
    <div class="wrap-loading">
        <div class="loading-content">
			Loading pipeline...
			<br />
            <img class="img-loading" ng-src="../images/loading.gif">
        </div>
    </div>
</loading-icon>

<header class="page-header">
	<span id="PipelineReportTitle">{{::vm.ReportModel.Title}}</span>
	<span class="edit-pipeline-report-title" ng-if="vm.RetailMode">
		<a ng-click="vm.editReportTitle();"><i class="material-icons">&#xE254;</i></a>
	</span>
</header>
<div class="wrap-search padding-bottom-p8">
	<span class="label-pipeline">Show loans assigned to</span>
	<select ng-model="vm.reportScope" ng-options="s.Name for s in vm.availableReportScopes" ng-change="vm.runPipelineReport();"></select>
</div>
<div class="wrap-search padding-bottom-p8" ng-if="vm.userErrorMessage">
	{{vm.userErrorMessage}}
</div>
<div class="wrap-search padding-bottom-p8" ng-if="vm.ReportModel.TotalRecordCount == 0 && !vm.userErrorMessage">
	There are currently no loans captured by this pipeline view.
</div>
<div class="wrap-search padding-bottom-p8" ng-if="vm.ReportModel.TotalRecordCount > vm.ReportModel.MaxViewableRecords && !vm.userErrorMessage">
	Too many files -- displaying first {{::vm.ReportModel.MaxViewableRecords}}.
</div>
<table ng-repeat="table in vm.ReportModel.Tables track by $index" class="DataGrid LoanGrid PipelineReportGrid">
	<thead>
		<tr class="GridHeader">
			<th>&nbsp;</th>
            <th ng-repeat="column in table.Header track by $index" class="text-{{(table.Rows[0].Cells[$index].AlignRight ? 'right' : 'left')}}">
                <a sort-header sort-key="{{$index}}" pvm="vm" active-class="text-bold">{{column}}</a>
            </th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="row in table.Rows | orderBy:vm.orderTableRow.bind(vm):vm.sortDesc:vm.cellContentComparer.bind(vm) track by $index" class="GridItem HoverHighlight">
			<td class="edit-icon">
				<a ng-href="{{vm.getLoanEditorUrl(row)}}">
					<i class="material-icons">&#xE254;</i>
				</a>
			</td>
			<td ng-repeat="cell in row.Cells track by $index" class="text-{{(cell.AlignRight ? 'right' : 'left')}}">
				<span ng-if="($index != 0)">{{cell.Text}}</span>
				<a ng-if="($index == 0)" ng-href="{{vm.getLoanEditorUrl(row)}}">
					{{cell.Text}}
				</a>
			</td>
		</tr>
	</tbody>
	<tfoot ng-if="(table.CalculationTable != null)">
		<tr ng-repeat="row in table.CalculationTable.Rows track by $index">
			<td>&nbsp;</td>
			<td class="text-right" ng-repeat="cell in row.Cells track by $index">
				{{cell.Text}}
			</td>
		</tr>
	</tfoot>
</table>
