<%@ Page language="c#" Codebehind="LeadCreate.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.los.Lead.LeadCreate" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<html>
  <head>
    <title>LeadCreate</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="FlowLayout" bgcolor="gainsboro">
	<script language=javascript>
<!--
function _init() {

  document.forms[0].submit();
}
//-->
</script>

    <form id="LeadCreate" method="post" runat="server">
      <table width="100%" height="100%" border=0>
        <tr><td align=center valign=middle style="font-weight:bold;font-size:14pt">Please wait while creating new lead ...</td></tr>
      </table>

     </form>
	
  </body>
</html>
