﻿<div class="container-fluid">
    <header class="header">ARM Information</header>
    <div class="loan-info-padding-left">
        <div class="flex-space-between none-margin-bottom">
            <div class="flex-alignment flex-alignment-w-loan-info-section-1 padding-bottom-p16">
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>1st Adjustment Cap</label>
                                    <input type="text" id="sRAdj1stCapR" readonly="readonly" value="{{source.sRAdj1stCapR}}" class="medium" />
                                </div>
                                <div>
                                    <label>1st Change Months</label>
                                    <input type="text" id="sRAdj1stCapMon" readonly="readonly" value="{{source.sRAdj1stCapMon}}" class="small" /> months
                                </div>
                                <div>
                                    <label>Adjustment Cap</label>
                                    <input type="text" id="sRAdjCapR" readonly="readonly" value="{{source.sRAdjCapR}}" class="medium" />
                                </div>
                                <div>
                                    <label>Adjustment Period</label>
                                        <input type="text" id="sRAdjCapMon" readonly="readonly" value="{{source.sRAdjCapMon}}" class="small" /> months
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Lifetime Adjustment Cap</label>
                                    <input type="text" id="sRAdjLifeCapR" readonly="readonly" value="{{source.sRAdjLifeCapR}}" class="medium" />
                                </div>
                                <div>
                                    <label>Margin</label>
                                    <input type="text" id="sRAdjMarginR" readonly="readonly" value="{{source.sRAdjMarginR}}" class="medium" />
                                </div>
                                <div>
                                    <label>Index Name</label>
                                    <input type="text" id="sArmIndexNameVstr" readonly="readonly" value="{{source.sArmIndexNameVstr}}" class="large" />
                                </div>
                                <div>
                                    <label>Index Rate</label>
                                        <input type="text" id="sRAdjIndexR" readonly="readonly" value="{{source.sRAdjIndexR}}" class="medium" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Fully Indexed Rate</label>
                                    <input type="text" id="sFullyIndexedR" readonly="readonly" value="{{source.sFullyIndexedR}}" class="medium" />
                                </div>
                                <div>
                                    <label>Rate Floor</label>
                                    <input type="text" id="sRAdjFloorR" readonly="readonly" value="{{source.sRAdjFloorR}}" class="medium" />
                                </div>
                                <div>
                                    <label>Rounding Type</label>
                                    <select id="sRAdjRoundT" disabled="disabled" class="medium">
                                        <option ng-selected="source.sRAdjRoundT == 0">Normal</option>
                                        <option ng-selected="source.sRAdjRoundT == 1">Up</option>
                                        <option ng-selected="source.sRAdjRoundT == 2">Down</option>
                                    </select>
                                </div>
                                 <div>
                                    <label>Rounding Increment</label>
                                    <input type="text" id="sRAdjRoundToR" readonly="readonly" value="{{source.sRAdjRoundToR}}" class="medium" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-130">
                <div>
                    <div>
                        <label>Convertible Loan?</label>
                        <div class="convertible-loan-checkbox"><input type="checkbox" id="sIsConvertibleMortgage" disabled="disabled" ng-checked="source.sIsConvertibleMortgage" /><label for="sIsConvertibleMortgage"/></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
