﻿<div class="section container-fluid">
    <header class="header">Loan Information</header>
    <div class="loan-info-padding-left">
        <div class="table margin-bottom">
            <div>
                <div>
                    <label>Loan Program</label>
                    <input type="text" id="sLpTemplateNm" readonly="readonly" value="{{source.sLpTemplateNm}}" class="xl"/>
                </div>
                <div>
                    <label>Registered Loan Program</label>
                    <input type="text" id="sLpTemplateNmSubmitted" readonly="readonly" value="{{source.sLpTemplateNmSubmitted}}" class="xl" />
                </div>
                <div class="vertical-align-bottom" ng-show="shouldShowRegistrationCertificateLink()">
                    <a id="ViewRegistrationCertLink" href="#" ng-click="viewRegistrationCertificate();">view registration certificate</a>
                </div>
            </div>
        </div>
    </div>
    <header class="header">HELOC Information</header>
    <div class="loan-info-padding-left">
        <div class="flex-space-between">
            <div>
                <div>
                    <label>Lien Position</label>
                    <select id="sLienPosT" disabled="disabled" class="large">
                        <option ng-selected="source.sLienPosT == 0">First</option>
                        <option ng-selected="source.sLienPosT == 1">Second</option>
                    </select>
                </div>
                <div>
                    <label>Initial Rate</label>
                    <input type="text" id="sNoteIR" readonly="readonly" value="{{source.sNoteIR}}" class="medium" />
                </div>
                <div>
                    <label>Index Name</label>
                    <input type="text" id="sArmIndexNameVstr" readonly="readonly" value="{{source.sArmIndexNameVstr}}" class="large" />
                </div>
                <div>
                    <label>Fully Indexed DPR</label>
                    <input type="text" id="sDailyPeriodicFullyIndexR" readonly="readonly" value="{{source.sDailyPeriodicFullyIndexR}}" class="large" />
                </div>
                <div>
                    <label>HELOC Annual Fee</label>
                    <input type="text" id="sHelocAnnualFee" readonly="readonly" value="{{source.sHelocAnnualFee}}" class="large" />
                </div>
                <div>
                    <label>HELOC Termination Fee Period</label>
                    <input type="text" id="sHelocTerminationFeePeriod" readonly="readonly" value="{{source.sHelocTerminationFeePeriod}}" class="small" /> months
                </div>
            </div>
            <div>
                <div>
                    <label>Line Amount</label>
                    <input type="text" id="sCreditLineAmt" readonly="readonly" value="{{source.sCreditLineAmt}}" class="large" />
                </div>
                <div>
                    <label>Daily Periodic Rate</label>
                    <input type="text" id="sDailyPeriodicR" readonly="readonly" value="{{source.sDailyPeriodicR}}" class="large" />
                </div>
                <div>
                    <label>Index Rate</label>
                    <input type="text" id="sRAdjIndexR" readonly="readonly" value="{{source.sRAdjIndexR}}" class="medium" />
                </div>
                <div>
                    <label>Qualifying Rate</label>
                    <input type="text" id="sQualIR" readonly="readonly" value="{{source.sQualIR}}" class="medium" />
                </div>
                <div>
                    <label>HELOC Draw Fee</label>
                    <input type="text" id="sHelocDrawFee" readonly="readonly" value="{{source.sHelocDrawFee}}" class="large" />
                </div>
                <div>
                    <label>HELOC Termination Fee</label>
                    <input type="text" id="sHelocTerminationFee" readonly="readonly" value="{{source.sHelocTerminationFee}}" class="large" />
                </div>
            </div>
            <div>
                <div>
                    <label>Initial Draw</label>
                    <input type="text" id="sLAmtCalc" readonly="readonly" value="{{source.sLAmtCalc}}" class="large" />
                </div>
                <div>
                    <label>Initial Rate Term</label>
                    <input type="text" id="sRAdj1stCapMon" readonly="readonly" value="{{source.sRAdj1stCapMon}}" class="small" /> months
                </div>
                <div>
                    <label>Margin</label>
                    <input type="text" id="sRAdjMarginR" readonly="readonly" value="{{source.sRAdjMarginR}}" class="medium" />
                </div>
                <div class="col-heloc"></div>
                <div>
                    <label>HELOC Min. Advance Amount</label>
                    <input type="text" id="sHelocMinimumAdvanceAmt" readonly="readonly" value="{{source.sHelocMinimumAdvanceAmt}}" class="large" />
                </div>
                <div>
                    <label>HELOC Min. Payment</label>
                    <input type="text" id="sHelocMinimumPayment" readonly="readonly" value="{{source.sHelocMinimumPayment}}" class="large" />
                </div>
            </div>
            <div>
                <div>
                    <label>Term/Due (months)</label>
                    <input type="text" id="sTerm" readonly="readonly" value="{{source.sTerm}}" class="small" /> /
                    <input type="text" id="sDue" readonly="readonly" value="{{source.sDue}}" class="small" />
                </div>
                <div>
                    <label>Initial Rate Type</label>
                    <select id="sInitialRateT" disabled="disabled">
                        <option ng-selected="source.sInitialRateT == 0">&nbsp;</option>
                        <option ng-selected="source.sInitialRateT == 1">No Discount</option>
                        <option ng-selected="source.sInitialRateT == 2">Fixed Rate</option>
                        <option ng-selected="source.sInitialRateT == 3">Discount To Margin</option>
                    </select>
                </div>
                <div>
                    <label> Maximum Rate</label>
                    <input type="text" id="sRLifeCapR" readonly="readonly" value="{{source.sRLifeCapR}}" class="medium" />
                </div>
                <div class="col-heloc"></div>
                <div>
                    <label>HELOC Returned Check Fee</label>
                    <input type="text" id="sHelocReturnedCheckFee" readonly="readonly" value="{{source.sHelocReturnedCheckFee}}" class="large" />
                </div>
                <div>
                    <label>HELOC Min. Payment Percent</label>
                    <input type="text" id="sHelocMinimumPaymentPc" readonly="readonly" value="{{source.sHelocMinimumPaymentPc}}" class="medium" />
                </div>
            </div>
            <div>
                <div>
                    <label> Draw/Repay (months)</label>
                    <input type="text" id="sHelocDraw" readonly="readonly" value="{{source.sHelocDraw}}" class="small" /> /
                    <input type="text" id="sHelocRepay" readonly="readonly" value="{{source.sHelocRepay}}" class="small" />
                </div>
                 <div>
                    <label>Days in Year</label>
                    <input type="text" id="sDaysInYr" readonly="readonly" value="{{source.sDaysInYr}}" class="small" />
                </div>
                <div>
                    <label>Fully Indexed Rate</label>
                    <input type="text" id="sFullyIndexedR" readonly="readonly" value="{{source.sFullyIndexedR}}" class="medium" />
                </div>
                <div class="col-heloc"></div>
                <div>
                    <label>HELOC Stop Payment Fee</label>
                    <input type="text" id="sHelocStopPaymentFee" readonly="readonly" value="{{source.sHelocStopPaymentFee}}" class="large" />
                </div>
                <div class="col-heloc"></div>
            </div>
        </div>
    </div>
</div>
