﻿<div class="container-fluid margin-bottom">
    <header class="header">Loan Information</header>
    <div class="loan-info-padding-left">
        <div class="table">
            <div>
                <div>
                    <label>Loan Program</label>
                    <input type="text" id="sLpTemplateNm" readonly="readonly" value="{{source.sLpTemplateNm}}" class="input-w320"/>
                </div>
                <div>
                    <label>Registered Loan Program</label>
                    <input type="text" id="sLpTemplateNmSubmitted" readonly="readonly" value="{{source.sLpTemplateNmSubmitted}}" class="input-w320" />
                </div>
                <div class="vertical-align-bottom" ng-show="shouldShowRegistrationCertificateLink()">
                    <a id="ViewRegistrationCertLink" href="#" ng-click="viewRegistrationCertificate();">view registration certificate</a>
                </div>
            </div>
        </div>
        <div class="flex-space-between none-margin-bottom">
            <div class="flex-alignment flex-alignment-w-loan-info-section-1 padding-bottom-p16">
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Lien Position</label>
                                    <select id="sLienPosT" disabled="disabled" class="medium">
                                        <option ng-selected="source.sLienPosT == 0">First</option>
                                        <option ng-selected="source.sLienPosT == 1">Second</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Total Loan Amount</label>
                                    <input type="text" id="sFinalLAmt" readonly="readonly" value="{{source.sFinalLAmt}}" class="large" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Interest Rate</label>
                                    <input type="text" id="sNoteIR" readonly="readonly" value="{{source.sNoteIR}}" class="medium" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-130">
                <div>
                    <div>
                        <label>Term/Due (months)</label>
                        <input type="text" id="sTerm" readonly="readonly" value="{{source.sTerm}}" class="small" /> /
                        <input type="text" id="sDue" readonly="readonly" value="{{source.sDue}}" class="small" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-space-between none-margin-bottom">
            <div class="flex-alignment flex-alignment-w-loan-info-section-1 padding-bottom-p16">
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Amortization Type</label>
                                    <select id="sFinMethT" disabled="disabled" class="medium">
                                        <option ng-selected="source.sFinMethT == 0">Fixed</option>
                                        <option ng-selected="source.sFinMethT == 1">ARM</option>
                                        <option ng-selected="source.sFinMethT == 2">Graduated</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Days in Year</label>
                                    <input type="text" id="sDaysInYr" readonly="readonly" value="{{source.sDaysInYr}}" class="small" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="flex-alignment-sub">
                        <div class="col-xs-12">
                            <div>
                                <div>
                                    <label>Qualifying Rate</label>
                                    <input type="text" id="sQualIR" readonly="readonly" value="{{source.sQualIR}}" class="medium" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-130">
                <div>
                    <div>
                        <label>Interest Only Months</label>
                        <input type="text" id="sIOnlyMon" readonly="readonly" value="{{source.sIOnlyMon}}" class="small" /> months
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
