.combobox {
    z-index: 100;
    cursor: default;
    border-right: black 1px solid;
    padding-right: 1px;
    border-top: black 1px solid;
    padding-left: 1px;
    z-index: 100;
    border-left: black 1px solid;
    cursor: default;
    border-bottom: black 1px solid;
    background-color: white;
    display: block;
    max-height: 18em;
    overflow: auto;

}
.combobox tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
    word-wrap: break-word;
}
.combobox_select
{
    font-size: 14px;
}
.combobox_unselect
{
    font-size: 14px;
}

