﻿
/*Task List's Header CSS*/
.warp{ width:100%; display:block; overflow:auto; font-size:13px; font-family:Verdana, Arial, Helvetica, Sans-Serif;}
.warp{ background:#495b79; width:100%; border-width:0px;}
/*.warp  td{ padding-top:15px;}*/
.CloseContainer  { display:inline; float:left; text-align:center; background:url(../images/line-horizontial-header.gif) no-repeat top right;}
.warp  .span1-header{ text-align:center; line-height:35px; padding-top:0; padding-right:20px;}
.warp  .span1-header a{  padding-left:20px; color:#85c7ff; }
.warp  .span1-header a:hover{ color:#85c7ff; text-decoration: underline;}

.warp  .span2-header{ line-height:35px; display:inline-block; padding-left:20px;}
.warp  .span2-header span{ color:#c0c0c0;}
.warp  .span2-header span.title{ color:#fff;}

.warp  .span3-header{  line-height:35px; display:inline-block; padding-left:20px;}
.warp  .span3-header span{ color:#c0c0c0;}
.warp  .span3-header span.title{ color:#fff;}

