﻿.NoMargin
{
    margin: 0px;
}

.CertificateHeader
{
    font-size: 13px;
    color: #fff;
    background: #495b79;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-weight: bold;
}
