﻿.left-right-picker .column {
    float: right;
}

.left-right-picker .column-label {
    margin-bottom: 10px;
}

.left-right-picker .left-column {
    float: left;
    margin-left: 1%;
}

.left-right-picker .center-column {
    text-align: center;
    width: 145px;
    margin-top: 4.5em;
}

.left-right-picker .right-column {
    margin-left: 1%;
    margin-right: 1%;
}

.left-right-picker .select-box select {
    height: 200px;
    width: 300px;
}

.left-right-picker-clear {
    clear: both;
}

.left-right-picker button {
    width: 125px;
    margin-bottom: 0.5em;
}

.left-right-picker .remove-button {
    margin-bottom: 1.5em;
}
