﻿/* 
    Some pages add top padding to provide additional aesthetics. Since
    the header should be at the top of the page, however, we'll need to
    override that setting for any pages that use the header.
*/
body#MainBody {
    padding-top: 0;
}

div#LoanHeaderPopup {
    display: none;
}

/* Common to both headers */
div.generic-framework-clear {
    clear: both;
    height: 0;
}

div.generic-framework {
    margin-bottom: 10px;
}

div.generic-framework-center {
    display: block;
    text-align: center;
}

div.generic-framework-right {
    float: right
}

div.generic-framework > div {
    padding-bottom: 10px;
    display: inline-block;
    padding-right: 25px;
}

div.generic-framework > div.vendor-right:last-child {
    padding-right: 0;
}

div.generic-framework a {
    text-decoration: none;
}

div.generic-framework a:hover {
    text-decoration: underline;

    /* Set to default link color and behavior to prevent unintended changes on bootstrap pages. */
    cursor: pointer;
}

div.generic-framework a, div.generic-framework input[type=button] {
}

a[disabled] {
    color: gray !important; 
    cursor: not-allowed !important;
}

.no-wrap {
    white-space: nowrap;
}

.BlockMask {
    width: 100%;
    height: 100%;
    z-index: 200; 
    opacity: .3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30); 
    background-color: #333333; 
    opacity: .3;
    position:fixed;
    top: 0;
    left: 0;
}