﻿html,body {
    /* When updating the value for this variable, also update $successColor in MasterVariables.scss */
    --mdc-theme-primary: #4CAF50;
}
.mdc-checkbox.mdc-ripple-upgraded.mdc-ripple-upgraded, .mdc-radio.mdc-ripple-upgraded.mdc-ripple-upgraded {
    --mdc-ripple-fg-opacity: 1;
}
/* highlight animation for IE only */
.mdc-checkbox__native-control.mdc-checkbox__native-control:focus ~ .mdc-checkbox__background.mdc-checkbox__background::before {
      -webkit-transform: scale(2.15, 2.15);
              transform: scale(2.15, 2.15);
}
.mdc-radio__native-control.mdc-radio__native-control:focus + .mdc-radio__background.mdc-radio__background::before {
    -webkit-transform: scale(1.6, 1.6);
          transform: scale(1.6, 1.6);
}
