﻿.display-table {
    display: table;
}

.center {
    text-align: center;
}

.align-top {
    vertical-align: top;
}

#PricingResultsContainer #LoadingMessage, #PricingResultsContainer #ResultsContainer pricing-results-directive {
    border: none;
}
#PricingResultsContainer {
    width: 600px;
    min-width: 600px;
}
table {
    width: 100%;
}
textarea {
    height: 150px;
}
#NoResultsMsg, #LoadingMessage {
    text-align: center;
    padding-top: 250px;
}
.non-qm-container {
    margin: 25px;
}
.credit-score-field {
    width: 35px;
}
.loan-amount {
    width: 100px !important; /* !important is needed to override the money textbox behavior */
}
.selectedRate {
    white-space: pre-line;
}