﻿$default-text: #2b2b2b;
$warning-color: #F00;
$row-alternating-color: #def;
$row-ineligible-alternating-color: #ffd7d7;
$row-insufficient-alternating-color: #ffe2c6;
$header-color: #f93;
$disabled-color: #565656;

a {
    text-decoration: none;
}

#SelectedCodesPopup {
    z-index: 11;
}


body, td, label, #MainTable, #PipelineTable, div.LoanFilePricer label, div.OrderCredit label {
    color: $default-text;
}

.animate.ng-hide {
    display: block !important;
    opacity: 0;
    max-height: 0px;
}

.animate {
    opacity: 1;
    max-height: auto;
    overflow: hidden;
    transition: all .5s linear;
}

.results-btn-container {
    text-align: center;
}

form {
   margin-left: auto;
   margin-right: auto;
}

.mask:before {
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.content-container {
    margin: 0;

    .table {
        display: table;
    }

    .table-row {
        display: table-row;
    }

    .table-row > div {
        display: table-cell;
        float: none;
        vertical-align: top;
    }

    .left-panel {
       width: 380px;
       min-width: 380px;
       max-width: 380px;
    }

    .right-panel {
       width: 100%;
       padding-left: 0;
       width: auto;
       .container {
        margin-bottom: 8px;
       }

       #ResultsFilterTable {
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3px;
        }
    }
}

.dynamicrow {
    max-width: 1600px;
    //$minimum-resolution - $scrollbar-width - (padding-left + padding-right) - $navigation-collapse
    min-width: 1280px - 17px - 20px - 32px;
    width:100%;
}
.row
{
    width: 100%;
    max-width: 1600px;
    min-width: 1280px - 17px - 20px - 32px;
}

#ResultsContainer {
    display: none;
}

#ResultsContainer + #LoadingMessage {
    margin-top: .5em;
}

#LoadingMessage {
    display: none;
    text-align: center;
    font-weight: bold;
    height: 400px;
    width: 100%;
    background-color: white;
    border: 1px solid gainsboro;
    position: relative;

    .message-container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.unavailable-pricing-actions {
    margin-top: 10px;
}

.popup.no-permission {
    max-width: 500px;
}

.permission-reasons {
    list-style-position: inside;
}

.permission-message {
    display: inline-block;
    margin-bottom: 10px;
}

#PricingResultsContainer, #PricingResultsContainer1, #PricingResultsContainer2 {
    padding-top: 0;
    min-height: 400px;
    position: relative;
    margin-bottom: 5.5px;
    min-width: 851px;

    pricing-results-directive {
        background-color: white;
        display: block;
        padding: .5em;
        border: 1px solid gainsboro;

        + pricing-results-directive, #ResultsContainer + #LoadingMessage {
            margin-top: .5em;
        }
    }

    .results-legend {
        text-align: right;
        float: right;
        padding-bottom: 5px;
    }

    .exception-links {
        padding: 5px;
        float: left;
    }

    .expired-example {
        color: $warning-color;
    }

    pricing-results-container {
        display: block;
    }

    label {
        color: $default-text;
    }

    .arrow {
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }

    .arrow-down {
        border-top: 8px solid black;
    }

    .arrow-up {
        border-bottom: 8px solid black;
    }

    .worst-rates-toggle {
        color: blue;
        cursor: pointer;
    }

    .representative-rate .result-row + .result-row .expand-toggle {
        display: none;
    }

    .expand-toggle {
        white-space: nowrap;
        cursor: pointer;
    }

    .nowrap {
        white-space: nowrap;
    }

    .select-option-link {
        white-space: nowrap;
        min-width: 55px;
        display: inline-block;
    }

    .disqualified {
        color: $warning-color;
        font-style: italic;
    }

    .disqual-icon {
        width: 20px;
        height: 20px;
        margin-right: -3px;
    }

    .group {
        padding-top: 8px;
    }

    .group:not(:first-child) {
        margin-top: 8px;
        border-top: 1px solid gray;
    }

    .group-name-container {
        padding-left: 5px;
        cursor: pointer;
    }

    .group-name {
        font-size: 14px;
        font-weight: bold;
    }

    .pricing-results-table:not(:last-child) {
        border-bottom: 2px solid $header-color;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }

    .program {
        padding-bottom: 5px;
    }

    .program:nth-child(odd), .merge-group:nth-child(odd) {
        background-color: $row-alternating-color;
    }

    .merge-group .winner-container:nth-child(odd) {
        background-color: white;
    }

    .merge-group .winner-container:nth-child(even) {
        background-color: $row-alternating-color;
    }

    .collapsed {
        display: none;
    }

    .ineligible .program:nth-child(odd), .ineligible .merge-group:nth-child(odd) {
        background-color: $row-ineligible-alternating-color;
    }

    .insufficient .program:nth-child(odd), .insufficient .merge-group:nth-child(odd) {
        background-color: $row-insufficient-alternating-color;
    }

    .section-header {
        margin: 0;
        font-size: 1.2em;
        color: $header-color;
        padding: 3px;
        padding-bottom: 16px;
        clear: both;
    }

    .table-divider {
        border-color: $header-color;
        border-width: 2px;
    }

    .result-row.header.showBreakEven {
        height: 42px;
    }

    .result-row.expired {
        .rate-col, .price-col, .payment-col, .apr-col, .point-col {
            color: $warning-color;
        }
    }

    .result-row.header {
        height: 45px;
        border-bottom: 1px solid black;

        > div:first-child {
            font-weight: bold;
            padding-right: 3px;
            vertical-align: middle;
            text-align: left;
            position: relative;
            color: $header-color;
            font-size: 1.2em;

            h4 {
                position: absolute;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);
                padding: 3px;
            }
        }

        > div:not(:first-child) {
            background-color: gainsboro;
            border: 1px solid black;
            border-bottom: none;
            border-left: none;
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &.qm-col {
                justify-content: center;
            }
        }
    }



    .months-col, .closing-costs-col, .cash-to-close-col {
        a[disabled] {
            color: $default-text !important;
            text-decoration: none;
        }
    }

    a[disabled] {
        color: $disabled-color !important;

        &:hover {
            text-decoration: none;
        }
    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }

    .arrow-icon {
        width: 16px;
        height: 16px;
    }

    .result-row .toggle-container {
        display: inline-block;
        margin-top: 0;
        margin-right: 5px;
        padding: 0;
        padding-left: 5px;
        float: left;
    }

    .toggle-img {
        font-weight: bold;
    }

    .toggle-container {
        margin-top: 5px;
        padding-left: 40px;
        cursor: pointer;
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .pricing-flag {
        float: left;
        width: 16px;
        height: 16px;
        padding-top: 2px;
    }

    .worst-case .result-row:not(:last-child) {
        border-bottom: 1px solid black;
    }

    .zero-income .dti-col {
        font-weight: bold;

        a:before {
            content: '**';
        }
    }

    .result-row {
        width: 100%;
        margin: 0 !important;
        display: -ms-flexbox;
        display: flex;

        &.historical.paired {
            border-bottom: none;
        }

        &:not(.header) > div {
            line-height: 20px;
        }


        > div {
            -ms-flex: 1 0 46px;
            flex: 1 0 46px;
            padding: 3px;
            box-sizing: border-box;
            border-right: 1px solid black;
            text-align: right;
            letter-spacing: -0.05em;

            &:first-child {
                -webkit-flex: 1 0 165px;
                -ms-flex: 1 0 165px;
                flex: 1 0 165px;
                padding-left: 0;

                a {
                    display: inline-block;
                }

                a:not(:last-child) {
                    margin-right: 0;
                    padding-right: 2px;
                }

                .workflow-reason-link {
                    margin-left: -4px;
                }
            }

            &:last-child {
                border-right: 1px solid transparent;
            }

            &.rate-col {
                -ms-flex: 1 0 46px;
                flex: 1 0 46px;
            }

            &.points-col, &.point-col {
                -ms-flex: 1 0 54px;
                flex: 1 0 54px;
            }

            &.price-col {
                -ms-flex: 1 0 54px;
                flex: 1 0 54px;
            }

            &.payment-col {
                -ms-flex: 1 0 64px;
                flex: 1 0 64px;
            }

            &.qual-rate-col {
                -ms-flex: 1 0 46px;
                flex: 1 0 46px;
            }

            &.margin-col {
                -ms-flex: 1 0 46px;
                flex: 1 0 46px;
            }

            &.dti-col {
                -ms-flex: 1 0 70px;
                flex: 1 0 70px;
            }

            &.apr-col {
                -ms-flex: 1 0 46px;
                flex: 1 0 46px;
            }

            &.qm-col {
                text-align: center;
                -ms-flex: 1 0 28px;
                flex: 1 0 28px;
                position: relative;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.violate-max-dti {
                font-weight: bold;

                a:before {
                    content: '**';
                }
            }

            &.closing-costs-col {
                -ms-flex: 1 0 87px;
                flex: 1 0 87px;
            }

            &.cash-to-close-col {
                -ms-flex: 1 0 87px;
                flex: 1 0 87px;
            }

            &.months-col {
                -ms-flex: 1 0 58px;
                flex: 1 0 58px;
            }

            &.preview-col {
                overflow: hidden;
                text-align: left;
                text-overflow: ellipsis;
                white-space: nowrap;
                -ms-flex: 1 1 300px;
                flex: 1 1 300px;
                max-width: 380px;
            }

            @media all and (-ms-high-contrast: none) {
                &:first-child {
                    flex-basis: calc(164px - 8px);
                }

                &.rate-col {
                    flex-basis: calc(46px - 8px);
                }

                &.points-col, &.point-col {
                    flex-basis: calc(54px - 8px);
                }

                &.price-col {
                    flex-basis: calc(54px - 8px);
                }

                &.payment-col {
                    flex-basis: calc(64px - 8px);
                }

                &.qual-rate-col {
                    flex-basis: calc(46px - 8px);
                }

                &.margin-col {
                    flex-basis: calc(46px - 8px);
                }

                &.dti-col {
                    flex-basis: calc(70px - 8px);
                }

                &.apr-col {
                    flex-basis: calc(46px - 8px);
                }

                &.qm-col {
                    flex-basis: calc(28px - 8px);
                }

                &.closing-costs-col {
                    flex-basis: calc(87px - 8px);
                }

                &.cash-to-close-col {
                    flex-basis: calc(87px - 8px);
                }

                &.months-col {
                    flex-basis: calc(58px - 8px);
                }

                &.preview-col {
                    flex: 100%;
                }
            }
        }
    }

    .indent-small {
        padding-left: 20px;
    }

    .program-name {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }

    .program-name-full {
        font-size: 12px;
        font-weight: bold;
    }

    .minor-details {
        padding-top: 5px;
    }

    .denial-reasons {
        padding-left: 20px;
    }
}

.popup .ui-dialog-titlebar {
    display: none;
}

.ui-dialog.ui-widget-content, .ui-dialog .ui-widget-content {
    background-color: white;
}

.popup {
    display: none;
    max-width: 700px;
    min-width: 300px;
}

.popup-table
{
    border-collapse: collapse;
    margin: 0 auto;

    thead{
        background-color: #AAA;
        font-weight: bold;
    }

    tr:nth-child(even){
        background-color: #DDEEFF;
    }

    td, th{
        border: 1px solid black;
        padding: 3px;

        &.sub-row-indent {
            padding-left: 20px;
        }
    }

    margin-bottom: 10px;
}

.popup.disqual-reason-popup {
    min-width: 0;
}

.disqual-reason-desc {
    white-space: pre-wrap;
}

.cash-to-close-table
{
    border: 1px solid black;

    th, td{
        border: none;
    }
}

.total-rows td{
    border: none;

}

.popup-table .total-rows tr {
    background-color: transparent;

    &:last-child td:not(:first-child):not(:last-child) {
        border-top: 1px solid black;
    }
}

.calculation-explanation {
    vertical-align: middle;
    clear: both;
    margin-top: 10px;

    > div {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 3px;

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.no-rates, .error {
    color: $warning-color;
    padding: 5px;

    .eligible {
        font-weight: bold;
    }
}

// PML 3.0 fit to 1280
.pml-body-v3 {
    .content-detail .warp-section {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 5px;
        max-width: 1600px; 

        .fourcol {
            .container {
                padding-right: 8px;
            }
        }
        .padding-left-credit {
            padding-left: 1em;
        }
        #oCreditBtn {
            width: 150px;
        }
        .select-option {
            a[disabled] {
                cursor: pointer !important;
            }
        }
    }
}
