﻿.QuickPricerResultGroupName
{
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 0px none;
	font-weight:bold;
	color:Black;
	background-color:#e2e2e2;
}
.QuickPricerResultItem td, .QuickPricerResultAltItem td
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: right;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
}
.QuickPricerResultItemHeader td
{
    font-family : Verdana, Arial, Helvetica, sans-serif;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: center;
	padding-right: 3px;
	padding-left: 30px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
    background-color: #e2e2e2;
    font-weight:bold;
}

.QuickPricerResultItem
{
    background-color:#DDEEFF;

}

.QuickPricerResultAltItem
{
    background-color:White;
}

.QuickPricerWaitingIndicator
{
    margin:20px;
    padding:20px;
}
.Timestamp
{
    font-size : xx-small;
}
.QuickPricerError {
    color:Red;
    font-weight:bold;
}
.QuickPricerRateExpired td {
    color:Red;
}

.QuickPricerPanel, .QuickPricerResultPanel {
	border:1px solid #fff;
    padding:10px; 
    margin:0 auto;
    font-family:verdana,georgia, sans-serif;
}


.QuickPricerFieldSet, .QuickPricerResultFieldSet {
    font-size:12px; 
	display:block; 
    color:#565656; 
    border-top : solid 1px #ff9933;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding:5px; 
	  
    margin-bottom:0.5em; 
    line-height:1.5em;
}

.LegendSectionHeader {
    font-size:16px; 
    font-weight:bold; 
    color:#ff9933;  
    margin-bottom:5px; 
    padding:3px; 

}

.QuickPricerAdjustmentPanel {
    background-color: White;
    border: solid 2px black;
    padding: 10px;
    position: absolute;
    width: auto;
}

.QuickPricerPanel fieldset p 
{
	font-family:verdana,georgia, sans-serif; font-size:12px; color:#565656;
}

.QuickPricerPanel label 
{
	font-family:verdana, arial, sans-serif;clear:left; display:block;  float:left; width:150px; text-align:right; padding-right:10px; color:#565656; margin-bottom:0.5em; font-size:12px; font-weight:normal;
}

.QuickPricerPanel p 
{
	color:#565656; font-size:12px; width:350px; display:block;  padding:5px; font-family:verdana, sans-serif; margin-bottom:0.5em; line-height:1.5em;
}

.QuickPricerPanel input text
{
	border:1px solid #6699cc; padding-left:0.5em; font-size:11px; text-align:right;
}

.QuickPricerPanel input#checkbox
{
	border:none;
}

.QuickPricerPanel select
{
	margin-left:0em; font-size:11px;
}

.QuickPricerPanel span.normal label
{
	clear:both; display:inline;  float:none; width:auto; padding-right:0px;
}

.QuickPricerPanel label.left
{
	width:90px;
}

.QuickPricerFieldSet td
{ 
	padding-left: 0.5em;
}

.QuickPricerFieldSet th span
{
	font-family: Verdana,Arial;
	font-size: 12px;
	font-weight: bold; 
	color: #565656;
}

.bold td
{
	font-weight:bold;
}

.padLeft
{
	padding-left:2em;
}

.centerAlign
{
	text-align:center;
	padding-top:4px;
}


.ineligibleSectionHeader
{
  font-weight:bold;
  color:#ff9933;
}

.ineligibleList .name
{
  font-weight:bold;
}
.ineligibleList .reason
{
  padding-left:10px;
  font-size:11px;
  width:100%;
}
.ineligibleList
{
  list-style-type:none;
  margin-left:0;
  padding-left:0;
}

.ineligibleList li
{
  padding-top: 5px;
}


