﻿select {
    margin-right: 0;
}

.LoanFormHeader{
    font-size: 14px;
    background-color: #495b79;
    color: white;
    padding: 4px;
}

.field-set {
    border: #495b79 1px solid;
    margin: 10px 9px 10px 9px;
    padding: 20px;
}

.field-set > legend {
    color: #495b79;
    font-size: 14px;
    padding: 0 5px;
    margin: 0 0 0 -5px;
    width: auto;
    border: 0;
}

.bottomButtons {
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 0;
}

.evenGridRow {
    background-color: rgba(0, 0, 0, .05);
}

.Error {
    color: darkred;
    font-weight: bold;
}

.Success {
    color: green;
}

.table td:nth-child(1)
{
    width: 25%;
}

.table td:nth-child(3)
{
    width: 30%;
}

.instructions
{
    margin-top: 1em;
    margin-bottom: 1em;
}

.bold
{
    font-weight: bold;
}

.FormTableHeader
{
    font-size: 11px;
    padding: 5px;
    color: white;
    background-color: #003366;
    font-weight: bold;
}

.SubmissionStatus
{
    font-size: 20px;
    margin: 10px;
    font-weight: 500;
}

.light-overlay
{
    background-color: rgba(255, 255, 255, .75);
}

.SubmissionMessage
{
    text-align: center;
}

.indented
{
    margin-left: 20px;
}

.smalltext
{
    font-size: 9px;
}

.ng-cloak
{
    display: none !important;
}
