@import url("Tabs.css");

body
{
    font-size: 11px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
.FormTable
{
	
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	font-size: 9pt;
	padding-bottom: 05px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: black;

	font-family: Arial, Helvetica, sans-serif;
	background-color: gainsboro;
}
.TabStrip
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
.FormTableHeader
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #003366;
}
.IneligibleProductTableHeader
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C00000;
}
.FormTableHeader1
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3D689C;
}
.FormTableSubheader
{
    font-weight: bold;
	font-size: 12px;
	color: navy ;
	font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}
INPUT
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
TEXTAREA
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap !important;
}
SELECT
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.mask 
{
    font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;

}
.GroupTable
{
    border-right: 2px groove;
    padding-right: 5px;
    border-top: 2px groove;
    padding-left: 5px;
    border-left: 2px groove;
    border-bottom: 2px groove;
}
.LoanFormHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    background-color: gray;
    text-align: center;
}
.LoanForm
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.NavigationLink
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 5px;
    margin-left: 2px;
    color: white;
    margin-right: 2px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    text-align: left;
}

.NavigationSelectedLink
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 5px;
    margin-left: 2px;
    color: white;
    margin-right: 2px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    text-align: left;
}

.FieldLabel
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.Header
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: navy;
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-right: navy 1px solid;
	border-bottom: navy 1px solid;
}
.HeaderNav
{
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-right: navy 1px solid;
	border-bottom: navy 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
	font-size: 12px;
	color: white;
    BACKGROUND-COLOR: black;
}
TABLE
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
A
{
	color: Blue ;
}
A:hover
{
    color: orange ;
	text-decoration: underline;
}
A:link
{
	color: Blue ;
}
A:vlink
{
	color: Blue ;
}
/* 
    OPM 225521, 9/11/2015, ML
    This style rule will force IE, regardless of version, to gray out
    disabled items and prevent the pointer-style cursor from displaying 
    when hovering over a disabled item. See http://stackoverflow.com/q/792194.
*/
*[disabled]
{
    color: gray !important; 
    cursor: default !important;
}
.GridHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;    
}

/*For OPM 21455 : In IE, the background-color hides the border for floating table header row. So setting this property for the contained tables cells instead*/
.GridHeader td,.GridHeader th
{           
    background-color:  #999999;
}        
.GridFooter
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.GridFooter td
{
    background-color: dimgray;
}
.GridItem
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.GridAlternatingItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: #CCCCCC ;
}
.GridSelectedItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: yellow ;
}
.ListTable
{
    border-right: navy 1px solid;
    padding-right: 5px;
    border-top: navy 1px solid;
    padding-left: 5px;
    font-size: 11px;
    padding-bottom: 5px;
    border-left: navy 1px solid;
    color: black;
    padding-top: 5px;
    border-bottom: navy 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
OPTION
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
SELECT
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

INPUT.MoneyInput
{
    text-align: right;
}

.Portlet
{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin: 5px;
    color: #ffffff;
    padding-top: 2px;
}
.PortletHeader
{
    font-weight: bold;
	color: #FFCC00;   
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;	 
    
}

A.PortletLink
{
	color: white ;
	text-decoration: none;
	font-weight: normal;
}
A.PortletLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
}
A.PortletLink:link
{
	color: white ;    
}
A.PortletLink:vlink
{
	color: white ;    
}

.12 {
	font-size: 12px;
}
.footer {
	color: #FFFFFF;
}
.lrnav {
	color: #FFFFFF;
	list-style-type: square;
	list-style-image: url(../images/bullet.gif);
}
.white {
	color: #FFFFFF;
}
.treenav {
	color: #FFFFFF;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	right: 0px;
}
UL
{
    margin-left: 15px;
}

.Bullet
{
    list-style-image: url(../images/bullet.gif);
    margin-left: 15px;
}
.bgcolor1 {
	background-color: #003366;
	color: #FFFFFF;


}
.bgcolor2 {
	background-color: #000000;
	color: #FFFFFF;
}
.bgcolor3 {
	background-color: #36A800;
}

.bgcolor4 {
	background-color: #003366;
}
.LoanProgramHeader
{
    font-weight: bold;
    color: black;
    background-color: #afcae4;
}
.IneligibleLoanProgramHeader
{
	font-weight: bold;
	color: black;
	background-color: #ee9898;
}
A.LoanProgramLink
{
	color: black ;
	text-decoration: none;
	font-weight: bold;
}
A.LoanProgramLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
	font-weight: bold;
	
}
A.LoanProgramLink:link
{
	color: black ;    
	font-weight: bold;
	
}
A.LoanProgramLink:vlink
{
	color: black ;    
	font-weight: bold;
	
}
.Test
{
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
}

#SaveMsg
{
    border-right: blue 1px solid;
    padding-right: 5px;
    border-top: blue 1px solid;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    z-index: 100;
    visibility: hidden;
    padding-bottom: 5px;
    border-left: blue 1px solid;
    width: 100px;
    color: black;
    padding-top: 5px;
    border-bottom: blue 1px solid;
    font-family: Verdana, Arial;
    position: absolute;
    height: 50px;
    background-color: palegoldenrod;
    text-align: center;
}
#LoadMsg
{
    visibility : hidden;
    border-right: blue 1px solid;
    padding-right: 5px;
    border-top: blue 1px solid;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    z-index: 100;
    padding-bottom: 5px;
    border-left: blue 1px solid;
    width: 100px;
    color: black;
    padding-top: 5px;
    border-bottom: blue 1px solid;
    font-family: Verdana, Arial;
    position: absolute;
    height: 50px;
    background-color: palegoldenrod;
    text-align: center;
}

.DiscSubjectUnread
{
	font-weight:bold;
}

.DiscSubjectRead
{
}
/*
		Active = 0,
		Done = 1,
		Suspended = 2,
		Cancelled = 3
*/
.DiscStatusActive
{
    color: Black;
}
.DiscStatusDone
{
	color: Gray;
}

.DiscStatusSuspended
{
	color: Gray;
}
.DiscStatusCancelled
{
	color: Gray;
	text-decoration: line-through;
}

/*
	High = 0,
	Normal = 1,
	Low = 2
*/
.DiscPriorityHigh
{
	color:Red;
}
.DiscPriorityNormal
{
	color:Black;
}
.DiscPriorityLow
{
	color:Black;
}

.DiscDue
{
	color:Red;
}
.DiscDueNot
{
	color: Black;
}

.DiscNotifAlert
{
	color:Red;
}
.DiscNotifAlertNot
{
	color: Black;
}
.DiscTrackNotifIsReadNoNotifValidNo
{
  color:Gray;
  font-weight:bold;
}

.DiscTrackNotifIsReadNoNotifValidYes
{
  font-weight:bold;
}

.DiscTrackNotifIsReadYesNotifValidNo
{
  color:Gray;
}

.DiscTrackNotifIsReadYesNotifValidYes
{
}
.InsetBorder
{
    border-right: thin groove;
    padding-right: 3px;
    border-top: thin groove;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 3px;
    border-left: thin groove;
    padding-top: 3px;
    border-bottom: thin groove;
}
/* Stylesheet for calendar widget. */
@import url("calendar-win2k-cold-2.css");
/* Stylesheet for combobox widget. */
@import url("combobox.css");

/* The install certificates popup*/
.NoMargin
            {
                margin:0px;
            }
            
            .CertificateHeader
            {
                font-size: 13px;
                color: #fff;
                background: #495b79;
                font-family: Arial, Helvetica, sans-serif;
                padding:5px;
                
                font-weight:bold;
            }
h4.page-header, div.ui-dialog-titlebar.ui-widget-header {
    background-color: darkred;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 2px solid black;
    color: white;
    padding: 5px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin:0;
    text-align: left;
    line-height: normal;
}

.expand-w-content {
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}
