/* Stylesheet for calendar widget. */
@import url("calendar-win2k-cold-2.css");

/* Stylesheet for combobox widget. */
@import url("combobox.css");

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.GridFooter
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

body.NotPML ul.tabnav
{
    font-weight:normal;
    font-size:13px;
}
body.NotPML A:hover{
}
body.NotPML tr > td > a > span[style="color: red;"]:hover
{
    border-bottom-color:#EA1C0D;
	text-decoration: underline;
}

.SubHeader, .Subheader 
{
    color: #ff9933;
    font-weight: bold;
    font-size: 14px;    
}

.FieldValue 
{
    font-family: Courier;
	font-weight: bolder;    
}

.EligibleProgramHeader 
{
    padding-left:10px;
    padding-top:5px;
    background-color:#C7D2EF;
    color:#565656;
    font-weight: bold;    
}
.EligibleLeftPanel 
{
    padding-top:5px;
    padding-left:10px;
    background-color:#E4ECF8;
    
}
.EligibleTable
{
    border-right: #003399 1px solid;
    border-top: #003399 1px solid;
    border-left: #003399 1px solid;
    border-bottom: #003399 1px solid;
    background-color: #003399;
}
.EligibleMainHeader
{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
    background-color: #003399;
}
.EligibleRateGridHeader
{
    color:#565656;
    background-color: #EEF3FB;
    font-weight:bold;
}
.EligibleRateGridItem 
{
    background-color:White;
    font-weight:bold;
}
.EligibleRateGridAlternatingItem 
{
   background-color: #e2e2e2;
   font-weight:bold;
}
.EligibleItemBackground, .ElBg
{
    background-color:#DDEEFF;
}
.EligibleAlternatingItemBackground,  .ElAltBg
{
}
.IneligibleProgramHeader 
{
    padding-left:10px;
    background-color:#FFB7B7;
    color:#565656;
    font-weight: bold;    
}
.IneligibleLeftPanel 
{
    padding-top:5px;
    padding-left:10px;
    background-color:#FFD2D2;

}

.IneligibleMainHeader 
{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
    background-color: #FF0000;
}
.IneligibleTable
{
    background-color: #FF0000;
    border:  #FF0000 1px solid;
   
}
.IneligibleRateGridHeader
{
    background-color: #FFECEC;
    font-weight:bold;
    color:#565656;
}
.IneligibleRateGridItem 
{
    background-color:White;
    font-weight:bold;
}
.IneligibleRateGridAlternatingItem 
{
   background-color: #e2e2e2;
   font-weight:bold;
}
.IneligibleItemBackground, .IneBg
{
    background-color:#FFD7D7;
}
.IneligibleAlternatingItemBackground, .IneAltBg
{
}
.IneligibleReason 
{
    border:1px #FF0000 solid;
    font-family:Courier;
    font-weight:bolder;
    padding:5px;
    background-color:#FFECEC
}
.InsufficientTable 
{
    background-color:#FF9900;
    border: 1px #FF9900 solid;
}
.InsufficientProgramHeader 
{
    padding-left:10px;
    background-color:#FFD79B;
    color:#565656;
    font-weight: bold;    
}
.InsufficientLeftPanel 
{
    padding-top:5px;
    background-color:#FFE7C1
}
.InsufficientMainHeader 
{
    padding-right: 5px;
    padding-left: 5px;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
    padding-top: 5px;
    background-color: #FF9900;
    
}
.InsufficientItemBackground 
{
    background-color: #FFE2C6;
}
.InsufficientAlternatingItemBackground 
{
    background-color: White;
}
.InsufficientReason 
{
    border:1px #FF9900 solid; 
    padding:5px;
    font-family:courier;
    font-weight:bold;
    background-color:#FFF2DD;
}
.LoanResultGroup
{

}
.ReviewInfoTable
{
    border-right: black 1px solid;
    padding-right: 5px;
    border-top: black 1px solid;
    padding-left: 5px;
    padding-bottom: 5px;
    border-left: black 1px solid;
    padding-top: 5px;
    border-bottom: black 1px solid;
}
.ClickableImage 
{
    cursor:pointer;
}
.ErrorMessage 
{
    font-size: 14px;
    color:#EA1C0D;
}

.RequireValidatorMessage
{
    color:#EA1C0D;
    font-size:14px;
    font-weight:bold;
}
.LeftBorder {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #999999;
}
.ResultProductName, .PrdNm 
{
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 0px none;
	font-weight:bold;
}
.ResultProductType 
{
	font-size: 12px;
	word-spacing: -0.1em;
	color: #FF9933;
	font-weight: bold;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
	border: none;
    
}
.ResultHeader 
{
	font-size: 16px;
	color: #FF9933;
	font-weight: bolder;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
    
}
.SectionHeader 
{
	font-size: 18px;
	color: #FF9933;
	font-weight: bolder;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 0px;
    
}
.RateItem, .Ritm, .ri {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: right;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 1px solid #999999;
}
.ri1 {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: left;
	padding-right: 0px;
	padding-left: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 1px solid #999999;
}
.rie 
{
    /* Expired Rate. Copy style from .ri and only modify color to red. */
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: right;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 1px solid #999999;
	color:#EA1C0D;
    
}
.RateItemHeader 
{
    	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: center;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 1px solid #999999;
    background-color: #e2e2e2;
    font-weight:bold;
}

.qri {
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : xx-small;
	line-height: normal;
	letter-spacing: -0.1em;
	margin: 0px;
	text-indent: 0pt;
	text-align: right;
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
}
.LoanSummaryItem 
{
	border: 1px solid #CCCCCC;
	text-indent: 2px;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.LoanSummaryBackgroundColor 
{
    background-color:#6699cc;
}
.TopHeaderBackgroundColor 
{
    background-color:#006699;    
}
.WaitMessageLabel 
{
    font-weight:bold;
    font-size:18pt;
    cursor:wait;
    color:Black;
}
.RateItem_Col0, .c2  
{
    /* "Go to 2nd"/"submit" link */
    width:250px;
}
.RateItem_Col1 
{
    /* Rate */
    width:65px;
}
.RateItem_Col2 
{
    /* Point */
    width:60px;
}
.RateItem_Col3 
{
    /* APR */
    width:45px;
}
.RateItem_Col4 
{
    /* Margin */
    width:80px;
}
.RateItem_Col5 
{
    /* Payment */
    width:85px;
}
.RateItem_Col6 
{
    /* Term */
    width:45px;
}
.RateItem_Col7 
{    
    /* Due */
    width:45px;
}
.RateItem_Col8 
{
    /* Top */
    width:55px;
}
.RateItem_Col9 
{
    /* Bottom */
    width:55px;
}
.RateItem_Col10
{
	/* Teaser Rate */
	width:60px;
}
.RateItem_ColA0, .c0 
{
	/* Preview Link */
    width:110px;
    padding-top:5px;
}
.RateItem_ColA1, .c1  
{
	/* "View More" box */
    width:100px;
    padding-top:0px;
    
}
.RateItem_ColA 
{
    width:120px;
}
.RateItem_TableWidth 
{
/* ColA0 + ColA1 + Col0 + Col1 + Col2 + Col5 */
    width:770px; 
}
.MergeGroupName 
{
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 5px;
	border: 0px none;
	font-weight:bold;
	color:Black;
}

.ViolateDti
{
    font-weight: bold;
}

ul#MainTable, ul#PipelineTable {
    display: block;
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 0;
    padding-left: 5px;
    margin: 0;
    float:left;
  
}
ul#MainTable {
    width: 200px;
}

ul#MainTable li
{
	margin:25px 0px;
	list-style-type:none;
}
.PropertyInfoPanel {
	border:1px solid #fff;
    width:420px; 
    padding:10px; 
    margin:0;
    font-family:verdana,georgia, sans-serif;
}

.PropertyInfoPanel fieldset{
    font-size:12px; 
    width:600px; 
	display:block; 
    color:#565656; 
    border-top : solid 1px #ff9933;
    border-bottom: none;
    border-right: none;
    border-left: none;
    padding:5px; 
    margin-bottom:0.5em; 
    line-height:1.5em;
}

.PropertyInfoPanel legend {
    font-size:16px; 
    font-weight:bold; 
    color:#ff9933;  
    margin-bottom:5px; 
    padding:3px; 

}
.PropertyInfoPanel fieldset p 
{
	font-family:verdana,georgia, sans-serif; font-size:12px; color:#565656;
}

.PropertyInfoPanel label 
{
	font-family:verdana, arial, sans-serif;
	clear:left; 
	display:inline-block;  
	width:215px; 
	text-align:right; 
	padding-right:10px; 
	color:#565656; 
	margin-bottom:0.5em; 
	font-size:12px; 
	font-weight:normal;
}

.PropertyInfoPanel p 
{
	color:#565656; font-size:12px; width:600px; display:block;  padding:5px; font-family:verdana, sans-serif; margin-bottom:0.5em; line-height:1.5em;
}


.PropertyInfoPanel input {
    margin-left: 0; 
    padding-left: 0;
}
.PropertyInfoPanel input text
{
	border:1px solid #6699cc; padding-left:0.5em; font-size:11px; text-align:right;
}

.PropertyInfoPanel select
{
	margin-left:0em; font-size:11px;
}

.PropertyInfoPanel textarea
{
	width:410px;
	height:15em; 
	border:1px solid #6699cc; 
	padding:0.5em; 
	overflow:auto; 
}

.PropertyInfoPanel .normal label
{
	clear:both; display:inline;  float:none; width:auto; padding-right:0px;
}
.PropertyInfoPanel .nomargin label 
{
    margin-bottom: 0px !important;
}

.PropertyInfoPanel .nomargin input 
{
    line-height: 1.5em;
    vertical-align: middle;
}

.PropertyInfoPanel input.thirdPartyBtn
{
	color:#000; 
	font-weight:bold; 
	padding-right:0.5em; 
	cursor:pointer;
}

.LoanListOptions a{
    display: block;
    clear: both;
    margin-bottom: 3px;
}
.LoanListOptions {
    padding-top: 0.5em;
    padding-left: 20px;
    font-size: 88%;
    display:none;
}

a.HelpLink {
    font-weight: bold;
    color: #ff9933 !important;
    text-decoration: none;
}
.InvalidTextareaLength { color: #EA1C0D; font-weight: bold; }

/* 
    Heavily modified css from http://unraveled.com/publications/assets/css_tabs/
    Original Author: Joshua Kaufman
*/
.Tabs {
    padding: 0; 
    margin: 0;
}

ul#MainTable, ul#PipelineTable { 
    list-style-type: none;
    
}
ul.tabnav {
    text-align: left; /* set to left, right or center */
    margin: 1em 0 0 0; /* set margins as desired */
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    border-bottom: 1px solid #aaaaaa; /* set border COLOR as desired */
    list-style-type: none;
    padding: 3px 10px 3px 0px; /* THIRD number must change with respect to padding-top (X) below */
    list-style-type: none;

}

ul.tabnav li { /* do not change */
display: inline;
}

ul.tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #AAAAAA; /* set border COLOR as desired; usually matches border color specified in #tabnav */
color: #000000; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
background-color:#EEEEEE;

   
}

ul.tabnav a:hover { /* settings for hover effect */
color: #fff;
text-decoration: none;
}
ul.tabnav .selected a:hover {
    color: #000;
}

ul.tabnav li.selected { /* settings for selected tab */
border-bottom: 1px solid #FFFFFF; /* set border color to page background color */
background-color: #fff; /* set background color to match above border color */
}


ul.tabnav li.selected a { /* settings for selected tab link */
background-color: #fff; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}


#LQBPopupDiv {
    display: none;
    background-color:White; 
    display: none; 
    text-align: center;
    overflow:hidden;
    box-sizing: border-box;
}

#LQBPopupElement {
    height: 100%;
    display: none;
}
    
.BlockMask
{
    width: 100%;
    height: 100%;
    z-index: 200; 
    opacity: .3;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30); 
    background-color: #333333; 
    opacity: .3;
    position:fixed;
    top: 0;
    left: 0;

}

#LQBPopupDiv.ChildVisible
{
    overflow:hidden;
}

#LQBPopupDiv.ChildVisible input
{
    display:none;
}

#LQBPopupDiv iframe
{
    position:relative;
    width: 100%;
    height: 100%;
    margin: 0; 
    border: 0; 
}
  
#LQBPopupDiv input 
{ 
    margin: 0 auto; 
    margin-top: 5px;  
    position:relative;
    z-index: 199;
    bottom:3px
}




a{ outline:none; }
.dashboardLink{ background:#495b79 !important; color:#fff !important; }
/* Sidebar */
.sidebar{
	width: 200px;
	float: left;
	display: block;
	color: #495b79;
	position: relative;
}

.sidebar .sidebar-dropdown{
	display: none;
}

.sidebar .sidebar-dropdown a{
	color: #fff !important;  
	box-shadow: inset 0px 0px 1px #000;
	background-color: #3D3D3D;
  padding:6px;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  display: block;
  border-top: 2px solid #666;
  border-bottom: 1px solid #333;
  
}

a[disabled] {
    color: gray !important; 
    cursor: not-allowed !important;
}

/*This css affects the both the task and condition viewer/editors */
/*start pop up window*/
.subject-title{ font-size: 18px;
padding-left: 15px;
text-align: left;
font-weight: normal;
color: #000;}

.bg-subheader{background:#495b79; height:40px; width:100%; line-height:40px;}
.bg-subheader2{background:#495b79; height:40px; line-height:40px;}
.pu-window{ width:100%; margin:0 auto;}
.pu-window .tb-pu{ width:100%;}
.pu-window .tb-pu .title-pu{ background:#495b79; height:40px;}
.pu-window .tb-pu .title-pu a{ color:#85c7ff; font-size:12px; text-decoration:none; margin-right:15px;}
.pu-window .tb-pu .title-pu a:hover{ text-decoration:underline;}
.pu-window .tb-pu tr.des-pu{ background:#f5f5f5; }
.pu-window .tb-pu tr.des-pu td{ padding:15px; border-top:#d8d8d8 1px solid; border-bottom:#d8d8d8 1px solid;}
.pu-window .tb-pu tr.des-pu td span{ line-height:15px;}
.pu-window .tb-pu tr.des-pu td span strong{ color:#fe7f0e; font-weight:normal;}
.pu-window .tb-pu tr.des-pu td span i{ color:#000; font-style:normal;}
.pu-window .tb-pu td a{ text-decoration:none;}
.pu-window .tb-pu td a:hover{ text-decoration:underline;}
.pu-window .tb-pu td.subcribe{ padding-left:15px;}
.pu-window .tb-pu td.btn-edit{ padding-left:120px;}
.pu-window .tb-pu td.orange-color{ color:#fe7f0e;}

.pu-window div.des-pu-edit{ background:#f5f5f5; padding:15px; border-top:#d8d8d8 1px solid; border-bottom:#d8d8d8 1px solid; line-height:15px; color:#565656;}
.pu-window div.des-pu-edit strong{ color:#fe7f0e; font-weight:normal;}
.pu-window div.des-pu-edit i{ color:#000; font-style:normal;}
.pu-window .SubHeader {color:#fff; font-size: 13px; font-weight:normal; padding-left:15px; }

.ViewerBody {margin:0px; margin-bottom:10px;}	

.InfoContainer
{
    display:inline;
    height:100%;
    margin: 20px 0px;
}

.DialogPopup
{
    text-align:center;
    display:none;
}

/*End of Task List's Header CSS*/

.emphasized-text {
    font-weight: bold;
}

.required, .warning {
    color: #EA1C0D; // red color class text-danger
}

.supplementary-info {
    font-size: 12px;
}

.center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

textarea {
	resize: vertical;
}

.PaddingTop {
    padding-top: 10px;
}