 /*past css*/
 
        .BarcodeDDL, .DocTypeName
        {
            display:block;
        }
        
        .DocMagicBar {  display:none;  background-color: #FFFFCC; padding: 5px; }
        .DocMagicBar ul { list-style: none; margin: 0 auto; display: block; width: 250px;}
        
	    .DocMagicTable { padding: 5px; overflow:auto; width:500px;  height: 180px; border:3px inset black; top: 200px;  margin-left: 32px; left: 0; right: 0;  display: none; position: absolute; background-color : white;

	    }
        .DocMagicTable table  { width: 97%; }
        .DocMagicTable a { text-align: center;  display: block; margin: 0 auto; }
        #blackbg { background-color: Black; overflow: auto; }
        
        body{width:100%; height:100%; overflow:visible !important;}
        form{width:100%; height:100%; overflow:visible !important;}
        .FileUpload:hover{cursor:pointer;}
        .FileUpload[disabled]:hover{cursor:default;}
        div#LoanNavEdocsDiv {  }

/* CSS Document */

body{ background:#fff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; margin:0; padding:0; line-height:18px;}
a{ outline:none; text-decoration:none;}
a:hover{text-decoration:underline;}
.warp{ width:100%; height:100%;}
.warp .header{ height:50px; background:#495b79; padding:0 20px; white-space:nowrap; width:100%; border-width:0px;}
/*.warp .header td{ padding-top:15px;}*/
.warp .header .td1-header { background:url(../images/line-horizontial-header.gif) no-repeat top right;}
.warp .header .span1-header{ float:left; padding-left:20px; margin-right:20px; line-height:50px; padding-top:0;}
.warp .header .span1-header a{ color:#85c7ff; }
.warp .header .span1-header a:hover{ text-decoration: underline;}

.warp .header .span2-header{ float:left;width:18%; margin-right:0.4%; padding-left:20px;}
.warp .header .span2-header span{ color:#c0c0c0;}
.warp .header .span2-header span.title{ color:#fff;}

.warp .header .span3-header{ float:left;width:30%; margin-right:0;}
.warp .header .span3-header span{ color:#c0c0c0;}
.warp .header .span3-header span.title{ color:#fff;}

/* Style for tabs */
.tabs { margin-top:1.5em; white-space:nowrap; height:90%; width: 100%; }

.tabs > ul a.selected {
  background:#fff;
  border-bottom:1px solid #fff;
  border-top:1px solid #418bca;
  cursor:default;
  }
  
.tabs > .content-tabs{ padding:30px 20px;}
.tabs > #tab1{ }
.tabs > #tab1 .note-tab1{ margin-bottom:10px; white-space:nowrap;}

.tb-tabs{ border-collapse:collapse; margin-bottom:15px; width:100%;}
.tb-tabs thead{ font-weight:bold; font-size:13px; }
.tb-tabs thead th{ text-align:left; border:1px solid #d8d8d8; padding:10px;}

.tb-tabs tbody tr.grey-bg{ background:#f5f5f5;}
.tb-tabs td{ border:1px solid #d8d8d8; padding:10px; }
.tb-tabs td p{ margin-bottom:10px;}
.tb-tabs td table{}
.tb-tabs td table td{ border:none; padding:0;}

.tb-tabs td a{ color:#f00;}
.tb-tabs td input{ width:80%;}
.tb-tabs td select{ width:90%;}
.tb-tabs td textarea{ width:100%; background-color: rgb(211, 211, 211); min-height:57px;}

.counter{ color:#808080; margin-top:5px;}
#LQBPopupDiv {
	background-color: White;
	border: 4px solid black;
	display: none;
	overflow: hidden;
	text-align: center;
}
#LQBPopupDiv.ChildVisible { overflow: hidden; }

#LQBPopupDiv.ChildVisible input { display: none; }

#LQBPopupDiv iframe {
	border: 0;
	height: 100%;
	margin: 0;
	position: relative;
	width: 100%;
}

#LQBPopupDiv input {
	bottom: 3px;
	margin: 0 auto;
	margin-top: 5px;
	position: relative;
	z-index: 199;
}

textarea {
	resize: vertical;
}
.DescriptionCol{white-space:normal;}
.DocTypeCol{white-space:normal;}
