﻿/* 
    Heavily modified css from http://unraveled.com/publications/assets/css_tabs/
    Original Author: Joshua Kaufman
*/
.Tabs {
    background-color :Gainsboro;
    padding: 0; 
    margin: 0;
    overflow: hidden;
}

ul.tabnav {
    text-align: left; /* set to left, right or center */
    margin: 1em 0 0 0; /* set margins as desired */
    font: bold 11px verdana, arial, sans-serif; /* set font as desired */
    border-bottom: 1px solid black; /* set border COLOR as desired */
    list-style-type: none;
    padding: 3px 10px 3px 10px; /* THIRD number must change with respect to padding-top (X) below */
    background-color: Gainsboro;

}

ul.tabnav li { /* do not change */
display: inline;
}

ul.tabnav li a { /* settings for all tab links */
padding: 3px 4px; /* set padding (tab size) as desired; FIRST number must change with respect to padding-top (X) above */
border: 1px solid #000; /* set border COLOR as desired; usually matches border color specified in #tabnav */
background-color: #777; /* set unselected tab background color as desired */
color: #fff; /* set unselected tab link color as desired */
margin-right: 0px; /* set additional spacing between tabs as desired */
text-decoration: none;
border-bottom: none;
}

ul.tabnav a:hover { /* settings for hover effect */
color: #fff;
text-decoration: none;
}
ul.tabnav .selected a:hover {
    color: #000;
}

ul.tabnav li.selected { /* settings for selected tab */
border-bottom: 1px solid gainsboro; /* set border color to page background color */

}


ul.tabnav li.selected a { /* settings for selected tab link */
background-color: gainsboro; /* set selected tab background color as desired */
color: #000; /* set selected tab link color as desired */
position: relative;
top: 1px;
padding-top: 4px; /* must change with respect to padding (X) above and below */
}




