<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success">
            <table class="table table-striped">
                <thead><tr>
                    <th></th>
                    <th                   ><a sort-handle="vm.browserUSort" key="Version">Version </a></th>
                    <th class="text-right"><a sort-handle="vm.browserUSort" key="Users"  >Users   </a></th>
                    <th class="text-right"><a sort-handle="vm.browserUSort" key="Percent">Percent </a></th>
                    <th></th>
                </tr></thead>
                <tbody><tr ng-repeat="e in vm.entry.versionUsage | orderBy:vm.browserUSort.by:vm.browserUSort.desc track by e.Version">
                    <td></td>
                    <td                   ><span ng-bind="e.Version" select-when-clicked></span></td>
                    <td class="text-right"><span ng-bind="e.Users  " select-when-clicked></span></td>
                    <td class="text-right"><span ng-bind="e.Percent" select-when-clicked></span> %</td>
                    <td></td>
                </tr></tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="panel panel-info">
            <table class="table table-striped">
                <thead><tr>
                    <th></th>
                    <th                   ><a sort-handle="vm.osUSort" key="os">OS </a></th>
                    <th class="text-right"><a sort-handle="vm.osUSort" key="userCount">Users</a></th>
                    <th></th>
                </tr></thead>
                <tbody><tr ng-repeat="e in vm.entry.osUsage | orderBy:vm.osUSort.by:vm.osUSort.desc track by e.os">
                    <td></td>
                    <td                   ><span ng-bind="e.os"        select-when-clicked></span></td>
                    <td class="text-right"><span ng-bind="e.userCount" select-when-clicked></span></td>
                    <td></td>
                </tr></tbody>
            </table>
        </div>
    </div>
</div>

<p class="text-center">Number of active   users = <span ng-bind="vm.entry.totalActive"  ></span></p>
<p class="text-center">Number of inactive users = <span ng-bind="vm.entry.totalInactive"></span></pclass="text-center">
