request-for-insurance {
    .panel {
        min-width: 87em;
        .title {
            margin-bottom: 1.5em;
        }
        .table-checkbox > div > div {
            padding-bottom: 0;
        }
        .table-property-mortgage-information > div > div:first-child {
            width: 6em;
        }
    }
}
