request-for-appraisal {

    .panel {
        min-width: 87em;
        .shadow {
            margin-bottom: 1.5em;
        }
        .shadow section {
            border-radius: 0px;
            border: none;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
            padding: 15px;
        }
        .flex-vertical {
            margin-right: 1.5em;
        }
        .wrap-radio-buttons {
            margin-right: 3em;
        }
        .property-mortgage-information {
            margin-bottom: 1.5em;
        }
        .names-of-borrowers {
            margin-top: 1.5em;
        }
        .title {
            margin-bottom: 1.5em;
        }
        .due-date {
            width: 9em;
        }
        .address {
            width: 10.15em;
        }
        .table-request > div > div:first-child {
            width: 12em;
        }
    }
}