request-for-title {

    .panel {
        min-width: 89em;
        .title {
            margin-bottom: 1.5em;
        }
        .property-mortgage-information {
            margin-bottom: 1.5em;
        }
        .table-request > div > div:first-child {
            width: 10em;
        }
        .table-title-commitment > div > div:first-child {
            width: 10em;
        }
    }
}