survey-request {

    .panel-survey-request {

        min-width: 65.5em;
        .shadow {
            border-radius: 0px;
            border: none;
            box-shadow: 0 3px 3px 0 rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
            padding: 15px;
        }
        .title {
            margin-bottom: 1.5em;
        }
        .table-survey-request > div > div:first-child {
            width: 10em;
        }
        .table-checkbox > div > div {
            padding-bottom: 0;
        }
        .space {
            width: 15em;
        }
        .form-control-city-surveyrequest {
            width: 26.35em;
        }
        .medium-text {
            width: 32em;
        }
    }
}