<div class="container">
  <div class="row">
    <div ng-show="vm.errorMessage" class="alert alert-error alert-dismissible" role="alert">
    <button type="button" class="close" ng-click="vm.closeError()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error:</strong>{{vm.errorMessage}}
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <form id="stageForm" runat="server" onsubmit="return customOnSubmit();">
          <div class="form-group ">
                <span   class="clipper">
                  <input type="button"  ID="CreateBtn" class="btn btn-primary" value="Add New"  ng-click="vm.add()" />
                </span >
             </div>
          <div id="loansTable">
            <table class="table table-striped table-condensed table-layout-fix">
              <thead><tr>
                <th class="sca-edit"></th>
                <th class="sca-delete"></th>
                <th  class="Key"><a sort-handle="vm.entrySort" key="Key">Key</a></th>
                <th class="Desc"><a sort-handle="vm.entrySort" key="Desc">String</a></th>
                <th class="sca-integer text-right"><a sort-handle="vm.entrySort" key="Integer">Integer</a></th>
                <th class="sca-onwer"><a sort-handle="vm.entrySort" key="Owner">Owner</a></th>
                <th class="sca-createdate text-right"><a sort-handle="vm.entrySort" key="CreatedDate">Created Date</a></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="e in vm.entries | orderBy:vm.entrySort.by:vm.entrySort.desc">
                      <td><a ng-click="vm.edit(e)" ng-attr-title="{{e.Key}}" class="btn btn-link">edit</a></td>
                      <td><a ng-click="vm.delete(e)" ng-attr-title="{{e.Key}}" class="btn btn-link">delete</a></td>
                      <td><span ng-bind="e.Key" select-when-clicked></span></td>
                      <td><span ng-bind="e.Desc" select-when-clicked></span></td>
                      <td class="text-right"><span ng-bind="e.Integer" select-when-clicked></span></td>
                      <td><span ng-bind="e.Owner" select-when-clicked></span></td>
                      <td class="text-right"><span ng-bind="e.CreatedDate | date:'MM/dd/yyyy hh:mm:ss a'" select-when-clicked></span></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
    <stage-constant-editor ng2-var="vm.stageEditor" on-saved="vm.reload()"></stage-constant-editor>

  </div>
</div>


