<div id="editEntryModal" class="modal fade v-middle"><div class="modal-dialog modal-lg"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">
            <span ng-attr-title="vm.entry.Key">
                <span ng-hide="vm.editMode">Create</span>
                <span ng-show="vm.editMode">Edit</span>
                Stage Config
            </span>
        </h4>
    </div>
    <form name="editEntryForm" class="form-group-sm form-adjust-mb" ng-submit="vm.save($event) ">
        <div class="modal-body">
            <div class="form-group">
                <label>Key:<span ng-hide="vm.editMode" class="text-danger">*</span></label>
                <input ng-model="vm.entry.Key"
                    type="text"  ng-disabled="vm.editMode" required
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>String:</label>
                <textarea  ng-model="vm.entry.Desc"
                    type="text" 
                    class="form-control" rows="5" TextMode="multiline"/>
            </div>

            <div class="form-group">
                <label>Integer:</label>
                <input ng-model="vm.entry.Integer"
                    type="number" 
                    class="form-control"/>
            </div>

            <div class="form-group">
                <label>Owner:</label>
                <input ng-model="vm.entry.Owner"
                    type="text" 
                    class="form-control"/>
            </div>
        </div>
        <div class="modal-footer">
            <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
            <span class="clipper"><button type="submit" ng-disabled="vm.isPending" class="btn btn-primary">Save</button></span>
        </div>
    </form>
</div></div></div>