<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>I. REQUEST</h5>
        </div>
        <div class="panel-body">
            <section class="flex">
                <section><header class="title">Insurance Company Agent</header>
                    <div class="table">
                        <!-- <uc:CFM name=CFM1 runat="server" Type="15" AgentNameField="InsuranceName"
                        PhoneField="InsurancePhone" FaxField="InsuranceFax" CellPhoneField="InsuranceCell"
                        EmailField="InsuranceEmail" CompanyNameField="InsuranceCompany" StreetAddressField="InsuranceAddress"
                        CityField="InsuranceCity" StateField="InsuranceState" ZipField="InsuranceZip"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone  </label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].Phone"      ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].FaxNum"     ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Cell   </label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].CellPhone"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].EmailAddr"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>       
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.HazardInsurance[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>     
                </section>

                <section><header class="title">From</header>
                    <div class="table">
                        <!-- <uc:CFM name=CFM2 runat="server" Type="22" AgentNameField="RequestOfInsurancePreparerName"
                            AgentTitleField="RequestOfInsuranceTitle" PhoneField="RequestOfInsurancePhone"
                            FaxField="RequestOfInsuranceFaxNum" CompanyNameField="RequestOfInsuranceCompanyName"
                            EmailField="RequestOfInsuranceEmailAddr" StreetAddressField="RequestOfInsuranceStreetAddr"
                            CityField="RequestOfInsuranceCity" StateField="RequestOfInsuranceState" ZipField="RequestOfInsuranceZip"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Attn </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.PreparerName" ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Title</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.Title"        ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.Phone"        ></lqb-input>
                                <label> Fax </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.preparerFields.RequestOfInsurance.FaxNum"       ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Email  </label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.EmailAddr"    ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.CompanyName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.StreetAddr" placeholder="Street"   ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.RequestOfInsurance.City" placeholder="City" ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.State" placeholder="State"        ></lqb-input>
                                <lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.Zip" placeholder="ZIPCode"          ></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Date        </label></div>
                            <div><lqb-input lqb-model="vm.loan.preparerFields.RequestOfInsurance.PrepareDate"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Lender's Number</label></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sLenderCaseNum"></lqb-input>
                                <lqb-input lqb-model="vm.loan.fields.sLenderCaseNumLckd"                      ></lqb-input>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default"> 
        <div class="panel-heading">
            <h5>II. PROPERTY AND MORTGAGE INFORMATION</h5>
        </div>
        <div class="panel-body">
            <section>
                <div class="table">
                    <div>
                        <div><label>Property Type</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpT"      ></lqb-input></div>
                        <div><label>Loan Purpose</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLPurposeT"></lqb-input></div>
                        <div><label>Lien Position</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLienPosT" ></lqb-input></div>
                    </div>
                </div>

                <div><p><label>Property Address</label></p></div>
                <div class="table table-property-mortgage-information">
                    <div>
                        <div><label>Street      </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpAddr" placeholder="Street"     maxlength="60"></lqb-input></div>
                        <div><label>Sales Price </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sPurchPrice"               ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>City</label></div>
                        <div>
                            <lqb-input class="form-control form-control-city" lqb-model="vm.loan.fields.sSpCity" placeholder="City"></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpState" placeholder="State"                  ></lqb-input>
                            <lqb-input lqb-model="vm.loan.fields.sSpZip" placeholder="ZIPCode"                    ></lqb-input>
                        </div>
                        <div><label>Replacement Value</label></div>
                        <div><lqb-input class="form-control form-control-money" lqb-model="vm.loan.fields.sInsReqReplacement"        ></lqb-input></div>
                    </div>
                    <div>
                        <div><label>County</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpCounty"                 ></lqb-input></div>
                        <div><label>Total Loan Amount </label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sFinalLAmt"        readonly></lqb-input></div>
                    </div>
                </div>

                <div class="table wide">
                    <div>
                        <div><label>Legal Description</label></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSpLegalDesc"              ></lqb-input></div>
                    </div>
                </div>

                <div class="table">
                    <div><div><label>Lender (or Mortgagee):</label></div></div>
                    <div><div><lqb-input lqb-model="vm.loan.fields.sUseLenderAgentForInsRequest" ng-value="true"  li-type="radio" label="Use lender information   "></lqb-input></div>
                         <div><lqb-input lqb-model="vm.loan.fields.sUseLenderAgentForInsRequest" ng-value="false" li-type="radio" label="Use mortgagee information"></lqb-input></div>
                    </div>
                </div>
                <div ng-show="vm.loan.fields.sUseLenderAgentForInsRequest.v">
                    <div class="table">
                        <!-- <uc:CFM name=CFM3 runat="server" Type="21" AgentNameField="sAgentLenderAgentName" PhoneField="sAgentLenderAgentPhone" FaxField="sAgentLenderAgentFax" CellPhoneField="sAgentLenderAgentCell" EmailField="sAgentLenderAgentEmail" CompanyNameField="sAgentLenderCompanyName" StreetAddressField="sAgentLenderAddress" CityField="sAgentLenderCity" StateField="sAgentLenderState" ZipField="sAgentLenderZip"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Contact</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Lender[0].City" placeholder="City"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table table-property-mortgage-information">
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Lender[0].Phone"      ></lqb-input>
                                <label>Fax:       </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Lender[0].FaxNum"     ></lqb-input>
                                <label>Cellphone: </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Lender[0].CellPhone"  ></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table table-property-mortgage-information">
                        <div>
                            <div><label>Email</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Lender[0].EmailAddr"  ></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div ng-hide="vm.loan.fields.sUseLenderAgentForInsRequest.v">
                    <div class="table table-property-mortgage-information">
                        <!-- <uc:CFM name=CFM3 runat="server" Type="21" AgentNameField="sAgentLenderAgentName" PhoneField="sAgentLenderAgentPhone" FaxField="sAgentLenderAgentFax" CellPhoneField="sAgentLenderAgentCell" EmailField="sAgentLenderAgentEmail" CompanyNameField="sAgentLenderCompanyName" StreetAddressField="sAgentLenderAddress" CityField="sAgentLenderCity" StateField="sAgentLenderState" ZipField="sAgentLenderZip"/> -->
                        <div>
                            <div></div>
                            <div>
                                <a class="contact-link">Pick from Contacts</a>
                                <a>Add to Contacts</a>
                            </div>
                        </div>
                        <div>
                            <div><label>Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Contact</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].AgentName"  ></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].StreetAddr" placeholder="Street" ></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].City" placeholder="City"       ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].State" placeholder="State"      ></lqb-input>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].Zip" placeholder="ZIPCode"        ></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table table-property-mortgage-information">
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].Phone"      ></lqb-input>
                                <label>Fax:       </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].FaxNum"     ></lqb-input>
                                <label>Cellphone: </label> <lqb-input class="form-control form-control-phone" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].CellPhone"  ></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table table-property-mortgage-information">
                        <div>
                            <div><label>Email</label></div>
                            <div><lqb-input class="form-control form-control-city" lqb-model="vm.loan.sAgentOfRole.Mortgagee[0].EmailAddr"  ></lqb-input></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>III. INSURANCE INFORMATION</h5>
        </div>
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Estimated Closing Date</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sEstCloseD"     ></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sEstCloseDLckd" ></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Type of Insurance</label></div>
                    <div class="table table-checkbox">
                        <div>
                            <div><lqb-input lqb-model="vm.loan.fields.sInsReqFlood"  label="Flood     " ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sInsReqWind"   label="Wind/Storm" ></lqb-input></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sInsReqHazard" label="Hazard    " ></lqb-input></div>
                        </div>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sInsReqEscrow" label="Insurance Escrowed" ></lqb-input>
                    </div>
                </div>
            </div>
            <div class="table wide">                           
                <div>
                    <div><label>Comments</label></div>
                </div> 
                <div>
                    <div><lqb-input lqb-model="vm.loan.fields.sInsReqComments" li-type="textarea"></lqb-input></div>
                </div>                   
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>