<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table"> 
                <div> 
                    <div></div>
                    <div><a href="" class="contact-link"> Pick from Contacts</a><a href="">Add to Contacts</a></div>
                </div>
                <div>
                    <div><label>Lender Name</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.CompanyName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.StreetAddr" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.State" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Prepared Date</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitment.PrepareDate"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <h5 class="loan-amount-term-fee">Loan Amount, Terms and Fees</h5>
            <div class="table"> 
                <div>
                    <div><label>Loan Amt</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLAmtCalc" readonly></lqb-input>
                    </div>
                    <div><label>Contract Interest Rate</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input>
                    </div>
                    <div><label>LTV</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLtvR"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Terms / Due </label></div>
                    <div class="term-due">
                        <lqb-input lqb-model="vm.loan.fields.sTerm"></lqb-input>
                        /
                        <lqb-input lqb-model="vm.loan.fields.sDue"></lqb-input>
                    </div>
                    <div><label> Commitment Expires </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCommitExpD"></lqb-input>
                    </div>
                    <div><label>CLTV</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCltvR"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table wide">
                <div>
                    <div><label>Repayment Terms</label></div>
                </div>
                <div>
                    <div><lqb-input class="form-control repayment-terms" lqb-model="vm.loan.fields.sCommitRepayTermsDesc"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table wide">
                <div>
                    <div class="evidence-of-title"><label>Evidence of Title </label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sCommitTitleEvidence"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><label>Return to lender at: </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCommitReturnToAboveAddr" label="above address" placeholder="Street"></lqb-input>
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCommitReturnToFollowAddr" label="following address" placeholder="Street"></lqb-input>
                    </div>
                    <div>
                        within
                        <lqb-input lqb-model="vm.loan.fields.sCommitReturnWithinDays"></lqb-input>
                        days
                    </div>
                </div>
            </div>

            <div class="table"> 
                <div>
                    <div><label>Lender Name</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitmentAlternateLender.CompanyName"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitmentAlternateLender.StreetAddr" placeholder="Street"></lqb-input>
                    </div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.MortgageLoanCommitmentAlternateLender.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitmentAlternateLender.State" placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.MortgageLoanCommitmentAlternateLender.Zip" placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table"> 
                <div>
                    <div><label>Mortgage Product</label></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNm" readonly></lqb-input></div>
                </div>
            </div>
            <div class="table"> 
                <div>
                    <div><label>Discount</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sLDiscnt1003"></lqb-input>
                    </div>
                    <div><label>  Rate Lock Expiration Date </label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Principal and Interest Payment</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProThisMPmt"></lqb-input>
                    </div>
                    <div><label>Max Qualifying Rate</label></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sMaxR"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sMldsHasImpound" label="Escrows waived"></lqb-input>
                    </div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div><a href="">Additional Required Items or Conditions</a></div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
