<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Registration</h5></div>
        <div class="panel-body">
        <fieldset class="table">
            <div>
                <div>Loan Program</div>
                <div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNm"></lqb-input></div>
            </div>
            <div>
                <div>Registered Loan Program</div>
                <div><lqb-input lqb-model="vm.loan.fields.sLpTemplateNmSubmitted" readonly></lqb-input></div>
            </div>
            <div>
                <div>Loan Status</div>
                <div><lqb-input lqb-model="vm.loan.fields.sStatusT" readonly></lqb-input></div>
            </div>
            <div>
                <div>Registered Date</div>
                <div><lqb-input lqb-model="vm.loan.fields.sSubmitD"></lqb-input></div>
            </div>
            <div>
                <div>Comments</div>
                <div><lqb-input lqb-model="vm.loan.fields.sSubmitN"></lqb-input></div>
            </div>
        </fieldset>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock information</h5></div>
        <div class="panel-body">
        <fieldset class="table">
            <div>
                <div>Rate Lock Status</div>
                <div><lqb-input lqb-model="vm.loan.fields.sRateLockStatusT" readonly></lqb-input></div>
                <div>Prepayment Penalty</div>
                <div><lqb-input lqb-model="vm.loan.fields.sPpmtPenaltyMon"></lqb-input></div>
            </div>
            <div>
                <div>Lock Period</div>
                <div>
                    <div class="input-group unit-group">
                        <lqb-input class="small-count form-control" lqb-model="vm.loan.fields.sRLckdDays"></lqb-input>
                        <div class="input-group-addon"><span>days</span></div>
                    </div>
                </div>
            </div>
            <div><div><label>Rate lock date</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sRLckdD" readonly></lqb-input>
                    <lqb-input class="time form-control" lqb-model="vm.loan.fields.sRLckdDTime" readonly></lqb-input>
                    <lqb-input class="time form-control" lqb-model="vm.loan.fields.sRLckdN"></lqb-input>
                </div>
            </div>
            <div><div><label>Rate lock expiration date</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD" readonly></lqb-input>
                    <input type="text" readonly class="form-control time" value="10:03 AM PST" readonly>
                </div>
            </div>
            <div><div><label>Comments</label></div>
                <div><lqb-input lqb-model="vm.loan.fields.sRLckdExpiredN"></lqb-input></div>
            </div>
        </fieldset>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate lock pricing</h5></div>
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div></div>
                    <div>Rate</div>
                    <div>Price</div>
                    <div>Fee</div>
                    <div>Margin</div>
                    <div>Teaser</div>
                </div>

                <div><div>Base Price</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockBrokerBaseBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockBrokerBaseOptionArmTeaserR"></lqb-input></div>
                </div>

                <div>
                    <div>Total Adjustments</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjNoteIR" readonly></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjBrokComp1PcPrice" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjBrokComp1PcFee" readonly></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjRAdjMarginR" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockTotVisibleAdjOptionArmTeaserR" readonly></div>
                </div>

                <div>
                    <div>
                        <span>
                            <span ng-show="vm.displayOriginatorCompLines">Originator Price</span>
                            <span ng-hide="vm.displayOriginatorCompLines">Final      Price</span>
                        </span>
                    </div>
                    <div><lqb-input lqb-model="vm.loan.fields.sNoteIR"></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokComp1Pc"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sOptionArmTeaserR"></lqb-input></div>
                </div>

                <div ng-show="vm.displayOriginatorCompLines">
                    <div>Originator Comp Adjustments</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorCompAdjNoteIR" readonly></lqb-input></div>
                    <div><lqb-input class="form-control form-control-percent" lqb-model="vm.loan.fields.sBrokerLockOriginatorCompAdjBrokComp1PcPrice" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorCompAdjBrokComp1PcFee" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorCompAdjRAdjMarginR" readonly></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorCompAdjOptionArmTeaserR" readonly></lqb-input></div>
                </div>

                <div ng-show="vm.displayOriginatorCompLines">
                    <div>Final Price</div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceNoteIR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcPrice"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcFee"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceRAdjMarginR"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceOptionArmTeaserR"></lqb-input></div>
                </div>
            </fieldset>
        </div>
        <div class="panel-heading"><h5>Adjustments</h5></div>
            <div class="panel-body">
                <table class="secondary-table">
                    <thead>
                        <tr class="header">
                            <td>Description</td>
                            <td>Rate</td>
                            <td>Price</td>
                            <td>Fee</td>
                            <td>Margin</td>
                            <td>Teaser</td>
                        </tr>
                    </thead>
                    <tbody><tr ng-repeat="adjustment in vm.loan.sVisibleBrokerAdjustmentData">
                        <td ng-bind="adjustment.Description"></td>
                        <td ng-bind="adjustment.Rate       "></td>
                        <td ng-bind="adjustment.Price      "></td>
                        <td ng-bind="adjustment.Fee        "></td>
                        <td ng-bind="adjustment.Margin     "></td>
                        <td ng-bind="adjustment.TeaserRate "></td>
                    </tr></tbody>
                </table>
            </div>
    </div>
    <div class="col-xs-4"></div>
</div>

 <div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Originator Compensation</h5></div>
        <div class="panel-body">
            <div lqb-load-fields="sOriginatorCompensationLenderFeeOptionT sOriginatorCompensationPaymentSourceT sHasOriginatorCompensationPlan sRateLockHistoryXmlContent"></div>
            <div class="table inline">
                <div>
                    <div><label><span ng-bind="vm.ocpsLabel(vm.loan.fields.sOriginatorCompensationPaymentSourceT.v)"></span> Amount</label>
                    <a ng-show="vm.canShowDetail()" ng-click="showDetail()">details</a>
                    <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationAmount" readonly></lqb-input></div>
                    <div><label>Net points</label><lqb-input lqb-model="vm.loan.fields.sOriginatorCompNetPoints" readonly></lqb-input></div>
                    <div ng-show="vm.loan.fields.sOriginatorCompensationPaymentSourceT.v === vm.E_sOriginatorCompensationPaymentSourceT.LenderPaid">
                        <input type="checkbox" ng-checked="vm.loan.fields.sOriginatorCompensationLenderFeeOptionT.v === vm.E_sOriginatorCompensationLenderFeeOptionT.InAdditionToLenderFees" readonly></input>
                    </div>

                    <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationLenderFeeOptionT_InAdditionToLenderFees" readonly></lqb-input>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading"><h5>Rate Lock History</h5></div>
        <div class="panel-body">
            <table class="secondary-table">
                <thead class="header"><tr>
                    <th>Date        </th>
                    <th>Action      </th>
                    <th>By          </th>
                    <th>Rate        </th>
                    <th>Price       </th>
                    <th>Fee         </th>
                    <th>Margin      </th>
                    <th>Teaser Rate </th>
                    <th>Program Name</th>
                    <th>Lock Date   </th>
                    <th>Exp Date    </th>
                    <th>Reason      </th>
                </tr></thead>
                <tbody><tr ng-repeat="rlh in vm.loan.dataContents.sRateLockHistoryXmlContent.RateLockHistory.Event">
                    <td ng-bind="rlh.EventDate                       "></td>
                    <td ng-bind="rlh.Action                          "></td>
                    <td ng-bind="rlh.DoneBy                          "></td>
                    <td ng-bind="rlh.sNoteIR                         "></td>
                    <td ng-bind="rlh.sBrokerLockFinalBrokComp1PcPrice"></td>
                    <td ng-bind="rlh.sBrokComp1Pc                    "></td>
                    <td ng-bind="rlh.sRAdjMarginR                    "></td>
                    <td ng-bind="rlh.sOptionArmTeaserR               "></td>
                    <td ng-bind="rlh.sLpTemplateNm                   "></td>
                    <td ng-bind="rlh.sRLckdD                         "></td>
                    <td ng-bind="rlh.sRLckdExpiredD                  "></td>
                    <td ng-bind-html="rlh.sRLckBreakReasonDesc       "></td>
                </tr></tbody>
            </table>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<div class="modal"><div class="modal-dialog"><div class="modal-content">
    <div class="modal-header">
        <a class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></a>
        <h4 class="modal-title">Modal title</h4>
    </div>
    <div class="modal-body">
        <div lqb-load-fields="sOriginatorCompensationPlanT sOriginatorCompensationAppliedBy sOriginatorCompensationPlanSourceEmployeeName" hidden></div>
        <div ng-bind="vm.originatorPlanDetails"></div>

        Originator compensation set
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationPlanAppliedD" readonly></lqb-input>

        Effective date of compensation plan
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationEffectiveD" readonly></lqb-input>

        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationPercent" readonly></lqb-input>
        of the
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationBaseT" readonly></lqb-input>
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationAdjBaseAmount" readonly></lqb-input>

        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationHasMinAmount" readonly></lqb-input>
        Minimum
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationMinAmount" readonly></lqb-input>

        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationHasMaxAmount" readonly></lqb-input>
        Maximum
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationMaxAmount" readonly></lqb-input>

        Fixed amount
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationFixedAmount" readonly></lqb-input>

        Total lender-paid compensation
        <lqb-input lqb-model="vm.loan.fields.sOriginatorCompensationTotalAmount" readonly></lqb-input>
    </div>
    <div class="modal-footer">
        <a class="btn btn-default" data-dismiss="modal">Close</a>
      </div>
</div>

