<%@ Page language="c#" Codebehind="MortgageLeague.aspx.cs" AutoEventWireup="false" Inherits="PriceMyLoan.inetapi.MortgageLeague"  ValidateRequest="true"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>MortgageLeague</title>
  </head>
  <body MS_POSITIONING="FlowLayout">
	
    <form id="MortgageLeague" method="post" runat="server">

     </form>
	
  </body>
</html>
