<div class="table tb-general">
    <h5><strong>Closing Disclosures</strong></h5>
    <hr/>

    <div lqb-load-fields="sClosingDisclosureDatesInfo"></div>
    <table class="secondary-table none-hover-table">
        <thead class="header"><tr>
            <th>                              </th>
            <th>Issued Date                   </th>
            <th>Delivery Method               </th>
            <th>Received Date                 </th>
            <th>Archive Used                  </th>
            <th>Initial                       </th>
            <th>Preview                       </th>
            <th>Final                         </th>
            <th>Product                       </th>
            <th>Post-Closing                  </th>
            <th>Post-Closing Disclosure Reason</th>
            <th>Post-Closing Disclosure Dates </th>
            <th>                              </th>
        </tr></thead>
        <tbody><tr ng-repeat="closingDisclosureDate in vm.loan.sClosingDisclosureDatesInfo.data track by $index"
                   ng-hide="closingDisclosureDate.invalidArchive.v && !vm.isShowInvalidClosingDisclosures">
            <td>
                <span class="error-icons" ng-show="closingDisclosureDate.invalidArchive.v"
                      title="Closing Disclosure associated with invalid archive." >
                <!-- require('../../../../../images/Prototype/x-icon.svg') -->
                </span>
            </td>
            <td><lqb-input lqb-model="closingDisclosureDate.CreatedDate                            "></lqb-input></td>
            <td><lqb-input lqb-model="closingDisclosureDate.DeliveryMethod                         "></lqb-input></td>
            <td><lqb-input lqb-model="closingDisclosureDate.ReceivedDate                           "></lqb-input></td>
            <td><lqb-input lqb-model="closingDisclosureDate.ArchiveId                              "></lqb-input></td>
            <td>
                <div class="table table-wrap-icon">
                    <div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sClosingDisclosureDatesInfo.Config.initialId" ng-value="closingDisclosureDate.UniqueId.v" ng-false-value="vm.guidEmpty" li-type="radio2"></lqb-input>
                        </div>
                        <div>
                            <span class="warning-icons" ng-show="closingDisclosureDate.IsInitial.v && closingDisclosureDate.IsPostClosing.v" title="This post-closing Closing Disclosure is marked as initial, preview, or final, please review.">
                                <!-- require('../../../../../images/Prototype/warning-icon.svg') -->
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="table table-wrap-icon">
                    <div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sClosingDisclosureDatesInfo.Config.previewId" ng-value="closingDisclosureDate.UniqueId.v" ng-false-value="vm.guidEmpty" li-type="radio2"></lqb-input>
                        </div>
                        <div>
                            <span class="warning-icons" ng-show="closingDisclosureDate.IsPreview.v && closingDisclosureDate.IsPostClosing.v" title="This post-closing Closing Disclosure is marked as initial, preview, or final, please review.">
                                <!-- require('../../../../../images/Prototype/warning-icon.svg') -->
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="table table-wrap-icon">
                    <div>
                        <div>
                            <lqb-input lqb-model="vm.loan.sClosingDisclosureDatesInfo.Config.finalId" ng-value="closingDisclosureDate.UniqueId.v" ng-false-value="vm.guidEmpty" li-type="radio2"></lqb-input>
                        </div>
                        <div>
                            <span class="warning-icons" ng-show="closingDisclosureDate.IsFinal  .v && closingDisclosureDate.IsPostClosing.v" title="This post-closing Closing Disclosure is marked as initial, preview, or final, please review.">
                                <!-- require('../../../../../images/Prototype/warning-icon.svg') -->
                            </span>
                        </div>
                    </div>
                </div>
            </td>
            <td><lqb-input lqb-model="closingDisclosureDate.LastDisclosedTRIDLoanProductDescription"></lqb-input></td>
            <td><lqb-input lqb-model="closingDisclosureDate.IsPostClosing                          "></lqb-input></td>
            <td><div class="table" ng-show="closingDisclosureDate.IsPostClosing.v">
                <div><div>Numerical amount paid by borrower</div><div class="wrap-checkbox"><lqb-input lqb-model="closingDisclosureDate.IsDisclosurePostClosingDueToNumericalChangeInAmountPaidByBorrower"></lqb-input></div></div>
                <div><div>Numerical amount paid by seller  </div><div                      ><lqb-input lqb-model="closingDisclosureDate.IsDisclosurePostClosingDueToNumericalChangeInAmountPaidBySeller"  ></lqb-input></div></div>
                <div><div>Non-numerical clerical error     </div><div                      ><lqb-input lqb-model="closingDisclosureDate.IsDisclosurePostClosingDueToNonNumericalClericalError"            ></lqb-input></div></div>
                <div><div>Cure for tolerance violation     </div><div                      ><lqb-input lqb-model="closingDisclosureDate.IsDisclosurePostClosingDueToCureForToleranceViolation"            ></lqb-input></div></div>
            </div></td>
            <td><div class="table" ng-show="closingDisclosureDate.IsPostClosing.v">
                <div><div>Event Requiring Redisclosure Date</div></div><div><div><lqb-input lqb-model="closingDisclosureDate.PostConsummationRedisclosureReasonDate"></lqb-input></div></div>
                <div><div>Date Creditor Received Knowledge </div></div><div><div><lqb-input lqb-model="closingDisclosureDate.PostConsummationKnowledgeOfEventDate  "></lqb-input></div></div>
            </div></td>
            <td><button ng-disabled="closingDisclosureDate.ArchiveId.v != vm.GuidEmpty || !closingDisclosureDate.IsInitial.v || !closingDisclosureDate.IsPreview.v || !closingDisclosureDate.IsFinal.v"
                    ng-click="vm.removeClosingDisclosure(closingDisclosureDate.UniqueId)"
                    class="btn btn-default">-</button></td>
        </tr></tbody>
    </table>

    <button ng-click="vm.addClosingDisclosure()">Add Closing Disclosure</button>
    <button >Show Invalid Closing Disclosures</button>
    <button ng-click="vm.toggleIsShowInvalidClosingDisclosures()">
        <span ng-bind="vm.isShowInvalidClosingDisclosures ? 'Hide' : 'Show'"></span>
        Invalid Closing Disclosures
    </button>
    <span ng-show="vm.isShowInvalidClosingDisclosures">
        <span title="Closing Disclosure associated with invalid archive." class="material-icons">close</span>
        Associated with an undisclosed archive
    </span>
</div>
