<div class="section"><div class="panel panel-default">
    <div class="panel-heading"><h5>Disclosure Center</h5></div>
    <div class="panel-body">
        <!-- require('./loanEstimates.html') -->
        <!-- require('./closingDisclosures.html') -->
    </div>
</div></div>

<alternate-lender-modal ref="vm.alternateLenderModal = $ref" on-changed="vm.onAlternateLenderChanged()"></alternate-lender-modal>
