<div class="table tb-general" ng-show="vm.loan.fields.sDisclosureRegulationT.v === vm.E_sDisclosureRegulationT.TRID2015">
    <h5><strong>Loan Estimates</strong></h5>
    <hr/>

    <div lqb-load-fields="sLoanEstimateDatesInfo"></div>
    <table class="secondary-table none-hover-table">
        <thead class="header"><tr>
            <th>               </th>
            <th>Issued Date    </th>
            <th>Delivery Method</th>
            <th>Received Date  </th>
            <th>Archive Used   </th>
            <th>Initial        </th>
            <th>Product        </th>
            <th>               </th>
        </tr></thead>
        <tbody><tr ng-repeat="led in vm.loan.sLoanEstimateDatesInfo.data track by $index"
                   ng-hide="led.invalidArchive.v && !vm.isShowInvalidLoanEstimates">
            <td>
                <span class="error-icons" ng-show="led.invalidArchive.v"
                      title="Loan Estimate associated with invalid archive.">
                    <!-- require('../../../../../images/Prototype/x-icon.svg') -->
                </span>
            </td>
            <td><lqb-input lqb-model="led.CreatedDate                            "></lqb-input></td>
            <td><lqb-input lqb-model="led.DeliveryMethod                         "></lqb-input></td>
            <td><lqb-input lqb-model="led.ReceivedDate                           "></lqb-input></td>
            <td><lqb-input lqb-model="led.ArchiveId                              "></lqb-input></td>
            <td><lqb-input lqb-model="vm.loan.sLoanEstimateDatesInfo.Config.initialId" ng-value="led.UniqueId.v" ng-faLse-value="vm.guidEmpty" li-type="radio2"></lqb-input>
                <!-- <span title="This Loan Estimate is marked as invalid, please review.">!</span> -->
            </td>
            <td><lqb-input lqb-model="led.LastDisclosedTRIDLoanProductDescription"></lqb-input></td>
            <td><button ng-disabled="led.ArchiveId.v != vm.GuidEmpty || !led.IsInitial.v" class="btn btn-default" ng-click="vm.removeLoanEstimates(led.UniqueId)">-</button></td>
        </tr></tbody>
    </table>

    <button ng-click="vm.addLoanEstimates()">Add Loan Estimate</button>
    <button ng-click="vm.toggleIsShowInvalidLoanEstimates()">
        <span ng-bind="vm.isShowInvalidLoanEstimates ? 'Hide' : 'Show'"></span>
        Invalid Loan Estimates
    </button>
    <span ng-show="vm.isShowInvalidLoanEstimates">
        <span class="error-icons" title="Loan Estimate associated with invalid archive."><!-- require('../../../../../images/Prototype/x-icon.svg') --></span>
        Associated with an undisclosed archive
    </span>
</div>
