<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>Borrower</div>
                    <div style="width:10em;"></div>
                    <div>Co-borrower</div>
                </div>
                <div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aBNoFurnish" label="I do not wish to furnish this information"></lqb-input>
                    </div>
                    <div></div>
                    <div>
                        <lqb-input lqb-model="vm.loan.app.fields.aCNoFurnish" label="I do not wish to furnish this information"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>Ethnicity: <lqb-input lqb-model="vm.loan.app.fields.aBHispanicT"></lqb-input></div>
                    <div></div>
                    <div>Ethnicity: <lqb-input lqb-model="vm.loan.app.fields.aCHispanicT"></lqb-input></div>
                </div>
                <div>
                    <div>Race: (check all that apply)</div>
                    <div></div>
                    <div>Race: (check all that apply)</div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAmericanIndian" label="American Indian or Alaska Native"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsAsian" label="Asian"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsAsian" label="Asian"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsBlack" label="Black or African American"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsBlack" label="Black or African American"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aCIsPacificIslander" label="Native Hawaiian or Other Pacific Islander"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsWhite" label="White"></lqb-input></div>
                    <div></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aBIsWhite" label="White"></lqb-input></div>
                </div>
                <div>
                    <div>
                        Sex: <lqb-input lqb-model="vm.loan.app.fields.aBGender"></lqb-input>
                    </div>
                    <div></div>
                    <div>
                        Sex: <lqb-input lqb-model="vm.loan.app.fields.aCGender"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>
