<div class="modal-header">
    <button type="button" class="close" ng-click="vm.closeDialog()"><i class="material-icons">&#xE5CD;</i></button>
    <h4 class="modal-title">Assign User</h4>
</div>
<div class="modal-body">
    <form class="table" ng-submit="vm.search($event)">
        <div>
            <div class="text-grey text-right nowrap"><label>Search for:</label></div>
            <div><input type="text" ng-model="vm.searchText" autofocus></div>
            <div class="text-caption">("s" for John Smith or Sam Cash, "b s" for Bob Smith)</div>
        </div>
        <div><div></div><div>
            <button type="submit" ng-disabled="vm.disabledSearch">Search <i class="material-icons">&#xE8B6;</i></button>
        </div></div>
    </form>

    <div ng-show="vm.users != null">
        <hr ng-show="!vm.IsPipeline">
        <p ng-show="vm.users.length > 0 && !vm.IsPipeline" class="text-grey following-users">The following users have read-access to the loan file:</p>
        <p ng-show="vm.users.length < 1">No users match the specified criteria.</p>

        <table class="DataGrid modal-table-scrollbar" ng-show="vm.users.length > 0">
            <thead><tr class="GridHeader">
                <th ng-class="{'sortable': vm.sortKey == 'FullName'}"><a sort-header sort-key="FullName"  pvm="vm" active-class="text-bold">User</a></th>
                <th ng-class="{'sortable': vm.sortKey == 'Roles'}" ng-show="!vm.IsPipeline">
                    <a sort-header sort-key="Roles"  pvm="vm" active-class="text-bold">Assigned Role</a></th>
            </tr></thead>
            <tbody><tr ng-repeat="user in vm.users | orderBy:vm.sortKey:vm.sortDesc">
                <td><a ng-bind="user.FullName" ng-click="vm.selectUser(user)"></a></td>
                <td ng-show="!vm.IsPipeline" ng-bind="user.Roles"></td>
            </tr></tbody>
        </table>
    </div>
</div>
<div class="modal-footer" ng-show="!vm.IsPipeline">
    <button type="button" class="btn btn-flat" ng-click="vm.closeDialog()">Cancel</button>
</div>
