﻿<tr class="SalaryKeyRow no-wrap">
    <td>
        <span class="FieldLabel">${BorrowerName}</span>
    </td>
    <td>
        <input type="text" class="InputLarge SalaryKey" />
        <input type="hidden" value="${AppId}" class="AppId" />
        <input type="hidden" value="${BorrowerType}" class="BorrowerType" />
        <input type="hidden" value="${Key}" class="Key" />
    </td>
</tr>