﻿<div class="CssTableRow SelfEmploymentRow">
    <input type="hidden" class="AppId" value="${AppId}" />
    <input type="hidden" class="BorrowerType" value="${BorrowerType}" />
    <input type="hidden" class="Key" value="${Key}" />
    <div class="CssTableCell RightBorder Content TopBorder Width50Pc">
        <div class="FieldLabel">Notes</div><br />
        <textarea cols="80" rows="10" class="Notes Block"></textarea>
    </div>
    <div class="CssTableCell Content TopBorder Width50Pc">
        <div class="FieldLabel">Tax Preparer Information</div><br />
        <table>
            <tr class="no-wrap">
                <td><span class="FieldLabel Underline">${BorrowerName}</span></td>
                <td>
                    <label>
                        <input type="checkbox" class="TaxesSelfPrepared" />Taxes are self-prepared
                    </label>
                </td>
            </tr>
            <tr>
                <td><span class="FieldLabel">Company</span></td>
                <td>
                    <input type="text" class="Input RequiredInput CompanyName InputLarge" />
                    <img alt="Picker" class="align-middle TaxPrepContactInfo" src="../../images/contacts.png" />
                    <img alt="Required" class="RequiredImg align-middle" src="../../images/require_icon_red.gif" />
                </td>
            </tr>
            <tr>
                <td><span class="FieldLabel">Address</span></td>
                <td>
                    <input type="text" class="Input RequiredInput InputLarge StreetAddress" />
                    <img alt="Required" class="RequiredImg align-middle" src="../../images/require_icon_red.gif" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="text" class="City" />
                    <select class="State">
                        {{each States}}
                        <option value="${this}">${this}</option>
                        {{/each}}
                    </select>
                    <input type="text" class="Zipcode InputSmall" preset="zipcode" />
                    <img alt="Required" class="RequiredImg align-middle" src="../../images/require_icon_red.gif" />
                </td>
            </tr>
            <tr>
                <td><span class="FieldLabel">Phone Number</span></td>
                <td>
                    <input type="text" class="RequiredInput PhoneNumber" preset="phone" />
                    <img alt="Required" class="RequiredImg align-middle" src="../../images/require_icon_red.gif" />
                    &nbsp;
                    
                </td>
            </tr>
            <tr>
                <td><span class="FieldLabel">Fax Number</span></td>
                <td><input type="text" class="FaxNumber" preset="phone" /></td>
            </tr>
        </table>
    </div>
</div>