﻿<tr class="ReverseGridAutoItem OrderRow">
    <td><span class="BorrowerName">${BorrowerName}</span></td>
    <td><span class="Ssn">${Ssn}</span></td>
    <td><span class="DateOfBirth">${DateOfBirth}</span></td>
    <td><span class="LenderServiceName">${LenderServiceName}</span></td>
    <td><span class="OrderNumber">${OrderNumber}</span></td>
    <td>
        {{if Status == 0}}
        <a class="Status StatusLink">${StatusString}</a>
        {{else}}
        <span class="Status">${StatusString}</span>
        {{/if}}
        <input type="hidden" class="DmStatus" value="${DmStatusString}" />
        <input type="hidden" class="SsaStatus" value="${SsaStatusString}" />
        <input type="hidden" class="OfacStatus" value="${OfacStatusString}" />
        <input type="hidden" class="ChStatus" value="${ChStatusString}" />
    </td>
    <td>
        {{if (Status == 0 && HasEdoc) || Status == 1}}
        <ul class="UndecoratedList">
            {{each AssociatedEdocs}}
            <li>
                {{if IsAvailable}}
                <a data-docid="${EDocId}" class="EDocLink Results">${DocumentName}</a>
                {{else}}
                <a class="DisabledLink">${DocumentName}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{else Status == 0 || (!Error && !SsaFormRejectionReason)}}
        <a class="DisabledLink Results">results</a>
        {{else}}
        <a data-error="${Error}" {{if SsaFormAccepted != null && !SsaFormAccepted}}data-suberror="${SsaFormRejectionReason}"{{/if}} class="ErrorLink Results">results</a>
        {{/if}}
    </td>
    <td>
        <input type="hidden" class="ServiceType" value="${ServiceType}" />
        <input type="hidden" class="OrderId" value="${OrderId}" />
        <input type="hidden" class="RequiresAccountId" value="${RequiresAccountId}" />
        <input type="hidden" class="UsesAccountId" value="${UsesAccountId}" />
        <input type="hidden" class="ServiceCredentialHasAccountId" value="${ServiceCredentialHasAccountId}" />
        <input type="hidden" class="ServiceCredentialId" value="${ServiceCredentialId}" />
        {{if Status == 0 || Status == 2}}
        <a class="PollLink Action">get results</a>
        {{/if}}
    </td>
    <td><span class="OrderedBy">${OrderedBy}</span></td>
    <td><span class="DateOrdered">${DateOrdered}</span></td>
    <td><span class="DateCompleted">${DateCompleted}</span></td>
</tr>