﻿<tr class="ReverseGridAutoItem OrderRow">
    <td>
        <ul class="UndecoratedList Institution">
            {{each Institutions}}
            <li>${this}</li>
            {{/each}}
        </ul>
    </td>
    <td>
        <ul class="UndecoratedList AccountNumber">
            {{each AccountNumbers}}
            <li>${this}</li>
            {{/each}}
        </ul>
    </td>
    <td><span class="LenderServiceName">${LenderServiceName}</span></td>
    <td><span class="OrderNumber">${OrderNumber}</span></td>
    <td><span class="Status">${StatusString}{{if HasStatusList}} <a onclick="LQBPopup.Show(ML.VirtualRoot + '/newlos/verifications/VOXStatusList.aspx?loanid=' + ML.sLId + '&OrderId=${OrderId}&OrderNumber=${OrderNumber}', { 'width' : 700, 'height': 250 })">view more</a>{{/if}}</span></td>
    <td>
        <span class="HasBeenRefreshed">
            {{if HasBeenRefreshed}}
            Yes
            {{else}}
            No
            {{/if}}
        </span>
    </td>
    <td>
        {{if Status == 1 || (VerificationType == 0 && Status == 5)}}
        <ul class="UndecoratedList">
            {{each AssociatedEdocs}}
            <li>
                {{if IsAvailable}}
                <a data-docid="${EDocId}" class="EDocLink Results">${DocumentName}</a>
                {{else}}
                <a class="DisabledLink">${DocumentName}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{else Status == 0 || !Error}}
        <a class="DisabledLink Results">results</a>
        {{else}}
        <a data-error="${Error}" class="ErrorLink Results">results</a>
        {{/if}}
    </td>
    <td>
        <input type="hidden" class="ServiceType" value="${ServiceType}" />
        <input type="hidden" class="OrderId" value="${OrderId}" />
        <input type="hidden" class="RequiresAccountId Hidden" value="${RequiresAccountId}" />
        <input type="hidden" class="UsesAccountId Hidden" value="${UsesAccountId}" />
        <input type="hidden" class="ServiceCredentialHasAccountId" value="${ServiceCredentialHasAccountId}" />
        <input type="hidden" class="ServiceCredentialId" value="${ServiceCredentialId}" />
        {{if Status == 0}}
        <a class="PollLink Action">get results</a>
        {{else VerificationType == 0 && (Status == 1 || Status == 5)}}
        <a class="{{if ML.CanOrderVoa}}NoConfirmRefreshLink{{else}}DisabledLink{{/if}} Action" title="${ML.OrderVoaDenialReason}">get results</a>
        {{else Status == 1}}
            {{if RefreshPeriod != 0}}
            <a class="{{if CanBeRefreshed && ML.CanOrderVoa}}RefreshLink{{else}}DisabledLink{{/if}} Action" title="${ML.OrderVoaDenialReason}">refresh order{{if !CanBeRefreshed}} (expired){{/if}}</a>
            {{/if}}
        {{/if}}
    </td>
    <td><span class="OrderedBy">${OrderedBy}</span></td>
    <td><span class="DateOrdered">${DateOrdered}</span></td>
    <td><span class="DateCompleted">${DateCompleted}</span></td>
</tr>