﻿<tr class="ReverseGridAutoItem OrderRow">
    <td><span class="Borrower">${BorrowerName}</span></td>
    <td>
        <ul class="UndecoratedList Employer">
            {{each Employers}}
            <li>${this}</li>
            {{/each}}
        </ul>
    </td>
    <td>
        <span class="Self">
            {{if IsSelfEmployment == true}}
            Yes
            {{else}}
            No
            {{/if}}
        </span>
    </td>
    <td><span class="ServiceProvider">${LenderServiceName}</span></td>
    <td><span class="OrderNumber">${OrderNumber}</span></td>
    <td><span class="ParentOrderNumber">${ParentOrderNumber}</span></td>
    <td class="VendorReferenceIdsCell">
        <ul class="UndecoratedList VendorReferenceIds">
            {{each VendorReferenceIds}}
            <li {{if VendorReferenceIds.length > 1 && $index != 0}}class="Hidden ToggleableRefId"{{/if}}>${this}</li>
            {{/each}}
        </ul>
        {{if VendorReferenceIds.length > 1}}
        <a class="DisplayVendorReferenceIdsLink">show more</a>
        {{/if}}
    </td>
    <td><span class="Status">${StatusString}
        {{if HasStatusList}} <a onclick="LQBPopup.Show(ML.VirtualRoot + '/newlos/verifications/VOXStatusList.aspx?loanid=' + ML.sLId + '&OrderId=${OrderId}&OrderNumber=${OrderNumber}', { 'width' : 700, 'height': 250 })">view more</a>{{/if}}</span></td>
    <td>
        {{if Status == 1 || Status == 5}}
        <ul class="UndecoratedList">
            {{each AssociatedEdocs}}
            <li>
                {{if IsAvailable}}
                <a data-docid="${EDocId}" class="EDocLink Results">${DocumentName}</a>
                {{else}}
                <a class="DisabledLink">${DocumentName}</a>
                {{/if}}
            </li>
            {{/each}}
        </ul>
        {{else (Status == 0 || Status == 3) || !Error}}
        <a class="DisabledLink Results">results</a>
        {{else}}
        <a data-error="${Error}" class="ErrorLink Results">results</a>
        {{/if}}
    </td>
    <td>
        <input type="hidden" class="ServiceType" value="${ServiceType}" />
        <input type="hidden" class="OrderId" value="${OrderId}" />
        <input type="hidden" class="RequiresAccountId Hidden" value="${RequiresAccountId}" />
        <input type="hidden" class="UsesAccountId Hidden" value="${UsesAccountId}" />
        <input type="hidden" class="ServiceCredentialHasAccountId" value="${ServiceCredentialHasAccountId}" />
        <input type="hidden" class="ServiceCredentialId" value="${ServiceCredentialId}" />
        {{if Status == 0}}
        <a class="PollLink Action">get results</a>
        {{else Status == 1}}
            <a class="{{if ML.CanOrderVoe}}RefreshLink{{else}}DisabledLink{{/if}} Action" {{if !ML.CanOrderVoe}}title="${ML.OrderVoeDenialReason}"{{/if}}>re-verify</a>
        {{/if}}
    </td>
    <td><span class="OrderedBy">${OrderedBy}</span></td>
    <td><span class="DateOrdered">${DateOrdered}</span></td>
    <td><span class="DateCompleted">${DateCompleted}</span></td>
    <td><span class="Type">${VerificationTypeString}</span></td>
</tr>