<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            Lock Policies
        </div>
        <div class="panel-body">
        </div>
    </div>
</div>