﻿<div>
    <div class="group" ng-repeat="group in results[programSet] | limitTo: $eval(limitTo)">

        <div class="group-name-container" ng-click="group.IsCollapsed = !group.IsCollapsed">
            <span class="expand-toggle">{{group.IsCollapsed ? "+" : "−"}}</span>
            <label class="group-name">{{::group.GroupName}}</label>
        </div>

        <div class="full-details-container" ng-class="{'collapsed' : group.IsCollapsed}">

            <!--If not displaying best prices, display each program separately.-->
            <div class="program" ng-if="program.ResultRateOptions" ng-repeat="program in group.ResultLoanPrograms | limitTo: group.limitTo">
                <div class="indent-small minor-details">
                    <div class="program-name-full">{{::program.lLpTemplateNm}}</div>
                    <div class="program-investor">{{::program.lLpInvestorNm}} {{::program.ProductCode}}</div>
                </div>

                <div class="denial-reasons disqual-reason-desc" ng-if="program.DisqualifiedRuleList.length > 0" ng-repeat="reason in program.DisqualifiedRuleList track by $index">{{reason}}</div>

                <div class="toggle-container" ng-click="program.IsExpand = !program.IsExpand"
                     ng-if="::(group.ResultRateOptions || (program.ResultRateOptions.length > (pricingSettings.GetResultsUsing == 2 ? 2 : 1)) && ($index == 0 || !program.IsDisplayingAllRates ))">

                    <span>View More</span>
                    <img ng-if="program.IsExpand" class="icon arrow-icon" src="../../images/Icon-UpArrow.svg" />
                    <img ng-if="!program.IsExpand" class="icon arrow-icon" src="../../images/Icon-DownArrow.svg" />
                </div>

                <div ng-if="program.IsExpand" class="all-rates">
                    <program-row rateOption="rateOption" ng-repeat="rateOption in ::program.ResultRateOptions | sortWorst: pricingSettings.GetResultsUsing == '2'"></program-row>
                </div>

                <div ng-if="!program.IsExpand" class="representative-rate">
                    <program-row ng-if="program.RepresentativeHistoricRateOption" rateOption="program.RepresentativeHistoricRateOption"></program-row>
                    <program-row ng-if="program.RepresentativeRateOption" rateOption="program.RepresentativeRateOption"></program-row>
                </div>
            </div>

            <!--If displaying best prices, the rate options get shown as one large list.-->
            <div class="merge-group">
                <program-row ng-repeat="rateOption in group.ResultRateOptions" rateOption="rateOption"></program-row>
            </div>

        </div>
    </div>
</div>