﻿<div class="result-row" ng-class="{'current' : rateOption.IsCurrent, 'historical' : rateOption.IsHistorical || pricingSettings.GetResultsUsing == 1, 'paired' : rateOption.IsPaired, 'expired' :rateOption.IsRateExpired }">
    <div class="align-right">



        <div class="toggle-container" ng-click="rateOption.showDetails = !rateOption.showDetails"
             ng-if="::group.ResultRateOptions">

            <span ng-if="pricingSettings.sProdFilterDisplayrateMerge">Program Details</span>
            <img ng-if="rateOption.showDetails" class="icon arrow-icon" src="../../images/Icon-UpArrow.svg" />
            <img ng-if="!rateOption.showDetails" class="icon arrow-icon" src="../../images/Icon-DownArrow.svg" />
        </div>

        <img class="disqualified disqual-icon icon" ng-mouseover="setSelectedRate(rateOption)" ng-if="::rateOption.DisqualReason" src="../../images/x-solo-icon.svg"><a class="select-option-link" ng-mouseover="setSelectedRate(rateOption)" ng-click="selectOption(program, rateOption)" ng-class="::{'disqualified' : rateOption.DisqualReason}">{{::rateOption.IsHistorical || pricingSettings.GetResultsUsing == 1 ? "Historical" : "Current"}}</a>

        <div ng-if="rateOption.showDetails && pricingSettings.sProdFilterDisplayrateMerge" class="program-details-merged">
            <div>{{::rateOption.LpInvestorNm}}</div>
            <div>{{::rateOption.ProductCode}}</div>
        </div>
    </div>
    <div>
        {{::rateOption.Rate}}
    </div>
    <div ng-if="pricingSettings.IsInvestorPricing">
        {{::rateOption.TotalPriceAdj}}
    </div>
    <div class="large-column" ng-if="!pricingSettings.isCheckEligibility">
        <img ng-if=" rateOption.IsEqual && rateOption.IsHistorical" class="pricing-flag icon" src="../../images/Flag-Equal.svg"></img>
        <img ng-if="::rateOption.IsWorse" class="pricing-flag icon" src="../../images/Flag-WorstCase.svg"></img>
        {{::rateOption.Price}}
    </div>
    <div ng-if="!pricingSettings.isCheckEligibility">{{::rateOption.Point}}</div>
    <div class="large-column">{{::rateOption.Payment}}</div>
    <div ng-if="pricingSettings.HasArmFilter">{{::rateOption.QualRate}}</div>
    <div>{{::rateOption.Margin}}</div>
    <div class="large-column"><a ng-click="viewRatePopup(rateOption, program, '.dti')">{{::rateOption.Dti}}</a></div>
    <div>{{::rateOption.Apr}}</div>
    <div class="qm-col" ng-if="pricingSettings.showQm">
        <img ng-if="::rateOption.QmMode != null" ng-src="{{(rateOption.QmMode == '2' || rateOption.QmMode == '3') ? (rateOption.HpmMode == '2' ? '../../images/warn.png' : '../../images/pass.png') : '../../images/fail.png'}}" />

    </div>
    <div class="large-column">
        <a ng-click="viewRatePopup(rateOption, program, '.closing-costs-breakdown')">{{::rateOption.ClosingCosts}}</a>
    </div>
    <div ng-if="pricingSettings.IsDebugColumns" class="large-column">
        <a ng-click="viewRatePopup(rateOption, program, '.cash-to-close')">{{:: pricingSettings.IsUlad2019 ? rateOption.sTransNetCashUlad : rateOption.sTransNetCash}}</a>
    </div>
    <div>
        <a ng-disabled="::(pricingSettings.IsBreakEvenMonths  || !pricingSettings.IsDebugColumns)" ng-click="viewRatePopup(rateOption, program, '.reserve-months')">{{pricingSettings.IsBreakEvenMonths ? rateOption.BreakEvenMonths : rateOption.Reserves}}</a>
    </div>
</div>