﻿
<div ng-show="results" ng-class="{'worst-case' : pricingSettings.GetResultsUsing == '2'} ">

    <h4 class="section-header">Results</h4>

    <div class="pricing-results-table">
        <div class="header result-row" ng-class="{'showBreakEven' : pricingSettings.IsDebugColumns && pricingSettings.IsBreakEvenMonths && sLPurposeT != 0 }">
            <div><h4>Eligible Loan Programs</h4></div>
            <div><span>Rate</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.IsInvestorPricing"><span>Price Adj</span></div>
            <div ng-if="(!pricingSettings.IsNonQm || pricingSettings.ShowPrice) && !pricingSettings.isCheckEligibility" class="large-column"><span>Price</span></div>
            <div ng-if="(!pricingSettings.IsNonQm || !pricingSettings.ShowPrice) && !pricingSettings.isCheckEligibility"><span>Points</span></div>
            <div ng-if="!pricingSettings.IsNonQm" class="large-column"><span>Payment</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.HasArmFilter"><span>Qual Rate</span></div>
            <div ng-if="!pricingSettings.IsNonQm" ><span>Margin</span></div>
            <div ng-if="!pricingSettings.IsNonQm"  class="large-column"><span>DTI</span></div>
            <div ng-if="!pricingSettings.IsNonQm" ><span>APR</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.showQm" class="qm-col"><span>QM</span></div>
            <div ng-if="!pricingSettings.IsNonQm"  class="large-column"><span>Closing Costs</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.IsDebugColumns" class="large-column"><span><span class="nowrap">Cash To</span> Close</span></div>
            <div ng-if="!pricingSettings.IsNonQm" ><span>{{sLPurposeT != 0 && pricingSettings.IsBreakEvenMonths ? "Break Even Months" : "Reserve Months"}}</span></div>
            <div ng-if="pricingSettings.IsNonQm"><span></span></div>
        </div>

        <div class="no-rates eligible" ng-if="results.EligibleGroups.length <= 0">
            No Eligible Programs
        </div>

        <div program-table limitTo="limitEligible" programSet="EligibleGroups"></div>
    </div>

    <hr class="table-divider" />

    <div class="pricing-results-table ineligible">
        <div class="header result-row" ng-class="{'showBreakEven' : pricingSettings.IsDebugColumns && pricingSettings.IsBreakEvenMonths && sLPurposeT != 0 }">
            <div class="ineligible-header">
                <h4>
                    Ineligible Loan Programs
                </h4>
            </div>
            <div><span>Rate</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.IsInvestorPricing"><span>Price Adj</span></div>
            <div ng-if="(!pricingSettings.IsNonQm || pricingSettings.ShowPrice)" class="large-column"><span>Price</span></div>
            <div ng-if="(!pricingSettings.IsNonQm || !pricingSettings.ShowPrice) && !pricingSettings.isCheckEligibility"><span>Points</span></div>
            <div ng-if="!pricingSettings.IsNonQm && !pricingSettings.isCheckEligibility" class="large-column"><span>Payment</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.HasArmFilter"><span>Qual Rate</span></div>
            <div ng-if="!pricingSettings.IsNonQm"><span>Margin</span></div>
            <div ng-if="!pricingSettings.IsNonQm" class="large-column"><span>DTI</span></div>
            <div ng-if="!pricingSettings.IsNonQm"><span>APR</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.showQm" class="qm-col"><span>QM</span></div>
            <div ng-if="!pricingSettings.IsNonQm" class="large-column"><span>Closing Costs</span></div>
            <div ng-if="!pricingSettings.IsNonQm && pricingSettings.IsDebugColumns" class="large-column"><span><span class="nowrap">Cash To</span> Close</span></div>
            <div ng-if="!pricingSettings.IsNonQm"><span>{{sLPurposeT != 0 && pricingSettings.IsBreakEvenMonths ? "Break Even Months" : "Reserve Months"}}</span></div>
            <div ng-if="pricingSettings.IsNonQm"><span></span></div>
        </div>

        <div class="no-rates" ng-if="results.IneligibleGroups.length <= 0">
            No Ineligible Programs
        </div>

        <div limitTo="limitIneligible" program-table programSet="IneligibleGroups"></div>
    </div>
</div>

<div class="disqual-reason-popup popup">
    <span>INELIGIBLE RATE OPTION:</span>
    {{selectedRate.DisqualReason}}
</div>

<div class="closing-costs-breakdown popup">
    <h3>Estimated Closing Cost Breakdown</h3>
    <div>
        <label>Loan Program:</label>
        <span>{{selectedProgram ? selectedProgram.lLpTemplateNm : selectedRate.LpTemplateNm}}</span>
    </div>
    <div>
        <label>Note Rate:</label>
        <span>{{selectedRate.Rate}}%</span>
    </div>

    <table class="popup-table inline-table">
        <thead>
            <tr class="header">
                <th>{{sDisclosureRegulationT == 0 ? 'HUD Line #' : 'Loan Est Sec' }}</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Source</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cost in selectedRate.ClosingCostBreakdown | orderBy : 'Section'">
                <td>{{cost.Section }}</td>
                <td>{{cost.Description}}</td>
                <td>{{cost.Amount}}</td>
                <td>{{cost.Source}}</td>
            </tr>
        </tbody>
        <tbody class="total-rows">
            <tr>
                <td></td>
                <td>Prepaid Charges</td>
                <td>{{selectedRate.PrepaidCharges}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Non-Prepaid Charges</td>
                <td>{{selectedRate.NonPrepaidCharges}}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Costs for Borrower to Close:</td>
                <td>{{selectedRate.ClosingCosts}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>


    <div ng-show="HasFirstAmericanSource(selectedRate)" class="first-american-disclaimer">
        <span class='FieldLabel'>First American Quote Disclaimer:</span>
        <p>
            Answer(s) to one or more parameter question(s) First American Title Insurance Company utilizes to gather data required to
            determine the rate to be charged or validity of a particular product for a particular use has/have been preselected.  As a
            result, such parameter question(s) has/have been eliminated from the Site User’s view on {{selectedRate.BrokerName}}'s
            site.  Such pre-selections may, in some instances, result in the fee quoted by {{selectedRate.BrokerNarateOptionme}}
            differing from the fee returned by First American’s First American Comprehensive Calculator ("FACC").
        </p>
        <br />
        <p>
            There are many variables that need to be considered in determining the final rate to be charged, including geographic and
            transaction specific items which are beyond the functionality provided by First American's FACC.  All estimates obtained
            through the use of the FACC are dependent upon the accuracy of the information entered into the FACC, including, but not
            limited to, the answers to the parameter questions referred to above.  Please contact your local First American office or
            agent to confirm the accuracy of the rates quoted.
        </p>
    </div>
</div>

<div class="cash-to-close popup">
    <h3>Cash to Close Calculation</h3>

    <div>
        <div>
            <span>Loan Program:</span>
            <span>{{selectedProgram ? selectedProgram.lLpTemplateNm : selectedRate.LpTemplateNm}}</span>
        </div>
        <div class="float-right">
            <span>Note Rate:</span>
            <span>{{selectedRate.Rate}}%</span>
        </div>
    </div>

    <table class="popup-table cash-to-close-table">
        <tr>
            <td>a.  Purchase Price</td>
            <td></td>
            <td>{{selectedRate.sPurchPrice}}</td>
            <td>j.  Subordinate financing</td>
            <td>{{selectedRate.sONewFinBal}}</td>
        </tr>
        <tr>
            <td>b.  Alterations, improvements, repairs</td>
            <td></td>
            <td>{{selectedRate.sAltCost}}</td>
            <td>k.  Borrower's closing costs paid by Seller</td>
            <td>{{selectedRate.sTotCcPbs}}</td>
        </tr>
        <tr>
            <td>c.  Land (if acquired separately)</td>
            <td></td>
            <td>{{selectedRate.sLandCost}}</td>
            <td>l.  {{selectedRate.sOCredit1Desc}}</td>
            <td>{{selectedRate.sOCredit1Amt}}</td>
        </tr>
        <tr>
            <td>d.  Refi (incl. debts to be paid off)</td>
            <td></td>
            <td>{{selectedRate.sRefPdOffAmt1003}}</td>
            <td>{{selectedRate.sOCredit2Desc}}</td>
            <td>{{selectedRate.sOCredit2Amt}}</td>
        </tr>
        <tr>
            <td>
                e.  Estimated prepaid items
            </td>
            <td></td>
            <td>{{selectedRate.sTotEstPp1003}}</td>
            <td>{{selectedRate.sOCredit3Desc}}</td>
            <td>{{selectedRate.sOCredit3Amt}}</td>
        </tr>
        <tr>
            <td>
                <span ng-if="selectedRate.sIsIncludeProrationsIn1003Details && selectedRate.sIsIncludeProrationsInTotPp">
                    Prepaids and Reserves
                </span>
            </td>
            <td>
                <span ng-if="selectedRate.sIsIncludeProrationsIn1003Details && selectedRate.sIsIncludeProrationsInTotPp">
                    {{selectedRate.sTotEstPp}}
                </span>
            </td>
            <td></td>
            <td>{{selectedRate.sOCredit4Desc}}</td>
            <td>{{selectedRate.sOCredit4Amt}}</td>
        </tr>
        <tr>
            <td>
                <span ng-if="selectedRate.sIsIncludeProrationsIn1003Details && selectedRate.sIsIncludeProrationsInTotPp">
                    Prorations Paid by Borrower
                </span>
            </td>
            <td>
                <span ng-if="selectedRate.sIsIncludeProrationsIn1003Details && selectedRate.sIsIncludeProrationsInTotPp">
                    {{selectedRate.sTotalBorrowerPaidProrations}}
                </span>
            </td>
            <td></td>
            <td>Lender Credit</td>
            <td>{{selectedRate.sOCredit5Amt}}</td>
        </tr>
        <tr ng-if="!selectedRate.sIsIncludeONewFinCcInTotEstCc">
            <td></td>
            <td></td>
            <td></td>
            <td>Other financing closing costs</td>
            <td>{{selectedRate.sONewFinCc}}</td>
        </tr>
        <tr>
            <td>f.  Estimated closing costs</td>
            <td></td>
            <td>{{selectedRate.sTotEstCcNoDiscnt1003}}</td>
            <td>
                <span>
                    m.  Loan amount (exclude PMI, MIP, FF financed)
                </span>
            </td>
            <td>
                <span>
                    {{selectedRate.sLAmtCalc}}
                </span>
            </td>
        </tr>
        <tr>
            <td>g.  PMI, MIP, Funding Fee</td>
            <td></td>
            <td>{{selectedRate.sFfUfmip1003}}</td>
            <td>n.  PMI, MIP, Funding Fee financed</td>
            <td>{{selectedRate.sFfUfmipFinanced}}</td>
        </tr>
        <tr>
            <td>h.  Discount (if Borrower will pay)</td>
            <td></td>
            <td>{{selectedRate.sLDiscnt1003}}</td>
            <td>o.  Loan amount (add m &amp; n)</td>
            <td>{{selectedRate.sFinalLAmt}}</td>
        </tr>
        <tr>
            <td>i.  Total costs (add items a to h)</td>
            <td></td>
            <td>{{selectedRate.sTotTransC}}</td>
            <td>p.  Cash from / to Borr (subtract j, k, l &amp; o from i)</td>
            <td>{{selectedRate.sTransNetCash}}</td>
        </tr>
    </table>
</div>

<div class="reserve-months popup">
    <div>
        <h3>Reserve Months Calculation</h3>

        <div>
            <div><label>Loan Program: </label> {{selectedProgram ? selectedProgram.lLpTemplateNm : selectedRate.LpTemplateNm}}</div>
            <div><label>Note Rate: </label> {{selectedRate.Rate}}%</div>
        </div>

        <div class="calculation-explanation">
            <div>
                Reserve Months
            </div>
            <div>=</div>
            <div>
                <span>Total Liquid Assets - Cash From Borrower</span>
                <hr />
                <span>Qualifying PITIA</span>

            </div>
            <div>=</div>
            <div>
                <span>{{selectedRate.sTotLiquidAssets}} - {{selectedRate.sTransNetCashNonNegative}}</span>
                <hr />
                <span>{{selectedRate.sMonthlyPmt}} / month</span>
            </div>
            <div>=</div>
            <div>
                {{selectedRate.Reserves}} months
            </div>
        </div>
    </div>
</div>

<div class="dti popup">
    Max DTI: {{selectedRate.MaxDti != "" && selectedRate.MaxDti != null ? selectedRate.MaxDti : "N/A"}}
</div>
