<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table table table-agent-record-left">
                <div>
                    <div></div>
                    <div>
                        <a class="contact-link">Pick from Contacts</a>
                        <a>Add to Contacts</a>
                    </div>
                </div>
            </div>
            <div class="flex">
                <section>
                    <div class="table table-agent-record-left">
                        <div>
                            <div>
                                <label>Contact Type</label>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.AgentRecord.AgentRoleT"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Contact Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.AgentName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.CompanyName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Branch Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.BranchName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Department Name</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.DepartmentName"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Company Address</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.StreetAddr"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div>
                                <lqb-input class="form-control form-control-city" lqb-model="vm.loan.AgentRecord.City"></lqb-input>
                                <lqb-input lqb-model="vm.loan.AgentRecord.State"></lqb-input>
                                <lqb-input lqb-model="vm.loan.AgentRecord.Zip"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Company Phone</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.PhoneOfCompany"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Email</label></div>
                            <div>
                                <div class="table">
                                    <div>
                                        <div class="flex"><lqb-input class="form-control form-control-email" lqb-model="vm.loan.AgentRecord.EmailAddr"></lqb-input></div>
                                        <div><a ng-click="vm.f_sendEmail()">send mail</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="vm.isInvalidEmail()">
                            <div></div>
                            <div><label class="text-danger">(Please enter a valid e-mail address)</label></div>
                        </div>
                        <div>
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.IsNotifyWhenLoanStatusChange" label="Send email when loan status changes"></lqb-input></div>
                        </div>
                        <div ng-show="vm.IsAllowToggleOverride">
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.OverrideLicenses" label="Override agent and company licenses"></lqb-input></div>
                        </div>
                    </div>
                    <div class="table table-agent-record-left">
                        <div>
                            <div>
                                <div class="table">
                                    <div>
                                        <div><label>Agent License #</label></div>
                                    </div>
                                    <div>
                                        <div><label>Company License #</label></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="table">
                                    <div>
                                        <div><lqb-input lqb-model="vm.loan.AgentRecord.LicenseNumOfAgent"></lqb-input></div>
                                    </div>
                                    <div>
                                        <div><lqb-input lqb-model="vm.loan.AgentRecord.LicenseNumOfCompany"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="table">
                                    <div>
                                        <div>for state <lqb-input lqb-model="vm.loan.fields.sSpState"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table table-agent-record-left">
                        <div>
                            <div><label>Loan Originator NMLS ID</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.LoanOriginatorIdentifier"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Loan Origination Company NMLS ID</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.CompanyLoanOriginatorIdentifier"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Tax ID</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.TaxId"></lqb-input></div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="table table-agent-record-right">
                        <div>
                            <div><label>Phone</label></div>
                            <div>
                                <lqb-input lqb-model="vm.loan.AgentRecord.Phone"></lqb-input>
                            </div>
                        </div>
                        <div>
                            <div><label>Fax</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.FaxNum"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Cell phone</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.CellPhone"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>Pager</label></div>
                            <div><lqb-input class="form-control form-control-pager" lqb-model="vm.loan.AgentRecord.PagerNum"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div class="form-control-empty"></div>
                        </div>
                        <div>
                            <div><label>Employee ID</label></div>
                            <div><lqb-input class="form-control form-control-employee-id" lqb-model="vm.loan.AgentRecord.EmployeeIDInCompany"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div class="form-control-empty"></div>
                        </div>
                        <div>
                            <div><label>Company Fax</label></div>
                            <div><lqb-input lqb-model="vm.loan.AgentRecord.FaxOfCompany"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div class="form-control-empty"></div>
                        </div>
                        <div>
                            <div></div>
                            <div class="form-control-empty"></div>
                        </div>
                        <div ng-show="vm.IsAllowToggleOverride">
                            <div></div>
                            <div class="form-control-empty"></div>
                        </div>
                    </div>
                    <div class="table table-agent-record-right">
                        <div>
                            <div><label>Case Number</label></div>
                            <div><lqb-input class="form-control form-control-case-number" lqb-model="vm.loan.AgentRecord.CaseNum"></lqb-input></div>
                        </div>
                        <div>
                            <div><label>CHUMS ID</label></div>
                            <div><lqb-input class="form-control form-control-chums-id" lqb-model="vm.loan.AgentRecord.ChumsId"></lqb-input></div>
                        </div>
                    </div>
                    <div ng-show="vm.loan.AgentRecord.AgentRoleT.v == 10">
                        <hr/>
                        <div class="table table-agent-record-right">
                            <div>
                                <div><label>Investor Sold Date</label></div>
                                <div><lqb-input lqb-model="vm.loan.AgentRecord.InvestorSoldDate"></lqb-input></div>
                            </div>
                            <div>
                                <div><label>Basis Point</label></div>
                                <div><lqb-input lqb-model="vm.loan.AgentRecord.InvestorBasisPoints"></lqb-input></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="table table-agent-record-left">
                <div>
                    <div><label>Pay To</label><label class="text-right">Bank Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.PayToBankName"></lqb-input></div>
                    <div><label>Bank City/State</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.PayToBankCityState" li-type="text"></lqb-input></div>
                    <div><label>ABA Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.PayToABANumber"></lqb-input></div>
                </div>
                <div>
                    <div><label class="text-right">Account Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.PayToAccountNumber"></lqb-input></div>
                    <div><label>Account Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.PayToAccountName"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
                <div>
                    <div><label>Further Credit To</label><label class="text-right">Account Number</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.FurtherCreditToAccountNumber"></lqb-input></div>
                    <div><label>Account Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.FurtherCreditToAccountName"></lqb-input></div>
                    <div></div>
                    <div></div>
                </div>
            </div>

            <div class="table table-agent-record-left">
                <div ng-show="vm.CommisionInfoVisible && !vm.loan.AgentRecord.IsUseOriginatorCompensationAmount.v">
                    <div><label>Commission</label></div>
                    <div class="form-control-commission">
                        Loan Amt x <lqb-input lqb-model="vm.loan.AgentRecord.CommissionPointOfLoanAmount"></lqb-input> 
                        + Gross Profit x <lqb-input lqb-model="vm.loan.AgentRecord.CommissionPointOfGrossProfit"></lqb-input> 
                        + <lqb-input lqb-model="vm.loan.AgentRecord.CommissionMinBase"></lqb-input>
                    </div>
                </div>
                <div ng-show="vm.CommisionInfoVisible">
                    <div><label>Commission Total =</label></div>
                    <div><lqb-input lqb-model="vm.loan.AgentRecord.Commission"></lqb-input></div>
                </div>
            </div>

            <hr/>
            <div class="table" ng-show="vm.IsShowAffilates">
                <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsLender" label="This company is the lender"></lqb-input></div></div>
                <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsOriginator" label="This company is the originator"></lqb-input></div></div>
                <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsLenderAffiliate" label="This company is an affiliate of the lender"></lqb-input></div></div>
                <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsOriginatorAffiliate" label="This company is an affiliate of the originator"></lqb-input></div></div>
            </div>
            <div class="table">
                <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsListedInGFEProviderForm" label="The service provider has a relationship with Lender"></lqb-input></div></div>
            </div>
            
            <div class="item-number">
                <div class="table">
                    <div><div><label>Item Number</label><lqb-input class="form-control form-control-phone" lqb-model="vm.loan.AgentRecord.ProviderItemNumber"></lqb-input></div></div>
                    <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsLenderAssociation" label="The provider is an associate of Lender"></lqb-input></div></div>
                    <div>
                        <div ng-hide="vm.IsShowAffilates">
                            <lqb-input lqb-model="vm.loan.AgentRecord.IsLenderAffiliate" label="The provider is an affiliate of Lender"></lqb-input>
                        </div>
                    </div>
                    <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsLenderRelative" label="The provider is a relative of Lender"></lqb-input></div></div>
                    <div><div><lqb-input lqb-model="vm.loan.AgentRecord.HasLenderRelationship" label="The provider has an employment, franchise or other business relationship with Lender"></lqb-input></div></div>
                    <div><div><lqb-input lqb-model="vm.loan.AgentRecord.HasLenderAccountLast12Months" label="Within the last 12 months, the provider has maintained an account with Lender or had an outstanding loan or credit arrangement with Lender"></lqb-input></div></div>
                    <div><div><lqb-input lqb-model="vm.loan.AgentRecord.IsUsedRepeatlyByLenderLast12Months" label="Within the last 12 months, Lender has repeatedly used or required borrowers to use the services of this provider"></lqb-input></div></div>
                </div>
            </div>
            <hr/>

            <div class="table table-notes">
                <div><div><label>Notes</label></div></div>
                <div><div><lqb-input class="form-control form-control-notes" lqb-model="vm.loan.AgentRecord.Notes"></lqb-input></div></div>
            </div>

            <div class="table">
                <div>
                    <div><button ng-click="vm.save()">Copy info to 'Prepared By' fields on appropriate forms</button></div>
                    <div><a target="_blank" href="https://support.lendingqb.com/index.php?/Knowledgebase/Article/View/334">Which forms will be updated?</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
