// SideBar navigation
.navbar.wrap-header {
    flex: none;
    margin-bottom: 0;
    border: none;

    .container-fluid {
        padding: 0;
    }
}

.wrap-sidebar {
    position: fixed;
    z-index: 20;
    left: $navigation-width;
    margin-left: -$navigation-width;
    padding-top: 64px;
    height: 100%;
    transition-property: width, left, margin;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    &.toggled {
        left: 0;
    }

    &.toggled-wide {
        left: -56px;
    }

    &.no-top-padding {
        padding-top: 0;
    }
}

// Add the generic framework links  to be listed at the top of each page in the TPO portal
[generic-framework-vendor-links].outside-wrap {
    position: relative;
    z-index: 1;
    top: (92 / 14) * 1em;
    left: (270 / 14) * 1em;
    width: calc(100% - (270 / 14) * 1em);
}

[generic-framework-vendor-links].outside-wrap.toggled {
    left: (70 / 14) * 1em;
    width: calc(100% - (70 / 14) * 1em);
}

// Loan Info header
.loan-info-header {
    color: $text-color-white;
    background-color: $primary-high;
    width: 100%;
    height: 64px;

    .info-header {
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 18px;
        padding-right: 18px;
        display: flex;

        span {
            &.info {
                color: $font-default-header-bg;
                font-size: $font-size-subheader;
                line-height: 2;
                flex: 1 96%;
            }
            &.log-out {
                text-align: right;
                flex: 1 4%;

                a {
                    color: $accent-header-bg;
                    &:hover {
                        text-decoration: none;
                    }

                    .logout-icon {
                        margin-right: 10px;
                        font-size: $font-size-title;
                        color: $accent-header-bg;
                    }
                    .text {
                        display: block;
                        font-size: $font-size-caption;
                    }
                }
            }
        }
    }
}

ul.loan-info-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: $primary-high;
    width: 100%;
    height: 64px;
    list-style-type: none;
    padding: 0 18px;
    position: fixed;
    z-index: 40;
    font-size: $font-size-default;
    font-family: $font-stack;

    li {

        &.back-btn {
            vertical-align: middle;

            .pipeline-icon {
                -webkit-transform: rotate(-180deg);
                -moz-transform: rotate(-180deg);
                -ms-transform: rotate(-180deg);
                -o-transform: rotate(-180deg);
                transform: rotate(-180deg);
                font-size: $font-size-title;
            }
        }

        a, span.pipeline-text, span.log-out-text {
            text-decoration: none;
            color: $accent-header-bg;
        }

        span.log-out-text {
            font-size: $font-size-caption;
        }

        span.pipeline-text {
            display: inline;
        }

        .material-icons {
            color: $accent-header-bg;
        }
    }

    .title {
        color: $font-default-header-bg;

        + div {
            display: block;
            color: $font-secondary-header-bg;

            #sCreditScoreType2 {
                display: inline-block;
            }
        }
    }    

    .vertical-line {
        height: 65%;
        border-right: 1px inset $text-color-white;
        opacity: .7;
    }

    #save-button-list-item .save-button {
        width: 100px;
        color: $save-button-color-text;
        background-color: $save-button-color-bg;
        padding: 3px 5px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        box-shadow: none;
        box-sizing: border-box;
        font-size: 14px;
        left: auto;
        line-height: 14px;
        margin-bottom: 2px;

    }

    #save-button-list-item .save-button[disabled] {
        cursor: not-allowed !important;
        color: darken($save-button-color-text, 15%);
        background-color: darken($save-button-color-bg, 15%);
        border-width: 0px;
    }

    // super hacky solution to allow disabled tooltips to work on disabled inputs in Angular.
    // https://github.com/angular-ui/bootstrap/issues/1025
    .layer-mask {
        position: relative;
    }
    .layer {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;        
    }
    .layer-mask .save-button[disabled] {
        position: relative;
        z-index: -1;
    }
}

.sidebar {

    &.sidebar-arrow {
        width: $navigation-width;
        height: 100%;
    }

    &.sidebar-wide {
        width: $navigation-min-width;
        overflow: hidden;
        height: calc(100vh - 65px);

        //for hiding vertical scrollbar
        #nav {
            width: $navigation-min-width  + 17px;
            overflow-y: auto ;
            height: 100%;
            li {
                width: $navigation-min-width;
            }
        }
    }

    padding: 1.5em 0;
    overflow-x: visible;
    width: 100%;
    z-index: 10;
    background-color: $primary-preferred;
    color: $font-nav;
    float:left;
    box-sizing: border-box;

    #nav, .nav-bar {
        background: none;
        box-shadow: none;
        border: none;
        border-radius: 0px;

        li {
            border-bottom: rgba($font-nav, 0.12) 1px solid;
            font-weight: bold;
            a {
                position: relative;
                z-index: 1;
                font-size: $font-size-left-nav;
                padding-top: $em14PP * 10;
                padding-bottom: $em14PP * 10;
                padding-left: $padding-16;
                padding-right: 0;
                color: $font-nav;
                display: block;
                cursor: pointer;
                outline: none;
                text-decoration: none;

                &.open, &.subdrop {
                    background-color: rgba($font-nav, 0.04);
                    text-decoration: none;
                }
                &:hover {
                    background-color: rgba($font-nav, 0.08) !important;
                    text-decoration: none;
                }
                &.active, &.selected {
                    &:not(.folder) {
                        color: $font-nav;
                        background-color: $nav-selected !important;
                        font-weight: bold;
                    }
                }
            }



            ul {
                display: none;
                margin-left: 0;

                li {
                    display: block;
                    border: none;
                    font-weight: normal;
                    a {
                        padding-left: 2.5em;
                        text-transform: capitalize;
                        font-size: $font-size-caption;

                        &:hover, &:focus, &.active {
                            background-color: rgba($font-nav, 1 / 24) !important;
                        }
                    }
                }
            }
        }
        //iOPM: 460235
        &.nav-pipeline {
            li {

                span.PortalModeContainer {
                    display:inline-block;
                    white-space: nowrap;
                    padding-left: $padding-16;
                    padding-bottom: $padding-16;
                    font-weight: normal;

                    span {
                        display: inline-block;
                        float: left;
                        height: 22 * $em14PP;
                        line-height: 22 * $em14PP;
                        padding-right: .3em;
                    }
                    .select-box select {
                        width: $em14PP * 165;
                    }
                }

                a {
                    padding-right: $em14PP * 20;
                }

                &.level-1 {
                    a {
                        &:hover &:not(.active,.selected) {
                            background-color: rgba($font-nav, 0.08) !important;
                        }
                        &.open, &.subdrop{
                            background-color: rgba($font-nav, 0.04);
                        }
                    }
                    ul {
                        padding-bottom: .5em;
                        background-color: rgba($font-nav, 0.04);
                        li {
                            a {
                                padding-left: $em12PP * 16;
                                padding-top: $em12PP * 4;
                                padding-bottom: $em12PP * 4;
                                line-height: 1.4;

                                &.pipeline-report-divider {
                                    padding-top: $em12PP * 4;
                                    padding-bottom: $em12PP * 4;
                                    pointer-events: none;

                                    hr {
                                        margin: 0;
                                        border-top-color: rgba($font-nav, 0.12);
                                    }
                                }
                            }
                        }
                    }
                }
                &.level-2 {
                    a {
                        &.open, &.subdrop{
                            //https://stackoverflow.com/questions/23806048/calculate-sum-opacity-from-layers
                            //Increase 10% Opacity for each level
                            //Total Opacity = First Opacity + (100 - First Opacity) * Second Opacity
                            // 0.2 = 0.1 + (1 - 0.1) * Second Opacity
                            background-color: transparent;
                        }
                        &:hover &:not(.active,.selected) {
                            background-color: rgba($font-nav, 1 / 24) !important;
                        }
                    }
                    ul {
                        padding-bottom: 0;
                        background-color: transparent;
                        li {
                            a {
                                padding-left: $em12PP * 32;
                            }
                        }
                    }
                }
                &.level-3 {
                    a {
                        &.open, &.subdrop{
                            background-color: transparent;
                        }
                        &:hover &:not(.active,.selected) {
                            background-color: rgba($font-nav, 1 / 24) !important;
                        }
                    }
                    ul {
                        padding-bottom: 0;
                        background-color: transparent;
                        li {
                            a {
                                padding-left: $em12PP * 48;
                            }
                        }
                    }
                }
                &.level-4 {
                    a {
                        &.open, &.subdrop{
                            background-color: transparent;
                        }
                        &:hover &:not(.active,.selected) {
                            background-color: rgba($font-nav, 1 / 24) !important;
                        }
                    }
                    ul {
                        padding-bottom: 0;
                        background-color: transparent;
                        li {
                            a {
                                padding-left: $em12PP * 64;
                            }
                        }
                    }
                }
            }
        }
    }
    //iOPM: 463531
    .nav-bar {
        li a {
            .material-icons {
                &.unlocked {
                    margin-left: 3px;
                    margin-top: -1px;
                    width: 13px;
                    height: 16px;
                    &:before {
                        content: lockCheckboxSvg($accent-high, false);
                    }
                }
                &.locked {
                    margin-left: 3px;
                    margin-top: -1px;
                    width: 17px;
                    height: 16px;
                    &:before {
                        content: lockCheckboxSvg(rgba($font-nav, .24), true);
                    }
                }
            }
        }
    }

    .pull-right {
        position: absolute;
        right: 6px;
        top: 50%;
        margin-top: -8px;
    }
}

// Side-bar Animation CSS
.collapse-arrow {
    background-color: $secondary-preferred;
    width: $navigation-collapse;
    height: 100%;
    float: left;
    position: relative;

    .material-icons {

        -webkit-transition:all .3s ease-in 0s;
        -moz-transition: all .3s ease-in 0s;
        -o-transition: all .3s ease-in 0s;
        transition: all .3s ease-in 0s;

        &.collapsing {
            color: $accent-high;
            font-size: $font-size-collapse-icon;
            position: absolute;
            top: 50%;
            margin-top: -.5em;
            left: 50%;
            margin-left: -.5em;
        }

        &.arrow-rotate {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}



