button, a, p {
    text-shadow: none;
    outline: none;
}
a.collapse-arrow {

    &:hover, &:focus {
        color: $link-color;
        cursor: pointer;
        text-decoration: underline;
    }
}

.wrap-nav {
    flex: 0 0 $navigation-min-width;
    order: -1;
    background-color: $primary-preferred;
}

.sidebar {
    #nav, .nav-bar {

        li {

            a {
                font-family: $font-stack;
            }
        }
    }
}

.FieldLabel {
	color: #565656;
	font-weight: bold;
}

.page-header {
    font-family: $font-stack;
    font-size: $font-size-title;
    font-weight: normal;
    margin: 0;
    padding-top: (32 / 18) * 1em;
    padding-bottom: 1.5em;
    padding-left: 32px;
    border-bottom: 0;
}

// Material icons code
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: $font-size-subheader; 
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    vertical-align: middle;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';

    &.red {
        color: $danger-color;
    }
    &.green {
        color: $success-color;
    }
    &.orange {
        color: $warning-color;
    }
    &.dark-gray {
        color: $secondary-noncustomizable-low;
    }

    &.large-material-icons {
        font-size: $font-size-headline;
    }
}


.content-detail {
    padding-top: 64px;
    padding-left: $contentDetailLeft;
    transition: all 0.5s ease;
    padding-right: 0;

    .extra-side-margin {
        width: 100%;
    }

    .warp-section {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
        box-sizing: border-box;
        width: 100%;
        min-width: $minimum-resolution - $scrollbar-width - $navigation-collapse;
        max-width: $maximum-content-width - $scrollbar-width;
    }

    .content-container.row {
        width: 100%;
        max-width: none;
    }
}

.content-detail.toggled {
    padding-left: $navigation-collapse;
}
.content-detail.old-layout {
    padding: 0;
}

// Tooltips

.ui-tooltip {
    width: 195px;
}

.pml-body {
    .ui-tooltip {
        max-width: 22em;
        padding: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .ui-widget-content {
        font-family: $font-stack;
        border: none;
    }

    .tooltip {
        position: absolute;
        z-index: 1070;
        display: block;
        visibility: visible;
        font-size: $font-size-caption;
        line-height: 1.4;
        opacity: 0;
    }

    .tooltip.in {
        opacity: 1;
    }

    .tooltip-inner, .ui-tooltip-content {
        max-width: 230px;
        padding: 8px 10px;
        color: $font-tooltip;
        font-size: $font-size-caption;
        background-color: $secondary-high;
        line-height: 1.4;
        text-align: center;
        text-decoration: none;
        border-radius: 0;
    }

    .tooltip-arrow {
        position: absolute;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
    }

    .tooltip.bottom .tooltip-arrow {
        border-width: 0;
    }
}

// Add the generic framework links  to be listed at the top of each page in the TPO portal
[generic-framework-vendor-links] {
    a {
        color: $accent-preferred;
        font-family: $font-stack;
        font-size: $font-size-default;
    }
}
[generic-framework-vendor-links].outside-wrap.toggled {
    left: 70px;
}
// Pricing page

#PMLLoadingScreen {

    color: $font-content;
    font-family: $font-stack;
    font-size: $font-size-default;
    padding-top: 0;

    .loading-content {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -90px;
    }

    .img-loading {
        width: (30 / 14) * 1em;
        height: (30 / 14) * 1em;
    }

    h3.text-loading {
        font-size: $font-size-subheader;
        margin-top: (12 / 16) * 1em;
        font-weight: normal;
    }
}

// style.css
INPUT {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;

    &:focus {
        background-color: rgb(255,255,0);
    }
}
SELECT {
    font-size: 11px;
}
INPUT[readonly], SELECT[disabled] {
    background-color: lightgrey !important;
}
A
{
    color: Blue ;
    text-decoration: underline;
    cursor: pointer;
}
A:link
{
    color: Blue ;
}
A:visited
{
    color: Blue ;
}
A:hover
{
    text-decoration: underline;
}

.old-layout-pricing {
    padding: 0;
    margin-left: -60px;

    .row {
        width: 100%;
        margin: 0 auto;
    }
}

#resultsIframe {
    width: 100% !important;
}

.qp2 {
    .old-layout-pricing {
        margin-left: -16px;
    }

    .dynamicrow {
        max-width: initial;
        overflow: auto;
    }
}

.pml-body {
    .content-container.dynamicrow {
        min-width: 1231px;
    }

    .gridcontainer.content-detail .warp-section {
        margin-top: 0;
    }

    .page-header {
        padding-left: 0;
    }
}

.within-pipeline {
    .gridcontainer.content-detail {
        padding-top: 0;
        padding-left: 0;
    }

    .hide-within-pipeline {
        display: none;
    }
}