﻿//Settings for some of the most global styles.

$minimum-resolution: 1280px;
$maximum-resolution: 1600px;


// Background color for `<body>`.
$body-bg: #FFFFFF;

// Global text color on `<body>`.
$text-color-white: #FFFFFF;
$text-color-black: #000000;

// Global textual link color.
$link-color: #1970FF;

// Link hover color set via `darken()` function.
$link-hover-color: darken($link-color, 15%);

// Link hover decoration.
$link-hover-decoration: underline;

// Customizable colors
$primary-high: #495B79 !default;	    // Loan Info header background
$primary-preferred: #E4F1FE !default;	// Selected Navigation; Table header
$primary-low: #E4F1FE !default;		    // Header in the content area

$accent-high: #F0A200 !default;			// Raised button background; Flat button labels; Selected tabs; Hover and selected rows in tables
$accent-preferred: #1970FF !default;	// Links; Focused input areas; Date Picker; Sorted columns in tables
$accent-header-bg: #F0A200 !default;    // Accent for the loan navigation header background

$save-button-color-text: #FFFFFF !default;  // Save button text color
$save-button-color-bg: #F0A200 !default;    // Save button background color

$secondary-high: #3A3E40 !default;       // Tooltip background
$secondary-preferred: #E7EDF4 !default; // Side nav expand/collapse button

$font-white: #FFFFFF;                       // Loan Info header font; Raised button label
$font-black: #000000;                       // Content font
$font-nav: #000000 !default;                // Side navigation font
$font-tooltip: #FFFFFF !default;            // Tooltip font in the content area
$font-btn-raised: #FFFFFF !default;         // Raised button font
$font-btn-flat: #F0A200 !default;           // Flat button font

$progress-bar-high: #529834 !default;         // Progress bar (current status, current status-hover)
$progress-bar-preferred: #69A64E !default;
$progress-bar-past-opacity: 0.86;
$progress-bar-past-hover-opacity: 0.96;
$progress-bar-past: rgba($progress-bar-preferred, $progress-bar-past-opacity); // Progress bar (past status, past status-hover)
$progress-bar-past-hover: rgba($progress-bar-past, $progress-bar-past-hover-opacity);


// Non-Customizable colors
$success-color: #4CAF50;             // Satisfied (e.g. Conditions - "Associated"). When updating this value, also update mdc-theme-variables.css
$warning-color: #FF8200;             // Audit History for Task (e.g. "Resolved and assigned to")
$danger-color: #EA1C0D;              // Warning (e.g. Conditions - "Required", Due Date); Warning messages (e.g. inside assign dialog on Status and Agents page); Task past due date
$disabled-color: #EEEEEE;
$shadow-color: #FAFAFA;		         // Background color once user starts scrolling down the page

$secondary-noncustomizable-high: #DCDCDC;         // Future status - Normal
$secondary-noncustomizable-preferred: #C5C5C5;    // Future status - Hover; Sub-section dividers
$secondary-noncustomizable-low: #808080;          // Various things that need to be grey

// Typography
$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$space-font-ratio: 1;						// this is used to determine em/rem units for padding and margins

$font-size-small: 10px;
$font-size-caption: 12px;
$font-size-default: 14px;
$font-size-subheader: 16px;
$font-size-title: 18px;
$font-size-large-icon: 22px;
$font-size-headline: 24px;
$font-size-collapse-icon: 30px;
$font-size-close-icon: 28px;

$font-default: #000000;
$font-secondary: rgba($font-default, 0.5);              // #000000 -> 50%
$font-disabled: rgba($font-default, 0.2);               // #000000 -> 20%
$font-accent: #F0A200;
$font-content: #000000 !default;

$font-default-header-bg: #FFFFFF !default;                                 // Labels in the Loan Info Header will be #FFFFFF %100
$font-secondary-header-bg: rgba($font-default-header-bg, 0.7);     // #FFFFFF -> 70%, Values in the Loan Info Header will be #FFFFFF %70
$font-disabled-header-bg: rgba($font-default-header-bg, 0.2);      // #FFFFFF -> 20%
$font-accent-header-bg: #F0A200;

// Side Navigation
$font-size-left-nav: 14px;
$navigation-width: 178px;
$navigation-min-width: 234px;
$navigation-min-height: 65px;
$navigation-collapse: 32px;
$nav-selected: #FFFFFF !default;                // Selected item background in the Side navigation
$nav-hover: rgba($nav-selected, 0.4);           // Selected item background in the Side navigation -> 40%, Hover
$nav-active: #FFFFFF;                           // #FFFFFF -> 100%, Active

$contentDetailTop: 64px;
$contentDetailLeft: $navigation-width + $navigation-collapse;
$contentDetailLeftPipeline: $navigation-min-width + $navigation-collapse;

// Padding
$padding-4:  (4 / 14)  * 1em;
$padding-8:  (8 / 14)  * 1em;
$padding-12: (12 / 14) * 1em;
$padding-16: (16 / 14) * 1em;
$padding-18: (18 / 14) * 1em;
$padding-20: (20 / 14) * 1em;
$padding-24: (24 / 14) * 1em;
$padding-26: (26 / 14) * 1em;
$padding-28: (28 / 14) * 1em;
$padding-32: (32 / 14) * 1em;

$em18PP: (1 / 18) * 1em;

//huyn
$em14PP: (1 / 14) * 1em;
$em16PP: (1 / 16) * 1em;

//LN
$scrollbar-width: 17px;
$minimum-content-width: $minimum-resolution - $contentDetailLeft;
$maximum-content-width: $maximum-resolution - $contentDetailLeft;
$minimum-content-scroll-width: $minimum-content-width - $scrollbar-width;
$maximum-content-scroll-width: $maximum-content-width - $scrollbar-width;

$default-highlight-color: rgb(77, 144, 254);

$table-header-max-height: 33px;

// Pricing page
$em11PP: (1 / 11) * 1em;
$em12PP: (1 / 12) * 1em;
$accent-pricing: #F56A00;
$link-color-pricing: #1054BA;
$background-pricing-page: #E5E5E5;
$background-section-shadow: #FFFFFF;
$text-disclaimer: #FF1744;
