﻿.loan-info-header-bg {
    fill: $primary-high;
}

.header-accent {
    fill: $accent-header-bg;
}

.header-title-text {
    fill: $font-default-header-bg;
}

.header-text {
    fill: $font-secondary-header-bg;
}

.side-nav-bg {
    fill: $primary-preferred;
}

.expand-collapse-bg {
    fill: $secondary-preferred;
}

.side-nav-selection {
    fill: $nav-selected;
}

.side-nav-text {
    fill: $font-nav;
}

.tooltip-bg {
    fill: $secondary-high;
}

.tooltip-text {
    fill: $font-tooltip;
}

.content-text {
    fill: $font-content;
}

.content-header {
    fill: $primary-low;
}

.content-link {
    fill: $accent-preferred;
}

.content-button {
    fill: $accent-high;
}

.content-button-text {
    fill: $font-btn-raised;
}

svg use path {
    fill: inherit;
}
