@function lockCheckboxSvg($color, $isChecked:true){
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    $opacity: opacity($color);
    @if ($isChecked == false) {
        $width:13;
        $height:16;

        // Lock Svg content from Figma
        // <svg viewBox="0 0 13 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        // <g id="Canvas" transform="translate(-118 -5422)">
        // <g id="Vector">
        // <use xlink:href="#uncheck_lock_ckecbox_fill" transform="translate(118 5422)" fill="rgba(240, 162, 0, 1)"/>
        // </g>
        // </g>
        // <defs>
        // <path id="uncheck_lock_ckecbox_fill" d="M 10.6667 5.33333L 9.90476 5.33333L 9.90476 3.80952C 9.90476 1.70667 8.1981 0 6.09524 0C 3.99238 0 2.28571 1.70667 2.28571 3.80952L 2.28571 5.33333L 1.52381 5.33333C 0.685714 5.33333 0 6.01905 0 6.85714L 0 14.4762C 0 15.3143 0.685714 16 1.52381 16L 10.6667 16C 11.5048 16 12.1905 15.3143 12.1905 14.4762L 12.1905 6.85714C 12.1905 6.01905 11.5048 5.33333 10.6667 5.33333ZM 6.09524 12.1905C 5.25714 12.1905 4.57143 11.5048 4.57143 10.6667C 4.57143 9.82857 5.25714 9.14286 6.09524 9.14286C 6.93333 9.14286 7.61905 9.82857 7.61905 10.6667C 7.61905 11.5048 6.93333 12.1905 6.09524 12.1905ZM 8.45714 5.33333L 3.73333 5.33333L 3.73333 3.80952C 3.73333 2.50667 4.79238 1.44762 6.09524 1.44762C 7.3981 1.44762 8.45714 2.50667 8.45714 3.80952L 8.45714 5.33333Z"/>
        // </defs>
        // </svg>
        @return url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20#{$width}%20#{$height}%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0D%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-118%20-5422%29%22%3E%0D%0A%3Cg%20id%3D%22Vector%22%3E%0D%0A%3Cuse%20xlink%3Ahref%3D%22%23uncheck_lock_ckecbox_fill%22%20transform%3D%22translate%28118%205422%29%22%20fill%3D%22rgba%28#{$red}%2C%20#{$green}%2C%20#{$blue}%2C%20#{$opacity}%29%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cdefs%3E%0D%0A%3Cpath%20id%3D%22uncheck_lock_ckecbox_fill%22%20d%3D%22M%2010.6667%205.33333L%209.90476%205.33333L%209.90476%203.80952C%209.90476%201.70667%208.1981%200%206.09524%200C%203.99238%200%202.28571%201.70667%202.28571%203.80952L%202.28571%205.33333L%201.52381%205.33333C%200.685714%205.33333%200%206.01905%200%206.85714L%200%2014.4762C%200%2015.3143%200.685714%2016%201.52381%2016L%2010.6667%2016C%2011.5048%2016%2012.1905%2015.3143%2012.1905%2014.4762L%2012.1905%206.85714C%2012.1905%206.01905%2011.5048%205.33333%2010.6667%205.33333ZM%206.09524%2012.1905C%205.25714%2012.1905%204.57143%2011.5048%204.57143%2010.6667C%204.57143%209.82857%205.25714%209.14286%206.09524%209.14286C%206.93333%209.14286%207.61905%209.82857%207.61905%2010.6667C%207.61905%2011.5048%206.93333%2012.1905%206.09524%2012.1905ZM%208.45714%205.33333L%203.73333%205.33333L%203.73333%203.80952C%203.73333%202.50667%204.79238%201.44762%206.09524%201.44762C%207.3981%201.44762%208.45714%202.50667%208.45714%203.80952L%208.45714%205.33333Z%22%2F%3E%0D%0A%3C%2Fdefs%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
    }
    @else {
        $width:17;
        $height:16;

        // Unlock SVG content (Figma: https://www.figma.com/file/Cud2CP3FFwXnOHdNlqn1dqgx/TPO---Style-Guide?node-id=1%3A20):
        // <svg viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="hpttp://www.w3.org/1999/xlink">
        // <g id="Canvas" transform="translate(-148 -5422)">
        // <g id="Vector">
        // <use xlink:href="#unlock" transform="translate(148 5422)" fill="rgba(240, 162, 0, 1)"/>
        // </g>
        // </g>
        // <defs>
        // <path id="unlock" d="M 6.09524 12.1905C 6.93333 12.1905 7.61905 11.5048 7.61905 10.6667C 7.61905 9.82857 6.93333 9.14286 6.09524 9.14286C 5.25714 9.14286 4.57143 9.82857 4.57143 10.6667C 4.57143 11.5048 5.25714 12.1905 6.09524 12.1905ZM 9.90476 5.33333L 9.90476 3.80952C 9.90476 2.51429 10.9714 1.44762 12.2667 1.44762C 13.5619 1.44762 14.6286 2.51429 14.6286 3.80952L 16.0762 3.80952C 16.0762 1.67619 14.4 0 12.2667 0C 10.1333 0 8.45714 1.67619 8.45714 3.80952L 8.45714 5.33333L 9.90476 5.33333ZM 8.45714 5.33333L 1.52381 5.33333C 0.685714 5.33333 0 6.01905 0 6.85714L 0 14.4762C 0 15.3143 0.685714 16 1.52381 16L 10.6667 16C 11.5048 16 12.1905 15.3143 12.1905 14.4762L 12.1905 6.85714C 12.1905 6.01905 11.5048 5.33333 10.6667 5.33333L 9.90476 5.33333L 8.45714 5.33333ZM 10.6667 14.4762L 1.52381 14.4762L 1.52381 6.85714L 10.6667 6.85714L 10.6667 14.4762Z"/>
        // </defs>
        // </svg>
        @return url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20#{$width}%20#{$height}%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0D%0A%3Cg%20id%3D%22Canvas%22%20transform%3D%22translate%28-148%20-5422%29%22%3E%0D%0A%3Cg%20id%3D%22Vector%22%3E%0D%0A%3Cuse%20xlink%3Ahref%3D%22%23unlock%22%20transform%3D%22translate%28148%205422%29%22%20fill%3D%22rgba%28#{$red}%2C%20#{$green}%2C%20#{$blue}%2C%20#{$opacity}%29%22%2F%3E%0D%0A%3C%2Fg%3E%0D%0A%3C%2Fg%3E%0D%0A%3Cdefs%3E%0D%0A%3Cpath%20id%3D%22unlock%22%20d%3D%22M%206.09524%2012.1905C%206.93333%2012.1905%207.61905%2011.5048%207.61905%2010.6667C%207.61905%209.82857%206.93333%209.14286%206.09524%209.14286C%205.25714%209.14286%204.57143%209.82857%204.57143%2010.6667C%204.57143%2011.5048%205.25714%2012.1905%206.09524%2012.1905ZM%209.90476%205.33333L%209.90476%203.80952C%209.90476%202.51429%2010.9714%201.44762%2012.2667%201.44762C%2013.5619%201.44762%2014.6286%202.51429%2014.6286%203.80952L%2016.0762%203.80952C%2016.0762%201.67619%2014.4%200%2012.2667%200C%2010.1333%200%208.45714%201.67619%208.45714%203.80952L%208.45714%205.33333L%209.90476%205.33333ZM%208.45714%205.33333L%201.52381%205.33333C%200.685714%205.33333%200%206.01905%200%206.85714L%200%2014.4762C%200%2015.3143%200.685714%2016%201.52381%2016L%2010.6667%2016C%2011.5048%2016%2012.1905%2015.3143%2012.1905%2014.4762L%2012.1905%206.85714C%2012.1905%206.01905%2011.5048%205.33333%2010.6667%205.33333L%209.90476%205.33333L%208.45714%205.33333ZM%2010.6667%2014.4762L%201.52381%2014.4762L%201.52381%206.85714L%2010.6667%206.85714L%2010.6667%2014.4762Z%22%2F%3E%0D%0A%3C%2Fdefs%3E%0D%0A%3C%2Fsvg%3E%0D%0A");
    }
}
