<div class="w-box-search-loan-page">
    <div class="search-loans-page search-pipeline-loan">
        <form ng-submit="vm.searchClick()">
            <div class="d-flex-center">
                <div class="search-header padding-right-p16">Search <br/>Criteria</div>
                <div class="d-flex">
                    <div class="flex-search-loan-page search-loan-row">
                        <div><label>Loan Number </label><input type="text" ng-model="vm.sLNm"     class="input-w160" autocomplete="off"></div>
                        <div><label>Last Name   </label><input type="text" ng-model="vm.aBLastNm" class="input-w160" autocomplete="off"></div>
                        <div><label>SSN (Last 4)</label><input type="text" ng-model="vm.aBSsn"    class="input-w80"  autocomplete="off" maxlength="4"></div>
                        <div><label>Status Date </label><tpo-select ng-model="vm.sStatusD" tpo-options="o.value as o.label for o in vm.options.sStatusD"></tpo-select></div>
                        <div class="loan-status-search">
                            <label ng-if="!vm.IsLeadPipeline">Loan Status</label>
							<label ng-if="vm.IsLeadPipeline">Lead Status</label>
                            <tpo-select ng-model="vm.sStatusT" tpo-options="o.value as o.label for o in vm.options.sStatusT"></tpo-select>
                        </div>
                        <div><button class="btn btn-default" type="submit" tabindex="0" nohighlight>Search <i class="material-icons">&#xE8B6;</i></button></div>
                        <div><button class="btn btn-default" ng-click="vm.clearCriteriaClick()" type="reset"
                            ng-disabled="!vm.sLNm && !vm.aBLastNm && !vm.aBSsn && vm.sStatusD<0 && vm.sStatusT<0" nohighlight>Clear Search</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="wrap-search padding-bottom-p8" ng-show="(!vm.sLNm && !vm.aBLastNm && !vm.aBSsn && vm.sStatusD<0 && vm.sStatusT<0) && (!vm.isDuplicateResult)">
    <!-- LoanListOptions -->
    <span class="label-pipeline">Display most recent</span>
    <tpo-select ng-model="vm.showTopX"
        tpo-options="o for o in vm.showTopXOptions"
        ng-change="vm.onFilterChange()"></tpo-select>

    <span ng-if="vm.PortalMode == vm.E_PortalMode.Correspondent">
        <span class="label-pipeline">loans with</span>
        <tpo-select ng-model="vm.underwritingType"
            tpo-options="o.value as o.label for o in vm.options.UnderwritingType"
            ng-change="vm.onFilterChange()"></tpo-select>
        <span class="label-pipeline">underwriting type assigned to</span>
    </span>
    <span ng-if="vm.PortalMode != vm.E_PortalMode.Correspondent"
        class="label-pipeline">loans assigned to</span>

    <tpo-select ng-model="vm.loanAssignedToT"
        tpo-options="o.value as o.label for o in vm.loanAssignedToTOptions"
        ng-change="vm.onFilterChange()"></tpo-select>
</div>

<div ng-show="vm.loans.length >= 100">
    Search returns too many results. Display only 100 files. Specify more specific search criteria to narrow down the result.
</div>

<loan-table loans="vm.loans" is-use-tasks-in-tpo-portal="vm.IsUseTasksInTpoPortal" portal-mode="vm.PortalMode" is-lead-pipeline="vm.IsLeadPipeline" hide-status-and-agents-page-in-originator-portal="vm.HideStatusAndAgentsPageInOriginatorPortal"></loan-table>
