<div class="section">
    <div class="panel panel-default commission-panel">
        <div class="panel-body">
            <fieldset class="table commission-table">
                <div>
                    <div>
                        a.
                        Borrower Points
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProfitGrossBorPnt"></lqb-input>
                        +
                        <lqb-input lqb-model="vm.loan.fields.sProfitGrossBorMb"></lqb-input>
                        =
                        <lqb-input lqb-model="vm.loan.fields.sProfitGrossBor" readonly></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        b.
                        Rebate Fee
                    </div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sProfitRebatePnt"></lqb-input>
                        +
                        <lqb-input lqb-model="vm.loan.fields.sProfitRebateMb"></lqb-input>
                        =
                        <lqb-input lqb-model="vm.loan.fields.sProfitRebate" readonly></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <strong>
                            c.
                            Gross Profit Total (a + b)
                        </strong>
                    </div>
                    <div class="align-right">
                        =
                        <span class="border-top"><lqb-input lqb-model="vm.loan.fields.sGrossProfit" readonly></lqb-input></span>
                    </div>
                </div>
                <div>
                    <div>
                        d.
                        Total Rep Commission
                    </div>
                    <div class="align-right">
                        subtract
                        <lqb-input lqb-model="vm.loan.fields.sCommissionTotal" readonly></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <strong>
                            e.
                            Net Profit (c - d)
                        </strong>
                    </div>
                    <div class="align-right">
                        =
                        <span class="border-top"><lqb-input lqb-model="vm.loan.fields.sNetProfit" readonly></lqb-input></span>
                    </div>
                </div>
                <div>
                    <div>
                        f.
                        Ancillary Fees (GFE 805 to 812)
                    </div>
                    <div class="align-right">
                        <lqb-input lqb-model="vm.loan.fields.sProfitAncillaryFeeLckd"></lqb-input>
                        =
                        <span class="white-spacing"><lqb-input lqb-model="vm.loan.fields.sProfitAncillaryFee"></lqb-input></span>
                    </div>
                </div>
                <div>
                    <div>
                        g.
                        Additional Fees
                    </div>
                    <div class="align-right">
                        =
                        <lqb-input lqb-model="vm.loan.fields.sProfitExternalFee"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>
                        <strong>
                            h.
                            Total Fees (a + b + f + g)
                        </strong>
                    </div>
                    <div class="align-right">
                        =
                        <span class="text-bold"><lqb-input lqb-model="vm.loan.fields.sProfitTotalFee" readonly></lqb-input></span>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default commission-panel">
        <div class="panel-body">
            <div ng-show="vm.loan.AgentCommission.data.length > 0">
                <div lqb-load-fields="AgentCommission"></div>
                <p><strong>Additional agent commission payments</strong></p>

                <table class="primary-table">
                    <thead class="header"><tr>
                        <th>Type             </th>
                        <th>Agent Name       </th>
                        <th>Company Name     </th>
                        <th>Commission Amount</th>
                        <th>Paid?            </th>
                        <th>Notes            </th>
                        <th>                 </th>
                    </tr></thead>
                    <tbody>
                        <tr ng-repeat="r in vm.loan.AgentCommission.data">
                            <td ng-bind="r.AgentType       .v"></td>
                            <td ng-bind="r.AgentName       .v"></td>
                            <td ng-bind="r.CompanyName     .v"></td>
                            <td ng-bind="r.CommissionAmount.v"></td>
                            <td><lqb-input lqb-model="r.IsPaid" readonly></lqb-input></td>
                            <td><lqb-input lqb-model="r.Notes"  readonly></lqb-input></td>
                            <td><a ng-click="vm.displayPeopleRecord(r)" ng-attr-title="{{r.RecordId.v}}">edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <fieldset class="table">
                    <div>
                        <div>Total Commission Outstanding</div>
                        <div><lqb-input lqb-model="vm.loan.fields.sCommissionTotalOutstanding" readonly></lqb-input></div>
                        <div>Total Commission Paid</div>
                        <div><lqb-input lqb-model="vm.loan.fields.sCommissionTotalPaid" readonly></lqb-input></div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default commission-panel">
        <div class="panel-body">
            <p><strong>Event Dates Related to Rebate</strong></p>
            <fieldset class="table">
                <div>
                    <div>
                        <a ng-click="vm.goTo('statusGeneral')" title="Go to General page">Rate Locked Date</a>
                        <lqb-input lqb-model="vm.loan.fields.sRLckdD" readonly></lqb-input>
                    </div>
                    <div>
                        <a ng-click="vm.goTo('statusGeneral')" title="Go to General page">Rate Lock Expiration Date</a>
                        <lqb-input lqb-model="vm.loan.fields.sRLckdExpiredD" readonly></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>

<div class="section">
    <div class="panel panel-default commission-panel">
        <div class="panel-body">
            <fieldset class="table">
                <div>
                    <div>Accounting Period</div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sAccPeriodMon"></lqb-input>
                        <lqb-input lqb-model="vm.loan.fields.sAccPeriodYr"></lqb-input>
                    </div>
                </div>
                <div>
                    <div>Probability of closing (%)</div>
                    <div>
                        <lqb-input lqb-model="vm.loan.fields.sCloseProbability"></lqb-input>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
