<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <section class="margin-bottom wide-fix">
                <div class="table">
                    <div>
                        <div><label>Credit/charge calculation method</label></div>
                        <div class="col-credit-charge"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditCalculationMethodT"></lqb-input></div>
                    </div>
                </div>
            </section>

            <section class="margin-bottom wide-fix" ng-show="vm.isFrontEnd()">
                <div class="table table-final-price margin-bottom">
                    <div>
                        <div><header>Credit/Charge is based on</header></div>
                        <div class="col-originator-price"></div>
                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLDiscntBaseT"></lqb-input></div>
                        <div>
                            <lqb-input lqb-model="vm.loan.fields.sLDiscntBaseAmt"></lqb-input>
                        </div>
                    </div>
                    <div ng-show="vm.hasOriginatorComp()">
                        <div><label>Originator Price</label></div>
                        <div class="col-originator-price"></div>
                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcPrice"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcAmt"></lqb-input></div>
                    </div>
                    <div ng-show="vm.hasOriginatorComp()">
                        <div><label>Lender-paid broker compensation</label></div>
                        <div class="col-originator-price"></div>
                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompPc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompF"></lqb-input></div>
                    </div>
                </div>

                <div class="table table-disclose-credit-on">
                    <div>
                        <div></div>
                        <div><label>Final price</label></div>
                        <div>
                            <div class="table table-disclose-credit-on-sub-calculate">
                                <div>
                                    <div></div>
                                    <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcPrice"></lqb-input></div>
                                </div>
                            </div>
                        </div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcAmt"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div><label>General lender credit limit</label></div>
                        <div>
                        <div class="table table-disclose-credit-on-sub-calculate">
                            <div>
                                <div></div>
                                <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCreditMaxT"></lqb-input></div>
                            </div>
                        </div>
                        </div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditMaxAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div><label>Available credit</label></div>
                        <div>
                            <div class="table table-disclose-credit-on-sub-calculate">
                                <div>
                                    <div></div>
                                    <div class="text-right"></div>
                                </div>
                            </div>
                        </div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditAvailableAmt_Neg"></lqb-input></div>
                    </div>
                </div>

                <section class="wide-fix margin-bottom"><header class="title-sub">Disclose credit on</header>
                    <div class="table table-disclose-credit-on">
                        <div>
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidFeeDiscloseLocationT"></lqb-input></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><label>Lender paid fees</label></div>
                                        <div class="text-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidFeesAmt_Neg"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderGeneralCreditDiscloseLocationT"></lqb-input></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><label>General lender credit</label></div>
                                        <div class="text-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderGeneralCreditAmt_Neg"></lqb-input></div>
                        </div><br/>

                        <div>
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1DiscloseLocationT"></lqb-input></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><lqb-input class="form-control form-control-closing-hud" lqb-model="vm.loan.fields.sLenderCustomCredit1Description"></lqb-input></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Amount"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1AmountAsCharge"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2DiscloseLocationT"></lqb-input></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><lqb-input class="form-control form-control-closing-hud" lqb-model="vm.loan.fields.sLenderCustomCredit2Description"></lqb-input></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Amount"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2AmountAsCharge"></lqb-input></div>
                        </div><br/>

                        <div>
                            <div></div>
                            <div><label>Closing/HUD-1</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><label>Tolerance cure for 0% tolerance fees</label></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCure"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCure_Neg" readonly></lqb-input>
                                <lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCureLckd"></lqb-input>
                            </div>
                        </div><br/>

                        <div>
                            <div></div>
                            <div><label>Closing/HUD-1</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><label>Tolerance cure for 10% tolerance fees</label></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCure"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCure_Neg" readonly></lqb-input>
                                <lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCureLckd"></lqb-input>
                            </div>
                        </div>
                    </div>
                    <div class="table table-disclose-credit-on margin-bottom">
                        <div>
                            <div></div>
                            <div ng-show="vm.isTRID2015()">
                                <a ng-click="vm.seeTolerance()">See Tolerance Cure Calculation</a>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="table table-target-discount-points">
                    <div>
                        <div><label>Target discount points</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderTargetDiscountPointAmtAsCreditAmt_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div></div>
                        <div></div>
                    </div>
                    <div>
                        <div><label ng-hide="vm.isTRID2015()">Lender paid broker compensation credit</label></div>
                        <div><span ng-hide="vm.isTRID2015()"><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompCreditF_Neg"></lqb-input></span></div>
                        <div class="col-empty"></div>
                        <div><label>Target initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderTargetInitialCreditAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Initial lender credits to borrower</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderInitialCreditAmt_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div><label>Target lender credits at closing</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderTargetClosingCreditAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                    </div>
                    
                    <div>
                        <div><label>Target initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderTargetInitialCreditAmt_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div><label>Target initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderTargetTotalCreditAmt_Neg"></lqb-input></div>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <div><label>Last disclosed initial credit</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderLastDisclosedInitialCredit_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div><label>Actual initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderActualInitialCreditAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                        <div class="col-empty"></div>
                        <div><label>Additional credit at closing</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderAdditionalCreditAtClosingAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditToleranceCureLckd"></lqb-input><label class="text-center-checkbox">Include lender credit tolerance cure &nbsp;</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditToleranceCure_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div><label>Tolerance cures</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sToleranceCure_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                        <div><hr/></div>
                    </div>
                    
                    <div>
                        <div><label>Actual initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderActualInitialCreditAmt_Neg"></lqb-input></div>
                        <div class="col-empty"></div>
                        <div><label>Actual initial charge (+)/credit (-)</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderActualTotalCreditAmt_Neg"></lqb-input></div>
                    </div>

                    <div>&nbsp;</div>
                    <div ng-show="vm.isTRID2015()">
                        <div></div>
                        <div></div>
                        <div class="col-empty"></div>
                        <div><label >Lender-paid broker compensation</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompF_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div></div>
                        <div></div>
                        <div class="col-empty"></div>
                        <div><label>Net charge (+)/credit(-) from lender</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSettlementTotalPaidByLender_Neg"></lqb-input></div>
                    </div><br/>

                    <div>
                        <div></div>
                        <div></div>
                        <div class="col-empty"></div>
                        <div><label>Difference from target</label></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderCreditDifferentFromTargetAmt_Neg"></lqb-input></div>
                    </div>
                </div>
            </section>

            <section class="margin-bottom wide-fix" ng-show="vm.isManualCalculate()">
                <div class="table table-final-price margin-bottom">
                    <div ng-show="vm.hasOriginatorComp()">
                        <div><label>Originator Price</label></div>
                        <div class="col-final-price"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcPrice"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockFinalBrokComp1PcAmt"></lqb-input></div>
                    </div>
                    <div ng-show="vm.hasOriginatorComp()">
                        <div><label>Lender-paid broker compensation</label></div>
                        <div class="col-final-price"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompPc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompF"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Final price</label></div>
                        <div class="col-final-price"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcPrice"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sBrokerLockOriginatorPriceBrokComp1PcAmt"></lqb-input></div>
                    </div>
                </div>

                <section><header class="title-sub">Disclose credit on</header>
                    <div class="table table-disclose-credit-on">
                        <div>
                            <div></div>
                            <div><label>Initial/GFE</label></div>
                            <div class="col-initial-gfe"></div>
                            <div><label>Credit (-) / Charge (+)</label></div>
                        </div>
                    </div>
                    <div class="table table-disclose-credit-on">
                        <div>
                            <div></div>
                            <div></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div></div>
                                    <div class="total-loan-amount text-right">
                                        <lqb-input lqb-model="vm.loan.fields.sLDiscntPc"></lqb-input>of 
                                        <lqb-input lqb-model="vm.loan.fields.sLDiscntBaseT"></lqb-input>+ 
                                        <lqb-input lqb-model="vm.loan.fields.sLDiscntFMb"></lqb-input>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLDiscnt"></lqb-input></div>
                        </div><br/>

                        <div>
                            <div></div>
                            <div><label>Initial/GFE</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div>Credit for lender paid fees</div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sGfeCreditLenderPaidItemT"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGfeCreditLenderPaidItemF"></lqb-input></div>
                        </div>
                        <div>   
                            <div></div>
                            <div><label>Initial/GFE</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div>General lender credit</div>
                                        <div class="text-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sGfeLenderCreditF"></lqb-input></div>
                        </div><br/>

                        <div>
                            <div></div>
                            <div><label>Closing/HUD-1</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div>Lender paid items not included in A2/802</div>
                                        <div class="text-right"></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidItemNotIncludedInInitialDisclosureAmtAsChargeAmt"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div><label>Closing/HUD-1</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><lqb-input class="form-control form-control-closing-hud" lqb-model="vm.loan.fields.sLenderCustomCredit1Description"></lqb-input></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1Amount"></lqb-input></div>
                                    </div>
                                </div>
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit1AmountAsCharge"></lqb-input></div>
                        </div>
                        <div>
                            <div></div>
                            <div><label>Closing/HUD-1</label></div>
                            <div>
                                <div class="table table-disclose-credit-on-sub">
                                    <div>
                                        <div><lqb-input class="form-control form-control-closing-hud" lqb-model="vm.loan.fields.sLenderCustomCredit2Description"></lqb-input></div>
                                        <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2Amount"></lqb-input></div>
                                    </div>
                                </div>     
                            </div>
                            <div><lqb-input lqb-model="vm.loan.fields.sLenderCustomCredit2AmountAsCharge"></lqb-input></div>
                        </div><br/>

                        <div ng-show="vm.isShowTolerance()">
                            <div><lqb-input lqb-model="vm.loan.fields.sToleranceCureCalculationT"></lqb-input></div>
                            <div></div>
                            <div><label>Tolerance cures in the total credit to closing</label></div>
                            <div></div>
                        </div>
                    </div>

                    <section ng-show="vm.isManualTolerance()">
                        <div class="table table-disclose-credit-on">
                            <div>
                                <div></div>
                                <div><label>Closing/HUD-1</label></div>
                                <div>
                                    <div class="table table-disclose-credit-on-sub">
                                        <div>
                                            <div><label>Tolerance cure for 0% tolerance fees</label></div>
                                            <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCure"></lqb-input></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCure_Neg" readonly></lqb-input>
                                    <lqb-input lqb-model="vm.loan.fields.sToleranceZeroPercentCureLckd"></lqb-input>
                                </div>
                            </div><br/>

                            <div>
                                <div></div>
                                <div><label>Closing/HUD-1</label></div>
                                <div>
                                    <div class="table table-disclose-credit-on-sub">
                                        <div>
                                            <div><label>Tolerance cure for 10% tolerance fees</label></div>
                                            <div class="text-right"><lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCure"></lqb-input></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCure_Neg" readonly></lqb-input>
                                    <lqb-input lqb-model="vm.loan.fields.sToleranceTenPercentCureLckd"></lqb-input>
                                </div>
                            </div>
                        </div>

                        <div class="table table-disclose-credit-on">
                            <div>
                                <div></div>
                                <div ng-show="vm.isTRID2015()">
                                    <a ng-click="vm.seeTolerance()">See Tolerance Cure Calculation</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
            </section>

            <section class="margin-bottom wide-fix">
                <div class="table" ng-show="vm.isManualSummary()">
                    <div ng-hide="vm.isTRID2015()">
                        <div><label>Lender-paid broker compensation credit</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompCreditF_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Discount points</label></div>
                        <div class="discount-points"></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sGfeDiscountPointFPc"></lqb-input></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sGfeDiscountPointF"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Initial lender credits to borrower</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderInitialCreditToBorrowerAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Additional credit at closing</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderAdditionalCreditAtClosingManualAmt_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><label ng-show="vm.bDisplayManualToleranceCure()">Tolerance cures</label></div>
                        <div></div>
                        <div></div>
                        <div><span ng-show="vm.bDisplayManualToleranceCure()"><lqb-input lqb-model="vm.loan.fields.sToleranceCure_Neg"></lqb-input></span></div>
                    </div>
                    <div>&nbsp;</div>
                    <div>
                        <div><label>Total credit (-) or charge (+) to borrower</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderActualTotalCreditAmt_Neg"></lqb-input></div>
                    </div>
                    <div>&nbsp;</div>
                    <div ng-show="vm.isTRID2015()">
                        <div><label>Lender-paid broker compensation</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sLenderPaidBrokerCompF_Neg"></lqb-input></div>
                    </div>
                    <div>
                        <div><label>Net charge (+)/credit(-) from lender</label></div>
                        <div></div>
                        <div></div>
                        <div><lqb-input lqb-model="vm.loan.fields.sSettlementTotalPaidByLender_Neg"></lqb-input></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<div lqb-load-fields="sLenderPaidBrokerCompF sDisclosureRegulationT sLId aappId sIsAllowExcludeToleranceCure sClosingCostFeeVersionT BrokerDB"></div>
