﻿<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <span class="clipper"><a class="btn btn-primary" ng-click="vm.edit(null)">Add New</a></span>

            <p ng-show="vm.vendors.length < 1" class="text-danger">There is no vendor.</p>
        </div>

        <table ng-show="vm.vendors.length > 0" class="table table-striped table-condensed">
            <thead><tr>
                <th class="text-center edit-action"></th>
                <th class="text-left   provider-id   "><a sort-handle="vm.entrySort" key="ProviderID">Provider ID</a></th>
                <th class="text-left   name          "><a sort-handle="vm.entrySort" key="Name">Name</a></th>
                <th class="text-left   launch-url    ">Launch URL           </th>
                <th class="text-center credential-xml">Lender Credential XML</th>
                <th class="text-center include-un    ">Include Username     </th>
                <th class="text-left   service-type  "><a sort-handle="vm.entrySort" key="serviceTypeName">Service Type</a></th>
                <th class="text-left   service-type  "><a sort-handle="vm.entrySort" key="loanIdentifierTypeName">Loan Identifier Type</a></th>
            </tr></thead>
            <tbody><tr ng-repeat="v in vm.vendors | orderBy:vm.entrySort.by:vm.entrySort.desc track by v.ProviderID">
                    <td class="text-center edit-action"><a class="btn btn-link" ng-click="vm.edit(v)">edit</a></td>
                    <td class="text-left   provider-id"><span ng-bind="v.ProviderID" select-when-clicked></span></td>
                    <td class="text-left   name" ng-bind="v.Name"></td>
                    <td class="text-left launch-url">
                        <a ng-href="{{v.LaunchURL}}" target="_blank" rel="noreferrer">
                            <span ng-bind="v.LaunchURL | limitTo:35"></span><span ng-show="v.LaunchURL.length > 35">&hellip;</span>
                        </a></td>
                    <td><pre ng-bind="v.CredentialXML" class="credential-xml"
                             ng-hide="!v.CredentialXML" select-when-clicked></pre></td>
                    <td class="text-center"><input type="checkbox" ng-model="v.IncludeUsername" disabled /></td>
                    <td class="text-left" ng-bind="v.serviceTypeName"></td>
                    <td class="text-left" ng-bind="v.loanIdentifierTypeName"></td>
            </tr></tbody>
        </table>
    </div>
</div>

<vendor-editor ng2-var="vm.vendorEditor" on-close="vm.reload()"></vendor-editor>
