.edit-action  {
    width: 4em;
}
.provider-id  {
    width: 95px;
    min-width: 95px;
}
.include-un   {}
.service-type {}
.name {
    white-space: normal;
}
.launch-url {
    width        : 25em;
    min-width    : 25em;

    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}
.credential-xml {
    width      : 30em;
    min-width  : 30em;
    white-space: normal;
}
.credential-xml pre { white-space: normal; }
