﻿<div class="modal v-middle fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"><h4 class="modal-title">
                <span ng-bind="!(vm.entry.ProviderID) ? 'Add New' : 'Edit'"></span> Vendor
            </h4></div>
            <form class="form-group-sm" ng-submit="vm.save($event)">
            <div class="modal-body">
                <div class="form-group">
                    <label>Name:<span class="text-danger">*</span></label>
                    <input ng-model="vm.entry.Name"
                           type="text"
                           required
                           autocomplete="name"
                           class="form-control">
                </div>

                <div class="form-group" ng-class="{'has-error': !!(vm.formError.LaunchURL)}">
                    <div class="text-danger pull-right" ng-hide="!(vm.formError.LaunchURL)"
                        ng-bind="vm.formError.LaunchURL"></div>
                    <label>Launch URL:<span class="text-danger">*</span></label>
                    <input ng-model="vm.entry.LaunchURL"
                           type="url" required
                           class="form-control" autocomplete="url">
                </div>

                <div class="form-group">
                    <label>Lender Credential XML:<span class="text-danger">*</span></label>
                    <textarea ng-model="vm.entry.CredentialXML"
                              class="form-control resizable-vertical" rows="7"></textarea>
                </div>

                <div class="checkbox"><label>
                    <input type="checkbox" ng-model="vm.entry.IncludeUsername">
                    Include Username
                </label></div>

                <div class="form-group">
                    <label>Service Type:<span class="text-danger">*</span></label>
                    <select ng-model="vm.entry.ServiceType"
                        ng-options="o.Value as o.Text for o in vm.serviceTypeList"
                        required
                        class="form-control">
                    </select>
                </div>

                <div class="form-group">
                    <label>Loan Identifier Type:<span class="text-danger">*</span></label>
                    <select ng-model="vm.entry.LoanIdentifierTypeToSend"
                        ng-options="o.Value as o.Text for o in vm.loanIdentifierTypeList"
                        required
                        class="form-control">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <span class="clipper"><a class="btn btn-default" data-dismiss="modal">Close</a></span>
                <span class="clipper"><button type="submit" class="btn btn-primary">Save</button></span>
            </div>
            </form>
        </div>
    </div>
</div>
