﻿<fieldset ng-form="CreditReportOptions" ng-disabled="$ctrl.ngDisabled" class="field-set">
    <legend>Credit Report Options</legend>
    <div class="row">
        <div class="col-xs-12">
            Please select one of the following options.
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="radio" id="creditReportOption_new" name="creditReportOption" ng-model="creditInfo.CreditReportOption" ng-value="::creditReportOptions.OrderNew.value" />
            <label for="creditReportOption_new">{{::creditReportOptions.OrderNew.description}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="radio" id="creditReportOption_reissue" name="creditReportOption" ng-model="creditInfo.CreditReportOption" ng-value="::creditReportOptions.Reissue.value" />
            <label for="creditReportOption_reissue">{{::creditReportOptions.Reissue.description}}</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <input type="radio" id="creditReportOption_prev" name="creditReportOption" ng-model="creditInfo.CreditReportOption" ng-value="::creditReportOptions.UsePrevious.value" />
            <label for="creditReportOption_prev">{{::creditReportOptions.UsePrevious.description}}</label>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.aus === 'LPA'">
        <div class="col-xs-12">
            <input type="radio" id="creditReportOption_none" name="creditReportOption" ng-model="creditInfo.CreditReportOption" ng-value="::creditReportOptions.NoReport.value" />
            <label for="creditReportOption_none">{{::creditReportOptions.NoReport.description}}</label>
        </div>
    </div>
</fieldset>
<fieldset id="CraCredentials" ng-disabled="$ctrl.ngDisabled" ng-form="CraCredentials" class="field-set" ng-show="CredentialsRequired()">
    <legend>CRA Information</legend>
    <lqb-form-input-row input-id="craId" input-label="Credit Provider" type="select"
                        ng-disabled="creditInfo.HasCraAutoId" ng-model="creditInfo.CraProviderId" ng-required="CredentialsRequired()"
                        use-invalid="true" show-invalid="CraCredentials.craId.$invalid" options-collection="creditProviders" group-by="category"></lqb-form-input-row>
    <lqb-form-input-row input-id="craUserId" input-label="CRA User ID" type="text"
                        ng-disabled="$ctrl.ngDisabled" ng-if="!creditInfo.HasCraAutoLogin" ng-model="creditInfo.CraUserId" ng-required="CredentialsRequired()"
                        use-invalid="true" show-invalid="CraCredentials.craUserId.$invalid"></lqb-form-input-row>
    <lqb-form-input-row input-id="craPassword" input-label="CRA Password" type="password"
                        ng-disabled="$ctrl.ngDisabled" ng-if="!creditInfo.HasCraAutoLogin" ng-model="creditInfo.CraPassword" ng-required="CredentialsRequired()"
                        use-invalid="true" show-invalid="CraCredentials.craPassword.$invalid"></lqb-form-input-row>
</fieldset>
<fieldset ng-form="CraResubmit" ng-disabled="$ctrl.ngDisabled" class="field-set" ng-show="creditInfo.CreditReportOption === creditReportOptions.Reissue.value && $ctrl.aus !== 'LPA'">
    <legend>Credit Report Resubmit ID</legend>
    <div class="row">
        <div class="col-xs-12">
            Please enter the report ID for the credit reports to be resubmitted.
        </div>
    </div>
    <lqb-form-input-row ng-repeat="application in ::creditInfo.Applications"
                        input-id="resubmitField{{$index}}" input-label="{{ApplicationName(application)}}"
                        ng-disabled="$ctrl.ngDisabled" ng-model="application.CraResubmitId"
                        use-invalid="true" show-invalid="CraResubmit['resubmitField' + $index].$invalid"></lqb-form-input-row>
</fieldset>
<fieldset ng-form="CraReorderApps" ng-disabled="$ctrl.ngDisabled" class="field-set" ng-show="(creditInfo.CreditReportOption === creditReportOptions.Reissue.value || creditInfo.CreditReportOption === creditReportOptions.UsePrevious.value) && $ctrl.aus === 'LPA'">
    <legend>Credit Service Details</legend>
    <div class="row">
        <div class="col-xs-12" ng-if="$ctrl.aus !== 'LPA'">
            Select the applications for which you would like to <span ng-show="creditInfo.CreditReportOption === creditReportOptions.Reissue.value">reorder credit</span><span ng-show="creditInfo.CreditReportOption === creditReportOptions.UsePrevious.value">use a previous credit report</span>.
        </div>
        <div class="col-xs-12" ng-if="$ctrl.aus === 'LPA'">
            <span ng-show="creditInfo.CreditReportOption === creditReportOptions.Reissue.value">
                Select the applications for which you would like to reorder credit.
            </span>
            <span ng-show="creditInfo.CreditReportOption === creditReportOptions.UsePrevious.value">
                Please identify the existing credit report(s) from LPA you would like to run the AUS with.
            </span>
        </div>
    </div>
    <lqb-form-input-row ng-repeat="application in ::creditInfo.Applications" ng-if="creditInfo.CreditReportOption === creditReportOptions.Reissue.value" type="checkbox"
                        input-id="reorderApp{{$index}}" input-label="{{ApplicationName(application)}}"
                        ng-disabled="$ctrl.ngDisabled" ng-model="application.ReorderApplicationCredit"></lqb-form-input-row>
    <lqb-form-input-row ng-repeat="application in ::creditInfo.Applications" ng-if="creditInfo.CreditReportOption === creditReportOptions.UsePrevious.value"
                        input-id="reorderApp{{$index}}" input-label="{{ApplicationName(application)}}"
                        ng-disabled="$ctrl.ngDisabled" ng-model="application.CraResubmitId"
                        use-invalid="true" show-invalid="CraReorderApps['reorderApp' + $index].$invalid"
                        ng-required="CraReorderIdRequired(creditInfo.CreditReportOption)"></lqb-form-input-row>
</fieldset>