﻿<div ng-show="audit.auditResult.success" class="container-fluid">
    <div ng-transclude="failure" class="content instructions" ng-hide="audit.auditResult.auditSuccess">
        <div>
            The following data is preventing submission. Please correct this data and re-run.
        </div>
        <div>
            Select a field name to view that field in the loan file.
        </div>
    </div>
    <div ng-transclude="success" class="content instructions bold" ng-show="audit.auditResult.auditSuccess">
        Data audit is successful. You may proceed to the next step.
    </div>
    <div class="table-container">
        <div class="FormTableHeader row">
            Loan Summary
        </div>
        <table class="table wide">
            <tbody>
                <tr ng-repeat="loanError in audit.auditResult.loanErrors">
                    <td ng-switch="!!loanError.Url">
                        <a ng-switch-when="true" href="" ng-click="navigateParent(virtualRoot + loanError.Url, loanError.HighUrl)" title="{{loanError.PageTitle}}">{{loanError.FieldName}}</a>
                        <span ng-switch-default title="{{loanError.PageTitle}}">{{loanError.FieldName}}</span>
                    </td>
                    <td>{{loanError.Value}}</td>
                    <td class="Error">{{loanError.Message}}</td>
                </tr>
                <tr ng-if="audit.auditResult.loanErrors.auditSuccess">
                    <td>
                        <span class="fa fa-check-circle fa-lg Success"></span>
                        No errors detected
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-container" ng-repeat="borrower in audit.auditResult.borrowers">
        <div class="FormTableHeader row">
            {{borrower.FullName}}
            <span class="empty" ng-show="borrower.FullName == ' '">&lt;Unnamed Borrower&gt;</span>
        </div>
        <table class="table">
            <tbody>
                <tr ng-repeat="borrowerError in borrower.Errors">
                    <td ng-switch="!!borrowerError.Url">
                        <a ng-switch-when="true" href="" ng-click="navigateParent(virtualRoot + borrowerError.Url, borrowerError.HighUrl)" title="{{borrowerError.PageTitle}}">{{borrowerError.FieldName}}</a>
                        <span ng-switch-default title="{{borrowerError.PageTitle}}">{{borrowerError.FieldName}}</span>
                    </td>
                    <td>{{borrowerError.Value}}</td>
                    <td class="Error">{{borrowerError.Message}}</td>
                </tr>
                <tr ng-if="borrower.auditSuccess">
                    <td>
                        <span class="fa fa-check-circle fa-lg Success"></span>
                        No errors detected
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>