﻿<div class="row">
    <div class="col-xs-4 col-md-2">
        <label for="{{::$ctrl.inputId}}">{{::$ctrl.inputLabel}}</label>
    </div>
    <div class="col-xs-8 col-md-10" ng-switch="$ctrl.type">
        <select ng-switch-when="select" id="{{::$ctrl.inputId}}" name="{{::$ctrl.inputId}}"
                ng-model="$ctrl.ngModel" ng-disabled="$ctrl.ngDisabled" ng-required="$ctrl.ngRequired"
                ng-options="item.Key as item.Value group by item[$ctrl.groupBy] for item in $ctrl.optionsCollection" ></select>
        <input ng-switch-default
               type="{{::$ctrl.type}}" id="{{::$ctrl.inputId}}" name="{{::$ctrl.inputId}}"
               ng-model="$ctrl.ngModel" ng-disabled="$ctrl.ngDisabled" ng-required="$ctrl.ngRequired" />
        <span class="fa fa-times-circle fa-lg Error" title="Invalid" ng-if="$ctrl.useInvalid" ng-show="$ctrl.showInvalid"></span>
    </div>
</div>