<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table">
                <div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.IsLocked" ng-value="'False'" label="Populate from Official Contact"></lqb-input></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.AgentRoleT"></lqb-input></div>
                </div>
                <div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.IsLocked" ng-value="'True'" label="Set Manually"></lqb-input></div>
                    <div><a href="#" class="contact-link">Pick from Contacts</a><a href="m_linkAddToContact">Add to Contacts</a></div>
                </div>
                <div>
                    <div><label>This application was taken by</label></div>
                    <div><lqb-input lqb-model="vm.loan.app.fields.aIntrvwrMethodT"></lqb-input></div>
                </div>
                <div>
                    <div><label>Interview Date</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.PrepareDate"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Originator's Name</label></div>
                    <div><lqb-input  lqb-model="vm.loan.preparerFields.App1003Interviewer.PreparerName"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Originator NMLS ID</label></div>
                    <div><lqb-input class="form-control form-control-id" lqb-model="vm.loan.preparerFields.App1003Interviewer.LoanOriginatorIdentifier"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Originator's License Number</label></div>
                    <div><lqb-input class="form-control form-control-license" lqb-model="vm.loan.preparerFields.App1003Interviewer.LicenseNumOfAgent"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Originator's Phone</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.Phone"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Originator's Email</label></div>
                    <div><lqb-input class="form-control form-control-email" lqb-model="vm.loan.preparerFields.App1003Interviewer.EmailAddr"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company's Name</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.CompanyName"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company NMLS ID</label></div>
                    <div><lqb-input class="form-control form-control-id" lqb-model="vm.loan.preparerFields.App1003Interviewer.CompanyLoanOriginatorIdentifier"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company's License Number</label></div>
                    <div><lqb-input class="form-control form-control-license" lqb-model="vm.loan.preparerFields.App1003Interviewer.LicenseNumOfCompany"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company's Address</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.StreetAddr" placeholder="Street"></lqb-input></div>
                </div>
                <div>
                    <div></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="vm.loan.preparerFields.App1003Interviewer.City" placeholder="City"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.State"  placeholder="State"></lqb-input>
                        <lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.Zip"  placeholder="ZIPCode"></lqb-input>
                    </div>
                </div>
                <div>
                    <div><label>Loan Origination Company's Phone</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.PhoneOfCompany"></lqb-input></div>
                </div>
                <div>
                    <div><label>Loan Origination Company's Fax</label></div>
                    <div><lqb-input lqb-model="vm.loan.preparerFields.App1003Interviewer.FaxOfCompany"></lqb-input></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6"></div>
</div>
