﻿
/*Theme*/
/* This is where all the customizable styling will appear, so we can later separate this out if need be in order to allow custom themes. */

/* The logo section of the header */
body
{
    background-color: #E0E0E0;
}

/*The top portion of the page.*/
.header
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

/*This is the left hand side of the header.*/
.header-logo
{
    background-color: #003366;
}

    /*The sidebar-navigation toggle buttons.*/
    .header-logo button
    {
        background-color: #003366 !important;
        border-color: #003366 !important;
        box-shadow: none;
        color: white !important;
    }

        /* This affects the buttons in the bottom left of the page navigation when hovered over.*/
        .header-logo button:hover
        {
            border-color: #0D47A1 !important;
            background-color: #03407D !important;
            border-color: #003366 !important;
            color: rgb(255,255,255) !important;
        }

        /* This affects the buttons in the bottom left of the page navigation when clicked.*/
        .header-logo button:active
        {
            border-color: #002850 !important;
            background-color: #002850 !important;
            border-color: #003366 !important;
            color: rgb(255,255,255) !important;
        }

.btn-nav button
{
    box-shadow: none;
}
/* The main section of the header */
.header-main
{
    background-color: #0D47A1 !important;
}

    /* This affects the buttons in the bottom left of the page navigation.*/
    .header-main .btn-nav button
    {
        border: none;
        color: white !important;
    }

/* This is the Page Title located in the header*/
.page-header
{
    font-size: 24px;
    color: white;
}

.loan-summary-container
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

/* This is the container located directly below the header.  It contains the sidebar and the content. */
.below-header-container
{
    background-color: #F5F5F5;
}

/* This is the content of the page.  It appears to the right of the sidebar. */
.content
{
    background-color: #E0E0E0;
}

/* This is every Narrow or Wide Section within the content page. */
.section
{
}

/*The titles for each panel.*/
.panel-heading
{
    background-image: none !important;
    background-color: white !important;
    color: rgba(0,0,0,.72);
    border: none;
}

    /*The Header element within a panel title. */
    .panel-heading h5
    {
        font-size: 18px;
    }

/* Labels are the text descriptions for inputs. */
label
{
    color: rgba(0, 0, 0, .87);
}

/* This should be applied to every input control on the page. */
.form-control
{
    color: black;
    display: inline;
    box-shadow: none;
    border: 1px solid rgb(212, 212, 212);
}

    /* This is the border that appears around an input when focused. */
    .form-control:focus
    {
        box-shadow: none;
        border-color: #1E88E5;
    }

/*The default button styling.*/
.btn-default
{
    border: none !important;
    color: black !important;
    font-size: 13px;
    background-color: rgb(150, 150, 150) !important;
}

    .btn-default:hover
    {
        background-color: rgb(160, 160, 160) !important;
    }

    .btn-default:active
    {
        background-color: rgb(130, 130, 130) !important;
    }

/*Primary buttons.  These are used on buttons that are required to continue the loan process.*/
.btn-primary
{
    background-color: #F2A900 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);
    border: none;
}

    .btn-primary:hover
    {
        background-color: rgb(252, 194, 51) !important;
    }

    .btn-primary:active
    {
        background-color: rgb(238, 149, 0) !important;
    }

/*Flat buttons.  These are currently only used in the header.*/
.btn-flat
{
    background-color: rgb(13,71,161) !important;
}

    .btn-flat:hover
    {
        background-color: rgb(40, 94, 179) !important;
    }

    .btn-flat:active, .btn-flat[aria-expanded='true']:not(.dropdown-toggle)
    {
        background-color: rgb(9, 55, 128) !important;
    }

 /*Floating elements.  Currently only used for buttons.*/
.floating
{
    box-shadow: 0 3px 3px 0 rgba( 0, 0, 0, .12), 0 1px 3px 0 rgba( 0, 0, 0, .24);
    color: white !important;
}

    .floating:hover
    {
        box-shadow: 0 4px 4px 0 rgba( 0, 0, 0, .16), 0 3px 4px 0 rgba( 0, 0, 0, .23);
        color: white !important;
    }

    .floating:active
    {
        box-shadow: none;
    }

/*The custom lock checkboxes.*/
.lock-checkbox
{
    color: black;
    background-color: #E6E6E6;
}

    /*The lock checkboxes when checked.*/
    .lock-checkbox.checked
    {
        background-color: white;
    }

        /*This icon displayed on the lock checkbox.*/
        .lock-checkbox.checked::before
        {
            color: red;
        }

/* The loan summary is the table displayed in the page header containing various loan info. */
.loan-summary
{
    color: white;
    background-color: #262626;
    border-radius: 0px;
}

    /* This is the descriptions for each item in the loan summary table.*/
    .loan-summary td:nth-child(odd)
    {
        color: #FFD180;
    }

.search-group.expand
{
    padding: 0;
}

.search-group
{
    padding: 0 3px;
}

    .search-group .form-control
    {
        transition-property: width;
        transition-timing-function: ease;
        transition-duration: .3s;
        border: none;
    }

    .search-group .covered, .search-group .covered button
    {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

/*Adds a transition to both the first buttons and their container.*/
.search-group-first, .search-group-first button
{
    transition-property: width, padding;
    transition-timing-function: ease;
    transition-duration: .3s;
}

/*All buttons grouped with the search text box.*/
.search-group button
{
    height: 34px;
    border-radius: 0px;
    box-shadow: none;
}

/*The buttons before the text in the seach group.*/
.search-group > .input-group-btn:first-child button
{
    height: 34px;
    border-radius: 0px;
    background-color: #212121 !important;
    border-color: #212121 !important;
    box-shadow: none;
    color: white !important;
}

/*The magnifying glass in the search group.*/
.search-group > .input-group-btn:last-child button
{
    background-color: #fff !important;
    border-color: #fff !important;
}

/*The bottom of the page.*/
.footer
{
    background-color: #003366;
    border-top: none;
}

/*Basic dropdown styling*/
.dropdown .btn-default
{
    background-color: #0D47A1 !important;
    border-color: #0D47A1 !important;
    color: white !important;
    font-size: 12px;
    box-shadow: none;
}

    .dropdown .btn-default:hover
    {
        border-color: #2055A7 !important;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    }

/*The default style for items in the applicant dropdown.*/
.applicants-ddl-items
{
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

    /*The items in the applicant dropdown when hovered.*/
    .applicants-ddl-items li:hover
    {
        background-color: #365A92;
        color: white;
        cursor: pointer;
    }

/*The applicant dropdown button style when the list is shown.*/
.applicants-ddl.open button
{
    background-color: rgb(9, 55, 128) !important;
}

/*The default button style.*/
.btn.btn-default
{
    background-color: #E0E0E0;
}

/*The header row for a primary table.*/
.primary-table .header
{
    background-color: #02479A;
    color: white;
    text-align:center;
}

/*The header row for a secondary table.*/
.secondary-table .header
{
    background-color: #424242;
    color: white;
    text-align:center;
}

/* The following css is for the SideBar Navigation */
/* This is the div containing the sidebar.*/
.sidebar-navigation
{
    box-shadow: 1px 5px 1px 1px rgba(85, 85, 85, .5);
    background-color: #212121;
}

    /* The first layer of the side bar folders. */
    .sidebar-navigation ul
    {
        background-color: #212121;
    }

        /* The second layer of the side bar folders. */
        .sidebar-navigation ul ul
        {
            background-color: #303030; /*#F0F0F0;*/
        }

            /* The third layer of the side bar folders. */
            .sidebar-navigation ul ul ul
            {
                background-color: #383838; /*#E5E5E5;*/
            }

    /*The following three rules create the shadow effect when opening a folder.*/
    .sidebar-navigation li:first-child a
    {
        box-shadow: 0 2px 1px rgba(45, 45, 45, .8) inset;
    }

    .sidebar-navigation li:last-child a
    {
        box-shadow: 0 -2px 1px rgba(45, 45, 45, .8) inset;
    }

    .sidebar-navigation li:first-child:last-child a
    {
        box-shadow: 0 -2px 1px rgba(45, 45, 45, .8) inset, 0 2px 1px rgba(45, 45, 45, .8) inset;
    }

    /* The links in the side-bar.  They span the entire container. */
    .sidebar-navigation a
    {
        color: rgba(255, 255, 255, .7);
    }

        /* This is the same as above, but requires the important to override the default bootstrap css. */
        .sidebar-navigation a.folder:focus:not(.active):not(:hover)
        {
            color: rgba(255, 255, 255, .7) !important;
        }

        /* Styling for side-bar links when they are active. */
        .sidebar-navigation a.active, .sidebar-navigation a.folder.active, .sidebar-navigation a:hover
        {
            color: white !important;
        }

            /* This is the link highlight. */
            .sidebar-navigation a:hover::after
            {
                background-color: rgba(30, 136, 229, .3) !important;
            }

            /* This is the solid line that appears on active and hovered links.*/
            .sidebar-navigation a.active:not(.folder)::before, .sidebar-navigation .folder.active[aria-expanded='false']::before
            {
                background-color: #1E88E5;
            }
/* Vu's style */
.ui-select-container{

}
    .ui-select-match .btn-default {
        color: #333 !important;
        background-color: #fff !important;
        border-color: #ccc !important;
    }
    .ui-select-match .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .ui-select-match .text-muted {
        color: #777;
        padding-top: 1px;
        display: inline-block;
    }
    .input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
        border-radius: 0px !important; 
    }
    .ui-select-bootstrap .ui-select-toggle > .caret{
        border-top: 0px;
        display: none;
    }
    .ui-select-bootstrap .ui-select-toggle > a.btn{
        outline: none !important;
    }
        .ui-select-bootstrap .ui-select-toggle > a i{
            display: none;
        }
            .ui-select-toggle .ui-select-match-text > span {
                width: 99%;
                overflow: hidden;
                text-overflow: ellipsis;
                position: absolute;
            }

    .ui-select-bootstrap > .ui-select-choices{
        max-height: 550px !important;
        background: #fff;
        left: -3px;
    }
         .ui-select-bootstrap > .ui-select-choices li.ui-select-choices-group a{
            box-shadow: none;
        }
            .ui-select-bootstrap .ui-select-choices-row>a:hover, .ui-select-bootstrap .ui-select-choices-row>a:focus {
                background-color: #013a81 !important;
            }

            .ui-select-bootstrap .ui-select-choices-row.active>a {
                background-color: #003366 !important;
            }

    .ui-select-bootstrap > .ui-select-choices.dropdown-menu{
        border-radius: 0px;
        border:none;
        box-shadow: none;
    }
    
