﻿/*Base*/


h1 /*header title*/
{
}

h2 /*navigation title*/
{
}

h3 /*page/content title*/
{
}

h4 /*section title, navigation folder*/
{
}

h5 /*navigation link, sub-section title*/
{
}

h6 /*fine print*/
{
}

ul
{
}

table
{
}

textarea
{
    resize: vertical;
    height: 200px;
    width: 100%;
    margin-top: 3px;
    white-space: pre-wrap !important;
}

select
{
}

input[type="text"]
{
}

input[type="radio"]
{
}

input[type="checkbox"]
{
}

button
{
}

a
{
}

label
{
    margin-bottom: 0;
}

body
{
    max-width: 1920px;
}

iframe
{
    overflow: hidden;
    border: none;
    width: 100%;
    height: 100%;
}

/*Layout*/

.wrap
{
    min-width: 1000px;
    max-width: 1920px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.header
{
    z-index: 4;
    width: 100%;
    border: none;
    min-width: 1000px;
    max-width: 1920px;
    min-height: 30px;
}

    .header .container-fluid
    {
        padding: 0;
    }

.page-header
{
    margin: 0;
    border: none;
    display: inline-block;
    padding: 5px 10px;
    float: left;
}

.btn-nav
{
    white-space: nowrap;
    margin-right: 20px;
    display: inline-block;
    height: 100%;
}

    .btn-nav button
    {
        margin-top: 2px;
        white-space: nowrap;
        min-width: 40px;
        border-radius: 1px !important;
        height: 100%;
    }

.header-table
{
    width: 100%;
}

.header-logo
{
    padding: 5px 10px;
    text-align: center;
    min-width: 245px;
}

.logo-table
{
    display: table;
    width: 100%;
}

.header-logo button
{
    margin-left: 10px;
}

.header-main
{
    padding: 0px 10px;
    text-align: right;
    height: 44px;
}

    .header-main .btn-nav button
    {
        border: none;
        border-radius: 0px;
        margin: 0;
    }

.below-header-container
{
    overflow: hidden;
    position: relative;
}

    .below-header-container .row
    {
        height: 100%;
    }

.navigation
{
    z-index: 3;
    position: relative;
}

.navbar
{
    margin-bottom: 0;
    background-image: none;
}

.navbar-inverse
{
    background-image: none;
}

.content
{
    z-index: 0;
    position: relative;
    padding: 0;
    transition: margin-left .3s ease;
    height: 100%;
    width: 100%;
    box-sizing: padding-box;
    overflow: auto;
    max-width: 100%;
}

    .content > div
    {
        min-width: 1000px;
    }

.loan-summary-container
{
    position: relative;
    width: 100%;
    z-index: 3;
}

.loan-summary
{
    border: none;
    margin-bottom: 0;
    position: relative;
    border-top-left-radius: 0px !important;
    width: 100%;
}

    .loan-summary .panel-body
    {
        padding-right: 0px;
        padding-left: 0px;
        white-space: nowrap;
    }

.loan-summary-table
{
    width: 99%;
    margin-left: 1%;
    display: inline-table;
    white-space: normal;
}

.content-container
{
    height: 100%;
    overflow: hidden;
}

.input-group
{
    border-spacing: 0;
    border-radius: 1px !important;
}

    .input-group .form-control
    {
        border-radius: 1px;
    }

.input-group-btn button, .input-group-btn .btn
{
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
}

.section
{
    display: table;
}

    .section > .panel
    {
        margin-bottom: 0;
    }

    .section .form-group
    {
        border-spacing: initial;
        margin-bottom: 10px;
    }

        .section .form-group:last-child
        {
            margin-bottom: 0px;
        }

.section-narrow
{
    width: 100%;
    border-spacing: 5px;
}

.subsection-narrow
{
    display: table-cell;
    width: 50%;
}


.section-wide
{
    width: 100%;
    padding: 5px;
}

.subsection1
{
    width: 100%;
}

.subsection2
{
    width: 50%;
}

.subsection3
{
    width: 33.333%;
}

.subsection4
{
    width: 25%;
}

.footer
{
    margin:0;
    min-width: 0px;
    width: 100%;
    padding-left:5px;
}

.panel
{
    border-radius: 2px;
    border: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .12), 0 1px 3px rgba(0, 0, 0, .24);
}

.panel-body:after, .panel-body:before
{
    display: none;
}

/**********/
/*Modules*/
/*********/

.shadow1
{
    box-shadow: 0 3px 3px 0 rgba( 0, 0, 0, .12), 0 1px 3px 0 rgba( 0, 0, 0, .24);
}

.shadow2
{
    box-shadow: 0 4px 4px 0 rgba( 0, 0, 0, .16), 0 3px 4px 0 rgba( 0, 0, 0, .23);
}

.shadow3
{
    box-shadow: 0 6px 6px 0 rgba( 0, 0, 0, .19), 0 4px 6px 0 rgba( 0, 0, 0, .23);
}

.shadow4
{
    box-shadow: 0 10px 10px 0 rgba( 0, 0, 0, .25), 0 6px 10px 0 rgba( 0, 0, 0, .22);
}

.shadow5
{
    box-shadow: 0 19px 19px 0 rgba( 0, 0, 0, .30), 0 9px 12px 0 rgba( 0, 0, 0, .22);
}

.date
{
    width: 140px;
}

.money
{
    width: 90px;
    text-align:right;
}

.percent
{
    width: 90px;
}

.time
{
    width: 120px;
}

.count
{
    width: 90px;
}

.days-counter
{
    width: 80px;
}

.loan-status
{
    width: 120px;
}

.table
{
    display: table;
    margin-bottom: 0px;
}

.table-row
{
    display: table-row;
}

.table-cell
{
    display: table-cell;
}

.primary-table
{
    width: 100%;
    border-spacing: 5px;
    text-align: center;
}


    .primary-table td
    {
        padding: 2px 3px;
    }

.secondary-table
{
    width: 100%;
}

.logo
{
    vertical-align: middle;
}

.btn
{
    background-image: none;
}

.btn-default
{
    filter: initial;
    position: relative;
}

.floating:hover
{
    transition-property: box-shadow, background-color;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.btn-group-sm > .btn, .btn-sm, .form-control
{
    border-radius: 1px;
}

.nav-toggle-small
{
    display: none;
}

.dropdown .btn-default
{
    padding: 10px 5px;
}

.applicants-ddl
{
    display: inline-block;
    height: 100%;
}

.applicants-ddl-items
{
    padding: 10px 5px;
    font-size: 12px;
    border-radius: 1px;
}

    .applicants-ddl-items li
    {
        padding: 5px 5px;
        border-radius: 2px;
    }

.lock-checkbox
{
    border-radius: 1px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

    .lock-checkbox.checked::before
    {
        content: "\e013";
    }

    .lock-checkbox input[type='checkbox']
    {
        display: none;
    }

.glyphicon
{
    top: 0px;
}

/*--Side Bar Navigation Module--*/
.sidebar-navigation
{
    padding: 0;
    min-width: 245px;
    padding-top: 5px;
    overflow-x: visible;
    max-width: 320px;
    z-index: 4;
    height: 100%;
}

    .sidebar-navigation .search-group
    {
        z-index: 2;
    }

    .sidebar-navigation .navbar
    {
        height: calc(100% - 35px) !important;
        background: none !important;
        box-shadow: none;
        border: none;
    }

    .sidebar-navigation ul
    {
        text-shadow: none !important;
        height: 100%;
    }

        .sidebar-navigation ul[aria-expanded='false']
        {
            height: 0px;
        }

        .sidebar-navigation ul ul li a
        {
            padding-left: 25px;
        }

        .sidebar-navigation ul ul ul li a
        {
            padding-left: 35px;
        }

    .sidebar-navigation .navbar-default
    {
        border: none;
    }

    .sidebar-navigation .nav > li, .sidebar-navigation .nav
    {
        float: none;
    }

    .sidebar-navigation .navbar-collapse, .sidebar-navigation .container-fluid
    {
        padding: 0;
    }

    .sidebar-navigation a
    {
        font-size: 13px;
        position: relative;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        display: inline-block;
        white-space: nowrap;
        z-index: 1;
    }

        .sidebar-navigation a.active:not(.folder)::before, .sidebar-navigation .folder.active[aria-expanded='false']::before
        {
            content: "";
            width: 5px;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
        }

        .sidebar-navigation a:hover::after
        {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            z-index: -1;
        }

    .sidebar-navigation .main-list > li:first-child a
    {
        box-shadow: none;
    }

    .sidebar-navigation .main-list > li:last-child a
    {
        box-shadow: none;
    }

    .sidebar-navigation .folder
    {
        font-size: 17px;
    }

        .sidebar-navigation .folder .arrow
        {
            transition-property: transform;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            font-size: 25px;
            position: absolute;
            right: 15px;
        }

        .sidebar-navigation .folder[aria-expanded='true'] .arrow
        {
            transform: rotate(-90deg);
        }

    /*--Side-bar Animation CSS--*/
    .sidebar-navigation .collapsing
    {
        transition-property: height, visibility, box-shadow, min-width, position;
    }

        .sidebar-navigation.collapsing[aria-expanded="true"]
        {
            width: 16.6667% !important;
        }

        .sidebar-navigation.collapsing[aria-expanded="false"], .sidebar-navigation.collapse[aria-expanded="false"]
        {
            width: 0 !important;
            min-width: 0px;
            visibility: collapse;
        }

        .sidebar-navigation.collapsing.width, .sidebar-navigation.collapse.width
        {
            transition-property: height, width, visibility, padding, min-width;
            transition-duration: 0.3s;
            transition-timing-function: ease;
            white-space: nowrap;
        }

            .sidebar-navigation.collapse.width.override
            {
                height: 100%;
                visibility: visible;
                width: 16.667% !important;
                min-width: 245px;
            }

/*--The following styling only occurs on resolutions below 1200px.  The Navigation's auto-collapse is handled here.*/
@media (max-width: 1245px)
{
    .loan-summary-empty
    {
        width: 0px;
        min-width: 0px;
    }

    .content
    {
        margin-left: 0px !important;
    }

    .below-header-container, .below-header-container .row
    {
        position: relative;
    }

    .sidebar-navigation.collapse.width, .collapsing.width
    {
        padding: 4px 0 0 0;
        margin: 0;
        min-width: 245px;
        width: 0px;
        display: block;
        height: 0px;
        transition-property: height, visibility;
        visibility: collapse;
        position: absolute;
    }

    .collapsing.width
    {
        min-width: 245px;
    }

    .nav-toggle-small
    {
        display: inline !important;
    }

    .nav-toggle-normal
    {
        display: none;
    }
}

/*--End SideBar Animation CSS--*/
/*--End SideVar Navigation CSS--*/

/*State*/

.noTransition
{
    transition: none !important;
}


/*Theme*/
/* This is where all the customizable styling will appear, so we can later separate this out if need be in order to allow custom themes. */

/* The logo section of the header */
body
{
    background-color: #E0E0E0;
}

/*The top portion of the page.*/
.header
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

/*This is the left hand side of the header.*/
.header-logo
{
    background-color: #003366;
}

    /*The sidebar-navigation toggle buttons.*/
    .header-logo button
    {
        background-color: #003366 !important;
        border-color: #003366 !important;
        box-shadow: none;
        color: white !important;
    }

        /* This affects the buttons in the bottom left of the page navigation when hovered over.*/
        .header-logo button:hover
        {
            border-color: #0D47A1 !important;
            background-color: #03407D !important;
            border-color: #003366 !important;
            color: rgb(255,255,255) !important;
        }

        /* This affects the buttons in the bottom left of the page navigation when clicked.*/
        .header-logo button:active
        {
            border-color: #002850 !important;
            background-color: #002850 !important;
            border-color: #003366 !important;
            color: rgb(255,255,255) !important;
        }

.btn-nav button
{
    box-shadow: none;
}
/* The main section of the header */
.header-main
{
    background-color: #0D47A1 !important;
}

    /* This affects the buttons in the bottom left of the page navigation.*/
    .header-main .btn-nav button
    {
        border: none;
        color: white !important;
    }

/* This is the Page Title located in the header*/
.page-header
{
    font-size: 24px;
    color: white;
}

.loan-summary-container
{
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

/* This is the container located directly below the header.  It contains the sidebar and the content. */
.below-header-container
{
    background-color: #F5F5F5;
}

/* This is the content of the page.  It appears to the right of the sidebar. */
.content
{
    background-color: #E0E0E0;
}

/* This is every Narrow or Wide Section within the content page. */
.section
{
}

/*The titles for each panel.*/
.panel-heading
{
    background-image: none !important;
    background-color: white !important;
    color: rgba(0,0,0,.72);
    border: none;
}

    /*The Header element within a panel title. */
    .panel-heading h5
    {
        font-size: 18px;
    }

/* Labels are the text descriptions for inputs. */
label
{
    color: rgba(0, 0, 0, .87);
}

/* This should be applied to every input control on the page. */
.form-control
{
    color: black;
    display: inline;
    box-shadow: none;
    border: 1px solid rgb(212, 212, 212);
}

    /* This is the border that appears around an input when focused. */
    .form-control:focus
    {
        box-shadow: none;
        border-color: #1E88E5;
    }

/*The default button styling.*/
.btn-default
{
    border: none !important;
    color: black !important;
    font-size: 13px;
    background-color: rgb(150, 150, 150) !important;
}

    .btn-default:hover
    {
        background-color: rgb(160, 160, 160) !important;
    }

    .btn-default:active
    {
        background-color: rgb(130, 130, 130) !important;
    }

/*Primary buttons.  These are used on buttons that are required to continue the loan process.*/
.btn-primary
{
    background-color: #F2A900 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .3);
    border: none;
}

    .btn-primary:hover
    {
        background-color: rgb(252, 194, 51) !important;
    }

    .btn-primary:active
    {
        background-color: rgb(238, 149, 0) !important;
    }

/*Flat buttons.  These are currently only used in the header.*/
.btn-flat
{
    background-color: rgb(13,71,161) !important;
}

    .btn-flat:hover
    {
        background-color: rgb(40, 94, 179) !important;
    }

    .btn-flat:active, .btn-flat[aria-expanded='true']:not(.dropdown-toggle)
    {
        background-color: rgb(9, 55, 128) !important;
    }

    .btn-flat span
    {
        vertical-align:middle;
    }

 /*Floating elements.  Currently only used for buttons.*/
.floating
{
    box-shadow: 0 3px 3px 0 rgba( 0, 0, 0, .12), 0 1px 3px 0 rgba( 0, 0, 0, .24);
    color: white !important;
}

    .floating:hover
    {
        box-shadow: 0 4px 4px 0 rgba( 0, 0, 0, .16), 0 3px 4px 0 rgba( 0, 0, 0, .23);
        color: white !important;
    }

    .floating:active
    {
        box-shadow: none;
    }

/*The custom lock checkboxes.*/
.lock-checkbox
{
    color: black;
    background-color: #E6E6E6;
}

    /*The lock checkboxes when checked.*/
    .lock-checkbox.checked
    {
        background-color: white;
    }

        /*This icon displayed on the lock checkbox.*/
        .lock-checkbox.checked::before
        {
            color: red;
        }

/* The loan summary is the table displayed in the page header containing various loan info. */
.loan-summary
{
    color: white;
    background-color: #262626;
    border-radius: 0px;
}

    /* This is the descriptions for each item in the loan summary table.*/
    .loan-summary td:nth-child(odd)
    {
        color: #FFD180;
    }

.search-group.expand
{
    padding: 0;
}

.search-group
{
    padding: 0 3px;
}

    .search-group .form-control
    {
        transition-property: width;
        transition-timing-function: ease;
        transition-duration: .3s;
        border: none;
    }

    .search-group .covered, .search-group .covered button
    {
        width: 0;
        padding: 0;
        overflow: hidden;
    }

/*Adds a transition to both the first buttons and their container.*/
.search-group-first, .search-group-first button
{
    transition-property: width, padding;
    transition-timing-function: ease;
    transition-duration: .3s;
}

/*All buttons grouped with the search text box.*/
.search-group button
{
    height: 34px;
    border-radius: 0px;
    box-shadow: none;
}

/*The buttons before the text in the seach group.*/
.search-group > .input-group-btn:first-child button
{
    height: 34px;
    border-radius: 0px;
    background-color: #212121 !important;
    border-color: #212121 !important;
    box-shadow: none;
    color: white !important;
}

/*The magnifying glass in the search group.*/
.search-group > .input-group-btn:last-child button
{
    background-color: #fff !important;
    border-color: #fff !important;
}

/*The bottom of the page.*/
.footer
{
    background-color: #003366;
    border-top: none;
}

/*Basic dropdown styling*/
.dropdown .btn-default
{
    background-color: #0D47A1 !important;
    border-color: #0D47A1 !important;
    color: white !important;
    font-size: 12px;
    box-shadow: none;
}

    .dropdown .btn-default:hover
    {
        border-color: #2055A7 !important;
        box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    }

/*The default style for items in the applicant dropdown.*/
.applicants-ddl-items
{
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.3);
}

    /*The items in the applicant dropdown when hovered.*/
    .applicants-ddl-items li:hover
    {
        background-color: #365A92;
        color: white;
        cursor: pointer;
    }

/*The applicant dropdown button style when the list is shown.*/
.applicants-ddl.open button
{
    background-color: rgb(9, 55, 128) !important;
}

/*The default button style.*/
.btn.btn-default
{
    background-color: #E0E0E0;
}

/*The header row for a primary table.*/
.primary-table .header
{
    background-color: #02479A;
    color: white;
    text-align:center;
}

.primary-table tr:nth-child(pdd)
{
    background-color: #FFF;
}

.primary-table tr:nth-child(even)
{
    background-color: #EEE;
}

/*The header row for a secondary table.*/
.secondary-table .header
{
    background-color: #424242;
    color: white;
    text-align:center;
}

/* The following css is for the SideBar Navigation */
/* This is the div containing the sidebar.*/
.sidebar-navigation
{
    box-shadow: 1px 5px 1px 1px rgba(85, 85, 85, .5);
    background-color: #212121;
}

    /* The first layer of the side bar folders. */
    .sidebar-navigation ul
    {
        background-color: #212121;
    }

        /* The second layer of the side bar folders. */
        .sidebar-navigation ul ul
        {
            background-color: #303030; /*#F0F0F0;*/
        }

            /* The third layer of the side bar folders. */
            .sidebar-navigation ul ul ul
            {
                background-color: #383838; /*#E5E5E5;*/
            }

    /*The following three rules create the shadow effect when opening a folder.*/
    .sidebar-navigation li:first-child a
    {
        box-shadow: 0 2px 1px rgba(45, 45, 45, .8) inset;
    }

    .sidebar-navigation li:last-child a
    {
        box-shadow: 0 -2px 1px rgba(45, 45, 45, .8) inset;
    }

    .sidebar-navigation li:first-child:last-child a
    {
        box-shadow: 0 -2px 1px rgba(45, 45, 45, .8) inset, 0 2px 1px rgba(45, 45, 45, .8) inset;
    }

    /* The links in the side-bar.  They span the entire container. */
    .sidebar-navigation a
    {
        color: rgba(255, 255, 255, .7);
    }

        /* This is the same as above, but requires the important to override the default bootstrap css. */
        .sidebar-navigation a.folder:focus:not(.active):not(:hover)
        {
            color: rgba(255, 255, 255, .7) !important;
        }


        /* Styling for side-bar links when they are active. */
        .sidebar-navigation a.active, .sidebar-navigation a.folder.active, .sidebar-navigation a:hover
        {
            color: white !important;
        }

            /* This is the link highlight. */
            .sidebar-navigation a:hover::after
            {
                background-color: rgba(30, 136, 229, .3) !important;
            }

            /* This is the solid line that appears on active and hovered links.*/
            .sidebar-navigation a.active:not(.folder)::before, .sidebar-navigation .folder.active[aria-expanded='false']::before
            {
                background-color: #1E88E5;
            }


/*These are temporary extras that probably should not go into the Master CSS file.*/

.notes-table
{
    border-spacing: 10px;
}

    .notes-table button
    {
        float: right;
    }

.greedy-td
{
    width: 100%;
}

#RateLockPricingTable
{
    width: 700px;
    border-spacing: 3px;
}

    #RateLockPricingTable .table-cell
    {
        vertical-align: middle;
    }

    #RateLockPricingTable input[type='text']
    {
        width: 90px;
    }
