<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5 ng-bind="vm.header()"></h5>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs nav-tabs-panels">
            <li ng-class="{active:vm.currentTab == 0}"><a ng-click="vm.currentTab = 0">Contact Information</a></li>
            <li ng-class="{active:vm.currentTab == 1}"><a ng-click="vm.currentTab = 1">Loan Officer Licenses</a></li>
            <li ng-class="{active:vm.currentTab == 2}"><a ng-click="vm.currentTab = 2">Company Licenses</a></li>
            </ul>
            <div class="tab-content tab-content-panels clearfix" ng-show="vm.currentTab == 0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <agent-record ref="vm.agentRecord = $ref"></agent-record>
                    </div>
                </div>
            </div>

            <div class="tab-content tab-content-panels clearfix" ng-show="vm.currentTab == 1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <license-list ref="vm.loanOfficerLicenses = $ref"></license-list>
                    </div>
                </div>
            </div>

            <div class="tab-content tab-content-panels clearfix" ng-show="vm.currentTab == 2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <license-list ref="vm.companyLicenses = $ref"></license-list>
                    </div>
                </div>
            </div>

            <div>&nbsp;</div>
            <div>
                <button type="button" class="btn btn-default" ng-disabled="!vm.isEnabledPrevious()" ng-click="vm.previous()">Previous</button>
                <button type="button" class="btn btn-default" ng-disabled="!vm.isEnabledNext()" ng-click="vm.next()">Next</button>
                <button type="button" class="btn btn-default" ng-bind="vm.backText" ng-click="vm.GoBack()"></button>
                <button type="button" class="btn btn-default" ng-disabled="!vm.isEnableSave" ng-click="vm.saveClick()">Save</button>
                <button type="button" class="btn btn-default" ng-click="vm.saveAddNew()">Save and Add other</button>
            </div>
        </div>
    </div>
</div>

<div lqb-load-fields="aAppId sAgentList AgentRecord sSpState BrokerDB sClosingCostFeeVersionT"></div>
