﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="VerifyTransaction.aspx.cs" Inherits="ConsumerPortal.VerifyTransaction" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Verify Signing Transaction</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ml:PassthroughLiteral id="m_result" runat="server" EnableViewState="false" />
    </div>
    </form>
</body>
</html>
