<lq-modal ref="vm.modal = $ref">
    <slot-heading>Amortization Table</slot-heading>
    <slot-body ng-repeat="amortization in [vm.loan.Amortization]">
        <ul class="nav nav-tabs" ng-init="vm.currentTab = 'Standard'">
                <li ng-class="{active:vm.currentTab == 'Standard'}"><a ng-click="vm.currentTab = 'Standard'">Standard</a></li>
				<li ng-class="{active:vm.currentTab == 'BestCase'}"><a ng-click="vm.currentTab = 'BestCase'">Best Case</a></li>
				<li ng-class="{active:vm.currentTab == 'WorstCase'}"><a ng-click="vm.currentTab = 'WorstCase'">Worst Case</a></li>
        </ul>
        <div class="tab-content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="secondary-table amortization-table none-hover-table">
                        <thead class="header nowrap">
                            <tr>
                                <th>No</th>
                                <th>Pmt Date</th>
                                <th>Int Rate</th>
                                <th>Monthly Pmt</th>
                                <th>Principal</th>
                                <th>Interest</th>
                                <th>MI</th>
                                 <th>Balance</th>
                            </tr>
                        <tbody ng-repeat="tab in [vm.currentTab]">
                            <tr ng-repeat="amortItem in amortization[tab].Items">
                                <td>{{amortItem.PmtIndex_rep}}</td>
                                <td>{{amortItem.DueDate_rep}}</td>
                                <td>{{amortItem.Rate_rep}}</td>
                                <td>{{amortItem.Pmt_rep}}</td>
                                <td>{{amortItem.Eq_rep}}</td>
                                <td>{{amortItem.InterestPd_rep}}</td>
                                <td>{{amortItem.MI_rep}}</td>
                                <td>{{amortItem.Bal_rep}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </slot-body>
    <slot-footer>
        <p class="text-center">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-default" ng-click="vm.print()">Print</button>
        </p>
    </slot-footer>
</lq-modal>
