<lq-modal ref="vm.modal = $ref">
    <slot-heading>Loan Program Template List</slot-heading>
    <slot-body>
        <div>
            <table class="secondary-table table-loan-template-populator">
                <thead class="header">
                    <tr>
                        <th>Loan Program Template Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="(k,v) in vm.programDict">
                        <td><label>{{v}}</label></td>
                        <td><a ng-click="vm.selectTemplate(k)">select</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </slot-body>
    <slot-footer>
        <p class="text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </p>
    </slot-footer>
</lq-modal>
