Time:
<input class="TimeInput" type="text" id="{{id + ''}}"
    readonly="{{readonly}}" maxlength="2"
    value="{{value_hour}}"
    on-blur="hourBlur"
    on-keyup="hourKeyUp"> :
<input class="TimeInput" type="text" id="{{id + '_minute'}}"
    readonly="{{readonly}}" maxlength="2"
    value="{{value_min}}"
    on-blur="minuteBlur">
<div class="select-box select-box-noimage">
    <select id="{{id + '_am'}}" value="{{value_am}}" readonly="{{readonly}}">
        <option value="AM">AM</option>
        <option value="PM">PM</option>
    </select>
</div>