<div class="container">
    <div class="alert alert-danger {{#if !errorMessage}}hidden{{/if}}">
        {{errorMessage}}
    </div>

    <div class="alert alert-warning {{#if !overflow}}hidden{{/if}}">
        <strong>Warning:</strong>
        Search returns over 100 records.
        Please refine your search criteria.

        <button on-click="set('overflow', false)" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="panel panel-default"><div class="panel-body">
        <form on-submit="search">
            <div class="row">
                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Company:</label>
                    <input class="form-control" type="text" value="{{sForm.company}}"
                           autofocus decorator="autofocus"
                           autocomplete="organization">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Status:</label>
                    <select class="form-control" value="{{sForm.isActive}}">
                        <option value="{{null}}">All</option>
                        <option value="{{true}}">Active Only</option>
                        <option value="{{false}}">Inactive Only</option>
                    </select>
                </div></div>
				
				<div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Suite Type:</label>
                    <select class="form-control" value="{{sForm.suiteType}}">
                        <option value="{{null}}">Any Type</option>
                        <option value="{{1}}">Client - LQB</option>
                        <option value="{{2}}">Client - PML Only</option>
                        <option value="{{3}}">Client - ILS</option>
                        <option value="{{4}}">Internal Demo</option>
                        <option value="{{5}}">Internal Test</option>
                        <option value="{{6}}">Load Test</option>
                        <option value="{{7}}">Vendor Test</option>
                    </select>
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>Customer Code:</label>
                    <input class="form-control" type="text" value="{{sForm.customerCode}}"
                           autocomplete="username">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm">
                    <label>DU User ID:</label>
                    <input class="form-control" type="text" value="{{sForm.duUserId}}"
                           autocomplete="username">
                </div></div>

                <div class="col-sm-2"><div class="form-group form-group-sm {{#if sForm.error.brokerId}}has-error{{/if}}">
                    <label>Broker ID:</label>
                    <input class="form-control" type="text" value="{{sForm.brokerId}}">
                </div></div>
            </div>

            <div class="clearfix">
                <div class="pull-left">
                    [[#if permission.CreateBroker]]
                        <span class="clipper"><a href="BrokerEdit.aspx?cmd=add" target="_blank"
                            class="btn btn-primary" on-click="addNewBroker">Add New</a></span>
                    [[/if]]
                    <span class="clipper"><a href="BrokerEmailList.aspx" class="btn btn-default">Email Admins</a></span>
                </div>
                <div class="pull-right">
                    <span class="clipper"><a href="../Main.aspx" class="btn btn-default">Cancel</a></span>
                    <span class="clipper"><button type="reset" class="btn btn-default" on-click="resetForm">Reset</button></span>
                    <span class="clipper"><button type="submit" class="btn btn-primary"
                            disabled="{{isSubmitting}}">{{#if isSubmitting}}Searching&hellip;{{else}}Search{{/if}}</button></span>
                </div>
            </div>
        </form>

        {{#if brokers != null}}
            <div class="table-responsive"><table class="table table-striped table-link-ws">
                <thead><tr>
                    [[#if (permission.EditBroker || permission.ViewBrokers)]]
                    <th></th>
                    [[/if]]
                    <th><a on-click="['sort', 'BrokerNm']"              >Broker {{>sortIcon {key:"BrokerNm"}}}</a></th>
					<th><a on-click="['sort', 'SuiteTypeRep']"             >Suite Type	{{>sortIcon {key:"SuiteTypeRep"}}}		 </a></th>
                    <th                                                 >Address             </th>
                    <th style="min-width:9em;"                          >Phone               </th>
                    <th style="min-width:9em;"                          >Fax                 </th>
                    <th><a on-click="['sort', 'CustomerCode']"          >Customer Code {{>sortIcon {key:"CustomerCode"}}}</a></th>
                    <th><a on-click="['sort', 'CreditMornetPlusUserId']">DU User ID {{>sortIcon {key:"CreditMornetPlusUserId"}}}</a></th>
                    <th><a on-click="['sort', 'IsActive']"              >Is Active? {{>sortIcon {key:"IsActive"}}}</a></th>
					<th>Feature Adoption</th>
                </tr></thead>
                <tbody>
                    {{#each brokers:brokerIndex}}<tr>
                        [[#if (permission.EditBroker)]]
                        <td><a href="BrokerEdit.aspx?cmd=edit&brokerid={{BrokerId}}" target="_blank" on-click="['editBroker', this]">edit</a></td>
                        [[/if]]

                        [[#if (!permission.EditBroker && permission.ViewBrokers)]]
                        <td><a href="BrokerEdit.aspx?cmd=edit&brokerid={{BrokerId}}" target="_blank" on-click="['editBroker', this]">view</a></td>
                        [[/if]]

                        <td><a on-click="['showNotes', brokerIndex]">{{BrokerNm}}</a>
                            <div class="small {{#if !showNotes}} hidden {{/if}}">{{Notes}}</div>
                            </td>
                        <td>{{SuiteTypeRep}}</td>
						<td><a href="https://www.google.com/maps?q={{BrokerAddress}}" target="_blank">{{BrokerAddress}}</a></td>
                        <td><a href="tel:{{BrokerPhone}}" target="_blank">{{BrokerPhone}}</a></td>
                        <td>{{BrokerFax}}</td>
                        <td>{{CustomerCode}}</td>
                        <td>{{CreditMornetPlusUserId}}</td>
                        <td>{{#if IsActive }} Yes {{else}} No {{/if}}</td>
						<td><a href="Features/FeatureAdoptionClientView.aspx?brokerid={{BrokerId}}" target="_blank">Feature Adoption</a></td>
                    </tr>{{/each}}
                </tbody>
            </table></div>
        {{/if}}
    </div></div>
</div>

{{#partial sortIcon}}
    <span class="glyphicon
        {{#if (sort.by != key)}}invisible{{/if}}
        {{#if sort.asc}}glyphicon-sort-by-attributes{{else}}glyphicon-sort-by-attributes-alt{{/if}}"></span>
{{/partial}}
