﻿{{if ShowHeader}}
<div class="Height10Px FormTableHeader PaddingTopBottom5">${Header}</div>
{{/if}}
<div class="CssTable FullWidthHeight">
    <div class="CssTableRow">
        <div class="CssTableCell align-middle Center">
            {{if ImageUrl != null && ImageUrl != ''}}
            <img alt="Image" src="${ImageUrl}" class="align-middle"/>
            {{/if}}
            <div class="InlineBlock align-middle Center">
                <div>${Message}</div>
                <div>${Submessage}</div>
            </div>
        </div>
    </div>
    <div class="CssTableRow">
        <div class="align-bottom CssTableCell PaddingBottom">
            <input type="button" value="OK" class="AlertOkBtn" onclick="LQBPopup.Return(null);" />
        </div>
    </div>
</div>
