﻿<style type="text/css">
    .AuditTable {
        width: 100%;
        text-align: left;
    }

    .FieldCell {
        width: 20%;
    }

    .ValueCell {
        width: 20%;
    }

    .MessageCell {
        width: 60%;
    }

    .Height5Percent {
        height: 5%;
    }

    .Success {
        color: green;
    }
</style>
<div id="AuditPage" class="CssTable FullWidthHeight">
    <div class="CssTableRow Height10Px">
        <div class="CssTableCell">
            <div class="FormTableHeader PaddingTopBottom5">${AuditPageTitle}</div>
            <br />
        </div>
    </div>
    {{if AuditPassed}}
    <div class="CssTableRow Height10Px">
        <div class="CssTableCell align-left PaddingLeftRight5">
            <div class="PaddingTopBottom5 FieldLabel">
                Data audit successful. Proceed to submit verification order.
            </div>
        </div>
    </div>
    {{/if}}
    <div class="CssTableRow">
        <div class="CssTable FullWidthHeight">
            {{each AuditResults}}
            <div class="CssTableRow">
                <div class="CssTableCell">
                    <table class="AuditTable">
                        <thead>
                            <tr class="FormTableHeader">
                                <td colspan="3">${Key}</td>
                            </tr>
                        </thead>
                        <tbody>
                            {{if Value.length == 0}}
                            <tr>
                                <td>
                                    <span class="fa fa-check-circle fa-lg Success"></span>
                                    <span> No errors detected</span>
                                </td>
                            </tr>
                            {{else}}
                            {{each Value}}
                            <tr>
                                <td class="FieldCell">
                                    {{if FieldName == ''}}
                                    <span class="FieldLabel">${FieldName}</span>
                                    {{else}}
                                    <a class="FieldUrl" data-url="${FieldUrl}">${FieldName}</a>
                                    {{/if}}
                                </td>
                                <td class="ValueCell">
                                    <span>${Value}</span>
                                </td>
                                <td class="MessageCell">
                                    <span class="Error">${ErrorMessage}</span>
                                </td>
                            </tr>
                            {{/each}}
                            {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            {{/each}}
        </div>
    </div>
    <div class="CssTableRow Height5Percent">
        <div class="Center CssTableCell align-bottom PaddingBottom">
            <input type="button" value="Cancel" id="AuditCancelBtn" />
            {{if AuditPassed == true}}
            <input type="button" value="Next" id="AuditNextBtn" />
            {{/if}}
        </div>
    </div>
</div>