﻿<tr class="DocPickerRow">
    <td class="FieldLabel"><span class="Name">${BorrowerName}</span></td>
    <td>
        <input type="hidden" class="DocId"/>
        <input type="hidden" class="AppId" value="${AppId}" />
        <input type="hidden" class="BorrowerType" value="${BorrowerType}" />
        <input type="hidden" class="Key" value="${Key}" />
        <div class="NoDoc">
            <a class="UploadDocLink">upload doc</a>&nbsp;
            <a class="SelectDocLink">select doc</a>
            <img class="align-middle" alt="Required" src="../../images/require_icon_red.gif" />
            <a title="${BorrowerName}'s authorization is required in order to place this order. Please upload or select the appropriate documentation.">?</a>
        </div>
        <div class="DocUploaded Hidden">
            <textarea class="TextArea DocDescription" disabled="disabled"></textarea>
            <a class="ViewDocLink">view doc</a>&nbsp;
            <a class="ClearDocLink">clear doc</a>
        </div>
    </td>
</tr>