﻿<div id="CredentialsPopup">
    <div id="Credentials" class="FullWidthHeight Content CssTable">
        <div class="CssTableRow">
            <div class="CssTableCell align-middle align-center">
                <h3>${Header}</h3>
                <table class="InlineBlock">
                    {{if UsesAcctId}}
                    <tr class="align-left" id="AccountIdRow">
                        <td class="FieldLabel">Account ID</td>
                        <td>
                            <input type="text" class="Input{{if RequresAcctId}} RequiredInput{{/if}}" id="AccountId" />
                            <img alt="Required" class="RequiredImg" id="AccountIdImage" src="../../images/require_icon_red.gif" />
                        </td>
                    </tr>
                    {{/if}}
                    {{if NeedBasicCreds}}
                    <tr class="align-left" id="UsernameRow">
                        <td class="FieldLabel">Username</td>
                        <td>
                            <input type="text" class="Input RequiredInput" id="Username" />
                            <img alt="Required" class="RequiredImg" id="UsernameImg" src="../../images/require_icon_red.gif" />
                        </td>
                    </tr>
                    <tr class="align-left" id="PasswordRow">
                        <td class="FieldLabel">Password</td>
                        <td>
                            <input type="password" class="Input RequiredInput" id="Password" />
                            <img alt="Required" class="RequiredImg" id="PasswordImg" src="../../images/require_icon_red.gif" />
                        </td>
                    </tr>
                    {{/if}}
                </table>
            </div>
        </div>
        <div class="CssTableRow">
            <div class="align-bottom">
                <input type="button" class="OkCredentialsBtn" value="OK" />
                <input type="button" class="CancelCredentialsBtn" value="Cancel" />
            </div>
        </div>
    </div>
</div>