﻿{{if ShowHeader}}
<div class="Height10Px FormTableHeader PaddingTopBottom5">${Header}</div>
{{/if}}
<div class="CssTable FullWidthHeight">
    <div class="CssTableRow">
        <div class="CssTableCell align-middle Center">
            <img alt="Image" src="../../images/error.png" class="align-middle" />
            <div class="InlineBlock align-middle ErrorDetails">
                <div class="PreserveLines">{{html Message}}</div>
                {{if VOARequestErrors}}
                <div>
                    <a class="AdditionalDetailsLink">Click here for additional details</a>
                </div>
                <div>
                    <ul class="Hidden UndecoratedList ErrorList Error align-left horizontal-padding-10">
                        {{each VOARequestErrors}}
                        <li class="vertical-padding-2">${this}</li>
                        {{/each}}
                    </ul>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="CssTableRow">
        <div class="align-bottom CssTableCell PaddingBottom">
            <input type="button" value="OK" class="ErrorOkBtn" onclick="LQBPopup.Return(null);" />
        </div>
    </div>
</div>