﻿{{if ShowHeader}}
<div class="Height10Px FormTableHeader PaddingTopBottom5">${Header}</div>
{{/if}}
<div class="CssTable FullWidthHeight">
    <div class="CssTableCell align-middle Center">
        <img alt="Loading" />
        <div>${Message}</div>
    </div>
</div>
