<div class="section">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="naming-scheme">
                <h5 class="text-center"><strong>Choose and configure your naming scheme</strong></h5>
                <div class="section">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <lqb-input lqb-model="vm.pipeline.namingOptions.NamingScheme" li-type="radio" ng-value="1" label="Sequential Naming"></lqb-input>
                            </p>
                            <div class="table">
                                <div>
                                    <div>
                                        <label class="nowrap">Prefix (optional)</label>
                                    </div>
                                    <div>
                                        <lqb-input lqb-model="vm.pipeline.namingOptions.Prefix"></lqb-input>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <a href="" ng-click="vm.modal.show()">Setup branch-specific prefixes</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table">
                                <div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.UsingYear" label="Use year"></lqb-input></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.YearLength" li-type="radio" ng-value="2" label="2-digits"></lqb-input></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.YearLength" li-type="radio" ng-value="4" label="4-digits"></lqb-input></div>
                                </div>
                                <div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.UsingMonth" label="Use month"></lqb-input></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.MonthLength" li-type="radio" ng-value="1" label="1-digits"></lqb-input></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.MonthLength" li-type="radio" ng-value="2" label="2-digits"></lqb-input></div>
                                </div>
                                <div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.UsingDay" label="Use day"></lqb-input></div>
                                    <div>2-digits</div>
                                    <div></div>
                                </div>
                            </div>
                            <div class="table">
                                <div>
                                    <div><label>Counter</label></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.CounterDigits"></lqb-input></div>
                                </div> 
                            </div>
                            <p>
                                <lqb-input lqb-model="vm.pipeline.namingOptions.NamingScheme" li-type="radio" ng-value="0" label="MERS naming"></lqb-input>
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <lqb-input lqb-model="vm.pipeline.namingOptions.IsAutoGenerateMersMinCB" label="Automatically generate MERS MIN"></lqb-input>
                            </p>
                            <div class="table">
                                <div>
                                    <div><label>Organization ID</label></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.MersOrganizationId" ></lqb-input></div>
                                </div>
                            </div>
                            <div class="table">
                                <div>
                                    <div></div>
                                    <div><lqb-input lqb-model="vm.pipeline.namingOptions.UsingLoanMers"  li-type="radio" ng-value="false" label="Use sequential naming"></lqb-input></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div class="starting-counter">
                                        <label>Starting Counter</label>
                                    </div>
                                    <div>
                                        <div class="flex">
                                            <lqb-input lqb-model="vm.pipeline.namingOptions.MersStartingCounter" ng-disabled="vm.pipeline.namingOptions.UsingLoanMers != false"></lqb-input>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div></div>
                                    <div>
                                        <lqb-input lqb-model="vm.pipeline.namingOptions.UsingLoanMers" li-type="radio" ng-value="true" label="Use loan number"></lqb-input>
                                        <label ng-show="vm.pipeline.namingOptions.AvailableDigits.v >= 0 && vm.pipeline.namingOptions.UsingLoanMers.v">({{vm.pipeline.namingOptions.AvailableDigits.v}} digit{{vm.pipeline.namingOptions.AvailableDigits.v > 1 ? 's': ''}} available)</label>
                                        <label ng-show="vm.pipeline.namingOptions.AvailableDigits.v < 0 && vm.pipeline.namingOptions.UsingLoanMers.v" class="text-danger">({{vm.pipeline.namingOptions.AvailableDigits.v * -1}} digit{{vm.pipeline.namingOptions.AvailableDigits.v == -1 ?  '': 's'}}  too many)</label>
                                    </div>
                                </div>
                            </div>
                            <div class="table">
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div class="include-prefix"><lqb-input lqb-model="vm.pipeline.namingOptions.MersIncludePrefix" li-type="radio" ng-value="true" label="Include prefix"></lqb-input></div>
                                </div>
                                <div>
                                    <div></div>
                                    <div></div>
                                    <div class="include-prefix"><lqb-input lqb-model="vm.pipeline.namingOptions.MersIncludePrefix" li-type="radio" ng-value="false" label="Do not include prefix"></lqb-input></div>
                                </div>
                            </div>
                            <p ng-show="vm.pipeline.namingOptions.IsAutoGenerateMersMinCB.v" class="text-danger">{{vm.pipeline.namingOptions.ErrorString.v}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <table class="secondary-table none-hover-table">
                <thead class="header">
                    <tr>
                        <th></th>
                        <th class="text-center">Decide when to use your naming scheme</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><strong>Loan Type</strong></td>
                        <td class="text-center inline"><strong>Current scheme:&nbsp;&nbsp;</strong>{{vm.pipeline.namingOptions.CurrentScheme.v}}</td>
                        <td class="text-center">
                            <a tabindex="0"  data-html="true" data-toggle="popover" data-trigger="focus" data-content="<td>
                                        <b><u>How our default naming scheme works</u></b>:<br/><br/>
                                        Let's say the loan number for your original/1st loan is <font color=blue>123</font>.<br/><br/>
                                        If you were to <b>duplicate</b> this loan, our default naming scheme would take the original loan number (123) and add four random letters to end (e.g., <font color=blue>123-FJRH</font>).<br/><br/>
                                        If you were to create a <b>2nd/subfinancing</b> loan from the original (1st), our default naming scheme would take the original loan number (123) and add &quot;-2nd-&quot; and two random letters to the end (e.g., <font color=blue>123-2nd-QD</font>).<br/><br/>
                                    </td>">
                                <strong>LendingQB default scheme</strong>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Loans created from templates</label></td>
                        <td class="text-center"><lqb-input lqb-model="vm.pipeline.namingOptions.IsUsedForTemplateLoan" ng-value="true"  li-type="radio"></lqb-input></td>
                        <td class="text-center"><label>N/A</label></td>
                    </tr>
                    <tr>
                        <td><label>Duplicated loans</label></td>
                        <td class="text-center"><lqb-input lqb-model="vm.pipeline.namingOptions.IsDuplicateLoanCreatedWAutonameBit" ng-value="true"  li-type="radio"></lqb-input></td>
                        <td class="text-center"><lqb-input lqb-model="vm.pipeline.namingOptions.IsDuplicateLoanCreatedWAutonameBit" ng-value="false"  li-type="radio"></lqb-input></td>
                    </tr>
                    <tr>
                        <td><label>Second (subfinancing) loans</label></td>
                        <td class="text-center"><lqb-input lqb-model="vm.pipeline.namingOptions.Is2ndLoanCreatedWAutonameBit" ng-value="true"  li-type="radio"></lqb-input></td>
                        <td class="text-center"><lqb-input lqb-model="vm.pipeline.namingOptions.Is2ndLoanCreatedWAutonameBit" ng-value="false"  li-type="radio"></lqb-input></td>
                    </tr>
                </tbody>
            </table> 
            <div class="hidden" lqb-load-fields="namingOptions" hidden></div>

        </div>
    </div>
</div>

<branch-prefix-modal ref="vm.modal = $ref"></branch-prefix-modal>
