<div class="section">
	<div class="panel panel-default panel-change-of-circumstances-new">
		<div class="panel-body">
            <ul class="nav nav-tabs">
                <li ng-class="{'active': vm.pageState == 0}"><a ng-click="vm.changeState(0)">Create New Change</a></li>
                <li ng-class="{'active': vm.pageState == 1, 'disabled': vm.loan.fields.cocArchivesSelect.options.length == 0}"><a ng-click="vm.changeState(1)">View Past Changes</a></li>
            </ul>
            <div class="tab-content">
                <div class="panel panel-default">
                    <div class="panel-body"  ng-repeat="SelectedCocArchive in [vm.loan.SelectedCocArchive]">
                        <div class="table">
                            <div ng-show="vm.pageState == 1">
                                <div><label>Select archived change: </label></div>
                                <div>
                                    <lqb-input lqb-model="vm.loan.fields.cocArchivesSelect"></lqb-input>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-default" ng-click="vm.print()">Print</button>
                                </div>
                            </div>
                            <div>
                                <div><label>Date of GFE Archive </label></div>
                                <div>
                                    <lqb-input ng-show="vm.pageState == 0" lqb-model="vm.loan.preparerFields.Gfe.PrepareDate"></lqb-input>
                                    <lqb-input ng-show="vm.pageState == 1" lqb-model="SelectedCocArchive.DateArchived" readonly></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Date of Change</label></div>
                                <div>
                                    <lqb-input ng-show="vm.pageState == 0" lqb-model="vm.loan.fields.sCircumstanceChangeD"></lqb-input>
                                    <lqb-input ng-show="vm.pageState == 1" lqb-model="SelectedCocArchive.CircumstanceChangeD" readonly></lqb-input>
                                </div>
                            </div>
                            <div>
                                <div><label>Date of Re-Disclosure</label></div>
                                <div>
                                    <lqb-input ng-show="vm.pageState == 0" lqb-model="vm.loan.fields.sGfeRedisclosureD"></lqb-input>
                                    <lqb-input ng-show="vm.pageState == 1" lqb-model="SelectedCocArchive.RedisclosureD" readonly></lqb-input>
                                </div>
                            </div>
                        </div>

                        <div class="table wide">
                            <div>
                                <div><label>Explanation of Change </label></div>
                            </div>
                            <div>
                                <div ng-show="vm.pageState == 0"><lqb-input class="form-control explanation-change" lqb-model="vm.loan.fields.sCircumstanceChangeExplanation"></lqb-input></div>
                                <div ng-show="vm.pageState == 1"><lqb-input class="form-control explanation-change" lqb-model="SelectedCocArchive.CircumstanceChangeExplanation" li-type="textarea" readonly></lqb-input></div>
                            </div>
                        </div>

                        <h5 class="title">Fee changes associated with Changed Circumstances</h5>
                        <table class="secondary-table" ng-show="vm.pageState == 0">
                            <thead class="header">
                                <tr>
                                    <th ></th>
                                    <th >Fee</th>
                                    <th >Archive Value</th>
                                    <th >Current Value</th>
                                </tr>
                            
                            </thead>
                            <tbody>
                                <tr ng-repeat="change in vm.loan.FeeChanges">
                                    <td><lqb-input lqb-model="change.isSelected"></lqb-input></td>
                                    <td>{{change.Description.v}}</td>
                                    <td>{{change.ArchiveValue.v | currency}}</td>
                                    <td>{{change.CurrentValue.v | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="secondary-table" ng-show="vm.pageState == 1">
                            <thead class="header">
                                <tr>
                                    <th >Fee</th>
                                    <th >Value</th>
                                </tr>
                            
                            </thead>
                            <tbody>
                                <tr ng-repeat="fee in vm.loan.SelectedCocArchive.Fees">
                                    <td>{{fee.Description.v}}</td>
                                    <td>{{fee.Value.v | currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div ng-show="vm.pageState == 0">
                            <button type="button" class="btn btn-default" ng-click="vm.apply()">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
    <div class="col-xs-6"></div>
</div>
<div lqb-load-fields="cocArchivesSelect"></div>