<a ng-click="vm.onClick()" ng-class="vm.pvm.sortKey == vm.sortKey ? vm.activeClass : ''">
    <span ng-transclude></span>
    <i ng-show="vm.pvm.sortKey == vm.sortKey" class="sort material-icons" ng-bind="vm.pvm.sortDesc ? '&#xE5CF;': '&#xE5CE;'"></i>
</a>
