<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Internal Assignment</h5>
        </div>
        <div class="panel-body">
            <ul class="nav nav-tabs nav-tabs-panels">
                <li ng-class="{active:vm.currentTab == 0}"><a ng-click="vm.currentTab = 0">Roles</a></li>
                <li ng-class="{active:vm.currentTab == 1}" ng-show="vm.loan.BrokerDB.EnableTeamsUI"><a ng-click="vm.currentTab = 1">Teams</a></li>
            </ul>
            <div class="tab-content tab-content-panels clearfix" ng-hide="vm.currentTab == 1">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table table-agents">
                            <div>
                                <div><label>Loan Officer</label></div>
                                <div>
                                    <a name="7" ng-hide="vm.disableLOLink()"></a>
                                    <label class="text-muted" ng-show="vm.disableLOLink()">(Secondary (External) must not be assigned)</label>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(7,true)" ng-hide="vm.disableLOLink()">(assign)</a>
                                </div>
                                <div><label>Loan Officer Assistant</label></div>
                                <div>
                                    <a name="24"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(24)">(assign)</a>
                                </div>
                                <div><label>Loan Opener</label></div>
                                <div>
                                    <a name="8"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(8)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Processor</label></div>
                                <div>
                                    <a name="11"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(11)">(assign)</a>
                                </div>
                                <div><label>Junior Processor</label></div>
                                <div>
                                    <a name="21"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(21)">(assign)</a>
                                </div>
                                <div><label>QC Compliance</label></div>
                                <div>
                                    <a name="26"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(26)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Underwriter</label></div>
                                <div>
                                    <a name="14"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(14)">(assign)</a>
                                </div>
                                <div><label>Junior Underwriter</label></div>
                                <div>
                                    <a name="22"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(22)">(assign)</a>
                                </div>
                                <div><label>Funder</label></div>
                                <div>
                                    <a name="5"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(5)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Doc Drawer</label></div>
                                <div>
                                    <a name="18"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(18)">(assign)</a>
                                </div>
                                <div><label>Collateral Agent</label></div>
                                <div>
                                    <a name="17"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(17)">(assign)</a>
                                </div>
                                <div><label>Lender Account Executive</label></div>
                                <div>
                                    <a name="6"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(6)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Lock Desk</label></div>
                                <div>
                                    <a name="9"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(9)">(assign)</a>
                                </div>
                                <div><label>Disclosure Desk</label></div>
                                <div>
                                    <a name="20"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(20)">(assign)</a>
                                </div>
                                <div><label>Purchaser</label></div>
                                <div>
                                    <a name="25"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(25)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Credit Auditor</label></div>
                                <div>
                                    <a name="19"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(19)">(assign)</a>
                                </div>
                                <div><label>Legal Auditor</label></div>
                                <div>
                                    <a name="23"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(23)">(assign)</a>
                                </div>
                                <div><label>Closer</label></div>
                                <div>
                                    <a name="3"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(3)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Secondary</label></div>
                                <div>
                                    <a name="27"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(27)">(assign)</a>
                                </div>
                                <div><label>Shipper</label></div>
                                <div>
                                    <a name="13"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(13)">(assign)</a>
                                </div>
                                <div><label>Servicing</label></div>
                                <div>
                                    <a name="28"></a>
                                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(28)">(assign)</a>
                                </div>
                            </div>

                            <div>
                                <div><label>Insuring</label></div>
                                <div><a name="16"></a> <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(16)">(assign)</a></div>
                                <div><label>Post-Closer</label></div>
                                <div><a name="15"></a> <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(15)">(assign)</a></div>
                                <div><label>Call Center Agent</label></div>
                                <div><a name="2"></a> <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(2)">(assign)</a></div>
                            </div>

                            <div>
                                <div><label>Manager</label></div>
                                <div><a name="10"></a> <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(10)">(assign)</a></div>
                                <div><label>Real Estate Agent</label></div>
                                <div><a name="12"></a> <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(12)">(assign)</a></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content tab-content-panels" ng-hide="vm.currentTab == 0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table table-agents">
                            <div>
                                <div><label>Loan Officer</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(7)">(assign)</a></div>
                                <div><label>Loan Officer Assistant</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(24)">(assign)</a></div>
                                <div><label>Loan Opener</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(8)">(assign)</a></div>
                            </div>

                            <div>
                                <div><label>Processor</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(11)">(assign)</a></div>
                                <div><label>Junior Processor</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(21)">(assign)</a></div>
                                <div><label>Processor (External)</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(51)">(assign)</a></div>
                            </div>

                            <div>
                                <div><label>Underwriter</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(14)">(assign)</a></div>
                                <div><label>Junior Underwriter</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(22)">(assign)</a></div>
                                <div><label>QC Compliance</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(26)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Doc Drawer</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(18)">(assign)</a></div>
                                <div><label>Collateral Agent</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(17)">(assign)</a></div>
                                <div><label>Funder</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(5)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Lock Desk</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(9)">(assign)</a></div>
                                <div><label>Disclosure Desk</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(20)">(assign)</a></div>
                                <div><label>Lender Account Executive</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(6)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Credit Auditor</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(19)">(assign)</a></div>
                                <div><label>Legal Auditor</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(23)">(assign)</a></div>
                                <div><label>Purchaser</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(25)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Secondary</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(27)">(assign)</a></div>
                                <div><label>Shipper</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(13)">(assign)</a></div>
                                <div><label>Closer</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(3)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Insuring</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(16)">(assign)</a></div>
                                <div><label>Post-Closer</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(15)">(assign)</a></div>
                                <div><label>Servicing</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(28)">(assign)</a></div>
                                
                            </div>

                            <div>
                                <div><label>Manager</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(10)">(assign)</a></div>
                                <div><label>Real Estate Agent</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(12)">(assign)</a></div>
                                <div><label>Call Center Agent</label></div>
                                <div><a href="javascript:void(0);" ng-click="vm.displayTeamsInRole(2)">(assign)</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section"  ng-hide="vm.currentTab == 1">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h5>External Agent Assignment</h5>
        </div>
        <div class="panel-body">
        <div class="table table-agents" ng-show="vm.hasPmlBroker()">
           <div>
               <div><label>Originating Company:</label></div>
               <div><label ng-bind="vm.loan.PmlBroker.NmlsName"></label><a href="javascript:void(0);" ng-click="vm.showTip()">?</a></div>
               <div><label>Company Status for this Loan Channel:</label></div>
               <div><label ng-bind="vm.getsPmlBrokerStatusTValue()"></label></div>
           </div> 
           <div>
               <div><label>Originating Company ID:</label></div>
               <div><label ng-bind="vm.loan.PmlBroker.CompanyId"></label></div>
               <div></div>
               <div></div>
           </div>
        </div>

        <div class="table table-agents" ng-hide="vm.loan.fields.sPmlCompanyTierDesc.v == ''">
            <div>
                <div><label>Originating Company Tier:</label></div>
                <div><label ng-bind="vm.loan.fields.sPmlCompanyTierDesc.v"></label></div>
            </div>
        </div>
        <div ng-show="vm.showmOCError">
            <p>
                <label class="text-danger">The assigned
                    <span ng-bind="vm.formattedRoles"></span>
                    does not belong to
                    <span ng-bind="vm.loan.PmlBroker.NmlsName"></span>
                    and therefore does not have access to this loan.
                </label>
            </p>
            <p>
                <label>
                    To give access to the assigned
                    <span ng-bind="vm.formattedRoles"></span>, re-assign them to the
                    loan file. Otherwise please assign to another <span ng-bind="vm.formattedRoles"></span>. Note that the Loan
                    Officer, Processor (External), Secondary (External), and Post-Closer (External) must belong to the same Originating Company.
                </label>
            </p>
        </div>

        <div class="table table-agents">
            <div>
                <div><label>Loan Officer (External)</label></div>
                <div>
                    <a name="50"></a>
                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(50,false,true)">(assign)</a>
                </div>
                <div><label>Processor (External)</label></div>
                <div>
                    <a name="51" ng-hide="vm.disableBrokerProcessorLink()"></a>
                    <label class="text-muted" ng-show="vm.disableBrokerProcessorLink()">(LO is required to be a PML user)</label>
                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(51)" ng-hide="vm.disableBrokerProcessorLink()">(assign)</a>
                </div>
            </div>
            <div>
                <div><label>Secondary (External)</label></div>
                <div>
                    <a name="70" ng-hide="vm.disableExternalSecondaryLink()"></a>
                    <label class="text-muted" ng-show="vm.disableExternalSecondaryLink()">(LO is required to be a PML User)</label>
                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(70)" ng-hide="vm.disableExternalSecondaryLink()">(assign)</a>
                </div>
                 <div><label>Post-Closer (External)</label></div>
                <div>
                    <a name="71" ng-hide="vm.disablePostCloserLink()"></a>
                    <label class="text-muted" ng-show="vm.disablePostCloserLink()">(Secondary (External) must be assigned)</label>
                    <a href="javascript:void(0);" ng-click="vm.displayPeopleInRole(71)" ng-hide="vm.disablePostCloserLink()">(assign)</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Official Contact List For This Loan</h5>
        </div>
        <div class="panel-body">
            <p>
                <button type="button" class="btn btn-default" ng-click="vm.displayPeopleRecord()">Add People...</button>
                <button type="button" class="btn btn-default" ng-disabled="!vm.hasAnySelected()" ng-click="vm.delete()">Delete checked</button>
            </p>
            <table class="secondary-table">
                <thead class="header nowrap">
                    <th>Select</th>
                    <th>
                        <a ng-click="vm.sortRegulars('AgentRoleDescription')">
                            <span>Type</span>
                            <span ng-show="vm.sortKey == 'AgentRoleDescription'" class="material-icons" ng-bind="vm.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="vm.sortRegulars('AgentName')">
                            Agent Name
                            <span ng-show="vm.sortKey == 'AgentName'" class="material-icons" ng-bind="vm.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                        </a>
                    </th>
                    <th>
                        <a ng-click="vm.sortRegulars('CompanyName')">
                            Company Name
                            <span ng-show="vm.sortKey == 'CompanyName'" class="material-icons" ng-bind="vm.isAsc ? 'arrow_drop_down' : 'arrow_drop_up'"></span>
                        </a>
                    </th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Lender Affiliate?</th>
                    <th>Originator Affiliate?</th>
                    <th>&nbsp;</th>
                </thead>
                <tbody>
                <tr ng-repeat="agent in vm.sAgentList track by $index" ng-class="{'selected': vm.hasSelected($index)}" ng-click="vm.clickItem($index)">
                        <td><label class="checkbox"
                            ng-class="vm.hasSelected($index) ? 'checkbox checked' : 'checkbox'"><span class="material-icons"><!-- require('../../../../../images/Prototype/checkbox.svg') --></span></label></td>
                        <td ng-bind="agent.AgentRoleDescription"></td>
                        <td ng-bind="agent.AgentName"></td>
                        <td ng-bind="agent.CompanyName"></td>
                        <td class="nowrap" ng-bind="agent.Phone"></td>
                        <td ><a href='mailto:{{agent.EmailAddr}}' ng-bind="agent.EmailAddr"><a/></td>
                        <td ng-bind="vm.displayYesNo(agent.IsLenderAffiliate)"></td>
                        <td ng-bind="vm.displayYesNo(agent.IsOriginatorAffiliate)"></td>
                        <td><a ng-click="vm.displayPeopleRecord(agent.RecordId)">edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- require('../../EmployeeRole/index.html') -->
<!-- require('../../TeamPicker/index.html') -->
<div lqb-load-fields="EmployeeLoanAssignment sLNm BrokerDB BrokerUser PmlBroker sPmlBrokerStatusT sAgentList sPmlCompanyTierDesc sLT sFileVersion"></div>
