<div class="content-container" ng-if="vm.pg == 3">
    <p ng-if="!vm.PriceMyLoanUser.canOcCreateLoansInCurrentMode"
        class="text-danger padding-top-32">
        Your company does not currently have permission to create loans within this portal mode. Please contact your AE if you have questions.</p>
    <p ng-if="vm.PriceMyLoanUser.canOcCreateLoansInCurrentMode && !vm.PriceMyLoanUser.canCreateLoansInCurrentMode"
        class="text-danger padding-top-32">
        You do not currently have permission to create new loans within this <span>{{ vm.PortalMode == vm.E_PortalMode.Retail ? "portal" : "portal mode" }}</span>.
        Please contact
            <a    ng-if="vm.supervisorDB != null" ng-href="mailto:{{vm.supervisorDB.Email}}">{{vm.supervisorDB.FullName}}</a>
            <span ng-if="vm.supervisorDB == null">{{ vm.PortalMode == vm.E_PortalMode.Retail ? "an administrator" : "your AE" }}</span>
            if you need this permission.
    </p>
    <div ng-if="vm.PriceMyLoanUser.canCreateLoansInCurrentMode">
        <form
            ng-submit="vm.onCreateLoan(false, $event)">
            <!-- createLoanHeader -->
            <header class="page-header text-capitalize">{{vm.createLoanHeader}}</header>
            <div class="padding-left-p16"><span class="indicates-reqired"><span class="text-danger">*</span> Indicates required fields</span></div>
            <header class="header">Applicant Information</header>

            <div class="table">
                <div>
                    <div><label>First Name <span class="text-danger">*</span></label><input type="text" ng-model="vm.aBFirstNm" required></div>
                    <div><label>Last  Name <span class="text-danger">*</span></label><input type="text" ng-model="vm.aBLastNm"  required></div>
                    <div><label>SSN        <span class="text-danger">*</span></label><input type="text" ng-model="vm.aBSsn"     required ng-change="vm.onChange_aBSsn();"></div>
                    <!-- LoanCreationNextBtn -->
                    <div class="wrap-btnNext-create-loan"><button class="ButtonStyle btn btn-default"
                        type="button"
                        ng-click="vm.onCreateLoan(false, $event)"
                        ng-disabled="!vm.aBFirstNm || !vm.aBLastNm || !vm.aBSsn">Next</button></div>
                </div>
            </div>
        </form>

        <div ng-if="vm.duplicatedLoans != null">
            <p>The following duplicate files were detected</p>

            <loan-table loans="vm.duplicatedLoans" portal-mode="vm.PortalMode" is-use-tasks-in-tpo-portal="vm.BrokerDB.IsUseTasksInTpoPortal"></loan-table>

            <div>
                <button class="ButtonStyle btn btn-default" ng-click="vm.cancelLoanCreation()" tabindex="0" type="button">Back</button>
                <button class="ButtonStyle btn btn-default" ng-click="vm.onCreateLoan(true, $event)" type="button">Create New</button>
            </div>
        </div>
    </div>
</div>
