<div class="padding-bottom-p16" ng-if="vm.BrokerDB.IsPmlPointImportAllowed">
    <div ng-mdc-radio ng-model="vm.importType" ng-value="1" class="with-gap" label="Import Calyx Point file"></div>
    <div ng-if="vm.importType == 1" class="padding-left-50 padding-top-p16">
        <p class="text-danger padding-bottom-p16"
            ng-if="vm.isCpFileInvalidExt">Invalid Calyx Point file: Point file must have extension .brw or .prs</p>

        <div class="d-flex padding-bottom-p8">
            <div ng-file-input
                accept=".brw,.prs" required
                on-change="vm.onCpFileChange($file)"></div>
            <span class="text-danger padding-left-4">*</span>
        </div>

        <div class="padding-top-p8" ng-if="vm.PriceMyLoanUser.IsPricingMultipleAppsSupported && vm.BrokerDB.IsPmlPointImportAllowed">
            <div ng-mdc-checkbox ng-model="vm.isImportCpCb"
                ng-change="vm.toggleCpCb()"
                label="Import Co-Borrower files ( .CB1, .CB2, .CB3, etc&hellip;)"></div>
            <div ng-if="vm.isImportCpCb" class="padding-top-p16">
                <div ng-repeat="cbFile in vm.cpCbFiles">
                    <p ng-if="cbFile.invalidExt">Invalid Calyx Point co-borrower file: Point file must have extension .CB1, .CB2, etc.</p>
                    <p ng-if="cbFile.isDuplicated">This file has already been selected.</p>
                    <div class="d-flex padding-bottom-p8">
                        <div ng-file-input
                            accept=".cb1,.cb2,.cb3,.cb4,.cb5"
                            on-change="vm.onCpCbFileChange($file, cbFile)"></div>
                        <a ng-click="vm.removeCpCb(cbFile)" class="padding-left-p8"><i class="material-icons accent-high large-material-icons">&#xE909;</i></a>
                    </div>
                </div>
                <p class="padding-top-p8"><a ng-click="vm.addCpCb()">Include another file to import<span> (max 5)</span></a></p>
            </div>
        </div>

        <div class="padding-top-p16 padding-bottom-p16 margin-left-12-reduce">
            <div ng-mdc-checkbox ng-model="vm.cpAgree"
                required label="I understand that applicants' Social Security Numbers may be stored and potentially visible to other users."></div>
            <span class="text-danger">*</span>
        </div>

        <button lass="ButtonStyle btn btn-default" type="button"
            ng-click="vm.importCp()"
            ng-disabled="vm.isCpFileInvalidExt || !vm._cpFile.value || !vm.cpAgree || !vm.cpCbFileValid || vm.cpLoading">Import</button>
    </div>
</div>
