<div class="padding-bottom-p16" ng-if="vm.BrokerDB.IsAllowImportDoDuInPml">
    <div ng-mdc-radio ng-model="vm.importType" ng-value="2" class="with-gap" label="Retrieve existing loan from DO/DU"></div>
    <div ng-if="vm.importType == 2" class="padding-left-50 padding-top-p16">
        <div class="table">
            <div>
                <div>
                    <label>Casefile ID <span class="text-danger">*</span></label>
                    <input type="text" ng-model="vm.sDuCaseId" required>
                </div>
            </div>
            <div>
                <div>
                    <div class="table table-font-default">
                        <div>
                            <div>
                                <label>DO/DU User ID <span class="text-danger">*</span></label>
                                <input type="text" autocomplete="username" required
                                    ng-model="vm.FannieMaeMORNETUserID">
                            </div>
                            <div class="vertical-align-bottom">
                                <div ng-mdc-checkbox ng-model="vm.rememberLogin" label="Remember my User ID"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label>DO/DU Password <span class="text-danger">*</span></label>
                    <input type="password" autocomplete="current-password" required
                        ng-model="vm.FannieMaeMORNETPassword">
                </div>
            </div>
            <div>
                <div>
                    <div ng-mdc-checkbox ng-model="vm.isImportCredit" label="Get credit report from casefile (if any)"></div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div ng-mdc-checkbox ng-model="vm.duAgree"
                            required label="I understand that applicants' Social Security Numbers may be stored and potentially visible to other users."></div>
                        <span class="text-danger">*</span>
                    </div>
                </div>
            </div>
        </div>

        <button class="ButtonStyle btn btn-default" type="button"
            ng-click="vm.importDu(false)"
            ng-disabled="!vm.sDuCaseId || !vm.FannieMaeMORNETUserID || !vm.FannieMaeMORNETPassword || !vm.duAgree">Import</button>

        <div ng-if="vm.duplicatedLoans != null">
            <p>The following duplicate files were detected</p>

            <loan-table loans="vm.duplicatedLoans" portal-mode="vm.PortalMode" is-use-tasks-in-tpo-portal="vm.BrokerDB.IsUseTasksInTpoPortal"></loan-table>

            <div>
                <button class="ButtonStyle btn btn-default" ng-click="vm.cancelLoanCreation()" tabindex="0" type="button">Back</button>
                <button class="ButtonStyle btn btn-default" ng-click="vm.importDu(true)" type="button">Create New</button>
            </div>
        </div>
    </div>
</div>
