<div ng-if="vm.pg == 4">
    <header class="page-header">Import Loan File</header>
    <div class="padding-left-p16">
        <div class="indicates-reqired"><span class="text-danger">*</span> Indicates required fields</div>
        <import-fm></import-fm>
        <import-cp></import-cp>
        <import-do></import-do>
        <retrieve-lpa></retrieve-lpa>
    </div>
</div>
