<div class="padding-bottom-p16">
    <div ng-mdc-radio ng-model="vm.importType" ng-value="0" class="with-gap" label="Import Fannie Mae file"></div>
    <div ng-if="vm.importType == 0" class="padding-left-50 padding-top-p16">
        <p class="text-danger padding-bottom-p16"
            ng-if="vm.isFmFileInvalidExt">Unsupported file extension: Fannie Mae file must have extension .fnm, .dat, .exp, .imp or .#du</p>
        <div class="d-flex padding-bottom-p8">
            <div ng-file-input
                accept=".fnm,.dat,.exp,.imp,.0du,.1du,.2du,.3du,.4du,.5du,.6du,.7du,.8du,.9du" required
                on-change="vm.onFmFileChange($file)"></div>
            <span class="text-danger padding-left-4">*</span>
        </div>

        <div class="padding-bottom-p16 margin-left-12-reduce">
            <div ng-mdc-checkbox ng-model="vm.fmAgree" required
                label="I understand that applicants' Social Security Numbers may be stored and potentially visible to other users."></div>
            <span class="text-danger">*</span>
        </div>

        <button class="ButtonStyle btn btn-default" type="button"
            ng-click="vm.importFm(false)"
            ng-disabled="vm.isFmFileInvalidExt || !vm._fmFile || !vm._fmFile.value || !vm.fmAgree || vm.fmLoading">Import</button>

        <div ng-if="vm.duplicatedLoans != null">
            <p>The following duplicate files were detected</p>

            <loan-table loans="vm.duplicatedLoans" portal-mode="vm.PortalMode" is-use-tasks-in-tpo-portal="vm.BrokerDB.IsUseTasksInTpoPortal"></loan-table>

            <div>
                <button class="ButtonStyle btn btn-default" ng-click="vm.cancelLoanCreation()" tabindex="0" type="button">Back</button>
                <button class="ButtonStyle btn btn-default" ng-click="vm.importFm(true)" type="button">Create New</button>
            </div>
        </div>
    </div>
</div>
