<!-- dashboard FramePanel -->
<loading-icon ng-show="vm.showLoading">
    <div class="wrap-loading">
        <div class="loading-content">
            <img class="img-loading" ng-src="../images/loading.gif">
        </div>
    </div>
</loading-icon>

<iframe
    ng-show="vm.dashboardUrl != null"
    ng-src="{{vm.dashboardUrl}}"
    re-ref="vm.setDashboardIframe($element)"
    frameborder="0" border="0" scrolling="yes"
    class="pipeline-iframe"></iframe>

<div ng-if="vm.dashboardUrl == null">
    <div ng-if="vm.pg == 0">
        <header class="page-header">Loans</header>
        <div pipeline-loan></div>
    </div>

    <div ng-if="vm.pg == 5">
        <header class="page-header">Leads</header>
        <div pipeline-lead></div>
    </div>

    <div ng-if="vm.pg == 1">
        <div my-tasks enable-condition-mode="false" portal-mode="vm.PortalMode"></div>
    </div>

    <div ng-if="vm.pg == 2">
        <div my-tasks enable-condition-mode="true" portal-mode="vm.PortalMode"></div>
    </div>
	
	<div ng-if="vm.pg == 6">
		<div pipeline-report></div>
	</div>

    <create-loan></create-loan>

    <import-loan></import-loan>
</div>
