<div class="padding-bottom-p16" ng-if="vm.BrokerDB.AllowImportFromLpaInPml">
    <div ng-mdc-radio ng-model="vm.importType" ng-value="3" class="with-gap" label="Retrieve existing loan from LPA"></div>
    <div ng-if="vm.importType == 3" class="padding-left-50 padding-top-p16">
        <div class="table">
            <div>
                <div>
                    <label>
                        LPA Loan ID <span class="text-danger">*</span>
                    </label>
                    <input type="text" ng-model="vm.LpaLoanId" required>
                </div>
            </div>
            <div ng-if="!vm.LpaCredentials.HasLpaUserCredentials">
                <div>
                    <div class="table table-font-default">
                        <div>
                            <div>
                                <label>
                                    LPA User ID <span class="text-danger">*</span>
                                </label>
                                <input type="text" required ng-model="vm.LpaUserId">
                            </div>
                            <div>
                                <label>
                                    LPA User Password <span class="text-danger">*</span>
                                </label>
                                <input type="password" required ng-model="vm.LpaUserPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="!vm.LpaCredentials.HasLpaSellerCredentials">
                <div>
                    <div class="table table-font-default">
                        <div>
                            <div>
                                <label>
                                    LPA Seller Number <span class="text-danger">*</span>
                                </label>
                                <input type="text" required ng-model="vm.LpaSellerNumber">
                            </div>
                            <div>
                                <label>
                                    LPA Password <span class="text-danger">*</span>
                                </label>
                                <input type="password" required ng-model="vm.LpaPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="table table-font-default">
                        <div>
                            <div>
                                <label>
                                    LPA AUS Key Number
                                </label>
                                <input type="text" ng-model="vm.LpaAusKeyNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div class="table table-font-default">
                        <div>
                            <div>
                                <label>
                                    LPA NOTP Number
                                </label>
                                <input type="text" ng-model="vm.LpaNotpNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div ng-mdc-checkbox ng-model="vm.LpaImportCreditReport" label="Import Credit Report"></div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <div ng-mdc-checkbox ng-model="vm.LpaAgree"
                             required label="I understand that applicants' Social Security Numbers may be stored and potentially visible to other users."></div>
                        <span class="text-danger">*</span>
                    </div>
                </div>
            </div>
            <button class="ButtonStyle btn btn-default" type="button"
                    ng-click="vm.ImportLpaLoan()"
                    ng-disabled="vm.LpaImportBtnDisabled()">
                Import
            </button>
        </div>
    </div>
</div>
