﻿.Header {color:#FFFFFF; padding:2px 0px 2px 6px; font-weight:bold}

form, td.center {
    text-align: center;
}

form > table{
    display: inline-table;
}
.modal
{
    font-weight:normal;
    border: black 3px solid;
    padding: 5px;
    z-index: 900;
    DISPLAY: none;
    POSITION: absolute;
    BACKGROUND-COLOR: whitesmoke;
}

.ErrorCount { color:Red; }

.StaticHeader
{
    color: white;
    position:relative;
}
.StaticHeader td { background-color:#999999; }
.ConditionsHeader { top: expression(document.getElementById('m_conditionsContainer').scrollTop - 3); }
.ConstraintsHeader { top: expression(document.getElementById('m_constraintsContainer').scrollTop - 3); }
.RestraintsHeader { top: expression(document.getElementById('m_restraintsContainer').scrollTop - 3); }
.ProtectionRulesHeader { top: expression(document.getElementById('m_fieldProtectionRulesContainer').scrollTop - 3); }

div#DraftDiv { float: left; }
div#SearchDiv { float: right; }

td.RedHeader
{
    background-color: #BB0000;
}
