﻿.header {color:#FFFFFF; padding:2px 0px 2px 6px; font-weight:bold}
.modal 
{
    font-weight:normal;
    BORDER-RIGHT: black 3px solid;
    BORDER-LEFT: black 3px solid;
    BORDER-BOTTOM: black 3px solid;
    BORDER-TOP: black 3px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    display: none;
    z-index: 900;
    POSITION: absolute;
    BACKGROUND-COLOR: whitesmoke
}
.InAndNotInList label
{
    margin-right: 5px;
}
.InAndNotInName
{
    margin-left: 5px;
}