﻿.header {color:#FFFFFF; padding:2px 0px 2px 6px; font-weight:bold}
form{
    text-align: center;
}

form > table{
    display: inline-table;
    width: 1000px;
}
.modal 
{
    font-weight:normal;
    BORDER-RIGHT: black 3px solid;
    BORDER-LEFT: black 3px solid;
    BORDER-BOTTOM: black 3px solid;
    BORDER-TOP: black 3px solid;
    PADDING-RIGHT: 5px;
    PADDING-LEFT: 5px;
    PADDING-BOTTOM: 5px;
    PADDING-TOP: 5px;
    display: none;
    z-index: 900;
    POSITION: absolute;
    BACKGROUND-COLOR: whitesmoke
}
.RadioOption
{
    display: block;
}
.SearchField
{
    PADDING-LEFT: 4px;
    BORDER: 1px groove;
    FONT: 11px arial;
}
.FieldList
{
    BACKGROUND-COLOR: #FFF;
    overflow-y: scroll;
    height: 15em;
}
.FieldListItem
{
    BORDER: 0px;
}
.InAndNotInList label
{
    margin-right: 5px;
}
.InAndNotInName
{
    margin-left: 5px;
}

.RedText
{
    color: red;
}

#pathableFieldPermissionsHeader, #LoanStatusChecklistHeader {
    background-color:#666666
}

td.GreenHeader
{
    background-color: #00BB00;
}

td.RedHeader
{
    background-color: #BB0000;
}