﻿#BatchEdit
{
    float: left;
    position: relative;
    top: 3px;
    width: 225px;
}
#BatchEditSearch
{
    font-weight: bold;
    padding-left: 4px;
}
#BatchEditSearch input
{
    width: 116px;
}
#BatchEditNavigation 
{
    position: relative;
    left: 2px;
    top: 3px;
    overflow-y: auto;
    font-weight: normal;
    background-color: White;
}

#BatchEditNavigation .document-name-listing
{
    margin-left: 0px;
    padding-left: 15px;
}

li.document
{
    border: dotted 1px #cccccc;
    margin-bottom: 4px;
}

li.folder.close ol li
{
    display: none;
}

li.folder.close ol li.search-result
{
    display: block;
}

.Hidden
{
    display: none;
}

.droppable-hover
{
    background-color: #FCD116;
}

#BatchEditSplitDocDialog input
{
    display: block;
}

#BatchEditSplitDocDialog.SplitOrAdd #BatchEditSplitNewDoc
{
    display:block;
    width: 150px;
    position: relative;
    left: 50%;
    margin-left: -75px;
}

.selecting
{
    background-color: #ffff8e;
}

.loading
{
    display: none;
}

li.selecting .loading
{
    display: inline;
}

