.combobox
{
    z-index: 100;
    cursor: default;
    border-right: black 1px solid;
    padding-right: 1px;
    border-top: black 1px solid;
    padding-left: 1px;
    z-index: 100;
    border-left: black 1px solid;
    cursor: default;
    border-bottom: black 1px solid;
    background-color: white;

}
.combobox_img
{
    border-right: thin groove;
    border-top: thin groove;
    border-left: thin groove;
    border-bottom: groove;
}
.combobox_select
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;        
    color: white;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    background-color: #3399fe;
    border-bottom-style: solid;
}
.combobox_unselect
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;        
    color: black;
}

