/* To conform the the look/feel of the previous theme jQuery-ui 1.8, we have to adjust CSS */

/* The x button at the top of Dialogs: using html button instead of link */
.ui-state-default.ui-dialog-titlebar-close,
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close,
.ui-widget-header .ui-state-default.ui-dialog-titlebar-close {
    border: none;
    background-color: transparent;
    outline: none;
}
.ui-state-default.ui-dialog-titlebar-close .ui-icon,
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close .ui-icon,
.ui-widget-header .ui-state-default.ui-dialog-titlebar-close .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png);
}
.ui-state-default.ui-dialog-titlebar-close.ui-state-hover,
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close.ui-state-hover,
.ui-widget-header .ui-state-default.ui-dialog-titlebar-close.ui-state-hover {
    border: 1px solid #fbcb09;
    background-color: #fdf5ce;
}
.ui-state-default.ui-dialog-titlebar-close.ui-state-hover .ui-icon,
.ui-widget-content .ui-state-default.ui-dialog-titlebar-close.ui-state-hover .ui-icon,
.ui-widget-header .ui-state-default.ui-dialog-titlebar-close.ui-state-hover .ui-icon {
    background-image: url(images/ui-icons_ef8c08_256x240.png);
}
.ui-tabs-nav.ui-widget-header {
    border: 1px solid #000000;
    background: #000000;
}
.tab.ui-state-default,
.ui-widget-content .tab.ui-state-default,
.ui-widget-header .tab.ui-state-default {
    border: 1px solid #616161;
    background: #616161;
    color: #ffffff;
}
.tab.ui-state-default a,
.tab.ui-state-default a:link,
.tab.ui-state-default a:visited {
    color: #ffffff;
    outline: none;
}
.tab.ui-state-active,
.ui-widget-content .tab.ui-state-active,
.ui-widget-header .tab.ui-state-active {
    border: 1px solid #dcdcdc;
    background: #dcdcdc;
    font-weight: normal;
    color: #000000;
}
.tab.ui-state-active a,
.tab.ui-state-active a:link,
.tab.ui-state-active a:visited {
    color: #000000;
    outline: none;
}
.ui-tooltip.ui-widget-content {
    background: #dcdcdc;
}
