﻿.ui-selectmenu-menu.ui-front {
    max-height: 300px;
    overflow: auto;
    z-index: 3000;
}

html, body, form, .main-display {
    height: 100%;
}

.main-display {
    display: flex;
    flex-direction: column;
}

.dynatree-node.dynatree-folder {
    min-width: 150px;
}

ul.dynatree-container .link-span a {
    color: blue;
    text-decoration: underline;
}

#PageTree ul.dynatree-container a {
    border: none;
}

ul.dynatree-container .link-span a:hover {
    background-color: white;
    border: none;
    color: orange;
}

#PageTree {
    flex: 1 1 100%;
    overflow: auto;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

    #PageTree .dynatree-container {
        padding: 0;
        border: 0;
        height: 100%;
    }

    ul.dynatree-container {
        min-height: 100%;
        height: auto;
    }

.footer {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}

.warning-message {
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 13px;
    padding: 5px;
    color: black;
}

#ButtonContainer {
    flex: 0 0 auto;
}

#ButtonContainer {
    flex: 0 0 auto;
    text-align: right;
    height: 40px;
    box-sizing: border-box;
    padding: 5px;
}

.folder-editor .lqbpopup-content-container {
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

    .form-row label {
        flex: 0 0 250px;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .form-row div {
        flex: 1 1 100%;
    }

.folder-editor-buttons {
    margin-top: 20px;
    text-align: right;
}

.folder-editor-buttons button, .landing-page-selection-buttons button{
    text-align: center;
}

#LQBPopupDiv {
    overflow: auto;
}

.page-selection-container, .landing-page-selection-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
    box-sizing: border-box;
}

    .page-selection-container .dynatree-container, .landing-page-selection-container .dynatree-container {
        box-sizing: border-box;
    }

    .page-selection-container .page-selection, .landing-page-selection-container .landing-page-selection {
        flex: 1 1 100%;
        overflow: auto;
    }

    .page-selection-container .page-selection-buttons, .landing-page-selection-container .landing-page-selection-buttons  {
        padding: 5px;
        flex: 0 0 auto;
        text-align: right;
    }

    .link-span a {
        display: inline-block;
        padding-top: 3px;
        padding-right: 5px;
    }

#InternalNameValidationImg {
    width: 20px;
    height: 20px;
    padding: 2.5px;
    margin-left: 4px;
    display: inline-block;
    box-sizing: border-box;
}

.lead-loan-status, .lead-loan-status option {
    font-size: 13px;
}