.BasePage {
  background-color: #003366;
  overflow-y: auto;
}

.PageTitle {
  position: relative;
  padding: 4px;
  font: bold 12px arial;
  color: whitesmoke;
  background-color: maroon;
  width: 100%;
}

.PageHolder {
  position: relative;
  margin: 8px;
  background-color: gainsboro;
}

.BasePanel {
  position: absolute;
  padding: 4px;
  background-color: transparent;
  font: 11px arial;
  top: 0px;
  left: 0px;
  right: 0px;
}

.navbutton {
  position: relative;
  padding: 1px;
  background-color: button;
  border: 1px outset gainsboro;
  text-align: center;
  font: 11px arial;
  width: 94px;
}

.CmdButton {
  position: relative;
  padding: 1px;
  background-color: button;
  border: 1px outset gainsboro;
  text-align: center;
  font: 11px arial;
  width: 80px;
}

.paneltitle {
  position: relative;
  padding: 2px;
  padding-left: 8px;
  margin-top: 2px;
  border: 2px solid gainsboro;
  border-right: none;
  border-bottom: none;
  border-top: none;
  font: bold 12px arial;
  width: 180px;
}

.PanelControl {
  position: relative;
  width: 100%;
}

.ControlTitle {
  padding: 4px;
  margin-bottom: 4px;
  vertical-align: center;
  font: bold 11px arial;
  color: white;
  background-color: #808080;
  position: relative;
  height: 27px;
  width: 100%;
}

.ControlTitleText {
  font: bold 11px arial;
  color: white;
  text-align: left;
}

.ControlTitleLink {
  font: 11px arial;
  text-align: center;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px ridge;
  width: 190px;
}

.Separated {
  margin-top: 4px;
}

.Bordered {
  border: 2px groove;
}

.Inlined {
  display: inline;
}

.Visible {
  display: block;
}
.Active {
  display: block;
}
.Hidden {
  display: none;
}
/* FieldLayoutUserControl */
.FieldLayoutLinkCommand {
  margin-right: 2px;
  font-weight: normal;
}

.FieldLayoutLinkCommandHilight {
  margin-right: 2px;
  font-weight: normal;
  color: tomato;
}

.FieldLayoutListItem {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  font: 11px arial;
  background-color: transparent;
  color: black;
  width: 100%;
}

div.disabledFieldLayoutListItem {
  color: gray;
}

span.DisabledConditionField {
  color: Gray;
}

.FieldLayoutMarkItem {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  font: bold 11px arial;
  background-color: #000080;
  color: white;
  width: 100%;
}
ol.OrderList {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

ol.OrderList span.Label {
  cursor: pointer;
}

/* FieldFnGridUserControl */
.FieldFnGridLinkCommand {
  margin-right: 2px;
  font-weight: normal;
}

span.Clickable {
  cursor: pointer;
  text-decoration: underline;
  color: Blue;
}

.FieldFnGridLinkCommandHilight {
  margin-right: 2px;
  font-weight: normal;
  color: tomato;
}

.FieldFnGridListItem {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  font: 11px arial;
  background-color: transparent;
  color: black;
  width: 100%;
  display: inline-flex;
}
.FieldFnGridListItem span.Label {
  width: 210px;
  *width: 200px;
}
.FieldFnGridListHeader {
  padding: 4px;
  font: bold 11px arial;
  background-color: transparent;
  color: black;
  width: 100%;
  display: inline-flex;
}

.FieldFnGridMarkItem {
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 1px;
  padding-top: 1px;
  font: bold 11px arial;
  background-color: #000080;
  color: white;
  width: 100%;
}

.FldFnGridOptCmd {
  border: 1px solid dimgray;
  height: 10px;
  width: 10px;
  background-color: whitesmoke;
  text-align: center;
  font: 0px arial;
  position: relative;
  top: 1px;
}

.FieldFnGridOptionHilight {
  border: 1px solid orange;
}

.FieldFnGridOptionChecked {
  background-color: tomato;
}

/* FieldGroupsUserControl */
.FieldGroupsLinkCommand {
  font-weight: normal;
  vertical-align: top;
  color: tomato;
  margin-right: 2px;
}

.FieldGroupsLinkCommandHilight {
  font-weight: normal;
  color: tomato;
  margin-right: 2px;
}

.FieldGroupsListItem {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 1px;
  font: 11px arial;
  width: 100%;
  color: black;
  padding-top: 1px;
  background-color: transparent;
}

.FieldGroupsMarkItem {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 1px;
  font: bold 11px arial;
  width: 100%;
  color: white;
  padding-top: 1px;
  background-color: #000080;
}

.FieldGroupsCommand {
  border: dimgray 1px solid;
  font: 0px arial;
  vertical-align: top;
  width: 10px;
  height: 10px;
  position: relative;
  top: 2px;
  background-color: whitesmoke;
  text-align: center;
  display: inline-block;
  *display: inline;
}
.FieldGroupsChecked {
  background-color: tomato;
  display: inline-block;
  *display: inline;
}
.FieldGroupsLabel {
  width: 150px;
  display: inline-block;
  *display: inline;
}

/* RelatesTreeUserControl */
.ConditionGroup {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 3px;
  background-color: lightsteelblue;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  color: black;
  font: bold 11px arial;
  min-width: 380px;
  display: inline-block;
  *display: inline; /* use for IE in compatibility mode */
}
.conditionbuttons {
  width: 100%;
  background-color: white;
  border: 1px groove;
  display: inline-block;
  *display: inline; /* use for IE in compatibility mode */
}

.ConditionItem {
  margin-top: 1px;
  margin-bottom: 3px;
  padding: 3px;
  background-color: whitesmoke;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  color: black;
  font: 11px arial;
  min-width: 180px;
  display: inline-block;
  *display: inline; /* use for IE in compatibility mode */
}

.CGroupingSpec {
  margin: 4px;
  padding: 8px;
  text-align: center;
  color: black;
  border: 1px solid gainsboro;
  font: 11px arial;
  background-color: transparent;
  cursor: hand;
  height: 24px;
  display: inline-block;
  *display: inline; /* use for IE in compatibility mode */
}

.ConditionSpec {
  margin: 4px;
  padding: 9px;
  text-align: center;
  color: tomato;
  border: 1px solid gainsboro;
  font: 11px arial;
  background-color: transparent;
  cursor: hand;
  display: inline-block;
  *display: inline /* use for IE in compatibility mode */;
  *height: 24px; /* use for IE in compatibility mode */
}

.ConditionSpecFocused {
  margin: 4px;
  padding: 8px;
  text-align: center;
  color: white;
  border: 1px solid gainsboro;
  font: bold 11px arial;
  background-color: #000080;
  cursor: default;
  display: inline-block;
  *display: inline; /* use for IE in compatibility mode */
  *height: 24px; /* use for IE in compatibility mode */
}

.ButtonCommand {
  cursor: hand;
  font: 11px arial;
  color: black;
  background-color: buttonface;
  border: 1px outset;
  padding: 1px;
  text-align: center;
}

.ButtonCommit {
  cursor: hand;
  font: 11px arial;
  color: black;
  background-color: buttonface;
  border: 1px outset;
  padding: 1px;
  text-align: center;
}
/* FilteredRangeUserControl */
.FilterRangeLabel {
  font: bold 11px arial;
}

.FilterEventItemSelected {
  padding-right: 1px;
  padding-left: 5px;
  padding-bottom: 1px;
  font: bold 11px arial;
  width: 100%;
  color: white;
  padding-top: 1px;
  background-color: #000068;
}

.FilterEventItemInactive {
  padding-right: 1px;
  padding-left: 5px;
  padding-bottom: 1px;
  font: 11px arial;
  width: 100%;
  color: black;
  padding-top: 1px;
  background-color: transparent;
}

/* SearchListUserControl */
.SearchListSeparator {
  padding: 1px;
}

.SearchListHeader {
  padding: 4px;
  padding-left: 4px;
  margin-bottom: 0px;
  margin-right: 12px;
  margin-top: 1px;
  border: none;
  font: bold 11px arial;
  color: black;
  display: block;
  width: 100%;
}

.SearchListItem {
  padding: 1px;
  padding-left: 4px;
  margin-bottom: 1px;
  margin-top: 1px;
  font: 11px arial;
  color: black;
  background-color: transparent;
  text-align: left;
  display: block;
  width: 100%;
}

div.disabledSearchlistitem {
  color: gray;
}

.SearchListGrayed {
  padding: 1px;
  padding-left: 4px;
  margin-bottom: 1px;
  margin-top: 1px;
  font: 11px arial;
  color: gray;
  background-color: transparent;
  text-align: left;
  display: block;
  width: 100%;
}

.SearchListHidden {
  padding: 1px;
  padding-left: 4px;
  margin-bottom: 1px;
  margin-top: 1px;
  font: 11px arial;
  color: black;
  background-color: transparent;
  text-align: left;
  display: none;
  width: 100%;
}

.SearchListPicked {
  padding: 1px;
  padding-left: 4px;
  padding-right: 12px;
  margin-bottom: 1px;
  margin-top: 1px;
  margin-right: 12px;
  text-align: left;
  font: bold 11px arial;
  background-color: #000080;
  color: white;
  cursor: hand;
  width: 100%;
}

.SearchListLabel {
  width: 100%;
  cursor: hand;
}

.SearchListDescription {
  font: 9px arial;
  padding: 8px;
  width: 100%;
}

.SearchListLinkCommand {
  margin-right: 2px;
  font-weight: normal;
}
div.disabledSearchlistitem a.SearchListLinkCommand {
  color: gray;
}

.SearchListLinkCommandHilight {
  margin-right: 2px;
  font-weight: normal;
  color: tomato;
}

/* FieldSorterUserControl */
.FieldSorterLinkCommand {
  font-weight: normal;
  vertical-align: top;
  margin-right: 2px;
}

.FieldSorterLinkCommandHilight {
  font-weight: normal;
  color: tomato;
  margin-right: 2px;
}

.FieldSorterListItem {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 1px;
  font: 11px arial;
  width: 100%;
  color: black;
  padding-top: 1px;
  background-color: transparent;
}

.FieldSorterMarkItem {
  padding-right: 4px;
  padding-left: 4px;
  padding-bottom: 1px;
  font: bold 11px arial;
  width: 100%;
  color: white;
  padding-top: 1px;
  background-color: #000080;
}

.FieldSorterCommand {
  border: dimgray 1px solid;
  font: 0px arial;
  vertical-align: top;
  width: 10px;
  position: relative;
  top: 2px;
  height: 10px;
  background-color: whitesmoke;
  background: whitesmoke;
  text-align: center;
  display: inline-block;
  *display: inline;
}

.FieldSorterChecked {
  background-color: tomato;
  display: inline-block;
  *display: inline;
}

.FieldSorterLabel {
  width: 150px;
  display: inline-block;
  *display: inline;
}

/* Custom */
.TxtCenter30 {
  width: 30px;
  text-align: center;
  vertical-align: top;
}
.TxtCenter36 {
  width: 36px;
  text-align: center;
  vertical-align: top;
}
/* End Custom */

div[nowrap], span[nowrap] {
    white-space: nowrap;
}
