﻿#DisclosuresPipeline .Action {
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

/* :hover pseudoclass only available on links in older browsers... */
#DisclosuresPipeline .Action span:hover, #DisclosuresPipeline .Action li:hover {
    color: Orange;
    text-decoration: none;
}

#DisclosuresPipeline table .header {
    border: none;
}

#DisclosuresPipeline tr.Opened td {
    font-weight: bold;
}

#DisclosuresPipeline tr.Opened td ul.Context li {
    font-weight: normal;
}

#DisclosuresPipeline ul.Context {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    list-style-type: none;
}

#DisclosuresPipeline .Context {
    display: none;
}

#DisclosuresPipeline .Due, #DisclosuresPipeline .Failed  {
    color: Red;
}

#DisclosuresPipeline .heading  {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 5px;
}

#DisclosuresPipeline a.ViewAutoDisclosureDetails {
    display: inline-block;
    padding-left: 2px;
}

#DisclosuresPipeline {
    color: Black;
}