﻿.drop-zone {
    min-width: 370px;
    max-width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: #b9b1b1;
    box-sizing: border-box;
    width: 100%;
    height: 192px;
}

.drop-zone-active {
    background-color: #FFF;
}

.drop-zone-active * {
    pointer-events: none;
}

.drop-zone .file-description-container {
    padding-bottom: 5px;
    margin-right: 17px;
    white-space: nowrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.drop-zone .file-description-container:hover {
    background-color: lightgrey;
}

.drop-zone button {
    font-size: 11px;
}

.drop-zone input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden; 
    position: absolute;
    z-index: -1;
}

.drop-zone .explanation {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    -ms-flex: 1 0 150px;
    flex: 1 0 150px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.drop-zone .file-list {
    overflow-y: auto;
    max-height: 100%;
    -ms-flex: 1 0 220px;
    display: flex;
    flex: 1 1 220px;
    flex-direction: column;
    flex-wrap: wrap;
}

.drop-zone .file-list .label {
    vertical-align: middle;
    font-weight: bold; 
    min-width: 150px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 20px);
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    color: #000;
    text-align: left;
}

.drop-zone .file-list .remove-file {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-flex: 0 0  auto;
    flex: 0 0 auto;
}

.drop-zone-compact-pml .file-list {
    flex-basis: 110px;
    font-size: 11px;
    font-weight: bold;
    overflow-x: hidden;
}

.drop-zone .cloud-icon {
    width: 48px;
    height: 48px;
    display: inline;
}

.drop-zone .drop-icon {
    display: none;
}

.drop-zone-active .cloud-icon {
    display: none;
}

.drop-zone-active .drop-icon {
    width: 48px;
    height: 48px;
    display: inline;
}

.drop-zone .manual-upload {
    cursor: pointer;
    color: blue;
}

.drop-zone .child-container {
    border: 2px dashed black;
    padding-top: 5px; 
    padding-bottom: 5px; 
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: calc(100% - 15px);
}

.drop-zone-pml .child-container {
    height: 100%;
}

.drop-zone .total-files-container {
    color: #ae2a2a;
    font-weight: 600;
}

.drop-zone .select-button {
    margin: 5px 0;
}

.drop-zone .blocked-reason {
    display: inline-block;
    text-align: left;
}

.drag-drop-additional-info-table {
    border-collapse: collapse;
}

.drag-drop-additional-info-table th, .drag-drop-additional-info-table tr, .drag-drop-additional-info-table td {
    padding: 5px;
}

.drag-drop-additional-info-table .max-width-cell {
    max-width: 300px;
    word-wrap: break-word;
}

.drop-zone-compact .select-button {
    vertical-align: top;
    margin-left: 5px;
}

.drop-zone-compact .cloud-icon {
    width: 24px;
    height: 24px;
}

.drop-zone-compact.drop-zone-active .drop-icon {
    width: 24px;
    height: 24px;
}

.drop-zone-compact {
    height: auto;
}

.drop-zone-compact .explanation {
    font-size: 11px;
    text-align: left;
    padding: 2px 0 2px;
}

.drop-zone-compact-pml .explanation .drag-drop-explanation-pml {
    padding-left: 5px;
}

.drop-zone-compact .child-container {
    padding: 0 0 0 5px;
}

.dark-red-text {
    color: #ae2a2a;
}

.v-align-middle {
    vertical-align: middle;
}