﻿.dropdown-checkbox {
    position: relative;
    border-radius: 2px;
}

    .dropdown-checkbox .options-container {
        max-height: 250px;
        position: absolute;
        z-index: 99;
        display: none;
        overflow: auto;
        border: 1px solid black;
        background-color: white;
        width: 99%;
    }

.selected-options {
    padding: 3px;
    font-size: 13px;
    width: 100%;
}

.options-container label {
    display: block;
    font-weight: normal;
    user-select: none;
    margin-bottom: 0;
    padding: 3px;
}

    .options-container label:hover, .options-container label.selected {
        color: white;
        background-color: #428bca;
    }
