﻿#tbPageLabel
{
    width: 60px;
    text-align: center;
}
html, body
{
    height: 100%;
    overflow: hidden;
}
.placeholder
{
    margin: -2px -1px -2px -1px;
    border: solid 2px maroon;
}
button
{
    margin-left: 2px;
    margin-right: 2px;
}

button.op_button
{
    height: 70px;
    width: 60px;
}

button.op_button_wide_2
{
    width: 90px;
}

button.op_button_wide_3
{
    width: 120px;
}

button.op_button_short
{
    height: 20px;
}

.Modify img.standard_img
{
    width: 20px;
    height: 20px;
}

.Modify button div
{
    display: inline-block;
    vertical-align: 5px;
}

.Modify button
{
    cursor: pointer;
    height: 30px;
    padding-bottom: 0px;
    width: 115px;
}

.Modify #btnPrint, .Modify #btnSave
{
    width: 70px;
}

.Modify #btnExtractPages
{
    width: 100px;
}

.Modify #btnDeletePages, #btnBatchRotate
{
    width: 125px;
}

#btnCreateEditableCopy {
    width: 150px;
    padding-top: 6px;
}

#AllTabFunctionality.Modify
{
    display: none;
}

button img.standard_img
{
    width: 30px;
    height: 30px;
}
.paste-img
{
    width: 20px;
}

.note-img
{
    height: 58px;
    margin-bottom: -3px;
}
h1
{
    margin: 0;
}

.right_hr_border
{
    border-right: 2px inset gray;
}

#AllTabFunctionality2
{
    float: right;
    display: block;
}

#AllTabFunctionality
{
    position: absolute;
    bottom: 0;
    right: 5px;
}

#NumSelectedPages
{
    display: inline;
    font-weight: bold;
    position: absolute;
    bottom: 12px;
    right: 0px;
}

ul.fields
{
    margin: 0;
    margin-top: .9em;
    padding: 0;
    list-style-type: none;
    float: left;
    margin-right: 5px;
}
ul.fields li
{
    clear: both;
    padding-bottom: 8px;
    margin-bottom: 5px;
    width: 335px;
}

ul.fields.right li
{
    width: 286px;
}

ul.fields li label
{
    display: block;
    float: left;
    margin-right: 5px;
}

ul.fields.left li label
{
    width: 120px;
}

ul.fields li input, ul.fields li select
{
    display: block;
    float: right;
}

ul.fields li select
{
    margin-right: 5px;
}

#EditConditionAssociations
{
    position: relative;
    right: 47px;
}

#Header
{
    clear: both;
}

#tabs
{
    min-width: 930px;
}

#AllTabSaveFunctionality
{
    float: left;
    clear: none;
}

#ViewDocumentInfo, #ViewInternalNotes, #ModifyPageLayout
{
    padding-top: 0 !important;
}

#ModifyPageLayout.Modify
{
    vertical-align: bottom;
    position: relative;
    right: 10px;
    height: 35px;
    float: left;
}

#ModifyPageLayout.Modify
{
    width: 950px;
    overflow: hidden;
}

.clear
{
    clear: both;
}
.button_container
{
}

.tableCellHeight
{
    height: 80px;
    vertical-align: bottom;
}

.Modify .tableCellHeight
{
    height: auto;
}

table td
{
    font-weight: bold;
}


.Hidden
{
    display: none;
}

.pdf-field-note
{
}

.pdf-field-note-style
{
    padding: 0;
    background-color: #FFFFA8;
    border: 1px solid black;
}

.pdf-field-note textarea
{
    display: block;
    margin: 0 auto;
    clear: both;
    margin-left: 5px;
}



.pdf-field-note .minimize-note
{
    float: right;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    display: block;
    margin-right: 10px;
    margin-top: 3px;
    padding: 0px;
}

.pdf-field-note .maximize-item, .pdf-field-note .minimize-item
{
    width: 100%;
    height: 100%;
}

.maximize-item span
{
    display: block;
    float: left;
    margin-top: 2px;
    margin-left: 5px;
}


.pdf-field-note .maximize-note
{
    margin: 5px;
    display: block;
    width: 25px;
    height: 25px;
    padding: 0px;
}
.maximize-note image, .minimize-note image
{
    margin: 0 auto;
}
.highlight-field
{
    background-color: Yellow;
    width: 120px;
    height: 20px;
    border: 1px solid black;
}

.pdf-field-thumbnail img
{
    width: 100%;
    height: 100%;
}

#ViewInternalNotes, #ViewDocumentInfo
{
    height: 115px;
}
/*
div.MaskedDiv
{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 900;
    width: 100%;
    filter: alpha(opacity=1);
    background-color: Red;
}*/

div.StatusPanel
{
    border: solid 2px black;
    background-color: yellow;
    padding: 15px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    z-index: 999;
    width: 180px;
    height: 25px;
    left: 30px;
    top: 30px;
}
div.StatusPanel div
{
    font-weight: bold;
    font-size: 16px;
}

div.DragAndDropContainer
{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin-right: 5px; 
    /* ie7 hack */ 
    *display:inline;
    zoom:1
}

#editor
{
    float: left;
}

#content
{
    clear:both;
}
