﻿#NavLegend {
    width: 55%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.bold {
    font-weight: bold;
}

div.row {
    margin-bottom: 12px;
}

div.row:not(.no-left-padding) > div:nth-child(odd):not(.no-left-padding) {
    padding-left: 35px;
}

div.extra-bottom-margin {
    margin-bottom: 18px;
}

span.bold {
    font-weight: bold;
}

input[type='text'] {
    width: 75px;
    line-height: 2px;
    margin-left: 15px;
}

#ThemeName {
    width: 84%;
    margin-left: 10px;
}

#QuickPreviewFrame {
    border: 0;
    width: 885px;
    height: 765px;
}
