body {
	background-color: gainsboro;
}

.Center {
	text-align: center;
}

.BottomMargin {
	margin-bottom: 20px;
}

.BookingInfoSpacer {
	padding-right: 15px;
}

.Indent {
	margin-left: 15px;
}

.Left {
	float: left;
}

.Right {
	float: right;
}

.Clear {
	clear: both;
}

.tooltip {
	position: absolute;
	z-index: 1070;
	display: block;
	font-weight: 400;
	line-break: auto;
	line-height: 1.42857;
	text-align: left;
	text-align: start;
	font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
	opacity: 0;
	filter: alpha(opacity=0);
}

.tooltip.in {
	opacity: .9;
	filter: alpha(opacity=90);
}

.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}

.tooltip-inner {
    max-width: 50%;
	padding: 3px 8px;
	color: #fff;
	text-align: center;
	background-color: #000;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #000;
}

fieldset.ExportFieldset 
{
	font-weight: bold;
	border-color: black;
	width: 690px;
}

table.FullWidth {
	width: 100%;
}

table.ExtraLeftPadding {
	padding-left: 12px;
}

label.Spacer {
	margin: 0px 190px;
}

img.ExportErrorImage {
	padding-left: 2px;
	vertical-align: middle;
}

button.accordion {
	background-color: #003366;
	color: white;
	cursor: pointer;
	padding: 5px 5px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

button.accordion:hover {
	background-color: #eee;
	color: black;
}

div.panel {
	padding: 0 18px;
	display: none;
}

div.panel.show {
	padding: 0 18px;
	display: block;
}

#LoadButton:active, #SubmitButton:active
{
	background-color: transparent;
}

#ErrorMessage
{
	color: red; 
	font-weight: bold;
}

#HeaderTable {
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	width: 100%;
}

#ExistingLoanIds {
	min-width: 175px;
}

#ExportDataDiv {
	width: 50%;
	padding-left: 15px;
	margin-bottom: 20px;
}