﻿.FavIcon
{
    color: #cccccc;
    font-size: 12px;
    visibility:hidden;
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    line-height: 100%;
}
.FavIcon:hover
{
    cursor: pointer;
}
.ActiveFav
{
    color: #ffff00;
    visibility: visible;
}

.PageContainer:hover .FavIcon
{
    visibility: visible;
}

.GripIcon
{
    font-size: 13px;
    display: inline-block;
    width: 10px;
    text-align: center;
}
.GripIcon:hover
{
    color: #ffa500;
    cursor: default;
}
.FavHighlightBorderTop
{
    border-top: solid 1px yellow;
}
.FavHighlightBorderBottom
{
    border-bottom: solid 1px yellow;
}
