﻿     body
      {
          background-color: #DCDCDC;
      }
      .modal-background
      {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.5);
          padding: 0.5em;
          text-align: center;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      .modal-outer
      {
          position: relative;
          width: 100%;
          height: 100%;
      }
      .modal
      {
          position: relative;
          background-color: white;
          padding: 2em;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
          margin: 0 auto;
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          overflow-y: auto;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
      }
      .modal-button
      {
          text-align: center;
          background-color: rgb(70,70,180);
          color: white;
          padding: 0.5em 1em;
          display: inline-block;
          cursor: pointer;
      }
      .modal ul li
      {
          text-align: left;
      }
      .modal input[type='text']:not([preset])
      {
          width:40px;
      }
      .DDLImg, .ComboboxImg
      {
          width: 18px;
          height: 18px;
          top: 6px;
      }
      dev.MainRightHeader
      {
          padding: 10px;
      }
      table.GfeTable
      {
          margin-top: 10px;
      }
      .OptionsList
      {
          list-style-type: none;
          display: none;
          background-color: white;
          border-style: solid;
          border-width: 1px;
          z-index: 1;
          max-height: 300px;
          overflow-y: auto;
          padding: 0px;
          margin: 0px;
          margin: 0 auto;
          text-align: left;
          position: relative;
      }
    .RactiveDDLContainer
            {
                overflow:visible;
                height:13px;
                display:inline-block;
            }
      .SectionDiv
      {
          width: 900px;
          
          border: solid 1px;
          margin: 5px;
          padding: 6px;
          white-space:nowrap;
      }
      .SectionDiv div.FormTableSubheader
      {
          padding: 3px;
      }
      input[preset='money']
      {
          width: 90px;
      }
      input[preset='percent']
      {
          width: 70px;
      }
      select[disabled=""]
      {
          background-color: white;
      }
      .DateUnitInput
      {
          width: 38px;
          text-align:left !important;
      }
      .TimeInput
      {
          width: 25px;
      }
      .PaidBySplitDDL
      {
          width:35px;
      }
      
      .PayableDDL
      {
          width:85px;
      }
      .SectionDiv td
      {
          padding: 3px;
      }
      .invalid, .dupe {
        border: solid 3px red;
      }
      #wrapper {
	            _width: 100%;
	            _height: 100%;
	            _overflow: auto;
	            _position: relative;
            }
            
		    #footerWrapper 
		    {
		        position: fixed;
		        left: 0px;
		        bottom: 0px;
		        width: 100%;
		        
	            _position: absolute; /* Overrides position attribute in quirks mode */
            }
            
            #footer {
	            _margin-right: 17px; /* for right scroll bar in quirks mode */
	            
	            /**
	            /* Following properties needed to keep mouse clicks from falling through to underlying divs.
	            /* Placed at #footer level instead of #footerWrapper so that user can still click on #wrapper's scrollbar
	            **/
	            background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7); /* background image set to 1x1 transparent GIF. */
	            width: 100%; /* needs to be set to 100%, or #footer width will match width of active tab */
            }
            
                .tabContent {
        background-color: gainsboro;
        padding: 10px;
    }
    
    #Tabs {
        background-color: Transparent;
    }
    
    #closeIcon{
        padding: 10px;
        float:right;
    }
    
    #closeIcon a,
    #closeIcon a:hover
    {
        font-size:15px;
        color: Gray;
        text-decoration: none;
    }
    
    #dialog-confirm
    {
        text-align: center;
    }
    
    .ContactImg
    {
        vertical-align:middle;
        margin-left:3px;
    }
    .ContactImg:hover
    {
        cursor:pointer;
    }
    .Hidden
    {
        display:none;
    }
    .Disabled
    {
        background-color:lightgrey !important;
        color: black;
    }
    
    .GfeTable tbody td, .RactiveDDL, .DDLImg, .ContactImg
    {
        vertical-align:top !important;
    }
    
    .BelowHeader{margin-top:3px !important;}
    #CheckboxDiv .FormTableHeader{ padding: 3px; margin: -6px -6px 0px -6px;}
    .money
    {
        text-align:right;
    }