﻿body {
    background-color: gainsboro;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input[type=checkbox] {
    vertical-align: middle;
}

label.vertical-align-label {
    vertical-align: middle;
}

#DataTable {
    width: 65%;
}

#DataTable tr td:first-child {
    padding-left: 10px;
}

#sLegalEntityIdentifier {
    width: 200px;
}

#sUniversalLoanIdentifier {
    width: 325px;
}

#sHmdaActionTaken {
    width: 230px;
}

.credit-model-name-other-description { 
    width: 180px; 
    max-width: 180px; 
}
