﻿
input.mdc-button, button.mdc-button {
    font-weight: bold;
    margin: 8px 0;
}
input.mdc-button:hover, button.mdc-button:hover {
    background-color: rgba(128, 0, 0, .12);
}
input.mdc-button:focus, button.mdc-button:focus {
    background-color: rgba(128, 0, 0, .25);
}
input.mdc-button:active, button.mdc-button:active {
    background-color: rgba(128, 0, 0, .4);
}
input:not(:disabled).mdc-button, button:not(:disabled).mdc-button {
    color: maroon;
}
input:not(:disabled).mdc-button--stroked {
    border-color: maroon;
}
div.mdc-button .mdc-checkbox__background::before {
    background-color: maroon;
}
div.mdc-button::before, div.mdc-button::after {
    background-color: maroon;
}
input:not(:disabled).mdc-button--raised {
    background-color: #CCCCCC;
}

span.material-icons {
    font-size: 36px;
}
body {
    background-color: gainsboro;
}
.Accounts {
    width: 100%;
    top: 22px;
    bottom: 152px;
    left: 0px;
    right: 0px;
    position: absolute;
    overflow-y: auto;
}
.AccountInfo {
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.AccountBox-ToBeRemoved > div{
    background-color: gainsboro;
    text-decoration: line-through;
    text-decoration: line-through wavy darkred;
}
.AccountBox-ToBeRemoved > div:hover{
    background-color: gainsboro;
    text-decoration: none;
}
.AccountBox-Normal {
    background-color: white;
}
.AccountBox {
    width: 80%;
    min-width: 450px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    line-height: 22px;
    -ms-user-select: none;
}
.AccountDescription {
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    flex: 2 0 200px;
    -ms-user-select: element;
}
.AccountLabel-AccountType {
    font-weight: normal;
    font-style: italic;
}
.AccountValueContainer {
    font-weight: normal;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    flex-grow: 1;
    flex: 1 0 auto;
    -ms-user-select: element;
}
.AccountValue-Positive {
    color: green;
}
.AccountValue-Neutral {
    color: black;
}
.AccountValue-Negative {
    color: red;
}
.AccountValue-Used {
    font-weight: bold;
}
.AccountStatusMark {
    display: flex;
    align-items: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
div.AccountStatusMark {
    text-decoration: none;
}
.UpdatedAccountIcon {
    color: green;
    flex: 0 0 auto;
}
.RemoveAccountIcon {
    color: red;
    flex: 0 0 auto;
    cursor: pointer;
}
.RemoveAccountIcon:hover {
    color: darkred;
}
.KeepAccountIcon {
    color: #505050;
    flex: 0 0 auto;
    cursor: pointer;
}
.KeepAccountIcon:hover {
    color: darkred;
}
.StaticBottomSection {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
}
.Summary {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.indented {
    margin-left: 20px;
}
.SummaryContainer {
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    flex: 1 0 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.SummaryContainer > div {
    width: 50%;
    min-width: 200px;
}
.BorrowerValueSummary {
    display: flex;
    justify-content: space-between;
}
.Confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 16px;
    text-align: center;
}
.ConfirmationButtons {
    margin-top: 10px;
    width: 50%;
    min-width: 340px;
    display: flex;
    justify-content: space-around;
}