﻿.AuditTable {
    WIDTH: 100%;
    BORDER-COLLAPSE : collapse
}

.AuditTableHeader {
    PADDING-RIGHT : 5px;
    PADDING-LEFT : 5px;
    FONT-WEIGHT : bold;
    FONT-SIZE : 11px;
    PADDING-BOTTOM : 5px;
    COLOR: white;
    PADDING-TOP : 5px;
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR : #999999
}

.AuditAlternatingItem, .audit-item:nth-child(odd) {
    PADDING-RIGHT : 5px;
    PADDING-LEFT : 5px;
    FONT-SIZE : 11px;
    PADDING-BOTTOM : 5px;
    COLOR: black;
    PADDING-TOP : 5px;
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR : #cccccc
}

.AuditItem, .audit-item:nth-child(even) {
    PADDING-RIGHT : 5px;
    PADDING-LEFT : 5px;
    FONT-SIZE : 11px;
    PADDING-BOTTOM : 5px;
    COLOR: black;
    PADDING-TOP : 5px;
    FONT-FAMILY : Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR : white
}
