﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;

}
body {
	
    padding: 10px;
    background-color: #EEEEEE;
    overflow-x:hidden;
    font-size: 10pt;
    font-family: arial,sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.Modal {
    z-index: 900;
    display: none;
    padding: 5px;
    border: black 3px solid;
    position: absolute;
    background-color: #f5f5f5;
    top: 300px;
    left: 160px; 
}
h2,h3, h4 {
    color: White;
    background-color: #003366;
    font-family: Verdana,Helvetica,sans-serif;
    padding: 5px 0px 5px 10px;
    width: 98%;
    display: block;
    margin-bottom: 15px;
}

h2 {
    font-size: 20pt;
}
h3 {
    font-size: 16pt;
}
h4 {
    font-size: 14pt;
}
p {
    clear: both;
    float: none;
    width: 100%;
    padding-bottom: 8px;

}

.BlockHeader {
    float: left;
    width: 160px;
    color: #40668C;
    font-weight: bold;
    display: block;
}


.Block  {
    display:block;
 
}
.Count {
    width: 30px !important;
}

input[type='text']
{
    height: 15px;
    font-size: 9pt;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
}
td {
    border-width: 1px;
    border-style: solid;
    border-color: #DCDCDC;
}

.GridHeader {
    background-color: #40668C !important;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}
.GridAlternatingItem {
    background-color: #C6D2DD !important;
}

.GridItem, .GridAlternatingItem {
    color: #000;
    background-color: #fff;
    font-family: Arial,Helvetica,sans-serif;
}
.LeftMargin {
    margin-left: 20px;   
}
.SmallNote {
    font-size: 8pt;
    width: 300px;
    overflow: visible;
}

.BottomPadding1 {
    padding-bottom: 15px;
}

.BottomPadding2 {
    padding-bottom: 10px;
}

.MarginBottom1 {
    margin-bottom: 15px;
}
.MarginBottom2 {
    margin-bottom: 20px;
}

.Bold { font-weight:bold;}

ul.form 
{
    margin: 10px 0 0 2em;
}
ul.form li 
{
    padding-bottom: 10px;
    font-size: 9pt;
}
ul.form li input, ul.form li select, ul.form li label {
    float: left;

}
ul.form li label 
{
    width: 150px;
}

div.navbtn 
{
    clear: both;
}

div.navbtn input 
{
    float: right;
    margin-left: 10px;
    width: 60px;
    
}
        
img { vertical-align: text-top !important; }

.Hidden { display: none; }

.Notice {
    background-color: #FFFF66;
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    font-weight:bold;
    padding: 10px;
    
    margin-bottom: 10px;
}        



ul.form li span.errorMsg
{
    color:Red;
    font-weight:bold;
    padding-left:3px;
    display:none;
    float:left;
    width:auto;
    display:block;

}

ul.form li .Required
{
    margin-top: 2px;
}
a:hover { color: Orange; }