﻿.MaxDiscountPointsPopup {
    z-index: 99999;
}

.ui-dialog .ui-dialog-buttonpane button {
    padding: 0;
    outline: none;
    border: 0;
}

.MaxDiscountPointsPopup .ui-dialog-titlebar {
    background-color: #800000;
}

.MaxDiscountPointsPopup table {
    width: 100%;
}

.MaxDiscountPointsPopup td {
    padding-bottom: 10px;
}

.MaxDiscountPointsPopup .center {
    text-align: center;
}

.MaxDiscountPointsPopup td:nth-child(2) input {
    float: right;
}

div.max-discount-points-popup {
    display: none;
}

.ui-dialog .ui-dialog-titlebar-close
{
    display: none;
}

.ui-widget-overlay {
    /* 
        Force the modal overlay to take up the entire height of the screen, as some pages
        may have styling that causes the overlay to only take up the visible part.
    */
    position: fixed !important; 
}
