.mask 
{
	filter: Alpha(Opacity=40);
    width: 100%; height: 100%; background-color: #999999;
    position: absolute;
    z-index: 500;
    top: 0px; left: 0px;
    display: none;
}

.modalCotainer 
{
	position: absolute;
    width: 300px;
    left: 50%;
    top: 50%;
    z-index: 750;
    display: none;
}

.modal
{
	background-color: white;
    border: solid 1px black; position: relative;
    top: -150px;
    left: -150px;
    z-index: 1000;
    width: 300px;
    height: 300px;
    padding: 0px;
}

.modalTop 
{
	width: 293px;
    background-color: #000099;
    padding: 4px;
    color: #ffffff;
    text-align: right;
}

.modalTop a, .modalTop a:visited
{
    color: #ffffff;
}


.modalBody
{
    padding: 10px;
}
