﻿@import url("MortgagePoolTable.css");

tr.Opened td
{
    font-weight: bold;
}

tr.Opened td ul.Context li
{
    font-weight: normal;
}

ul.Context
{
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    list-style-type: none;
}

.Context
{
    display: none;
}

.LoanSelectionCol
{
    display: none;
}

tr.Selected.GridItem
{
    background-color: #DDDDFF;
}
tr.Selected.GridAlternatingItem
{
    background-color: #BBBBDD;
}
#Pagination
{
    float: right;
    padding-right: 5px;
}
