﻿table th, table td
{
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

table th, table td
{
    border-right: solid 1px black;
}

table
{
    width: 100%;
    background-color: Black;
    border: solid 1px black;
    border-right: none;
}

table th
{
    background-color: #999999;
}