﻿@import url("stylesheetnew.css");
@import url("stylesheet.css");

.hidden
{
    display: none;
}

select
{
    width: 125px;
}

td.action, span.action
{
    cursor: pointer;
    color: Blue;
    text-decoration: underline;
}

td.action:hover, span.action:hover
{
    color: Orange;
    text-decoration: none;
}

.clear
{
    clear: both;
}

div.column
{
    float: left;
    margin-right: 50px;
}

.stack-labels label
{
    display: block;
    height: 25px;
}

.stack-labels label.hidden
{
    display: none;
}

.stack-labels label span
{
    display: inline-block;
    width: 100px;
}

div.outlined
{
    border: solid 1px black;
    padding: 5px;
    padding-top: 10px;
    margin-bottom: 15px;
}

body
{
    background-color: White;
    font-size: 12px;
}
#MasterPageContent
{
    position:relative;
}

#MasterPageMain
{
    padding-left: 2px;
    overflow: hidden;
}
#MasterPageLeftCol
{
    float: left;
    width: 120px;
    overflow: hidden;
    position: absolute;
    left: 1px;
    height: 100%;
}
#MasterPageLeftCol.Stack
{
    float: none;
    width: 100%;
    top:1px;
    left:-1px;
    height: auto;
    clear: both;
}

#MasterPageLeftCol ul
{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 20px;
}

#MasterPageLeftCol.Stack ul
{
    top: 0px;
}
#MasterPageLeftCol ul li
{
    background-color: #cccccc;
    padding-left: 2px;
    padding-right: 2px;
    border: 1px solid black;
    margin: 1px 0px 1px 0px;
    cursor: pointer;
}

#MasterPageLeftCol.Stack ul li
{
    float: left;
    margin: 1px 1px 0px 1px;
}

#MasterPageLeftCol ul li.selected
{
    background-color: White;
    border-right: 1px solid white;
}

#MasterPageLeftCol ul li.loading, #MasterPageLeftCol ul li:hover.loading
{
    background-color: Gray;
}

#MasterPageLeftCol.Stack ul li.selected
{
    border-right: 1px solid black;
    border-bottom: 1px solid white;
}

#MasterPageLeftCol ul li:hover
{
    background-color: White;
}

#MasterPageRightCol
{
    margin-left: 120px;
    border: 1px solid black;
    min-height: 120px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#MasterPageRightCol.Stack
{
    margin-left: 0px;
}

#MasterPageLinks li a
{
    color: Black;
    text-decoration: none;
    padding-right: 3px;
}

#MasterPageTopHeader
{
    width: 100%;
    height: 50px;
    background-color: Green;
    margin-bottom: 1px;
    padding-top: 5px;
    padding-left: 5px;
    overflow: hidden;
    color: White;
}

#MasterPageMain.popup #MasterPageTopHeader
{
    height: auto;
    padding-bottom: 5px;
}

#MasterPagePopupContent
{
    padding-left: 10px;
    padding-top: 10px;
}

#MasterPageTopHeader.Stack
{
    height: 65px;
}

#MasterPageTopHeader div
{
    float: left;
    font-weight: bold;
    margin-right: 20px;
    margin-bottom: 5px;
}

#MasterPageTopHeader div label
{
    color: Yellow;
}

#MasterPageTopHeader div.LQB 
{
    width: 11em;
}

#MasterPageTopHeader div.LQB span
{
    display: inline;
    position: relative;
    bottom: 5px;
    font-family: sans-serif;
    font-size: medium
}

#MasterPageSummary label, #MasterPageSummary span
{
    display: block;
}

.Action 
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

.Action span:hover, .Action li:hover
{
    color: Orange;
    text-decoration: none;
}

.OverflowY
{
    overflow-y: scroll;
}

.OverflowX
{
    overflow-x: scroll;
}

span.validation, .stack-labels label span.validation
{
    display: none;
    color: Red;
}

body
{
    /*background-color: gainsboro; -- looks kinda gross w/ green*/
}