div.pdf-field-content-text-container
{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}
div.pdf-field-content-text 
{
    font-size: 11px;
    font-style: italic;
    font-family: Arial;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 0;
}
.pdf-page-panel
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 100%;
}
.pdf-page-number
{
    font-weight: bold;
    float: left;
    padding-left: 0px;
    padding-right: 0px;
    text-align: right;
    margin: 0px;
    display: block;
    width: 20px;
    position: relative;
    left: 1px;
}

.pdf-page
{
    border: solid 1px black;
    margin-left: 25px; /* 5/19/2010 dd - Changing this number could cause page number alignment to display incorrectly on Firefox */
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
}

.pdf-page-selected
{
    border: solid 4px blue;
    margin-left: 22px;
    margin-right: 2px;
    margin-top: 5px;
    margin-bottom: 2px;
}

#PdfEditorFullPanel li.pdf-page-parent
{
    padding-right: 50px;
}

.page
{
    width: 100%;
    height: 100%;
}

li.pdf-page-parent, .placeholder
{
    margin-bottom: 15px;
}

.ui-selectable-helper
{
    border: 2px dashed black;
    z-index: 9000000;
    position: fixed;
}

.ui-state-disabled
{
    z-index: 900;
}

#PdfEditorFullPanel.ui-selectable-disabled
{
    opacity: 1;
    filter: Alpha(Opacity=100);
}

.pdf-page-overlay
{
    position: absolute;
    word-wrap: break-word;
    height: 20%;
    background-color: yellow;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 9px;
}

.PdfEditorPanel
{
    list-style-type: none;
    position: relative;
    float: left;
    padding: 0px;
}

.PanelStyle
{
    margin: 5px;
}

.PanelStyle, .PdfEditorPanel
{
    border: solid 1px black;
    overflow: auto;
    background-color: gray;
}

/* Thumb full screen (page layout) specific stuff */
#PdfEditorFullPanel.ThumbFullScreen
{
    display: none;
}

#PdfEditorThumbPanel.ThumbFullScreen
{
    width: 99%;
    float: none;
    /*These should stop the text from being selected in everything but IE < 10*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px;
}

#PdfEditorThumbPanel.ThumbFullScreen li
{
    display: inline-block;
    vertical-align: top; 
    
    margin-left: -5px;
    margin-right: 30px;
    /*IE 7 / 8 compat view fix */
    zoom: 1; 
    *display:inline;
}

#PdfEditorThumbPanel.ThumbFullScreen li div.Magnify
{
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer; 
    /*should match the background image's size*/
    width: 18px;
    height: 20px;
    background: transparent url(../images/edocs/magnify.png) no-repeat bottom right;
    z-index: 1;
}

#PdfEditorThumbPanel.ThumbFullScreen div.pdf-page:hover div.Magnify
{
    display: block;
}

#PdfEditorThumbPanel.ThumbFullScreen .pdf-page-selected
{
    border: solid 1px black;
    margin-left: 25px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#PdfEditorThumbPanel.ThumbFullScreen .placeholder
{
    margin-left: 20px;
    margin-right: 1px;
    margin-top: 3px;
    margin-bottom: 0px;
}

#PdfEditorThumbPanel.ThumbFullScreen li.ui-selected div.pdf-page, #PdfEditorThumbPanel.ThumbFullScreen li.ui-selecting div.pdf-page
{
    margin-left: 23px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

#PdfEditorThumbPanel.ThumbFullScreen li.ui-selected div.pdf-page
{
    border: solid 3px blue;
}

#PdfEditorThumbPanel.ThumbFullScreen li.ui-selecting div.pdf-page
{
    border: dashed 3px blue;
}

#PdfEditorThumbPanel.ThumbFullScreen li.highlight div.pdf-page
{
    border-style: dotted;
}

#PdfEditorThumbPanel.ThumbFullScreen.TrackNew li.ui-selected.new-selection div.pdf-page, #PdfEditorThumbPanel.ThumbFullScreen.TrackNew li.ui-selecting.new-selection div.pdf-page
{
    border-color: #FFFF55;
}

#PdfEditorThumbPanel.ThumbFullScreen li.ui-selected .pdf-page-number, #PdfEditorThumbPanel.ThumbFullScreen li.ui-selecting .pdf-page-number
{
    position: relative;
    top: 2px;
}

#EdocEditorMagnifyDiv
{
    border: solid 1px black;
    position: absolute;
    display: none;
    z-index: 9001;
}
#EdocEditorMagnifyDiv div.CloseButton
{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: transparent url(../images/edocs/close.png) no-repeat top right;
    z-index : 1;
}

#EdocEditorMagnifyDiv img
{
    width: 100%;
    height: 100%;
}

/*Infrastructure*/
.pdf-loading-panel
{
    border: solid 1px black;
    background-color: yellow;
    padding: 15px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    z-index: 999;
    width: 300px;
    height: 100px;
}

li.WaitForScrollSpacer
{
    height: 20px;
}

.placeholder
{
    margin-left: 23px;
    margin-top: 3px;
}

#PdfEditorThumbPanel div.ui-selected
{
    border: solid 1px black;
    margin-left: 21px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Being EDoc Editor Stysleets for All Editors */

.clear
{
    clear: both;
}

.EditorUI
{
    background-color: gainsboro;
    font-weight: bold;
}

.EditorUI .MainRightHeader
{
    margin: 0;
}

.EditorUI .tab-section, .EditorUI .tab-section table
{
    float: left;
}
.EditorUI .tab-section
{
    height: 150px;
}
.EditorUI div.DragAndDropContainer
{
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
    margin-right: 5px; 
    /* ie7 hack */ 
    *display:inline;
    zoom:1
}

.EditorUI #ViewDocumentInfo label
{
    display: block;
}

.EditorUI #Navigation, .EditorUI #PdfEditor
{
    float: left;
}
.EditorUI #Navigation
{
    background-color: White;
    height: 300px;
    width: 200px;
    clear: both;
    font-weight: normal;
    padding: 5px 0 0 5px;
    overflow-y: auto;
}

.EditorUI #ViewInternalNotes, .EditorUI #ViewDocumentInfo
{
    width: 800px;
}

/* Fields */
.pdf-field-text
{
    border: solid 1px black;
    background-color: Gray;
    opacity: .8;
    filter: Alpha(Opacity=80);
    z-index: 600;
}

.pdf-field-esign-signature, .pdf-field-esign-initial, .pdf-field-esign-date, .esign-field-thumb
{
    border: solid 1px black;
    text-align: left;
    background-color: moccasin;
    opacity: .8;
    filter: Alpha(Opacity=60);
    z-index: 650;
}
.pdf-field-highlight, .highlight-field-thumb
{
    border: solid 1px black;
    background-color: Yellow;
    opacity: .8;
    filter: Alpha(Opacity=60);
    z-index: 650;
}
.pdf-field-signature-img img, .pdf-field-date
{
    border: solid 1px black;
    z-index: 600;
}

.pdf-field-date
{
    background-color: white;
}

.pdf-field-signature-img
{
}
.pdf-field-date
{
    width: 52px;
    height: 13px;
}
.pdf-field-checkbox
{
    border: solid 1px black;
}
.pdf-field-checkbox, .pdf-field-note
{
    z-index: 600;
}

.pdf-field-signature
{
    border: solid 1px black;
    text-align: left;
    background-color: #8DAAE2;
    opacity: .5;
    filter: Alpha(Opacity=65);
    z-index: 600;
}
.pdf-field-initial, .pdf-field-signature-date
{
    border: solid 1px black;
    text-align: left;
    background-color: #8DAAE2;
    opacity: .5;
    filter: Alpha(Opacity=65);
    z-index: 600;
}
div.ui-selected
{
    border: solid 2px blue;
}
div.pdf-page div.pdf-first-selected
{
    border: solid 4px red;
}
.pdf-field-content
{
    font-size: 7pt;
    color: black;
    font-weight: bold;
    cursor: default;
}

.pdf-pdf-thumb-field
{
    overflow: hidden;
}

/*Rotations*/
.img-rotate-0
{
}
.img-rotate-90
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.img-rotate-180
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.img-rotate-270
{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.img-rotate-90-msTransform
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.img-rotate-180-msTransform
{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.img-rotate-270-msTransform
{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}



/*Batch editor*/
.document-name-listing, .folder-name-listing
{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: White;
}
.folder-name-listing
{
    padding-left: 5px;
}

.folder-name-listing > li
{
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../images/edocs/folder-open.png);
    margin: 10px 0;
}
.folder-name-listing > li > span
{
    margin-left: 17px;
}

.folder-name-listing > li.close
{
    background-image: url(../images/edocs/folder-close.png);
}

.folder-name-listing > li.header
{
    background-image: none;
}
.document-name-listing
{
    margin-left: 15px;
}
.document-name-listing li
{
    margin: 0;
    padding: 3px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.document-name-listing li.s_0, .document-name-listing li.s_1, .document-name-listing li.s_2
{
    background-repeat: no-repeat;
    background-position: 5px 5px;
}
.document-name-listing li
{
    cursor: pointer;
}
.document-name-listing li.header
{
    background-color: #DCDCDC;
    cursor: default;
}
.document-name-listing li.none
{
    background-image: none;
}

.document-name-listing li.s_1
{
    background-image: url('../images/edocs/accept.png');
}

.document-name-listing li.s_2
{
    background-image: url('../images/edocs/reject.png');
}

.document-name-listing li.selected
{
    background-color: Yellow;
}

.document-name-listing div.notes
{
    margin-left: 20px;
}

.document-name-listing div.image-div
{
    float: left;
    line-height: 5.5em;
    margin-left: 4px;
    padding-right: 4px;
}

.document-name-listing div.link
{
    text-align: right;
    padding-right: 10px;
}
.DisplayNone {
    display: none;
}