﻿input[disabled] {
    color: #000 !important; /*Override stylesheetnew.css important rule*/
}

input[type='text'] {
    width: 75px;
    line-height: 2px;
    margin-left: 15px;
}

.bold {
    font-weight: bold;
}

div.color {
    border: 1px solid #000;
    display: inline;
    margin-right: 5px;
}

div.row {
    padding-bottom: 2px;
}

div.row:not(.no-left-padding) div:nth-child(odd):not(.no-left-padding) {
    padding-left: 35px;
}

div.back-column {
    padding-top: 10px;
    font-size: 15px;
}

#CloseIcon {
    cursor: pointer;
    font-size: 34px;
    color: #808080;
    line-height: normal;
}

#RateLockPreviewContainer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 31.3em;
    border: 1px solid rgba(0,0,0,.12);
}
