﻿#PricingResultsContainer {
    background-color: white;
    padding: 10px;
    min-height: 400px;
    min-width: 1000px;
    margin-bottom: 5.5px;
  
    label{
        color: black;
    }

    .arrow {
        width: 0;
        height: 0;
        display: inline-block;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    .arrow-down {
        border-top: 8px solid black;
    }
    .arrow-up {
        border-bottom: 8px solid black;
    }
    .representative-rate .result-row + .result-row .expand-toggle {
        display: none;
    }
    .expand-toggle {
        white-space: nowrap;
        cursor: pointer;
    }

    .nowrap {
        white-space: nowrap;
    }

    .select-option-link {
        white-space: nowrap;
        min-width: 55px;
        display: inline-block;
    }

    .disqualified {
        color: red;
        font-style: italic;
    }

    .disqual-icon {
        width: 20px;
        height: 20px;
        margin-right:-3px;
    }

    .group-name-container {
        padding-left: 5px;
        cursor: pointer;
    }

    .group-name{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2.5px;
        margin-top: 2.5px;
    }

    .program:nth-child(odd), .merge-group:nth-child(odd) {
        background-color: #def;
    }

    .collapsed {
        display: none;
    }

    .ineligible .program:nth-child(odd), .ineligible .merge-group:nth-child(odd) {
        background-color: #ffd7d7;
    }

    .section-header {
        margin: 0;
    }

    .table-divider {
        border-color: orange;
        border-width: 2px;
    }

    .result-row.header.showBreakEven {
        height: 42px;
    }

    .result-row.header {

        height: 45px;
        border-bottom: 1px solid black;

       > div:first-child {
            font-weight: bold;
            padding-right: 10px;
            vertical-align: middle;
            text-align: left;
            position: relative;

            h4 {
                position: absolute;
                margin: 0;
                top: 50%;
                transform: translateY(-50%);

            }
        }

        > div:not(:first-child) {
            background-color: gainsboro;
            border: 1px solid black;
            border-bottom: none;
            border-left: none;
            position: relative;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 10px;
            
            > span {
                left: 50%;
                top: 50%;
                position: absolute;
                transform: translate(-50%, -50%);
                text-align: center;
            }
        }

        
    }

    a[disabled] {
        color: black !important;
        
        &:hover {
            text-decoration: none;
        }

    }

    .icon {
        display: inline-block;
        vertical-align: middle;
    }

    .arrow-icon {
        width: 16px;
        height: 16px;
    }

    .toggle-container {
        position:absolute;
        margin-top: 5px;
        left: 40px;
        cursor: pointer;
    }

    .result-row .toggle-container {
        margin-top: 0;
    }

    .rotate-180 {
        transform: rotate(180deg);
    }

    .pricing-flag {
        float: left;
        width: 20px;
        height: 20px;
    }

    .worst-case .result-row:not(:last-child) {
        border-bottom: 1px solid black;
    }

    .result-row {
        width: 100%;
        margin: 0 !important;
        display: -ms-flexbox;
        display: flex;

        &.historical.paired {
            border-bottom: none;
        }

        &:not(.header) > div {
            line-height: 20px;
        }


        > div {
            -ms-flex: 1 0 4.7em;
            flex: 1 0 4.7em;
            padding: 3px 5px;
            box-sizing: border-box;
            border-right: 1px solid black;
            text-align: right;

            &:first-child {
                -ms-flex: 0 0 220px;
                flex: 0 0 220px;
                padding: 3px 10px;
                padding-left: 0;
            }

            &:last-child {
                border-right: none;
            }

            &.large-column {
                -ms-flex: 1 0 7em;
                flex: 1 0 7em;
            }
        }
    }

    div.qm-col {
        text-align: center;
        -ms-flex: 0 0 2em;
        flex: 0 0 2em;
        
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .indent-small {
        padding-left: 20px;
    }

    .program-name {
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }

    .program-name-full {
        font-size: 12px;
        font-weight: bold;
    }

    .minor-details {
        padding-top: 5px;
    }

    .denial-reasons {
        padding-left: 20px;
    }
}

.ui-dialog-titlebar {
    display: none;
}

.ui-dialog.ui-widget-content, .ui-dialog .ui-widget-content {
    background-color: white;
}

.popup {
    display: none;
    max-width: 700px;
    min-width: 300px;
}

.popup-table
{
    border-collapse: collapse;
    margin: 0 auto;

    thead{
        background-color: #AAA;
        font-weight: bold;
    }

    tr:nth-child(even){
        background-color: #DDEEFF;
    }

    td, th{
        border: 1px solid black;
        padding: 3px;
    }

    margin-bottom: 10px;
}

.popup.disqual-reason-popup {
    min-width: 0;
}

.disqual-reason-popup span {
    display: block;
}

.cash-to-close-table
{
    border: 1px solid black;

    th, td{
        border: none;
    }
}

.total-rows td{
    border: none;

}

.popup-table .total-rows tr {
    background-color: transparent;

    &:last-child td:not(:first-child):not(:last-child) {
        border-top: 1px solid black;
    }
}

.calculation-explanation {
    vertical-align: middle;
    clear: both;
    margin-top: 10px;

    > div {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 3px;

        hr{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.no-rates {
    color: red;

    .eligible {
        font-weight: bold;
    }
}