﻿.ProductCodeFilters .Header
{
    color: black;
    background-color: gainsboro;
}

.ProductCodeFilters .ui-dialog-titlebar
{
    background-color: white;
    color: #ff9933;
    background-image: none;
    border: none;
    display: block;
}

.ProductCodeFilters #availableCodeSearchBox
{
    height: 20px;
}

.ProductCodeFilters input[type="button"]
{
    cursor: default;
}

.ProductCodeFilters select.AvailableCodesPicker
{
    height: 431px;
}