﻿.QualRateCalculationPopup {
    z-index: 99999;
}

.QualRateCalculationPopup .ui-dialog-titlebar {
    background-color: #800000;
}

div.qual-rate-popup {
    display: none;
}

.ui-dialog .ui-dialog-titlebar-close
{
    display: none;
}

.ui-widget-overlay {
    /* 
        Force the modal overlay to take up the entire height of the screen, as some pages
        may have styling that causes the overlay to only take up the visible part.
    */
    position: fixed !important; 
}

tr.inset td:first-child {
    padding-left: 15px;
}

td.center {
    text-align: center;
}
