﻿.qualifying-borrower-container {
    height: 100%;
    display: none;
}

.qualifying-borrower-header.page-header {
    margin-bottom: 35px;
}

.true-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.true-container {
    float: none;
}

    .true-container input {
        margin-top: 0;
    }

.qm-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    border-top: none;
    box-sizing: border-box;
    text-align: left;
    padding:5px;
}

    .qm-container .section {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-top: none;
        box-sizing: border-box;
    }

        .qm-container .section:not(:last-child) {
            border-bottom: none;
        }

.wrap .qm-container {
    flex-direction: row;
}

.wrap .qm-container .section {
    width: 50%;
    border-bottom: 1px solid black;
    height: 100%;
}

.qm-container .qm-row, .qm-section-header {
    border-top: 1px solid black;
}

.qm-container .section > div {
    flex: 0 0 auto;
}

.qm-section-header {
    font-weight: bold;
}

.qm-container .qm-row {
    display: flex;
    flex-direction: row;
}

.qm-total {
    font-weight: bold;
}

.qm-cell, .qm-section-header {
    padding: 5px;
    white-space: normal;
}

.row-text-sub-section {
    padding: 3px;
}

.qm-cell > div {
    display: inline;
}

.qm-cell:first-child {
    flex: 1 0 300px;
    border-right: 1px solid black;
}

.qm-cell:last-child {
    flex: 1 0 175px;
}

    .qm-cell:last-child img, .qm-cell:last-child span, *.qm-cell:last-child input {
        vertical-align: middle;
    }

.row-label {
    font-weight: bold;
}

.row-special-notes {
    font-style: italic;
    font-size: 12px;
}

.amount-prefix {
    width: 1em;
    text-align: right;
    display: inline-block;
}

.row-text-sub-section {
    width: calc(100% - 30px);
    margin-left: 30px;
}

.calculator {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.calculator-popup {
    display: none;
}

.CssTable {
    width: 100%;
}

.CssTableCell {
    padding: 5px;
}

.popup-content .CssTable {
    height: 50px;
}

.popup-content .CssTableCell {
    vertical-align: middle;
}

.calculator-buttons {
    text-align: center;
}

.calculator-buttons {
    margin: 5px;
}
