﻿.RespaDates {
    border: 1px solid #000;
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;

    > div > div {
        display: table;

        > div {
            display: table-row;

            > div {
                display: table-cell;
            }

            .right {
                text-align: right;
            }

            .pad-right {
                padding-right: 10px;
            }

            .FieldLabel {
                padding-top: 5px;
            }

            > div:nth-child(1) {
                width: 100px;
                padding-right: 5px;
            }

            > div:nth-child(2) {
                width: 155px;
            }

            > div:nth-child(3) {
                width: 105px;
            }
        }
    }

    .vertical-center {
        vertical-align: middle;
    }

    .short-line-height {
        line-height: 13px;
    }
}
