﻿.RespaDates {
  border: 1px solid #000;
  background-color: white;
  margin-top: 5px;
  margin-bottom: 5px; }
  .RespaDates > div > div {
    display: table; }
    .RespaDates > div > div > div {
      display: table-row; }
      .RespaDates > div > div > div > div {
        display: table-cell; }
      .RespaDates > div > div > div .right {
        text-align: right; }
      .RespaDates > div > div > div .pad-right {
        padding-right: 10px; }
      .RespaDates > div > div > div .FieldLabel {
        padding-top: 5px; }
      .RespaDates > div > div > div > div:nth-child(1) {
        width: 100px;
        padding-right: 5px; }
      .RespaDates > div > div > div > div:nth-child(2) {
        width: 155px; }
      .RespaDates > div > div > div > div:nth-child(3) {
        width: 105px; }
  .RespaDates .vertical-center {
    vertical-align: middle; }
  .RespaDates .short-line-height {
    line-height: 13px; }
