﻿@import "Prototype/SASS/BootstrapSCSS/_bootstrap.scss";

body {
    font-size: 11px;
    background-color: #eee;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4 {
    color: #ff9933;
    font-size: 1.27em;
    font-weight: bold;
}

label {
    font-weight: normal;
    color: #565656;
}

input[type=text], select {
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
}

input[type='checkbox']::before, input[type='checkbox']::after{
    box-sizing: content-box;
}

.sub-header {
    display: inline-block;
    font-weight: normal;
    color: #565656;
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-field {
    width: 225px;
}

.count-field {
    width: 60px;
    text-align: right;
}

.percent-field {
    width: 70px;
    text-align: right;
}

.money-field {
    width: 90px;
    text-align: right;
}

.date-field {
    width: 75px;
}

.disabled-select {
    background-color: lightgray;
}

#InvestorRateLockCalendar {
    vertical-align: bottom;
}

div.ui-tooltip {
    padding: 2px;
}

.ui-tooltip-content {
    padding: 5px;
    background-color: white;
    color: #565656;
}

.mask {
    width: 100%;
    height: 100%;
    z-index: 200;
    opacity: .3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
}

.disqual-reason-desc {
    white-space: pre-wrap;
}

#PricingResultsContainer {
    position: relative;
}

#ResultsContainer {
    display: none;
}

#LoadingMessage {
    display: none;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mask-results:before {
    position:absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    content: "";
    margin-left: -10px;
    margin-top: -10px;
    background-color: #333333;
    opacity: .3;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
}

.outermost-container {
    min-width: 1250px;
    max-width: 1920px;
    white-space: nowrap;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    margin: 5px 0 5px 0;

    div:first-child {
        width: 100%;

        div {
            display: inline-block;
        }

        .loan-officer {
            width: 50%;
            text-align: left;
            font-size: 11px;
            font-weight: bold;
        }

        .go-back {
            width: 50%;
            text-align: right;
            font-size: 14px;

            a {
                text-decoration: underline;
            }

            img {
                height: 16px;
                width: 16px;
            }
        }
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 5px;

        th {
            width: 25%;
            background-color: #dddddd;
        }

        td {
            background-color: white;
        }

        th, td {
            padding: 1px;
            border: 1px solid black;
        }
    }
}

.left-column {
    width: 440px;
    display: inline-block;
    /* Position relative to support masking entire div. */
    position: relative;

    .loan-info {
        width: 100%;
        background-color: white;

        div.row > div:first-child {
            @extend .col-sm-5;
            width: 43%;
            white-space: normal;
        }

        div.row > div:last-child {
            @extend .col-sm-7;
            width: 57%;

            div {
                display: inline-block;
            }

            label {
                max-width: 90px;
                text-align: right;
            }
        }

        #sProdDocT {
            width: 200px;
        }
    }

    .pricing-options-container {
        width: 100%;
        background-color: white;
        margin-top: 4px;
        padding-bottom: 20px;

        .pricing-options {
            width: 100%;

            div.row > div:only-child {
                @extend .col-sm-4;
            }

            div.row > div:first-child:not(:only-child) {
                @extend .col-sm-offset-1;
                @extend .col-sm-5;
            }

            div.row > div:nth-child(2) {
                @extend .col-sm-4;
            }

            div.row > div:nth-child(3) {
                @extend .col-sm-2;
            }

            #sInvestorLockLpePriceGroupId {
                max-width: 200px;
            }
        }

        .get-results-using {
            width: 100%;

            > div:first-child div {
                @extend .col-sm-12;
            }

            > div:not(:first-child) div {
                @extend .col-sm-offset-1;
            }

            #HistoricalFields {
                padding-left: 27px;
                padding-bottom: 5px;

                select {
                    margin-bottom: 4px;
                }
            }

            span {
                display: inline-block;
            }

            #HistoricalPricingTopLabel, #HistoricalPricingBottomLabel {
                color: #565656;
            }

            #HistoricalPricingTopLabel {
                padding-bottom: 2px;
            }
        }

        .price {
            padding-top: 10px;
            text-align: center;

            .price-button {
                height: 30px;
                width: 75px;
            }
        }
    }
}

.right-column {
    display: inline-block;
    min-width: calc(100% - 444px);
    vertical-align: top;
    white-space: normal;

    .results-filter {
        @extend .container;
        width: 100%;
        overflow: auto;
        padding-left: 10px;
        padding-bottom: 10px;
        background-color: white;
        /* Position relative to support masking entire div. */
        position: relative;
        margin-bottom: 5px;
        white-space: nowrap;

        .internal-filters {
            width: 32%;
            min-width: 235px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
            white-space: normal;

            label {
                display: inline;
            }
        }

        .term-amort-prod-filters {
            width: 55%;
            vertical-align: top;
            display: inline-block;

            table {
                width: 33%;
                height: auto;
                display: inline-table;
            }

            th {
                font-weight: bold;
                text-decoration: underline;
            }

            tr {
                height: 25px;
            }
        }

        .price {
            width: 13%;
            margin-left: auto;
            margin-right: auto;
            vertical-align: top;
            display: inline-block;
            text-align: center;
            white-space: normal;

            .price-button {
                height: 50px;
                width: 90px;
            }

            span {
                width: 90px;
            }
        }
    }
}

.center {
    text-align: center;
}

a {
    color: blue;
}

.true-container .qm-container {
    height: 500px;
}