﻿#creditServiceDiv {
    width: 550px;
    overflow: auto;
}
#creditServiceTable {
    border-collapse: collapse; 
    width: 100%;
    border: 1px solid gainsboro;
    border-spacing: 0;
}
#creditServiceTable td {
    border: 1px solid gainsboro;
    padding: 2px;
}