@import url("Tabs.css");
/* Stylesheet for calendar widget. */
@import url("calendar-win2k-cold-2.css");
/* Stylesheet for combobox widget. */
@import url("combobox.css");
::-ms-clear { display: none; }
body
{
    font-size: 11px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
td
{
    font-size: 11px;
	line-height: 16px;
    RIGHT: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
input
{
    font-size: 11px;
}
input[readonly], input[readonly="readonly"], textarea[readonly], textarea[readonly="readonly"] {
    background-color: lightgrey;
    border-width: 1px;
}
/* needs this style to be separated from above because IE & Firefox cannot parse this correctly */
input:read-only {
    background-color: lightgrey;
    border-width: 1px;
}
select
{
    font-size: 11px;
}
textarea
{
    font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap !important;
    resize: none; /* Needed for chrome, which defaults textarea resize to both. */
}
.FormTableHeader
{
	font-weight: bold;
	font-size: 11px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #003366;
    overflow: hidden;
}
.FormTableHeader1
{
	font-weight: bold;
	font-size: 11px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3D689C;
}
.IneligibleProductTableHeader
{
	font-weight: bold;
	font-size: 11px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C00000;
}
.InsufficientLoanProgramHeader
{
    background-color: Yellow;
    font-weight: bold;
    font-size: 11px;
    color: Black;
	font-family: Arial, Helvetica, sans-serif;

}
.LoanProgramHeader
{
    font-weight: bold;
    color: black;
    background-color: #afcae4;
}
.IneligibleLoanProgramHeader
{
	font-weight: bold;
	color: black;
	background-color: #ee9898;
}
/*
    OPM 225521, 9/11/2015, ML
    This style rule will force IE, regardless of version, to gray out
    disabled items and prevent the pointer-style cursor from displaying
    when hovering over a disabled item. See http://stackoverflow.com/q/792194.
*/
*[disabled], a.disabled, [contenteditable="false"]
{
    color: gray !important;
    cursor: default !important;
}
select[disabled], option[disabled], select:disabled, option:disabled
{
    background-color: #e4e4e4 !important;
}
a[disabled]
{
    pointer-events: none; /* On IE only works in IE11/Edge mode. Supported in latest version of all other browsers.*/
    cursor: default;
}
A.LoanProgramLink
{
	color: black ;
	text-decoration: none;
	font-weight: bold;
}
A.LoanProgramLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
	font-weight: bold;

}
A.LoanProgramLink:link
{
	color: black ;
	font-weight: bold;

}
A.LoanProgramLink:vlink
{
	color: black ;
	font-weight: bold;

}
.LeftBackground
{
	margin-left: 0px;
	background-color: gray;
}
.HeaderBackground
{
    background-color:Black;
    color:White;
}
.MainRightTable
{

}
.RightBackground
{
    margin-left: 10px;
    background-color: gainsboro;
}
.EditBackground
{
    background-color: gainsboro;
}

.TabRow
{
	padding-top: 5px;
	background-color: black;
}
.LoanFormHeader
{
    padding-bottom: 2px;
    color: white;
    padding-top: 2px;
    background-color: gray;
}
.MainRightHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    overflow: hidden;
    padding: 5px;
}
.FormTableSubheader
{
    font-weight:bold;
}
.PortletLink
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: White;
}

.FieldLabel
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.FieldLabelNoPadding
{
    padding-right:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.SummaryInfo
{
    color: white;
}
#foldheader
{
    font-size: 11px;
    LIST-STYLE-IMAGE: url(../images/fold.gif);
    CURSOR: hand;
    COLOR: #ffcc00 ;
    margin-left: 5px;
}
#foldinglist
{
    LIST-STYLE-IMAGE: url(../images/list.gif) ;
    margin-left: 10px;
}
.GridHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #999999;
}
.GridFooter
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
.GridItem
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

tr.GridItem, tr.GridAlternatingItem {
    height: 19px;
}

.GridAlternatingItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: #CCCCCC ;
}

.GridAutoItem:nth-child(even), .ReverseGridAutoItem:nth-child(odd)
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.GridAutoItem:nth-child(odd), .ReverseGridAutoItem:nth-child(even)
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: #CCCCCC ;
}

.GridSelectedItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: yellow ;
}
A
{
	color: Blue ;
    cursor: pointer;
    text-decoration: underline;
}
A:link
{
	color: Blue ;
}
A:hover
{
    color: orange ;
	text-decoration: underline;
}
A:vlink
{
	color: Blue ;
}

A.PortletLink
{
	color: white ;
	text-decoration: none;
	font-weight: normal;
}
A.PortletLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
}
A.PortletLink:link
{
	color: white ;
}
A.PortletLink:vlink
{
	color: white ;
}

A.TreeNodeLink
{
	font-weight: normal;
	font-size: 12px;
	color: white;
	text-decoration: none;
}
A.TreeNodeLink:hover
{
	font-weight: bold;
	color: red;
	text-decoration: none;
}
A.TreeNodeLink:link
{
	color: white ;
	font-weight: normal;
}
A.TreeNodeLink:vlink
{
	color: white ;
	font-weight: normal;
}
.NodeFolder
{
	font-weight: bold;
	font-size: 12px;
	cursor: hand;
	color: gold;
}
.InsetBorder
{
    border-right: thin groove;
    border-top: thin groove;
    margin: 3px;
    border-left: thin groove;
    border-bottom: thin groove;
}
.InsetBorder * td
{
  padding: 3px;
}
.HighlightSelection
{
    background-color: #000080;
    font-weight: bold;
    color: white;
}
.HilightBorder
{
    border-color: #000080
}
.InactiveSelection
{
    background-color: transparent;
}
.FormTableSubheader
{
    font-weight: bold;
	font-size: 11px;
	color: navy ;
	font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}
.white {
	color: #FFFFFF;
}
.DiscSubjectUnread
{
	font-weight:bold;
}

.DiscSubjectRead
{
}
/*
		Active = 0,
		Done = 1,
		Suspended = 2,
		Canceled = 3
*/
.DiscStatusActive
{
    color: Black;
}
.DiscStatusDone
{
	color: Gray;
}

.DiscStatusSuspended
{
	color: Gray;
}
.DiscStatusCancelled
{
	color: Gray;
	text-decoration: line-through;
}

/*
	High = 0,
	Normal = 1,
	Low = 2
*/
.DiscPriorityHigh
{
	color:Red;
}
.DiscPriorityNormal
{
	color:Black;
}
.DiscPriorityLow
{
	color:Black;
}

.DiscDue
{
	color:Red;
}
.DiscDueNot
{
	color: Black;
}

.DiscNotifAlert
{
	color:Red;
}
.DiscNotifAlertNot
{
	color: Black;
}
.DiscTrackNotifIsReadNoNotifValidNo
{
  color:Gray;
  font-weight:bold;
}

.DiscTrackNotifIsReadNoNotifValidYes
{
  font-weight:bold;
}

.DiscTrackNotifIsReadYesNotifValidNo
{
  color:Gray;
}

.DiscTrackNotifIsReadYesNotifValidYes
{
}

.LoanInfoTable
{
    border: white 2px groove;
    color: white;
    background-color: black;
    margin-left: 5px
}

.LoanInfoTable * td
{
    padding-right: 5px;
    padding-left: 5px;
}
.LoanInfoFieldLabel { COLOR: #ffcc00 }




.RateGridHeader
{
    font-weight: bold;
    font-size: 11px;
    color: #FFCF00;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #666666; */
    background-color:Red;
}
.RateGridFooter
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
.RateGridItem
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.RateGridAlternatingItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;

}
.RightAlign
{
    text-align: right;
}
.ButtonStyle
{
	font-family : Verdana, Arial, Helvetica, sans-serif;
	font-size : 11px;
    font-weight: bold;
    color: Black;
}
.WaitMessageLabel {
    font-weight:bold;
    font-size:18pt;
    cursor:wait;
    color:Black;
}
.BlockMask
{
    Z-INDEX: 200;
    FILTER: alpha(opacity=30);
    BACKGROUND-COLOR: #333333;
    opacity: .3;
    position:absolute;

}

.hiliteBorder
{
    border-style: solid;
    border-color: Bisque;
    border-width: 3px;
}

.bgcolor1 {
	background-color: #003366;
	color: #FFFFFF;


}
.Portlet
{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin: 5px;
    color: #ffffff;
    padding-top: 2px;
}
.PortletHeader
{
    font-weight: bold;
	color: #FFCC00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

input[preset="money"][decimalDigits="6"]{
    width:65px !important;
}

input.date,input.money  {
    width: 60px;
}
input.RactiveDDL
{
    background-color: White;
}

img[data-docmetadata] {
    height: 20px;
    width: 15px;
}
body div.doc-metadata-tooltip {/*override .ui-tooltip in jquery-ui.css*/
    border: 1px solid black;
}
.doc-metadata-tooltip td, .doc-metadata-tooltip th {
    padding-bottom: 5px;
}
.doc-metadata-tooltip tr:last-of-type td, .doc-metadata-tooltip tr:last-of-type th {
    padding-bottom: 0px;
}
.doc-metadata-tooltip th {
    text-align: right;
}
.doc-metadata-tooltip td {
    padding-left: 5px;
    text-align: left;
}
.doc-metadata-tooltip img {
    padding-right: 5px;
}

.LQBDialogBox
{
    background-color: gainsboro;
    border: solid 1px;
    font-family: Verdana, Arial, Sans-Serif;
}

.LQBDialogBox .ui-dialog-titlebar
{
    color: White;
    background-color: Maroon;
    border: 1px solid Maroon;
    padding: 5px;
    margin-bottom: 3px;
}
.LQBDialogBox.ui-widget-content .ui-state-default {
    background-color: #616161;
    color: #ffffff;
    outline: none;
}
.LQBDialogBox.ui-widget-content .ui-state-default.ui-state-active {
    background: transparent;
    color: #000000;
}
.LQBDialogBox.ui-dialog .ui-dialog-buttonpane {
    text-align: center;
    padding: 2px;
    padding-right: 0;
}
.LQBDialogBox.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    *float: none;
}

.LQBDialogBox .ui-dialog-titlebar-close
{
    display: none;
}

.LQBDialogBox .ui-dialog-content
{
    margin: 2px;
    padding: 2px;
}

.LQBDialogBox.ui-dialog
{
    padding: 0px;
}

.LQBDialogBox .ui-button.ui-widget
{
    border: none;
    padding: 0px;
    float: none;
    font-weight: normal;
}
.LQBDialogBox .ui-dialog-buttonset
{
    text-align: center;
}

#LQBPopupDiv {
    display: none;
    padding: 0;
    background-color: White;
    text-align: center;
    overflow:hidden;
}

    #LQBPopupDiv.LQBPopupAlert {
        text-align: left;
        white-space:pre-wrap;
    }

        #LQBPopupDiv.LQBPopupAlert #LQBPopupElement {
            padding: 10px;
            box-sizing: border-box;
            overflow-y: scroll;
            height: 100%;
        }

    #LQBPopupDivFrame {
        overflow: auto;
    }

#LQBPopupElement {
    height: 100%;
    display: none;
}

#LQBPopupDiv.ChildVisible
{
    overflow:hidden;
}

#LQBPopupDiv.ChildVisible input
{
    display:none;
}

#LQBPopupDiv iframe
{
    position:relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
}

#LQBPopupDiv .lqbpopup-header {
    text-align: right;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    background-color: darkred;
    border-bottom: 2px solid black;
    overflow: hidden;
}

#LQBPopupDiv .lqbpopup-header .header-text{
    display: inline-block;
    float: left;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.lqbpopup-content-container {
    height: 100%;
}

.lqbpopup-close-btn {
    height: 18px;
    width: 29px;
    border: 1px solid black;
    float: right;
    cursor: pointer;
    margin-top: 3px;
    margin-right: 3px;
    line-height: 16px;
    color: black;
}

#LQBPopupDiv .lqbpopup-close-btn:hover {
    background-color: #b63f2f;
    color: white;
}

.align-center
{
    text-align: center;
}

.align-right
{
    text-align: right;
}

.align-bottom
{
    vertical-align: bottom;
}
.align-top
{
    vertical-align: top;
}
.align-middle {
    vertical-align: middle;
}
.align-left {
    text-align: left;
}
.no-wrap
{
    white-space: nowrap;
}

.PreserveLines
{
    white-space: pre-line;
}

.little-indent
{
    padding-left: 10px;
}
.PaddingTop {
    padding-top: 10px;
}
.Hidden {
    display: none;
}
.RightBorder {
    border-right: 1px solid black;
}
.LeftBorder {
    border-left: 1px solid black;
}
.TopBorder {
    border-top: 1px solid black;
}
.BottomBorder {
    border-bottom: 1px solid black;
}
.Table
{
    border-spacing: 0;
    width: 100%;
    padding: 5px;
    border-collapse: collapse;
}
.Table td, .Table th {
    padding: 2px;
    border: 1px solid black
}
.Error
{
    color: red;
}
.CssTable {
    display: table;
    border-collapse: collapse;
}
.CssTableCell {
    display: table-cell;
}
.CssTableRow {
    display: table-row;
}
.UndecoratedList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.InlineBlock {
    display: inline-block;
}
.FullWidthHeight {
    width: 100%;
    height: 100%;
}
.Height10Px {
    height: 10px;
}
.DisabledLink
{
    color: grey;
    pointer-events: none;
}
.DisabledLink:hover
{
    color: grey;
    pointer-events: none;
    cursor: default;
}
.Input {
    width: 150px;
}
.InputLarge {
    width: 250px;
}
.InputSmall {
    width: 60px;
}
.PaddingBottom {
    padding-bottom: 10px;
}
.Block {
    display: block;
}
.Width50Pc {
    width: 50%;
}.Width50Px {
    width: 50px;
}
.MarginLeft {
    margin-left: 10px;
}
.OverflowAuto {
    overflow: auto;
}
.PaddingTopBottom5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.PaddingLeftRight5 {
    padding-left: 5px;
    padding-right: 5px;
}
.Underline {
    text-decoration: underline;
}
.TextArea {
    width: 250px;
    height: 50px;
}
.Padding5{
    padding: 5px;
}

.horizontal-margin-auto
{
    margin-left: auto;
    margin-right: auto;
}

.margin-top-5px {
    margin-top: 5px;
}
td.BorderNone {
    border: none;
}
.BackgroundGainsboro {
    background-color: gainsboro;
}
.Width20Pc {
    width: 20%;
}
.Width90Pc {
    width: 90%;
}
.Width75Pc {
    width: 75%;
}
.Width100Pc {
    width: 100%;
}
.SubtextItalics {
    font-style: italic;
    color: gray;
}

#CalculationOverlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 9999999;
}

.DragBar {
    -ms-flex: 0 0 3px;
    -webkit-flex: 0 0 3px;
    flex: 0 0 3px;
    background-color: gainsboro;
    cursor: ew-resize;
}

.body-container {
    -ms-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    flex: 1 1 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    min-height: 0;
}

.body-container iframe {
    height: 100%;
    min-height: 0;
}

.body-container iframe:nth-of-type(1) { -ms-flex: 0 0 180px; -webkit-flex: 0 0 180px; flex: 0 0 180px;}
.body-container iframe:nth-of-type(2) { -ms-flex: 1 1 100%; -webkit-flex: 1 1 100%; flex: 1 1 100%;}

.padding-left-20 {
    padding-left: 20px;
}
.padding-left-100 {
    padding-left: 100px;
}
.width-10 {
    width: 10px;
}
.width-105 {
    width: 105px;
}
.width-200 {
    width: 200px;
}
.width-350 {
    width: 350px;
}
.width-500{
    width: 500px;
}

.FloatLeft {
    float: left;
}
.FloatRight {
    float: right;
}

/*OPM 460443:; default checkboxes in chrome are gray so it's confusing with disabled checkboxes, OPM 463435: disable and enable ratio/checkbox are hard to distinguish */
.is-modern-browser input[type="checkbox"], .is-modern-browser input[type="radio"] {
    height: 13px;
    width: 13px;
    border: 1px solid #707070;
    background-color: #fff;
    vertical-align: middle;
    margin: 2px 3px 5px 3px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
}
.is-modern-browser input[type="checkbox"] {
    -webkit-border-radius:0;
    border-radius:0;
}
.is-modern-browser input[type="radio"] {
    -webkit-border-radius:100%;
    border-radius:100%;
}
.is-modern-browser input[type="checkbox"]:not(:disabled):hover, .is-modern-browser input[type="radio"]:not(:disabled):hover {
    border-color: none;
}

.is-modern-browser input[type="checkbox"]:active:not(:disabled), .is-modern-browser input[type="radio"]:active:not(:disabled) {
    border-color:#707070;
}
.is-modern-browser input[type="checkbox"]:focus, .is-modern-browser input[type="radio"]:focus {
    outline:none;
    background: none;
}
.is-modern-browser input[type="checkbox"]:checked, .is-modern-browser input[type="radio"]:checked {
    border-color:#707070;
    background-color: #fff;
    outline: none;
}
.is-modern-browser input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 3px;
    margin-top: 0;
}
.is-modern-browser input[type="radio"]:checked:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    position: relative;
    left: 2px;
    top: 2px;
}
.is-modern-browser input[type=checkbox][disabled], .is-modern-browser input[type=radio][disabled] {
    opacity: .4;
}
@supports (-ms-ime-align:auto) {
    .is-modern-browser input[type=checkbox]::-ms-check {
        content: '';
        width: 4px;
        height: 8px;
        border: 2px solid #000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
        background: transparent;
        color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        margin-left: 0;
        margin-top: -2px;
    }
}


.move-offscreen {
    position: absolute;
    left: -99999px;
}

h4.page-header, div.ui-dialog-titlebar.ui-widget-header {
    background-color: darkred;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    padding: 5px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin:0;
    text-align: left; 
    line-height: normal;
    margin-top: 0;
    border-radius: 0;
}

.expand-w-width {
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}

form {
    margin: 0;
}
.d-inline-block {
    display: inline-block;
}
.bg-subheader {
    background-color: silver;
}
.bg-subheader td, .bg-subheader th {
    font-weight: bold;
    font-size: 11px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
}
html.html-pipeline {
    height: 100%;
    min-height: 0;
}
body.body-pipeline {
    height: 100%;
}
form.form-pipeline {
    height: 100%;
    overflow-y: auto;
}
.loading-pipeline {
    width: 100%;
    height: 100%;
    position: relative;
}
.loading-pipeline #PipelineLoadBG {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.loading-pipeline .PipelineLoad {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* OPM 471677, Update design for iframe modal*/
.body-iframe {
    overflow: hidden;
    margin: 0;   
}

.Header3 {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.body-iframe iframe {
    width: 100%;
    height: 100%;
}
.body-iframe form, .body-viewDU-finding form {
    height: 100%;
    margin: 0;
}
.body-viewDU-finding-menu hr {
    border: none;
}
.body-iframe .left {
    width: 15%;
    height: 100%;
    height: 100vh;
    float: left;
}
.body-iframe .right {
    width: 85%;
    height: 100%;
    height: 100vh;
    float: right;
}
.body-iframe .top {
    height: 50px;
}
.body-iframe .top.top-print-preview-frame {
    height: 130px;
    *height: 25%;
}
.body-iframe .bottom {
    position: absolute;
    top: 78px;
    left: 0;
    bottom: 0;
    right: 0;
    *height: 86.5%;
}
.body-iframe .bottom.bottom-print-preview-frame {
    top: 158px;
    *height: 72%;
}
.body-iframe .bottom.bottom-certificate-main-frame {
    top: 50px;
    *height: 91%;
}
.PMI-product-frame-left {
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    *height: 100%;
}
.PMI-product-frame-right {
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0;
    right: 0;
    *height: 100%;
} 

.horizontal-padding-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.vertical-padding-2 {
    padding-top: 2px;
    padding-bottom: 2px;
}input[preset="numeric"] {
    width: 37px;
}
 .minicount 
 {
     width: 40px;
 }