@import url("Tabs.css");
/* Stylesheet for calendar widget. */
@import url("calendar-win2k-cold-2.css");
/* Stylesheet for combobox widget. */
@import url("combobox.css");
::-ms-clear { display: none; }
body
{
    font-size: 11px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
.FormTable
{

	padding-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	font-size: 9pt;
	padding-bottom: 05px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	color: black;

	font-family: Arial, Helvetica, sans-serif;
	background-color: gainsboro;
}
input[readonly], input[readonly="readonly"], textarea[readonly], textarea[readonly="readonly"]{
    background-color: lightgrey;
    border-width: 1px;
}
/* needs this style to be separated from above because IE & Firefox cannot parse this correctly */
input:read-only {
    background-color: lightgrey;
    border-width: 1px;
}
.TabStrip
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}
.FormTableHeader
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #003366;
    overflow: hidden;
}
.IneligibleProductTableHeader
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #C00000;
}
.FormTableHeader1
{
	font-weight: bold;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3D689C;
}
.FormTableSubheader
{
    font-weight: bold;
	font-size: 12px;
	color: navy ;
	font-family: Arial, Helvetica, sans-serif;
    background-color: silver;
}
INPUT
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
TEXTAREA
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap !important;
    resize: none; /* Needed for chrome, which defaults textarea resize to both. */
}
SELECT
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.mask
{
    font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;

}
.GroupTable
{
    border-right: 2px groove;
    padding-right: 5px;
    border-top: 2px groove;
    padding-left: 5px;
    border-left: 2px groove;
    border-bottom: 2px groove;
}
.LoanFormHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    background-color: gray;
    text-align: center;
}
.LoanForm
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

.NavigationLink
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 5px;
    margin-left: 2px;
    color: white;
    margin-right: 2px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    text-align: left;
}

.NavigationSelectedLink
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 11px;
    padding-bottom: 5px;
    margin-left: 2px;
    color: white;
    margin-right: 2px;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: maroon;
    text-align: left;
}

.FieldLabel
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.Header
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
	font-size: 12px;
	color: white;
	font-family: Arial, Helvetica, sans-serif ;
    BACKGROUND-COLOR: navy;
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-right: navy 1px solid;
	border-bottom: navy 1px solid;
}
.HeaderNav
{
	border-top: navy 1px solid;
	border-left: navy 1px solid;
	border-right: navy 1px solid;
	border-bottom: navy 1px solid;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
	font-size: 12px;
	color: white;
    BACKGROUND-COLOR: black;
}
TABLE
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
A
{
	color: Blue ;
    cursor: pointer;
}
A:link
{
	color: Blue ;
}
A:hover
{
    color: orange ;
	text-decoration: underline;
}
A:vlink
{
	color: Blue ;
}
/*
    OPM 225521, 9/11/2015, ML
    This style rule will force IE, regardless of version, to gray out
    disabled items and prevent the pointer-style cursor from displaying
    when hovering over a disabled item. See http://stackoverflow.com/q/792194.
*/
*[disabled], a.disabled, [contenteditable="false"]
{
    color: gray !important;
    cursor: default !important;
}
select[disabled], option[disabled], select:disabled, option:disabled
{
    background-color: #e4e4e4 !important;
}
a[disabled]
{
    pointer-events: none; /* On IE only works in IE11/Edge mode. Supported in latest version of all other browsers.*/
    cursor: default;
}
.GridHeader
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*For OPM 21455 : In IE, the background-color hides the border for floating table header row. So setting this property for the contained tables cells instead*/
.GridHeader td,.GridHeader th
{
    background-color:  #999999;
}
.GridFooter
{
    font-weight: bold;
    font-size: 11px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.GridFooter td
{
    background-color: dimgray;
}
.GridItem
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.GridAlternatingItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: #CCCCCC ;
}

tr.GridItem, tr.GridAlternatingItem {
    height: 19px;
}

.GridSelectedItem
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: yellow ;
}
.ListTable
{
    border-right: navy 1px solid;
    padding-right: 5px;
    border-top: navy 1px solid;
    padding-left: 5px;
    font-size: 11px;
    padding-bottom: 5px;
    border-left: navy 1px solid;
    color: black;
    padding-top: 5px;
    border-bottom: navy 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
}
OPTION
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
SELECT
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

INPUT.MoneyInput
{
    text-align: right;
}

.Portlet
{
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    margin: 5px;
    color: #ffffff;
    padding-top: 2px;
}
.PortletHeader
{
    font-weight: bold;
	color: #FFCC00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;

}

A.PortletLink
{
	color: white ;
	text-decoration: none;
	font-weight: normal;
}
A.PortletLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
}
A.PortletLink:link
{
	color: white ;
}
A.PortletLink:vlink
{
	color: white ;
}

.12 {
	font-size: 12px;
}
.footer {
	color: #FFFFFF;
}
.lrnav {
	color: #FFFFFF;
	list-style-type: square;
	list-style-image: url(../images/bullet.gif);
}
.white {
	color: #FFFFFF;
}
.treenav {
	color: #FFFFFF;
}
td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	right: 0px;
}
UL
{
    margin-left: 15px;
}

.Bullet
{
    list-style-image: url(../images/bullet.gif);
    margin-left: 15px;
}
.bgcolor1 {
	background-color: #003366;
	color: #FFFFFF;


}
.bgcolor2 {
	background-color: #000000;
	color: #FFFFFF;
}
.bgcolor3 {
	background-color: #36A800;
}

.bgcolor4 {
	background-color: #003366;
}
.LoanProgramHeader
{
    font-weight: bold;
    color: black;
    background-color: #afcae4;
}
.IneligibleLoanProgramHeader
{
	font-weight: bold;
	color: black;
	background-color: #ee9898;
}
A.LoanProgramLink
{
	color: black ;
	text-decoration: none;
	font-weight: bold;
}
A.LoanProgramLink:hover
{
    color: #0099FF ;
	text-decoration: underline;
	font-weight: bold;

}
A.LoanProgramLink:link
{
	color: black ;
	font-weight: bold;

}
A.LoanProgramLink:vlink
{
	color: black ;
	font-weight: bold;

}
.Test
{
    border-top-style: groove;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
}

#SaveMsg
{
    border-right: blue 1px solid;
    padding-right: 5px;
    border-top: blue 1px solid;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    z-index: 100;
    visibility: hidden;
    padding-bottom: 5px;
    border-left: blue 1px solid;
    width: 100px;
    color: black;
    padding-top: 5px;
    border-bottom: blue 1px solid;
    font-family: Verdana, Arial;
    position: absolute;
    height: 50px;
    background-color: palegoldenrod;
    text-align: center;
}
#LoadMsg
{
    visibility : hidden;
    border-right: blue 1px solid;
    padding-right: 5px;
    border-top: blue 1px solid;
    padding-left: 5px;
    font-weight: bold;
    font-size: 11px;
    z-index: 100;
    padding-bottom: 5px;
    border-left: blue 1px solid;
    width: 100px;
    color: black;
    padding-top: 5px;
    border-bottom: blue 1px solid;
    font-family: Verdana, Arial;
    position: absolute;
    height: 50px;
    background-color: palegoldenrod;
    text-align: center;
}

.DiscSubjectUnread
{
	font-weight:bold;
}

.DiscSubjectRead
{
}
/*
		Active = 0,
		Done = 1,
		Suspended = 2,
		Cancelled = 3
*/
.DiscStatusActive
{
    color: Black;
}
.DiscStatusDone
{
	color: Gray;
}

.DiscStatusSuspended
{
	color: Gray;
}
.DiscStatusCancelled
{
	color: Gray;
	text-decoration: line-through;
}

/*
	High = 0,
	Normal = 1,
	Low = 2
*/
.DiscPriorityHigh
{
	color:Red;
}
.DiscPriorityNormal
{
	color:Black;
}
.DiscPriorityLow
{
	color:Black;
}

.DiscDue
{
	color:Red;
}
.DiscDueNot
{
	color: Black;
}

.DiscNotifAlert
{
	color:Red;
}
.DiscNotifAlertNot
{
	color: Black;
}
.DiscTrackNotifIsReadNoNotifValidNo
{
  color:Gray;
  font-weight:bold;
}

.DiscTrackNotifIsReadNoNotifValidYes
{
  font-weight:bold;
}

.DiscTrackNotifIsReadYesNotifValidNo
{
  color:Gray;
}

.DiscTrackNotifIsReadYesNotifValidYes
{
}
.InsetBorder
{
    border-right: thin groove;
    padding-right: 3px;
    border-top: thin groove;
    padding-left: 3px;
    padding-bottom: 3px;
    margin: 3px;
    border-left: thin groove;
    padding-top: 3px;
    border-bottom: thin groove;
}

input.date,input.money  {
    width: 60px;
}

#LQBPopupDiv {
    display: none;
    padding: 0;  
    box-sizing: border-box;
    
    background-color: White;
    text-align: center;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
}

#LQBPopupDivFrame {
    overflow: auto;
    flex-grow: 1;
}

#LQBPopupDiv.ChildVisible
{
    overflow:hidden;
}

#LQBPopupDiv.ChildVisible input
{
    display:none;
}

#LQBPopupDiv iframe
{
    position:relative;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

#LQBPopupDiv .lqbpopup-header {
    text-align: right;
    background-color: darkred;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    height: 27px;
    line-height: 25px;
    padding-left: 5px;
}

.lqbpopup-content-container {
    height: 100%;
}

#LQBPopupElement {
    height: 100%;
    display: none;
}


#CalculationOverlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 9999999;
}
        
.GridAutoItem:nth-child(even), .ReverseGridAutoItem:nth-child(odd)
{
    font-size: 11px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.GridAutoItem:nth-child(odd), .ReverseGridAutoItem:nth-child(even)
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: Black ;
	background-color: #CCCCCC ;
}

.FloatLeft {
    float: left;
}
.FloatRight {
    float: right;
}

/*OPM 460443:; default checkboxes in chrome are gray so it's confusing with disabled checkboxes, OPM 463435: disable and enable ratio/checkbox are hard to distinguish */
.is-modern-browser input[type="checkbox"], .is-modern-browser input[type="radio"] {
    height: 13px;
    width: 13px;
    border: 1px solid #707070;
    background-color: #fff;
    vertical-align: middle;
    margin: 2px 3px 5px 3px;
    -webkit-appearance: none;
    -webkit-transition: box-shadow 200ms;
}
.is-modern-browser input[type="checkbox"] {
    -webkit-border-radius:0;
    border-radius:0;
}
.is-modern-browser input[type="radio"] {
    -webkit-border-radius:100%;
    border-radius:100%;
}
.is-modern-browser input[type="checkbox"]:not(:disabled):hover, .is-modern-browser input[type="radio"]:not(:disabled):hover {
    border-color: none;
}

.is-modern-browser input[type="checkbox"]:active:not(:disabled), .is-modern-browser input[type="radio"]:active:not(:disabled) {
    border-color:#707070;
}
.is-modern-browser input[type="checkbox"]:focus, .is-modern-browser input[type="radio"]:focus {
    outline:none;
    background: none;
}
.is-modern-browser input[type="checkbox"]:checked, .is-modern-browser input[type="radio"]:checked {
    border-color:#707070;
    background-color: #fff;
    outline: none;
}
.is-modern-browser input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 3px;
    margin-top: 0;
}
.is-modern-browser input[type="radio"]:checked:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    background: #000;
    border-radius: 100%;
    position: relative;
    left: 2px;
    top: 2px;
}
.is-modern-browser input[type=checkbox][disabled], .is-modern-browser input[type=radio][disabled] {
    opacity: .4;
}
@supports (-ms-ime-align:auto) {
    .is-modern-browser input[type=checkbox]::-ms-check {
        content: '';
        width: 4px;
        height: 8px;
        border: 2px solid #000;
        border-top-width: 0;
        border-left-width: 0;
        transform: rotate(45deg);
        background: transparent;
        color: transparent;
        border-top-color: transparent;
        border-left-color: transparent;
        margin-left: 0px;
        margin-top: -2px;
    }
}

.move-offscreen {
    visibility: hidden;
}

h4.page-header, div.ui-dialog-titlebar.ui-widget-header  {
    background-color: darkred;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-bottom: 2px solid black;
    color: white;
    padding: 5px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    margin:0;
    text-align: left;
    line-height: normal;
    border-radius: 0;
}

.expand-w-content {
    min-width: 100%;
    min-height: 100%;
    display: inline-block;
}

form {
    margin: 0;
}
.d-inline-block {
    display: inline-block;
}
.bg-subheader {
    background-color: silver;
}
.bg-subheader td, .bg-subheader th {
    font-weight: bold;
    font-size: 11px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    min-height: 100%;
}
html.html-pipeline {
    height: 100%;
    min-height: 0;
}
body.body-pipeline {
    height: 100%;
}
form.form-pipeline {
    height: 100%;
    overflow-y: auto;
}
.loading-pipeline {
    width: 100%;
    height: 100%;
    position: relative;
}
.loading-pipeline #PipelineLoadBG {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.loading-pipeline .PipelineLoad {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.btn-close-space {
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.align-right {
    text-align: right;
}
}

input[preset="numeric"] {
    width: 37px;
}

.width-10 {
    width: 10px;
}

.width-105 {
    width: 105px;
}

.width-200 {
    width: 200px;
}

.width-350 {
    width: 350px;
}

.width-500 {
    width: 500px;
}.align-center
{
    text-align: center;
}
.align-bottom
{
    vertical-align: bottom;
}
.align-top
{
    vertical-align: top;
}
.align-middle {
    vertical-align: middle;
}
.align-left {
    text-align: left;
}