﻿body
{
    background-color: gainsboro;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td, table th
{
    padding: 2px 4px;
    font-size: 11px;
    line-height: 16px;
}
tbody th {
    background-color: #E0E0E0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
td.edit-view-column {
    white-space: nowrap;
}
div[ng-view]
{
    width: 90%;
    display: inline-block;
    margin: 10px 0;
}
body
{
    text-align: center;
}
.remove-button
{
    cursor: pointer;
    color: darkred;
}
.invalid-marker
{
    color: red;
}
.heading
{
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    border-bottom: 1px solid gray;
    padding: 1em;
}
textarea
{
    box-sizing: border-box;
}
.box
{
    border: 1px solid gray;
    border-radius: 2px;
    margin-bottom: 1em;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
#RecipientList > tbody > tr > td:nth-child(5)
{
    text-align: left;
}
.LoanFormHeader
{
    font-size: 16px;
    text-align: left;
    padding: 3px;
}
.z1 {
    z-index: 1;
}
.float-top {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
input.ng-invalid, select.ng-invalid {
    border: 1px solid rgba(255, 18, 18, 0.66);
}
input[type="text"]:not(.ng-invalid), select:not(.ng-invalid) {
    border: 1px solid gray;
}
input[type="text"], select {
    margin: 2px;
}
.submit-message {
    font-size: 16px;
    margin: 3px;
}
.Error {
    margin: 3px;
}
.warning {
    color: maroon;
}
.phone-label {
    display: block;
}
#LQBPopupDiv {
    background-color: gainsboro;
}

.dialog-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 16px;
}
.width-auto {
    width: auto;
}
div.position-absolute {
    position: absolute;
}
.float-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: gainsboro;
    padding: 3px 0;
    width: 100%;
}
.faint-shadow {
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
}
.recipient-role-flex {
    display: flex;
    flex-flow: row wrap;
}
.recipient-flex-item {
    flex: 2 0 auto;
    margin-right: 5px;
}
.role-flex-item {
    flex: 1 0 auto;
    flex-basis: 375px;
    max-width: 600px;
}
.input-tiny {
    width: 20px;
}
.height-200px {
    height: 200px;
}
.emailmsg-container {
    text-align: left;
    width: 100%;
    background-color: gainsboro;
    max-width: 600px;
}
.popup-dialog {
    position: fixed;
    z-index: 301;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
}
.popup-dialog > div {
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 180px;
    background-color: gainsboro;
}
.close-dialog > div {
    width: 400px;
    height: 180px;
}
.borrower-select-dialog > div {
    width: 50%;
    height: 50%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
input.mdc-button, button.mdc-button {
    font-weight: bold;
    margin: 8px 0;
}
input.mdc-button:hover, button.mdc-button:hover {
    background-color: rgba(128, 0, 0, .12);
}
input.mdc-button:focus, button.mdc-button:focus {
    background-color: rgba(128, 0, 0, .25);
}
input.mdc-button:active, button.mdc-button:active {
    background-color: rgba(128, 0, 0, .4);
}
input:not(:disabled).mdc-button, button:not(:disabled).mdc-button {
    color: maroon;
}
input:not(:disabled).mdc-button--stroked {
    border-color: maroon;
}
div.mdc-button .mdc-checkbox__background::before {
  background-color: maroon;
}
div.mdc-button::before, div.mdc-button::after {
  background-color: maroon;
}
div.mdc-checkbox::before, div.mdc-checkbox::after {
  background-color: maroon;
}
div.mdc-checkbox:before, div.mdc-checkbox:after {
  background-color: maroon;
}
div.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate) ~ .mdc-checkbox__background {
  border-color: maroon;
}
div.mdc-checkbox :enabled:checked.mdc-checkbox__native-control ~ .mdc-checkbox__background {
    border-color: maroon;
    background-color: maroon;
}
div.mdc-checkbox .mdc-checkbox__background:before {
    background-color:maroon;
}
input:not(:disabled).mdc-button--raised {
    background-color: #CCCCCC;
}