﻿#TradeTableMain
{
    color: Black;
}

#TradeTableMain table .header
{
    background-color: #999999;
    border: none;
}

#TradeTableMain .group-header
{
    padding-top: 5px;
    font-weight: bold
}

#TradeTableMain .action
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

#TradeTableMain tr.static
{
    background-color: #DCDCDC; /* Gainsboro */
}

#TradeTableMain .NoTrades
{
    padding-top: 5px;
}