﻿#TradeSettlementReportMain
{
    color: Black;
}

#TradeSettlementReportMain label
{
    font-weight: bold;
}

#TradeSettlementReportMain label.blockleft
{
    display: inline-block;
    float: left;
}

#TradeSettlementReportMain div.column
{
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

#TradeSettlementReportMain div.column .label, #TradeSettlementReportMain div.column .control
{
    float: left;
}

#TradeSettlementReportMain div.column .label
{
    padding-right: 5px;
}

#TradeSettlementReportMain div.clear
{
    clear: both;
}

#TradeSettlementReportMain .filters select
{
    width: 160px;
}