﻿#TradeMasterPortlet ul.tabnav
{
    background-color: #DCDCDC; /* gainsboro */
}

#TradeMasterPortlet ul.tabnav
{
    margin-top: 0;
    padding-top: 0;
    border-bottom-color: #777;
    margin-bottom: 3px;
}

#TradeMasterPortlet ul.tabnav li.selected
{
    background-color: #DCDCDC; /* gainsboro */
}

#TradeMasterPortlet ul.tabnav li.selected a
{
    position: static;
    margin-top: 1px;
}