﻿#TradePortletMain
{
    color: Black;
}

#TradePortletMain label
{
    display: block;
    font-weight: bold;
}

#TradePortletMain div.column
{
    float:left;
    margin-right: 50px;
}
#TradePortletMain div.left label span, #TradePortletMain div.left span.pusher
{
    display: inline-block;
    width: 100px;
}

#TradePortletMain div.right label span
{
    display: inline-block;
    width: 70px;
}

#TradePortletMain label.return-partial
{
    font-weight: normal;
    display: inline;
}

#TradePortletMain .clear
{
    clear: both;
}

#TradePortletMain .controls span.displaying, #TradePortletMain .controls input
{
    display: block;
}

#TradePortletMain span.displaying
{
    margin-top: 5px;
    margin-bottom: 5px;
}