﻿body
{
    padding: 10px;
}

.report-header
{
    display: table-cell;
    vertical-align: middle;    
}

.report-header h1
{
    font-size: 14pt;
}

.report-header img
{
    float: right;
}

.group-header
{
    font-size: 9pt;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 5px;
    clear: both;
}

table
{
    width: 100%;
}

thead
{
    background-color: lavender;
}

tr.static td
{
    background-color: lightsteelblue;
}

th.delete, td.delete
{
    display: none;
}

th
{
    font-size: 8pt;
}

td
{
    background-color: whitesmoke;
}