﻿body {
    background-color: gainsboro;
}

.left-padded-table td:first-child {
    width: 180px;
}

.date-picker {
    border: 0;
    vertical-align: middle;
}

.app-label {
    margin-left: 15px;
}

    .app-label::after {
        content: ':';
    }

input[type=text] {
    width: 270px;
}

input[preset="date"] {
    width: 65px;
}

input[preset="zipcode"] {
    width: 50px;
}

input[preset="money"] {
    width: 95px;
}

input.medium {
    width: 155px;
}

input.small {
    width: 90px;
}

input.mini {
    width: 45px;
}

input.micro {
    width: 25px;
}

table.with-spacer {
    margin-top: 10px;
}

table.page-width {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

tr.selected {
    background-color: #000080;
    color: #FFF;
}

td.entity-cell {
    height: 20px;
}

.listing-container {
    min-height: 120px;
}

.additional-consumer-name:not(:first-child) {
    margin-left: 14px;
}

.additional-consumers span, .additional-consumers div {
    cursor: pointer;
}

.inline-flex-display {
    display: inline-flex;
}
