﻿.upload-docs-container .upload-count-label {
    font-weight: bold;
    display: block;
    padding: 3px 0px 3px 0px;
}

.upload-docs-container #ErrorDiv {
    color: red;
    margin-bottom: 10px;
}

.upload-docs-container #UploadCountDiv {
    color: blue;
}

.InvalidTextareaLength {
    color: red;
}
