<%@ Page language="C#" Codebehind="QueueBacklogAutoEscalation.aspx.cs" AutoEventWireup="true" Inherits="LendersOfficeApp.LOAdmin.Internal.QueueBacklogAutoEscalation"
    MasterPageFile="~/LOAdmin/loadmin.Master" Title="Queue Backlog Auto-Escalation - LendingQB" %>

<asp:Content ContentPlaceHolderID="Main" Runat="Server">
    <div id="container" class="container clearfix">loading&hellip;</div>
</asp:Content>
