<%@ Page Language="C#" CodeBehind="~/LOAdmin/Internal/StageConfigAdmin.aspx.cs" MasterPageFile="~/LOAdmin/loadmin.Master" Inherits="LendersOfficeApp.LOAdmin.Internal.StageConfigAdmin" Title="Stage Config Admin" AutoEventWireup="false" %>
<asp:Content ID="PMLContain" ContentPlaceHolderID="Main" Runat="Server">
  <div class="container-fluid" ng-app="app">
    <sc-manager></sc-manager>
  </div>
</asp:Content>
