<lq-modal ref="vm.modal = $ref" on-hide="vm.onAltLenderHide($event)">
    <slot-heading>Alternate Lender</slot-heading>
    <slot-body>
        <div>
            <table class="primary-table">
                <thead class="header">
                    <tr>
                        <th>Lender Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="lender in vm.loan.alternateLenders.data">
                        <td>{{lender.LenderName.v}}</td>
                        <td><button class="btn btn-link" ng-click="vm.editLender(lender)">edit</button></td>
                        <td><button class="btn btn-link" ng-click="vm.deleteLender(lender.id, $index)">delete</button></td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <button ng-click="vm.createLender()">Add Lender</button>
        </div>
    </slot-body>
    <slot-footer>
        <div class="text-center">
            <button ng-click="vm.close()">Close</button>
        </div>
    </slot-footer>
</lq-modal>

<lq-modal ref="vm.editModal = $ref" id="editModal" on-hide="vm.onModalHide($event)">
    <slot-heading>Lender</slot-heading>
    <slot-body>
        <div ng-repeat="selectedLender in [vm.selectedLender]">
            <p class="text-right text-danger">*All Fields are Required</p>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Alternate Lender ID:</label></div>
                    <div><lqb-input required lqb-model="selectedLender.DocMagicAlternateLenderInternalId"/></div>
                </div>
            </div>  
            <div class="panel-heading">
                <h5>Lender</h5>
            </div>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input ng-required="true" required lqb-model="selectedLender.LenderName"/></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="selectedLender.LenderAddress" placeholder="Street"/></div>
                </div>
                <div>
                    <div><label>City</label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="selectedLender.LenderCity"/>
                        <lqb-input lqb-model="selectedLender.LenderState"/>
                        <lqb-input lqb-model="selectedLender.LenderZip"/>
                    </div>
                </div>
            </div>
            <p><lqb-input lqb-model="selectedLender.LenderNonPersonEntityIndicator" label="Non-Person Entity" /></p>

            <div class="panel-heading">
                <h5>Beneficiary</h5>
            </div>
            <p><lqb-input lqb-model="selectedLender.BeneficiaryCopyFromLender" label="Copy from Lender" /></p>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input lqb-model="selectedLender.BeneficiaryName"/></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="selectedLender.BeneficiaryAddress" placeholder="Street"/></div>
                </div>
                <div>
                    <div><label>City</label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="selectedLender.BeneficiaryCity"/>
                        <lqb-input lqb-model="selectedLender.BeneficiaryState"/>
                        <lqb-input lqb-model="selectedLender.BeneficiaryZip"/>
                    </div>
                </div>                   
            </div>
            <p><lqb-input lqb-model="selectedLender.BeneficiaryNonPersonEntityIndicator" label="Non-Person Entity" ></p>

            <div class="panel-heading">
                <h5>Loss Payee</h5>
            </div>
            <p><lqb-input lqb-model="selectedLender.LossPayeeCopyFromLender" label="Copy from Lender" /></p>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input lqb-model="selectedLender.LossPayeeName"/></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="selectedLender.LossPayeeAddress" placeholder="Street"/></div>
                </div>
                <div>
                    <div><label>City</label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="selectedLender.LossPayeeCity"/>
                        <lqb-input lqb-model="selectedLender.LossPayeeState"/>
                        <lqb-input lqb-model="selectedLender.LossPayeeZip"/>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <h5>Make Payments To</h5>
            </div>
            <p><lqb-input lqb-model="selectedLender.MakePaymentsToCopyFromLender" label="Copy from Lender" /></p>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input lqb-model="selectedLender.MakePaymentsToName"/></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="selectedLender.MakePaymentsToAddress" placeholder="Street"/></div>
                </div>
                <div>
                    <div><label>City</label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="selectedLender.MakePaymentsToCity"/>
                        <lqb-input lqb-model="selectedLender.MakePaymentsToState"/>
                        <lqb-input lqb-model="selectedLender.MakePaymentsToZip"/>
                    </div>
                </div>
            </div>

            <div class="panel-heading">
                <h5>When Recorded Mail To</h5>
            </div>
            <p><lqb-input lqb-model="selectedLender.WhenRecodedMailToCopyFromLender" label="Copy from Lender" /></p>
            <div class="table alternate-lender-table">
                <div>
                    <div><label>Name</label></div>
                    <div><lqb-input lqb-model="selectedLender.WhenRecodedMailToName"/></div>
                </div>
                <div>
                    <div><label>Address</label></div>
                    <div><lqb-input lqb-model="selectedLender.WhenRecodedMailToAddress" placeholder="Street"/></div>
                </div>
                <div>
                    <div><label>City</label></div>
                    <div>
                        <lqb-input class="form-control form-control-city" lqb-model="selectedLender.WhenRecodedMailToCity"/>
                        <lqb-input lqb-model="selectedLender.WhenRecodedMailToState"/>
                        <lqb-input lqb-model="selectedLender.WhenRecodedMailToZip"/>
                    </div>
                </div>
            </div>
            <p class="text-right text-danger">*All Fields are Required</p>
        </div>
    </slot-body>
    <slot-footer>
        <div class="text-center">
            <span class="clipper"><button  ng-disabled="!vm.shouldEnableSaveButton()" type="button" class="btn btn-default" ng-click="vm.modalOk()" data-dismiss="modal">Save</button></span>
            <span class="clipper"><button type="button" class="btn btn-default" ng-click="vm.modalCancel()" data-dismiss="modal">Cancel</button></span>
        </div>
    </slot-footer>
</lq-modal>
