<%@ Page language="c#" Codebehind="ExportLoan.aspx.cs" AutoEventWireup="false" Inherits="LendersOfficeApp.LegacyLink.ExportLoan" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>ExportLoan</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio 7.0">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="FlowLayout">
		<form id="ExportLoan" method="post" runat="server">
			Unrecognized format
		</form>
	</body>
</HTML>
