<nav class="navbar header" ng-class="{'hide-shadow': vm.isShowLoanSummary}">
    <div class="container-fluid">
        <table class="header-table layout-table">
            <tr>
                <td class="col-md-2 header-logo">
                    <div class="logo-table">
                        <div class="table-cell">
                            <div class="logo">
                                <!-- require('../../../images/Prototype/LendingQBLogo.svg') -->
                            </div>
                        </div>
                        <div class="table-cell">
                            <button class="nav-toggle-normal btn-flat" ng-click="vm.toggleSidebarNav()"><i class="material-icons">menu</i></button>
                            <button class="nav-toggle-small  btn-flat" ng-click="vm.toggleSidebarNavM()"><i class="material-icons">menu</i></button>
                        </div>
                    </div>
                </td>
                <td class="col-md-10 header-main">
                    <div class="header-main-container">
                        <div class="page-header-container">
                            <div class="page-header">
                                <span ng-bind="vm.navTree.selectedPage.Title || vm.navTree.selectedPage.Name"></span>
                            </div>
                        </div>

                        <div class="btn-nav">
                            <button class="btn-flat favoriteToggle"
                                ng-click="vm.navTree.toggleFavorite()"
                                ng-class="{'favorited': vm.favoriteSelected}">
                                <span ng-hide="vm.favoriteSelected">
                                    <!-- require('../../../images/Prototype/star-outline.svg') -->
                                </span>
                                <span ng-show="vm.favoriteSelected">
                                    <!-- require('../../../images/Prototype/star.svg') -->
                                </span>
                            </button>
                        </div>

                        <div class="btn-nav">
                            <div class="dropdown applicants-ddl" ng-class="{open: vm.isShowApplicantDropdown}">
                                <button class="btn-flat dropdown-toggle applicants-ddl-btn"
                                        ng-click="vm.isShowApplicantDropdown = !vm.isShowApplicantDropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                    <span class="text" ng-bind="vm.selectedApplicant.aBNm"></span>
                                    <span><i class="material-icons">arrow_drop_down</i></span>
                                </button>

                                <ul class="dropdown-menu applicants-ddl-items" role="menu">
                                    <li ng-repeat="a in vm.applicants"
                                        ng-click="vm.selectApplicant(a)"
                                        ng-bind="a.aBNm"></li>
                                </ul>
                            </div>

                            <button class="btn-flat" ng-click="vm.onLoanSummaryClick()          ">Loan Summary</button>
                            <button class="btn-flat" ng-click="vm.warn()                        "><span class="material-icons" title="Notifications">warning</span><span class="badge" style="position: absolute; left: 43%; top: 20%; font-size: 10px; background-color: darkorange">5+</span></button>
                            <button class="btn-flat" ng-click="vm.save()                        "><span class="material-icons" title="Save">save</span></button>
                            <button class="btn-flat" ng-click="vm.print()                       "><span class="material-icons" title="Print">print</span></button>
                            <button class="btn-flat" ng-click="vm.isShowUserSettingsModal = true"><span class="material-icons" title="User Settings">settings</span></button>
                            <button class="btn-flat btn-close" ng-click="vm.close()             "><span class="material-icons" title="Close">close</span></button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</nav>

<div class="container-fluid below-header-container">
    <div class="row">
        <left-nav nav-tree="vm.navTree"
            is-show-md="vm.leftNavShowMd"
            is-show-sm="vm.leftNavShowSm"
            on-go-back="vm.navBack()"
            on-go-forward="vm.navForward()"
            on-go-to-page="vm.navToPage($route)"></left-nav>

        <div class="content-container">
            <div class="loan-summary-container">
                <div class="panel panel-default panel-border loan-summary collapse" bs-collapse="!vm.isShowLoanSummary">
                    <div class="panel-body">
                        <table class="loan-summary-table" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>Loan Officer:</div>
                                            <div ng-bind="vm.loanSummary.sEmployeeLoanRepName"></div>
                                        </div>
                                        <div>
                                            <div>Loan Num:</div>
                                            <div ng-bind="vm.loanSummary.sLNm"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>Status:</div>
                                            <div ng-bind="vm.loanSummary.sStatusT"></div>
                                        </div>
                                        <div>
                                            <div>Rate Lock Status:</div>
                                            <div ng-bind="vm.loanSummary.sRateLockStatusT"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>Top:</div>
                                            <div ng-bind="vm.loanSummary.sQualTopR"></div>
                                        </div>
                                        <div>
                                            <div>Bottom:</div>
                                            <div ng-bind="vm.loanSummary.sQualBottomR"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>LTV:</div>
                                            <div ng-bind="vm.loanSummary.sLtvR"></div>
                                        </div>
                                        <div>
                                            <div>CLTV:</div>
                                            <div ng-bind="vm.loanSummary.sCltvR"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>Rate:</div>
                                            <div ng-bind="vm.loanSummary.sNoteIR"></div>
                                        </div>
                                        <div>
                                            <div>HCLTV:</div>
                                            <div ng-bind="vm.loanSummary.sHcltvR"></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="table">
                                        <div>
                                            <div>Loan Type:</div>
                                            <div ng-bind="vm.loanSummary.sLT"></div>
                                        </div>
                                        <div>
                                            <div>Total Loan Amt:</div>
                                            <div ng-bind="vm.loanSummary.sFinalLAmt"></div>
                                        </div>
                                    </div>
                                </td>
                        </table>
                    </div>
                </div>
            </div>

            <div class="content" re-ref="vm.eleContent = $ref">
                <div ui-view></div>
                <div class="footer">
                    <div class="col-xs-6">Copyright &copy; 2000-2015 LendingQB. All rights reserved.</div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<user-settings-modal is-show="vm.isShowUserSettingsModal"
    on-saved="vm.isShowUserSettingsModal = false"></user-settings-modal>
