<lq-modal ref="vm.modal = $ref">
    <slot-heading>Initial Escrow Account Setup</slot-heading>
    <slot-body ng-repeat="fields in [vm.loan.fields]">
        <div class="table">
            <div>
                <div><label>First Payment Date</label></div>
                <div><lqb-input lqb-model="fields.sSchedDueD1Lckd"/></lqb-input></div>
                <div><lqb-input lqb-model="fields.sSchedDueD1"/></lqb-input></div>
                <div><label class="text-muted">*Note: First Payment Date is required for the calculated reserves.</label></div>
            </div>
        </div>

        <div class="table table-calculated-reserves" ng-repeat="InitialEscrowAcc in [vm.loan.InitialEscrowAcc]">
            <div class="header">
                <div># of Month</div>
                <div>Real Estate Tax</div>
                <div>Haz Insurance</div>
                <div>Mortgage Insurance</div>
                <div>Flood Insurance</div>
                <div>School Taxes</div>
                <div>User Defined 1</div>
                <div>User Defined 2</div>
                <div ng-show="vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v">User Defined 3</div>
                <div ng-show="vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v">User Defined 4</div>
            </div>
            <div ng-repeat="i in vm.rowIndexes">
                <div>{{vm.rowTitles[i]}}</div>
                <div ng-repeat="j in vm.defaltColumnIndexes">
                    <lqb-input lqb-model="InitialEscrowAcc[i][j]" hide-zero  maxlength="2"></lqb-input>
                </div>
                <div ng-repeat="j in vm.customColumnIndexes" ng-show="vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v">
                    <lqb-input lqb-model="InitialEscrowAcc[i][j]" hide-zero maxlength="2"></lqb-input>
                </div>
            </div>
            <div>
                <div>Calculated Reserves</div>
                <div><lqb-input lqb-model="fields.sRealETxRsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.sHazInsRsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.sMInsRsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.sFloodInsRsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.sSchoolTxRsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.s1006RsrvMonRecommended" readonly/></div>
                <div><lqb-input lqb-model="fields.s1007RsrvMonRecommended" readonly/></div>
                <div ng-show="vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v"><lqb-input lqb-model="fields.sU3RsrvMonRecommended" readonly/></div>
                <div ng-show="vm.pipeline.broker.EnableAdditionalSection1000CustomFees.v"><lqb-input lqb-model="fields.sU4RsrvMonRecommended" readonly/></div>
            </div>            
        </div>

        <div class="table" ng-hide="fields.UpdateGFEReserves.h">
            <div>
                <div class="space"></div>
                <div>
                    <lqb-input lqb-model="fields.UpdateGFEReserves"></lqb-input>
                    <label class="text-center-checkbox">Update GFE with calculated reserves</label>
                </div>
            </div>
        </div>
    </slot-body>
    <slot-footer>
        <p class="text-center">
            <button type="button" class="btn btn-default" ng-click="vm.saveModal()">OK</button>           
            <button type="button" class="btn btn-default" ng-click="vm.close()">Cancel</button>
        </p>
    </slot-footer>
</lq-modal>
